@import '../../../variables';
@import '../../../mixins';
.comprehensive {
  .title {
    font-size: 18px;
  }

  .insurance {
    color: #066360 !important;
  }

  .sub-heading {
    letter-spacing: -0.2px;
    font-weight: 600;
    font-family: muli-bold;
    font-size: 20px !important;
    color: #066360 !important;

  }

  .sub-desc {
    font-size: 16px !important;
    font-weight: bold;
  }

  .payout-width{
      width:100%;
      max-width: 100%;
  }
  .insurance-border{
      border-radius: 6px!important;
  }
  .fixed-btn--sm-comprehensive {
    width: 90%;
  }
  .fixed-btn--sm-comprehensive {
    &.full-width {
      width: 100% !important;
    }
  }
  .hospital-plan, .life-protection, .critical-illness, .disability-income, .long-term-care {
    @extend .flex;
    &.with-help-icon {
      justify-content: space-between;
      width: 100%;
    }
  }
  .hospital-plan, .life-protection, .critical-illness, .disability-income, .long-term-care {
    background-image: url('../../../assets/images/comprehensive/insurance-plan/hospital-plan.svg');
    background-repeat: no-repeat;
    padding-left: 35px;
    height: 30px;
    line-height: 30px;
  }
  .life-protection {
    background-image: url('../../../assets/images/comprehensive/insurance-plan/life-protection.svg');
  }
  .critical-illness {
    background-image: url('../../../assets/images/comprehensive/insurance-plan/critical-illness.svg');
  }
  .disability-income {
    background-image: url('../../../assets/images/comprehensive/insurance-plan/disability-income.svg');
  }
  .long-term-care {
    background-image: url('../../../assets/images/comprehensive/insurance-plan/long-term-care.svg');
  }
  .form-group-with-bg--content-white--title {
    @include allmobiles {
      font-size: 18px;
    }
  }
}