.comprehensive {
  .title {
    font-size: 18px;
  }

  .insurance {
    color: #066360 !important;
  }

  .sub-heading {
    letter-spacing: -0.2px;
    font-weight: 600;
    font-family: muli-bold;
    font-size: 20px !important;
    color: #066360 !important;

  }

  .sub-desc {
    font-size: 16px !important;
    font-weight: bold;
  }

  .payout-width{
      width:100%;
      max-width: 100%;
  }
  .insurance-border{
      border-radius: 6px!important;
  }
  .fixed-btn--sm-comprehensive {
    width: 90%;
  }
  .fixed-btn--sm-comprehensive {
    &.full-width {
      width: 100% !important;
    }
  }
}