<div class="container-fluid max-width--1024 comprehensive">
  <div class="step-indicator-container" id="moDpdnt2StepIndctr">
    <app-step-indicator [count]="1" [activeStepIndex]="0" [mode]="1"></app-step-indicator>

  </div>
  <div class="comprehensive__page-sub-heading mt30">{{'CMP.COMPREHENSIVE_STEPS.STEP_3_TITLE'|translate}}</div>
  <div class="comprehensive__page-content">{{'CMP.INSURANCE_PLAN.SUB_TITLE'|translate}} </div>
  <form [formGroup]="insurancePlanForm" id="insurancePlanForm" name="insurancePlanForm" class="insurancePlanForm">
    <div class="form-group-with-bg">
      <!--Form Content-->
      <div class="form-group-with-bg--content-white">
        <div class="flex-row">
          <div class="flex-col-12">
            <div class="form-group-with-bg--content-white--title">
              <div class="hospital-plan">{{'CMP.INSURANCE_PLAN.HOSPITAL_PLAN' | translate}}</div>
            </div>
            <div class="form-group-with-bg--content-white--desc">{{'CMP.INSURANCE_PLAN.HOSPITAL_PLAN_DESC' | translate}}
              <strong>{{hospitalType}}</strong>
              {{'CMP.INSURANCE_PLAN.HOSPITAL_PLAN_DESC_END' | translate}}
            </div>
          </div>
        </div>
        <div class="form-group-with-bg--content-white--desc">
          <div class="flex-row align-item-start">
            <div class="flex-col-1">1.</div>
            <div class="flex-col-11">{{'CMP.INSURANCE_PLAN.HOSPITAL_PLAN_LABEL_1' | translate}}</div>
          </div>
        </div>
        <div class="flex-col-8" [ngClass]="{'mb20' : insurancePlanForm.get('haveHospitalPlan').value}">
          <div class="btn-group--toggle" ngbRadioGroup name="radioGender" formControlName="haveHospitalPlan">
            <div class="flex-row insurance-input-radio mb0">
              <div class="flex-col-6">
                <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm-comprehensive mr5"
                  [ngClass]="{'inline-error': submitted, 'view-mode': viewMode}">
                  <input id="myProfileRadioMale" ngbButton type="radio" [value]=true>{{ 'CMP.FORM_LABEL.YES_LABEL' |
                    translate}}
                </label>
              </div>
              <div class="flex-col-6">
                <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm-comprehensive"
                  [ngClass]="{'inline-error': submitted, 'view-mode': viewMode}">
                  <input id="myProfileRadioFemale" ngbButton type="radio" [value]=false>{{ 'CMP.FORM_LABEL.NO_LABEL' |
                    translate}}
                </label>
              </div>
            </div>

          </div>
        </div>

        <div *ngIf="insurancePlanForm.get('haveHospitalPlan').value ">
          <div class="form-group-with-bg--content-white--desc flex-row align-item-start">
            <div class="flex-col-1">2.</div>
            <div class="flex-col-11">{{'CMP.INSURANCE_PLAN.HOSPITAL_PLAN_LABEL_2' | translate}}</div>
          </div>
          <div class="flex-col-12">
            <div class="btn-group--toggle" ngbRadioGroup name="radioGender" formControlName="haveHospitalPlanWithRider">
              <div class="flex-row insurance-input-radio mb0">
                <div class="flex-col-4 ">
                  <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm-comprehensive mr5"
                    [ngClass]="{'inline-error': submitted, 'view-mode': viewMode}">
                    <input ngbButton type="radio" [value]="1">{{ 'CMP.FORM_LABEL.YES_LABEL' |
                  translate}}
                  </label>
                </div>
                <div class="flex-col-4">
                  <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm-comprehensive"
                    [ngClass]="{'inline-error': submitted, 'view-mode': viewMode}">
                    <input ngbButton type="radio" [value]="0">{{ 'CMP.FORM_LABEL.NO_LABEL' |
                  translate}}
                  </label>
                </div>
                <div class="flex-col-4">
                  <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm-comprehensive"
                    [ngClass]="{'inline-error': submitted, 'view-mode': viewMode}">
                    <input ngbButton type="radio" [value]="2">{{ 'CMP.FORM_LABEL.NOT_SURE' |
                  translate}}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group-with-bg">
      <div class="form-group-with-bg--content-white">
        <div class="flex-row ">
          <div class="flex-col-12">
            <div class="form-group-with-bg--content-white--title">
              <div class="life-protection">{{'CMP.INSURANCE_PLAN.LIFE_PROTECTION' | translate}}</div>
            </div>
          </div>
        </div>
        <div class="pos-relative">
          <div class="form-group-with-bg--content-white--desc flex-row align-item-start">
            <div class="flex-col-1">1.</div>
            <div class="flex-col-11">{{'CMP.INSURANCE_PLAN.LIFE_PROTECTION_LABEL_1' | translate}}</div>
          </div>
          <span class="tooltip-icon" (click)="showToolTipModal('CPF_TITLE','CPF_MESSAGE')"><img
              src="/assets/images/comprehensive/tool-tip-white.svg" width="20" height="20"></span>
        </div>
        <div class="flex-col-12 mb-3">
          <div class="btn-group--toggle" ngbRadioGroup name="radioGender"
            formControlName="haveCPFDependentsProtectionScheme">
            <div class="flex-row mb0 insurance-input-radio">
              <div class="flex-col-4 ">
                <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm-comprehensive mr5"
                  [ngClass]="{'inline-error': submitted, 'view-mode': viewMode}">
                  <input ngbButton type="radio" [value]="1">{{ 'CMP.FORM_LABEL.YES_LABEL' |
                    translate}}
                </label>
              </div>
              <div (click)="resetLifeProtectionAmount()" class="flex-col-4">
                <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm-comprehensive"
                  [ngClass]="{'inline-error': submitted, 'view-mode': viewMode}">
                  <input ngbButton type="radio" [value]="0">{{ 'CMP.FORM_LABEL.NO_LABEL' |
                    translate}}
                </label>
              </div>
              <div (click)="resetLifeProtectionAmount()" class="flex-col-4">
                <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm-comprehensive"
                  [ngClass]="{'inline-error': submitted, 'view-mode': viewMode}">
                  <input ngbButton type="radio" [value]="2">{{ 'CMP.FORM_LABEL.NOT_SURE' |
                    translate}}
                </label>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="insurancePlanForm.get('haveCPFDependentsProtectionScheme').value === 1" class="flex-row mb20">
          <div class="flex-col-5 pr5">
            <label for="name">
              <div>{{ 'CMP.FORM_LABEL.COVERAGE_AMOUNT' | translate}}
              </div>
            </label>
          </div>
          <div class="pr0 flex-col-7">
            <div class="form-control" [ngClass]="{'view-mode': viewMode}">
              <i>$</i>
              <input type="text" class="input-control" appCurrencyInput maxLength="8"
                formControlName="lifeProtectionAmount" value="0">

            </div>
          </div>
        </div>
        <div [hidden]="!haveHDB">
          <!-- <div class="form-group-with-bg--content-white--desc flex-row align-item-start">
            <div class="flex-col-1">2.</div>
            <div class="flex-col-10">
              {{'CMP.INSURANCE_PLAN.LIFE_PROTECTION_LABEL_2' | translate}}
            </div>
            <div class="help-icon flex-col-1"
              (click)="showToolTipModal('HOME_PROTECTION_SCHEME_TITLE','HOME_PROTECTION_SCHEME_MESSAGE')"></div>
          </div> -->


          <div class="pos-relative">
            <div class="form-group-with-bg--content-white--desc flex-row align-item-start">
              <div class="flex-col-1">2.</div>
              <div class="flex-col-11">{{'CMP.INSURANCE_PLAN.LIFE_PROTECTION_LABEL_2' | translate}}</div>
            </div>
            <span class="tooltip-icon"
              (click)="showToolTipModal('HOME_PROTECTION_SCHEME_TITLE','HOME_PROTECTION_SCHEME_MESSAGE')"><img
                src="/assets/images/comprehensive/tool-tip-white.svg" width="20" height="20"></span>
          </div>



          <div class="flex-col-12 mb-3">
            <div class="btn-group--toggle" ngbRadioGroup name="radioGender"
              formControlName="haveHDBHomeProtectionScheme">
              <div class="flex-row mb0 insurance-input-radio">
                <div class="flex-col-4 ">
                  <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm-comprehensive mr5"
                    [ngClass]="{'inline-error': submitted, 'view-mode': viewMode}">
                    <input id="myProfileRadioMale" ngbButton type="radio" [value]="1">{{ 'CMP.FORM_LABEL.YES_LABEL' |
                    translate}}
                  </label>
                </div>
                <div class="flex-col-4">
                  <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm-comprehensive"
                    [ngClass]="{'inline-error': submitted, 'view-mode': viewMode}">
                    <input id="myProfileRadioFemale" ngbButton type="radio" [value]="0">{{ 'CMP.FORM_LABEL.NO_LABEL' |
                    translate}}
                  </label>
                </div>
                <div class="flex-col-4">
                  <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm-comprehensive"
                    [ngClass]="{'inline-error': submitted, 'view-mode': viewMode}">
                    <input id="myProfileRadioFemale" ngbButton type="radio" [value]="2">{{ 'CMP.FORM_LABEL.NOT_SURE' |
                    translate}}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="insurancePlanForm.get('haveHDBHomeProtectionScheme').value === 1" class="flex-row">
          <div class="flex-col-5 pr5">
            <label for="name" id="myDependantFormLb1">
              <div>{{ 'CMP.FORM_LABEL.COVERAGE_AMOUNT' | translate}}
              </div>
            </label>
          </div>
          <div class="pr0 flex-col-7">
            <div class="form-control" [ngClass]="{'view-mode': viewMode}">
              <i>$</i>
              <input type="text" class="input-control" appCurrencyInput maxLength="8"
                formControlName="homeProtectionCoverageAmount" value="0">

            </div>
          </div>
        </div>

        <!-- <div class="form-group-with-bg--content-white--desc flex-row mt10">
          <div class="flex-col-1"><span [hidden]="!haveHDB">3.</span> <span [hidden]="haveHDB">2.</span></div>
          <div class="flex-col-10">
            {{'CMP.INSURANCE_PLAN.LIFE_PROTECTION_LABEL_3' | translate}}</div>
          <div class="help-icon flex-col-1"
            (click)="showToolTipModal('OTHER_LIFE_INSURANCE_TITLE','OTHER_LIFE_INSURANCE_MESSAGE')"></div>
        </div> -->


        <div class="pos-relative">
          <div class="form-group-with-bg--content-white--desc flex-row align-item-start">
            <div class="flex-col-1"><span [hidden]="!haveHDB">3</span><span [hidden]="haveHDB">2.</span></div>
            <div class="flex-col-11">{{'CMP.INSURANCE_PLAN.LIFE_PROTECTION_LABEL_3' | translate}}</div>
          </div>
          <span class="tooltip-icon"
            (click)="showToolTipModal('OTHER_LIFE_INSURANCE_TITLE','OTHER_LIFE_INSURANCE_MESSAGE')"><img
              src="/assets/images/comprehensive/tool-tip-white.svg" width="20" height="20"></span>
        </div>


        <div class="flex-row">
          <div class="flex-col-5 pr5">
            <label for="name" id="myDependantFormLb1">
              <div>{{ 'CMP.FORM_LABEL.COVERAGE_AMOUNT' | translate}}
              </div>
            </label>
          </div>
          <div class="pr0 flex-col-7">
            <div class="form-control" [ngClass]="{'view-mode': viewMode}">
              <i>$</i>
              <input type="text" class="input-control" appCurrencyInput maxLength="8"
                formControlName="otherLifeProtectionCoverageAmount" value="0">

            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="form-group-with-bg">
      <!--Form Header-->
      <div class="form-group-with-bg--content-white">
        <div class="flex-row ">
          <div class="flex-col-12">
            <div class="form-group-with-bg--content-white--title">
              <div class="critical-illness with-help-icon">{{'CMP.INSURANCE_PLAN.CRITICAL_ILLNESS' | translate}}<span
                  class="help-icon mt5"
                  (click)="showToolTipModal('CRITICAL_INSURANCE_TITLE','CRITICAL_INSURANCE_MESSAGE')"></span></div>
            </div>
            <div class="flex-row">
              <div class="flex-col-5 pr5">
                <label for="name" id="myDependantFormLb1">
                  <div>{{ 'CMP.FORM_LABEL.COVERAGE_AMOUNT' | translate}}
                  </div>
                </label>
              </div>
              <div class="pr0 flex-col-7">
                <div class="form-control" [ngClass]="{'view-mode': viewMode}">
                  <i>$</i>
                  <input type="text" class="input-control" appCurrencyInput maxLength="8"
                    formControlName="criticalIllnessCoverageAmount" value="0">

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group-with-bg">
      <!--Form Header-->
      <div class="form-group-with-bg--content-white">
        <div class="flex-row ">
          <div class="flex-col-12">
            <div class="form-group-with-bg--content-white--title">
              <div class="disability-income with-help-icon">
                {{'CMP.INSURANCE_PLAN.DISABILITY_INSURANCE' | translate}}<span class="help-icon mt5"
                  (click)="showToolTipModal('DISABILITY_INCOME_INSURANCE_TITLE','DISABILITY_INCOME_INSURANCE_MESSAGE')"></span>
              </div>
            </div>
            <div class="flex-row">
              <div class="flex-col-5 pr5">
                <label for="name" id="myDependantFormLb1">
                  <div>{{ 'CMP.FORM_LABEL.COVERAGE_AMOUNT' | translate}}
                  </div>
                </label>
              </div>
              <div class="pr0 flex-col-7">
                <div class="form-control form-control-right" [ngClass]="{'view-mode': viewMode}">
                  <i>$</i>
                  <input type="text" class="input-control" appCurrencyInput maxLength="8"
                    formControlName="disabilityIncomeCoverageAmount" value="0">
                  <i class="right">/ {{'CMP.RSP.MONTH'|translate}}</i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div [hidden]="!longTermInsurance" class="form-group-with-bg">
      <!--Form Header-->
      <div class="form-group-with-bg--content-white">
        <div class="flex-row ">
          <div class="flex-col-12">
            <div class="form-group-with-bg--content-white--title">
              <div class="long-term-care with-help-icon">{{'CMP.INSURANCE_PLAN.LONG_TERM_INSURANCE' | translate}}<span
                  class="help-icon mt5"
                  (click)="showToolTipModal('LONG_TERM_CARE_INSURANCE_TITLE','LONG_TERM_CARE_INSURANCE_MESSAGE')"></span>
              </div>
            </div>
            <div class="form-group-with-bg--content-white--desc flex-row align-item-start">
              <div class="flex-col-1">1.</div>
              <div class="flex-col-11">{{'CMP.INSURANCE_PLAN.LONG_TERM_INSURANCE_LABEL' | translate}}</div>
            </div>
            <div class="flex-col-12 mb-3">
              <div class="btn-group--toggle" ngbRadioGroup name="radioGender" formControlName="haveLongTermElderShield">
                <div class="flex-row mb0 insurance-input-radio">
                  <div class="flex-col-4 ">
                    <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm-comprehensive mr5"
                      [ngClass]="{'inline-error': submitted, 'view-mode': viewMode}">
                      <input id="myProfileRadioMale" ngbButton type="radio" [value]="1">{{ 'CMP.FORM_LABEL.YES_LABEL'
                        |
                        translate}}
                    </label>
                  </div>
                  <div (click)="resetLongTermShieldAmount()" class="flex-col-4">
                    <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm-comprehensive"
                      [ngClass]="{'inline-error': submitted, 'view-mode': viewMode}">
                      <input id="myProfileRadioFemale" ngbButton type="radio" [value]="0">{{
                        'CMP.FORM_LABEL.NO_LABEL' |
                        translate}}
                    </label>
                  </div>
                  <div (click)="resetLongTermShieldAmount()" class="flex-col-4 ">
                    <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm-comprehensive"
                      [ngClass]="{'inline-error': submitted, 'view-mode': viewMode}">
                      <input id="myProfileRadioFemale" ngbButton type="radio" [value]="2">{{ 'CMP.FORM_LABEL.NOT_SURE' |
                        translate}}
                    </label>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div *ngIf="insurancePlanForm.get('haveLongTermElderShield').value === 1">
            <div class="flex-row payout-width">
              <div class="btn-group--toggle payout-width" ngbRadioGroup name="radioGender"
                formControlName="longTermElderShieldAmount">
                <div class="flex-col-12 mb-3">
                  <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm-comprehensive full-width"
                    [ngClass]="{'inline-error': submitted}">
                    <input id="myProfileRadioFemale" ngbButton type="radio" [value]="300">{{
                    'CMP.INSURANCE_PLAN.LONG_TERM_INSURANCE_VALUE_1' |
                    translate}}
                  </label>
                </div>
                <div class="flex-col-12 mb-3">
                  <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm-comprehensive full-width"
                    [ngClass]="{'inline-error': submitted}">
                    <input id="myProfileRadioFemale" ngbButton type="radio" [value]="400">{{
                    'CMP.INSURANCE_PLAN.LONG_TERM_INSURANCE_VALUE_2' |
                    translate}}
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group-with-bg--content-white--desc flex-row">
              <div class="flex-col-1">2.</div>
              <div class="flex-col-11"> {{'CMP.INSURANCE_PLAN.LONG_TERM_INSURANCE_LABEL_2' | translate}}</div>
            </div>
            <div class="flex-row">
              <div class="flex-col-5 pr5">
                <label for="name" id="myDependantFormLb1">
                  <div>{{ 'CMP.FORM_LABEL.COVERAGE_AMOUNT' | translate}}
                  </div>
                </label>
              </div>
              <div class="pr0 flex-col-7">
                <div class="form-control form-control-right" [ngClass]="{'view-mode': viewMode}">
                  <i>$</i>
                  <input type="text" class="input-control" appCurrencyInput maxLength="8"
                    formControlName="otherLongTermCareInsuranceAmount" value="0">
                  <i class="right">/ {{'CMP.RSP.MONTH'|translate}}</i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-cta">
      <button type="button" (click)="goToNext(insurancePlanForm)" class="btn btn-primary mt30 mb50 width100"
        id="moDpdnt2BtnFooter">{{
          (!viewMode) ? ('CMP.FORM_LABEL.SAVE_AND_CONTINUE'|translate) : ('CMP.FORM_LABEL.NEXT'|translate)}}
      </button>
    </div>
  </form>

</div>