@import '../../../variables';
@import '../../../mixins';
app-insurance-plan{
.comprehensive {
  .title {
    font-size: 18px;
  }

  .insurance {
    color: #066360 !important;
  }

  .sub-heading {
    letter-spacing: -0.2px;
    font-weight: 600;
    font-family: muli-bold;
    font-size: 20px !important;
    color: #066360 !important;

  }

  .sub-desc {
    font-size: 16px !important;
    font-weight: bold;
  }

  .payout-width{
      width:100%;
      max-width: 100%;
  }
  .insurance-border{
      border-radius: 6px!important;
  }
  .fixed-btn--sm-comprehensive {
    width: 100%;
  }
  .fixed-btn--sm-comprehensive {
    &.full-width {
      width: 100% !important;
    }
  }
  .hospital-plan, .life-protection, .critical-illness, .disability-income, .long-term-care {
    @extend .flex;
    &.with-help-icon {
      justify-content: space-between;
      width: 100%;
    }
  }
  .hospital-plan, .life-protection, .critical-illness, .disability-income, .long-term-care {
    background-image: url('../../../assets/images/comprehensive/insurance-plan/hospital-plan.svg');
    background-repeat: no-repeat;
    padding-left: 35px;
    height: 27px;
    line-height: 30px;
  }
  .life-protection {
    background-image: url('../../../assets/images/comprehensive/insurance-plan/life-protection.svg');
  }
  .critical-illness {
    background-image: url('../../../assets/images/comprehensive/insurance-plan/critical-illness.svg');
  }
  .disability-income {
    background-image: url('../../../assets/images/comprehensive/insurance-plan/disability-income.svg');
  }
  .long-term-care {
    background-image: url('../../../assets/images/comprehensive/insurance-plan/long-term-care.svg');
  }
  .form-group-with-bg--content-white--title {
    @include allmobiles {
      font-size: 18px;
    }
    @include iphone5{
      margin-bottom: 40px!important;
    }
  }
  .btn-group--toggle{
    .custom-radio-btn{
       &.insurance-input-radio{
        &.radio-btn-space {
          @include allmobiles {
            justify-content: space-between;
          }
        }
        .flex-col-6{
           max-width: 110px;
           @include max360 {
            max-width: 87px;
          }
          @include iphone6{
            max-width:110px;
          }
           .fixed-btn--sm-comprehensive{
             max-width: 105px;
             @include max360 {
              max-width: 82px;
            }
            @include iphone6{
              max-width:105px;
            }
             &:active{
               color: $white-color !important;
             }
           }
         }
        .flex-col-4{
          max-width: 115px;
          @include max360 {
            max-width: 92px;
          }
          @include iphone6{
            max: width 102px;
          }
          .fixed-btn--sm-comprehensive{
            max-width: 105px;
          @include max360 {
            max-width: 82px;
          }
          @include iphone6 {
            max-width:92px;
          }
            &:active{
              color: $white-color !important;
            }
          }
        }
      }
    }
  }
  .insurancePlanForm{
    .form-group-with-bg--content-white--desc{
      margin-bottom: 20px!important;
    }
  }
.form-group-with-bg--content-white{
  padding-bottom: 30px!important;
  padding-top: 30px!important;
  .mb-3{
    margin-bottom: 20px!important;
  }
}
.align-item-start {
  align-items: flex-start !important;
}
.tooltip-icon {
  position: absolute;
  right: 0;
  top: -2px;
  cursor: pointer;
}
.pos-relative {
  position: relative;
}
}
}