<div class="modal-header">
</div>
<div class="modal-body white-bg">
  <!-- <div class="modal-body-title t-c-title">Terms & Conditions</div> -->
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
    <span aria-hidden="true"></span>
  </button>
  <div class="modal-body-title">Disclaimer</div>
  <div class="modal-body-message">
    <div class="t-c-content">
      By using this service, you acknowledge that the information, materials and content provided is for information
      purposes only and should not be construed as legal advice and should not be relied upon by you as legal advice.
      This service is meant as a publishing service, and all documents provided and produced through this service are
      meant to provide a guideline for common and standard situations.
      Please note that each person’s situation is unique and your use of this service and the Will(s) produced for your
      use, may not necessarily fit your particular circumstances. If you have any legal questions or if you are unsure
      whether the service will be suitable to meet your needs, you are advised to seek specific legal or professional
      advice.
      If you disagree with the above, please do not proceed any further.
    </div>
  </div>
  <div class="modal-body-title">Detailed Disclaimer</div>
  <div class="modal-body-message">
    <div class="t-c-content">
        [MoneyOwl] is not a law firm and does not give legal advice. This service is provided as a general service over the Internet and the information provided is not to be construed as legal advice and is not guaranteed to be correct, complete or up-to-date and which may change from time to time. By using this service, you acknowledge that the information, materials and content provided is for information purposes only and should not be construed nor relied upon as legal advice. This service is meant as a publishing service, and all documents provided and produced through this service are meant to provide a guideline for common and standard situations and are provided on an “as is” basis.
        Please note that each person’s situation is unique and your use of this service and the Will(s) produced for your use, may not necessarily fit your particular circumstances. If you have any legal questions or if you are unsure whether the service will be suitable to meet your needs, you are advised to seek specific legal or professional advice.
        [MoneyOwl] is not responsible for any loss, claim, liability, or damage related to your use of this service. Please note that the use of the service is entirely at your own risk.
    </div>
  </div>
  <div style="display: flex; justify-content: center;">
    <button (click)="activeModal.close('proceed')" type="button" class="btn btn-primary bottom-btn">I Agree</button>
  </div>
</div>
