<div class="modal-header">
  <div class="modal-title popup-header-icon hidden-lg"><img src="assets/images/owl.svg" /></div>
</div>
<div class="modal-body white-bg">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
    <span aria-hidden="true"></span>
  </button>
  <div class="section-container">
    <div class="modal-body-title">{{title}}</div>
    <div class="modal-body-message" [innerHTML]="message"></div>
  </div>
  <div class="mt20 flex">
    <button (click)="activeModal.close('proceed')" type="button" class="btn btn-primary bottom-btn">{{agree}}</button>
  </div>
</div>