<div class="container-fluid max-width--1024 ">
  <header> {{ 'CMP.ENDOWMENT_PLAN.ABOUT' | translate}}</header>
  <form [formGroup]="endowmentListForm" id="endowmentListForm" name="endowmentListForm" class="endowmentListForm">
    <div formArrayName="endowmentPlan" class="education-support-array p-2 pb-0 mb-2" *ngFor="let educationPlan of endowmentListForm.controls.endowmentPlan.controls; let i = index;">

      <div class="form-group" [formGroupName]="i">

          <div class="education-support">
              <div class="checkbox-button one-label">
                <input [attr.disabled]="isFormControlDisabled" id="educationSupport{{i}}" name="endowmentplanShow"
                  formControlName="endowmentplanShow" type="checkbox" class="field checkbox" value="Education Support <br> I want to fund this child for a university education if i pass away">
                <label for="educationSupport{{i}}">
                  <div class="title">{{educationPlan.get('name').value}}</div>
                  <div class="sub-title"> {{educationPlan.get('age').value}} Years old</div>
                </label>
              </div>
            </div>
        
      
        
        
        
        <div class="education-plan" [hidden]="!educationPlan.get('endowmentplanShow').value">
          <div class="flex-row p-2">
            <div class="col-5">
              <label for="name" id="myDependantFormLb1">
                <div>{{ 'CMP.FORM_LABEL.MATRURITY_AMOUNT' | translate}}
                </div>
              </label>
            </div>
            <div class=" col-7">
              <input type="text" [ngClass]="{'inline-error': submitted && endowmentPlan.controls.maturityAmount.invalid}"
                id="myFamilyFormInpt3" class="form-control" #maturityAmount formControlName="maturityAmount">
            </div>
          </div>
          <div class="flex-row p-2">
            <div class=" col-5">
              <label for="name" id="myDependantFormLb2">
                <div>{{ 'CMP.FORM_LABEL.MATURITY_YEAR' | translate}}
                </div>
              </label>
            </div>
            <div class="col-7">
              <input type="text" [ngClass]="{'inline-error': submitted && endowmentPlan.controls.maturityYear.invalid}"
                id="myFamilyFormInpt4" class="form-control" #maturityYear formControlName="maturityYear">
            </div>
          </div>
        </div>
      </div>


    </div>
    <button type="button" (click)="goToNext(endowmentListForm)" class="btn btn-primary btn__footer--fixed width100" id="prfBtn1">{{
      'CMP.LABEL.CONTINUE' |
      translate}}</button>
  </form>


</div>