@import '../../../variables';
@import '../../../mixins';
.education-support{


input[type='checkbox']+label {
  background: url("../../../assets/images/check-box-normal.svg") left top no-repeat;
}
input[type='checkbox']:checked+label {
  background-image: url("../../../assets/images/check-box-select.svg");
}
.title {
  
  position: relative;
  top: -6px;
  color:#313644;
  font-size: 18px;
  font-weight: 600;
}
.sub-title {
  position: relative;
  top: -4px;
  color:#8d9aa8;
  opacity: 0.7;
  font-size: 16px;
  font-weight: normal;
  line-height: 21px;
}
}


.education-support-array{
  background: #fff;
  color:#000;
  border-radius:5px;
}
.education-plan{
  border-radius: 6px;
  background-color: #f4fafb;
  color:#2d8289;
  font-size: 16px;
 
}
.comprehensive {
  &.container-fluid {
    padding-top: 120px;
  }

 

  .dependant-title {
    font-size: 18px;
    padding-bottom: 16px;
  }
}
.with-help-icon{
    display:flex;
    align-items: flex-end;
    position: relative;        
    margin-right: 10px;
    position: relative;
    font-size: 18px;
    .help-icon {
      
        background: url("../../../assets/images/tooltip-icon.svg") no-repeat;
        width: 40px;
        height: 20px;
        cursor: pointer;
        background-repeat: no-repeat;
        position: absolute;
        right: -34px;
        bottom: 49px;
    
    }    
}
