@import '../../../variables';
@import '../../../mixins';
.education-support{


input[type='checkbox']+label {
  background: url("../../../assets/images/check-box-normal.svg") left top no-repeat;
}
input[type='checkbox']:checked+label {
  background-image: url("../../../assets/images/check-box-select.svg");
}
.title {
  
  position: relative;
  top: -6px;
}
.sub-title {
  position: relative;
  top: -4px;

  opacity: 0.7;
  font-size: 16px;
  line-height: 21px;
}
}


.education-support-array{
  background: #fff;
  color:#000;
  border-radius:5px;
}
.education-plan{
  background: #f0ffff!important;
  color:#005960 !important;
 
}
.with-help-icon{
    display:flex;
    align-items: flex-end;
    position: relative;        
    margin-right: 10px;
    position: relative;
    font-size: 18px;
    .help-icon {
      
        background: url("../../../assets/images/tooltip-icon.svg") no-repeat;
        width: 40px;
        height: 20px;
        cursor: pointer;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        bottom: 13px;
    }    
}
