<div class="input-box">
  <ng-container *ngIf="usedPromo && usedPromo?.shortDescription; else showPlaceholder">
    <div>
      <img id="green-tick" src="assets/images/icon-form-tick.svg" />
      <span class="promo-display" (click)="openPromoDetails($event)">{{usedPromo?.shortDescription}}</span>
    </div>
    <div class="remove-btn" (click)="removePromoCode($event)">{{'PROMO_CODE_SELECT.REMOVE_BTN' | translate}}</div>
  </ng-container>
  <ng-template #showPlaceholder>
    <span class="promo-placeholder" (click)="openPromoList($event)">{{'PROMO_CODE_SELECT.HAVE_PROMO' | translate}}</span>
  </ng-template>
</div>
<div *ngIf="showError" class="promo-error">
  <img src="assets/images/alert.svg" />
  <span>{{'PROMO_CODE_SELECT.PORTFOLIO_NOT_INClUDED' | translate}}</span>
</div>