<div class="portfolio-naming-backdrop">
  <div class="container-fluid max-width--1024">
    <div class="portfolio-naming-wrapper">
      <form [formGroup]="form">
        <div class="portfolio-block">
          <div class="portfolio-naming">
            <div class="hidden-sm">{{'PORTFOLIO_RECOMMENDATION.ADD_PORTFOLIO_NAME.NAME_YOUR_PORTFOLIO' | translate}}</div>
            <div class="title">{{'PORTFOLIO_RECOMMENDATION.ADD_PORTFOLIO_NAME.PORTFOLIO_READY' | translate}}</div>
            <div *ngIf="!accountCreationStatus" class="portfolio-success mb30">
              <img src={{riskProfileIcon}} id="riskProfileImg" />
            </div>
            <div *ngIf="accountCreationStatus" class="portfolio-success mb30">
              <img src={{riskProfileIconSuccess}} id="riskProfileImg" />
            </div>
            <div class="portfolio_name_title">{{defaultPortfolioName}}</div>
          </div>
          <div class="portfolio-naming--content">
            <div>
              <div class="desc">
                  {{'PORTFOLIO_RECOMMENDATION.ADD_PORTFOLIO_NAME.ADD_PORTFOLIO_NAME_LAB' | translate}}
              </div>
              <div class="form-control mt20" [ngClass]="{'inline-error': showErrorMessage}">
                <input class="input-control" type="text" placeholder="Enter a unique portfolio name" #portfolioName
                  formControlName="portfolioName" (keyup)="updateCharacterCount($event)" maxlength="50">
              </div>
              <div
                *ngIf="!form.get('portfolioName').valid && !form.get('portfolioName').pristine"
                class="error-message">
                {{'PORTFOLIO_RECOMMENDATION.ADD_PORTFOLIO_NAME.VALIDATION_MESSAGE' | translate}}
              </div>
              <div *ngIf="showErrorMessage" class="error-message">
                <span><img class="success-tick"
                    src="../../../assets/images/investment-account/portfolio-naming-indicator.svg" /></span>
                <span>{{'PORTFOLIO_RECOMMENDATION.ADD_PORTFOLIO_NAME.ERROR_MESSAGE' | translate}}</span>
              </div>
            </div>
            <div class="characters">{{characterLength ? characterLength : (userPortfolioName ? userPortfolioName :0)}}
              / 50 characters</div>

            <button type="button" class="btn btn__footer--fixed btn-primary width100  mt20"
              (click)="submitForm()" id="prfBtn1">{{'PORTFOLIO_RECOMMENDATION.ADD_PORTFOLIO_NAME.CREATE_PORTFOLIO' | translate}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
