@import '../../../../variables';
@import '../../../../mixins';


.portfolioname-bg {
  background-color: rgba(255, 255, 255, 0.95) !important;
}
app-add-portfolio-name {
  .portfolio-naming-backdrop {
    .container-fluid{
      @include allmobiles{
        padding: 0;
      }
    }
  }

  .portfolio-naming-wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $black-color;
    height: calc(100vh - 84px);
    
    @include allmobiles{
      height: calc(100vh - 46px);
    }
    @include iphonex{
      height: calc(100vh - 108px);
    }
    @include iphone11{
      height: calc(100vh - 108px);
    }

    .portfolio-block {
      max-width: 320px;
      margin: 0px auto;
      position: relative;

      .portfolio-naming {
        margin: 0 auto;
        padding-bottom: 40px;

        .portfolio_name_title {
          font-family: $muli-bold;
          font-size: 18px;
          letter-spacing: -0.34px;
          text-align: center;
        }
      }
    }

    .title {
      font-family: $muli-bold;
      font-size: 32px;
      letter-spacing: -0.3px;
      text-align: center;
      color: $custom-modal-title-color;
      padding:10px 0 20px;
      line-height: 40px;
      @include allmobiles{
        font-size: 28px;
      }
    }

    .portfolio-success {
      text-align: center;

      img {
        width: 115px;
        height: 120px;
      }

    }

    .input-control {
      text-align: left;
    }

    .desc {
      font-family: $muli-regular;
      font-size: 21px;
      letter-spacing: -0.39px;
      text-align: center;
      @include allmobiles{
        font-size: 18px;
        letter-spacing: -0.34px;
      }
    }

    .characters {
      font-family: $muli-italic;
      font-size: 15px;
      letter-spacing: -0.15px;
      color: $portfolio-name-length-color;
      text-align: right;
      padding: 11px 0px 10px;
    }
  }

  input::placeholder {
    font-family: $muli-italic;
    font-size: 16px;
    font-style: italic;
    letter-spacing: -0.3px;
    color: #c1c1c1 !important;
  }

  .error-message {
    font-family: $muli-italic;
    font-size: 16px;
    font-style: italic;
    line-height: 1.31;
    letter-spacing: -0.16px;
    color: $inline-error-border-color;
    display: flex;
    text-align: left;
    padding-top: 9px;

    span {
      &:first-child {
        padding-right: 11px;
      }
    }
  }

  .inline-error {
    .btn {
      &.btn-secondary {
        &:active {
          border: none !important;
          color: $white-color;
        }

        background-color: $secondary-action-color !important;
      }
    }
  }

  .btn-primary{
    font-family: $muli-bold !important;
    font-size: 22px;
  }
}
