@import '../../../../variables';
@import '../../../../mixins';

app-add-portfolio-name {
  .portfolio-naming-modal-backdrop {
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    min-height: 100vh;
  }

  .portfolio-naming-modal-wrapper {
    top: 0;
    width: 100%;
    // max-height: calc(100vh - 56px);
    position: fixed;
    z-index: 10000;
    text-align: center;
    display: flex;
    justify-content: center;

    @include allmobiles {
      align-items: flex-end;
    }

    // @include desktop {
    //   align-items: center;
    // }

    // @include tablet {
    //   align-items: center;
    // }

    // @include phablet {
    //   align-items: center;
    // }

    .modal .close {
      top: 25px !important;
    }

    .portfolio-block {
      @include allmobiles {
        display: flex;
        flex-direction: column;
        // max-height: calc(100vh - 56px);
        justify-content: space-between;
      }

      .portfolio-naming {
        max-width: 320px;
        margin: auto;

        @include allmobiles {
          margin: 0px auto;
          height: calc(100vh - 260px);
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        // @include desktop {
        //   margin-bottom: 60px;
        // }

        // @include tablet {
        //   margin-bottom: 60px;
        // }

        // @include phablet {
        //   margin-bottom: 60px;
        // }

        .portfolio_name_title {
          font-family: $muli-bold;
          font-size: 18px;
          letter-spacing: -0.34px;
          text-align: center;
          color: $black-color;
        }
      }

      .portfolio-naming--content {
        max-width: 320px;

        @include allmobiles {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          height: 260px;
        }
      }
    }

    .title {
      font-family: $muli-bold;
      font-size: 30px;
      letter-spacing: -0.3px;
      text-align: center;
      color: $custom-modal-title-color;
      padding-bottom: 20px;
      line-height: 40px;
    }

    .portfolio-success {
      text-align: center;

      img {
        width: 115px;
        height: 120px;
      }

    }

    .input-control {
      text-align: left;
    }

    .desc {
      font-family: $muli-regular;
      font-size: 18px;
      letter-spacing: -0.34px;
      text-align: center;
      color: $black-color;
    }

    .characters {
      font-family: $muli-italic;
      font-size: 15px;
      letter-spacing: -0.15px;
      color: $portfolio-name-length-color;
      text-align: right;
      padding: 11px 0px 10px;
    }
  }

  input::placeholder {
    font-family: $muli-italic;
    font-size: 16px;
    font-style: italic;
    letter-spacing: -0.3px;
    color: #c1c1c1 !important;
  }

  .error-message {
    font-family: $muli-italic;
    font-size: 16px;
    font-style: italic;
    line-height: 1.31;
    letter-spacing: -0.16px;
    color: $inline-error-border-color;
    display: flex;
    text-align: left;
    padding-top: 9px;

    span {
      &:first-child {
        padding-right: 11px;
      }
    }
  }

  .inline-error {
    .btn {
      &.btn-secondary {
        &:active {
          border: none !important;
          color: $white-color;
        }

        background-color: $secondary-action-color !important;
      }
    }
  }

  .btn {
    @include allmobiles {
      margin-bottom: 30px;
    }

    &.btn-primary {
      z-index: 1001;

      &:disabled {
        border-radius: 6px;
        box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.21) !important;
        background-color: $portfolio-name-btn !important;
        color: $white-color;
      }
    }
  }

  .modal.close {
    top: 25px !important;
    right: 25px !important;
  }
}
