<div class="content">
  <div class="flex-div">
    <img src="../../../assets/images/investment-account/owl-success-tick.svg" id="add_submit_custModalImg2" />
    <div class="success-text-content">
      <p class="custom-modal--title mt20" id="upload-document-later-lab">
        {{ 'WITHDRAW_SUCCESS.TITLE' | translate}}
      </p>
      <p class="custom-modal--desc">
        {{ 'WITHDRAW_SUCCESS.DESC' | translate}}
      </p>
    </div>
    <button (click)="goToNext()" id="upload-document-later-back_to_dash_board" type="button" class="btn btn__footer--fixed btn-primary width100">{{
      'WITHDRAW_SUCCESS.BACK_TO_INVEST' | translate}}</button>
    </div>
</div>