@import '../../../variables';
@import '../../../mixins';
app-ocp-disability {
  .dropdown-control .btn-dropdown:after {
    top: 24px;
}
  nouislider {
    margin-right: 1rem !important;
  }
  .noUi-horizontal .noUi-tooltip {
      padding-right: 20px;
  }
  .noUi-tooltip:after {
    content: '%';
    position: absolute !important;
  }
  .fixed-tenure {
    font-family: $muli;
    font-weight: normal;
    margin-top: -10px;
    color: #2d8288;
    font-size: 16px;
  }
}
