<!--Occupational Disability Screen-->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-7 col-md-6 hidden-sm-md">
      <h2>{{ pageTitle }}</h2>
      <h6>{{ 'OCP_DISABILITY.DESCRIPTION' | translate}}</h6>
      <div class="banner-image">
        <img src="assets/images/occupationdisability.svg" />
      </div>
    </div>
    <div class="col-lg-5 col-md-6">
      <div>
        <form id="ocpDisabilityForm" name="ocpDisabilityForm" [formGroup]="ocpDisabilityForm">
          <div class="form-group-with-bg">
            <!--Form Header-->
            <div class="form-group-with-bg--header">
              <div class="flex-row align-items-top">
                <div class="flex-col-7">
                <div class="form-group-with-bg--header-label">
                  <div>{{ 'OCP_DISABILITY.OCP_DISABILITY_FRM_TITLE' | translate}}</div>
                  <div class="form-group-with-bg--header-sub-label">{{ 'OCP_DISABILITY.OCP_DISABILITY_HINT' | translate}}</div>
                </div>
                </div>
                <div class="flex-col-5">
                <div class="total">
                  <div>{{coverageAmount | currency : 'USD' : 'symbol' : '1.0-0'}}</div>
                  <div class="fixed-tenure">{{ 'MY_INCOME.PER_MONTH' | translate}}</div>
                </div>
                </div>
              </div>  
            </div>
            <!--Form Content-->
            <div class="form-group-with-bg--content">
              <div class="flex-row">
                <div class="flex-col-4">
                <div class="form-group-with-bg--content-label" for="name">{{ 'OCP_DISABILITY.EMPLOYEE_FIELD' | translate}}</div>
                </div>
                <div class="flex-col-8">
                <div class="dropdown-control">
                  <div ngbDropdown id="employeeDropDown">
                    <button class="btn btn-dropdown" id="dropdownBasic1" ngbDropdownToggle>
                      <span>{{defaultEmployee}}</span>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button class="dropdown-item" *ngFor="let employee of employeeList" (click)="selectEmployeeType(employee.status,true)">
                        {{employee.status}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <div class="flex-row mb50">
                <div class="form-group-with-bg--content-label mb10" for="name">
                  {{ 'OCP_DISABILITY.OCP_DISABILITY_MULTI_PREFIX' | translate}}
                  <span class="span--content-inline--underline">{{coveragePercent}}%</span>{{'OCP_DISABILITY.OCP_DISABILITY_MULTI_SUFFIX' | translate}}
                </div>
              </div>
              <nouislider #ocpDisabilitySlider (slide)="onSliderChange($event)" [config]="ciSliderConfig" [min]="0" [max]='coverageMax'
                [step]="1" [tooltips]="[ true ]"></nouislider>
                <div class="flex-row">
                  <div class="flex-col-9">
                  <div class="form-group-with-bg--content-label" for="name">{{ 'OCP_DISABILITY.RETIREMENT_AGE' | translate}}</div>
                  </div>
                  <div class="flex-col-3">
                    <div class="dropdown-control">
                      <div ngbDropdown id="retirementAgeDropDown">
                        <button class="btn btn-dropdown" id="dropdownBasic1" ngbDropdownToggle aria-expanded="false">
                          <span>{{retirementAge}}</span>
                        </button>
                        <div ngbDropdownMenu class="dropdown" aria-labelledby="dropdownBasic1">
                          <button class="dropdown-item" *ngFor="let count of retirementAgeItems" (click)="selectRetirementAge(count)">{{count}}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div>
            <button type="button" (click)="goToNext(ocpDisabilityForm)" class="btn btn__footer--fixed btn-primary width100"
              id="ocpDisabilityBtn">{{ 'LABEL.CONTINUE' | translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
