@import '../../../variables';
@import '../../../mixins';
app-ocp-disability {
  .form-with-bg .form-with-bg--content .form-with-bg--content-label {
    flex-basis: 60vw !important;
  }
  #employeeDropDown {
    .btn-dropdown {
      width: 196px !important;
    }
    .dropdown-menu {
      min-width: 196px !important;
    }
  }
  #retirementAgeDropDown {
    .btn-dropdown {
      width: 90px !important;
    }
    .dropdown-menu {
      min-width: 90px !important;
    }
  }
  nouislider {
    margin-right: 1rem !important;
  }
  .noUi-horizontal .noUi-tooltip {
      padding-right: 20px;
  }
  .noUi-tooltip:after {
    content: '%';
    position: absolute !important;
  }
  .fixed-tenure {
    font-family: $muli;
    font-weight: normal;
    margin-top: -10px;
    color: #2d8288;
    @include fontSize(10px);
  }
}
