<!--Occupational Disability Screen-->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-7 col-md-6 hidden-sm-md">
      <h2>{{ pageTitle }}</h2>
      <h6>{{ 'OCP_DISABILITY.DESCRIPTION' | translate}}</h6>
      <div class="banner-image">
        <img src="assets/images/occupationdisability.png" />
      </div>
    </div>
    <div class="col-lg-5 col-md-6">
      <div>
        <form id="ocpDisabilityForm" name="ocpDisabilityForm" [formGroup]="ocpDisabilityForm">
          <div class="form-with-bg">
            <!--Form Header-->
            <div class="form-with-bg--header">
              <div class="form-group flex-row">
                <div class="form-with-bg--header-label">{{ 'OCP_DISABILITY.OCP_DISABILITY_FRM_TITLE' | translate}}
                  <div class="form-with-bg--header-sub-label">{{ 'OCP_DISABILITY.OCP_DISABILITY_HINT' | translate}}</div>
                </div>
                <div class="total">{{coverageAmount | currency:'USD':'symbol-narrow':'1.0-2'}} 
                  <span class="fixed-tenure">{{ 'MY_INCOME.PER_MONTH' | translate}}</span>
                </div>
              </div>
            </div>
            <!--Form Content-->
            <div class="form-with-bg--content">
              <div class="form-group flex-row">
                <div class="form-with-bg--content-label" for="name">{{ 'OCP_DISABILITY.EMPLOYEE_FIELD' | translate}}</div>
                <div class="dropdown-control">
                  <div ngbDropdown class="d-inline-block" id="dependentDropDown">
                    <button class="btn btn-default fixed-btn--lg btn-dropdown" id="dropdownBasic1" ngbDropdownToggle>
                      <span class="dependent-count">{{defaultEmployee}}</span>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button class="dropdown-item fixed-btn--lg" *ngFor="let employee of employeeList" (click)="selectEmployeeType(employee.status,true)">
                        {{employee.status}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group flex-row mb50">
                <div class="form-with-bg--content-label" for="name">
                  {{ 'OCP_DISABILITY.OCP_DISABILITY_MULTI_PREFIX' | translate}}
                  <span class="form-with-bg--content-multiplier">{{coveragePercent}}%</span>{{'OCP_DISABILITY.OCP_DISABILITY_MULTI_SUFFIX' | translate}}
                </div>
              </div>
              <!-- <jqxSlider #ocpDisabilitySlider (onChange)="onSliderChange()" [height]='60' [width]='"100%"' [min]='0' [max]='coverageMax' [value]='coverageMax'
                    [step]='1' [tooltip]='true' [showTicks]='false' [showButtons]='false' [ticksFrequency]='50' [mode]='"fixed"'>
                  </jqxSlider>  -->
              <nouislider #ocpDisabilitySlider (slide)="onSliderChange($event)" [config]="ciSliderConfig" [min]="0" [max]='coverageMax'
                [step]="1" [tooltips]="[ true ]"></nouislider>
              <div class="form-with-bg--content">
                <div class="form-group flex-row">
                  <div class="form-with-bg--content-label" for="name">{{ 'OCP_DISABILITY.RETIREMENT_AGE' | translate}}</div>
                  <div class="form__col--right inline-block">
                    <div class="dropdown-control">
                      <div ngbDropdown class="d-inline-block" id="RetirementAgeDropDown">
                        <button class="btn btn-default fixed-btn--sm btn-dropdown" id="dropdownBasic1" ngbDropdownToggle aria-expanded="false">
                          <span class="form--group-dropdown-selected">{{retirementAge}}</span>
                        </button>
                        <div ngbDropdownMenu class="dropdown" aria-labelledby="dropdownBasic1">
                          <button class="dropdown-item" *ngFor="let count of retirementAgeItems" (click)="selectRetirementAge(count)">{{count}}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <button type="button" (click)="goToNext(ocpDisabilityForm)" class="btn btn__footer--fixed btn-ftr-get-started btn-primary width100"
              id="ocpDisabilityBtn">{{ 'LABEL.CONTINUE' | translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
