<section class="invest-section">
    <div class="invest-section-items">
        <div class="invest-section-content">
            <div class="invest-bg">
                <div class="invest-bg-media">
                    <div class="invest-bg-image"></div>
                    <div class="invest-bg-color"></div>
                </div>
                <div class="invest-bg-content">
                    <div class="flex-row user_content flex-col-12">
                        <div class="user_summary" id="your_portfolio_summary">
                            <div class="user_portfolio flex-col">
                                <div class="user_portfolio_lbl">{{this.pageTitle}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="app-asset-allocation">
    <div class="container-fluid max-width--1024">
        <div class="portfolio-allocation-details">
            <div class="flex-col-12">
                <div class="title-dec">{{'FEES.DESC' | translate}}</div>
                <div class="annual-fee-desc">
                    <div *ngFor="let fee of feeDetails; let i = index">
                        <div class="fund-title" [ngClass]="{'wise-saver-annual-fee': portfolioTypeFlag}">
                            <div>{{fee.fundName}}</div>
                            <div  class="fee_value">{{fee.wrapFee ? fee.wrapFee :0 }}%
                                <span *ngIf="fee.fundName === 'Standard Portfolios'">*</span>
                                <span *ngIf="fee.fundName === 'Platform Fee'">({{fee.wfRemarks}})</span>
                            </div>
                        </div>
                        <div class="flex-col-12 flex space-btwn mt20" *ngIf="fee.promotions && fee.promotions[0]">
                            <div class="flex" *ngFor="let promotion of fee.promotions; let i = index">
                                <span class="form-alert-wrap"><img
                                        src="assets\images\manage-investments\form-icon-alert.svg" /></span>
                                <label>
                                    <div class="promo-code-header"><span class="ellipse">{{promotion.promoName}}</span>
                                        <span>({{promotion.promoCode}})</span>
                                    </div>
                                    <div class="promo-code" id="promoCode">
                                        ({{'FEES.VALID_TILL' | translate}}
                                        {{promotion.promoEndDate | date:'dd MMM yyyy'}})
                                    </div>
                                </label>
                            </div>
                            <div class="fee_value-status hidden-sm-md">
                                {{'FEES.PROCESSING_APPLIED' | translate}}
                            </div>
                            <div class="fee_value-status hidden-lg">
                                {{'FEES.PROCESSING' | translate}}<br>{{'FEES.APPLIED' | translate}}
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="faq_dec" innerHTML="{{'FEES.FAQ_DESC'|translate}}">
                    </div>
                </div>
            </div>
        </div>
    </div>