<section class="invest-section">
    <div class="invest-section-items">
        <div class="invest-section-content">
            <div class="invest-bg">
                <div class="invest-bg-media">
                    <div class="invest-bg-image"></div>
                    <div class="invest-bg-color"></div>
                </div>
                <div class="invest-bg-content">
                    <div class="flex-row user_content flex-col-12">
                        <div class="user_summary" id="your_portfolio_summary">
                            <div class="user_portfolio flex-col">
                                <div class="user_portfolio_lbl">{{this.pageTitle}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="app-asset-allocation">
    <div class="container-fluid max-width--1024">
        <div class="portfolio-allocation-details">
            <div class="flex-col-12">
                <div class="title-dec">Your prevailing MoneyOwl advisory annual fees are as follows:</div>
                <div class="annual-fee-desc">
                    <div *ngFor="let fee of feeDetails; let i = index">
                        <div class="fund-title" [ngClass]="{'wise-saver-annual-fee': portfolioTypeFlag}">
                            <div>{{fee.fundType}}</div>
                            <div *ngIf="fee.wrapFee" class="fee_value">{{fee.wrapFee}}%
                            </div>
                        </div>
                        <div class="flex-col-12 flex space-btwn mt20" *ngIf="fee.promotions[0]">
                            <div class="flex" *ngFor="let promotion of fee.promotions; let i = index">
                               <span class="form-alert-wrap"><img src="assets\images\manage-investments\form-icon-alert.svg" /></span>
                                <label>
                                    <div class="promo-code-header"> {{promotion.promoName}} ({{promotion.promoCode}})
                                        <span alt="" class="arrow"
                                            [class.active]="promoCode.style.display === ''  || promoCode.style.display === 'block'"
                                            (click)=showHide(promoCode)></span>
                                    </div>
                                    <div class="promo-code" id="promoCode" #promoCode style="display: none;">
                                       {{promotion.promoDescription}} (Valid till
                                        {{promotion.promoEndDate}})</div>
                                </label>
                            </div>
                            <div class="fee_value-status hidden-sm-md">
                                (Processing/Applied)
                            </div>
                            <div class="fee_value-status hidden-lg">
                                (Processing/<br>Applied)
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="faq_dec">*This is your prevailing advisory rate. Please refer here and FAQs on how this
                        is calculated. Promotional rates (if any) are factored into the calculation of your prevailing
                        advisory rate.
                        <div class="mt20">For more information relating to fees, please go to&nbsp;<span
                            class="faq-link">Frequently Asked Questions</span>&nbsp;on our website.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>