@import "../../../../variables";
@import "../../../../mixins";
.portfolioname-bg {
  background-color: rgba(255, 255, 255, 0.95) !important;
}
app-fees {
  .invest-section {
    @include allmobiles {
      display: none;
    }
  }

  .invest-bg-content {
    .user_content {
      max-width: 1024px;
      margin: 0 auto;
      padding: 0 75px;

      @include allmobiles {
        padding-left: 20px;
      }
    }

    .user_summary {
      display: flex;
      padding-top: 45px;
      padding-left: 37px;
      font-family: $muli-regular;
      letter-spacing: -0.2px;
      color: #ffffff;
      padding-bottom: 50px;

      .user_portfolio_lbl {
        font-size: 36px;
        line-height: 40px;
        letter-spacing: -0.41px;
      }
    }
  }

  .app-asset-allocation {
    position: relative;
    top: 38px;

    @include allmobiles {
      top: 0;
    }
    .title-dec {
      margin: 0 0 30px;
      font-family: $muli-regular;
      font-size: 14px;
      line-height: 1.5;
      letter-spacing: -0.13px;
      color: #5e5e5e;
    }
    .annual-fee-desc {
      font-family: $muli-regular;
      font-size: 14px;
      color: #000000;
      .fund-title {
        display: flex;
        justify-content: space-between;
      }
      .form-alert-wrap {
        width: 16px;
        height: 16px;
        margin-right: 10px;
        object-fit: contain;
      }
      .fee_value {
        color: #5e5e5e;
      }
      .promo-code-header {
        font-family: $muli-bold;
        font-size: 13px;
        font-weight: bold;
        line-height: 1.38;
        letter-spacing: -0.12px;
        color: #000000;
      }
      .promo-code {
        font-family: $muli-bold;
        font-size: 13px;
        font-weight: bold;
        line-height: 1.38;
        letter-spacing: -0.12px;
        color: #000000;
      }
      .fee_value-status {
        font-family: $muli-regular;
        font-size: 13px;
        line-height: 1.38;
        letter-spacing: -0.12px;
        color: #000000;
      }
      .faq_dec {
        margin: 30px 0 0;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: -0.13px;
        color: #5e5e5e;
        .faq-link {
          color: #ff7900;
          cursor: pointer;
        }
      }
      .arrow {
        background-image: url("/assets/images/manage-investments/down-arrow.svg");
        background-repeat: no-repeat;
        border: none;
        margin-left: 5px;
        transform: translateY(-35%);
        transform: rotate(0deg);
        width: 16px;
        height: 13px;
        display: inline-flex;
      }
    }
    hr {
      margin: 10px 0;
      border: 1px solid #e7e7e7;
      hr :last-child {
        display: none;
        border: none;
      }
    }
  }

  .container-fluid {
    &.max-width--1024 {
      padding-top: 0;

      @include allmobiles {
        padding-top: 80px;
        padding-bottom: 60px;
      }
    }
  }

  .portfolio-allocation-details {
    .portfolio-allocation-details__container {
      margin: 0 291px 0 0;
      font-family: $muli-regular;
      font-size: 14px;
      color: #000000;
      color: $white-color;
      border-radius: 6px;
    }
  }
}
