@import '../../../../variables';
@import '../../../../mixins';

app-portfolio-details {
  .container-fluid {
    @include allmobiles {
      padding-right: 15px !important;
      padding-left: 15px !important;
      padding-bottom: 66px !important;
    }
  }

  .portfolio-allocation-details {
    .portfolio-allocation-details__container {
      color: $portfolio-allocation-container-txt-color;
      border-radius: 6px;

      .portfolio-allocation-details__content {
        margin-bottom: 10px;
        border-radius: 6px;

        @include allmobiles {
          margin-bottom: 10px;
        }

        .portfolio-allocation-details__content__desc {
          .portfolio_img {
            text-align: center;
            padding-top: 30px;

            img {
              width: 80px;
              height: 80px;
            }
          }

          .portfolio-allocation-details__content__block {
            color: $portfolio-allocation-content-txt-color;
            background-color: $portfolio-allocation-content-bg-color;
            font-size: 18px;
            line-height: 1.5;
            letter-spacing: -0.14px;
            text-align: center;
            border-radius: 3px;
            padding: 20px 48px;

            @include allmobiles {
              font-size: 14px;
              padding: 20px 30px;
            }

            strong {
              font-family: $muli-bold;
            }
          }
        }

      }

      .review-edit {
        justify-content: center;
        align-items: center;
        font-family: $muli-semi-bold;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -0.2px;
        color: $portfolio-allocation-review-txt-color;
        background-color: $portfolio-allocation-review-bg-color;
        border-radius: 0 0 6px 6px;
        padding: 20px;
        cursor: pointer;

        .edit_button {
          background: url('/assets/images/edit-icon.svg') no-repeat;
          display: inline-flex;
          margin-left: 12px;
          width: 23px;
          height: 23px;
        }
      }
    }
  }

  .asset-allocation {
    margin-top: 30px;

    .title {
      font-family: $muli-bold;
      font-size: 19px;
      letter-spacing: -0.4px;
      color: $asset-allocation-title-txt-color;
      padding-bottom: 14px;
    }
  }

  .faq_link {
    font-family: $muli-semi-bold;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.2px;
    text-align: center;
    padding: 21px 0 75px;

    @include allmobiles {
      padding: 21px 0 50px;
    }

    a {
      color: $white-color;
      text-decoration: underline;
    }
  }

  .review-block {
    padding: 20px 35px;
    background-color: $review-block-bg;
    font-family: $muli-bold;
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: -0.2px;
    text-align: center;
    color: $white-color;
    margin-bottom: 30px;

    @include allmobiles {
      margin-bottom: 0;
    }
  }

  .btn__footer--fixed {
    margin-top: 0 !important;
    font-family: $muli-bold !important;
    font-size: 24px;
  }

  hr {
    border-color: $teal-color;
    margin: 0;
  }

  .recommend-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 0 !important;
    left: 0;
    z-index: 999;
    background-color:  $recommend-footer-bg-color;
    padding: 15px 30px !important;

    .footer-content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 0 !important;
      padding-bottom: 0 !important;

      .btn-primary {
        font-size: 22px;
        padding: 10px 20px;
      }
    }

    .text-one {
      font-family: $muli-bold;
      font-size: 18px;
      line-height: 1.44;
      letter-spacing: -0.2px;
      color: $recommend-footer-txt1-color;
      padding-bottom: 5px;
    }
  }
}
