@import '../../../variables';
@import '../../../mixins';

// app-portfolio-recommendation {
  

//   //  iadd for reference//
//   .portfolio-allocation-details {
//     padding-top:80px;
//     // margin-top:70px;
//     .container-fluid {
//       padding-top: 0px;
//       padding-bottom: 0px;
//     }

//     .fin-accessment-block__tab-container {
//       @extend .flex;
//       @extend .space-btwn;
//       width: 100%;

//       .fin-accessment-block__tab {
//         width: calc(50% - 10px);
//         opacity: 0.2;
//         padding-right: 10px;
//         background-color: $app-backgrnd-secondary-color;
//         min-height: 5px;

//         &.active {
//           opacity: 1;
//         }
//       }
//     }

//     .portfolio-allocation-details__content {
//       @include tablet {
//         .banner-image img {
//           max-width: 90%;
//           margin: 20px
//         }
//       }

//       @include allmobiles {
//         .banner-image img {
//           max-width: 70%;
//           margin: 20px
//         }
//       }

//       @include iPadProPortrait {
//         .banner-image img {
//           max-width: 80%;
//           margin: 20px
//         }
//       }
//     }

//     .portfolio-allocation-details__content__desc {

//       // margin-top: 100px;
//       // text-align: left;
//       @include allmobiles {
//         margin-top: 16px;
//       }

//       @include tablet {
//         margin-top: 30px;
//       }
//     }

//     .portfolio-allocation-details__content__title {
//       font-family: $muli-bold;
//       font-size: 24px;
//       letter-spacing: -0.3px;
//       color: $white-color;
//       font-weight: bold;
//     }

//     .btn-proceed {
//       width: 179px;
//       height: 60px;
//       border: 0px;
//       border-radius: 6px;
//       background-color: $white-color;
//       box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.21);
//       font-size: 22px;
//       text-align: center;
//       color: $app-backgrnd-color;
//       cursor: pointer;

//       @include allmobiles {
//         position: fixed;
//         width: 100%;
//         bottom: 0px;
//         left: 0px;
//         border-radius: 0px;
//       }
//     }
//   }

//   // i added for reference//
//   .edit_button {
//     background: url("../../../assets/images/edit_button.svg") no-repeat;
//     cursor: pointer;
//     display: inline-flex;
//     margin-left: 12px;
//     width: 18px;
//     height: 18px;
//   }

//   .amount {
//     font-family: $muli-light;
//     font-size: 48px;
//     text-align: center;
//     color: #ffffff;
//   }

//   .years {
//     font-family: $muli-regular;
//     font-size: 18px;
//     text-align: center;
//     color: #ffffff;
//   }

//   .project_returns {
//     background-color: #25898f;
//     padding: 12px;

//     .Projected_title {
//       font-size: 16px;
//       line-height: 1.31;
//       letter-spacing: -0.2px;
//       text-align: center;
//       color: #98dfdf;
//     }

//     .Projected_money {
//       font-family: $muli-bold;
//       font-size: 24px;
//       font-weight: bold;
//       letter-spacing: -0.3px;
//       text-align: center;
//       color: #ffffff;
//     }

//     .tooltip-icon {
//       background: url("../../../assets/images/tooltip-icon.svg") no-repeat;
//       height: 20px;
//       width: 20px;
//       cursor: pointer;
//       display: inline-block;
//     }

//     .whats_risk {
//       font-family: $muli-regular;
//       font-size: 14px;
//       text-align: center;
//       color: #98dfdf;
//       text-decoration: underline;
//     }
//   }


//   .allocation-container {
//     width: 100%;
//     background-color: #2d8289;
//     padding-top:30px;
//     padding-bottom:150px;
//   }

//   .allocation-content {
//     padding: 20px;
//     background-color: #fff;
//     border-radius: 8px;
//     color: #333;
//   }

//   .breakdown-title{
//     font-size:15px;
//     color:$text-color-secondary;
//     margin-bottom:5px;
//   }
//   a.link-white {
  
//     text-decoration: underline;
// }

// }

app-portfolio-recommendation {
  .container-fluid{
    @include allmobiles{
      padding-right: 15px !important;
      padding-left: 15px !important;
      padding-bottom: 66px;
    }
  }
  .portfolio-allocation-details {
    .portfolio-allocation-details__container {
      color: $white-color;
      border-radius: 6px;
      box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.14);
      background-color: #00717e;
      .portfolio-allocation-details__content{
        padding: 20px 0px;
        .portfolio-allocation-details__content__desc {
          padding: 0 15px;
          .portfolio-allocation-details__content__block{
            font-size: 14px;
            font-weight: bold;
            line-height: 1.5;
            letter-spacing: -0.1px;
            text-align: center;
            border-radius: 3px;
            background-color: #008b90;
            padding: 18px 16px 8px;
            strong{
              font-family: $muli-bold;
            }
          }
         
        }
      }
     
      .portfolio-type-details{
        font-family: $muli-italic;
        font-size: 16px;
        font-style: italic;
        line-height: 1.31;
        letter-spacing: -0.1px;
        color: #ffffff;
        .portfolio-type-details-title{
          font-family: $muli-bold;
          font-size: 24px;
          font-weight: bold;
          font-style: normal;
          line-height: 0.88;
          letter-spacing: -0.3px;
          padding-bottom: 11px;
        }
        .portfolio-type-details-desc{
          color: #b3d6d6;
        }
      }

      .portfolio-graph-block{
        margin-top:28px;
        .portfolio-graph-container{
          font-family: $muli-bold;
          font-size: 18px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #ffffff;
          padding-top: 60px;
          position: relative;
          .graph{
            width: 315px;
            height: 205px;
            margin: 0 auto;
            img{
              max-width: 100%;
              height: auto;
              margin: 0;
            }
          }
          .graph_values{
            position: absolute;
            top: 0px;
            span{
              padding: 23px 10px 7px;
            }
          }
          .time-lapse{
            justify-content: space-between;
            font-family: $muli-regular;
            font-size: 13px;
            line-height: 1.23;
            letter-spacing: -0.2px;
            padding-top: 9.8px; 
            span{
              &:last-child{
                font-family: $muli-bold;
              }
            }
          }
        }
      }
      .portfolio-graph-indicator{
        padding-top: 35px;
        font-family: $muli-italic;
        font-size: 14px;
        font-style: italic;
        letter-spacing: -0.1px;
        color: #b3d6d6;
        .indicators{
          justify-content: space-evenly;
          margin: 0 auto;
          .flex-row{
            align-items: center;
          }
          .circle{
            width: 12px;
            height: 12px;
            border-radius: 50%;
            margin-right: 8px;
            &.best{
              background-color: #55ffa0;
            }
            &.median{
              background-color: #00d42f;
            }
            &.worst{
              background-color: #015168;
            }
          }
        }
        .capital{
          justify-content: center;
          padding-top: 10px;
          padding-bottom: 31px;
          span{
            &:first-child{
              color: #ff9600;
              padding-right: 5px;
            }
          }
        }
        .desc{
          font-size: 13px;
          line-height: normal;
          padding-bottom: 10px;
          strong{
            font-weight: bold;
          }
        }
      }
      .review-edit{
        justify-content: center;
        align-items: center;
        font-family: $muli-semi-bold;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.2px;
        .edit_button {
          background: url("../../../assets/images/edit_button.svg") no-repeat;
          cursor: pointer;
          display: inline-flex;
          margin-left: 12px;
          width: 18px;
          height: 18px;
        }
      }
    }
  }
  .asset-allocation{
    margin-top: 33px;
    .title{
      font-family: $muli-bold;
      font-size: 21px;
      font-weight: bold;
      letter-spacing: -0.4px;
      color: #ffffff;
      padding-bottom: 14px;
    }
    
    .bond_container{
      border-radius: 6px;
      box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.14);
      background-color: #f4fafb;
      .bonds_equity_block{
        padding: 15px;
        .bond_progress_container{
          font-family: $muli-semi-bold;
          font-size: 16px;
          font-weight: 600;
          line-height: 1.44;
          letter-spacing: -0.3px;
          color: #00a7a7;
          padding: 18px 0 12px;
          .equity_bar{
            justify-content: space-between;
            align-items: center;
            .flex-col-8{
              max-width: 195px;
            }
          }
          .bond_bar{
            justify-content: space-between;
            align-items: center;
            padding-top: 16px;
            .flex-col-8{
              max-width: 195px;
            }
          }
          .bar{
            height: 12px;
          }
        }
        .bonds_equity{
          margin-top: 10px;
          .bonds_equity_title{
            border-radius: 6px;
            // border-top-left-radius: 6px;
            // border-top-right-radius: 6px;
            background-color: #009999;
            border: 1px solid #00a7a7;
            color: #ffffff;
            padding: 14px 20px 13px;
            font-family: $muli-bold;
            font-size: 18px;
            font-weight: bold;
          }
          .card{
            border: none;
            border-bottom-right-radius:6px;
            border-bottom-left-radius:6px; 
            .card-header {
              display: none;
              .btn{
                color: #ffffff;
              }
            }
            .card-body{
              padding: 0;
              margin-bottom: 32px;
              border-bottom-left-radius: 6px;
              border-bottom-right-radius: 6px;
              border: 1px solid #50c2c2;
              div{
                &:last-child{
                  border-bottom: none;
                }
              }
            }
          }
          .bond_desc{
            color: #000000;
            border-bottom: 1px solid #00a7a7;
            &:first-child{
              .rating_type{
                border-right: none;
              }
            }
            .rating_type{
              padding: 16px 17px 13px;
              border-right: 1px solid #00a7a7;
              display: flex;
              align-items: center;
            }
            .rating{
              font-family: $muli-regular;
              font-size: 14px;
              line-height: 1.64;
              letter-spacing: -0.1px;
              padding: 10px 9px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              .flex-row{
                justify-content: space-between;
              }
              .rating_value{
                font-weight: bold;
                color: #00a7a7;
                font-family: $muli-bold;
              } 
            }
          }
        }
      }
      .btn-view{
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.2px;
        color: #ff9c39;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background-color: #f4fafb;
      }
    }
  }
  .annual-fees{
    padding-top: 33px;
    .title{
      font-family: $muli-bold;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: -0.3px;
      padding-bottom: 14px;
    }
    .annual-fee-desc{
      border-radius: 6px;
      box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.21);
      background-color: #f4fafb;
      padding: 26px;
      font-family: $muli-regular;
      font-size: 14px;
      letter-spacing: -0.1px;
      color: #000000;
      .flex-row{
        justify-content: space-between;
        padding-bottom: 18px;
        &:last-child{
          font-family: $muli-bold;
          padding-bottom: 0;
        }
        .flex-col{
          .text-lyt{
            font-size: 13px;
            color: #5e5e5e;
          }
        }
        .fee_value{
          color: #00a7a7;
          font-weight: bold;
        }
      }
    }
  }
  .faq_link{
    font-family: $muli-semi-bold;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.2px;
    text-align: center;
    padding: 21px 0 19px;
    a{
      color: #ffffff;
      text-decoration: underline;
    }
  }
  .review-block{
    padding: 18px;
    background-color: #009999;
    font-family: $muli-bold;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.44;
    letter-spacing: -0.2px;
    text-align: center;
    color: #ffffff;
    .review-italic{
      font-family: $muli-italic;
      font-size: 11px;
      font-style: italic;
      line-height: 1.36;
      letter-spacing: -0.1px;
      color: #b3d6d6;
      padding-top:10px;
    }
  }
   .btn__footer--fixed{
     margin-top: 0 !important;
     font-family: $muli-bold !important;
     font-size: 24px;
   }
   hr{
    border-color: #00a7a7;
    margin: 0;
  }
}