<!-- om -->
<!-- risk-profile-block -->
<!-- portfolio-allocation-details -->
<div class="portfolio-allocation-details">

  <div class="portfolio-allocation-details__content" *ngIf="portfolio">
    <div class="flex-row">

      <div class="flex-col-12 portfolio-allocation-details__content__desc">

        <div class="portfolio-allocation-details__content__title mb10 text-center" id="portfolioRecommenadtionTitle">{{selectedRiskProfile.riskProfileName}}
           {{'PORTFOLIO_RECOMMENDATION.PORTFOLIO' | translate}}
          <div id="portfolioRecommenationEditBtn"  class="edit_button " (click)="showEditModal()"></div>
        </div>

        <div class="amount flex-col-12  text-center" id="portfolioRecommenadtionProjtValue">{{portfolio.projectedValue |
          currency:'USD':'symbol-narrow':'1.0-2'}}</div>
        <div class="years flex-col-12 mb10  text-center" id="portfolioRecommenadtionYearsValue">{{'PORTFOLIO_RECOMMENDATION.PROJECTED_PORTF_VALUE'
          | translate}}
          <u>{{portfolio.tenure}}</u> {{'PORTFOLIO_RECOMMENDATION.YEARS' | translate}}</div>

        <div class="project_returns  text-center">
          <div class="container-fluid">
            <div class="flex-col-12">
              <div class="Projected_title" id="portfolioRecommenadtionProjectRetrsContent">
                {{'PORTFOLIO_RECOMMENDATION.PROJECTED_RETURNS' | translate}}
              </div>
            </div>
            <div class="flex-col-12">
              <div class="Projected_money" id="portfolioRecommedationProjectRetrsValue">{{portfolio.projectedReturns}}
                <div class="tooltip-icon"  id="portfoliorecommedationHelpIcon" (click)="showHelpModal()"></div>

              </div>
             
              <a  class="whats_risk"  id="portfolioRecommeationWhatsRiskLink" (click)="showWhatTheRisk()">{{'PORTFOLIO_RECOMMENDATION.WHATS_THE_RISK' |
                translate}}</a>
                <!-- <a href="#" class="link-white" (click)="requestNewCode($event)">Request New Code</a> -->
            </div>
          </div>
        </div>

        <div class="allocation-container">
          <div class="container-fluid">
            <div class="flex-col-12">
              <div class="allocation-content">
                <div *ngIf="portfolio">
                  <div class="breakdown-title" id="portfolioRecommenationAccordtionTitle"> {{'PORTFOLIO_RECOMMENDATION.ASSET_ALLOCATION_BREAKDOWN' | translate}}</div>
                  <app-breakdown-bar [allocation]="portfolio.breakDown" [activeIndex]="breakdownSelectionindex"
                    [colors]="legendColors" (selectAllocationBar)="selectAllocation($event)"></app-breakdown-bar>
                  <app-breakdown-accordion [allocation]="portfolio.breakDown" [activeIndex]="breakdownSelectionindex"
                    [colors]="legendColors" (selectAllocationAccordion)="selectAllocation($event)" (selectFundDetails)="viewFundDetails($event)"></app-breakdown-accordion>
                </div>
              </div>
            </div>
          </div>
        </div>



        <button type="button"  (click)="goToNext()" class="btn btn__footer--fixed btn-ftr-get-started btn-primary width100"
          id="portfolioRecommendationNextBtn">{{ 'LABEL.SET_UP_INVESTMENT_ACCOUNT' | translate}}</button>
      </div>
    </div>
  </div>
</div>
