@import '../../../variables';
@import '../../../mixins';
app-portfolio-recommendation {
  .container-fluid {
    @include allmobiles {
      padding-right: 15px !important;
      padding-left: 15px !important;
      padding-bottom: 66px;
      padding-top: 125px;
    }
  }
  .portfolio-allocation-details {
    .portfolio-allocation-details__container {
      color: $white-color;
      border-radius: 6px;
      box-shadow: 0 10px 14px 0 $portfolio-allocation-details-shadow;
      background-color: $portfolio-allocation-details-bg;
      .portfolio-allocation-details__content {
        padding: 20px 0px;
        .portfolio-allocation-details__content__desc {
          padding: 0 15px;
          .portfolio-allocation-details__content__block {
            font-size: 14px;
            line-height: 1.5;
            letter-spacing: -0.14px;
            text-align: center;
            border-radius: 3px;
            background-color: $portfolio-allocation-details-content-color;
            padding: 20px 15px;
            strong {
              font-family: $muli-bold;
            }
          }
        }
      }
      .review-edit {
        justify-content: center;
        align-items: center;
        font-family: $muli-semi-bold;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.2px;
        color: $review-text-color;
        .edit_button {
          background: url('../../../assets/images/edit-icon.svg') no-repeat;
          cursor: pointer;
          display: inline-flex;
          margin-left: 12px;
          width: 23px;
          height: 23px;
        }
      }
    }
  }
  .asset-allocation {
    margin-top: 33px;
    .title {
      font-family: $muli-bold;
      font-size: 21px;
      font-weight: bold;
      letter-spacing: -0.4px;
      color: $white-color;
      padding-bottom: 14px;
    }
  }
  .faq_link {
    font-family: $muli-semi-bold;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.2px;
    text-align: center;
    padding: 21px 0 50px;
    a {
      color: $white-color;
      text-decoration: underline;
    }
  }
  .review-block {
    padding: 20px 35px;
    background-color: $review-block-bg;
    font-family: $muli-bold;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.44;
    letter-spacing: -0.2px;
    text-align: center;
    color: $white-color;
    margin-bottom: 30px;
    @include allmobiles{
      margin-bottom: 0;
    }
    .review-italic {
      font-family: $muli-italic;
      font-size: 11px;
      font-style: italic;
      line-height: 1.36;
      letter-spacing: -0.1px;
      color: $review-text-color;
      padding-top: 10px;
    }
  }
  .btn__footer--fixed {
    margin-top: 0 !important;
    font-family: $muli-bold !important;
    font-size: 24px;
  }
  hr {
    border-color: $teal-color;
    margin: 0;
  }
}
