<div class="container-fluid">
  <div class="content">
    <div class="row">
      <div class="col-lg-7 col-md-6 hidden-sm-md">
        <div>
          <h2>{{ pageTitle }}</h2>
          <h6>{{ 'GET_STARTED.DESCRIPTION' | translate}}</h6>
          <div class="banner-image">
              <img src="assets/images/get-started-image.svg" />
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-6">
        <app-get-started-form></app-get-started-form>
      </div>
    </div>
  </div>
</div>


