<div class="container-fluid max-width--1024">
  <div class="content">
    <div class="row">
      <div class="col-lg-7 col-md-6 hidden-sm-md">
        <div>
          <h2 id="getStrdH2">{{ pageTitle }}</h2>
          <h6 id="getStrdH6">{{ 'GET_STARTED.DESCRIPTION' | translate}}</h6>
          <div class="banner-image">
              <img src="assets/images/guide-me/get-started-image.svg" id="getStrdImgBnr" />
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-6">
        <app-get-started-form></app-get-started-form>
      </div>
    </div>
  </div>
</div>


