@import '../../../variables';
app-add-bank-modal {
  .add-bank-modal {
    font-family: $muli;
    .dropdown-control {
      position: relative;
    }
    .modal-body .form-group {
      label {
        font-family: $muli-semi-bold;
        font-size: 18px;
        font-weight: 600;
        padding-right: 15px;
        color: #2d8289;
      }
    }
    .form-control{
      .input-control {
        text-align: left;
      }
      &.input-control {
        text-align: left;
        &.disabled{
          font-size: 16px;
          cursor: not-allowed;
          font-size: 16px;
          font-family: $muli-regular;
          color: $teal-color !important;
          -webkit-text-fill-color: $teal-color !important;
          background-color: $edit-acnt-disable-bg !important;
          border: 1px solid $edit-acnt-disable-brdr !important;
        }
      }
    } 
    .dropdown-control .dropdown-menu.show {
      right: 0 !important;
      overflow: auto;
    }
    .dropdown-item {
      white-space: normal;
    }
    .dropdown-control {
      .btn-dropdown {
        color: $teal-color;
      }
      position: relative;
      position: relative;
      background: $white-color;
      cursor: pointer;
      .dropdown-toggle {
        padding: 0.9rem;
        &:disabled {
          cursor: not-allowed;
          &:hover {
            background-color: transparent !important;
          }
        }
      }
    }
    .regulations {
      font-family: $muli-regular;
      font-size: 13px;
      line-height: 1.38;
      letter-spacing: -0.1px;
      color: $text-color-secondary;
    }
    .btn {
      &.btn-primary {
        font-size: 24px;
        font-family: $muli-bold;
      }
    }
  }
   [placeholder]:empty::before {
  content: attr(placeholder);

   color: $text-color-secondary
}

[placeholder]:empty:focus::before {
  content: "";
}
  .content-editable {
    border: 1px solid #94CCCC;
    border-radius: 6px;
    padding: .90rem;
    background: $white-color;
    color: $app-backgrnd-color;
    word-break: break-word;
    min-height: 52px;
    &.view-mode {
      background-color: rgba(0, 167, 167, 0.15) !important;
    }
    &.inline-error {
      color: #e57300 !important;
      background: #fff3e9;
      &[placeholder]:empty::before {
        color: #e57300 !important;
      }
    }
}
}
