<div class="content">
  <div class="container-fluid max-width--1024 post-login-dashboard">
    <div class="welcome-user">
      <div class="flex-row">
        <div class="flex-col-12" *ngIf="userProfileInfo">
          <div class="widget-block">
            <div class="user-profile-bg col-12">
              <div>{{'DASHBOARD.PROFILE.WELCOME' | translate}}</div>
              <div class="user_name">{{userProfileInfo.firstName | titlecase}}</div>
              <span (click)="goToEditProfile()">
                <span class="user-edit-img">
                  <img id="edit_profile_edit_img" src="assets/images/investment-account/edit-white.svg" />
                </span>
                <span class="txt-lyt">{{'DASHBOARD.PROFILE.EDIT_PROFILE' | translate}}</span>
              </span>
            </div>
            <div class="announcement-div" (click)="openSRSJointAccPopup()">
              <img class="announcement-img" src="assets/images/srs-joint-account/speaker.svg" >
              <div class="announcement-txt">{{'DASHBOARD.SRS_JOINT_ACCOUNT.FIND_OUT_MORE' | translate}}</div>
            </div>
          </div>
          <div class="widgets">
            <div class="widget insurance" *ngIf="showInsuranceSection">
              <div class="widget-title">
                <span class="flex">{{'DASHBOARD.INSURANCE.TITLE' | translate}}</span>
              </div>
              <div class="widget-body">
                <div class="scenarios flex-col-12">
                  <div class="start col-12">
                    <div class="warning-txt">
                      <div class="flex-col-8">
                        <span *ngIf="!insurance.hasInsurance">{{'DASHBOARD.INSURANCE.NO_INSURANCE_DESC' | translate}}</span>
                        <span *ngIf="insurance.hasInsurance">{{'DASHBOARD.INSURANCE.INSURANCE_DESC' | translate}} {{
                            insurance.lastTransactionDate | date: 'dd MMM yyyy'}}.</span>
                      </div>
                      <div class="flex-col-4">
                        <div class="investment_icon">
                          <img src="assets/images/insure-dash.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="flex">
                      <button type="button" class="btn btn-primary col-12"  *ngIf="!insurance.isGuidedJourney"  routerLink="/guideme">
                        <div>{{'DASHBOARD.INSURANCE.ASSESS_MY_NEEDS' | translate}}</div>
                        <div>{{'DASHBOARD.INSURANCE.ESTIMATED_MINS' | translate}}</div>
                      </button>
                      <button type="button" class="btn btn-ghost col-12"  *ngIf="insurance.isGuidedJourney" routerLink="/guideme">
                        {{'DASHBOARD.INSURANCE.REASSESS_MY_NEEDS' | translate}}
                      </button>
                    </div>
                    <div class="find-plan"><a routerLink="/direct">{{'DASHBOARD.INSURANCE.DIRECT_JOURNEY' | translate}}</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="widget" *ngIf="isInvestmentEnabled">
              <div class="widget-title">
                <span class="flex">{{'DASHBOARD.INVESTMENT.TITLE_INVESTMENT' | translate}}
                  <!-- <img src="assets/images/investment-account/inline-error.svg" /> -->
                </span>
                <span class="view_all" *ngIf="showPortfolioPurchased" (click)="goToInvOverview()">{{'DASHBOARD.INVESTMENT.VIEW'
                  | translate}}<span *ngIf="userProfileInfo?.investementDetails?.portfolios?.length > 1"> ({{userProfileInfo?.investementDetails?.portfolios?.length}})</span></span>
              </div>
              <div class="widget-body">
                <div class="scenarios flex-col-12">
                  <!-- parchased portfolio -->
                  <div class="portfolio" *ngIf="showPortfolioPurchased">
                    <div class="portfolio_value">
                      <div>{{'DASHBOARD.INVESTMENT.TOTAL_PORTFOLIO' | translate}}</div>
                      <div class="value">{{totalValue | currency:'USD':'symbol-narrow':'1.0-2'}}</div>
                    </div>
                    <div class="portfolio_graph"></div>
                    <div class="portfolio_footer">
                      <div class="flex-col col-5" *ngIf="userProfileInfo.investementDetails.showTotalReturn">
                        <div>{{'DASHBOARD.INVESTMENT.TOTAL_RETURNS' | translate}}</div>
                        <div [class.negativeValue]="this.userProfileInfo.investementDetails.totalReturns < 0" class="portfolio_footer_value">
                          {{formatReturns(totalReturns)}}{{totalReturns | number : '1.0-2'}}%</div>
                      </div>
                      <div class="flex-col col-7" [ngClass]="{'col-12': !userProfileInfo.investementDetails.showTotalReturn}">
                        <div>{{'DASHBOARD.INVESTMENT.CASH_ACCOUNT_BALANCE' | translate}}</div>
                        <div class="portfolio_ref_code" (click)="showTransferInstructionModal()" *ngIf="userProfileInfo.investementDetails && userProfileInfo.investementDetails.account">(<span class="portfolio_ref_code_text">{{'DASHBOARD.INVESTMENT.REF_CODE' | translate}}{{userProfileInfo.investementDetails.account.refNo}}</span>)</div>

                        <div class="portfolio_footer_value">
                          {{availableBalance | currency:'USD':'symbol-narrow':'1.0-2'}}</div>
                      </div>
                    </div>
                  </div>
                  <!--  STEP-1 PORTFOLIO -->
                  <div class="no_account col-12" *ngIf="showStartInvesting">
                    <div class="warning-txt">
                      <div class="flex-col-8">
                        {{'DASHBOARD.INVESTMENT.CREATE_YOUR_PORTFOLIO_DESC' | translate}}</div>
                      <div class="flex-col-4">
                        <div class="investment_icon">
                          <img src="assets/images/investment-account/investment-icon.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="flex">
                      <button (click)="goToEngagement()" type="button" class="btn btn-primary col-12">
                        <div>{{'DASHBOARD.INVESTMENT.START_INVESTING' | translate}}</div>
                        <div>{{'DASHBOARD.INVESTMENT.ESTIMATED_MINS' | translate}}</div>
                      </button>
                    </div>
                  </div>
                  <!-- Pending Documents Upload -->
                  <div class="warning col-12" *ngIf="showInvestmentDetailsSaved">
                    <div class="warning-txt">
                      <div class="flex-col-8">{{'DASHBOARD.INVESTMENT.PENDING_DOC_UPLOAD_DESC' | translate}}</div>
                      <div class="flex-col-4">
                        <div class="investment_icon">
                          <img src="assets/images/investment-account/investment-icon.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="flex">
                      <button type="button" (click)="goToDocUpload()" class="btn btn-ghost col-12">{{'DASHBOARD.INVESTMENT.UPDATE'
                        | translate}}</button>
                    </div>
                  </div>
                  <!-- CDD CHECK IS ONGOING EDD ONGOING -->
                  <div class="pending col-12" *ngIf="showCddCheckOngoing">
                    <div class="warning-txt">
                      <div class="flex-col-8">{{'DASHBOARD.INVESTMENT.CDD_CHECK_ONGOING' | translate}}</div>
                      <div class="flex-col-4">
                        <div class="investment_icon">
                          <img src="assets/images/investment-account/investment-icon.svg" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- CDD CHECKFAIL -->
                  <div class="verify col-12" *ngIf="showCddCheckFail">
                    <div class="warning-txt">
                      <div class="flex-col-8">{{'DASHBOARD.INVESTMENT.CDD_CHECK_FAIL_DESC' | translate}}</div>
                      <div class="flex-col-4">
                        <div class="investment_icon">
                          <img src="assets/images/investment-account/investment-icon.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="flex">
                      <button type="button" (click)="verifyCustomerDetails()" class="btn btn-ghost col-12">
                        {{'DASHBOARD.INVESTMENT.VERIFY_DETAILS' | translate}}</button>
                    </div>
                  </div>
                  <!-- RECOMMEND -->
                  <div class="set-up col-12" *ngIf=showSetupAccount>
                    <div class="warning-txt">
                      <div class="flex-col-8">{{'DASHBOARD.INVESTMENT.SETUP_YOUR_ACCOUNT_DESC' | translate}}</div>
                      <div class="flex-col-4">
                        <div class="investment_icon">
                          <img src="assets/images/investment-account/investment-icon.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="flex">
                      <button type="button" (click)="goToInvestmentAccount()" class="btn btn-ghost col-12">
                        {{'DASHBOARD.INVESTMENT.SET_UP_ACCOUNT' | translate}} </button>
                    </div>
                  </div>
                  <!-- Suspended Account -->
                  <div class="suspended col-12" *ngIf=showSuspendedAccount>
                    <div class="warning-txt">
                      <div class="flex-col-8" innerHTML="{{'DASHBOARD.INVESTMENT.SUSPENDED_INVESTMENT_ACCOUNT' | translate}}"> </div>
                      <div class="flex-col-4">
                        <div class="investment_icon">
                          <img src="assets/images/investment-account/investment-icon.svg" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Blocked nationality -->
                  <div class="compliance col-12" *ngIf=showBlockedNationalityStatus>
                    <div class="warning-txt">
                      <div class="flex-col-8" innerHTML="{{'DASHBOARD.INVESTMENT.UNSUCCESSFUL_INVESTMENT_ACCOUNT' | translate}}"></div>
                      <div class="flex-col-4">
                        <div class="investment_icon">
                          <img src="assets/images/investment-account/investment-icon.svg" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Compliance Rejected Account or EDD check fail  -->
                  <div class="compliance col-12" *ngIf=showEddCheckFailStatus>
                    <div class="warning-txt">
                      <div class="flex-col-8" innerHTML="{{'DASHBOARD.INVESTMENT.UNSUCCESSFUL_INVESTMENT_ACCOUNT' | translate}}"></div>
                      <div class="flex-col-4">
                        <div class="investment_icon">
                          <img src="assets/images/investment-account/investment-icon.svg" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- THIS SENARIO IS NOT COVERED  -->
                  <div class="no_portfolio col-12" *ngIf="false">
                    <div class="warning-txt">
                      <div class="flex-col-8">
                        {{'DASHBOARD.INVESTMENT.CREATE_YOUR_PORTFOLIO_DESC' | translate}}</div>
                      <div class="flex-col-4">
                        <div class="investment_icon">
                          <img src="assets/images/investment-account/investment-icon.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="flex">
                      <button type="button" class="btn btn-primary col-12">
                        <div>{{'DASHBOARD.INVESTMENT.ADD_PORTFOLIO' | translate}}</div>
                        <div>{{'DASHBOARD.INVESTMENT.ESTIMATED_THREE_MINS' | translate}}</div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End of Investment widget -->
            <div class="widget will-writing" *ngIf="showWillWritingSection">
              <div class="widget-title">
                <span class="flex">{{'DASHBOARD.WILL_WRITING.TITLE' | translate}}
                  <!-- <img src="assets/images/investment-account/inline-error.svg" /> -->
                </span>
                <span class="view_all" *ngIf="wills.completedWill" (click)="redirectTo('edit')">{{'DASHBOARD.WILL_WRITING.EDIT_WILL'
                  | translate}}</span>
              </div>
              <div class="widget-body">
                <div class="scenarios flex-col-12">
                  <!-- will-writing -->
                  <div class="start col-12">
                    <div class="warning-txt">
                      <div class="flex-col-8">
                        <span *ngIf="!wills.hasWills">{{'DASHBOARD.WILL_WRITING.CREATE_YOUR_WILL_DESC' | translate}}</span>
                        <span *ngIf="wills.hasWills && !wills.completedWill">{{'DASHBOARD.WILL_WRITING.CONTINUE_WILL_DESC'
                          | translate}}</span>
                        <span *ngIf="wills.hasWills && wills.completedWill">{{'DASHBOARD.WILL_WRITING.EXISTING_WILL_DESC'
                          | translate}}</span>
                      </div>
                      <div class="flex-col-4">
                        <div class="investment_icon">
                          <img src="assets/images/will-writing/will-dash.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="flex">
                      <button type="button" class="btn btn-primary col-12" *ngIf="!wills.hasWills" (click)="redirectTo('start')">
                        <div>{{'DASHBOARD.WILL_WRITING.START_WRITING' | translate}}</div>
                        <div>{{'DASHBOARD.WILL_WRITING.ESTIMATED_TIME' | translate}}</div>
                      </button>
                      <button type="button" class="btn btn-primary col-12" *ngIf="wills.hasWills && !wills.completedWill"
                        (click)="redirectTo('edit')">
                        <div>{{'DASHBOARD.WILL_WRITING.CONTINUE_WRITING' | translate}}</div>
                      </button>
                      <button type="button" class="btn btn-ghost col-12" *ngIf="wills.hasWills && wills.completedWill"
                        (click)="downloadWill()">
                        <div>{{'DASHBOARD.WILL_WRITING.DOWNLOAD_WILL' | translate}}</div>
                        <div>{{'DASHBOARD.WILL_WRITING.LAST_UPDATED' | translate}}
                          {{ wills.lastUpdated| date: 'dd MMM yyyy'}}</div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
