<div class="toast-msg-fixed-block toast-msg-top-space-dashboard" *ngIf="showFixedToastMessage">
  <div class="toast-msg-container">
    <div class="flex-col-1">
      <img src="assets/images/icon_tick_white.svg" alt="" />
    </div>
    <div class="flex-col-11">
      <div class="toast-msg">{{'DASHBOARD.TOAST_MESSAGE' | translate}}</div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid max-width--1024 post-login-dashboard">
    <div class="welcome-user">
      <div class="flex-row">
        <div class="flex-col-12" *ngIf="userProfileInfo">
          <div class="widget-block">
            <!--for desktop-->
            <div class="hidden-sm-md">
              <div class="user-profile-bg col-12 mb10">
                <div>{{'DASHBOARD.PROFILE.WELCOME' | translate}}</div>
                <div class="user_name">{{userProfileInfo.firstName | titlecase}}</div>
              </div>
            </div>
            <!--for mobile-->
            <div class="hidden-lg">
              <div class="flex space-btwn align-center">
                <div class="user-profile-bg">
                  <div>{{'DASHBOARD.PROFILE.WELCOME' | translate}}</div>
                  <div class="user_name">{{userProfileInfo.firstName | titlecase}}</div>
                </div>
                <div (click)="goToEditProfile()">
                  <img src="assets/images/profile-icon.svg" />
                </div>
              </div>
            </div>
            <div class="recommended-card-container">
              <div class="recommended-card-title flex">{{'RECOMMENDED_CARD.TITLE' | translate}}
              </div>
              <!--Recommended Card section-->
              <div>
                <app-recommended-card></app-recommended-card>
              </div>
              <!--Recommended Card section /-->
            </div>
          </div>
          <div class="widgets">
            <app-comprehensive-dashboard *ngIf='isComprehensiveEnabled'></app-comprehensive-dashboard>
            <!-- Investment widget Start -->
            <div class="widget">
              <div class="reward-points" [ngClass]="{'grey': !cardCategory.investment[0].isEnabled}"
                *ngIf="getReferralInfo && getReferralInfo.isWelcomeRewardsValid && getReferralInfo.refereeExists"><span
                  *ngIf="!cardCategory.investment[0].isEnabled"><img
                    src="assets/images/refer-friend/gift-icon-grey.svg"></span><span
                  *ngIf="cardCategory.investment[0].isEnabled"><img
                    src="assets/images/refer-friend/gift-icon.svg"></span>${{cardCategory.investment[0].creditValue}}
              </div>
              <ng-container *ngIf="isInvestmentEnabled; else loader">
                <!-- Purchased Investment and WiseSaver Card -->
                <ng-container *ngIf="showPortfolioPurchased">
                  <div ngbDropdown placement="bottom-right" class="widget-title widget-portfolio-title">
                    <span class="flex">{{'DASHBOARD.INVESTMENT.TITLE_INVESTMENT' | translate}}
                    </span>
                    <button type="button" class="btn-with-icon show-sm" id="invest_button"
                      (click)="openInvestMenuModal()"
                      *ngIf="getReferralInfo && !getReferralInfo.isWelcomeRewardsValid && !getReferralInfo.refereeExists">                   
                      <span class="invest-btn-img"><img id="top-up_img"
                          src="assets/images/investment-account/plus-white.svg" alt="" /></span>
                      <span>{{'DASHBOARD.INVESTMENT.INVEST' | translate}}</span>
                    </button>
                    <button id="investMenu" ngbDropdownToggle type="button" class="btn-with-icon hidden-sm"
                      *ngIf="getReferralInfo && !getReferralInfo.isWelcomeRewardsValid && !getReferralInfo.refereeExists">
                      <span class="invest-btn-img"><img id="top-up_img"
                          src="assets/images/investment-account/plus-white.svg" alt="" /></span>
                      <span>{{'DASHBOARD.INVESTMENT.INVEST' | translate}}</span>
                    </button>
                    <div ngbDropdownMenu="investMenu">
                      <button ngbDropdownItem (click)="newPortfolio()">
                        <div class="flex btn-menu-item">
                          <div class="menu-icon"><img src="assets/images/new-portfolio-icon.svg" alt="" /></div>
                          <div>
                            <div>{{'DASHBOARD.INVESTMENT.MENU_LBL_1' | translate}}</div>
                            <div class="sub-text">{{'DASHBOARD.INVESTMENT.MENU_SUB_LBL_1' | translate}}</div>
                          </div>
                        </div>
                      </button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem (click)="existingPortfolio()">
                        <div class="flex btn-menu-item">
                          <div class="menu-icon"><img src="assets/images/existing-portfolio-icon.svg" alt="" /></div>
                          <div>
                            <div>{{'DASHBOARD.INVESTMENT.MENU_LBL_2' | translate}}</div>
                            <div class="sub-text">{{'DASHBOARD.INVESTMENT.MENU_SUB_LBL_2' | translate}}</div>
                          </div>
                        </div>
                      </button>
                    </div>
                  </div>
                  <!-- reward invest btn -->
                  <div ngbDropdown placement="bottom-right" class="invest-btn hidden-sm"
                    *ngIf="getReferralInfo && getReferralInfo.isWelcomeRewardsValid && getReferralInfo.refereeExists">
                    <button type="button" class="btn-with-icon" id="rewardInvestMenu" ngbDropdownToggle>
                      <span>{{'DASHBOARD.INVESTMENT.INVEST' | translate}}</span>
                      <span class="invest-btn-img"><img id="top-up_img"
                          src="assets/images/investment-account/plus-white.svg" alt="" /></span>
                    </button>
                    <div ngbDropdownMenu="rewardInvestMenu">
                      <button ngbDropdownItem (click)="newPortfolio()">
                        <div class="flex btn-menu-item">
                          <div class="menu-icon"><img src="assets/images/new-portfolio-icon.svg" alt="" /></div>
                          <div>
                            <div>{{'DASHBOARD.INVESTMENT.MENU_LBL_1' | translate}}</div>
                            <div class="sub-text">{{'DASHBOARD.INVESTMENT.MENU_SUB_LBL_1' | translate}}</div>
                          </div>
                        </div>
                      </button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem (click)="existingPortfolio()">
                        <div class="flex btn-menu-item">
                          <div class="menu-icon"><img src="assets/images/existing-portfolio-icon.svg" alt="" /></div>
                          <div>
                            <div>{{'DASHBOARD.INVESTMENT.MENU_LBL_2' | translate}}</div>
                            <div class="sub-text">{{'DASHBOARD.INVESTMENT.MENU_SUB_LBL_2' | translate}}</div>
                          </div>
                        </div>
                      </button>
                    </div>
                  </div>
                  <div class="invest-btn show-sm"
                    *ngIf="getReferralInfo && getReferralInfo.isWelcomeRewardsValid && getReferralInfo.refereeExists">
                    <button type="button" class="btn-with-icon" id="invest_button" (click)="openInvestMenuModal()">
                      <span>{{'DASHBOARD.INVESTMENT.INVEST' | translate}}</span>
                      <span class="invest-btn-img"><img id="top-up_img"
                          src="assets/images/investment-account/plus-white.svg" alt="" /></span>
                    </button>
                  </div>
                  <div class="widget-body investment-card">
                    <div class="flex-row widget-portfolio-body">
                      <div class="flex-col-6 border-portfolio-section">
                        <div class="flex total-portfolio-title">
                          {{'DASHBOARD.INVESTMENT.TOTAL_PORTFOLIO_VALUE' | translate}} </div>
                        <div class="flex total-portfolio-value" (click)="goToInvOverview(portfolioCategory.ALL)">
                          {{(investmentsSummary && investmentsSummary.portfolioSummary.overallPortfolioValue ?
                          investmentsSummary.portfolioSummary.overallPortfolioValue : 0) | formatCurrency}}
                          <img src="assets/images/dashboard-arrow.svg" alt="" />
                        </div>
                      </div>
                      <div class="flex-col-6 widget-portfolio-right-section">
                        <div class="flex total-portfolio-title total-portfolio-title-width">
                          {{'DASHBOARD.INVESTMENT.TOTAL_CASH_BALANCE_VALUE' | translate}}<img
                            (click)="showCashAccountPopUp()" src="assets/images/dashboard-help.svg" alt="" /></div>
                        <div class="flex total-portfolio-value">
                          {{(investmentsSummary && investmentsSummary.portfolioSummary.overallCashAccountBalance ?
                          investmentsSummary.portfolioSummary.overallCashAccountBalance : 0) | formatCurrency}}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row widget-portfolio-type-content">
                    <div class="col-md-6" *ngIf="investmentsSummary.portfolioSummary.investmentPortfolio.available">
                      <div class='portfolio-type-box' (click)="goToInvOverview(portfolioCategory.INVESTMENT)">
                        <span class='dashboard-invest-portfolio'></span>
                        <p class='portfolio-type-box-title'>{{'DASHBOARD.INVESTMENT.DIMENSIONAL_PORTFOLIOS' |
                          translate}}
                        </p>
                        <p class='portfolio-type-box-value'>
                          {{(investmentsSummary && investmentsSummary.portfolioSummary.investmentPortfolio &&
                          investmentsSummary.portfolioSummary.investmentPortfolio.totalPortfolioValue ?
                          investmentsSummary.portfolioSummary.investmentPortfolio.totalPortfolioValue : 0) |
                          formatCurrency}}
                        </p>
                        <p class="portfolio-type-cash-balance">{{'DASHBOARD.INVESTMENT.CASH_BALANCE' | translate}}:
                          {{(investmentsSummary && investmentsSummary.portfolioSummary.investmentPortfolio &&
                          investmentsSummary.portfolioSummary.investmentPortfolio.totalCashAccountBalance ?
                          investmentsSummary.portfolioSummary.investmentPortfolio.totalCashAccountBalance : 0) |
                          formatCurrency}}
                        </p>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf="investmentsSummary.portfolioSummary.cpfPortfolio.available">
                      <div class='portfolio-type-box' (click)="goToInvOverview(portfolioCategory.CPF)">
                        <span class='dashboard-cpf-portfolio'></span>
                        <p class='portfolio-type-box-title'>{{'DASHBOARD.INVESTMENT.CPF_PORTFOLIOS' | translate}}
                        </p>
                        <p class='portfolio-type-box-value'>
                          {{(investmentsSummary && investmentsSummary.portfolioSummary.cpfPortfolio &&
                          investmentsSummary.portfolioSummary.cpfPortfolio.totalPortfolioValue ?
                          investmentsSummary.portfolioSummary.cpfPortfolio.totalPortfolioValue : 0) | formatCurrency}}
                        </p>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf="investmentsSummary.portfolioSummary.wiseIncomePortfolio.available">
                      <div class='portfolio-type-box' (click)="goToInvOverview(portfolioCategory.WISEINCOME)">
                        <span class='dashboard-wise-income-portfolio'></span>
                        <p class='portfolio-type-box-title'>{{'DASHBOARD.INVESTMENT.WISE_INCOME_PORTFOLIOS' |
                          translate}}
                        </p>
                        <p class='portfolio-type-box-value'>
                          {{(investmentsSummary && investmentsSummary.portfolioSummary.wiseIncomePortfolio &&
                          investmentsSummary.portfolioSummary.wiseIncomePortfolio.totalPortfolioValue ?
                          investmentsSummary.portfolioSummary.wiseIncomePortfolio.totalPortfolioValue : 0) |
                          formatCurrency}}
                        </p>
                        <p class="portfolio-type-cash-balance">{{'DASHBOARD.INVESTMENT.CASH_BALANCE' | translate}}:
                          {{(investmentsSummary && investmentsSummary.portfolioSummary.wiseIncomePortfolio &&
                          investmentsSummary.portfolioSummary.wiseIncomePortfolio.totalCashAccountBalance ?
                          investmentsSummary.portfolioSummary.wiseIncomePortfolio.totalCashAccountBalance : 0) |
                          formatCurrency}}
                        </p>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf="investmentsSummary.portfolioSummary.wiseSaverPortfolio.available">
                      <div class='portfolio-type-box' (click)="goToInvOverview(portfolioCategory.WISESAVER)">
                        <span class='dashboard-wise-portfolio'></span>
                        <p class='portfolio-type-box-title'>{{'DASHBOARD.INVESTMENT.WISE_SAVER_PORTFOLIOS' | translate}}
                        </p>
                        <p class='portfolio-type-box-value'>
                          {{(investmentsSummary && investmentsSummary.portfolioSummary.wiseSaverPortfolio &&
                          investmentsSummary.portfolioSummary.wiseSaverPortfolio.totalPortfolioValue ?
                          investmentsSummary.portfolioSummary.wiseSaverPortfolio.totalPortfolioValue : 0) |
                          formatCurrency}}
                        </p>
                        <p class="portfolio-type-cash-balance">{{'DASHBOARD.INVESTMENT.CASH_BALANCE' | translate}}:
                          {{(investmentsSummary && investmentsSummary.portfolioSummary.wiseSaverPortfolio &&
                          investmentsSummary.portfolioSummary.wiseSaverPortfolio.totalCashAccountBalance ?
                          investmentsSummary.portfolioSummary.wiseSaverPortfolio.totalCashAccountBalance : 0) |
                          formatCurrency}}
                        </p>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <!-- Not Purchased Investment Card -->
                <ng-container *ngIf="!showPortfolioPurchased">
                  <div class="widget-title widget-portfolio-title">
                    <span class="flex">{{'DASHBOARD.INVESTMENT.TITLE_INVESTMENT' | translate}}
                    </span>
                  </div>
                  <div class="widget-body">
                    <div class="scenarios flex-col-12">
                      <!--  Start Investing -->
                      <div class="no_account col-12" *ngIf="showStartInvesting">
                        <div class="warning-txt">
                          <div class="flex-col-8">
                            {{'DASHBOARD.INVESTMENT.CREATE_YOUR_PORTFOLIO_DESC' | translate}}
                          </div>
                          <div class="flex-col-4">
                            <div class="investment_icon">
                              <img src="assets/images/investment-account/investment-icon.svg" />
                            </div>
                          </div>
                        </div>
                        <div class="flex">
                          <button (click)="goToEngagement()" type="button" class="btn btn-primary col-12">
                            <div>{{'DASHBOARD.INVESTMENT.START_INVESTING' | translate}}</div>
                            <div>{{'DASHBOARD.INVESTMENT.ESTIMATED_MINS' | translate}}</div>
                          </button>
                        </div>
                      </div>
                      <!-- Pending Documents Upload -->
                      <div class="warning col-12" *ngIf="showInvestmentDetailsSaved">
                        <div class="warning-txt">
                          <div class="flex-col-8">
                            {{'DASHBOARD.INVESTMENT.PENDING_DOC_UPLOAD_DESC' | translate}}</div>
                          <div class="flex-col-4">
                            <div class="investment_icon">
                              <img src="assets/images/investment-account/investment-icon.svg" />
                            </div>
                          </div>
                        </div>
                        <div class="flex">
                          <button type="button" (click)="goToDocUpload()"
                            class="btn btn-ghost col-12">{{'DASHBOARD.INVESTMENT.UPDATE'
                            | translate}}</button>
                        </div>
                      </div>
                      <!-- CDD Check or EDD Check ON GOING -->
                      <div class="pending col-12" *ngIf="showCddCheckOngoing">
                        <div class="warning-txt">
                          <div class="flex-col-8">
                            {{'DASHBOARD.INVESTMENT.CDD_CHECK_ONGOING' | translate}}</div>
                          <div class="flex-col-4">
                            <div class="investment_icon">
                              <img src="assets/images/investment-account/investment-icon.svg" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- CDD CHECK FAIL -->
                      <div class="verify col-12" *ngIf="showCddCheckFail">
                        <div class="warning-txt">
                          <div class="flex-col-8">
                            {{'DASHBOARD.INVESTMENT.CDD_CHECK_FAIL_DESC' | translate}}</div>
                          <div class="flex-col-4">
                            <div class="investment_icon">
                              <img src="assets/images/investment-account/investment-icon.svg" />
                            </div>
                          </div>
                        </div>
                        <div class="flex">
                          <button type="button" (click)="verifyCustomerDetails()" class="btn btn-ghost col-12">
                            {{'DASHBOARD.INVESTMENT.VERIFY_DETAILS' | translate}}</button>
                        </div>
                      </div>
                      <!-- Set-Up Account when Engagement Journey Completed for first time -->
                      <div class="set-up col-12" *ngIf="showSetupAccount">
                        <div class="warning-txt">
                          <div class="flex-col-8">
                            {{'DASHBOARD.INVESTMENT.SETUP_YOUR_ACCOUNT_DESC' | translate}}</div>
                          <div class="flex-col-4">
                            <div class="investment_icon">
                              <img src="assets/images/investment-account/investment-icon.svg" />
                            </div>
                          </div>
                        </div>
                        <div class="flex">
                          <button type="button" (click)="goToInvestmentAccount()" class="btn btn-ghost col-12">
                            {{'DASHBOARD.INVESTMENT.SET_UP_ACCOUNT' | translate}} </button>
                        </div>
                      </div>
                      <!-- Suspended Account -->
                      <div class="suspended col-12" *ngIf="showSuspendedAccount">
                        <div class="warning-txt">
                          <div class="flex-col-8"
                            innerHTML="{{'DASHBOARD.INVESTMENT.SUSPENDED_INVESTMENT_ACCOUNT' | translate}}">
                          </div>
                          <div class="flex-col-4">
                            <div class="investment_icon">
                              <img src="assets/images/investment-account/investment-icon.svg" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--Blocked Nationality -->
                      <div class="compliance col-12" *ngIf="showBlockedNationalityStatus">
                        <div class="warning-txt">
                          <div class="flex-col-8"
                            innerHTML="{{'DASHBOARD.INVESTMENT.UNSUCCESSFUL_INVESTMENT_ACCOUNT' | translate}}">
                          </div>
                          <div class="flex-col-4">
                            <div class="investment_icon">
                              <img src="assets/images/investment-account/investment-icon.svg" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Compliance Rejected Account or EDD check fail  -->
                      <div class="compliance col-12" *ngIf="showEddCheckFailStatus">
                        <div class="warning-txt">
                          <div class="flex-col-8"
                            innerHTML="{{'DASHBOARD.INVESTMENT.UNSUCCESSFUL_INVESTMENT_ACCOUNT' | translate}}">
                          </div>
                          <div class="flex-col-4">
                            <div class="investment_icon">
                              <img src="assets/images/investment-account/investment-icon.svg" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-template #loader>
                <ng-container *ngIf="iFastMaintenance; else notUnderMaintenance">
                  <!-- iFast Maintenance -->
                  <div class="widget-title">
                    <span class="flex">{{'DASHBOARD.INVESTMENT.TITLE_INVESTMENT' | translate}}
                    </span>
                  </div>
                  <div class="widget-body">
                    <div class="scenarios flex-col-12">
                      <div class="warning col-12">
                        <div class="alert-img-container">
                          <img src="assets/images/alert-red.svg" />
                        </div>
                        <div class="warning-txt">
                          <div class="flex-col-8">
                            {{'DASHBOARD.INVESTMENT.SERVICE_UNAVAILABLE' | translate}}</div>
                          <div class="flex-col-4">
                            <div class="investment_icon">
                              <img src="assets/images/investment-account/investment-icon.svg" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <ng-template #notUnderMaintenance>
                  <div class="loader-div">
                    <img src="assets/styles/ajax-loader.gif" />
                  </div>
                </ng-template>
              </ng-template>
            </div>
            <!-- Investment widget End -->
            <div class="widget will-writing" *ngIf="showWillWritingSection">
              <div class="widget-title">
                <span class="flex">{{'DASHBOARD.WILL_WRITING.TITLE' | translate}}
                </span>
                <span class="btn-with-icon" *ngIf="wills.completedWill" (click)="redirectTo('edit')">
                  <span class="edit-btn-img"><img src="assets/images/editIcon.svg"></span>
                  <span>{{'DASHBOARD.INVESTMENT.EDIT' | translate}}</span>  
                </span>
              </div>
              <div class="widget-body">
                <div class="scenarios flex-col-12">
                  <!-- will-writing -->
                  <div class="start col-12">
                    <div class="warning-txt">
                      <div class="flex-col-8">
                        <span *ngIf="!wills.hasWills">{{'DASHBOARD.WILL_WRITING.CREATE_YOUR_WILL_DESC' |
                          translate}}</span>
                        <span
                          *ngIf="wills.hasWills && !wills.completedWill">{{'DASHBOARD.WILL_WRITING.CONTINUE_WILL_DESC'
                          | translate}}</span>
                        <span
                          *ngIf="wills.hasWills && wills.completedWill">{{'DASHBOARD.WILL_WRITING.EXISTING_WILL_DESC'
                          | translate}}</span>
                      </div>
                      <div class="flex-col-4">
                        <div class="investment_icon">
                          <img src="assets/images/will-writing/will-dash.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="flex">
                      <button type="button" class="btn btn-primary col-12" *ngIf="!wills.hasWills"
                        (click)="redirectTo('start')">
                        <div>{{'DASHBOARD.WILL_WRITING.START_WRITING' | translate}}</div>
                        <div>{{'DASHBOARD.WILL_WRITING.ESTIMATED_TIME' | translate}}</div>
                      </button>
                      <button type="button" class="btn btn-primary col-12"
                        *ngIf="wills.hasWills && !wills.completedWill" (click)="redirectTo('edit')">
                        <div>{{'DASHBOARD.WILL_WRITING.CONTINUE_WRITING' | translate}}</div>
                      </button>
                      <button type="button" class="btn btn-ghost col-12" *ngIf="wills.hasWills && wills.completedWill"
                        (click)="downloadWill()">
                        <div>{{'DASHBOARD.WILL_WRITING.DOWNLOAD_WILL' | translate}}</div>
                        <div>{{'DASHBOARD.WILL_WRITING.LAST_UPDATED' | translate}}
                          {{ wills.lastUpdated| date: 'dd MMM yyyy'}}</div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="widget insurance" *ngIf="showInsuranceSection">
              <div class="reward-points" [ngClass]="{'grey': !cardCategory.insurance[0].isEnabled}"
                *ngIf="getReferralInfo && getReferralInfo.isWelcomeRewardsValid && getReferralInfo.refereeExists"><span
                  *ngIf="!cardCategory.insurance[0].isEnabled"><img
                    src="assets/images/refer-friend/gift-icon-grey.svg"></span><span
                  *ngIf="cardCategory.insurance[0].isEnabled"><img
                    src="assets/images/refer-friend/gift-icon.svg"></span>${{cardCategory.insurance[0].creditValue}}
              </div>
              <div class="widget-title">
                <span class="flex">{{'DASHBOARD.INSURANCE.TITLE' | translate}}</span>
              </div>
              <div class="widget-body">
                <div class="scenarios flex-col-12">
                  <div class="start col-12">
                    <div class="warning-txt">
                      <div class="flex-col-8">
                        <span *ngIf="!insurance.hasInsurance">{{'DASHBOARD.INSURANCE.NO_INSURANCE_DESC' |
                          translate}}</span>
                        <span *ngIf="insurance.hasInsurance">{{'DASHBOARD.INSURANCE.INSURANCE_DESC' | translate}} {{
                          insurance.lastTransactionDate | date: 'dd MMM yyyy'}}.</span>
                      </div>
                      <div class="flex-col-4">
                        <div class="investment_icon">
                          <img src="assets/images/insure-dash.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="flex">
                      <button type="button" class="btn btn-primary col-12" *ngIf="!insurance.isGuidedJourney"
                      (click)="goToInsuranceJourney()">
                        <div>{{'DASHBOARD.INSURANCE.ASSESS_MY_NEEDS' | translate}}</div>
                        <div>{{'DASHBOARD.INSURANCE.ESTIMATED_MINS' | translate}}</div>
                      </button>
                      <button type="button" class="btn btn-ghost col-12" *ngIf="insurance.isGuidedJourney"
                      (click)="goToInsuranceJourney()">
                        {{'DASHBOARD.INSURANCE.REASSESS_MY_NEEDS' | translate}}
                      </button>
                    </div>
                    <div class="find-plan"><a (click)="goToInsuranceJourney('direct')">{{'DASHBOARD.INSURANCE.DIRECT_JOURNEY' |
                        translate}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>