<div class="customer-review__wrapper">
  <div class="sub-navigation">
    <div class="sub-navigation--inner">
      <span routerLink="/">Home</span>
      <span class="separator"></span>
      <span routerLink="/about-us">About-Us</span>
      <span class="separator"></span>
      <span>Customer Reviews</span>
      </div>
  </div>
  <div class="banner" #banner>
    <div class="banner-bg">
        <div class="banner-bg--image"></div>
    </div>
    <div class="banner-container">
      <div class="">
        <h1 class="banner--title">Customer Reviews</h1>
        <h3 class="banner--sub-title">Hear what our clients say about us</h3>
        </div>
    </div> 
    </div>
  <div class="customer-reviews__content">
      <div class="customer-reviews__inner-content">
        <div class="customer-review card card-block" *ngFor="let customerReview of customerReviewList">
          <h6 class="review">
            {{customerReview.message}}
          </h6>
          <div class="rating-container">
            <div class="rating--icon">
              <i class="material-icons" *ngFor="let number of getNumber(customerReview.rating)">star</i>
              </div>
            <div class="rating--text">({{customerReview.rating}}/5 stars)</div> 
            </div>
          <div class="reviewer">
            <p class="name">{{customerReview.name}}, {{customerReview.job}}</p>
            </div>
          </div>
        </div>
        
    </div>
  </div>