
    <div class="container-fluid max-width--1024 text-center">
      <div class="content">
        <div class="row">
          <div class="col-12">
            <h2 class="title">Oh…this is embarassing!</h2>
            <h6 class="sub-title">Owls could not find the page you are looking for!</h6>
            <div class="banner-image">
              <img src="assets/images/not-found.svg" id="custModalImg1" />
            </div>
          </div>
        </div>
      </div>
    </div>


<!-- <img src="assets/images/not-found.svg" id="custModalImg1" />
  <div>
    <p class="title" id="title">Oh…this is embarassing!</p>
    <p class="sub-title" id="subTitle">Owls could not find the page you are looking for!</p>
  </div> -->