@import "../../../variables";
@import "../../../mixins";
.ntuc-promo-modal {
  .modal-body-message {
    span {
      color: $dark-orange-color;
    }
  }
  .dropdown-control {
    position: relative;
  }
  .datepicker-control {
    border: 1px solid $half-baked-blue-color;
    border-radius: 6px;
  }
  .form-control {
    max-height: 52px;
    font-family: $muli-regular;
    .input-control {
      text-align: left;
      padding: 0;
      &::placeholder {
        color: $dusty-grey-color !important;
      }
    }
    &:disabled {
      background-color: $iceberg-blue-color;
      color: $teal-color;
      cursor: not-allowed;
    }
    & + .input-group-append {
      .btn-primary {
        max-height: 52px;
        &:disabled,
        .disabled {
          background-color: $iceberg-blue-color !important;
          cursor: not-allowed;
        }
      }
    }
  }
  .err-msg {
    color: $dark-orange-color !important;
  }
  .modal-body {
    .form-group {
      margin-top: 30px;
      label {
        font-size: 16px;
        color: $dark-teal-color;
        font-family: $muli-semi-bold;
        text-align: left;
        display: flex;
        padding-right: 10px;
      }
    }
  }
  .dropdown-control {
    .btn-dropdown {
      color: $teal-color;
    }
    border-radius: 6px;
    position: relative;
    background: $white-color;
    cursor: pointer;
    .dropdown-toggle {
      padding: 0.9rem;
      &:disabled {
        cursor: not-allowed;
        &:hover {
          background-color: transparent !important;
        }
      }
    }
  }
  .error-label {
    font-size: 14px;
    margin: 3px 0px 0px 0px;
    font-style: italic;
    color: $inline-error-border-color;
  }

  .btn-primary {
    background-color: $btn-comprehensive;
    font-size: 18px;
    font-family: $muli-bold;
    &:disabled {
      background-color: $btn-comprehensive-disabled-bg;
      color: $white-color;
    }
  }
}
