@import "../../../variables";
@import "../../../mixins";
app-ntuc-member {
  .edit-investment-modal {
    font-family: $muli;
    .dropdown-control {
      position: relative;
    }
    .datepicker-control{
      border: 1px solid #94CCCC;
    }
    .form-control .input-control{
      text-align: left;
    }
    .err-msg{
      color: $dark-orange-color !important;
    }
    .modal-body .form-group {
      label {
        font-size: 18px;
        font-weight: 600;
        padding-right: 15px;
      }
    }
    .dropdown-control {
      .btn-dropdown {
        color: $teal-color;
      }
      border-radius: 6px;
      position: relative;
      background: $white-color;
      cursor: pointer;
      .dropdown-toggle {
        padding: 0.9rem;
        &:disabled {
          cursor: not-allowed;
          &:hover {
            background-color: transparent !important;
          }
        }
      }
    }
    .error-label {
      font-size: 14px;
      margin: 3px 0px 0px 0px;
      font-style: italic;
      color: $inline-error-border-color;
    }
  }
}
