<div class="breakdown-accordion-container">

  <div class="breakdown-item" *ngFor="let curAllocation of allocation; let i = index" [class.active]="i==activeIndex">

    <div class="accordion-head" (click)="emitSelectedAllocation(i)">
      <div class="row">
        <div class="col-9">
          <div [style.color]="colors[i]">{{curAllocation.sector.name}}</div>
        </div>
        <div class="col-3">
          <span class="arrow" [style.border-color]="colors[i]" ></span>
        </div>
      </div>
    </div>

    <div class="accordion-content">
      <div class="row fund-detail-row" *ngFor="let fund of curAllocation.sector.funds;">
          <div class="col-2">
            <span [style.color]="i==activeIndex ? colors[i] : 'transparent'">{{fund.percentage}}%</span>
            </div>
            <div class="col-10">
              <div>{{fund.name}}</div>
              <a target="_blank" (click)="emitSelectedFund(fund)" class="fund-detail-link" [style.color]="i==activeIndex ? '' : 'transparent'">View Details</a>
            </div>
      </div>
    </div>
  </div>
</div>