<div class="fund-your-account">

  <div class="container-fluid">
    <div class="content">


      <div class="fund-summary">
        <div class="from-account" *ngIf="fundDetails">
          <img src="../../../assets/images/investment-account/topupcoin.svg" alt="" />
          <div>{{ 'FUND_YOUR_ACCOUNT.YOUR_INVESTMENT' | translate }}</div>
          <div class="strong" *ngIf=setOnetimeInvestmentAmount>{{fundDetails.oneTimeInvestmentAmount | currency:'USD':'symbol-narrow':'1.0-2'}}(
            <span>{{ 'FUND_YOUR_ACCOUNT.ONE_TIME' | translate }}</span>)</div>
          <div class="strong" *ngIf=setMonthlyInvestmentAmount>{{fundDetails.MonthlyInvestmentAmount | currency:'USD':'symbol-narrow':'1.0-2'}}
            <span>/ {{ 'FUND_YOUR_ACCOUNT.MONTH' | translate }}</span>
          </div>
        </div>

        <div class="from-account" *ngIf="!fundDetails">
          <img src="../../../assets/images/investment-account/topupcoin.svg" alt="" />
          <div>{{ 'FUND_YOUR_ACCOUNT.YOUR_INVESTMENT' | translate }}</div>
          <div class="strong" >$12,000(
            <span>{{ 'FUND_YOUR_ACCOUNT.ONE_TIME' | translate }}</span>)</div>
          <div class="strong" >$800
            <span>/ {{ 'FUND_YOUR_ACCOUNT.MONTH' | translate }}</span>
          </div>
        </div>

        <div class="right-arrow">
          <img src="../../../assets/images/investment-account/arrow-right.png" alt="" />
        </div>
        <div class="to-account">
          <img src="../../../assets/images/investment-account/growth_icon.svg" alt="" />
          <div>{{ 'FUND_YOUR_ACCOUNT.YOUR_PORTFOLIO' | translate }}</div>
          <div  *ngIf="fundDetails" class="strong">{{fundDetails.portfolio}}</div>
          <div  *ngIf="!fundDetails" class="strong">growth</div>
        </div>
      </div>

      <div class="transfer-details">
        <div *ngIf="topup">
          <div class="tab-links">
            <div class="tab-link-item active" [class.active]="activeTabIndex == 0" (click)="selectFundingMethod(0)">
              {{ 'FUND_YOUR_ACCOUNT.VIA_BANK' | translate }}
            </div>
            <div class="tab-link-item" [class.active]="activeTabIndex == 1" (click)="selectFundingMethod(1)">
              {{ 'FUND_YOUR_ACCOUNT.VIA_PAYNOW' | translate }}
            </div>
          </div>

          <div class="tab-content-container">
            <!-- TAB 1 -->
            <div class="tab-content" [class.active]="activeTabIndex == 0">
              <div class="instruction-txt">{{ 'FUND_YOUR_ACCOUNT.LOGIN_TO_NETBANKING_BANK' | translate }}</div>

              <button class="btn btn-bordered">{{ 'FUND_YOUR_ACCOUNT.TAKE_SCREENSHOT' | translate }}</button>

              <div class="account-detail">
                <label class="transfer-detail-label">{{ 'FUND_YOUR_ACCOUNT.AMOUNT_TO_TRANSFER' | translate }}</label>
                <div class="value">
                  <div class="investment-values" *ngIf="fundDetails">
                    <div *ngIf=setOnetimeInvestmentAmount>
                      <span>{{fundDetails.topupportfolioamount | currency:'USD':'symbol-narrow':'1.0-2'}}</span>&nbsp;({{ 'FUND_YOUR_ACCOUNT.ONE_TIME' | translate
                      }})</div>
                    <div *ngIf=setMonthlyInvestmentAmount>
                      <span>{{fundDetails.MonthlyInvestmentAmount | currency:'USD':'symbol-narrow':'1.0-2'}}</span>&nbsp;/ {{ 'FUND_YOUR_ACCOUNT.MONTH' | translate
                      }}</div>
                  </div>


                  <div class="investment-values" *ngIf="!fundDetails">
                    <div>
                      <span>$12,000</span>&nbsp;({{ 'FUND_YOUR_ACCOUNT.ONE_TIME' | translate
                      }})</div>
                      <span>$800</span>&nbsp;/ {{ 'FUND_YOUR_ACCOUNT.MONTH' | translate
                    }}</div>
                 
                </div>

                <label>{{ 'FUND_YOUR_ACCOUNT.RECIPENTS_NAME' | translate }}</label>
                <div class="value">
                  IFASTFINANCIALpteltd
                </div>

                <label>{{ 'FUND_YOUR_ACCOUNT.BANK_NAME' | translate }}</label>
                <div class="value">
                  Standard Chartered Bank (Singapore)
                </div>

                <label>{{ 'FUND_YOUR_ACCOUNT.BANK_ACC_NO' | translate }}</label>
                <div class="value">
                  0102046042
                </div>

                <label>{{ 'FUND_YOUR_ACCOUNT.REFERENCE_CODE' | translate }}</label>
                <div class="value">
                  PID012345
                </div>
              </div>

              <p class="sub-text">{{ 'FUND_YOUR_ACCOUNT.ADD_REFERENCE_CODE_INFO' | translate }}</p>

              <div class="setup-auto-deposit">
                <div class="head">
                  {{ 'FUND_YOUR_ACCOUNT.SETUP_AUTO_DEPOSIT_LBL' | translate }}
                </div>
                <p>{{ 'FUND_YOUR_ACCOUNT.SETUP_AUTO_DEPOSIT_DESC' | translate }}</p>
              </div>

              <button (click)="showBankDetails()" type="button" class="btn-with-icon" id="errorModeButton">
                {{ 'FUND_YOUR_ACCOUNT.VIEW_TRANSFER_INST' | translate }}
                <img src="../../../assets/images/investment-account/forward.svg" alt="" />
              </button>

            </div>

            <!-- TAB 2 -->
            <div class="tab-content" [class.active]="activeTabIndex == 1">
              <div class="instruction-txt">{{ 'FUND_YOUR_ACCOUNT.LOGIN_TO_NETBANKING_PAYNOW' | translate }}</div>

              <button class="btn btn-bordered">{{ 'FUND_YOUR_ACCOUNT.TAKE_SCREENSHOT' | translate }}</button>

              <div class="account-detail">
                <label class="transfer-detail-label">{{ 'FUND_YOUR_ACCOUNT.AMOUNT_TO_TRANSFER' | translate }}</label>
                <div class="value">
                  <div class="investment-values" *ngIf="fundDetails">
                    <div *ngIf=setOnetimeInvestmentAmount>
                      <span>{{fundDetails.topupportfolioamount | currency:'USD':'symbol-narrow':'1.0-2'}}</span>&nbsp;({{ 'FUND_YOUR_ACCOUNT.ONE_TIME' | translate }})</div>
                    <div *ngIf=setMonthlyInvestmentAmount>
                      <span>{{fundDetails.MonthlyInvestmentAmount | currency:'USD':'symbol-narrow':'1.0-2'}}</span>&nbsp;/ {{ 'FUND_YOUR_ACCOUNT.MONTH' | translate }}</div>
                  </div>


                  <div class="investment-values" *ngIf="!fundDetails">
                    <div>
                      <span>$12,000</span>&nbsp;({{ 'FUND_YOUR_ACCOUNT.ONE_TIME' | translate
                      }})</div>
                      <span>$800</span>&nbsp;/ {{ 'FUND_YOUR_ACCOUNT.MONTH' | translate
                    }}</div>
                </div>

                <label>{{ 'FUND_YOUR_ACCOUNT.UNIQUE_ENTITY_NO' | translate }}</label>
                <div class="value">
                  200000231RAIY
                </div>

                <label>{{ 'FUND_YOUR_ACCOUNT.ENTITY_NAME' | translate }}</label>
                <div class="value">
                  IFAST FINANCIAL PL-CT SUB
                </div>

                <label>{{ 'FUND_YOUR_ACCOUNT.REFERENCE_CODE' | translate }}</label>
                <div class="value">
                  PID012345
                </div>
              </div>

              <p class="sub-text">{{ 'FUND_YOUR_ACCOUNT.ADD_REFERENCE_CODE_INFO' | translate }}</p>

              <div class="setup-auto-deposit">
                <div class="head">
                  {{ 'FUND_YOUR_ACCOUNT.SETUP_AUTO_DEPOSIT_LBL' | translate }}
                </div>
                <p>{{ 'FUND_YOUR_ACCOUNT.SETUP_AUTO_DEPOSIT_DESC' | translate }}</p>
              </div>

              <button (click)="showBankDetails()" type="button" class="btn-with-icon" id="errorModeButton">
                {{ 'FUND_YOUR_ACCOUNT.VIEW_TRANSFER_INST' | translate }}
                <img src="../../../assets/images/investment-account/forward.svg" alt="" />
              </button>
            </div>
          </div>


        </div>

        <p class="process-time-info">{{ 'FUND_YOUR_ACCOUNT.PROCESS_TIME_INFO' | translate }}</p>
      </div>


      <button type="button" *ngIf="!fundDetails"  class="btn btn__footer--fixed btn-ftr-get-started btn-primary width100"
        id="portfolioRecommendationNextBtn">{{ 'FUND_YOUR_ACCOUNT.OK_GOT_IT' | translate}}</button>

      <button *ngIf="fundDetails" type="button" (click)="goToNext()" class="btn btn__footer--fixed btn-ftr-get-started btn-primary width100"
        id="portfolioRecommendationNextBtn">
        Submit
      </button>

    </div>
  </div>
</div>