<div class="modal-body popup white-bg">
  <div class="modal-body-border--top">
    <div class="orange"></div> 
  </div>
  <div class="modal-body-title">{{popupTitle}}</div>
  <div class="modal-body-message">
    <div class="main-body">
      <div class="old-title">
        <img src="assets/images/popup-assets/popup-diy-logo.png"/>
        <div class="filler-text">is now</div>
        </div>
      <div class="new-logo">
        <img src="assets/images/popup-assets/popup-mo-logo.svg"/>
        </div>
      <p class="sub-text">
          Check out our new site with exciting new features!
        </p>
      <button class="btn btn-primary" (click)="activeModal.close('Close click')">
        Explore Now
        </button>
      </div> 
    <div class="footer">
      <p class="footer-msg">Capital Markets Services Licence No: CMS100758.</p>
      </div>
  </div> 
</div>