@import '../../../../variables';
@import '../../../../mixins';

app-add-portfolio-status{
  .portfolio-naming-success-modal-backdrop {
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    min-height: 100vh;
  }

  .portfolio-naming-success-modal-wrapper {
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .portfolio-naming {
      max-width: 320px;
      margin: auto;

      .title {
        font-family: $muli-bold;
        font-size: 32px;
        letter-spacing: -0.3px;
        text-align: center;
        color: #00aaa8;
        padding:40px 15px 28px;

        @include allmobiles {
          padding: 0px 15px 30px;
        }
      }

       .portfolio-success {
        text-align: center;

        img {
          width: 133px;
          height: 140px;
        }
      }

      .desc {
        font-family: $muli-bold;
        font-size: 16px;
        letter-spacing: -0.34px;
        text-align: center;
        color: #000000;
      }div{
        font-family: $muli-regular;
      }

    }
  }

  .btn {
    z-index: 1001;

    &:disabled {
      border-radius: 6px;
      box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.21) !important;
      background-color: #78e1dc !important;
      color: #ffffff;
    }

    &:hover {
      border-radius: 6px;
      box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.21) !important;
      background-color: #78e1dc !important;
      color: #ffffff;
    }

  }

}
