<div class="edit-investment-modal">
    <div class="modal-header">
        <div class="modal-title popup-header-icon">
          <img src="assets/images/owl.svg"  />
        </div>
  </div>
  <div class="modal-body white-bg">
    <div class="modal-body-title">Confirm Transfer</div>
    <div class="modal-body-desc">Check below details for transfer between Cash Accounts.</div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true"></span>
    </button>
    <div class="modal-body-message">
      <div class="transfer-body">
        <div class="tranfer_lbl">Transfer From:</div>
        <div class="transfer_value">{{transferFrom.portfolioName}}
          <div>Cash Account {{transferFrom.refNo}}</div>
        </div>
      </div>
      <div class="transfer-body">
        <div class="tranfer_lbl">Transfer To:</div>
        <div class="transfer_value">{{transferTo.portfolioName}}

          <div>Cash Account {{transferTo.refNo}}</div>
        </div>
      </div>
      <div class="transfer-body" >
        <div class="tranfer_lbl">Date of Transfer:</div>
        <div class="transfer_value" > {{currentDate}}

        </div>
      </div>
      <div class="transfer-body">
        <div class="tranfer_lbl">Transfer Amount (SGD):</div>
        <div class="transfer_value">{{TransferAmount  }}

        </div>
      </div>
      <div class="transfer-body">
        <div class="tranfer_lbl">Balance Amount (SGD):</div>
        <div class="transfer_value">{{transferTo.cashAccountBalance - TransferAmount }}

        </div>
      </div>



    </div>
    <button type="button" (click)="confirmWithdrawal($event)" class="btn btn-primary-dark width100 mt5"
      id="incomeBtn">Confirm And Submit</button>
  </div>
</div>
