<app-page-title [step]="step" [pageTitle]="pageTitle"></app-page-title>
<div class="container-fluid max-width--1024">
  <div class="content">
    <div class="flex-row main-container">
      <div class="col-lg-5 col-md-5 col-sm-12 header-container">
        <div class="mobile-header">
        <div class="step2 hidden-sm-md">{{ 'WILL_WRITING.COMMON.STEP_2' | translate}}</div>
        <h2 id="intro-title" class ="hidden-sm-md">{{ 'WILL_WRITING.MY_ESTATE_DISTRIBUTION.TITLE' | translate}}</h2>
        <h6 class="sub-title" id="sub-title">{{ 'WILL_WRITING.MY_ESTATE_DISTRIBUTION.SUB_TITLE' | translate}}</h6>
        <div class="banner-image hidden-sm-md">
            <img src="assets/images/will-writing/my-estate-distribution.svg" id="intro-img"/>  
        </div>
        <div class="autofill-logo mobile-logo hidden-lg"><img class="img-fluid" src="assets/images/will-writing/owl-mobile.svg" /></div>
        </div>
      </div>
      
      <div class="col-lg-5 col-md-5  col-sm-12 distribution-container">
          <div class="estate-distribution col-12">
              <div class="distribution-img mb20"><img src="assets/images/will-writing/estate-distribution-bg.png"/></div>
              <div class="distribution-content">
                <span class="title">{{ 'WILL_WRITING.MY_ESTATE_DISTRIBUTION.DISTRIBUTE_YOUR_ESTATE' | translate}}</span>
                <span class="percentage">{{this.remainingPercentage}}%</span>
                <span class="sub-title">{{ 'WILL_WRITING.MY_ESTATE_DISTRIBUTION.LEFT_TO_DISTRIBUTE' | translate}}</span>
              </div>
            
            </div>
        <div class="estateDistributionForm">
              <div *ngIf="true" class="estate-distribution-form">
                <div class="form-title mb10">{{ 'WILL_WRITING.MY_ESTATE_DISTRIBUTION.ESTATE_DISTRIBUTION' | translate}}</div>
                  <div *ngFor="let currentDist of estateDistList; let i = index" class="form-group-single-column mb15">
                      <div class="col-6 header-label">
                        <label for="beneficiary_{{i+1}}" id="beneficiary_{{i+1}}">
                          <div class="input-label-black">{{currentDist.name | titlecase}}</div>
                          <div class="input-label-normal">{{'WILL_WRITING.COMMON.MY' |
                              translate}} {{currentDist.relationship | titlecase}} {{currentDist.pos}}</div>
                        </label>
                      </div>
                      <div class="col-5">
                          <div class="form-control">   
                          <input  #percent id="beneficiary_{{i+1}}" (keyup)="updateDistPercentage(i, $event)" appCurrencyInput name="beneficiary_{{i+1}}" pattern="(100)|(0*\d{1,2})" type="number" class="input-control"
                            value="{{currentDist.distPercentage}}" >
                          <i>%</i>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="message-block">
                  <div class="tooltip-message-img">
                    <img src="assets/images/will-writing/tooltip-message.svg"/>
                    <div class="tooltip-message">{{'WILL_WRITING.MY_ESTATE_DISTRIBUTION.TOOLTIP_MESSAGE' | translate}}</div>
                  </div>
              </div>
      </div>
      <div>
        <button type="button" [disabled]="" (click)="goToNext()" class="btn btn-primary btn__footer--fixed width100" id="prtNeedBtn1">
          <span *ngIf="!fromConfirmationPage">{{'LABEL.CONTINUE' | translate}}</span>
          <span *ngIf="fromConfirmationPage">{{'WILL_WRITING.COMMON.APPLY_CHANGES' | translate}}</span>
        </button>
      </div>
    </div>
  </div>
</div>
</div>