@import '../../variables';
@import '../../mixins';

.faq__wrapper{
    position: relative;
    display:flex;
    width:100%;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    background-color:$white-color;
    .about-us__header{
        background-color:$white-color;
    }
}

.faq__container{
    position: relative;
    display:block;
    width:100%;
    padding: 0px 20px;
    @include allmobiles {
        padding: 0;
    }
    .faq-category__container{
        position: relative;
        display:block;
        width:100%;
    }

    .faq-category__header{
        position: relative;
        display:none;
        width:100%;
        max-width:1024px;
        margin:0px auto;
        padding:20px 0px;
        &.active{
            display:block;
        }
        @include minMobilemaxPhablet{
            margin:20px 0px 0px 0px;
            padding:0px 20px;
        }
    }
    .faq-disclaimer{
        color:$dark-grey-color;
        font-size:16px;
        font-family:$muli;
        .disclaimer--sub-title{
            font-size:20px;
            font-family:$muli-bold;
            color:$black-color;
            text-transform: uppercase;
            @include minMobilemaxPhablet{
                font-family:$muli-semi-bold;
            }
        }
        p{
            margin-bottom:12px;
            line-height:1.2;
            @include minMobilemaxPhablet{
                font-size:15px;
            }
        }
        a{
            color: $orange-color !important;
            font-family:$muli-bold;
            word-wrap: break-word;
            @include minMobilemaxPhablet{
                font-size:13px;
            }
        }
        
    } 
    .faq-category__body{
        position: relative;
        display:none;
        width:100%;
        justify-content:space-between;
        max-width:1024px;
        padding:45px 0px;
        margin:0px auto;
        &.active{
            display:flex;
        }
        @include minMobilemaxPhablet{
            padding:30px 20px;
            flex-direction:column;
        }
        .faq-selection__panel{
            position: relative;
            display:block;
            flex-basis:250px;
            margin-block-start:0px;
            margin-inline-start: 0px;
            padding-inline-start: 0px;
            margin:0px;
            @include minPhabletmaxTablet{
                flex-basis:180px;
            }
            .dropdown-toggle{
                padding-right:30px;
                text-align: left;
                white-space: normal;
                &::after {
                    background-image: url('/assets/images/nav-dropdown-icon.svg');
                    background-size: 12px 8px;
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 15px;
                    border: none;
                    position: absolute;
                    margin-left: 5px;
                    top: calc(50% + 2px);
                    right:10px;
                    transform: translateY(-50%);
                }
            }
            .faq-selection__element{
                font-family:$muli-semi-bold;
                font-size:18px;
                color:$orange-color;
                border-radius:8px;
                padding:8px 15px;
                cursor: pointer;
                margin-bottom:10px;
                &.active{
                    background-color:$teal-color;
                    color:$white-color;
                }
                @include minMobilemaxPhablet{
                    &.active{
                        color:$orange-color;
                        background-color:$white-color;
                    }
                }
            }
            .dropdown-menu{
                position: relative;
                display:block;
                padding:0px;
                margin:0px;
                border:0px;
                top:0px !important;   
                width:100%; 
            }
            @include minMobilemaxPhablet{
            flex-basis: unset;
                .dropdown-menu{
                    position: absolute;
                    display:none;
                    width:100%;
                    border:1px solid $border-grey-color;
                    top:unset !important;
                    &.show{
                        display:block;
                    }
                }
            }
        }
        .questions__panel{
            position: relative;
            display: none;
            margin-block-start:0px;
            margin-inline-start: 0px;
            padding-inline-start: 0px;
            flex-basis:calc(100% - 270px);
            @include minPhabletmaxTablet{
                flex-basis:calc(100% - 250px);
                max-width:calc(100% - 200px);
                margin-left:20px;
            }
            @include min568max767{
                max-width:100%;
            }
            @include minMobilemaxPhablet{
                margin-top:20px;
            }
            &.active{
                display:block;
            }
            h3{
                position: relative;
                display:block;
                font-family:$muli-semi-bold;
                font-size:24px;
                letter-spacing:-0.3px;
                color:$black-color;
                border-bottom:1px dashed $border-grey-color;
                padding:8px; 
                margin:0px;
                @include minMobilemaxPhablet{
                    font-size:20px;
                }
            }
            .question__element{
                position: relative;
                display:block;
                width:100%;
                color:$black-color;
                transition:0.5s;
                border-bottom:1px dashed $border-grey-color;
                .question{
                    display:flex;
                    font-family:$muli-regular;
                    font-size:20px;
                    color:$black-color;
                    cursor: pointer;
                    padding:10px 0px;
                    line-height:1.2;
                    @include minMobilemaxPhablet{
                        font-size:16px;
                    }
                    i{
                        color:$teal-color;
                        transform:translateY(-2px);
                        font-weight:bold;
                        font-size:26px;
                        height:26px;
                        width:26px;
                        transition:0.5s;
                    }
                    &.active{
                        i{
                            transform:translateY(-2px) rotate(90deg);
                        }
                        & + .answer{
                            max-height:2500px;
                            transition: max-height 0.3s ease-in;
                            padding:20px 0px 20px 26px;
                            line-height:1.6;
                        }
                    }
                }
                .answer{
                    position: relative;
                    display:block;
                    max-height:0px;
                    overflow: hidden;
                    font-family:$muli;
                    font-size:$black-color;
                    transition:0.3s;
                    padding-left:26px;
                    font-size:16px;
                    a{
                        color:$orange-color !important;
                        &:hover{
                            color:$orange-color !important;
                            text-decoration:underline;
                        }
                    }
                    ul{
                        li{
                            list-style-type: disc;
                        }
                    }
                    ol{
                        li {
                            font-weight: bold;
                        }
                        li span { font-weight: normal; }
                    }
                    .tg{border-collapse:collapse;border-spacing:0;position: relative;display:block;width:100%;overflow:auto;}
                    .tg td{padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
                    .tg th{text-align:center;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
                    .tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
                    .tg .tg-uys7{border-color:inherit;text-align:center}
                    .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
                }
            }
        }
    }
}

.home__navbar{
    position: relative;
    display:flex;
    width:100%;
    height:85px;
    z-index:1;
    overflow-x:hidden;
    overflow-y:hidden;
    justify-content:center;
    .navbar__btn {
        @include allmobiles {
            max-width: unset !important;
            width: unset;
        }
    }
    @include minMobilemaxPhablet{
        border-bottom: 2px solid #e5f3f4;
    }
    &::-webkit-scrollbar {
        height:0px;
    }

    &.fixed{
        position:fixed;
        top:84px;
        left:0px;
        background-color:$white-color;
        z-index:10;
        border-bottom: 2px solid#e5f3f4;
        @include minMobilemaxPhablet{
            top:45px;
        }
    }
    &.hide{
        position: absolute;
        top:unset;
        bottom:5px;
    }
    @include minMobilemaxPhablet{
        height:80px;
    }
    .home__navbar--inner{
        position: relative;
        display:flex;
        width:calc(100% - 204px);
        max-width:1024px;
        @include tablet{
            width:calc(100% - 90px);
        }
        @include phablet{
            width:100%;
        }
        @include minMobilemaxPhablet{
            width:100%;
        }
    }
    .home__navbar--border{
        position: absolute;
        display:block;
        width:100%;
        height:2px;
        bottom:0px;
        background-color:#e5f3f4;
        @include minMobilemaxPhablet{
            display:none;
        }
        &.hide{
            display:none; 
        }
    }
}

.faq-img {
    margin-top:26px;
    img{
        width: 215px;
        margin: 0 auto;
        @include minMobilemaxPhablet{
            width:210px;
        }
    }
    @include minMobilemaxPhablet{
        margin-bottom:-15px;
    }
}
.faq-title {
    font-family: $muli-semi-bold;
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    text-align: center;
    color:$teal-color;
    @include minMobilemaxPhablet{
        font-size:21px;
        margin-bottom:30px;
    }
}
.will-table {
    position: relative;
    display:block;
    overflow:auto;
    border: 1px solid #cdeae6 !important;
    td{
        padding-left: 20px;
        border: 1px solid #cdeae6 !important;
        font-family: $muli-bold !important;
        font-size: 15px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.2px;
        color: #000000;
        padding: 18px;
        .sub {
            font-family: $muli-regular !important;
            font-size: 15px;
            font-weight: normal;
            letter-spacing: -0.2px;
            color: #4a4a4a;
        }
    } 
    .will-th {
        background-color: #00a7a7;
        color: #ffffff;
        font-family: $muli-bold;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.2px;
        color: #ffffff;
        padding: 18px 20px;
        width: 324px;
        border: 1px solid #cdeae6 !important;
        &:last-child {
            width: 340px
        }
    }
    .distribute {
        display: flex;
        justify-content: space-between;
        border: 0px !important;
        .percentage {
            color: #00a7a7;
        }
    }
}

.table--bordered{
    position: relative;
    display:block;
    overflow:auto;
    td{
        padding: 18px;
        border: 1px solid #cdeae6 !important;
    }
}

.cell--teal{
    background-color:$teal-color;
    color:$white-color;
}
.sub {
    font-family: $muli-regular !important;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: -0.2px;
    color: #4a4a4a;
}


ol.text--normal{
    li{
        font-weight:normal !important;
        font-family:$muli-regular;
    }
}
.text-underline{
    text-decoration: underline!important;
}
.text-italic{
    font-family: $muli-italic;
}
.comprehensive li{
list-style-type: none!important;
}