<div class="faq__wrapper">
  <div class="about-us__header">
    <div class="about-us__header--bg">
      </div>
    <div class="about-us__header--inner"> 
      <div class="sub-navigation">
        <div class="sub-navigation--inner">
            <span routerLink="/">Home</span>
            <i class="material-icons">keyboard_arrow_right</i>
            <span routerLink="/about-us">FAQs</span>
          </div>
        </div>
      <div class="header--title">
        <h1>{{ 'FAQ.TITLE' | translate}}</h1>
        </div>
      </div>
    </div>
  <div class="faq__container">
    <div class="faq-category__container">
      <div class="faq-category__header">
        <h1>Insurance</h1>
        </div>
      <div class="faq-category__body">
        <div class="faq-selection__panel">
          <div class="active">General</div>
          <div>Buying Process and Comparison</div>
          <div>Prices & Payment</div>
          <div>Commissions Rebate</div>
          <div>After-sales</div>
          <div>Privacy and Security</div> 
          </div>
        <div class="questions__panel" activeIds="config-panel-1">
          <h3>General</h3>
          <div class="question__element">
            <div type="button">
              This is the question
              </div>
            <div type=""></div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>