@import '../../../../variables';
@import '../../../../mixins';

.transfer-success-body {
  background-color: $dark-teal-color !important;
}
app-transfer-status {
  .content {
    min-height: 100vh;

    @include desktop {
      max-height: 100vh;
    }

    flex-direction: column;
    text-align: center;
    max-width: 374px;
    margin: auto;
    position: relative;

    .success-page-content {
      position: relative;
      top: 100px;
      @include allmobiles {
        top: 100px;
      }

      @include minPhabletmaxTablet {
        top: 40px;
      }

      @include phablet {
        top: 20px;
      }
      @include desktop {
        top: 50px;
      }
      @include iPadLandscape {
        top: 190px;
      }
    }
    .transfer-buttons {
      position: absolute;
      bottom: 60px;
      right: 0px;
      left: 0px;
      max-width: 374px;
      margin: auto;
      @include desktop {
        position: relative;
        bottom: 0;
        margin-top: 150px;
      }
      @include desktop {
        bottom: -50px;
      }

      @include minPhabletmaxTablet {
        bottom: 85px;
      }

      @include phablet {
        bottom: 30px;
      }

      @include allmobiles {
        bottom: 100px;
        padding: 10px;
      }
      
      @include iPhone11 {
        bottom: 220px !important;
      } 
      
      @include iPadLandscape {
        bottom: 160px;
      }

      @include iPadProPortrait {
        top: 200px;
      }
    }
    .custom-modal--title {
      font-family: $muli-bold;
      font-size: 28px;
      font-weight: bold;
      letter-spacing: -0.21px;
      text-align: center;
      color: $white-color;
      margin-top: 20px;
      @include iphone5 {
        font-size: 20px;
      }
    }

    .btn {
      &.btn-position {
        margin-top: 10px !important;
        margin-bottom: 30px;
        width: 82%;
        @include allmobiles {
          margin-bottom: 0px;
          width: 100%;
        }
      }
      &.special-btn {
        background-color: $dark-teal-color;
        border: 1px solid $white-color;
        font-family: $muli-regular;
        font-size: 18px;
        text-align: center;
        color: $white-color;
        margin-bottom: 20px;
        box-shadow: none !important;

        &:hover {
          background-color: $dark-teal-color !important;
          border: 1px solid $white-color;
        }

        &:active {
          background-color: $dark-teal-color !important;
          border: 1px solid $white-color;
        }
      }
    }
  }
  img {
    width: 117px;
    height: 120px;
    text-align: center;
  }
}
