<div class="content" *ngIf="TransferEntityList">
  <div class="success-page-content">
    <img src="assets/images/investment-account/owl-success-tick.svg" id="add_submit_custModalImg2" />
    <div class="success-text-content">
      <p class="custom-modal--title mt20" id="upload-document-later-lab">
        {{ 'TRANSFER_SUCCESS.TITLE' | translate}}
      </p>
    </div>
  </div>
  <div class="transfer-buttons">
    <button (click)="goToNext('../investment/manage/portfolio/transactions')"
      id="upload-document-later-back_to_dash_board" type="button" class="btn btn-primary width100 special-btn">
      {{ 'TRANSFER_SUCCESS.BACK_TO_TRANSACTION_HISTORY' | translate}}</button>

    <button *ngIf="TransferEntityList.portfolioActions.showTransfer"
      (click)="goToNext('../investment/manage/portfolio/transfer')" id="upload-document-later-back_to_dash_board"
      type="button" class="btn  btn-primary width100 special-btn">
      {{ 'TRANSFER_SUCCESS.BACK_TO_TRANSFER' | translate}}</button>
    <button (click)="goToNext('../investment/manage/portfolio')" id="upload-document-later-back_to_dash_board"
      type="button" class="btn btn__footer--fixed btn-primary width100 btn-position">
      {{ 'TRANSFER_SUCCESS.BACK_TO_PORTFOLIO' | translate}}</button>
  </div>
</div>