@import '../../../../variables';
@import '../../../../mixins';
body{
background-color: #2d8289 !important;
}

app-transfer-status {
    .content {
        padding: 100px 32px 10px 30px; 
        text-align: center;
        max-width: 374px;
        margin: auto;
        .relative{
           @include desktop{
            position: relative;
            bottom: 20px;
          }

          
          @include allmobiles{
            position: relative;
            bottom: 100px;
          }
        }
        .absolute {
          @include allmobiles{
            position: absolute;
            top: 300px;
          }
          @include iphone6plus  {
            position: absolute;
            top: 270px;
          }
          @include iphone6  {
            position: absolute;
            top: 270px;
          }
        }
        
        
      }
        
    
  .custom-modal--title {
    width: 241px;
    height: 70px;
    font-family: $muli-bold;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -0.21px;
    text-align: center;
    color: #ffffff;
    margin: 30px auto;
  }

  .content {
    padding: 100px 32px 10px 30px;
    min-height: calc(100vh - 84px);
       //min-height: calc(100vh - 30vh);
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include allmobiles {
        padding: 100px 32px 10px 30px;
       height: calc(100vh - 61px);
       //  height: calc(100vh - 61px);
       padding-bottom: 0px;
    }
  }
  .btn{
   
    &.special-btn {
      background-color: #2d8289;
      border: 1px solid #ffffff;
      font-family: $muli-regular;
      font-size: 18px;
      text-align: center;
      color: #ffffff;
      margin-bottom: 20px;
      box-shadow:none !important;
      &:hover{
        background-color: #2d8289 !important;
       border: 1px solid #ffffff;
      }
      &:active{
        background-color: #2d8289 !important;
        border: 1px solid #ffffff;
      }
    }
    
    }
    img {
        width: 117px;
        height: 120px;
        text-align: center;
      }
    
      
    }

