@import '../../../variables';
@import '../../../mixins';

app-promo-code-list {

  .promo-bg {
    background-color: $white-color;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gray-bg {
    background-color: $white-smoke-color;
    padding: 14px 20px;
    width: 100%;
    max-width: 450px;
    display: flex;
    align-items: center;

    @include desktop {
      width: 100vw;
      max-width: 840px;
      justify-content: center;
    }

    @include allmobiles {
      padding: 14px 20px;
      width: 100vw;
    }

    .add-promo {
      font-family: $muli-regular;
      font-size: 18px;
      line-height: normal;
      letter-spacing: -0.15px;
      color: $black-color;
      margin-right: 45px;
      @include allmobiles {
        display: none;
      }
    }
  }

  .input-container {
    display: flex;
    justify-content: space-between;
    border: solid 1px $form-control-disabled-border-color;
    padding: 6px 6px 6px 0;
    width: 100%;
    max-width: 500px;
    min-width: 275px;
    @include allmobiles {
      width: 100%;
    }
  }

  .apply-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 40px;
    padding: 0 25.5px;
    border-radius: 6px;
    margin-top: 2.5px;
    background-color: $crusta-orange-color;
    cursor: pointer;

    span {
      font-family: $muli-semi-bold;
      font-size: 14px;
      line-height: normal;
      letter-spacing: -0.26px;
      color: $white-color;
    }
  }

  .flex-wrap-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #cross-btn {
    padding-right: 20px;
    cursor: pointer;
  }

  #green-tick {
    padding-right:14px;
  }

  input#promoInpt.form-control:invalid+.form-control-placeholder {
    top: 16px;
    color: $dusty-grey-color;
  }

  input#promoInpt.form-control:focus+.form-control-placeholder {
    color: $silver-grey-color !important;
  }

  .promo-code-error {
    display: flex;
    align-items: center;
    font-family: $muli-italic;
    font-size: 14px;
    line-height: normal;
    letter-spacing: -0.26px;
    color: $dark-orange-color;

    img {
      padding-right: 10px;
      height: 18px;
    }
  }

  .no-promo-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    img {
      height: 80px;
      width: 80px;
    }

    div {
      font-family: $muli-regular;
    }

    div:first-of-type {
      color: $teal-color;
      font-size: 16px;
      line-height: normal;
      letter-spacing: -0.15px;
    }

    div:nth-of-type(2) {
      color: $dusty-grey-color;
      font-size: 14px;
      line-height: 1.43;
      letter-spacing: -0.14px;
    }
  }

  .active-promo-display {
    overflow-y: auto;
    max-width: 800px;

    @include allmobiles {
      padding: 0 20px 0 14px;
    }

    .promo-name {
      font-family: $muli-bold;
      font-size: 14px;
      color: $black-color;
      letter-spacing: -0.13px;
      line-height: normal;
      white-space: nowrap;
    }

    .valid-period {
      font-family: $muli-regular;
      font-size: 12px;
      color: $silver-grey-color;
      letter-spacing: -0.22px;
      line-height: normal;
      margin-top: 2px;
      white-space: nowrap;
    }

    .promo-card-div {
      display: flex;
      align-items: center;
      padding: 20px 0px 15px;
      width: 345px;
      margin-right: 20px;

      @include allmobiles{
        margin-right: 0px;
      }
    }

    .promo-card {
      background-image: url('/assets/images/promo-code/combined-shape.svg');
      height: 113px;
      width: 100%;
      // min-width: 345px;
      max-width: 390px;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position-y: top;
      display: flex;
      padding: 15px 17px 19px 19px;
      cursor: pointer;
    }

    .owl-logo {
      height: 70px;
      align-self: center;
    }

    .flex-div {
      display: flex;
      width: 100%;
      justify-content:space-between;

      img {
        position: relative;
        align-self: baseline;
      }
    }

    .col-div {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content:space-between;
    }

    .promo-details {
      padding-left: 13px;
      display: flex;
      flex-direction: column;
      align-self: baseline;
    }

    .use-promo {
      color: $dark-orange-color !important;
    }

    .inactive-promo {
      font-family: $muli-bold;
      font-size: 14px;
      color: $silver-grey-color;
      letter-spacing: normal;
      line-height: normal;
      align-self: flex-end;
      white-space: nowrap;

      div {
        cursor: pointer;
      }
    }

    span {
      font-family: $muli-bold;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: normal;
      color: $dusty-grey-color;
      padding-left: 6px;
    }

    .tnc {
      font-family: $muli-regular;
      font-size: 12px;
      line-height: 1.5;
      letter-spacing: -0.11px;
      color: $silver-grey-color;
      padding-left: 6px;

      a {
        color: $dark-orange-color;
        text-decoration: none;
      }
    }
  }

  .form-control:focus+.form-control-placeholder,
  .form-control:valid+.form-control-placeholder,
  .form-control:read-only+.form-control-placeholder {
    font-size: 10px;
    transform: translate3d(0, -50%, 0);
    opacity: 1;
    color: #5e5e5e;
    z-index: 999;
  }
}
