<div class="promo-bg pb30">
  <form id="formGrp" name="formGrp" [formGroup]="formGrp">
    <div class="flex-row">
      <div class="flex-row gray-bg">
        <span class="add-promo">{{'PROMO_CODE_LIST.ADD_PROMO' | translate}}</span>
        <div class="form-group-floating-label input-container" [ngClass]="{'inline-error': showError}">
          <input type="text" id="promoInpt" formControlName="promoCode" (keyup)="onKeyupEvent($event)" autocomplete="off" class="form-control" required [readonly]="showSpinner">
          <label class="form-control-placeholder" for="promoCode">{{'PROMO_CODE_LIST.ENTER_PROMO' | translate}}</label>
          <img id="cross-btn" *ngIf="showClearBtn && !promoCodeValidated" (click)="clearPromoCode($event)" src="assets/images/button-clear-txt.svg" />
          <div *ngIf="!promoCodeValidated && !showSpinner" class="apply-container" (click)="applyPromoCode($event)" [ngStyle]="{'background-color': (formGrp.controls['promoCode'].value.length > 5)? '#ff872f' : '#00a7a7'}">
            <span>{{'PROMO_CODE_LIST.APPLY_BTN' | translate}}</span>
          </div>
          <app-spinner [showSpinner]="showSpinner"></app-spinner>
        </div>
        <div *ngIf="showError" class="promo-code-error mt10">
          <img src="assets/images/alert.svg" />
          <span *ngIf="formGrp.controls.promoCode.errors?.invalidPromoCode">{{'PROMO_CODE_LIST.INVALID_PROMO' | translate}}</span>
          <span *ngIf="formGrp.controls.promoCode.errors?.promoCodeAlreadyApplied">{{'PROMO_CODE_LIST.ALREADY_APPLIED' | translate}}</span>
          <span *ngIf="formGrp.controls.promoCode.errors?.existingPromoCode">{{'PROMO_CODE_LIST.EXISTING_PROMO' | translate}}</span>
        </div>
      </div>
    </div>
  </form>
  <div *ngIf="promoArray.length !== 0; else noPromo" class="active-promo-display mt20">
    <span>{{'PROMO_CODE_LIST.ACTIVE_PROMO' | translate}}</span>
    <div class="flex-wrap-div">
      <div *ngFor="let promo of promoArray" class="promo-card mt15" (click)="showDetails(promo, $event)"
      [ngStyle]="{opacity: promo.customerPromoStatus === promoCodeStatus.NOT_IN_USE ? '1': '0.4'}">
      <img class="owl-logo" [ngStyle]="{filter: promo.status === promoCodeStatus.NOT_IN_USE ? 'none': 'grayscale(100%)'}" src="assets/images/promo-code/owl-colorful.svg" alt="" />
      <div class="col-div">
        <div class="flex-div">
          <div class="promo-details">
            <div class="promo-name">{{promo?.shortDescription}}</div>
            <div *ngIf="promo?.customerPromoStatus !== promoCodeStatus.PROCESSING" class="valid-period">
              <ng-container *ngIf="promo?.customerPromoStatus === promoCodeStatus.NOT_IN_USE; else applied">
                {{'PROMO_CODE_LIST.VAlID_UNTIL' | translate}}{{promo?.promoCodeEndDate | date:'dd MMM y'}}
              </ng-container>
              <ng-template #applied>
                {{'PROMO_CODE_LIST.APPLIED_ON' | translate}}{{promo?.appliedDate | date:'dd MMM y'}}
              </ng-template>
            </div>
          </div>
          <img src="assets/images/promo-code/next-arrow.svg" alt="" />
        </div>
        <div class="inactive-promo" [ngClass]="{'use-promo': promo?.customerPromoStatus === promoCodeStatus.NOT_IN_USE}" >
          <ng-container *ngIf="promo?.customerPromoStatus !== promoCodeStatus.NOT_IN_USE">
            <div>
              {{promo?.customerPromoStatus | titlecase}}
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    </div>
    <div class="tnc mt30" innerHTML="{{'PROMO_CODE_LIST.TNC' | translate}}"></div>
  </div>
  <ng-template #noPromo>
    <div class="no-promo-display mt40">
      <img src="assets/images/owl-faded.svg" />
      <div class="mt10">{{'PROMO_CODE_LIST.NO_PROMO' | translate}}</div>
      <div class="mt10">{{'PROMO_CODE_LIST.ADD_PROMO_ABOVE' | translate}}</div>
    </div>
  </ng-template>
</div>