<div class="personal-info">
  <app-page-title [step]="step" [pageTitle]="pageTitle"></app-page-title>
  <div class="container-fluid">
    <div class="container-fluid max-width--1024">
      <div class="content">
        <div class="flex-row">
          <div class="col-lg-12 col-md-12 mobile-header--container">
            <div class="col-lg-12 col-md-12 col-12">
              <div class="heading hidden-sm-md" id="myFamily-step1">{{'WILL_WRITING.COMMON.STEP_4' | translate}}</div>
              <div class="autofill-link">
                <div class="autofill-text hidden-sm-md" id="myFamily-title">{{ 'WILL_WRITING.CONFIRMATION.TITLE' |
                  translate}}</div>
                <div class="sub-title mb20" id="myFamily-sub-title" innerHTML="{{ 'WILL_WRITING.CONFIRMATION.SUB_TITLE' |
                translate}}"></div>
                <div class="heading hidden-lg mb10">{{ 'Almost there!'}}</div>
                <div class="autofill-logo mobile-logo hidden-lg mb5" id="myFamily-mobile-img"><img class="img-fluid"
                    src="assets/images/will-writing/owl-mobile.svg" /></div>
              </div>
            </div>
          </div>

          <!-- About Me -->
          <div class="flex-row col-lg-12 col-md-12 col-12 mb20">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="section-container">
                <div class="header col-lg-12 col-md-12 col-12">
                  <div class="col-lg-8 col-md-8 col-sm-9">{{'WILL_WRITING.ABOUT_ME.TITLE' | translate}}</div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="edit" (click)="edit(willWritingRoutePaths.ABOUT_ME)">
                      <span class="edit-dark hidden-sm-md"><img
                          src="assets/images/will-writing/edit-dark.svg" /></span><span>Edit</span>
                    </div>
                  </div>
                </div>
                <div class="section-body">
                  <div class="col-12">
                    <div class="record">
                      <div class="label-header col-6">
                        {{'WILL_WRITING.COMMON.NAME' | translate}}
                      </div>
                      <div class="label-value col-6">{{willWritingFormData.aboutMe.name | titlecase}}</div>
                    </div>
                    <div class="record">
                      <div class="label-header col-6">
                        {{'WILL_WRITING.COMMON.NRIC' | translate}}
                      </div>
                      <div class="label-value col-6">{{willWritingFormData.aboutMe.uin}}</div>
                    </div>
                    <div class="record">
                      <div class="label-header col-6">
                        {{'WILL_WRITING.COMMON.GENDER' | translate}}
                      </div>
                      <div class="label-value col-6">{{willWritingFormData.aboutMe.gender | titlecase}}</div>
                    </div>
                    <div class="record">
                      <div class="label-header col-6">
                        {{'WILL_WRITING.COMMON.MARITAL_STATUS' | translate}}
                      </div>
                      <div class="label-value col-6">{{willWritingFormData.aboutMe.maritalStatus | titlecase}}</div>
                    </div>
                    <div class="record no-brdr">
                      <div class="label-header col-6">
                        {{'WILL_WRITING.COMMON.NUMBER_OF_CHILDREN' | translate}}
                      </div>
                      <div class="label-value col-6">{{willWritingFormData.aboutMe.noOfChildren}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <div class="autofill-logo hidden-sm-md" id="myFamily-img"><img class="img-fluid"
                  src="assets/images/will-writing/confirmation.svg" /></div>
            </div>
          </div>

          <!-- My Family -->
          <div class="col-lg-12 col-md-12 col-12 mb20"
            *ngIf="(willWritingFormData.spouse && willWritingFormData.spouse.length > 0) || (willWritingFormData.children && willWritingFormData.children.length > 0)">
            <div class="section-container">
              <div class="header col-lg-12 col-md-12 col-12">
                <div class="col-lg-8 col-md-8 col-sm-9">{{'WILL_WRITING.MY_FAMILY.TITLE' | translate}}</div>
                <div class="col-lg-3 col-md-3 col-3">
                  <div (click)="edit(willWritingRoutePaths.MY_FAMILY)" class="edit">
                    <span class="edit-dark hidden-sm-md"><img
                        src="assets/images/will-writing/edit-dark.svg" /></span><span>Edit</span>
                  </div>
                </div>
              </div>
              <div class="section-body">
                <!-- Loop Start-->
                <div class="col-lg-6 col-md-6 col-sm-12"
                  *ngIf="willWritingFormData.spouse && willWritingFormData.spouse.length > 0">
                  <div class="section-header  col-lg-12 col-md-12 col-sm-12 mb10">
                    {{'WILL_WRITING.COMMON.MY_SPOUSE' | translate}}
                  </div>
                  <div class="record">
                    <div class="label-header col-6">
                      {{'WILL_WRITING.COMMON.NAME' | translate}}
                    </div>
                    <div class="label-value col-md-6 col-sm-6">{{willWritingFormData.spouse[0].name | titlecase}}</div>
                  </div>
                  <div class="record">
                    <div class="label-header col-6">
                      {{'WILL_WRITING.COMMON.NRIC' | translate}}
                    </div>
                    <div class="label-value col-md-6 col-sm-6">{{willWritingFormData.spouse[0].uin}}</div>
                  </div>
                </div>
                <!-- Loop End-->

                <!--Removable code-->
                <div class="col-lg-6 col-md-6 col-sm-12"
                  *ngFor="let children of willWritingFormData.children; let i = index">
                  <div class="section-header  col-lg-12 col-md-12 col-sm-12 mb10">
                    {{'WILL_WRITING.COMMON.MY_CHILD' | translate}} {{i+1}}
                  </div>
                  <div class="record">
                    <div class="label-header col-6">
                      {{'WILL_WRITING.COMMON.NAME' | translate}}
                    </div>
                    <div class="label-value col-md-6 col-sm-6">{{children.name | titlecase}}</div>
                  </div>
                  <div class="record">
                    <div class="label-header col-6">
                      {{'WILL_WRITING.COMMON.NRIC' | translate}}
                    </div>
                    <div class="label-value col-md-6 col-sm-6">{{children.uin}}</div>
                  </div>
                  <div class="record">
                    <div class="label-header col-6">
                      {{'WILL_WRITING.MY_FAMILY.FORM.DOB' | translate}}
                    </div>
                    <div class="label-value col-md-6 col-sm-6">{{children.formatedDob}}</div>
                  </div>
                </div>

                <!-- Removable code End-->
              </div>
            </div>
          </div>

          <!-- My Children's Guardian -->
          <div class="col-lg-12 col-md-12 col-12 mb20"
            *ngIf="willWritingFormData.guardian && willWritingFormData.guardian.length > 0">
            <div class="section-container">
              <div class="header col-lg-12 col-md-12 col-12">
                <div class="col-lg-8 col-md-8 col-sm-9">
                  <span *ngIf="willWritingFormData.aboutMe.maritalStatus === willWritingConfig.MARRIED">
                    {{'WILL_WRITING.MY_CHILDS_GUARDIAN.TITLE_SPOUSE' | translate}}
                  </span>
                  <span *ngIf="willWritingFormData.aboutMe.maritalStatus !== willWritingConfig.MARRIED">
                    {{'WILL_WRITING.MY_CHILDS_GUARDIAN.TITLE' | translate}}
                  </span>
                </div>
                <div class="col-lg-3 col-md-3 col-3">
                  <div (click)="edit(willWritingRoutePaths.MY_CHILD_GUARDIAN)" class="edit">
                    <span class="edit-dark hidden-sm-md"><img
                        src="assets/images/will-writing/edit-dark.svg" /></span><span>Edit</span>
                  </div>
                </div>
              </div>
              <div class="section-body">
                <!-- Loop Start -->

                <div class="col-lg-6 col-md-6 col-sm-12" *ngFor="let guardian of willWritingFormData.guardian">
                  <div class="section-row-header col-12 mb10">
                    <span *ngIf="guardian.isAlt">{{'WILL_WRITING.MY_CHILDS_GUARDIAN.ALTERNATIVE' | translate}}</span>
                    <span *ngIf="!guardian.isAlt">{{'WILL_WRITING.MY_CHILDS_GUARDIAN.MAIN_GUARDIAN' | translate}}</span>
                  </div>
                  <div class="section-header  col-lg-12 col-md-12 col-sm-12 mb10">
                    {{'WILL_WRITING.COMMON.MY' | translate}} {{guardian.relationship | titlecase}}
                  </div>
                  <div class="record">
                    <div class="label-header col-6">
                      {{'WILL_WRITING.COMMON.NAME' | translate}}
                    </div>
                    <div class="label-value col-md-6 col-sm-6">{{guardian.name | titlecase}}</div>
                  </div>
                  <div class="record no-brdr">
                    <div class="label-header col-6">
                      {{'WILL_WRITING.COMMON.NRIC' | translate}}
                    </div>
                    <div class="label-value col-md-6 col-sm-6">{{guardian.uin}}</div>
                  </div>
                </div>
                <!-- Loop End-->
              </div>
            </div>
          </div>

          <!-- My Beneficiary-->
          <div class="col-lg-12 col-md-12 col-12 mb20">
            <div class="section-container">
              <div class="header col-lg-12 col-md-12 col-12">
                <div class="col-lg-8 col-md-8 col-sm-9">{{'WILL_WRITING.MY_BENEFICIARY.TITLE' | translate}}</div>
                <div class="col-lg-3 col-md-3 col-3">
                  <div (click)="edit(willWritingRoutePaths.MY_BENEFICIARIES)" class="edit">
                    <span class="edit-dark hidden-sm-md"><img
                        src="assets/images/will-writing/edit-dark.svg" /></span><span>Edit</span>
                  </div>
                </div>
              </div>
              <div class="section-body">
                <!-- Loop Start-->
                <div class="col-lg-6 col-md-6 col-sm-12" *ngFor="let beneficiary of willBeneficiary">
                  <div class="section-header  col-lg-12 col-md-12 col-sm-12 mb10">
                    <span *ngIf="beneficiary.relationship === willWritingConfig.SPOUSE">{{'WILL_WRITING.COMMON.MY_SPOUSE'
                      | translate}}</span>
                    <span *ngIf="beneficiary.relationship === willWritingConfig.CHILD">{{'WILL_WRITING.COMMON.MY_CHILD'
                      | translate}} {{beneficiary.pos}}</span>
                    <span
                      *ngIf="beneficiary.relationship !== willWritingConfig.SPOUSE && beneficiary.relationship !== willWritingConfig.CHILD">
                      {{'WILL_WRITING.COMMON.MY' | translate}} {{beneficiary.relationship | titlecase}}
                    </span>
                  </div>
                  <div class="record">
                    <div class="label-header col-6">
                      {{'WILL_WRITING.COMMON.NAME' | translate}}
                    </div>
                    <div class="label-value col-md-6 col-sm-6">{{beneficiary.name | titlecase}}</div>
                  </div>
                  <div class="record">
                    <div class="label-header col-6">
                      {{'WILL_WRITING.COMMON.NRIC' | translate}}
                    </div>
                    <div class="label-value col-md-6 col-sm-6">{{beneficiary.uin}}</div>
                  </div>
                </div>
                <!-- Loop End-->
              </div>
            </div>
          </div>

          <!-- My Estate Distribution -->
          <div class="col-lg-12 col-md-12 col-12 mb20">
            <div class="section-container">
              <div class="header col-lg-12 col-md-12 col-12">
                <div class="col-lg-8 col-md-8 col-sm-9">{{'WILL_WRITING.MY_ESTATE_DISTRIBUTION.TITLE' | translate}}
                </div>
                <div class="col-lg-3 col-md-3 col-3">
                  <div (click)="edit(willWritingRoutePaths.MY_ESTATE_DISTRIBUTION)" class="edit">
                    <span class="edit-dark hidden-sm-md"><img
                        src="assets/images/will-writing/edit-dark.svg" /></span><span>Edit</span>
                  </div>
                </div>
              </div>
              <div class="section-body">
                <!-- Loop Start-->
                <div class="col-lg-6 col-md-6 col-sm-12" *ngIf="willEstateDistribution.spouse.length > 0">
                  <div class="section-header  col-lg-12 col-md-12 col-sm-12 mb10">
                    {{'WILL_WRITING.COMMON.MY_SPOUSE' | translate}}
                  </div>
                  <div class="record">
                    <div class="label-header col-6">
                      {{willEstateDistribution.spouse[0].name | titlecase}}
                    </div>
                    <div class="label-value col-md-6 col-sm-6">{{willEstateDistribution.spouse[0].distPercentage}}%
                    </div>
                  </div>
                </div>
                <!-- Loop End-->

                <!-- Removable code -->
                <div class="col-lg-6 col-md-6 col-sm-12" *ngIf="willEstateDistribution.children.length > 0">
                  <div class="section-header  col-lg-12 col-md-12 col-sm-12 mb10">
                    {{'WILL_WRITING.COMMON.MY_CHILDREN' | translate}}
                  </div>
                  <div class="record" *ngFor="let children of willEstateDistribution.children">
                    <div class="label-header col-6">
                      {{children.name | titlecase}}
                    </div>
                    <div class="label-value col-md-6 col-sm-6">{{children.distPercentage}}%</div>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12" *ngFor="let others of willEstateDistribution.others">
                  <div class="section-header  col-lg-12 col-md-12 col-sm-12 mb10">
                    {{'WILL_WRITING.COMMON.MY' | translate}} {{others.relationship | titlecase}}
                  </div>
                  <div class="record">
                    <div class="label-header col-6">
                      {{others.name | titlecase}}
                    </div>
                    <div class="label-value col-6">{{others.distPercentage}}%</div>
                  </div>
                </div>
                <!-- Removable code End-->
              </div>
            </div>
          </div>

          <!-- My Executor & Trustee -->
          <div class="col-lg-12 col-md-12 col-12 mb20">
            <div class="section-container">
              <div class="header col-lg-12 col-md-12 col-12">
                <div class="col-lg-8 col-md-8 col-sm-9">{{'WILL_WRITING.MY_EXECUTOR_TRUSTEE.TITLE' | translate}}</div>
                <div class="col-lg-3 col-md-3 col-3">
                  <div (click)="edit(willWritingRoutePaths.MY_EXECUTOR_TRUSTEE)" class="edit">
                    <span class="edit-dark hidden-sm-md"><img
                        src="assets/images/will-writing/edit-dark.svg" /></span><span>Edit</span>
                  </div>
                </div>
              </div>
              <div class="section-body">
                <!-- Loop Start-->
                <div class="col-lg-6 col-md-6 col-sm-12" *ngFor="let execTrustee of willWritingFormData.execTrustee">
                  <div class="section-row-header col-lg-12 col-md-12 col-sm-12 mb10">
                    <span
                      *ngIf="execTrustee.isAlt">{{'WILL_WRITING.MY_EXECUTOR_TRUSTEE.ALT_EXEC_TRUSTEE' | translate}}</span>
                    <span *ngIf="!execTrustee.isAlt">{{'WILL_WRITING.MY_EXECUTOR_TRUSTEE.MAIN_EXEC_TRUSTEE' |
                      translate}}</span>
                  </div>
                  <div class="section-header  col-lg-12 col-md-12 col-sm-12 mb10">
                    {{'WILL_WRITING.COMMON.MY' | translate}} {{execTrustee.relationship | titlecase}}
                  </div>
                  <div class="record">
                    <div class="label-header col-6">
                      {{'WILL_WRITING.COMMON.NAME' | translate}}
                    </div>
                    <div class="label-value col-md-6 col-sm-6">{{execTrustee.name | titlecase}}</div>
                  </div>
                  <div class="record no-brdr">
                    <div class="label-header col-6">
                      {{'WILL_WRITING.COMMON.NRIC' | translate}}
                    </div>
                    <div class="label-value col-md-6 col-sm-6">{{execTrustee.uin}}</div>
                  </div>
                </div>
                <!-- Loop End-->
                <!-- Removable code End-->
              </div>
            </div>
          </div>
        </div>
        <div class="reminder mb20" innerHTML="{{'WILL_WRITING.CONFIRMATION.REMINDER' | translate}}"></div>
        <div class="stamp-block">
          <div class="col-lg-5 col-sm-12 col-md-5">
            <button type="button" (click)="goNext()" class="btn btn__footer--fixed width100 btn-primary">
              <span *ngIf="!existingWill">{{'LABEL.CONTINUE' | translate}}</span>
              <span *ngIf="existingWill">{{'LABEL.SAVE_CONTINUE' | translate}}</span>
            </button>
          </div>
          <img class="hidden-sm-md" src="assets/images/will-writing/owl-stamp.svg" />
        </div>
      </div>
    </div>
  </div>
</div>