<div class="promotion-page__wrapper">
    <div class="banner" #banner>
        <div class="banner-bg">
            <div class="banner-bg--image"></div>
        </div>
        <div class="sub-navigation">
            <div class="sub-navigation--inner pdlr">
                <span routerLink="/">Home</span>
                <i class="material-icons">keyboard_arrow_right</i>
                <span routerLink="/promotions">Promotions</span>
                <i class="material-icons">keyboard_arrow_right</i>
                <span>Insurance Promotions</span>
            </div>
        </div>
    </div>
    <div class="promotion-tag-container">
        <div class="promotion-tag-inner-content">
                <div class="promotion-page-tag">
                    Insurance Promotions
                </div>
        </div>
    </div>
    <div class="promotion-page-container">
        <div class="promotion-title">
            <h6>35% off Aviva IdealIncome</h6>
            <p class="promotion-sub-title">Enjoy lifetime discount with Occupational Disability coverage!</p>
            <p class="promotion-desc">To qualify for the premium discount, sign up for the product during the promotional period.</p>
            <div class="promotion-box-container">
                <div class="promotion-element">
                    <span>
                        Eligible Plan
                    </span>
                    <span>
                        Minimum Monthly Benefit
                    </span>
                </div>
                <div class="promotion-element">
                    <span>
                        Aviva IdealIncome
                    </span>
                    <span>
                        $3000
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>