<div class="promotion-page__wrapper">
    <div class="banner" #banner>
        <div class="banner-bg">
        </div>
        <div class="sub-navigation">
            <div class="sub-navigation--inner">
                <span routerLink="/">Home</span>
                <i class="material-icons">keyboard_arrow_right</i>
                <span routerLink="/promotions">Promotions</span>
                <i class="material-icons">keyboard_arrow_right</i>
                <span>Insurance Promotions</span>
            </div>
        </div>
    </div>
    <header class="promo-header">
        <div class="promo-header__inner-container">
            <div class="promo-tag__container">
                <div class="promo-tag__element">
                    Insurance Promotions
                    </div>
                </div>
            <div class="promo-title__container">
                <div class="promo-title__inner-container">
                    <h1 class="promo--title">
                        {{promoDetails.title}}
                        </h1>
                    <h2 class="promo--sub-title">
                        {{promoDetails.desc}}
                        </h2>
                    </div>
                <div class="promo-logo__container">
                    <img src="{{promoDetails.logo}}"/>
                </div>

            </div>
            
            </div>
        </header>
    <section class="promo-body" [innerHtml]="promoContent">
        <!-- Insert Promotion Body Here -->
        </section>
    <div class="promo-link__container">
        <app-insure-link></app-insure-link>
    </div>
    <section class="promo-tnc">
        <!-- Insert Promotion TNC HERE -->
        <div class="promo-tnc__inner-container" [innerHTML]="promoTnc"></div> 
        </section> 