@import '../../../variables';

.residential-address {

  .postal-code-control {
    display: flex;

    div.control {
      display: flex;
      flex: 3;
    }

    div.button {
      display: flex;
      flex: 2;
    }
  }
.res-title{
  font-family: $muli-semi-bold;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #ffffff;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border-bottom: 0.5px solid #ffffff;
}
  .inline-error{
    .btn{
      &.btn-secondary{
        background-color:#ff872f !important;
      }  
    }    
  }


  .dropdown-control {
    .btn-dropdown {
      color: #00a7a7;
    }
    border-radius: 6px;
    position: relative;
    //width: 43vw;
    
    position: relative;
    background: #FFF;
    cursor: pointer;
    .dropdown-toggle {
      padding: 0.90rem;
      //padding-right: 0;
      &:disabled {
        cursor: not-allowed;
        &:hover {
          background-color: transparent !important;
        }
      }
    }
  }

  label {
    font-size: 18px;
    font-family: $muli-semi-bold;
    padding-right: 10px;
  }

  .input-control {
    text-align: left;
  }

  .step-indicator-container {
    background-color: #fff;
    padding: 10px 0px;
    position: relative;
    top: 60px;
    margin-bottom: 15px;

    .container-fluid {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  @media (min-width: 768px) {
    .step-indicator-container {
      top: 0px;
    }
  }


  .form-control {
    &.with-button {
      padding: 0.50rem;
      padding-left: 0.8rem;

      input {
        margin-top: 6px;
      }
    }


  }

  .btn {
    &.btn-secondary {
      padding: 0.50rem;
      font-size: 16px;
      background-color: #ff872f;
      color: #fff;
      border: none;
      font-family: $muli;

      &.right {
        float: right;
      }

      &:focus {
        background-color: #ff730c !important;
        color: #fff !important;
      }

      &:active {
        background-color: #ff730c !important;
        color: #fff !important;
      }

    }
  }


  .white-bg-checkbox {
    background-color: #fff;
    padding: 10px 18px 10px 18px;
    border-radius: 6px;
    font-family: $muli;

    label {

      padding: 0px 0 0px 35px;
    }

    .option-row {
      margin-left: 0px;
    }

    .option-title {
      color: #000;
      font-size: 18px;
    }

    .option-desc {
      color: #4a4a4a;
      font-family: $muli-semi-bold;
      font-size: 16px;
    }
  }


  .autofill-link {
    border: 1px solid $secondary-action-color;
    padding: 23px 34px;
    background-color: #fff;
    border-radius: 6px;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;

    .autofill-text,
    .autofill-logo {}

    .autofill-logo {

      width: 35%;
    }

    .autofill-text {
      width: 65%;
      font-family: Muli;
      font-size: 18px;
      font-weight: bold;
      color: #e57300;
    }

  }

  .dropdown-item {
    white-space: normal;
  }

  
    .step-indicator-container {
      background-color: #fff;
      padding: 10px 0px;
      position: relative;
      top: 60px;
      margin-bottom: 15px;
  
      .container-fluid {
        padding-top: 0px;
        padding-bottom: 0px;
      }
  
      .page-caption {
        color: $text-color-secondary;
        font-size: 16px;
        font-family: $muli;
        margin-bottom: 10px;
        text-align: center;
      }
    }
  
    @media (min-width: 768px) {
      .step-indicator-container {
        top: 0px;
      }
    }
  
    .sub-title-block {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;
  
      .sub-title {
        font-family: $muli-bold;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: -0.3px;
        color: #ffffff;
        margin-bottom: 7px;
        display: flex;
        justify-content: space-between;
  
        img {
          display: inline-flex;
        }
      }
  
      .sub-title-desc {
        font-family: $muli-semi-bold;
        color: #bfe9e9;
        font-weight: 600;
        letter-spacing: -0.3px;
      }
  
      .upload-file {
        font-family: $muli-semi-bold;
        font-size: 16px;
        background: #ffffff;
        border-radius: 6px;
        margin-top: 15px;
        padding:6px;
        display: flex;
  
        .selected-state{
            display:none;
        }
        .unselected-state {
          display: inline-block;
        }
  
        &.selected {
          .selected-state {
            display: inline-block;
          }
          .unselected-state {
            display: none;
          }
          button{
              background-color:$btn-primary-backgrnd-color;
          }
        }
  
        .btn {
          font-size: 16px;
          background-color: #ff872f;
          color: #ffffff;
          display:flex;
        flex:2;
        }
  
        label {
          color: rgba(133, 133, 133, 0.67);
          display:flex;
          flex:5;
          padding-left:10px;
          align-self: center;
          word-break: break-all;
        }
        div{
          display:flex;
          align-self: center;
          padding-right:10px;
          cursor: pointer;
        }
      }
  
  
    }
  
    .upload-doc {
      display: flex;
      // align-items: center;
      justify-content: space-evenly;
      flex: 1;
      padding: 0px;
  
      .upload-desc {
        display: flex;
        flex-direction: column;
        //   justify-content: space-around;
        align-items: center;
        border-radius: 14px;
        border: 1px solid #66caca;
        padding: 20px;
        text-align: center;
        //   height: 185px;
        flex: 1;
        margin-right: 10px;
        margin-bottom: 38px;
  
        &:last-child {
          margin-right: 0;
        }
  
        .upload-content {
          div {
            font-size: 16px;
            letter-spacing: -0.3px;
  
            &.title {
              font-family: $muli-semi-bold;
              font-size: 18px;
              font-weight: 600;
            }
  
            &.sub-text {
              color: #bfe9e9;
              word-break: break-all;
            }
          }
        }
  
        .thumb-container {
          position: relative;
          width: 100px;
          height: 100px;
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          cursor:pointer;
  
          .thumbnail {
            margin: 0 auto;
            max-width: 100px;
            max-height: 100px;
          }
  
          .thumb-close-icon {
            position: absolute;
            padding: 1px 7px;
            border-radius: 100%;
            background-color: #fff;
            right: -10px;
            top: -10px;
  
            img {
              width: 12px;
              height: 12px;
            }
          }
        }
      }
    }
  
  }
  .dropdown-menu.show {
    right: 0 !important;
    overflow: auto;
    height: auto;
    max-height: 264px;
      }
    
.dropdown-item {
  white-space: normal;
  word-break: break-word;
}
.dropdown-control .btn-dropdown {
  padding-right: 27px;
  max-height: 52px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


