<div class="promotion__wrapper">
  <div class="sub-navigation">
    <div class="sub-navigation--inner pdlr">
      <span routerLink="/">Home</span>
      <i class="material-icons">keyboard_arrow_right</i>
      <span>Promotions</span>
    </div>
  </div>
  <div class="banner" #banner>
    <div class="banner-bg">
      <div class="banner-bg--image"></div>
    </div>
    <div class="banner-container">
      <div class="">
        <h1 class="banner--title">Enjoy Greater Cost Savings</h1>
      </div>
    </div>
    <div class="banner-container-bottom">
      <div class="banner--bottom">
        See all promotions below:
      </div>
    </div>
  </div>
  <div class="promotion-header-container">
    <div class="promotion-title">
      <h6>Insurance Promotions</h6>
      <p>More discounts and goodies in addition to receiving 50% rebate in agent’s commissions</p>
    </div>
  </div>
  <div class="promotion-card__content">
    <div class="promotion-card__inner-content">
      <div class="promotion-card card card-block" *ngFor="let promotion of insurancePromotionList">
        <div class="promotion-card--image" [ngStyle]="{'background-image': 'url(' + promotion.imgSrc + ')'}">
        </div>
        <h4>
          {{promotion.title}}
        </h4>
        <div class="summary">
          <span>{{promotion.summary}}</span>
        </div>
        <div class="btn btn-primary-dark more-details-btn" (click)="goToPromotion(promotion.promoId)">
          <span>More Details</span>
        </div>
      </div>
    </div>
  </div>
  <div class="promotion-header-container">
    <div class="promotion-title">
      <h6>Wills Promotions</h6>
      <p>Enjoy these special savings when managing your estate</p>
    </div>
  </div>
  <div class="promotion-card__content">
      <div class="promotion-card__inner-content">
        <div class="promotion-card card card-block" *ngFor="let promotion of willsPromotionList">
          <div class="promotion-card--image" [ngStyle]="{'background-image': 'url(' + promotion.imgSrc + ')'}">
          </div>
          <h4>
            {{promotion.title}}
          </h4>
          <div class="summary">
            <span>{{promotion.summary}}</span>
          </div>
          <div class="btn btn-primary-dark more-details-btn" (click)="goToPromotion(promotion.promoId)">
            <span>More Details</span>
          </div>
        </div>
      </div>
    </div>
</div>