@import '../../../variables';
@import '../../../mixins';

.promotion__wrapper{
    position: relative;
    display:block;
    background-color:#119797;
    .sub-navigation{
        padding:0px 20px;
        @include minPhabletmaxTablet{
            padding:0px 20px;
        }
        @include minMobilemaxPhablet{
            padding:0px 20px;
        }
        .sub-navigation--inner {
            span {
                color:$white-color;
            }
        }
    }
    .banner{
        position: relative;
        display:flex;
        width:100%;
        justify-content: center;
        padding:0px 20px;
        min-height: 335px;
        @include minMobilemaxPhablet{
            flex-direction:column;
            justify-content:flex-start;
            min-height:unset;
        }
    }
    .banner-bg{
        position: absolute;
        display:block;
        max-width:1024px;
        @include tablet{
            right:20px;
        }
        @include minMobilemaxPhablet{
            position: relative; 
            height:200px;
            margin-top:60px;
            order:2;
        }
        .banner-bg--image{
            position: absolute;
            display:block;
            transform: translate(-385px, -57px);
            width:930px;
            height:340px;
            background-image:url('/assets/images/promotion/promo-header-img.svg');
            background-repeat:no-repeat;
            background-position:top right;
            @include minPhabletmaxTablet{
                height:calc(100% - 50px);
            }
            @include minMobilemaxPhablet{
                background-position:center;
                background-image:url('/assets/images/promotion/group-8.svg');
            }
        }
    }
    .banner-container{
        position: relative;
        display: inline-block;
        width:100%;
        max-width:1024px;
        padding:110px 500.8px 63px 52.2px;
        
        @include minMobilemaxPhablet{
            padding:20px 0px;
            order:1;
            margin-bottom:-80px;
        }
        .banner--title{
            font-family:$muli-bold;
            font-weight:bold;
            font-size:3.5rem;
            color:$white-color;
            margin-bottom:5px;
            line-height:1;
            @include minPhabletmaxTablet{
                font-size:3.0rem;
            }
            @include minMobilemaxPhablet{
                font-size:2.0rem;
            }
        }
    }

    .banner-container-bottom{
        position: absolute;
        display: block;
        width:100%;
        bottom: 0%;
        text-align: center;
        border-style: solid none none none;
        border-width: thin;
        border-top-color: #00cece;
        padding: 15px 0px 13px 0px;

        @include minMobilemaxPhablet{
            padding:20px 0px;
            order:1;
            margin-bottom:-80px;
        }

        .banner--bottom{
            font-family:$muli-semi-bold;
            font-size: 18px;
            color:$white-color;
            opacity:0.9;
            letter-spacing: -0.1px;
            @include minPhabletmaxTablet{
                font-size:1.3rem;
            }
            @include minMobilemaxPhablet{
                font-size:1.2rem;
            }
        }
    }
}

.promotion-card__content{
    position: relative;
    display:flex;
    background-color:$white-color;
    width:100%;
    justify-content:center;
    align-items:flex-start;
    padding:20px 20px 0px;

    .promotion-card__inner-content{
        position: relative;
        display:flex;
        column-count:3;
        max-width:1000px;
        width:100%;
        align-content: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;

        @include minPhabletmaxTablet{
            column-count:2;
        }
        @include minMobilemaxPhablet{
            column-count:1;
        }
    }
    
    .promotion-card {
        position: relative;
        display:inline-block;
        width:32%;
        justify-content:center;
        align-items:center;
        margin-bottom:1.3rem;
        border-style: solid;
        border-width: thin;
        border-color: $teal-color;
        padding: 0px;

        @include tablet{
            padding:20px;
        }

        .promotion-card--image {
            width:100%;
            height:170px;
            background-image:url('/assets/images/promotion/promo-header-img.svg');
            background-repeat:no-repeat;
            background-size: contain;
        }
        
        h4 {
            font-family:$muli-bold;
            color:$teal-color;
            opacity:0.9;
            text-align:center;
            padding: 10px;
        }

        .more-details-btn {
            width:88%; 
            height:60px;
            margin: 20px;
            box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.14);
            padding: 10px;
            bottom: 0;
            span{
                color:$white-color;
                font-family:$muli-bold;
                letter-spacing:-0.14px;
                text-align:center;
                font-size:20px;
            }
        }

        .summary {
            position: relative;
            display:inline-block;
            width:100%;
            margin-top:20px;
            text-align:center;
            color: $teal-grey-color;
            padding: 10px;
            letter-spacing:-0.14px;
            font-size:14px;
        }   
    }
}

.promotion-header-container {
    position: relative;
    display:flex;
    background-color:$white-color;
    width:100%;
    justify-content:center;
    align-items:flex-start;
    padding:60px 20px 0px;
    .promotion-title {
        max-width:1024px;
        width:100%;
        h6 {
            align-content: flex-start;
            font-family:$muli-bold;
            color:$teal-color;
            opacity:0.9;
            text-align:left;
            font-size: 40px;
            padding: 0px 20px;
        }
        p {
            align-content: flex-start;
            font-family:$muli-regular;
            color: $teal-grey-color;
            opacity:0.9;
            text-align:left;
            font-size: 21px;
            letter-spacing: -0.1px;
            padding: 0px 20px;
        }
    }
    
    
}