@import '../../../../variables';

app-edit-investment-modal{
.edit-investment-modal {

  font-family: $muli;

  .dropdown-control {
    position: relative;
  }

  .modal-body .form-group {
    label {
      font-size: 18px;
      font-weight: 600;
      padding-right: 15px;
    }
  }

  .form-control .input-control {
    text-align: left;
    padding-left: 15px;
  }

  .dropdown-control {
    .btn-dropdown {
      color: #00a7a7;
    }

    border-radius: 6px;
    position: relative;
    //width: 43vw;

    position: relative;
    background: #FFF;
    cursor: pointer;

    .dropdown-toggle {
      padding: 0.90rem;

      //padding-right: 0;
      &:disabled {
        cursor: not-allowed;

        &:hover {
          background-color: transparent !important;
        }
      }
    }
  }

}
}