<div class="account-created-success-modal">
  <div class="custom-modal-backdrop"></div>
  <div class="custom-modal-wrapper">
    <div class="custom-modal-content">
      <div class="custom-modal--icon">
        <img class="hidden-sm-md" src="../../../assets/images/investment-account/investment_Account_Created.svg" id="add_submit_custModalImg1" />
        <img class="hidden-lg" src="../../../assets/images/investment-account/success_small.svg" id="add_submit_custModalImg2" />
        <p *ngIf="status == 'success'" class="custom-modal--title mt20" id="upload-document-later-lab">
          {{ 'TOPUP_REQUEST.TOPUP_REQUEST_RECEIVED' | translate}} 
        </p>
        <p *ngIf="status == 'pending'" class="custom-modal--title mt20" id="upload-document-later-lab">
          {{ 'TOPUP_REQUEST.REQUEST_PROCESSED' | translate}} 
        </p>
        <button (click)="goToNext()" id="upload-document-later-back_to_dash_board" type="button" class="btn btn__footer--fixed btn-primary width100">
          {{ 'TOPUP_REQUEST.BACK_TO_DASHBOARD' | translate}} </button>
      </div>
    </div>
  </div>
</div>