<div class="container-fluid max-width--1024">
    <div class="content">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12">
          <h2 class="title">FAQ</h2>
          <h6 class="sub-title">To give you a better insights of will writing, below are the commonly asked questions.</h6>
        </div>
        <div class="col-lg-4 col-md-4  col-sm-12">
                <img src="assets/images/faq.svg" />
        </div>
      </div>
      <div class="row">
        <div  class="col-lg-12 col-md-12 col-sm-12">
          <div class="section">
            <div class="section-header">Eligibility</div>
            <div class="section-content">
              <div class="question">Who us eligible to write a will?</div>
              <div class="ans">Any one who is at least age 21 and above and of sound mind can write a will.</div>

              <div class="question">Who is suitable for MoneyOwl’s will writing services?</div>
              <div class="ans">As most people do not have overseas assets and their distribution wishes are relatively simple, the simple will offered by MoneyOwl may be sufficient for you. In the Will writing process, we will guide you to identify your beneficiaries and the proportion of estate you intend to give, as well as guardian (if you have a young child), executors and trustees.</div>

              <div class="question">Who is suitable for MoneyOwl’s will writing services?</div>
              <div class="ans">
                <ul>
                  <li>Muslims – Muslims are able to write a will but it must adhere to Faraid guidelines. Unfortunately we are not able to provide the service.</li>
                  <li>Complicated distribution wishes - eg if you want to give a combination of fixed value and a percentage of your estate to your beneficiaries. Or if you have a property under tenancy-in-common and we want to will your share of the property to specific beneficiary</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="section">
              <div class="section-header">About Will Writing</div>
              <div class="section-content">
                <div class="question">What are the benefits of writing a will?</div>
                <div class="ans">
                  <ul>
                    <li>You decide who and how your estate should be distributed instead of leaving to the law to decide.</li>
                    <li>Avoid dispute among family members</li>
                    <li>Expedite settlement of estate with a will than one without it.</li>
                    <li>Appointment of Guardian – to care for the minor children.</li>
                    <li>Appointment of Executor or Trustee – This is the person who will be dealing on the estate and ensure the wishes in the will is carried out.</li>
                  </ul>  
                </div>
  
                <div class="question">What happens to the estate if one dies without a will?</div>
                <div class="ans">When one dies without a will, an administrator must step forward to apply for the Letter of Administration before he/she can distribute the estate according to the Intestate Succession Act. If there are young children involved, 2 administrators as well as 2 guarantors are needed before the court would grant the letter.</div>
  
                <div class="question">Who is suitable for MoneyOwl’s will writing services?</div>
                <div class="ans">
                  <div class="col-lg-6 col-md-6 col-sm-5">
                    <div class="ans-header">Deceased die intestate leaving</div>
                    <div class="category">Spouse</div>
                    <div class="sub-category">No spouse, issue, parents, siblings, grandparents</div>
                    <div class="category">Spouse</div>
                    <div class="sub-category">No spouse, issue, parents, siblings, grandparents</div>
                    <div class="category">Issue</div>
                    <div class="sub-category">No spouse</div>
                    <div class="category">Spouse</div>
                    <div class="sub-category">No spouse, issue, parents, siblings, grandparents</div>
                    <div class="category">Parents</div>
                    <div class="sub-category">No Spouse or issue</div>
                    <div class="category">Siblings</div>
                    <div class="sub-category">No spouse, issue or parents</div>
                    <div class="category">Grandparents</div>
                    <div class="sub-category">No spouse, issue, parent or siblings</div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-7">
                      <div class="ans-header">Distribution</div>
                      <div>
                        <div class="category">
                          <div>Grandparents</div>
                          <div> 100%</div>
                        </div>
                        <div class="sub-category">To be shared equally</div>
                        <div class="category">
                          <ul>
                            <li>
                              <div><span class="circle"></span>Grandparents</div>
                              <div> 100%</div>
                            </li>
                            <li>
                              <div><span class="circle"></span>Parents</div>
                              <div> 50%</div>
                            </li>
                          </ul> 
                        </div>
                        <div class="sub-category">To be shared equally</div>
                        <div class="category">
                            <div>Issue</div>
                            <div> 100%</div>
                        </div>
                        <div class="sub-category">To be shared equally</div>
                        <div class="category">
                          <ul>
                            <li>
                                <div><span class="circle"></span>Spouse</div>
                                <div> 50%</div>
                            </li>
                            <li>
                                <div><span class="circle"></span>Parents</div>
                                <div> 50%</div>
                            </li>

                          </ul>
                        </div>
                        <div class="sub-category">To be shared equally</div>
                        <div class="category">
                            <div>Parents</div>
                            <div> 100%</div>
                        </div>
                        <div class="sub-category">To be shared equally</div>
                        <div class="category">
                            <div>Siblings</div>
                            <div> 100%</div>
                        </div>
                        <div class="sub-category">To be shared equally</div>
                        <div class="category">
                            <div>Grandparents</div>
                            <div> 100%</div>
                        </div>
                        <div class="sub-category">To be shared equally</div>
                      </div>
                  </div>
                </div>
                <div class="question">What assets cannot be distributed via a will?</div>
                <div class="ans">
                  <ul>
                    <li>CPF nomination – Your CPF balances will be distributed according to your CPF Nomination if you have made one. Your will cannot supersede your CPF nomination.</li>
                    <li>Insurance policies under Trust Nomination (S73A or S49L)</li>                 
                    <li>Property under Joint Tenancy – the property will be passed over to the survivor joint tenant.</li>                   
                    <li>Savings under Joint Account – the savings will be passed over to the survivor joint tenant.</li>
                  </ul>
                </div>
                <div class="question">When should you revise your will?</div>
                <div class="ans">
                  <div>
                    You should review your will from time to time to ensure that it continue to serve your distribution wishes. These are situations where you should review and amend your will if necessary:
                    <ul>
                      <li>Change in distribution wishes</li>
                      <li>Change or death of any of beneficiaries, guardian, executor, trustee</li>
                      <li>Marriage or re-marriage – these events will revoke your earlier will you have made.</li>
                      <li>Change in personal circumstances such as addition of new family member</li>
                    </ul>
                  </div>
                </div>
                <div class="question">When will your current will be revoked?</div>
                <div class="ans">
                  <ul>
                    <li>Upon marriage or re-marriage</li>
                    <li>When a later will is written</li>
                  </ul>
                </div>
                <div class="question">What should you do besides having Will?</div>
                <div class="ans">
                  <ul>
                      <li>CPF nomination – you can read more from CPF website and download the form here.</li>
                      <li>Schedule of assets – this is a list of assets that you have, eg, property, bank accounts, investment, overseas assets.</li>
                      <li>You should keep your physical will in a safe place and informed your loved ones where it is kept. One good place is to keep it together with your insurance policies.</li>
                  </ul>
                </div>
                <div class="question">What if I have a bank account or other assets in other countries?</div>
                <div class="ans">Consult a lawyer because your will may not be enforceable under different jurisdiction.</div>
              </div>
            </div>

        </div>
          <div class="back-to-top col-lg-12 col-md-12 col-sm-12">Back to top</div>
      </div>
    </div>
</div>