@import "../../../_variables.scss";
@import "../../../_mixins.scss";

modal-body-message-fields {
    font-family: $muli-regular;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: -0.2px;
    color: #00a7a7;
  }