<div class="container-fluid max-width--1024">
  <div class="wrapper">
  <div class="content-container">
    <div class="header-content-container">
      <!-- <div class="header">
        Upgrading In Progress
      </div> -->
      <!-- <div class="header" innerHTML="{{'UPGRADE.HEADER' | translate}}">
      </div>
      {{fetchdata | translate}} -->
      <div class="header">
        {{'UPGRADE.HEADER' | translate}}
      </div>
      <div class="content">
        {{'UPGRADE.CONTENT' | translate}}
      </div>
    </div>
    <div class="image-container">
      <div class="mo-upgrade-image">
        <img src="assets/images/construction-owl.svg" alt="">
      </div>
    </div>

  </div>
  <div class="footer-content-container">
    <div class="image-container-2">
      <div class="moneyowl">
        <img src="assets/images/logo-lightbg.svg" alt="">
      </div>
      <div class="contacts">
        <span><img src="assets/images/letter.svg" alt=""></span>
        <span class="text">{{'UPGRADE.ICON_TEXT' | translate}}</span>
      </div>
    </div>
    <div class="footer-content">
      {{'UPGRADE.FOOTER' | translate}}
    </div>
  </div>
</div>
</div>
