<div class="container-fluid max-width--1024 investment" *ngIf="fundingMethods">
  <div class="row">
    <div class="col-lg-7 col-md-6">
      <h2 class="hidden-sm">{{'FUNDING_METHOD.TITLE' | translate}}</h2>
      <div class="text-lyt">{{'FUNDING_METHOD.HOW_TO_FUND_PORTFOLIO' | translate}}</div>
      <div class="banner-image">
        <img src="assets/images/investment-account/choose-fund.svg" />
      </div>
    </div>
    <div class="col-lg-5 col-md-6">
      <form name="fundingMethodForm" [formGroup]="fundingMethodForm" id="fundingMethodForm">
        <div class="form-group-single-column flex-col">
          <div class="fund-question"> {{'FUNDING_METHOD.DESC' | translate}}</div>
          <div class="row">
            <div class="col-12" *ngFor="let fundingMethodOption of fundingMethods; let i = index">
              <div class="checkbox-button one-label">
                <input id="funding_method_option{{i+1}}_radio" name="initialFundingMethodId" formControlName="initialFundingMethodId"
                  type="radio" class="field radio" [value]=fundingMethodOption.id tabindex="{{i+1}}" (click)="selectFundingMethod(fundingMethodOption)">
                <label for="funding_method_option{{i+1}}_radio" id="riskAssessLbl_{{i}}">
                  <div><span id="risk-assessment_option-text{{i+1}}_lbl"
                      class="input-label-black">{{fundingMethodOption.name}}</span>
                  </div>
                </label>
                <i *ngIf="i===1" class="tooltip-icon" id="myFinancialHelpIcon" (click)="showHelpModal()"></i>
              </div>
            </div>
            <div class="col-12">
              <div *ngIf="getFundingMethodNameById(fundingMethodForm.controls.initialFundingMethodId.value, fundingMethods) == 'Cash'">
                <div class="note-info"><span class="note-icon"><img
                      src="assets/images/investment-account/note-icon-white.svg" /></span><span
                    [innerHTML]="'FUNDING_METHOD.CASH_DESC' | translate"></span></div>
              </div>
              <div *ngIf="getFundingMethodNameById(fundingMethodForm.controls.initialFundingMethodId.value, fundingMethods) == 'SRS'">
                <div class="note-info"><span class="note-icon"><img
                      src="assets/images/investment-account/note-icon-white.svg" /></span><span
                    [innerHTML]="'FUNDING_METHOD.SRS_DESC' | translate"></span></div>
              </div>
            </div>
          </div>
          <button type="button" (click)="goToNext(fundingMethodForm)"
            [disabled]="(!fundingMethodForm.controls.initialFundingMethodId.value)"
            class="btn btn-primary btn__footer--fixed width100">{{ 'LABEL.CONTINUE' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>