<section class="invest-section">
  <div class="invest-section-items">
      <div class="invest-section-content">
          <div class="invest-bg">
              <div class="invest-bg-media">
                  <div class="invest-bg-image"></div>
                  <div class="invest-bg-color"></div>
              </div>
              <div class="invest-bg-content">
                  <div class="flex-row user_content flex-col-12">
                      <div class="user_summary" id="your_portfolio_summary">
                          <div class="user_portfolio flex-col">
                              <div class="user_portfolio_lbl">{{'PROMO_CODE.TITLE' | translate}}</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<div class="promo-list-container">
  <app-promo-code-list></app-promo-code-list>
</div>
