@import '../../../variables';
@import '../../../mixins';

app-promo-code-landing {
  .invest-section {
    @include allmobiles {
      display: none;
    }
  }

  .invest-bg-content {
    .user_content {
      max-width: 1024px;
      margin: 0 auto;
      padding: 0 75px;

      @include allmobiles {
        padding-left: 20px;
      }
    }

    .user_summary {
      display: flex;
      font-family: $muli-regular;
      letter-spacing: -0.2px;
      color: $white-color;
      padding-top: 59px;
      padding-bottom: 40px;

      .user_portfolio_lbl {
        font-size: 36px;
        line-height: 40px;
        letter-spacing: -0.41px;
      }
    }
  }

  .promo-list-container {
    padding-top: 70px;
    background-color: $white-color;
    @include allmobiles {
      padding-top: 60px;
    }
  }
}
