@import '../../../variables';
@import '../../../mixins';

// .body {
//   font-weight: 600;
// }

app-my-financials {
  .container-fluid{
    @include allmobiles {
        padding: 120px 0 80px 0;
    }
  }
  .fixed-btn--sm {
    border: 1px solid rgba(0, 135, 134, 0.4);
    color: #00a7a7;
    font-size: 16px;
    font-family: $muli-regular;
    font-weight: normal !important;
    padding: .90rem;
    height: 50px;
  }

  .fixed-btn--sm.active {
    border: 1px solid #FFFFFF !important;
    color: #FFFFFF !important;
    background: #00a7a7 !important;
  }

  .form-group-with-bg--header-label {
    font-weight: 600;
  }

  .form-group-with-bg--content-sub-label {
    font-weight: 400;
  }

  .form-group-with-bg--content-label {
    font-weight: 600;
    line-height: 22px;
  }


  .second-section {
    margin-top: 4px;
    .form-group-with-bg--content {
      .checkbox_instruction {
        font-family: $muli-italic;
        font-size: 14px;
        font-style: italic;
        letter-spacing: -0.1px;
        color: #5e5e5e;
        padding-bottom: 13px;
      }
      .form-group-single-column {
        justify-content: center;
        align-items: center;
        input[type='checkbox']+label {
          padding-left: 40px;
        }
        .checkbox-button {
          background: none;
          .input-label-black {
            font-weight: 600;
            letter-spacing: -0.3px;
            color: #2d8289;
          }
          .input-label-normal {
            font-family: $muli-italic;
            font-size: 14px;
            font-style: italic;
            letter-spacing: -0.1px;
            color: #5e5e5e;
          } 
        }
        .form-control{
          &.form-control-right{
            input{
             padding-right: 40px !important;
            }
          }
        }
      }
    }
  }

  .tooltip-icon {
    background: url("../../../assets/images/tooltip-icon.svg") no-repeat;
    height: 20px;
    width: 20px;
    cursor: pointer;
    display: block;
  }



  .form-control {
    &.form-control-right {
      input {
        padding-right: 20px;
      }
    }
  }

  .btn{
    &:disabled{
        background-color: #3bbcbc;
        color: #00a7a7;
      }
    &.btn__footer--fixed{
      font-family: $muli-bold !important;
    }
  }
}

.modal {
  @include allmobiles {
    .modal-body {
      b {
        color: #5e5e5e;
        font-family: $muli-bold;
      }
    }
  }
}
