
<div class="container-fluid max-width--1024">
  <div class="content">
    <div class="row">
      <div class="col-lg-7 col-md-6 hidden-sm-md mt10">
          <h2>{{ 'MY_FINANCIALS.YOUR_INVESTMENT' | translate}}</h2>
          <h6>{{ 'MY_FINANCIALS.HOW_MUCH_INVEST' | translate}}</h6>
          <div class="banner-image">
            <img src="assets/images/investment-account/portfolio-financial.svg"/>
          </div>
        </div>
      
       <div class="col-lg-5 col-md-6">
     <form id="myFinancialsForm" name="myFinancialsForm" [formGroup]="myFinancialsForm">
      <!-- FIRST SECTION -->
      <div class="row second-section">
        <div class="col-lg-12 col-md-12">
          <!-- second setion -->
          <div class="form-group-with-bg">
            <!--Form Header-->
            <div class="form-group-with-bg--header">
              <div class="flex-row">
                <div class="flex-col-12">
                  <div class="form-group-with-bg--header-label" id="My_finacialInvestment_Lbl">{{ 'MY_FINANCIALS.INVESTMENT_LBL' | translate}}
                  </div>
                </div>
              </div>
            </div>
            <!--Form Content-->
            <div class="form-group-with-bg--content">
              <div class="checkbox_instruction"> {{ 'MY_FINANCIALS.ATLEAST_ONE' | translate}}</div>
              <!-- checkbox -->
              <div class="form-group-single-column mb0 flex-col-12">
                <div class="checkbox-button two-label flex-col-6 pl0 pr0 mb0">
                  <input id="1" type="checkbox" formControlName="firstChkBox" class="field checkbox" name="firstChkBox" (change)="firstChkBoxChange()">
                  <label for="1" id="c1">
                    <div class="input-label-black"> {{ 'MY_FINANCIALS.INITIAL_DEPOSIT_LBL' | translate}}</div>
                    <div class="input-label-normal">Min. $100</div>
                  </label>
                </div>
                <div class="flex-col-6">
                  <div class="form-control">
                    <i id="myFinancialDollerSymbFour">$</i>
                    <div name="initialInvestment" [ngClass]="{'readonly': initialInvestment.value != 0}">
                      <input class="input-control" id="myFinancialInitialDepositInput" type="text" appCurrencyInputPortfolio maxLength="7" #initialInvestment
                        formControlName="initialInvestment" value="0">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group-single-column mb0 flex-col-12">
                <div class="checkbox-button two-label flex-col-6 pl0 pr0 mb0">
                  <input id="2" type="checkbox" formControlName="secondChkBox" class="field checkbox" name="secondChkBox" (change)="secondChkBoxChange()">
                  <label for="2" id="c2">
                    <div class="input-label-black"> {{ 'MY_FINANCIALS.MONTHLY_DEPOSIT_LBL' | translate}}</div>
                    <div class="input-label-normal">Min. $50</div>
                  </label>
                </div>
                <div class="flex-col-6">
                  <div class="form-control form-control-right">
                    <i id="myFinancialDollerSymbFour">$</i>
                    <div name="monthlyInvestment" [ngClass]="{'readonly': monthlyInvestment.value != 0}">
                      <input class="input-control " id="myFinancialMonthlyDepositInput" type="text" appCurrencyInputPortfolio maxLength="6" #monthlyInvestment
                        formControlName="monthlyInvestment" value="0">
                      <i class="right">/mth</i>
                    </div>
                  </div>
                </div>
              </div>
              <!-- checkbox ends -->
            </div>
          </div>
          <!-- end1 -->
        </div>
      </div>
      <!-- SECOND SECTION -->
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <!-- first section -->
          <div class="form-group-with-bg">
            <!--Form Header-->
            <div class="form-group-with-bg--header">
              <div class="flex-row">
                <div class="flex-col-12">
                  <div class="form-group-with-bg--header-label" id="myFinancialLbl">{{ 'MY_FINANCIALS.MY_FINANCIALS_LBL' | translate}}
                  </div>
                </div>
              </div>
            </div>
            <!--Form Content-->
            <div class="form-group-with-bg--content">
              <div class="flex-row">
                <div class="flex-col-6">
                  <div class="form-group-with-bg--content-label" for="name" id="myFinancialMonthlyIncomeParentLbl">
                    <span id="myFinancialMonthlyIncomeLbl1">{{ 'MY_FINANCIALS.MONTHLY_INCOME_LBL' | translate}}</span>
                    <div class="form-group-with-bg--content-sub-label" id="myFinancialMonthlyIncomeLbl">{{ 'MY_FINANCIALS.MONTHLY_INCOME_SUB_LBL' | translate}}
                    </div>
                  </div>
                </div>
                <div class="flex-col-6">
                  <div class="form-control">
                    <i id="myFinancialDollarSybmOne">$</i>
                    <div name="monthlyIncome" [ngClass]="{'readonly': monthlyIncome.value != 0}">
                      <input class="input-control" type="text" id="myFinancialMonthlyIncomeInput" appCurrencyInputPortfolio maxLength="7" #monthlyIncome
                        formControlName="monthlyIncome" value="0">
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex-row">
                <div class="flex-col-6">
                  <div class="form-group-with-bg--content-label" for="name" id="myFinancialSavedIncomeLbl">{{ 'MY_FINANCIALS.SAVED_INCOME_LBL' | translate}}</div>
                </div>
                <div class="flex-col-6">
                  <div class="form-control form-control-right">
                    <div name="percentageOfSaving" [ngClass]="{'readonly': percentageOfSaving.value != 0}">
                      <input class="input-control" id="myFinancialSavedIncomeInput" type="text" appPercentageInput maxLength="3" #percentageOfSaving
                        formControlName="percentageOfSaving" value="0">
                      <i id="myFinancialPersentage" class="right">%</i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex-row">
                <div class="flex-col-6">
                  <div class="form-group-with-bg--content-label" for="name" id="myFinancialTotalAssetLbl">
                    <span id="myFinancialTotalAssetsLbl1">{{ 'MY_FINANCIALS.TOTAL_ASSET_LBL' | translate}}</span>
                    <div class="form-group-with-bg--content-sub-label" id="myFinancialTotalAssetSubLbl">{{ 'MY_FINANCIALS.TOTAL_ASSET_SUB_LBL' | translate}}
                    </div>
                  </div>
                </div>
                <div class="flex-col-6">
                  <div class="form-control">
                    <i id="myFinancialDollerSymbTwo">$</i>
                    <div name="totalAssets" [ngClass]="{'readonly': totalAssets.value != 0}">
                      <input class="input-control" type="text" id="myFinancialTotalAssetInput" appCurrencyInputPortfolio maxLength="7" #totalAssets
                        formControlName="totalAssets" value="0">
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex-row">
                <div class="flex-col-6">
                  <div class="form-group-with-bg--content-label" for="name" id="myFinancialLoansLbl">
                    <span id="myFinancialTotalLoansLbl1">{{ 'MY_FINANCIALS.LOANS_LBL' | translate}}</span>
                    <div class="form-group-with-bg--content-sub-label" id="myFinancialLoansSubLbl">{{ 'MY_FINANCIALS.LOANS_SUB_LBL' | translate}}
                    </div>
                  </div>
                </div>
                <div class="flex-col-6">
                  <div class="form-control">
                    <i id="myFinancialDollerSymbThree">$</i>
                    <div name="totalLiabilities" [ngClass]="{'readonly': totalLiabilities.value != 0}">
                      <input class="input-control" type="text" id="myFinancialLoansInput" appCurrencyInputPortfolio maxLength="7" #totalLiabilities
                        formControlName="totalLiabilities" value="0">
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex-row">
                <div class=flex-col-10>
                  <div class="form-group-with-bg--content-label" for="name" id="myFinancialQuestaion">{{ 'MY_FINANCIALS.QUESTATION' | translate}}
                  </div>
                </div>
                <div class="flex-col-2">
                  <i class="tooltip-icon" id="myFinancialHelpIcon" (click)="showHelpModal()"></i>
                </div>
              </div>
              <!-- buttons -->
              <div class="flex-row">
                <div class="flex-col-7">
                  <div class="btn-group--toggle" ngbRadioGroup name="radioGender" formControlName="suffEmergencyFund">
                    <div class="flex-row">
                      <div class="flex-col-6">
                        <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm mr10" id="my_financial_yes_lab">
                          <input ngbButton type="radio" value="yes" id="my_financial_yes_btn"> {{ 'MY_FINANCIALS.LABEL_YES' | translate}}
                        </label>
                      </div>
                      <div class="flex-col-6">
                        <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm" id="my_financial_no_lab">
                          <input ngbButton type="radio" value="no" id="my_financial_no_btn"> {{ 'MY_FINANCIALS.LABEL_NO' | translate}} </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ending button -->
            </div>
          </div>
          <!-- end -->
          <button type="button" [disabled]="(myFinancialsForm.controls.firstChkBox.value == false) && (myFinancialsForm.controls.secondChkBox.value == false)"
            (click)="goToNext(myFinancialsForm)" class="btn btn__footer--fixed btn-primary width100" id="myFinancialGoNextBtn">{{ 'LABEL.CONTINUE' | translate}}
          </button>
        </div>
      </div>
      <!-- end -->
     </form>
     </div>
    </div>
  </div>
</div>