<div class="modal-body white-bg srs-tooltip-width" id="erorr_popup">
    <div class="modal-body-title" [innerHTML]="errorTitle" id="error_title"></div>
    <button type="button" class="close" aria-label="Close" id="error_cross_img"
        (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true"></span>
    </button>
    <div class="modal-body-message" id="error_message">
        <div class="pb20" [innerHTML]="errorMessage" id="error_message_one"></div>
        <div class="pb20">
            <div class="txt-semi">{{'fUNDING_METHOD.HELP_MODAL.DESC2' | translate}}</div>
            <div>{{'fUNDING_METHOD.HELP_MODAL.DESC3' | translate}}</div>
        </div>
        <div class="mb15">
            <div class="txt-semi">{{'fUNDING_METHOD.HELP_MODAL.DESC4' | translate}}</div>
            <div innerHTML="{{'fUNDING_METHOD.HELP_MODAL.DESC5' | translate}}"></div>
            <div class="mt20" innerHTML="{{'fUNDING_METHOD.HELP_MODAL.DESC6' | translate}}"></div>
        </div>
    </div>
</div>