<div class="modal-body white-bg srs-tooltip-width" id="erorr_popup">
    <div class="modal-body-title" [innerHTML]="errorTitle" id="error_title"></div>
    <button type="button" class="close" aria-label="Close" id="error_cross_img"
        (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true"></span>
    </button>
    <div class="modal-body-message" id="error_message">
        <div class="pb20" [innerHTML]="errorMessage" id="error_message_one"></div>
        <div class="pb20">
            <div class="txt-semi">How to get your SRS account</div>
            <div>You can sign up for a SRS account with any of these 3 banks - DBS, OCBC, and UOB via their website.</div>
        </div>
        <div class="mb15">
            <div class="txt-semi">How to invest your SRS with MoneyOwl</div>
            <div>Once you have your SRS account ready, you can select SRS as your portfolio funding method and fund your portfolio using your SRS account.</div>
            <div class="mt20">For assistance on updating your SRS account number with us, please email to <span class="txt-orange">xxxx@moneyowl.com.sg</span> or call 6xxx xxxx.</div>
        </div>
    </div>

</div>