<div class="refer-a-friend">
<div class="container-fluid max-width--1024">
    <div class="row">
        <div class="col-12 bg-white">
            <div class="content">
                <div> This is based on $100,000 lump sum (without monthly) investment at a projected rate of return of
                    5.3%
                    p.a. (without payout), taking all fees into consideration.</div>
                <div class="toggle-block">
                    <div>
                        <ngb-accordion #acc="ngbAccordion">
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <div class="flex toggle-btn-block">
                                        <div class="flex space-between justify-center">
                                            <div>How it works</div>
                                            <div><i class='arrow'></i></div>
                                        </div>
                                        <div class="rewards-btn-block">
                                            <span class="pl40"></span>
                                            <span class="rewards-btn" (click)="goToRewards()">Welcome Rewards</span>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <div> This is based on $100,000 lump sum (without monthly) investment at a projected
                                        rate of return of 5.3% p.a. (without payout), taking all fees into
                                        consideration.
                                    </div>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>