@import '../../../_variables.scss';
@import '../../../_mixins.scss';

app-start-journey {
  .container-fluid {
    &.full-height {
      min-height: calc(100vh - 84px);
    }
  }

  .journey-wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;

    @include allmobiles {
      width: 120px;
      height: 120px;
    }
  }

  .journey-content {
    margin-top: 30px;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.16px;
    color: $dark-grey-color;
  }
.btn-center{
  text-align: center;
}
  .btn__footer--fixed {
    font-family: $muli-bold !important;
    letter-spacing: -0.25px;
    font-size: 24px;
    width:200px;
    padding: 13px;
    @include allmobiles {
      width: 100%;
      margin-bottom: 0;
    }

  }
}
