<div class="container-fluid max-width--1024 invest-web-width full-height white-bg">
  <div class="back-btn hidden-lg" (click)="goBack()"></div>
  <div class="content">
    <div class="row">
      <div class="col-12">
        <div class="journey-wrapper">
          <img class="img-fluid" src="assets/images/createAccount-icon.svg" />
        </div>
      </div>
      <div class="col-12 journey-content">
        <p>{{'START.DESC1' | translate}}</p>
        <p>{{'START.DESC2' | translate}}</p>
        <p>{{'START.DESC3' | translate}}</p>
        <div class="btn-center">
            <button type="button" class="btn btn__footer--fixed btn-primary" (click)="goNext()">{{'START.GETSTARTED' | translate}}</button>
        </div>
       </div>
    </div>
  </div>
</div>