@import '../../../variables';
@import '../../../mixins';
.container-fluid {
    padding: 0;
    @include allmobiles{
        padding: 60px 0 0 !important;
        min-height: calc(100vh - 45px);
    }
    @include phablet{
        padding: 60px 0 0 !important;
        min-height: calc(100vh - 45px);
    }
    background: $white-color;
}
.notification-panel{
    min-height: 100vh;
    background: $notification-title-bg;
    @include desktop{
        padding: 0 75px;
    }
    .web_title{
        color: $teal-color;
        padding: 28px 0 18px;
        text-align: center;
        background: $white-color;
        font-family: $muli-semi-bold;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: -0.25px;
        border-bottom: 1px solid #edeff1;
        position: relative;
        button{
            position: absolute;
            font-family: "Muli", sans-serif;
            font-size: 14px;
            border: 1px solid #00a7a7;
            border-radius: 5px;
            background-color: #ffffff;
            cursor: pointer;
            line-height: 1.1;
            color: #8cd7d7;
            padding: 8px 10px;
            outline: none;
            top: 31px;
            right: 20px;
        }
    }
}
.notifications-container {
    &__header {
        background-color: #e3f5f5;
        padding: 10px;
        text-align: center;
        color: #00a7a7;
        font-size: 14px;
        letter-spacing: -0.1px;
        font-family: $muli-regular;
    }
    &__lists {
        padding: 23px 20px;
        border-bottom: 2px solid #f4fafb;
        position: relative;
    }
    &__lists--close {
        position: absolute;
        right: 20px;
        color: #dbdbdb;
        font-size: 18px;
        font-family: $muli-regular;
        top: 45%;
        img {
            left: 0;
            right: 0;
            position: relative;
            width: 12px;
            height: 12px;
        }
    }
    &__lists--desc {
        font-family: $muli-regular;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: -0.2px;
        color: #00a7a7;
        padding-right: 55px;
        word-break: break-word;
    }
    &__lists--duration {
        font-family: $muli-regular;
        font-size: 14px;
        line-height: normal;
        letter-spacing: -0.1px;
        color: #5e5e5e;
        margin-top: 10px;
    }
    &__no-notification {
        background: #f4fafb;
        font-size: 18px;
        font-family: $muli-bold;
        text-align: center;
        color: #00a7a7;
        height: calc(100vh - 45px);
        .pt50{
            padding-top:80px!important;
        }
    }
}