<div class="breakdown-bar" *ngIf="allocation">
  
  <div class="breakdown-item"  id="Breakdowm_bar_i"  *ngFor="let curAllocation of allocation; let i = index" 
    [style.background-color]="colors[i]" 
    [style.width]="curAllocation.sector.totalPercentage + '%'"
    [class.last]="i == allocation.length - 1" 
    [class.greyout]="i != activeIndex && activeIndex != null" (click)="emitSelectedAllocation(i, (i != activeIndex && activeIndex != null))">
    
  </div>


  <!-- <div class="breakdown-shadow"></div> -->
</div>
