<div class="container-fluid max-width--1024">
  <div class="content">
    <div class="row">
      <div class="col-lg-5 col-md-6 hidden-sm-md">
        <h2>{{this.pageTitle}}</h2>
        <h6>{{'TOPUP.DESC' | translate}}</h6>
        <div class="banner-image">
          <img src="assets/images/topupwithdraw/topup.svg" />
        </div>
        <div class="faq_link">
          <a target="_blank" routerLink="/faq"
            fragment="investment">{{ 'ASSET_ALLOCATION.FAQ_DESC_TEXT' | translate}}</a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 padding-none">
        <!-- HOLIDAY AND OTHER IMPORTANT NOTE -->
        <app-notes category="topup" [noteInSession]="formValues?.investmentNote"></app-notes>
        <div class="info-card-monthly">
          <img src="assets/images/alert-black.svg" />
          <div class="info-card-monthly-note" innerHTML="{{'TOPUP.MONTHLY_NOTE' | translate}}"></div>
        </div>
        <form id="myFinancialsForm" name="myFinancialsForm" [formGroup]="topForm" *ngIf="investmentCriteria">
          <div class="flex-row">
            <div class="col-lg-12 col-md-12 pl0 pr0">
              <div class="form-group-with-bg">
                <div class="form-group-with-bg--header">
                  <div class="flex-row">
                    <div class="flex-col-12">
                      <div class="form-group-with-bg--header-label" id="topup_select_portfolio">{{'TOPUP.SELECT_PORTFOLIO'
                            | translate}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group-with-bg--content">
                  <div class="flex-row">
                    <div class="flex-col-12">
                      <div class="dropdown-control">
                        <div ngbDropdown>
                          <button class="btn btn-dropdown capital-letter" id="topup_portfolio_dropdwon_value"
                            ngbDropdownToggle>
                            {{topForm.controls.portfolio.value ? (topForm.controls.portfolio.value.portfolioName + ' - ' + 
                                 (topForm.controls.portfolio.value.refNo? topForm.controls.portfolio.value.refNo : formValues.selectedCustomerPortfolio.referenceCode)) :'Select
                                Portfolio'}}
                          </button>
                          <div class="dropdown" ngbDropdownMenu aria-labelledby="courseDropdown">
                            <button class="dropdown-item capital-letter"
                              *ngFor="let portfolio of portfolioList; let i = index;"
                              (click)="setDropDownValue('portfolio',portfolio)"
                              id="topup_portfolio_option-{{i}}">{{portfolio.portfolioName}} -
                              {{portfolio['refNo']}}</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex-row second-section">
            <div class="col-lg-12 col-md-12 pl0 pr0">
              <div class="form-group-with-bg">
                <div class="form-group-with-bg--header">
                  <div class="flex-row">
                    <div class="flex-col-12">
                      <div class="form-group-with-bg--header-label" id="topup_portfolio_enter_amount">{{'TOPUP.ENTER_INVESTMENT_AMOUNT'
                            | translate}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group-with-bg--content">
                  <!-- radio button -->
                  <div class="topup-radio-button hidden mb10">
                    <input id="tupup_radio_button_1"
                      (change)="selectedInvestment(topupTypes.ONE_TIME.NAME, investmentCriteria.oneTimeInvestmentMinimum)"
                      value="{{topupTypes.ONE_TIME.NAME}}" formControlName="Investment" name="Investment" type="radio"
                      class="field radio" tabindex="1" />
                    <label for="tupup_radio_button_1">
                      <div id="topup_investmenttype_name" class="input-label-white mb10">{{topupTypes.ONE_TIME.NAME}}
                      </div>
                      <div id="topup_investmenttype_value" class="input-label-normal">Min.
                        ${{investmentCriteria.oneTimeInvestmentMinimum}}
                      </div>
                    </label>
                  </div>
                  <div class="topup-radio-button hidden mb10">
                    <input id="tupup_radio_button_2"
                      (change)="selectedInvestment(topupTypes.MONTHLY.NAME, investmentCriteria.monthlyInvestmentMinimum)"
                      value="{{topupTypes.MONTHLY.NAME}}" formControlName="Investment" name="Investment" type="radio"
                      class="field radio" tabindex="2" />
                    <label for="tupup_radio_button_2">
                      <div id="topup_investmenttype_name" class="input-label-white mb10">{{topupTypes.MONTHLY.NAME}}
                      </div>
                      <div id="topup_investmenttype_value" class="input-label-normal">Min.
                        ${{investmentCriteria.monthlyInvestmentMinimum}}
                      </div>
                    </label>
                  </div>
                  <!-- Onetimeinvestment -->
                  <div class="flex-row mt10" *ngIf="showOnetimeInvestmentAmount">
                    <div class="flex-col-12">
                      <div class="form-control">
                        <i id="myFinancialDollerSymbThree">$</i>
                        <div name="totalLiabilities">
                          <input class="input-control" type="text" appCurrencyInput maxLength="6"
                            #oneTimeInvestmentAmount value="0" formControlName="oneTimeInvestmentAmount"
                            (keyup)="validateAmount(topForm.controls.oneTimeInvestmentAmount.value)"
                            id="onetime_investment">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Monthlyinvestment -->
                  <div class="flex-row mt10" *ngIf="showMonthlyInvestmentAmount">
                    <div class="flex-col-12">
                      <div class="form-control form-control-right">
                        <i id="topup_symb">$</i>
                        <input type="text" class="input-control" appCurrencyInput maxLength="6" #MonthlyInvestmentAmount
                          value="0" formControlName="MonthlyInvestmentAmount" id="Monthlyinvestment"
                          (keyup)="validateAmount(topForm.controls.MonthlyInvestmentAmount.value)">
                        <i class="right year">/ mth</i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <button type="button" [disabled]="!topForm.valid" (click)="goToNext(topForm)"
          class="btn btn__footer--fixed btn-primary width100" id="myFinancialGoNextBtn">{{
            'TOPUP.CONTINUE' | translate}}</button>
      </div>
    </div>
  </div>
</div>
