@import '../../../variables';
@import '../../../mixins';

app-corp-biz-activation-link {
  .container-fluid{
      &.max-width--1024 {
          &.activation-screen{
            background-color: $lite-jagged-ice-color;
            text-align: center;
            min-height: calc(100vh - 84px);
            max-width: 100%;
            @include allmobiles{
                min-height: calc(100vh - 46px);
            }
          }
      }
  }
  .title {
    font-size: 32px;
    letter-spacing: -0.38px;
    line-height: 40px;
    color: $btn-comprehensive;
  }
  .sub-title {
    font-size: 16px;
    letter-spacing: -0.15px;
    line-height: 21px;
    color: $silver-grey-color;
    a{
      text-decoration: underline;
      color: $dark-tealblue-color;
      font-weight: bold;
    }
  }
}
