@import '../../../../variables';
@import '../../../../mixins';

app-funding-instructions {
  .fund-your-account {
    &.clearfix {
      overflow: auto;
    }
  font-family: $muli-regular;
 .strong {
      font-weight: bold;
    }

    &.container-fluid {
      &.invest-web-width {
        max-width: 700px;
        padding-top: 40px;

        @include allmobiles {
          padding-top: 90px;
        }
      }
    }

    .page-title {
      font-family: $muli-semi-bold;
      font-size: 32px;
      letter-spacing: -0.33px;
      text-align: center;
      padding-bottom: 35px;
    }

    /* FUND SUMMARY */
    .fund-summary {
      display: flex;
      margin-bottom: 35px;

      .from-account {
        display: flex;
        flex-direction: column;
        flex: 4;
        align-items: center;
        font-family: $muli-regular;

        img {
          height: 80px;
          margin-bottom: 10px;

          @include allmobiles {
            height: 55px;
          }
        }

        .strong {
          font-family: $muli-bold;
        }

        div {
          align-self: center;
          text-align: center;
          word-break: break-all;
          letter-spacing: -0.2px;
        }
      }

      .right-arrow {
        display: flex;
        flex: 1;
        align-self: center;
        justify-content: center;

        img {
          width: 26px;
        }
      }

      .to-account {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 4;
        font-family: $muli-regular;
        letter-spacing: -0.2px;

        img {
          height: 80px;
          margin-bottom: 10px;

          @include allmobiles {
            height: 55px;
          }
        }

        .strong {
          font-family: $muli-bold;
        }

        div {
          align-self: center;
          text-align: center;
        }
      }
    }

    .fund-instruction {
      font-family: $muli-regular;
      padding: 0 5px;
      line-height: 21px;
      letter-spacing: -0.15px;
    }

    /* TRANSFER DETAILS */
    .transfer-details {
      margin: 20px 0px;
      color: $fund-transfer-details-color;

      .tab-links {
        display: flex;
        width: 100%;
        letter-spacing: -0.2px;

        .tab-link-item {
          display: flex;
          flex-grow: 1;
          flex-basis: 0;
          color: $fund-tab-link-color;
          font-size: 18px;
          font-family: $muli-bold;
          padding: 15px 35px;
          text-align: center;
          align-items: center;
          background-color: $fund-tab-link-bg;
          margin-right: 9px;
          border-radius: 10px 10px 0 0;
          justify-content: center;
          line-height: 1.17;
          letter-spacing: -0.18px;
          opacity: 0.5;

          .pay-tab {
            max-width: 84px;
            height: 42px;
            display: flex;
            align-items: center;

            img {
              width: 55px;
              height: 35px;
            }
          }

          &:first-child {
            flex-direction: column;
          }

          &:last-child {
            margin: 0px;
          }

          &.active {
            background-color: $fund-tab-link-active-bg;
            opacity: 1;
          }
        }
      }

      .tab-content-container {
        background-color: $fund-tab-content-bg;
        border-radius: 0px 0px 6px 6px;

        .tab-content {
          padding: 30px;
          display: none;

          &.active {
            display: block;
          }

          &.fund-instruction {
            padding: 30px 10px;

            @include allmobiles {
              padding: 20px 0;
            }

            .instruction-content {
              padding-top: 0;
            }
          }
        }
      }

      .instruction-txt {
        font-size: 15px;
        margin-bottom: 15px;
        font-family: $muli-regular;
        color: $fund-instruction-txt-color;

        strong {
          font-family: $muli-bold;
        }
      }

      .btn-bordered {
        border: 1px solid $teal-color;
        border-radius: 28px;
        background-color: transparent;
        font-size: 14px;
        font-family: $muli;
        text-align: center;
        color: $teal-color;
        display: flex;
        padding: 6px 30px;
      }

      .account-detail {
        margin-top: 20px;
        font-family: $muli-semi-bold;
        letter-spacing: -0.3px;

        label {
          font-family: $muli-semi-bold;
          font-size: 18px;
          color: $dark-teal-color;
          margin-bottom: 0px;
        }

        .value {
          color: $black-color;
          font-size: 16px;
          margin-bottom: 10px;

          &.ref_num {
            font-family: $muli-semi-bold;
            font-size: 18px;
            letter-spacing: -0.3px;
            color: $fund-account-detail-ref-num-color;
          }

          .investment-values {
            display: flex;
            flex-direction: row;

            div {
              display: flex;
              color: $dark-teal-color;
              font-family: $muli-regular;

              &:first-child {
                margin-right: 20px;
              }

              span {
                color: $secondary-action-color;
                font-family: $muli-semi-bold;
              }
            }
          }
        }

        .ref_code_info {
          display: flex;
          justify-content: space-between;
          color: $fund-account-detail-ref-code-info-color;
          line-height: 22px;
          letter-spacing: -0.1px;
          font-family: $muli-regular;
          font-size: 15px;

          span {
            padding: 0px 8px 20px 0px;
          }

        }
      }


    }

    .btn-with-icon {
      border-radius: 6px;
      box-shadow: 0 6px 7px 0 $btn-shadow-color;
      background-color: $teal-color;
      border: 1px solid $teal-color;
      font-size: 18px;
      font-family: $muli-bold;
      line-height: 1.11;
      letter-spacing: -0.18px;
      text-align: center;
      color: $white-color;
      width: 100%;
      padding: 21px 0px;
      box-shadow: 0px 7px 15px 0px $mailing-address-text-brdr-color !important;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:active {
        outline: none;
        background-color: $action-btn-active-bg;
        color: $white-color;
      }

      &:hover {
        outline: none;
        background-color: $action-btn-active-bg;
        border-color: $action-btn-active-bg;
        color: $white-color;
      }

      &:focus {
        outline: none;
        border: none;
      }

      img {
        position: absolute;
        right: 10px;
      }
    }

    .process-time-info {
      font-family: $muli-bold;
      font-size: 18px;
      color: $fund-process-info-color;
      text-align: center;
      padding: 30px 18px;
      background: $fund-process-info-bg;

      @include allmobiles {
        margin-bottom: 66px;
      }
    }

    .topup_success {
      font-family: $muli-regular;
      padding: 17px 42px;
      line-height: 21px;
      letter-spacing: -0.2px;
      text-align: center;

      @include allmobiles {
        margin-bottom: 66px;
      }
    }

    .btn__footer--fixed {
      font-family: $muli-bold !important;
      font-size: 22px;
      margin-top: 0 !important;

      &.fund-instruction-btn {
        width: 340px;

        @include allmobiles {
          width: 100%;
        }
      }
    }

    // multiple portfolio

    .cash-account {
      margin: 20px 0;
      color: $fund-cash-account-color;

      .cash-account-content {
        .investment-value {
          font-family: $muli-bold;
          font-size: 21px;
          letter-spacing: -0.39px;
          text-align: center;
          color: $fund-investment-value-color;
          padding-bottom: 5px;
        }

        .cash-account-balance {
          font-size: 14px;
          letter-spacing: -0.14px;
          text-align: center;
          color: $fund-cash-balance-color;
          padding-bottom: 13px;
        }

        .ref-code {
          padding: 14px 0 10px;
          font-family: $muli-bold;
          font-size: 18px;
          line-height: 1.17;
          letter-spacing: -0.17px;
          text-align: center;
          color: $fund-ref-color;
          border-radius: 4px;
          border: 2px solid $fund-ref-brdr-color;
          background-color: $fund-ref-bg-color;
          margin-bottom: 10px;
        }

        .note-icon {
          width: 24px;
          height: 24px;
          margin-right: 15px;
          display: flex;
          margin-top: 5px;
        }

        .note {
          font-family: $muli-regular;
          font-size: 13px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.62;
          letter-spacing: -0.12px;
          color: $fund-cash-note-color;

          span {
            font-family: $muli-bold;
          }
        }

      }
    }
  }
}
