@import '../../../../variables';
@import '../../../../mixins';


    .modal-body{
        padding: 15px 0 !important;
        // .t-c-title{
        //     text-align: center !important;
        //     font-size: 28px;
        //     padding-top: 25px; 
        //     letter-spacing: -0.3px;
        //     font-weight: 600;
        //     @include allmobiles{
        //         padding: 11px 30px;
        //         border-bottom: 1px solid rgba(137, 208, 207, 0.31);
        //     }
        // }
        .close{
            @include allmobiles{
                top: 34px !important;
            }
        }
    }
    .t-c-content{
        font-size: 13px;
        line-height: 1.62;
        letter-spacing: -0.1px;
        padding: 0 30px;
        @extend .flex;
        flex-direction: column;
        button{
            width: 190px;
            height: 57px;
            @include allmobiles{
                width: 100%;
            }
        }
    }
    .sub-navigation {
        .sub-navigation--inner{
            display: none;
        }
    }

        .legal--title{
            text-align: center !important;
            letter-spacing: -0.3px;
            font-weight: 600;
            color: #009999;
            margin-top: 10px;
            h1{
                font-size: 28px;
            }
            @include allmobiles{
                margin-bottom: 20px;
            }
        }
        .legal__section--inner{
            ol,ul{
                padding: 0 14px !important;
            }
            .section--title{
                font-weight: bold;
            }
            li{
                ol{
                    margin-top: 4px;
                }
            }
        }

