
<div class="container-fluid max-width--1024">
    <div class="row">
        <!-- <div class="back-btn back-btn-2 hidden-lg col-1" style=" display: none"><img
                src="assets/images/back-web.svg"></div> -->
        <div class="intro_sub-title flex-col-12">
          <div class="back-btn mobile-back-btn hidden-lg"><img src="assets/images/back-web.svg"></div>
            <p class="main-desc" [innerHtml]="'WELCOME_RETIREMENT.RETIREMENT_MAIN_TITLE'|translate" ></p>
        </div>
    </div>

    <div class="img-center mt20"><img src="assets/images/welcome-journey/corpbiz-chilling.svg"></div>
    
    <div class="retirement-title">{{'WELCOME_RETIREMENT.RETIREMENT_TITLE' | translate}}</div>
    <div class="form-container">
        <div class="flex-row">
            <div class="flex-col-7 align-center">
              <div class="form-group-with-bg--content-label sub-title">
                {{ 'CMP.RETIREMENT_PLAN.ABOUT' | translate}}</div>
            </div>
            <div class="flex-col-5">
              <div class="form-control form-control-right retireTxt">
                <input [ngClass]="{'view-mode': viewMode}" id="retireUserAge" type="text"
                   mode=1 [readonly]="false" (keyup)="changeSlide($event)"
                  (change)="changeSlide($event)" class="input-control" appCurrencyInput maxLength="2" name="retireUserAge"
                  [value]="sliderValue" />
                <i class="right percent-fix">{{'CMP.RETIREMENT_PLAN.YEARS_OLD'|translate}}</i>
              </div>
            </div>
          </div>
        <!-- <form> -->
            <div class="slider-dark mt20">
                <nouislider [disabled]="viewMode" id="retirementSlider" #ciMultiplierSlider (slide)="onSliderChange($event)"
                  [config]="ciSliderConfig"></nouislider>
                <div class="min-max-val">
                  <div class="min-val">{{'CMP.RETIREMENT_PLAN.MIN_AGE'|translate}}<span
                      class="min-text">{{'CMP.RETIREMENT_PLAN.MIN_LABEL'|translate}}</span></div>
                  <div class="max-val">{{'CMP.RETIREMENT_PLAN.MAX_AGE'|translate}}<span
                      class="max-text">{{'CMP.RETIREMENT_PLAN.MAX_LABEL'|translate}}</span>
                  </div>
                </div>
              </div>
              <div class="flex-row retirementAgeValid" *ngIf="!(sliderValid.minAge && sliderValid.userAge)">
                <div class="flex-col-12">
                  <div class="form-group-with-bg--content-label" *ngIf="!sliderValid.userAge">
                    <img src="assets/images/comprehensive/age-warn.svg" />
                    {{ 'CMP.RETIREMENT_PLAN.RETIREMENT_USER_AGE_VALIDATION' | translate}}
                  </div>
                  <div class="form-group-with-bg--content-label mb20" *ngIf="!sliderValid.minAge">
                    <img src="assets/images/comprehensive/age-warn.svg" />
                    {{ 'CMP.RETIREMENT_PLAN.RETIREMENT_MIN_AGE_VALIDATION' | translate}}
                  </div>
                </div>
              </div>

            <div class="flex-row">
                <div class="flex-col-7 align-center">
                  <div class="form-group-with-bg--content-label sub-title" for="name">{{'WELCOME_RETIREMENT.RETIREMENT_CASH_TITLE' | translate}}<div
                      class="form-group-with-bg--content-sub-label"></div>
                  </div>
                </div>
                <div class="flex-col-5">
                  <div class="form-control" [ngClass]="{'view-mode': viewMode}">
                    <i>$</i>
                    <input type="text" maxLength="7" class="input-control" appCurrencyInput #cashInBank>
                  </div>
                </div>
              </div>
        <!-- </form> -->

        <div>
            <p class="min-text mt20 mb20">{{'WELCOME_RETIREMENT.RETIREMENT_MIN_TEXT' | translate}}</p>
        </div>

    </div>
    <div class="row bottom-btn">
        <div class="back-btn hidden-sm mt30 col-2"><img src="assets/images/back-web.svg"></div>
        <div class="col-10"><button type="button" class="btn btn__footer--fixed btn-primary width100" id="myFinancialGoNextBtn" routerLink="/welcome-journey/life-payout">{{'WELCOME_RETIREMENT.CONT_BTN' | translate}}</button></div>
    </div>
    
</div>

