<div class="invest-menu-modal-block">
    <div class="modal-header header-modal-image">
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true" id="errorModelCloseIcon"></span>
      </button>
    </div>
    <div class="modal-body" id="modalDesc">
      <div class="btn-menu">
        
        <div class="flex btn-menu-item" (click)="uploadFile('CAMERA')">
          <div class="menu-icon"><img src="assets/images/new-portfolio-icon.svg" alt="" /></div>
          <div style="display: flex; align-items: center;">
            <div>Take Photo</div>
          </div>
        </div>
        <hr>
        <div class="flex btn-menu-item" (click)="uploadFile('BROWSE')">
          <div class="menu-icon"><img src="assets/images/existing-portfolio-icon.svg" alt="" /></div>
          <div style="display: flex; align-items: center;">
            <div>Browser</div>
          </div>
        </div>
      </div>
    </div>
  
  </div>