<div class="account-created-success-modal">
  <div class="custom-modal-backdrop"></div>
  <div class="custom-modal-wrapper">
    <div class="custom-modal--icon">
      <div class="loader-outer mt60" *ngIf="showLoader">
        <div class="loader"></div>
        <img src="../../../assets/images/owl-icon-dark.svg" id="custModalImg1" />
      </div>
      <img *ngIf="!showLoader" src="../../../assets/images/investment-account/investment_Account_Created.svg"
        id="custModalImg1" />
      <div class="custom-modal--content">
        <p [ngClass]="{'custom-modal--email': showLoader, 'custom-modal--title': !showLoader}" id="custModalTitle1">
          {{message}}
        </p>
        <p *ngIf="email" class="custom-modal--email" id="custModalDesc">{{email}}</p>
        <button *ngIf="!showLoader" (click)="redirectToLogin()" type="button"
          class="btn btn__footer--fixed btn-primary width100">{{'COMMON.LOGIN' | translate}}</button>
      </div>
    </div>
  </div>
</div>
