@import '../../../variables';
@import '../../../mixins';

/*Modal styles*/
.account-created-success-modal {
  .custom-modal-backdrop {
    background: #2d8289;
    position: fixed;
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
  }

  .custom-modal-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    text-align: center;
    @extend .flex;
    @extend .justify-center;
    @extend .align-center;
  }

  .custom-modal-content {
    width: 100%;
    height: 100%;

    img {
      width: 80%;
      height: 80%;
    }
  }

  .custom-modal--icon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 30px;
  }

  .custom-modal--title {
    color: $white-color;
    font-family: $muli-semi-bold;
    font-size: 36px;
    letter-spacing: -0.4px;
    line-height: 0.56;
    margin-top: 30px;
    margin-bottom: 25px;
  }

  .custom-modal--email {
    font-size: 20px;
    width: 100% !important;
    margin-top: 25px;
    word-break: break-all;
    line-height: 22px;
    text-align: center;
    padding: 0 20px;
  }

  .custom-modal--desc {
    color: $white-color;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.2px;
    font-family: $muli-regular;
    padding: 0 32%;

    @include allmobiles {
      padding: 0 10%;
    }
  }

  .btn-primary {
    width: 275px;
  }

  @include allmobiles {
    .btn__footer--fixed {
      width: 100%;
    }
  }

  .loader-outer {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .loader {
      position: absolute;
      border: 10px solid $brdr-teal-color;
      border-radius: 50%;
      border-top: 12px solid $brdr-dark-color;
      width: 205px;
      height: 205px;
  
      @include allmobiles {
        width: 187px;
        height: 187px;
      }
  
      -webkit-animation: spin 2s linear infinite;
      /* Safari */
      animation: spin 2s linear infinite;
    }
  }

  /* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
}
