@import "../../../variables";
@import "../../../mixins";

app-checkout {
  .toast-msg-top-space-checkout {
    .toast-msg-container {
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
      background-color: $light-green-color;
      color: $white-color;
      min-width: 280px;
      @include desktop{
        right: 0;
      }
      .toast-msg {
        margin-left: 25px;
        @include allmobiles{
          margin-left: 15px;
        }
      }
    }
    @include desktop {
      top: 154px;
      right: 30px;
    }
    @include tablet {
      top: 154px;
      right: 15px;
    }
    @include phablet {
      top: 48px;
      right: 15px;
    }
  }
  .content {
    display: flex;
    justify-content: center;
  }

  .flex-div {
    width: 350px;
    display: flex;
    flex-direction: column;

    @include allmobiles {
      width: 100%;
    }
  }

  .payment-summary-text {
    font-family: $muli-semi-bold;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.34px;
    color: $white-color;
  }

  .review-text {
    font-family: $muli-regular;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: $white-color;
    margin-top: 10px;
  }

  .first-box {
    display: flex;
    background-color: $white-color;
    border-radius: 6px;
    padding: 19px 15px 11px 20px;
    margin-top: 30px;

    img {
      height: 89px;
      width: 74px;
    }

    .divider {
      width: 1px;
      height: 90px;
      border: solid 1px rgba(151, 218, 218, 0.31);
      margin: 0 20px;
    }

    .comprehensive-text {
      font-family: $muli-semi-bold;
      font-size: 18px;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.34px;
      color: $dark-teal-color;
    }

    .amt {
      font-family: $muli-semi-bold;
      font-size: 18px;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.34px;
      color: $silver-grey-color;
      margin-top: 10px;
    }
  }

  .second-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white-color;
    border-radius: 6px;
    padding: 5px 20px 20px;
    margin-top: 16px;

    .rebate-title {
      display: flex;
      top: 15px;
      position: relative;
      font-family: $muli-bold;
      font-size: 16px;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.16px;
      color: $teal-color;
      padding: 0 37px;
      background-color: $white-color;

      img {
        height: 27px;
        width: auto;
        margin-right: 10px;
      }
    }

    .rebate-info {
      font-family: $muli-regular;
      font-size: 13px;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.13px;
      color: $grimmy-grey-color;
      padding: 28px 26px 25px;
      border-radius: 6px;
      border: 1px solid #3ec5c5;
      text-align: center;
      margin: 0 8px;

      @include allmobiles {
        margin: 0px;
      }

      span {
        font-family: $muli-semi-bold;
      }
    }

    .flex-mt20 {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: 20px;
    }

    .flex-mt15 {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: 20px;
    }

    .horizontal-divider {
      width: 100%;
      height: 1px;
      border: solid 1px rgba(134, 205, 206, 0.3);
      margin-top: 19px;
    }
  }

  .grey-txt {
    font-family: $muli-semi-bold;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: $silver-grey-color;
  }

  .teal-txt {
    font-family: $muli-semi-bold;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: $dark-teal-color;
  }

  .grey-bold-txt {
    font-family: $muli-bold;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: $silver-grey-color;
  }

  .teal-bold-txt {
    font-family: $muli-bold;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: $dark-teal-color;

    span {
      font-family: $muli-semi-bold;
    }
  }

  .checkbox-button {
    text-align: center;
    margin-bottom: 26px;
  }

  input[type='checkbox']+label {
    background-position: left top;
  }

  .checkbox-label {
    font-family: $muli-regular;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: -0.15px;
    color: $white-color;
    height: 24px;

    span {
      font-family: $muli-bold;
      text-decoration: underline;
    }
  }

  .btn-primary {
    width: 340px;
    font-family: $muli-bold !important;

    @include allmobiles {
      width: 100%;
    }
  }

  .form-div {
    display: flex;
    flex-direction: column;
  }

  .checkout-content-block {
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 5px 0 55px;
    @include allmobiles {
      width: 100%;
      padding: 0;
    }
    .promo-banner {
      margin: 20px 0;
      padding: 25px 21px;
      border-radius: 6px;
      background-color: $white-color;
      display: flex;
      font-family: $muli-semi-bold;
      font-size: 18px;
      letter-spacing: -0.34px;
      .banner-logo {
        width: 73px;
        height: 80px;
        display: flex;
      }
      .comprehensive-text {
        font-family: $muli-extra-bold;
        color: $dark-teal-color;
        padding-left: 15px;
        @include iphone5 {
          padding-left: 0;
        }
      }
      .amt {
        color: $silver-grey-color;
        padding-left: 21px;
        @include iphone5 {
          padding-left: 0;
        }
      }
    }
    .promo-calculation-block {
      margin-bottom: 20px;
      padding: 20px;
      border-radius: 6px;
      background-color: $white-color;
      color: $dark-teal-color;
      font-family: $muli-semi-bold;
      hr {
        border: solid 1px rgba(134, 205, 206, 0.3);
        margin: 20px 0;
      }
      .value {
        color: $silver-grey-color;
        .currency {
          font-size: 14px;
          letter-spacing: -0.26px;
          color: $dusty-grey-color;
          margin-right: 6px;
        }
      }
      .txt-regular {
        font-family: $muli-regular;
        font-size: 14px;
        color: $silver-grey-color;
      }
      .txt-dark-teal {
        color: $dark-teal-color;
      }
      .txt-bold {
        font-family: $muli-bold;
      }
      .paynow-logo {
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;
      }
    }
    .promo-code-block {
      margin-bottom: 20px;
      background-color: $white-color;
      border-radius: 6px;
      border: solid 1px $half-baked-blue-color;
      padding: 6px;
      .default-txt {
        line-height: 20px;
        letter-spacing: -0.16px;
        color: $dusty-grey-color;
        padding: 14px;
      }
      .valid-promo {
        color: $teal-color;
        letter-spacing: -0.3px;
        padding-left: 9px;
        line-height: 20px;
        display: flex;
        align-items: center;
        .valid-logo {
          width: 18px;
          height: 18px;
          display: flex;
        }
      }
      .remove-btn {
        font-family: $muli-semi-bold;
        padding: 10px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.26px;
        text-align: center;
        color: $white-color;
        border-radius: 6px;
        background-color: $crusta-orange-color;
        cursor: pointer;
      }
    }
    .terms {
      line-height: 15px;
      letter-spacing: -0.15px;
      color: #ffffff;
      padding: 0 6px;
      margin-bottom: 40px;
      @include allmobiles {
        margin-bottom: 16px;
      }
      span {
        font-family: $muli-bold;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
