<div class="toast-msg-fixed-block toast-msg-top-space-checkout" *ngIf="showFixedToastMessage">
  <div class="toast-msg-container">
    <div class="flex-col-1">
      <img src="assets/images/icon_tick_white.svg" alt="" />
    </div>
    <div class="flex-col-11">
      <div class="toast-msg">{{'CHECKOUT.PROMOCODE_APPLIED' | translate}}</div>
    </div>
  </div>
</div>
<div class="container-fluid max-width--1024 content">
  <!-- compre-checkout -->
  <div class="flex-div checkout-content-block">
    <div class="payment-summary-text">{{'CHECKOUT.PAYMENT_SUMMARY' | translate}}</div>
    <div class="promo-banner">
      <div class="banner-logo"><img src="assets/images/comprehensive/dashboard-comprehensive.svg" alt="" /></div>
      <div class="comprehensive-text">{{'CHECKOUT.BANNER_TXT' | translate}}</div>
      <div class="amt">{{ totalAmount |
        currency:'USD':'symbol-narrow':'1.0-2'}}</div>
    </div>
    <div class="promo-calculation-block">
      <div class="flex-row space-between align-items-top">
        <div>{{'CHECKOUT.TOTAL_LBL' | translate}}</div>
        <div class="value">{{ totalAmount |
          currency:'USD':'symbol-narrow':'1.2'}}</div>
      </div>
      <div class="flex-row space-between align-items-top mt15"
        *ngIf='cfpPromoCode && promoCodeDescription && reductionAmount'>
        <div>
          <div>{{'CHECKOUT.PROMO_LBL' | translate}} ({{ promoCodeDescription }})</div>
          <div class="txt-regular">{{ cfpPromoCode }} applied!</div>
        </div>
        <div class="value">{{ reductionAmount |
          currency:'USD':'symbol-narrow':'1.2'}}</div>
      </div>
      <hr>
      <div class="flex-row space-between align-items-top">
        <div>
          <div class="txt-bold">{{'CHECKOUT.PAYABLE_LBL' | translate}}</div>
          <div class="txt-regular txt-dark-teal">{{'CHECKOUT.GST_LBL' | translate:gstPercentLabel}}</div>
        </div>
        <div>
          <div class="value"><span class="currency">SGD</span><span>{{ paymentAmount |
              currency:'USD':'symbol-narrow':'1.2'}}</span></div>
          <div class="paynow-logo"><img src="assets/images/paynow-logo.svg" /></div>
        </div>
      </div>
    </div>
    <div class="promo-code-block">
      <div class="default-txt" *ngIf="!cfpPromoCode" (click)="goToPromoCode();">{{'CHECKOUT.ENTER_PROMO_LBL' |
        translate}}</div>
      <div class="flex-row space-between" *ngIf="cfpPromoCode && appliedPromoCode">
        <div class="valid-promo">
          <span class="valid-logo"><img src="assets/images/check-icon-green.svg" alt="" /></span>
          <span class="pl10">{{ appliedPromoCode }}</span>
        </div>
        <div class="remove-btn" (click)="removeAppliedPromoCode();">{{'CHECKOUT.REMOVE_BTN_LBL' | translate}}</div>
      </div>

      <div class="terms">{{'CHECKOUT.AGREE' | translate}}<span (click)="openTNC($event)">{{'CHECKOUT.TERMS' |
          translate}}</span>.</div>
      <button type="submit" class="btn
        btn__footer--fixed btn-primary width100" (click)="goToNext();">{{ isWaivedPromo ? ('CHECKOUT.PROCEED' |
        translate) : ('CHECKOUT.PROCEED_PAYMENT' | translate) }}</button>
    </div>
  </div>