<div class="not-supported-bg">
  <div class="container-fluid max-width--1024 text-center">
    <div class="content">
      <div class="row">
        <div class="col-12">
          <h2 class="title">Web browser not supported</h2>
          <h6 class="sub-title">You are using a web browser that we do not support. Please switch to using Chrome or
            Safari to continue viewing our website.</h6>
          <div class="banner-image">
            <img src="assets/images/browser-not-supported.svg" id="custModalImg1" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
