<form name="longTermCareForm" id="longTermCareForm" [formGroup]="longTermCareForm" class="flex-row ">
  <div class="form-group direct-form">
      
    <div class="flex-row">
      <div class="flex-col-3">
          <label for="name" id="getStrdLbl1">{{ 'PROFILE.GENDER.TITLE' | translate}}</label>
        </div>
      <div class="flex-col-8 direct-form-grp">
        <div class="btn-group--toggle" ngbRadioGroup name="radioGender" formControlName="gender">
          <div class="flex-row mb0">
            <div>
              <label ngbButtonLabel class="direct-form-btn--radio btn" id="getStrdLbl2">
                <input ngbButton type="radio" value="male" (change)="onGenderDobChange()" id="getStrdInpt1"> {{ 'COMMON.LBL_MALE' | translate}}
              </label>
              </div>
            <div>
              <label ngbButtonLabel class="direct-form-btn--radio btn" id="getStrdLbl3">
                <input ngbButton type="radio" value="female" (change)="onGenderDobChange()" id="getStrdInpt2"> {{ 'COMMON.LBL_FEMALE' | translate}}
              </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="flex-row">
      <div class="flex-col-3">
        <label for="name" id="getStrdLbl4">{{ 'PROFILE.DOB.TITLE' | translate}}</label>
        </div>
      <div #usrFrmDp class="flex-col-8 direct-form-grp">
        <div class="datepicker-control">
            <div class="input-group date-picker mb0"  [ngClass]="{'inline-error': doberror && !longTermCareForm.get('dob').valid  && !longTermCareForm.get('dob').pristine}">
                <input readonly class="form-control" placeholder="DD / MM / YYYY" formControlName="dob"
                name="dp" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" (dateSelect)="onGenderDobChange()">
                <div class="input-group-append">
                  <button (click)="d.toggle()" class="btn btn-primary" type="button">
                      <img class="date-picker-image--valid" id="getStrdImg1" *ngIf="longTermCareForm.get('dob').valid || longTermCareForm.get('dob').pristine || !doberror" src="./assets/images/calendar-normal.svg"
                      />
                      <img class="date-picker-image--invalid" id="getStrdImg1" *ngIf="doberror && !longTermCareForm.get('dob').valid && !longTermCareForm.get('dob').pristine" src="./assets/images/calendar-error.svg"
                      />
                  </button>
                  </div>
                </div>
          </div>
        </div>
      </div> 
  </div>
  <div class="form-group direct-form second-form">
      <div class="flex-row">
        <div class="flex-col-3">
          <label for="name" id="getStrLbl6">{{ 'LONG_TERM_CARE.MONTHLY_PAYOUT.TITLE' | translate}}</label>
        </div>
        <div class="flex-col-8 direct-form-grp">
          <div class="dropdown-control">
              <div ngbDropdown id="coverageAmtDropDown">
                <button type="button" class="btn btn-dropdown" id="dropdownBasic1" ngbDropdownToggle>
                  <span class="coverage_amt"><span *ngIf = 'selectedMonthlyPayout != ""'>{{ 'DIRECT_LIFE_PROTECTION.COVERAGE_AMT.DOLLAR' | translate}}</span>{{selectedMonthlyPayout == '' ? 'Select' : selectedMonthlyPayout}}</span>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button class="dropdown-item" (click)="selectMonthlyPayout('')">{{'COMMON.LBL_SELECT' | translate}}</button>
                  <button type="button" class="dropdown-item" *ngFor="let selectedMonthlyPayout of monthlyPayoutList" (click)="selectMonthlyPayout(selectedMonthlyPayout)">
                  {{selectedMonthlyPayout | currency:'USD':'symbol-narrow':'1.0-2'}}
                  </button>
                </div>
              </div>
            </div>
        </div> 
      </div>
  </div>
</form>