.plan-type-list {
  display: flex;
  justify-content: center;
  background-color: #01c5c4;
}

.plan-type {
  flex-direction: row;
  justify-content: center;
  padding: 20px 30px;
  cursor: pointer;
}

.plan-type.active {
  background-color: #c1edee;
  color: #2ca9a3;
}

.plan-carousel-container {
  margin: 20px 0px;
}

.recommendation-carousel-item {
  // width:800px;
  // margin:0 auto;
}

.carousel-content {
  background-color: #fff;
  border-radius: 6px;
  padding: 20px;
  color: #333;
}

.carousel-control-prev {
  left: -120px;
}

.carousel-control-next {
  right: -120px !important;
}

.plan-type-mobile {
  text-align: center;
  padding: 15px 0px;
  background-color: #01c5c4;
}

@media screen and (max-width: 767px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .recommendation-carousel-item {
    margin: 0 auto;
  }
}

.page-indicator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  margin: 10px 0px 30px 0px;
}

.page-indicator span {
  width: 14px;
  height: 14px;
  background-color: #73cece;
  border-radius: 10px;
  margin-right: 10px;
  display: block;
}

.page-indicator span:last-child {
  margin-right: 0px;
}

.page-indicator span.active {
  background-color: #fff;
}

.carousel-item {
  opacity: 0;
  
}

.carousel-item.active {
  opacity: 1;
  transform: none;
  animation: fadeIn 1.2s;
}

@keyframes fadeIn {
  0% { opacity:0; }
  75% { opacity:0.9; }
  100% { opacity: 1; }
}

