@import '../../../variables';
@import '../../../mixins';

app-recommendations {
  .slick-disabled {
    opacity: .5;
    cursor: default;
  }
  .slick-next:before {
    content:url(../../../assets/images/carousel-next.png) !important;
    opacity: 1;
    height: 40px;
    @include allmobiles {
      display: none;
    }
  } 
  .slick-prev:before {
    content:url(../../../assets/images/carousel-prev.png) !important;
    opacity: 1;
    height: 40px;
    @include allmobiles {
      display: none;
    }
  }
  .slick-prev .slick-arrow {
    height: 50px;
  }

  .slick-next.slick-arrow {
    height: 40px;
  }
  .slick-prev, .slick-next {
    height: 40px !important;
  }
  .recommedation-wrapper {
    position: absolute;
    left: 0;
    //top: 100px;
    width: 100%;
    z-index: 999;
    overflow-x: hidden;
  .enable-scroll {
    touch-action: pan-y !important;
    -webkit-overflow-scrolling: touch !important; 
  }
  .outer-content {
    margin-top: 0;
    background: $app-backgrnd-color;

    @include allmobiles {
      margin-top: 107px;
    }
  }
  .comparePlans_btn{
    display: flex;
    margin-left: auto;
    order: 2;
  }
  .description {
    width: 500px;
    color: rgba(255, 255, 255, 0.65);
    font-size: 18px;
  }

  .container-fluid {
    padding-top: 0 !important;
    //padding-left: 125px !important;
    //padding-right: 125px !important;
    //height: 100vh;
    position: relative;
    border-top: 1px solid #76adb2;
    background: #2d8289;
    .carousel-control-prev {
    left: -100px;
    cursor: pointer;
    position: absolute;
    height: 50px;
    top: 50%;
  }
  .carousel-control-next {
    right: -100px !important;
    cursor: pointer;
    position: absolute;
    height: 50px;
    top: 50%;
  }
    @include allmobiles {
      padding: 0 !important;
      height: 100vh;
    }
  }

  .plan-type-list {
    display: flex;
    justify-content: center;
    background-color: #00c5c4;

    @include allmobiles {
      justify-content: start !important;
    }
  }

  .plan-type {
    flex-direction: row;
    justify-content: center;
    padding: 20px 30px;
    cursor: pointer;
    font-size: 18px;
    font-family: $muli-bold;
    color: $white-color;
    border-right: 1px solid rgba(255,255,255,0.44);
  }

  .plan-type.active {
    background-color: #c0eded;
    color: $app-backgrnd-color;
    font-size: 18px;
    font-family: $muli-bold;
  }

  .plan-carousel-container {
    padding: 20px 10px;
    max-width: 1024px;
    margin: 0 auto;
  }

  .recommendation-carousel-item {
    // width:800px;
    // margin:0 auto;
  }

  .carousel-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    color: #333;
    //min-height: 550px;
    @include allmobiles {
      padding: 0px;
      //min-height: 290px;
    }
  }

  .plan-type-mobile {
    text-align: center;
    padding: 15px 0px;
    background-color: #01c5c4;
  }

  @media screen and (max-width: 767px) {

    .carousel-control-prev,
    .carousel-control-next {
      display: none;
    }
  }

  @media screen and (min-width: 768px) {
    .recommendation-carousel-item {
      margin: 0 auto;
    }
  }

  .page-indicator {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    margin: 10px 0px 30px 0px;
  }

  .page-indicator span {
    width: 11px;
    height: 11px;
    background-color: #73cece;
    border-radius: 10px;
    margin-right: 10px;
    display: block;
  }

  .page-indicator span:last-child {
    margin-right: 0px;
  }

  .page-indicator span.active {
    background-color: #fff;
  }

  .carousel-item {
    opacity: 0;
  }

  .carousel-item.active {
    opacity: 1;
    transform: none;
    animation: fadeIn 1.2s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    75% {
      opacity: 0.9;
    }

    100% {
      opacity: 1;
    }
  }

  .plan-wrapper {
    flex: 0 0 50%;
    max-width: 50%;

    @include allmobiles {
      flex: 0 0 47%;
      max-width: 47%;
    }
  }

  .plan-wrapper:nth-child(1) {
    @include allmobiles {
      margin-right: 3px;
      padding-right: 3px;
    }
  }

  .plan-wrapper:nth-child(2) {
    @include allmobiles {
      margin-right: 0px;
      padding-left: 3px;
    }
  }

  .best-value-icon {
    display: block;
    position: absolute;
    top: 0;
    left: 13px;
    z-index: 9;
  }
   .coverage-details-wrapper {
      background: #2d8289;
      .coverage-details {
        padding-left: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 16px;
        //padding-left: 145px !important;
        //padding-right: 125px !important;
        //background: #2d8289;
        max-width: 1024px;
        margin: 0 auto;
        @include iPadLandscape {
          padding-left: 100px;
        }
        @include allmobiles {
          border: none;
          padding-left: 0px !important;
          padding-right: 0px !important;
          text-align: center;
          padding-bottom: 0px !important;
        }
      }
  }

  .coverage-type
 {
    font-family: $muli-bold;
    margin-right: 50px;
    font-size: 22px;

    @include allmobiles {
      margin-right: 0px;
    }
  }
  .coverage-amount,.coverage-premium-from {
    font-family: $muli-bold;
    font-size: 18px;
    margin-right: 50px;
    @include allmobiles {
      margin-right: 0 !important;
    }
  }

  .recommendation-wrapper__disclaimer {
    font-size: 16px;
    font-family: $muli-regular;
    margin: 0 32px;
    text-align: center;
    opacity: 0.6;
  }
}
.insurance-plan-widget .insurer-logo {
  img {
    max-width: 65%;
    max-height: 100%;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .insurance-plan-widget .insurer-logo {
    img {
      width:100%;
      max-height: auto;
      max-width: auto;
    }
  }
}
}