<div class="container-fluid">
  <div class="content">
    <div class="col-md-12" style="text-align: center">
      <h2>Recommendations</h2>
      <p>Personalize your insurance coverage by selecting the plans you are interested in.</p>
    </div>


    <!--
<app-recommendations-carousel></app-recommendations-carousel>
-->


    <div class="plan-type-list d-none d-md-flex">
      <div class="plan-type" (click)="jumpToSlide(recommendation.type)" [class.active]="recommendation.type == activeRecommendationType"
        *ngFor="let recommendation of recommendationPlans; let i = index">
        <span>{{recommendation.type}}</span>
      </div>
    </div>

    <div class="plan-type-mobile d-md-none">
      {{activeRecommendationType}}
    </div>


    <div class="plan-carousel-container">
      <div class="recommendation-carousel-item">
        <!-- CAROUSEL -->
        <ngb-carousel (swiperight)="moveCarouselPrev()" (swipeleft)="moveCarouselNext()" #recommendationCarousel="ngbCarousel" [interval]="false"
          (slide)="slideCarousel($event)" [showNavigationArrows]="true" [showNavigationIndicators]="false">
          <ng-template id="{{recommendation.type}}" ngbSlide *ngFor="let recommendation of recommendationPlans; let i = index">
            <div>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-6" *ngFor="let plan of recommendation.plan; let j = index">
                  <div class="carousel-content">
                    <div class="row">
                      <div class="col-md-9 col-md-push-3">
                        <h4>{{plan.name}}</h4>
                        <h2>${{plan.amount}}</h2>
                      </div>
                      <div class="col-md-3 col-md-pull-9">
                        <img src="assets/images/Aviva_Logo.png" class="img-fluid" alt="Aviva" />
                      </div>
                    </div>
                    <hr/>
                    <div>
                      <div class="row">
                        <div class="col-md-4" *ngFor="let feature of plan.features">
                          <div class="feature-head">{{feature.title}}</div>
                          <div class="feature-caption">{{feature.caption}}</div>
                        </div>
                      </div>
                      <div>Coverage Duration: {{plan.coverageDuration}}</div>
                      <div>Premium Duration: {{plan.PremiumDuration}}</div>
                      <div>Needs Medical Underwriting:
                        <span *ngIf="plan.medicalUnderwritingRequired">Yes</span>
                        <span *ngIf="!plan.medicalUnderwritingRequired">No</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 d-none d-md-flex">
                        <button type="button" class="btn btn-ftr-get-started btn-default width100">Details</button>
                      </div>
                      <div class="col-md-6">
                        <button type="button" class="btn btn-ftr-get-started btn-primary width100">Select Plan</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-carousel>
        <!-- / CAROUSEL -->
      </div>
    </div>


    <!-- Paging Indicator -->
    <div class="page-indicator d-md-none">
      <span [class.active]="recommendation.type == activeRecommendationType" *ngFor="let recommendation of recommendationPlans; let i = index">
      </span>
    </div>
    <!-- / Paging Indicator -->
  </div>
</div>
