<div class="recommedation-wrapper">
<div class="outer-content">
  <div class="col-md-12 hidden-sm-md" style="text-align: center; margin-top: 30px; margin-bottom: 20px;">
    <h2>{{ pageTitle }}</h2>
    <div align="center">
      <div class="description">{{ 'RECOMMENDATIONS.DESCRIPTION' | translate}}</div>
    </div>
  </div>

  <div class="plan-type-list d-none d-md-flex hidden-sm-md">
    <div class="plan-type" (click)="jumpToSlide(recommendation, i)" [class.active]="recommendation.protectionType == activeRecommendationType"
      *ngFor="let recommendation of recommendationPlans; let i = index">
      <span [innerHtml]="recommendation.protectionType ? recommendation.protectionType.replace('-', '&#8209;') : recommendation.protectionType"></span>
    </div>
  </div>

  <div #mobileHeaderMenu id="mobileHeaderMenu" class="plan-type-list md-none hidden-lg" style="overflow-x: hidden; width: 100%">
    <span class="plan-type" [attr.data-type]="recommendation.protectionType" [class.active]="recommendation.protectionType == activeRecommendationType"
      *ngFor="let recommendation of recommendationPlans; let i = index">
      <span [innerHtml]="recommendation.protectionType ? recommendation.protectionType.replace('-', '&#8209;') : recommendation.protectionType"></span>
    </span>
  </div>
</div>
<div class="coverage-details-wrapper">
  <div class="coverage-details" *ngIf="coverageAmount != ''">
    <span class="coverage-type hidden-sm-md">{{activeRecommendationType}}</span>
    Coverage:
    <span class="coverage-amount">{{coverageAmount | currency : 'USD' : 'symbol' : '1.0-0' }}</span>
    <br class="hidden-lg" />
    Premium from:
    <span class="coverage-premium-from">{{premiumFrom | currency}}</span> {{ 'SUFFIX.PER_MONTH' | translate}}
  </div>
</div>
<!-- <button class="comparePlans_btn">
<span (click)="EnablecomparePlan()">compare plans</span></button> -->
<div class="container-fluid">
  <div class="content">
    <div class="plan-carousel-container">
      <div class="recommendation-carousel-item">
        <!-- CAROUSEL 
        <ngb-carousel (swiperight)="moveCarouselPrev()" (swipeleft)="moveCarouselNext()" #recommendationCarousel="ngbCarousel"
          [interval]="false" (slide)="slideCarousel($event)" [showNavigationArrows]="true" [showNavigationIndicators]="false"
          [ngClass]="{'enable-scroll' : enableScroll}" style="display:none;">
          <ng-template id="{{recommendation.protectionType}}" ngbSlide *ngFor="let recommendation of recommendationPlans; let i = index">
            <div>
              <div class="row" style="justify-content: center;">
                <div class="col-md-6 col-sm-6 col-6 plan-wrapper" *ngFor="let plan of recommendation.productList; let j = index;">
                  <img class="best-value-icon" *ngIf="j == 0" src="./assets/images/best-value-icon.png" />
                  <app-plan-widget [data]="plan" [type]="recommendation.protectionType" [bestValue]="j == 0" [comparePlan]="isComparePlanEnabled" (select)="selectPlan($event)"
                    (view)="viewDetails($event)" (compare)= "comparePlan($event)"></app-plan-widget>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-carousel>
        <!-- / CAROUSEL -->

        <ngx-slick class="carousel" #recommendationCarousel="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
            <div ngxSlickItem *ngFor="let recommendation of recommendationPlans; let i = index" class="slide">
                <div>
                    <div class="row" *ngIf="recommendation.productList && recommendation.productList.length > 0" style="justify-content: center; margin-left: 0; margin-right: 0">
                      <div class="col-md-6 col-sm-6 col-6 plan-wrapper" *ngFor="let plan of recommendation.productList; let j = index;">
                        <img class="best-value-icon" *ngIf="j == 0" src="./assets/images/best-value-icon.png" />
                        <app-plan-widget [data]="plan" [type]="recommendation.protectionType" [bestValue]="j == 0" (select)="selectPlan($event)"
                          (view)="viewDetails($event)"></app-plan-widget>
                      </div>
                    </div>
                  </div>
            </div>
        </ngx-slick>
      </div>
    </div>

    <!-- Paging Indicator -->
    <div class="page-indicator d-md-none">
      <span [class.active]="recommendation.protectionType == activeRecommendationType" *ngFor="let recommendation of recommendationPlans; let i = index">
      </span>
    </div>
    <!-- / Paging Indicator -->
    <div class="recommendation-wrapper__disclaimer" *ngIf="recommendationPlans">Disclaimer - Premiums quoted are based on certain parameters and may differ depending on individual's profile, specific needs and changes by the insurers. Projected values and returns shown are not guaranteed and are based on the higher projection rate of up to 4.75%."
  </div>
</div>

<!-- Floating plan selection footer -->
<div *ngIf="selectedPlans && selectedPlans.length > 0" align="center" class="floating-footer-wrapper">
  <div class="floating-footer">
    <span class="selected-count">{{selectedPlans.length}}</span>
    <span class="lbl-selected">{{ 'COMMON.LBL_PLANS_SELECTED' | translate}}</span>
    <span class="btn-proceed" (click)="proceed()">{{ 'BUTTON.PROCEED' | translate}}</span>
  </div>
</div>
<!-- / Floating plan selection footer -->
</div>
