@import '../../../../variables';
@import '../../../../mixins';

    .form-group{ 
        &.direct-form{
            width:400px;
            border: 1px solid $form-title-backgrnd-color; 
            border-radius: 6px;
        }
        &:last-child{
            margin-left: 18px;
        }
    }
    .educationForm-title{
        color:$teal-color;
        background: $form-title-backgrnd-color;
        font-size: 16px;
        font-family: $muli-bold;
        padding: 13px 20px; 
        margin-bottom: 22px;
    }
    .form-group {
        .flex-row {
            margin-bottom: 17px;
        }
    }
    fieldset {
        &:disabled {
          cursor: not-allowed;  
          background: rgba(255,255,255,.5);
          opacity: 0.2;
          label{
            cursor: not-allowed;  
          }
          input{
            cursor: not-allowed;   
          }
          button{
            cursor: not-allowed;  
            img{
                cursor: not-allowed;   
            } 
          }
        }
      }
    @include allmobiles{
        .form-group{ 
            &.direct-form{
                border: none;
            }
            &:last-child{
                margin-left: 0px;
            }
        }
        .educationForm-title{
            color:$white-color;
            background: $form-title-mob-backgrnd-color;
            font-size: 22px;
        }
    }