@import '../../../../variables';
@import '../../../../mixins';

app-bank-details {
    .summary-details {
        //width: 450px;/

        .primary-holder-details {
          .widget-title {
            background-color: $white-color;
            letter-spacing: -0.3px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            padding: 20px 22px;
            display: flex;
            justify-content: space-between;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: -0.34px;
            font-family: $muli;
            color: $teal-color;

            span:last-of-type {
              cursor: pointer;
            }

            .delete-icon {
              cursor: pointer;
            }

            .edit-icon {
              width: 24px;
              height: 24px;
              box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
              background-color: $blue-stone-color;
              border-radius: 50%;
              display: flex;
              margin-left: auto;
              cursor: pointer;
            }
          }

          .widget-body {
            padding: 20px 20px 20px 20px;
            background-color: $bond-container-bg;
            font-family: $muli-semi-bold;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: -0.34px;
            color: $dark-teal-color;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            text-align: left;

            .primary-holder {
              font-size: 16px;
            }

            .primary-holder-value {
              font-size: 16px;
              font-weight: 600;
              font-stretch: normal;
              font-style: normal;
              line-height: normal;
              letter-spacing: -0.3px;
              color: $black-color;
            }
          }
        }
      }
}
