<div class="portfolio-naming-backdrop">
  <div class="container-fluid max-width--1024">
    <div class="summary-details mt20">
      <div class="primary-holder-details">
        <div class="widget-title">
          <span>{{ 'PORTFOLIO_SUMMARY.WITHDRAWAL_BANK_DETAILS.TITLE' |
                  translate}}</span>
          <!-- <span (click)="editWithdrawDetails()">Edit</span> -->
          <span class="edit-icon" (click)="editWithdrawDetails()">
            <img src="assets/images/comprehensive/comprehesive-edit-icon.svg">
          </span>
        </div>
        <div class="widget-body">
          <div class="">
            <div class="primary-holder">{{
                  'PORTFOLIO_SUMMARY.WITHDRAWAL_BANK_DETAILS.ACCOUNT_HOLDER_NAME_TEXT' |
                  translate}}</div>
            <div class="primary-holder-value">Kelvin Goh</div>
          </div>

          <div class="mt15">
            <div class="primary-holder">{{
                  'PORTFOLIO_SUMMARY.WITHDRAWAL_BANK_DETAILS.BANK_NAME_TEXT' |
                  translate}}</div>
            <div class="primary-holder-value">ICICI Bank</div>
          </div>

          <div class="mt15">
            <div class="primary-holder">{{
                  'PORTFOLIO_SUMMARY.WITHDRAWAL_BANK_DETAILS.ACCOUNT_NUMBER_TEXT' |
                  translate}}</div>
            <div class="primary-holder-value">111100002348</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
