<div class="promo-link__inner-container">
    <div class="side-image">
      <img src="assets/images/promotion/insure-link.svg">
    </div>
    <div class="details__container">
      <p class="sub-title">{{'INSURE_LINK.SUB_TITLE' | translate}}</p>
      <p class="title">{{'INSURE_LINK.TITLE' | translate}}</p>
      <button class="link--btn" [routerLink]="['/guideme']">{{'INSURE_LINK.GUIDE_ME' | translate}}</button>
      <a class="link" [routerLink]="['/direct']">{{'INSURE_LINK.DIRECT' | translate}}</a>
      </div>
</div>