@import '../../../variables';
@import '../../../mixins';
.earnings-section {
    background:$white-color;
    color:$black-color;
    border-radius: 5px;
}
.earnings-field{
background: $bond-container-bg;
color: $dark-teal-color;
}
.with-help-icon{
    display:flex;
    align-items: flex-end;
    position: relative;        
    margin-right: 10px;
    position: relative;
    //font-size: 18px;
}
.help-icon {      
    background: url("/assets/images/tool-help-icon.svg") no-repeat;
    width: 40px;
    height: 20px;
    cursor: pointer;
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    top: 5px;
}  
.earn-btn-dropdown{
    background: none;
    color: $white-color;
    border:none;
    border-bottom: 1px solid;
    border-radius: 0px;
}
.dropdown-control .earn-btn-dropdown:after {
    background-image: url('/assets/images/dropdown_white.svg');
    width: 16px;
    height: 10px;
    border: none;
    position: absolute;
    top: 24px;
    right: 13px;
    background-repeat: no-repeat;
    @include iphone5 {
      top: 24px;
      right: 5px;
    }
  }  
.comprehensive {
    &.container-fluid {
        padding-top: 120px;
    }
    .dependant-title {
        font-size: 18px;        
    }
    .dependant-desc {
        font-size: 16px;
        padding-bottom: 16px;
    }
    .form-group-with-bg .form-group-with-bg--content .form-group-with-bg--content-label{
        font-size:16px;
    }
    .form-group-with-bg{
        padding:0px;
    }
    .form-group-with-bg .form-group-with-bg--header .form-group-with-bg--header-sub-label{
     color:$text-grey-color!important;
    }
}
.mb-10{
    margin-bottom:100px;
}
.with-delete-icon{
    display:flex;
    align-items: flex-end;
    position: relative;        
    margin-right: 10px;
    position: relative;
    //font-size: 18px;
    .delete-icon {      
        background: url("/assets/images/comprehensive/delete-icon.svg") no-repeat;
        width: 40px;
        height: 20px;
        cursor: pointer;
        background-repeat: no-repeat;
        position: absolute;
        right: 10px;
        top: 5px;
    } 
    .help-icon {
        right:30px;
    }   
}
.earn-dollar-icon{
    background: url("/assets/images/comprehensive/money.svg") no-repeat;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    bottom: 0px;
    top:-8px;
}
.earn-dollar-help{
    display:flex;
    align-items: flex-end;
    position: relative;
    position: relative;
}
.earn-notes{
    font-size: 16px;
    padding-left: 40px;
}
.bucket-notes{
    font-size:16px;
}
.bucket-notes-dollar{
    font-size:20px;
}
.earn-monthly-income-dollar{
    top:8px;
}
.earn-monthly-income-help{
    top: 17px!important;
}
.income-modal-notes{
    color:$light-grey-color;
}
.emptyEarn{
    background: url("../../../assets/images/comprehensive/empty-earnings-bucket.svg") no-repeat;
    display: inline-block;
    width: 117px;
    height: 112px;
}
.filledEarn{
    background: url("../../../assets/images/comprehensive/filled-earnings-bucket.svg") no-repeat;
    display: inline-block;
    width: 117px;
    height: 112px;
    text-align: center;
    &__img {
        padding: 14px 0 20px 0;
    }
    &__desc {
        padding-bottom: 16px;
    }
    &__value {
        padding-bottom: 30px;
        font-family: $muli-bold;
        font-size: 24px;
    }
}
.both-icon{
    .help-icon {
        right: 10px;
        top: 5px;
    }
    .delete-icon {
        right:-25px!important;
    }
}
.dividend-icon .help-icon {
     top: 12px!important;
}