<div class="container-fluid max-width--1024 ">
  <header>{{'DEPENDANT_DETAILS.ABOUT'|translate}}</header>
  <article class="py-2">{{'DEPENDANT_DETAILS.DESC'|translate}}</article>
  <form [formGroup]="myEarningsForm" id="myEarningsForm" name="myEarningsForm" class="myEarningsForm">
    <section class="earnings-section p-2">
      <p><b>{{'MY_EARNINGS.MONTHLY_SALARY'|translate}}</b></p>
      <div class="earnings-field p-2">
        <div class="flex-row">
          <div class="pl0 col-5">
            <label for="name" id="myDependantFormLb1">
              <div>{{ 'MY_EARNINGS.AMOUNT' | translate}}
              </div>
            </label>
          </div>
          <div class="pr0 col-7">
            <input type="text" [ngClass]="{'inline-error': submitted && myEarningsForm.controls.monthlySalary.invalid}"
              id="myFamilyFormInpt3" class="form-control" #monthlySalary formControlName="monthlySalary">
          </div>
        </div>
      </div>
    </section>
    <section class="earnings-section p-2">
      <p><b>{{'MY_EARNINGS.ANNUAL_BONUS'|translate}}</b></p>
      <div class="earnings-field p-2">
        <div class="flex-row">
          <div class="pl0 col-5">
            <label for="name" id="myDependantFormLb1">
              <div>{{ 'MY_EARNINGS.AMOUNT' | translate}}
              </div>
            </label>
          </div>
          <div class="pr0 col-7">
            <input type="text" [ngClass]="{'inline-error': submitted && myEarningsForm.controls.monthlySalary.invalid}"
              id="myFamilyFormInpt3" class="form-control" #monthlySalary formControlName="monthlySalary">
          </div>
        </div>
      </div>
    </section>
    <section class="earnings-section p-2">
      <p><b>{{'MY_EARNINGS.RENTAL_INCOME'|translate}}</b></p>
      <div class="earnings-field p-2">
        <div class="flex-row">
          <div class="pl0 col-5">
            <label for="name" id="myDependantFormLb1">
              <div>{{ 'MY_EARNINGS.AMOUNT' | translate}}
              </div>
            </label>
          </div>
          <div class="pr0 col-7">
            <input type="text" [ngClass]="{'inline-error': submitted && myEarningsForm.controls.monthlySalary.invalid}"
              id="myFamilyFormInpt3" class="form-control" #monthlySalary formControlName="monthlySalary">
          </div>
        </div>
      </div>
    </section>
    <section class="earnings-section p-2">
      <p><b>{{'MY_EARNINGS.OTHER_WORK_INCOME'|translate}}</b></p>
      <div class="earnings-field p-2">
        <div class="flex-row">
          <div class="pl0 col-5">
            <label for="name" id="myDependantFormLb1">
              <div>{{ 'MY_EARNINGS.AMOUNT' | translate}}
              </div>
            </label>
          </div>
          <div class="pr0 col-7">
            <input type="text" [ngClass]="{'inline-error': submitted && myEarningsForm.controls.monthlySalary.invalid}"
              id="myFamilyFormInpt3" class="form-control" #monthlySalary formControlName="monthlySalary">
          </div>
        </div>
      </div>
    </section>
    <section class="earnings-section p-2">
      <p><b>{{'MY_EARNINGS.OTHER_MONTHLY_INCOME'|translate}}</b></p>
      <div class="earnings-field p-2">
        <div class="flex-row">
          <div class="pl0 col-5">
            <label for="name" id="myDependantFormLb1">
              <div>{{ 'MY_EARNINGS.AMOUNT' | translate}}
              </div>
            </label>
          </div>
          <div class="pr0 col-7">
            <input type="text" [ngClass]="{'inline-error': submitted && myEarningsForm.controls.monthlySalary.invalid}"
              id="myFamilyFormInpt3" class="form-control" #monthlySalary formControlName="monthlySalary">
          </div>
        </div>
      </div>
    </section>
    <section class="earnings-section p-2">
      <p><b>{{'MY_EARNINGS.MONTHLY_SALARY'|translate}}</b></p>
      <div class="earnings-field p-2">
        <div class="flex-row">
          <div class="pl0 col-5">
            <label for="name" id="myDependantFormLb1">
              <div>{{ 'MY_EARNINGS.AMOUNT' | translate}}
              </div>
            </label>
          </div>
          <div class="pr0 col-7">
            <input type="text" [ngClass]="{'inline-error': submitted && myEarningsForm.controls.monthlySalary.invalid}"
              id="myFamilyFormInpt3" class="form-control" #monthlySalary formControlName="monthlySalary">
          </div>
        </div>
      </div>
    </section>
    <section class="earnings-section p-2">
      <p><b>{{'MY_EARNINGS.ANNUAL_DIVIDENDS'|translate}}</b></p>
      <div class="earnings-field p-2">
        <div class="flex-row">
          <div class="pl0 col-5">
            <label for="name" id="myDependantFormLb1">
              <div>{{ 'MY_EARNINGS.AMOUNT' | translate}}
              </div>
            </label>
          </div>
          <div class="pr0 col-7">
            <input type="text" [ngClass]="{'inline-error': submitted && myEarningsForm.controls.monthlySalary.invalid}"
              id="myFamilyFormInpt3" class="form-control" #monthlySalary formControlName="monthlySalary">
          </div>
        </div>
      </div>
    </section>
    <section class="earnings-section p-2">
      <p><b>{{'MY_EARNINGS.OTHER_ANNUAL_INCOME'|translate}}</b></p>
      <div class="earnings-field p-2">
        <div class="flex-row">
          <div class="pl0 col-5">
            <label for="name" id="myDependantFormLb1">
              <div>{{ 'MY_EARNINGS.AMOUNT' | translate}}
              </div>
            </label>
          </div>
          <div class="pr0 col-7">
            <input type="text" [ngClass]="{'inline-error': submitted && myEarningsForm.controls.monthlySalary.invalid}"
              id="myFamilyFormInpt3" class="form-control" #monthlySalary formControlName="monthlySalary">
          </div>
        </div>
      </div>
    </section>

    <button type="button" (click)="goToNext(myDependantForm)" class="btn btn-primary btn__footer--fixed width100" id="prfBtn1">{{
      'LABEL.CONTINUE' |
      translate}}</button>
  </form>



</div>