<div [ngClass]="{'modal--freeze': modalFreeze}">
  <div>
    <div class="btn-close-edit hidden-sm-md" [hidden]="!modalFreeze">
      <span class="btn-close" (click)="closeEditMode()"></span>
    </div>
    <app-product-info (formSubmitCallback)="formSubmitCallback()" (backPressed)="backPressed()"></app-product-info>
  </div>
  <div>
    <ng-template #directResults></ng-template>
  </div>
  <div [hidden]="showingResults" class="banner-image hidden-sm-md">
    <img src="assets/images/get-started-image.svg" id="directImgBnr" />
    <div class="direct-banner-title">{{ 'DIRECT_GET_STARTED.TITLE' | translate }}</div>
    <div class="direct-banner-sub-title">{{ 'DIRECT_GET_STARTED.SUBTITLE' | translate }}</div>
  </div>
</div>
