@import '../../variables';
@import '../../mixins';
app-direct {

  .banner-image {
    margin-top: 30px;
    text-align: center;
  }

  .direct-banner-title {
    font-family: $muli-semi-bold;
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: center;
    color: $white-color;
  }

  .direct-banner-sub-title {
    font-family: $muli-regular;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: -0.2px;
    text-align: center;
    color: rgba(255, 255, 255, 0.65);
    margin-top: 10px;
    margin-bottom: 100px;
  }

  .btn-close-edit {
    display: block;
    position: relative;
    top: 0px;
    height: 84px;
    margin: 0 auto;
    max-width: 1024px;
    margin-top: -84px;

    span.btn-close {
      right: 20px;
      position: absolute;
      top: 20px;
      background: url("../../assets/images/direct-btn-close.svg");
      width: 45px;
      height: 45px;
      cursor: pointer;
      z-index: 1040;
    }
    /*
    span.block {
      top: 0px;
      left: 0px;
      height: 76px;
      width: 76px;
      background: $white-color;
    }
    */
  }
}
