<div [ngClass]="{'modal--freeze': state.modalFreeze}">
  <div>
    <app-product-info [hideForm]="state.hideForm" (formSubmitCallback)="formSubmitCallback()" (backPressed)="backPressed()"></app-product-info>
  </div>
  <div>
    <ng-template #directResults></ng-template>
  </div>
  <div [hidden]="state.showingResults" class="banner-image hidden-sm-md">
    <img src="assets/images/direct/get-started-image.svg" id="directImgBnr" />
    <div class="direct-banner-title">{{ 'DIRECT_GET_STARTED.TITLE' | translate }}</div>
    <div class="direct-banner-sub-title">{{ 'DIRECT_GET_STARTED.SUBTITLE' | translate }}</div>
  </div>
</div>
