<div class="container-fluid portfolio-app-inprogress">
    <div class="portfolio-app-inprogress__content">
        <div class="row text-center">
            <div class="col-12">
                <div class="banner-image">
                    <img src="assets/images/portfolio-in-progress-mo.svg" alt="portfolio-in-progress-mo image">
                </div>
            </div>
            <div class="col-12">
                <p class="portfolio-app-inprogress__content__title mb10">{{'PORTFOLIO_INPROGRESS.TITLE' | translate}}
                </p>
                <p class="portfolio-app-inprogress__content__sub-title mb40">
                    {{'PORTFOLIO_INPROGRESS.DESC' | translate}}
                </p>
            </div>
        </div>
        <button class="btn btn-primary btn__footer--fixed width100" (click)="goToNext()">
            {{'LABEL.BACK_TO_DASHBOARD' | translate}}
        </button>
    </div>
</div>