@import '../../../variables';
@import '../../../mixins';
app-withdrawal-bank-account {
  h2{
    font-size:30px !important;
    margin-bottom: 15px;
    @include allmobiles{
      font-size: 21px;
    }
  }
  .faq_link {
    font-family: $muli-semi-bold;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.2px;
    text-align: center;
    padding: 21px 0 105px;
    a {
      color: #a7f3f1;
     }
  }
  .withdraw {
    .btn-group--toggle {
      &.tabs {
        .flex-row {
          border: 1px solid $white-color;
          border-radius: 6px;
        }
        .btn {
          &.btn-primary {
            padding: 14px;
            font-family: $muli-bold;
            font-size: 22px;
            color: $white-color;
            line-height: 1.22;
            letter-spacing: -0.2px;
            text-align: center;
            background-color: $teal-color;
            &.active {
              background-color: $white-color !important;
              color: $teal-color;
              &.right-btn {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
              }
              &.left-btn {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
              }
            }
            &:hover,
            &:active,
            &:focus {
              background-color: $white-color !important;
              color: $teal-color;
              &.right-btn {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
              }
              &.left-btn {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
              }
            }
          }
        }
      }
    }
    .available_accounts {
      // opacity: 0.7;
      padding: 24px 0px 31px;
      border-radius: 6px;
      background-color: $white-color;
      font-family: $muli-regular;
      font-size: 16px;
      color: $teal-color;
      margin-bottom: 10px;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      .selected_logo {
        display: none;
      }
      .bank_logo {
        min-height: 70px;
        min-width: 70px;
      }
      .bank_img {
        max-height: 70px;
        max-width: 70px;
      }
      .user_bank {
        margin-bottom: 7px;
      }
      .user_account {
        font-family: $muli-semi-bold;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: -0.5px;
        text-align: center;
        margin-bottom: 4px;
      }
      .user_name {
        color: $black-color;
      }
      // &.selected{
      //     opacity: 1 !important;
      //     border: 2px solid #007d7d;
      //     position: relative;
      //     .selected_logo{
      //         display: block;
      //         position: absolute;
      //         top: 15px;
      //         right: 15px;
      //         width: 28px;
      //         height: 28px;
      //     }
      // }
    }
    .bank-icon {
      width: 71px;
      height: 49px;
      margin-bottom: 19px;
      .edit-bank{
        position: absolute;
        top: 24px;
        right: 23px;
      }
    }
    .add_account {
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      border: 1px solid $withdrawal-add-account-brdr-color;
      font-family: $muli-bold;
      font-size: 18px;
      letter-spacing: -0.18px;
      color: $white-color;
      padding: 55px 0;
      .flex-row {
        img {
          margin-right: 10.4px;
        }
      }
    }
    .label {
      margin-top: 11px;
      text-align: center;
      color: $white-color;
      font-family: $muli-regular;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.16px;
    }
    .cheque {
      font-family: $muli-regular;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: -0.2px;
      color: $white-color;
      text-align: center;
      padding: 0 18px;
      margin-top: 14px;
      .cheque_msg,
      .cheque_footer {
        max-width: 300px;
        margin: 0 auto;
      }
      .cheque_address {
        border-radius: 6px;
        background-color: $dark-teal-color;
        min-height: 110px;
        align-items: center;
        justify-content: center;
        margin: 18px 0;
      }
      .link {
        font-family: $muli-bold;
      }
    }
    .tab-content {
      // display:none;

      &.active {
        display: block;
      }
    }
    .btn {
      &.btn-primary {
        &.btn__footer--fixed {
          font-family: $muli-bold !important;
        }
      }
    }
  }
}
