<div class="container">
  <div class="flex-row">
    <div *ngFor = "let plan of plansdata" class="bg-white flex-col-3 insurance-plan-widget__container" >
      <div class="col-md-6 col-sm-6 col-6 plan-wrapper">
        <div class="col-md-4 col-md-pull-9 hidden-sm-md insurer-logo">
          <img src="../../../assets/images/{{plan.insurer.logoName}}"/>
        </div>
        <div class="row mt10 mb10">
            <div class="col-md-8 col-md-push-3">
              <h4>{{plan.productName}}</h4>
              <h2>{{plan.premium.premiumAmount | currency:'USD':'symbol-narrow':'1.0-0'}}
                <br class="hidden-lg"/>
                <span class="text-small">/ mth</span>
              </h2>
            </div>
          </div>
      </div>
    </div>
  
    <div class="col-12 heading">Coverage Duration</div>
    <div *ngFor = "let plan of plansdata" class="bg-white flex-col-3">
      <span>{{plan.coverageDuration}}</span>
    </div>
  
    <div class="col-12 heading">Premium Duration</div>
    <div *ngFor = "let plan of plansdata" class="bg-white flex-col-3">
      <span>{{plan.premiumDuration}}</span>
    </div>

    <div class="col-12 heading">Need Under Writting</div>
    <div *ngFor = "let plan of plansdata" class="bg-white flex-col-3">
      <span>{{plan.underWritting}}</span>
    </div>
  
    <div class="col-12 heading">Cash Value</div>
    <div *ngFor = "let plan of plansdata" class="bg-white flex-col-3">
      <span>{{plan.cashValue}}</span>
    </div>
  
    <div class="col-12 heading">pay out details</div>
    <div *ngFor = "let plan of plansdata" class="bg-white flex-col-3">
      <span>{{plan.payOut}}</span>
    </div>
  
    <div class="col-12 heading">Unique Features</div>
    <div *ngFor = "let plan of plansdata" class="bg-white flex-col-3">
      <span>{{plan.features}}</span>
    </div>
  </div>
</div>
