@import '../../../variables';
@import '../../../mixins';

app-compare-plans {
  position: absolute;
  z-index:1029;
  background-color:$teal-color;
  .container-fluid{
    padding-top:40px;
  }
  .best-value-icon {
    position: absolute;
    top: 5px;
    left: -3px;
  }
  .info-icon {
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
  }
  .rt-round {
    border-top-right-radius: 6px !important;

    .bg-white {
      border-right: 0px !important;
    }
  }

  .rb-round {
    border-bottom-right-radius: 6px;
  }

  .lb-round {
    border-bottom-left-radius: 6px;
  }

  .bg-white {
    background: transparent !important;
    color: black;
    border-right: 2px solid #00a7a7;
    padding: 20px;
  }

  .title {
    margin-top: -30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 99;
    line-height: 1.9;
    div {
      background: #2d8289;
      width: 550px;

      @include allmobiles{
        width: 300px;
      }
      @include iPadLandscape {
        width: auto;
      }
    }

    .wide {
      width: 650px;
    }

    .tooltip-compare {
      background: url("../../../assets/images/tooltip-compare.svg") no-repeat;
      height: 20px;
      width: 20px;
      cursor: pointer;
      text-align: center;
      margin-left: 9.6px;
      position: absolute;
      margin-top: 5px;
    }
  }

  .heading {
    justify-content: center;
    background-color: #2d8289;
    z-index: 99;
    color: #fff;
    height: 30px;
    width: 100%;
  }

  // .lc-radius{
  //     border-bottom-left-radius: 6px;
  //     border-bottom-right-radius: 6px;
  //  } 
  // .lc-radius::nth-last-child(1){
  //   border-bottom-right-radius: 6px;
  // }
  .compare-modal {
    justify-content: center;

    .insurance-plan-widget__container {
      background: transparent;
      text-align: center;
    }

    .insurance-plan-widget {
      background: #fff;
      padding: 0 !important;
      color: black;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:first-child {
        border-top-left-radius: 6px;
      }

      &::nth-last-child(1) {
        border-top-right-radius: 6px;
      }
    }

    .insurance-plan-widget-content {
      background: #fff;
      padding: 0 !important;
      color: black;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-right: 2px solid #00a7a7;

      &.lc-radius {
        &:first-child {
          border-bottom-left-radius: 6px;
        }
      }

      .plan-content {
        display: flex;
        background: transparent;
        color: #5E5E5E !important;
        padding: 20px;
        justify-content: center;
        text-align: center;

        &.feature-list {
          flex-direction: column;
        }

        img {
          width: 36px;
          height: 35px;
          object-fit: contain;
        }

        .features {
          display: flex;
          justify-content: flex-start;
          padding: 10px 0;
          text-align: left;

          img {
            width: 15px;
            height: 15px;
            margin-right: 9px;
          }
        }
      }
    }
  }

  .plan-wrapper {
    flex: 0 0 50%;
    max-width: 50%;

    @include allmobiles {
      flex: 0 0 47%;
      max-width: 47%;
    }
  }

  .plan-wrapper:nth-child(1) {
    @include allmobiles {
      margin-right: 3px;
      padding-right: 3px;
    }
  }

  .plan-wrapper:nth-child(2) {
    @include allmobiles {
      margin-right: 0px;
      padding-left: 3px;
    }
  }

  .insurance-plan-widget__container {
    padding-top: 15px;

    @include allmobiles {
      min-height: 251px;
      padding: 0 !important;
    }

    h4 {
      //height: 26px;
      font-size: 16px;
      color: $form-block-title-color;
      font-family: $muli-semi-bold;

      @include allmobiles {
        font-size: 16px;
        text-align: center;
        display: flex;
        line-height: 20px;
        height: 40px;
        justify-content: center;
        align-items: center;
      }
    }

    h2 {
      font-size: 24px;
      color: $app-backgrnd-color;
      font-family: $muli-semi-bold;

      @include allmobiles {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 24px;
      }

      .text-small {
        color: #2d8289;
        font-size: 16px;
        font-family: $muli-regular;
        /*margin-left: 5px;*/

        @include allmobiles {
          font-size: 16px;
          margin-left: 0;
        }
      }
    }

    .insurer-logo {
      height: 80px;
      text-align: center;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-width: 65% !important;
        max-height: 65%;
        @include allmobiles {
          max-width: 70% !important;
          max-height: 70% !important;
        }
      }
    }

    .insurance-plan-widget__container__rank__wrapper {
      @extend .flex;
      @extend .space-btwn;
      margin: 20px 0;

      .insurance-plan-widget__container__rank-box {
        background-color: #c0eded;
        border-radius: 8px;
        padding: 4%;
        width: 30%;
        text-align: center;
        color: $app-backgrnd-color;
        @extend .flex;
        @extend .justify-center;
        @extend .align-center;
        flex-direction: column;
      }

      .feature-head {
        font-size: 24px;
        font-family: $muli-bold;
      }

      .feature-caption {
        font-size: 16px;
        font-family: $muli-semi-bold;
        width: 100px;
        margin-bottom: 10px;
      }

      .help-icon {
        background: url("../../../assets/images/tooltip-icon.svg") no-repeat;
        height: 20px;
        width: 20px;
        cursor: pointer;
        text-align: center;
      }
    }

  }

  .compare-plan-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 66px;
    z-index: 1030;
    background: $app-backgrnd-color;
    text-align: center;
    color: $white-color;
    font-family: $muli-semi-bold;
    border-bottom: 1px solid #3eb9b8;
    font-size: 24px;
    line-height: 66px;
    left: 0;

    button {
      position: absolute;
      right: 15px !important;
      top: 25px !important;
    }
  }

  .compare-plan-header--close {
    right: 12px !important;
    text-shadow: none !important;
    background: url("../../../assets/images/close-btn-white.png") !important;
    width: 23px;
    height: 23px;
    background-repeat: no-repeat !important;
    top: 20px !important;
    border: none;
    line-height: 65px;
  }

}
