<div class="container-fluid">
  <div class="compare-plan-header hidden-lg">
    {{this.pageTitle}}
    <button aria-label="Close" class="compare-plan-header--close" id="modalBtn" type="button" (click)="close()">
      <span aria-hidden="true"></span>
    </button>
  </div>
  <div class="flex-row compare-modal">
    <div *ngFor="let plan of plansData; let i = index;" class="col-sm-3 col-md-3 col-6 insurance-plan-widget" [ngClass]="{'rt-round': i == plansData.length - 1, 'hidden-sm-md': i > 1}">
      <img class="best-value-icon" *ngIf="plan.bestValue" src="./assets/images/best-value-icon.png" />
      <div class="bg-white flex insurance-plan-widget__container flex__box--vert">
        <img class="info-icon" (click)="viewDetails(plan)" src="./assets/images/tooltip-info.svg" />
        <div class="mt20 insurer-logo">
          <img src="../../../assets/images/{{plan.insurer.logoName}}" />
        </div>
        <div class="flex-row mt10 mb10">
          <div class="col-md-12 col-md-push-3">
            <h4 class="mb20">{{plan.productName}}</h4>
            <h2 [hidden]="plan.premium.intrestRateOfReturn">{{plan.premium.premiumAmount | currency}}
              <br />
              <span class="text-small">{{ 'SUFFIX.PER_MONTH' | translate}}</span>
            </h2>
            <h2 [hidden]="!plan.premium.intrestRateOfReturn">{{plan.premium.intrestRateOfReturn}}%
              <span class="text-small">{{ 'COMPARE_PLANS.PERCENTAGE_PER_ANNUM' | translate}}</span>
              <br />
              <span class="text-small">{{ 'COMPARE_PLANS.PROJECTED_RETURN' | translate}}</span>
            </h2>
          </div>
        </div>
      </div>
      <div class="heading">&nbsp;</div>
    </div>

    <div class="flex-col-12 flex title">
      <div [ngClass]="{'wide' : plansData && plansData.length === 4}">{{ 'COMPARE_PLANS.INSURER_FINANCIAL_RATING' |
        translate}}</div>
    </div>
    <div *ngFor="let plan of plansData; let i = index;" class="col-sm-3 col-md-3 col-6 insurance-plan-widget-content"
      [ngClass]="{'hidden-sm-md': i > 1}">
      <div class="plan-content">
        <span>{{plan.insurer.rating}}</span>
      </div>
      <div class="heading">&nbsp;</div>
    </div>

    <div class="flex-col-12 flex title">
      <div [ngClass]="{'wide' : plansData && plansData.length === 4}">{{ 'COMPARE_PLANS.COVARAGE_DURATION' |
        translate}}</div>
    </div>
    <div *ngFor="let plan of plansData; let i = index;" class="col-sm-3 col-md-3 col-6 insurance-plan-widget-content"
      [ngClass]="{'hidden-sm-md': i > 1}">
      <div class="plan-content">
        <span>{{plan.premium.durationName | titlecase}}</span>
      </div>
      <div class="heading">&nbsp;</div>
    </div>

    <div class="flex-col-12 flex title">
      <div [ngClass]="{'wide' : plansData && plansData.length === 4}">{{ 'COMPARE_PLANS.PREMIUM_DURATION' | translate}}</div>
    </div>
    <div *ngFor="let plan of plansData; let i = index;" class="col-sm-3 col-md-3 col-6 insurance-plan-widget-content"
      [ngClass]="{'hidden-sm-md': i > 1}">
      <div class="plan-content">
        <span>{{plan.premiumDuration}}</span>
      </div>
      <div class="heading">&nbsp;</div>
    </div>

    <div class="flex-col-12 flex title">
      <div [ngClass]="{'wide' : plansData && plansData.length === 4}">
        {{ 'COMPARE_PLANS.NEED_UNDERWRITING' | translate}}
        <span (click)="showUnderwritingTooltip()" class="tooltip-compare"></span>
      </div>
    </div>
    <div *ngFor="let plan of plansData; let i = index;" class="col-sm-3 col-md-3 col-6 insurance-plan-widget-content"
      [ngClass]="{'hidden-sm-md': i > 1}">
      <div class="plan-content">
        <span><img src="../../../assets/images/{{plan.underWritting}}.png" /></span>
      </div>
      <div class="heading">&nbsp;</div>
    </div>

    <div class="flex-col-12 flex title">
      <div [ngClass]="{'wide' : plansData && plansData.length === 4}">
        {{ 'COMPARE_PLANS.CASH_VALUE' | translate}}
        <span (click)="showCashValueTooltip()" class="tooltip-compare">
        </span>
      </div>
    </div>
    <div *ngFor="let plan of plansData; let i = index;" class="col-sm-3 col-md-3 col-6 insurance-plan-widget-content"
      [ngClass]="{'hidden-sm-md': i > 1}">
      <div class="plan-content">
        <span><img src="../../../assets/images/{{plan.cashValue}}.png" /></span>
      </div>
      <div class="heading">&nbsp;</div>
    </div>

    <div class="flex-col-12 flex title">
      <div [ngClass]="{'wide' : plansData && plansData.length === 4}">{{ 'COMPARE_PLANS.PAYOUT_DETAILS' | translate}}</div>
    </div>
    <div *ngFor="let plan of plansData; let i = index;" class="col-sm-3 col-md-3 col-6 insurance-plan-widget-content"
      [ngClass]="{'hidden-sm-md': i > 1}">
      <div class="plan-content flex">
        <span>{{plan.payOut}}</span>
      </div>
      <div class="heading">&nbsp;</div>
    </div>

    <div class="flex-col-12 flex title">
      <div [ngClass]="{'wide' : plansData && plansData.length === 4}">{{ 'COMPARE_PLANS.UNIQUE_FEATURES' | translate}}</div>
    </div>
    <div *ngFor="let plan of plansData; let i = index;" class="col-sm-3 col-md-3 col-6 insurance-plan-widget-content"
      [ngClass]="{'lb-round': i == 0, 'hidden-sm-md': i > 1, 'rb-round': i == plansData.length - 1}">
      <div class="plan-content feature-list">
        <div *ngFor="let feature of plan.features.split('.')">
          <div class="features" *ngIf="feature && feature != ''">
            <span><img src="../../../assets/images/Yes.png" /></span>
            <span>{{feature}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
