<div class="modal-header">
  <div class="modal-title popup-header-icon" *ngIf="imgType == 1">
    <img src="./assets/images/owl.svg" id="errorModelImage" />
  </div>
  <div class="modal-title popup-header-icon glass" *ngIf="imgType == 2">
    <img src="./assets/images/investment-account/fees_owl.svg" id="errorModelImage" />
  </div>
</div>
<div class="modal-body white-bg">
  <div class="modal-body-title"> 
    <div id="errorModeltitle" [innerHTML]="errorTitle"></div>
    <span *ngIf="warningIcon" class="warning-icon"><img id="warning_icon" src="../../../assets/images/investment-account/topup-alert.svg"
    alt="" /></span>
    <span *ngIf="lockIcon" class="lock"><img src="../../../../assets/images/lock.svg" ></span>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true" id="errorModelCloseIcon"></span>
  </button>
  <div class="journey-wrapper" *ngIf="portfolioExist">
      <img class="img-fluid" src="assets/images/portfolio/existportfolio.svg" />
    </div>
  <div class="modal-body-message" *ngIf="errorMessage" id="errorModelMessage"  [innerHTML]="errorMessage"></div>
  <div class="modal-body-message " *ngIf="errorMessageHTML" id="errorModelMessage" [innerHTML]="errorMessageHTML"></div>
  
  <div class="row">
    <div class="col-12" [ngClass]="{'col-12': !isInlineButton, 'col-6': isInlineButton}" *ngIf="primaryActionLabel">
      <button type="button" class="action-button " (click)="primaryActionSelected()" id="errorModeButton">
        {{primaryActionLabel}}
      </button>
    </div>

    <div class="col-12" [ngClass]="{'col-12': !isInlineButton, 'col-6': isInlineButton}" *ngIf="secondaryActionLabel">
        <button type="button" class="action-button" [class.secondary-button]="secondaryActionDim" (click)="secondaryActionSelected()" id="errorModeButton">
          {{secondaryActionLabel}}
        </button>
      </div>
  </div>

  <!-- <button type="button"  *ngIf="forgotPassword" class="action-button"   id="errorModeButton2" (click)="activeModal.dismiss('Cross click')">
    {{ 'LABEL.TRY_AGAIN' | translate}} 
  </button> -->
  <!-- yes - or - no -->
  <div class="flex-row flex-col-12 space-btwn" *ngIf="yesOrNoButton">
    <div class="toggle-btn">
        <button type="button" class="action-button " (click)="yesButtonClick()" id="errorModeButton">
            Yes
          </button>
    </div>
    <div class="toggle-btn">
        <button type="button" class="action-button secondary-button" (click)="noButtonClick()" id="errorModeButton">
            No
          </button>
    </div>
  </div>
</div>
