<div class="modal-header">
  <div class="modal-title popup-header-icon">
    <img src="./assets/images/owl.svg" id="errorModelImage" />
  </div>
</div>
<div class="modal-body white-bg">
  <div class="modal-body-title" id="errorModeltitle">{{errorTitle}}</div>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true" id="errorModelCloseIcon"></span>
  </button>
  <div class="modal-body-message" *ngIf="errorMessage" id="errorModelMessage">{{errorMessage}}</div>
  <div class="modal-body-message" *ngIf="errorMessageHTML" id="errorModelMessage" [innerHTML]="errorMessageHTML"></div>
  <div class="row">
    <div class="col-12">
      <button type="button" *ngIf="ButtonTitle" class="Rectangle-2 " (click)="modelButtonClick()" id="errorModeButton">
        {{ButtonTitle}}
      </button>
    </div>
    <div class="col-12" *ngIf="secondButton">
      <button type="button" class="Rectangle-2 " (click)="secondmodelButtonClick()" id="errorModeButton">
        {{secondButtonTitle}}
      </button>
    </div>

    <div class="col-12" *ngIf="primaryActionLabel">
      <button type="button" class="Rectangle-2 " (click)="primaryActionSelected()" id="errorModeButton">
        {{primaryActionLabel}}
      </button>
    </div>

    <div class="col-12" *ngIf="secondaryActionLabel">
        <button type="button" class="Rectangle-2" (click)="secondaryActionSelected()" id="errorModeButton">
          {{secondaryActionLabel}}
        </button>
      </div>
  </div>

  <!-- <button type="button"  *ngIf="forgotPassword" class="Rectangle-2"   id="errorModeButton2" (click)="activeModal.dismiss('Cross click')">
    {{ 'LABEL.TRY_AGAIN' | translate}} 
  </button> -->


</div>
