@import '../../variables';
@import '../../mixins';

app-email-enquiry-success{
    .container-fluid{
        //padding-top: 0px;
        padding-bottom: 0PX;
        background-color: #f6f6f6;
        @include allmobiles{
          padding-top: 60px;
          padding-right: 0 !important;
          padding-left: 0 !important;
        }
        @include phablet {
          padding-top: 60px;
         }
      }
    .enquiry-panel{
        background-color: #f6f6f6;
        min-height: 100vh;
        .email-enquiry-bg{
        }
        .enquiry-card{
            max-width: 600px;
            margin: 0 auto;
            background: $white-color;
            font-size: 21px;
            padding: 45px 40px;
            line-height: 1;
            letter-spacing: -0.21px;
            text-align: center;
            color: #066360; 
            z-index: 1;
            position: relative; 
            border-radius: 6px;
            box-shadow: 0 8px 16px 2px rgba(0, 0, 0, 0.14);  
            h2{
                font-family: $muli-bold;
                letter-spacing: -0.36px;
                text-align: center;
                padding-bottom: 35px;
            }  
            .contact-block{
                margin-top: 45px;
                padding: 25px;
                border-radius: 6px;
                background-color: #f7f5f5;
                line-height: 0.95;
                letter-spacing: -0.21px;
                text-align: center;
                color: #00a7a7;
                padding-bottom: 0;
                div{
                    padding-bottom: 40px;
                }          
            }
        }
    }
}