<div class="enquiry-panel">
  <div class="container-fluid">
      <div class="email-enquiry-bg">
      </div>
      <div class="enquiry-card">
        <h2>Thank you!</h2>
        <div>Your interest in the selected insurance plan(s) has been submitted. Our advisors will contact you by the end of the next working day.</div>
        <div class="contact-block">
          <div>For enquiries, please contact us at:</div>
          <div><span></span><span>(65) 6329 9188</span></div>
          <div><span></span><span>enquiries@moneyowl.com.sg</span></div>
        </div>
      </div>
  </div>
</div>