<div class="enquiry-panel">
  <div class="container-fluid">
      <div class="email-enquiry-bg">
        <img src="../../assets/images/enquiry-bg.svg" />
      </div>
      <div class="enquiry-card">
        <h2>Thank you!</h2>
        <div>Your interest in the selected insurance plan(s) has been submitted. Our advisors will contact you by the end of the next working day.</div>
        <div class="contact-block">
          <div class="txt-bold">For enquiries, please contact us at:</div>
          <div><span><img src="../../assets/images/icon_call.svg" /></span><span>(65) 6329 9188</span></div>
          <div><span><img src="../../assets/images/icon_email.svg" /></span><span>enquiries@moneyowl.com.sg</span></div>
        </div>
      </div>
      <button type="button" class="btn btn-primary" [routerLink]="['/home']">Back To Home</button> 
  </div>
</div>