<div class="enquiry-panel">
  <div class="container-fluid">
      <div class="email-enquiry-bg">
        <img src="../../assets/images/enquiry-bg.svg" />
      </div>
      <div class="enquiry-card">
        <h2>{{'EMAIL_ENQUIRY.THANKYOU' | translate}}</h2>
        <div>{{'EMAIL_ENQUIRY.TITLE' | translate}}</div>
        <div class="contact-block">
          <div class="txt-bold">{{'EMAIL_ENQUIRY.FOR_ENQUIRY' | translate}}</div>
          <div><span><img src="../../assets/images/icon_call.svg" /></span><span>(65) 6329 9188</span></div>
          <div><span><img src="../../assets/images/icon_email.svg" /></span><span>enquiries@moneyowl.com.sg</span></div>
        </div>
      </div>
      <button type="button" class="btn btn-primary" (click)="redirectTo()">
        <span *ngIf="!isSignedUser">{{'LABEL.BACK_TO_HOME' | translate}}</span>
        <span *ngIf="isSignedUser">{{'LABEL.BACK_TO_DASHBOARD' | translate}}</span>
      </button> 
  </div>
</div>