
<div class="container-fluid max-width--1024 app-additional-declaration">
  <div class="intro-block__content">
    <div class="row text-center">
      <div class="col-12">
        <div class="banner-image">
          <img src='assets/images/investment-account/funding-intro.svg' id="fund-introImg" />
        </div>
      </div>
      <div class="col-12 intro-block__content__desc">
        <p class="intro-block__content__heading" id="fund-introHeading">{{ 'FUND_INTRO.TITLE' | translate}}</p>
        <p class="intro-block__content__title" id="fund-introTitle">{{ 'FUND_INTRO.DESC' | translate}}</p>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-proceed btn__footer--fixed " (click)="goNext()" id="fund-getStartedStep1Btn">
      {{ 'FUND_INTRO.BACK' | translate}}
    </button>
  </div>
</div>
