@import '../../../../mixins';

app-existing-coverage-modal {
  .form-group {
    @include allmobiles {
      padding-bottom: 30px;
    }
  }

  .dropdown-control .dropdown-menu.show {
    right: 0 !important;
    left: inherit !important;
  }

  .dropdown-control .dropup .btn-dropdown {
    padding-right: 27px;
    max-height: 52px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
  }
}
