<div class="app-add-step1">
  <div class="step-indicator-container">
    <div class="container-fluid">
      <app-step-indicator [count]="2" [activeStepIndex]="0"></app-step-indicator>
    </div>
  </div>
  <div class="container-fluid">
    <form name="addInfoForm" [formGroup]="addInfoForm">
  <!-- PEP question -->
  <div class="flex-row mb10">
    <div class="flex-col-11 mt15">
      <div class="tin_question_text" id="pep_Info_question-one">{{ 'PERSONAL_DECLARATION.QUESTION2' | translate}}
      </div>
    </div>
    <div class="flex-col-1">
      <i class="tooltip-icon" id="myFinancialHelpIcon" (click)="showHelpModalPep()"></i>
    </div>
  </div>
  <!-- Button part -->
  <div class="flex-row">
    <div class="flex-col-12 mb10">
      <div class="btn-group--toggle" ngbRadioGroup name="radioPep" formControlName="radioPep" >
        <div class="flex-row">
          <div class="flex-col-6">
            <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm mr16">
              <input ngbButton type="radio" id="tin_yes"  value="yes"> Yes
            </label>
          </div>
          <div class="flex-col-6">

            <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm mr16">
              <input ngbButton type="radio" id="tin_no" disabled value="no" >No</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Provide details of PEP  -->
  <div class="flex-row">
    <div class="flex-col-12">
      <div class="tin_question_text" id="pep_Info_question-one">Please provide the following details for the PEP
      </div>
    </div>
  </div>
  <!-- Starting the actual form design  -->

  <div class="form-group">
    <!-- first name -->
    <div class="flex-row">
      <div class="flex-col-5">
        <label for="fName" id="invPersInfoLbl1" >First Name</label>
      </div>
      <div class="flex-col-7">
        <input type="text"  id="invPersInfoInpt1" class="form-control" #fName formControlName="fName">
      </div>
    </div>

    <!-- last name -->
    <div class="flex-row">
        <div class="flex-col-5">
          <label for="lName" id="invPersInfoLbl1" >Last Name</label>
        </div>
        <div class="flex-col-7">
          <input type="text"  id="invPersInfoInpt1" class="form-control" #lName formControlName="lName">
        </div>
      </div>

      <!-- company name -->
    <div class="flex-row">
        <div class="flex-col-5">
          <label for="cName" id="invPersInfoLbl1" >Company Name</label>
        </div>
        <div class="flex-col-7">
          <input type="text"  id="invPersInfoInpt1" class="form-control" #cName formControlName="cName">
        </div>
      </div>
    
  </div>

</form>
  </div>

  </div>
