@import "../../../_variables.scss";
@import "../../../_mixins.scss";
app-additional-declaration-step1{
.app-add-step1{
    // .container-fluid {
    //     padding-top: 0px;
    //     padding-bottom: 0px;
    // }
   
    .dropdown-control {
        .dependent-count {
        color: #5e5e5e;
        margin-left: 4px;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: -0.2px;
      font-family: Muli;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
}
}

label {
  font-size: 18px;
  letter-spacing: -0.3px;
  padding-right: 5px;
}
// .form-group {
//     @include allmobiles {
//         padding-bottom: 30px;
//       }
// }
.dropdown-control .dropdown-menu.show {
    right: 0 !important;
    overflow: auto;
    height: calc(70vh);
    }
.dropdown-item {
    white-space: normal;
    
}
.btn{
    z-index: 1001;
}
.fixed-btn--sm {
    color:$white-color; 
    border: 1px solid $white-color;
    &.disabled{
      border: 1px solid rgba(0, 135, 134, 0.4);
      color: #99dbdb;
    }
}
.mr16{
    margin-right: 5px !important;
}
.text{
   font-family: $muli-regular;
  font-size: 18px;
   line-height: 1.17;
  letter-spacing: -0.2px;
  text-align: center;
  padding-left: 17px;
  padding-right: 14px;
}
.step-indicator-container {
    background-color: $white-color;
    padding: 10px 0px;
    position: relative;
    top: 60px;
    margin-bottom: 15px;

    .container-fluid {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  @media (min-width: 768px) {
    .step-indicator-container {
      top: 0px;
    }
  }
// .QuestionLabel{
//     width: 83%;
// }

.tooltip-icon {
    background: url("../../../assets/images/investment-account/tin-info.svg") no-repeat;
    height: 20px;
    width: 20px;
    cursor: pointer;
    display: block;
    margin-top:3px;
  }
  .country_text {
    width: 100px;
    height: 69px;
    font-family: $muli-semi-bold;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: $white-color;
  }
  .tin_question_text {
    font-family: $muli-semi-bold;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: $white-color;
    margin-bottom: 12px;
  }
  .disabled {
    cursor: not-allowed;
  }
  .inline-error-inv {
    color: $inline-error-border-color;
    border: 1px solid $inline-error-border-color !important;
    color: $inline-error-border-color;

    input {
      color: $inline-error-border-color !important;
    }
  }
  .input-control {
    text-align: left;
  }
  .form-control {
    &.with-button {
      padding: 0.50rem;
      padding-left: 0.8rem;

      input {
        margin-top: 6px;
      }
    }


  }

  .btn {
    &.btn-secondary {
      padding: 0.50rem;
      font-size: 16px;
      background-color: #ff872f;
      color: $white-color;
      border: none;
      font-family: $muli;

      &.right {
        float: right;
      }
      &:hover{
        background-color: #ff872f !important;
        border: none !important;
        color: $white-color !important;
      }
      &:focus{
        background-color: #ff872f !important;
        border: none !important;
        color: $white-color !important;
      }
   
      &:active{
        background-color: #ff872f !important;
        border: none !important;
        color: $white-color !important;
      }
    }
  }
  .white-bg-checkbox {
    background-color: $white-color;
    padding: 10px 18px 10px 18px;
    border-radius: 6px;
    font-family: $muli;

    label {

      padding: 0px 0 0px 35px;
    }

    .option-row {
      margin-left: 0px;
    }

    .option-title {
      color: #000;
      font-size: 18px;
    }

    .option-desc {
      color: #4a4a4a;
      font-family: $muli-semi-bold;
      font-size: 16px;
    }
  }
  .autofill-link {
    border: 1px solid $secondary-action-color;
    padding: 23px 34px;
    background-color: $white-color;
    border-radius: 6px;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    .autofill-logo {
      width: 35%;
    }

    .autofill-text {
      width: 65%;
      font-family: Muli;
      font-size: 18px;
      font-weight: bold;
      color: #e57300;
    }

  }
  .inline-error{
    .btn{
      &.btn-secondary{
        background-color:#ff872f !important;
      }  
    }    
  }
    .inline-error-inv {
      color: $inline-error-border-color;
      border: 1px solid $inline-error-border-color !important;
      color: $inline-error-border-color;
  
      input {
        color: $inline-error-border-color !important;
      }
    }
    .dropdown-menu.show {
      right: 0 !important;
      overflow: auto;
      height: auto;
      max-height: 264px;
        }
      
  .dropdown-item {
    white-space: normal;
    word-break: break-all;
  }
  .dropdown-control .btn-dropdown {
    padding-right: 27px;
    max-height: 52px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .office-addr-lbl {
    margin-top:25px;
    margin-bottom:20px;
    font-size:18px;
  }

  .postal-code-control {
    display: flex;

    div.control {
      display: flex;
      flex: 3;
    }

    div.button {
      display: flex;
      flex: 2;
    }
  }

  .inline-error{
    .btn{
      &.btn-secondary{ &:active{
        border: none !important;
        color: #ffffff;
      }
        background-color:#ff872f !important;
      }  
    }    
  }
}
}