<div class="sidepanel">
    <div class="sidepanel__background"></div>
    <div class="sidepanel__top-border">
      <div class="teal"></div>
      </div>
    <div class="sidepanel__form">
      <div class="sidepanel__form-header">
        <div class="sidepanel-label">Join our newsletter and get wiser!</div>
        <div class="sidepanel-icon">
          <img src="../../../assets/images/owl--minier.svg"/>
          </div>
        </div>
      <form class="sidepanel__form-inner" [formGroup]="subscribeSideForm">
        <input type="text" class="form-control" placeholder="First Name" formControlName="firstName"/>
        <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName"/>
        <input type="email" class="form-control" placeholder="Email" formControlName="email"/>
        <p *ngIf="!(subscribeMessage === '')" class="sub-message" [ngClass]="{'success': subscribeSuccess}">{{subscribeMessage}}</p>
        <div class="sidepanel__sub-text">
          Get exclusive access to promotions, personal finance 
          tips and updates on the latest news. Don’t miss out!
          </div>
        <button class="btn btn-primary" (click)="subscribeMember()">
          Subscribe
          </button>
      </form>
      </div>
    <div class="sidepanel__bottom-border">
      <div class="orange"></div>
    </div> 
    </div>