<div class="sidepanel">
    <div class="sidepanel__background"></div>
    <div class="sidepanel__top-border">
      <div class="teal"></div>
      </div>
    <div class="sidepanel__form">
      <div class="sidepanel__form-header">
        <div class="sidepanel-label" innerHTML="{{'SUBSCRIBE_SIDE.TITLE' | translate}}"></div>
        <div class="sidepanel-icon">
          <img src="../../../assets/images/owl--minier.svg"/>
          </div>
        </div>
      <div class="sidepanel__form-promo">
        <div class="sidepanel-label" innerHTML="{{'SUBSCRIBE_SIDE.PROMO_TITLE' | translate}}"></div>
        </div>
      <form class="sidepanel__form-inner" [formGroup]="subscribeSideForm">
        <input type="text" class="form-control" placeholder="{{'SUBSCRIBE_SIDE.FIRST_NAME' | translate}}" formControlName="firstName"/>
        <input type="text" class="form-control" placeholder="{{'SUBSCRIBE_SIDE.LAST_NAME' | translate}}" formControlName="lastName"/>
        <input type="email" class="form-control" placeholder="{{'SUBSCRIBE_SIDE.EMAIL' | translate}}" formControlName="email"/>
        <p *ngIf="!(subscribeMessage === '')" class="sub-message" [ngClass]="{'success': subscribeSuccess}">{{subscribeMessage}}</p>
        <div class="sidepanel__sub-text">
          {{'SUBSCRIBE_SIDE.SUB_TEXT' | translate}}
          </div>
        <button class="btn btn-primary" (click)="subscribeMember()">
          {{'SUBSCRIBE_SIDE.SUBSCRIBE' | translate}}
          </button>
      </form>
      </div>
    <div class="sidepanel__bottom-border">
      <div class="orange"></div>
    </div> 
    </div>