@import '../../../variables';
@import '../../../mixins';

.learn-about-finance{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background-color:#e8f2f3;
    padding:0px 20px;
}
.learn-about__header{
    position: relative;
    display:flex; 
    width:calc(100% + 40px);
    justify-content:center; 
    align-items:center;
    background-color:#f3f7f7;
    padding:0px 20px;
    .learn-about__header--inner{
        position: relative;
        display: block;
        width: 100%;
        max-width: 1024px;
    }
    h1{
        font-family:$muli-bold;
        margin-top:10px;
        margin-bottom:25px;
        color:$teal-color;
        @include minMobilemaxPhablet{
            margin-top:25px;
            font-size:1.9rem;
        }
    }   
}

.learn-about__container{
    position: relative;
    display: block; 
    width:100%;
    max-width:1024px;
    padding:30px 0px;
}
.learn-about__section{
    position: relative; 
    display: flex;
    width: 100%;
    max-width:1024px;
    flex-direction:column;
    margin-bottom: 20px;

    &.primary{
    }
    &.secondary{
    }
    h4{
        font-family: $muli;
        color: $teal-color;
        margin-bottom:0px;
    }
    p{
        font-family: $muli-regular;
        color: $black-color;
        opacity:0.9;
    }
}

.learn-about__get-started{
    position: relative;
    display:flex;
    width:100%;
    flex-direction: row;
    justify-content:space-between;
    @include minMobilemaxPhablet{
        flex-wrap:wrap;
        justify-content:center;
    }
    
    .get-started--card{
        position: relative;
        display: block;
        width: 33.3333%;
        max-width: 325px;
        border-radius: 6px;
        overflow:hidden;
        background-color: $white-color;
        margin-bottom:15px;
        &:first-child{
            margin-left:unset;
            margin-right:15px;
            @include minMobilemaxPhablet{
                margin-right:unset;
            }
            &:last-child{
                margin-left:auto;
                margin-right:auto;
            }
        }
        &:last-child{
            margin-right:unset;
            margin-left:15px;
            @include minMobilemaxPhablet{
                margin-left:unset;
            }
        }
        @include minMobilemaxPhablet{
            width:100%;
            max-width:unset;
        }
        .art-tag__container{
            position: absolute;
        }
        .article-card--img{
            position: relative;
            display: block;
            width:100%;
            height:252px;
            overflow:hidden;
            img{
                position: absolute;
                display: block;
                height:100%;
                left:50%;
                top:50%;
                transform: translate(-50%,-50%);
                z-index:0;
                }
            }
        .article-card--desc{
            position: relative;
            display: flex;
            width: 100%;
            padding:10px 10px 15px 10px;
            flex-direction:column;
            border-top:1px solid #e1e1e1;
            .art-title{
                font-family:$muli-semi-bold; 
                font-size:21px;
                color:$teal-color;
                margin-bottom:10px;
                line-height:1.1;
                }
            .art-desc{
                position: relative;
                display: flex;
                justify-content: flex-start;
                margin-bottom:0px;
                font-size:14px;
                span{
                    margin-left:5px;
                }
                .author{
                    display:block;
                    margin-left:0px;
                    .author-link{
                        font-family:$muli-semi-bold;
                        color:$teal-color;
                        }
                    }
                p{
                    font-family:$muli-regular;
                    font-size:14px;
                    margin-bottom:0px;
                    } 
                }
            }
                
        }
    }

.learn-about__recent-articles{
    position: relative;
    display:flex; 
    width:100%;
    flex-direction:row;
    flex-wrap:wrap;
    column-count: 2;
    justify-content:space-between;
    .recent-article--card{
        position: relative;
        display: flex;
        width:calc(50% - 7.5px);
        flex-direction:row;
        background-color:$white-color;
        margin-bottom:15px;
        overflow:hidden;
        border-radius:6px;
        @include minPhabletmaxTablet{
            width:100%;
        }
        @include minMobilemaxPhablet{
            width:100%;
        }
        @include allmobiles{
            flex-direction:column;
        }
        .article-card--img{
            position: relative;
            display: block;
            padding: 0px;
            overflow:hidden;
            background-size:cover;
            background-position: center;
            @include allmobiles{
                min-height:250px;
            }
            img{
                position: absolute;
                height:100%;
                top:50%;
                left:50%;
                transform:translate(-50%,-50%);
                }
            }
        .article-card--desc{
            position: relative;
            display:inline-flex;
            flex-direction:column;
            border-left:1px solid #e1e1e1;
            padding:15px 15px 40px 15px;
            .art-title{
                font-family:$muli-semi-bold; 
                font-size:20px;
                color:$teal-color;
                line-height:1.1;
                }
            .art-desc{
                position: relative;
                display: flex;
                justify-content: flex-start;
                margin-bottom:0px;
                font-size:14px;
                span{
                    margin-left:5px;
                }
                .author{
                    display:block;
                    margin-left:0px;
                    .author-link{
                        font-family:$muli-semi-bold;
                        color:$teal-color;
                        }
                    }
                p{
                    font-family:$muli-regular;
                    font-size:14px;
                    margin-bottom:0px;
                    } 
                }
            }
        }
    }

    .art-tag__container{
        position: relative;
        display:flex;
        top:5px;
        left:5px;
        justify-content:flex-start;
        align-items:center;
        flex-wrap:wrap;
        z-index:2;
        .art-tag__element{
            position: relative;
            display:inline-block;
            width:auto;
            border-radius:4px;
            background-color:$white-color;
            border: 1px solid #e1e1e1;  
            color:$dark-teal-color;
            font-size:12px;
            font-family:$muli-semi-bold;
            padding:2px 5px;
            margin-right:5px;
            margin-bottom:5px;
            cursor: pointer;
            &:hover{
                text-decoration: none;
                background-color:$teal-grey-color;
                color:$white-color;
                }
            i{
                font-size:14px;
                transform:translateY(2px);
                margin-right:2px;
                }
            }
        }