@import '../../../../variables';
@import '../../../../mixins';

app-risk-willingness {
  .col-lg-7 {
    padding-right: 35px;
  }

  .col-lg-5 {
    padding-left: 35px;

    @include allmobiles {
      padding-left: 15px;
    }
  }

  h2.question-info {
    font-size: 16px !important;
  }

  .question-info {
    @include allmobiles {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 60px;
      background-color: $question-info-bg;
      min-height: 35px;
      line-height: 35px;
      font-size: 14px;
      border-top: 1px solid $question-info-brdr-color;
      color: $teal-color;
    }
  }

  .question-title {
    font-family: $muli-regular;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.3;
  }

  .option-title {
    font-size: 18px;
  }

  .form-group-single-column .checkbox-button .input-label-grey {
    color: $question-info-input-lbl-color;
    font-family: $muli-semi-bold;
    font-size: 18px;
  }

  .table-view {
    display: table;
    position: relative;

    .table-row {
      display: table-row;

      .table-cell {
        display: table-cell;
        border-right: 1px solid $risk-table-cell-brdr-color;
        border-bottom: 1px solid $risk-table-cell-brdr-color;
        background-color: $risk-table-cell-bg-color;
        color: $risk-table-cell-color;
        padding: 12px 10px;
        vertical-align: middle;
        text-align: center;
        font-family: $muli-semi-bold;
        font-size: 18px;

        .col-head {
          font-family: $muli-bold;
          line-height: 23px;
        }

        label {
          color: $risk-table-lbl-color;
          font-size: 18px;
        }
      }

      &.table-head {
        .table-cell {
          background-color: $white-color;
          font-size: 14px;
          color: $risk-table-head-color;
          font-family: $muli-regular;
          line-height: 15px;
        }

        .table-cell:first-child {
          border-radius: 6px 0px 0px 0px;
          font-size: 16px;
        }

        .table-cell:last-child {
          border-radius: 0px 6px 0px 0px;
        }
      }
    }

    .table-row:last-child {
      .table-cell:first-child {
        border-radius: 0px 0px 0px 6px;
      }

      .table-cell:last-child {
        border-radius: 0px 0px 6px 0px;
      }
    }
  }

}
