<div class="container-fluid max-width--1024 comprehensive">
  <div class="step-indicator-container" id="moDpdnt2StepIndctr">
    <app-step-indicator [count]="6" [activeStepIndex]="2" [mode]="1"></app-step-indicator>
  </div>
  <div class="flex space-btwn align-items-start rsp mt30">
    <div class="comprehensive__page-sub-heading pr10">{{'CMP.RSP.TITLE'|translate}}</div>
    <div>
      <span class="help-icon" (click)="showToolTipModal('RSP_TITLE','RSP_MESSAGE')"></span></div>
  </div>
  <!--Page form-->
  <form name="RSPForm" [formGroup]="RSPForm">
    <div class="form-group-single-column  flex-col">
      <div class="checkbox-button one-label">
        <input id="RSPInpt1" name="hasRegularSavings" formControlName="hasRegularSavings" type="radio" [value]='true'
          class="field radio" appComprehensiveViewMode="{{viewMode}}" mode=1>
        <label for="RSPInpt1">
          <span class="input-label-grey">{{'CMP.FORM_LABEL.YES'|translate}}</span>
        </label>
        <section *ngIf="RSPForm.get('hasRegularSavings').value" class="rspSelectionList">
          <div formArrayName="comprehensiveRegularSavingsList" class="regularSavings" class="form-group-with-bg"
            *ngFor="let comprehensiveRegularSavingsList of RSPForm['controls'].comprehensiveRegularSavingsList['controls']; let i = index;">
            <div class="form-group-with-bg">
              <!--Form Header-->
              <div class="form-group-with-bg--header rsp-border-top pr0">
                <div class="flex space-btwn">
                  <div class="form-group-with-bg--header-label"><span
                      *ngIf="i > 0">{{'CMP.RSP.OTHER'|translate}}</span>{{'CMP.RSP.HEADER'|translate}} <span
                      *ngIf="i > 0">{{i}}</span>
                    <div class="form-group-with-bg--header-sub-label"></div>
                  </div>
                  <div class="delete-icon" (click)="removeRSP(i)" id="moDpdnt2FrmDeleteIcon"
                    *ngIf="!viewMode && RSPForm['controls'].comprehensiveRegularSavingsList['controls'].length>1"></div>
                </div>
              </div>
            </div>
            <div class="form-group form-group-with-bg--content" [formGroupName]="i">
              <div class="flex-row">
                <div class="flex-col-5">
                  <label for="unitTypeTrust" id="myDependantFormLb2"
                    [innerHtml]=" 'CMP.RSP.UNIT_TRUST_TYPE' | translate"></label>
                </div>
                <div class="flex-col-7">
                  <div class="dropdown-control"
                    [ngClass]="{'inline-error': submitted &&  comprehensiveRegularSavingsList['controls'].regularUnitTrust.invalid}">
                    <div ngbDropdown id="relationshipDropDown">
                      <button type="button" class="btn btn-dropdown" id="dropdownInvestment" ngbDropdownToggle
                        appComprehensiveViewMode="{{viewMode}}" mode=1>
                        <span class="grey-text"
                          *ngIf="comprehensiveRegularSavingsList.get('regularUnitTrust'). value ==='' || comprehensiveRegularSavingsList.get('regularUnitTrust'). value === null">{{'COMMON.LBL_SELECT' | translate}}</span>
                        <span
                          *ngIf="comprehensiveRegularSavingsList.get('regularUnitTrust'). value !=='' && comprehensiveRegularSavingsList.get('regularUnitTrust'). value !==null">{{comprehensiveRegularSavingsList.get('regularUnitTrust').value}}</span>
                      </button>
                      <div ngbDropdownMenu aria-labelledby="dropdownRelation">
                        <button class="dropdown-item" (click)="selectInvest('',i)">Select</button>
                        <button type="button" class="dropdown-item" *ngFor="let invest of investmentList;"
                          (click)="selectInvest(invest.text, i)">
                          {{invest.text}}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex-row">
                <div class="flex-col-5">
                  <label for="name" id="myDependantFormLb1">
                    <div>{{'CMP.RSP.PAID_BY_CASH'|translate}}
                    </div>
                  </label>
                </div>
                <div class="flex-col-7">
                  <div class="form-control form-control-right"
                    [ngClass]="{'view-mode': viewMode, 'inline-error': submitted &&  comprehensiveRegularSavingsList['controls'].regularPaidByCash.invalid}">
                    <i>$</i>
                    <input appComprehensiveViewMode="{{viewMode}}" mode=1 type="text" class="input-control"
                      appCurrencyInput maxLength="4" #regularPaidByCash formControlName="regularPaidByCash">
                    <i class="right">/ {{'CMP.RSP.MONTH'|translate}}</i>
                  </div>
                </div>
              </div>
              <div class="flex-row">
                <div class="flex-col-5">
                  <label for="name" id="myDependantFormLb1">
                    <div>{{'CMP.RSP.PAID_BY_CPF'|translate}}
                    </div>
                  </label>
                </div>
                <div class="flex-col-7">
                  <div class="form-control form-control-right"
                    [ngClass]="{'view-mode': viewMode, 'inline-error': submitted &&  comprehensiveRegularSavingsList['controls'].regularPaidByCPF.invalid}">
                    <i>$</i>
                    <input appComprehensiveViewMode="{{viewMode}}" mode=1 type="text" class="input-control"
                      appCurrencyInput maxLength="4" #regularPaidByCPF formControlName="regularPaidByCPF">
                    <i class="right">/ {{'CMP.RSP.MONTH'|translate}}</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="flex-row add-rsp" *ngIf="!viewMode">
            <div class="flex-col-12">
              <div class="with-help-icon" for="name"><u (click)="addRSP()">{{
                    'CMP.RSP.ADD_RSP' | translate}}</u>

                <span class="help-icon" (click)="showToolTipModal('OTHER_RSP_TITLE','OTHER_RSP_MESSAGE')"></span>
              </div>
            </div>
          </div> -->

          <div class="sticky-footer add-rsp" *ngIf="!viewMode">
            <div class="with-help-icon" for="name"><u (click)="addRSP()">{{'CMP.RSP.ADD_RSP' | translate}}</u></div>
            <div class="help-icon" (click)="showToolTipModal('OTHER_RSP_TITLE','OTHER_RSP_MESSAGE')"></div>
          </div>
        </section>
      </div>
      <div class="checkbox-button one-label">
        <input appComprehensiveViewMode="{{viewMode}}" mode=1 id="RSPInpt2" name="hasRegularSavings"
          formControlName="hasRegularSavings" type="radio" [value]=false class="field radio"
          appComprehensiveViewMode="{{viewMode}}" mode=1>
        <label for="RSPInpt2">
          <span class="input-label-grey">{{'CMP.FORM_LABEL.NO'|translate}}</span>
        </label>
      </div>
      <div class="footer-cta">
        <button type="button" [disabled]="!RSPForm.valid" (click)="goToNext(RSPForm)" class="btn btn-primary width100"
          id="moDpdnt2BtnFooter">{{(!viewMode) ? ('CMP.FORM_LABEL.SAVE_AND_CONTINUE'|translate) : ('CMP.FORM_LABEL.NEXT'|translate)}}
        </button>
      </div>
    </div>
  </form>
  <!--Page form /-->
</div>