
@import '../../../variables';
@import '../../../mixins';


.rspSelectionList{
    color:$dark-teal-color!important;
}
.comprehensive {
    &.container-fluid {
        padding-top: 120px;
    }
    .title {
        font-size: 18px;
    }
   
}