@import '../../../variables';
@import '../../../mixins';

.mobile-header{
    background-color: #fff;
    position: relative;
    padding: 15px 0 13px;
    border-bottom: solid 1px rgba(141, 154, 168, 0.2);
    .autofill-text {
        font-family: $muli-semi-bold;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: -0.3px;
        text-align: center;
        color: #00a7a7;
      }
      .heading {
            font-family: $muli-light;
            font-size: 18px;
            font-weight: 300;
            letter-spacing: -0.2px;
            text-align: center;
            color: #00a7a7;
            margin-top: -7px;
        }
      .back {
        display:flex;
        background: url("../../../assets/images/back-mobile.png") no-repeat;
        width: 20px;
        height: 20px;
        position: absolute;
        background-repeat: no-repeat;
        border: 0;
        margin-top: 20px;
        cursor: pointer;
        top: 5px;
        margin-left: 19px;
      }
}

.help-icon {
  background-image: url("../../../assets/images/help-icon.png");
  width: 40px;
  height: 20px;
  cursor: pointer;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: 40px;
}