@import '../../../variables';
@import '../../../mixins';

.f18{
    font-size: 18px;
}
.form-control.form-control-year input{
    padding-left: 0;
    padding-right: 45px;
    text-align: left!important;
}

