<div class="container-fluid max-width--1024 comprehensive">
    <div class="step-indicator-container">
        <app-step-indicator [count]="5" [activeStepIndex]="0"></app-step-indicator>
    </div>
  <div class="dependant-title mt40">{{'CMP.DEPENDANT_SELECTION.DEPENDANTS'|translate}}</div>
  <div class="dependant-desc">{{'CMP.DEPENDANT_SELECTION.DEPENDANTS_DESC'|translate}}</div>
  <div class="col-lg-5 col-md-6 p-0">
    <form name="dependantSelectionForm" [formGroup]="dependantSelectionForm">
      <div class="form-group-single-column  flex-col">
        <div class="checkbox-button one-label">
          <input id="dependantYesInput" name="dependantSelection" formControlName="dependantSelection" type="radio"
            value="true" class="field radio">
          <label id="dependantYesLabel" for="dependantYesInput">
            <span class="input-label-grey">{{'CMP.FORM_LABEL.YES'|translate}}</span>
          </label>

        </div>
        <div class="checkbox-button one-label">
          <input id="dependantNoInput" name="dependantSelection" formControlName="dependantSelection" type="radio"
            value="false" class="field radio">
          <label id="dependantNoLabel" for="dependantNoInput">
            <span class="input-label-grey">{{'CMP.FORM_LABEL.NO'|translate}}</span>
          </label>

        </div>
        
      </div>
    </form>
  </div>
  <button type="button" [disabled]="!dependantSelectionForm.valid" (click)="goToNext(dependantSelectionForm)"
          class="btn btn-primary  fixed-button width100" id="dependantSelectionBtn
          ">{{ 'CMP.FORM_LABEL.SAVE_AND_CONTINUE' |
          translate}}</button>
</div>