<div class="contact-us__wrapper">
  <div class="sub-navigation">
    <div class="sub-navigation--inner">
      <span routerLink="/">Home</span>
      <i class="material-icons">keyboard_arrow_right</i>
      <span routerLink="/about-us">About Us</span>
      <i class="material-icons">keyboard_arrow_right</i>
      <span>Contact Us</span>
      </div>
  </div>
  <div class="banner" #banner>
    <div class="banner-container">
      <div class="banner__text-container">
        <h1 class="banner--title">Contact Us</h1>
        <h3 class="banner--subtitle">We are here for you</h3>
        <div class="banner__img-container hidden-lg">
          <img src="/assets/images/about-us/contact-us-header.svg"/>
          </div>
        <p class="banner--description">
          Feel free to contact us if you have any comments or questions. We are happy to learn about your experience and offer our assistance.
          Your privacy is our priority and all information shared will be kept confidential.
          </p>
        </div>
      <div class="banner__subtext-container"> 
        
        </div>
      <div class="banner__img-container hidden-sm-md">
        <img src="/assets/images/about-us/contact-us-header.svg"/>
        </div> 
    </div> 
    </div>
  <div class="contact-us__content">
    <div class="contact-us__inner-content">
      <div class="contact-us__form-container">
        <form id="contactUsForm" name="contactUsForm" [formGroup]="contactUsForm">
          <div class="dropdown-control">
            <div ngbDropdown id="subjectDropDown">
              <button class="btn btn-dropdown form-control" id="dropdownSubject" ngbDropdownToggle>
                <span class="">{{subject}}</span>
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownSubject">
                <button class="dropdown-item" *ngFor="let in_subject of subjectItems" (click)="selectSubject(in_subject)">
                  <span>{{in_subject.subject}}</span>
                </button>
              </div>
            </div>
          </div>
          <textarea class="form-control" formControlName="message" placeholder="Your Message and Contact Details Here" ></textarea>
          <p class="error--msg" *ngIf="(!contactUsForm.controls.message.valid && contactUsForm.controls.message.dirty)">{{contactUsErrorMessage}}</p>
          <p class="error--msg success" *ngIf="sendSuccess">Your Enquiry has been sent successfully</p>
          <p>Do leave us your contact details if you would like us to contact you.</p>
          <button class="form-control btn btn-primary" [disabled]="!contactUsForm.valid || subject == subjectPreset" (click)="save(contactUsForm)">Send Message</button>
          </form> 
        </div>
      <div class="contact-us__side-panel">
        <div class="info-group">
          <h4>General line</h4>
          <p>(65) 6329 9189</p>
          <h4>Advisory Line</h4>
          <p>(65) 6329 9188</p>
        </div>
        <div class="info-group">
          <h4>Office</h4>
          <p>
            23 Keong Saik Road<br/>
            Singapore 089130
          </p>
          </div>
        <div class="info-group">
          <h4>Email</h4>
          <a href="mailto:enquiries@moneyowl.com.sg">enquiries@moneyowl.com.sg</a>
          </div>
        <div class="info-group">
          <h4>For Corporate Fianncial Literacy Programmes and Financial  Wellness Partnerships</h4>
          <a href="mailto:partnership@moneyowl.com.sg">partnership@moneyowl.com.sg</a> 
          </div>
        <div class="info-group"> 
          <h4>Operating Hours</h4>
          <p>
            9am - 6pm, Mon - Fri<br/>
            excluding Public Holidays<br/>
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>