<div class="contact-us__wrapper">
  <div class="sub-navigation">
    <div class="sub-navigation--inner">
      <span routerLink="/">Home</span>
      <i class="material-icons">keyboard_arrow_right</i>
      <span routerLink="/about-us">About Us</span>
      <i class="material-icons">keyboard_arrow_right</i>
      <span>Contact Us</span>
      </div>
  </div>
  <div class="banner" #banner>
    <div class="banner-container">
      <div class="banner__text-container">
        <h1 class="banner--title">{{'CONTACT_US.GENERAL.TITLE' | translate}}</h1>
        <h3 class="banner--subtitle">{{'CONTACT_US.GENERAL.SUB_TITLE' | translate}}</h3>
        <div class="banner__img-container hidden-lg">
          <img src="/assets/images/about-us/contact-us-header.svg"/>
          </div>
        <p class="banner--description">
          {{'CONTACT_US.GENERAL.DESCRIPTION' | translate}}
          </p>
        </div>
      <div class="banner__subtext-container"> 
        
        </div>
      <div class="banner__img-container hidden-sm-md">
        <img src="/assets/images/about-us/contact-us-header.svg"/>
        </div> 
    </div> 
    </div>
  <div class="contact-us__content">
    <div class="contact-us__inner-content">
      <div class="contact-us__form-container">
        <form id="contactUsForm" name="contactUsForm" [formGroup]="contactUsForm">
          <div class="dropdown-control mb10">
            <div ngbDropdown id="subjectDropDown">
              <button class="btn btn-dropdown form-control" id="dropdownSubject" ngbDropdownToggle>
                <span [ngClass]="{'green-text': subject === subjectPreset}">{{subject}}</span>
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownSubject">
                <button class="dropdown-item" *ngFor="let in_subject of subjectItems" (click)="selectSubject(in_subject)">
                  <span>{{in_subject.subject}}</span>
                </button>
              </div>
            </div>
          </div>
          <input type="text" class="form-control mb10" formControlName="emailAddress" placeholder="Email Address*" required>         
          <div *ngIf="contactUsForm.controls.emailAddress.invalid && contactUsForm.controls.emailAddress.dirty">
             <p class="error--msg" *ngIf="contactUsForm.controls.emailAddress.errors.email">{{emailErrorMessage.email}}</p>
             <p class="error--msg" *ngIf="contactUsForm.controls.emailAddress.errors.required">{{emailErrorMessage.required}}</p>
          </div>
          <input type="number" class="form-control mb10" formControlName="contactNumber" placeholder="Contact Number*" required>
          <div *ngIf="contactUsForm.controls.contactNumber.invalid && contactUsForm.controls.contactNumber.dirty">
              <p class="error--msg" *ngIf="contactUsForm.controls.contactNumber.errors.pattern">{{contactNumberErrorMessage.pattern}}</p>
              <p class="error--msg" *ngIf="contactUsForm.controls.contactNumber.errors.required">{{contactNumberErrorMessage.required}}</p>
           </div>
          <textarea class="form-control mb10" formControlName="message" placeholder="{{'CONTACT_US.GENERAL.FORM.PLACEHOLDER' | translate}}" ></textarea>
          <p class="error--msg" *ngIf="(!contactUsForm.controls.message.valid && contactUsForm.controls.message.dirty)">{{contactUsErrorMessage}}</p>
          <p class="error--msg success" *ngIf="sendSuccess ">{{'CONTACT_US.GENERAL.FORM.SUCCESS_MSG' | translate}}</p>
          <button class="form-control btn btn-primary" [disabled]="!contactUsForm.valid || subject == subjectPreset || contactUsFormSent == true" (click)="save(contactUsForm)">{{'CONTACT_US.GENERAL.FORM.SEND_MESSAGE' | translate}}</button>
          </form> 
        </div>
      <div class="contact-us__side-panel">
        <div class="info-group">
          <h4>{{'CONTACT_US.GENERAL.INFO.GENERAL_LINE' | translate}}</h4>
          <p>{{'CONTACT_US.GENERAL.INFO.GENERAL_NUMBER' | translate}}</p>
          <h4>{{'CONTACT_US.GENERAL.INFO.ADVISORY_LINE' | translate}}</h4>
          <p>{{'CONTACT_US.GENERAL.INFO.ADVISORY_NUMBER' | translate}}</p>
        </div>
        <div class="info-group">
          <h4>{{'CONTACT_US.GENERAL.INFO.OFFICE' | translate}}</h4>
          <p innerHTML="{{'CONTACT_US.GENERAL.INFO.ADDRESS' | translate}}"></p>
          </div>
        <div class="info-group">
          <h4>Email</h4>
          <a href="mailto:enquiries@moneyowl.com.sg">{{'CONTACT_US.GENERAL.INFO.EMAIL' | translate}}</a>
          </div>
        <div class="info-group">
          <h4>{{'CONTACT_US.GENERAL.INFO.PARTNERSHIP' | translate}}</h4>
          <a href="mailto:partnership@moneyowl.com.sg">{{'CONTACT_US.GENERAL.INFO.PARTNERSHIP_EMAIL' | translate}}</a> 
          </div>
        <div class="info-group"> 
          <h4>{{'CONTACT_US.GENERAL.INFO.OPERATING_HOURS' | translate}}</h4>
          <p innerHTML="{{'CONTACT_US.GENERAL.INFO.OPERATING_HOURS_CONTENT' | translate}}"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
