<div class="contact-us__wrapper">
  <div class="sub-navigation">
    <div class="sub-navigation--inner">
      <span routerLink="/">Home</span>
      <span class="separator"></span>
      <span routerLink="/about-us">About-Us</span>
      <span class="separator"></span>
      <span>Contact Us</span>
      </div>
    </div>
  <div class="banner" #banner>
    <div class="banner-bg">
        <div class="banner-bg--image"></div>
      </div>
    <div class="banner-container">
      <div class="banner-contact">
        <h1>Contact Us</h1>
        <h3>We are here for you</h3>
        <p>
          Feel free to contact us if you have any comments or questions. We are happy to learn about your experience and offer our assistance. Your privacy is our priority and all information shared will be kept confidential.
        </p>
        </div>
      </div> 
    </div>
</div>
<div class="contact-us__content">
  
</div>