@import '../../../variables';
@import '../../../mixins';

.contact-us__wrapper{
    position: relative;
    display:block;
    background-color:$white-color;
    padding:0px 20px;
    @include minMobilemaxPhablet{
        padding-bottom:30px; 
    }
    .banner{
        position: relative;
        display:flex;
        width:100%;
        justify-content: center;
        min-height:400px;
        @include minMobilemaxPhablet{
            flex-direction:column;
            justify-content:flex-start;
            min-height:unset;
            margin-bottom:20px;
        }
        @include min300max325{
            flex-direction:column;
            justify-content:flex-start;
            min-height:unset;
            margin-bottom:20px;
        }
    }
    .banner-bg{
        position: absolute;
        display:block;
        max-width:1024px;
        width:100%;
        height:100%;
        @include minMobilemaxPhablet{
            position: relative; 
            height:200px;
            order:2;
        }
        .banner-bg--image{
            position: absolute;
            display:block;
            width:100%;
            height:90%;
            background-image:url('/assets/images/about-us/contact-us-header.svg');
            background-repeat:no-repeat;
            background-position:bottom right;
            background-size:contain;
            @include minPhabletmaxTablet{
                height:80%;
                top:50%;
                transform:translateY(-50%);
            }
            @include minMobilemaxPhablet{
                position: relative;
                display:block;
                height:100%;
                top:0px;
                transform:unset;
                margin-bottom:20px;
            }
        }
    }
    .banner-container{
        position: relative;
        display: inline-flex;
        width:100%;
        max-width:1024px;
        padding:20px 0px 0px 0px;
        justify-content:space-between;
        @include minMobilemaxPhablet{
            flex-direction:column;
            order:1;
            margin-bottom:0px;
            padding:30px 0px 10px 0px;
        }
        .banner__text-container{
            
        }
        .banner__img-container{
            display:inline-block;
            margin-left:20px;
            img{
                width:100%;
            }
            @include tablet{
                width:350px;
            }
            @include minPhabletmaxTablet{
                width: 50%;
            }
            @include minMobilemaxPhablet{
                width:100%;
                margin-top:10px;
                margin-left:auto;
                margin-right:auto;
                text-align:center;
                img{
                    width:220px;
                    transform:translateX(25px);
                }
            }
        }
        .banner--title{
            font-family:$muli-bold;
            font-weight:bold;
            font-size:48px;
            color:$teal-color;
            margin-bottom:5px;
            line-height:1;
            letter-spacing:-0.5px;
            @include minPhabletmaxTablet{
                font-size:3.7rem;
            }
            @include minMobilemaxPhablet{
                font-size:2.0rem;
                text-align:center;
            }
        }
        .banner--subtitle{
            font-family:$muli-semi-bold;
            color:$black-color;
            opacity:0.9;
            font-size:1.5rem;
            @include minPhabletmaxTablet{
                font-size:1.5rem;
            }
            @include minMobilemaxPhablet{
                font-size:1.2rem;
                text-align:center;
            }
        }
        .banner--description{
            max-width:540px;
            margin-top:40px;
            color:$dark-grey-color;
            font-family:$muli-regular;
            font-size:18px;
            letter-spacing:-0.2px;
            @include minPhabletmaxTablet{
                margin-top:15px;
            }
            @include minMobilemaxPhablet{
                margin-top:30px;
            }
        }
    }
    
    .contact-us__content{
        position: relative;
        display:flex;
        flex-direction:column;
        width:100%;
        justify-content: flex-start;
        align-items: center;
        @include minMobilemaxPhablet{
            padding-bottom:30px;
        }
        .contact-us__inner-content{
            position: relative;
            display:flex;
            flex-direction: row;
            width:100%;
            max-width:1024px;
            margin-bottom:30px;
            justify-content:space-between;
            @include minPhabletmaxTablet{
                flex-direction:column;

            }
            @include minMobilemaxPhablet{
                flex-direction:column;
                margin-bottom:0px;
            }
            @include min300max325{
                flex-direction:column;
                margin-bottom:0px;
            }
        }
        .contact-us__form-container{
            position: relative;
            display:block;
            flex-basis:calc(100% - 390px);
            .dropdown-toggle {
                color:$dark-grey-color;
                padding-right:30px;
            }
            textarea{
                margin-top:10px;
                height:200px;
                resize:none;
                color:$dark-grey-color;
            }
            p{
                font-family:$muli-semi-bold;
                color:$dark-grey-color;
                font-style: italic;
                margin-top:5px;
                margin-bottom:5px;
                line-height:1.2;
                letter-spacing:-0.1px;
            }
            .error--msg{
                color:$red-color;
                &.success{
                    color:$green-color;
                }
            }
            .dropdown-menu{
                width:100%;
                .dropdown-item{
                    white-space: normal;
                    @include minMobilemaxPhablet {
                        padding:0.75rem 1.5rem;
                    }
                }
            }
        }
        .contact-us__side-panel{
            position: relative;
            display:block;
            margin-left:20px;
            flex-basis:calc(350px);
            color:$teal-color;
            .info-group{
                
            }
            @include minPhabletmaxTablet{
                display:flex;
                margin-top:50px;
                margin-left:0px;
                justify-content: flex-start;
                flex-wrap: wrap;
                flex-basis: unset;
                .info-group{
                    margin-right:20px;
                    min-width:180px;
                    &:last-child{
                        margin-right:0px;
                    }
                }
            }
            @include minMobilemaxPhablet{
                display:none;
                flex-direction:column;
                margin:20px 0px 00px 0px;
            }
            
            h4{
                font-family:$muli-bold;
                margin-bottom:0px;
                font-size:18px;
            }
            p{ 
                font-family:$muli-regular;
                color:$dark-grey-color;
                margin-bottom:20px;
                line-height:1.5;
            }
            a{  
                display:block;
                font-family:$muli-regular;
                color:$orange-color;
                margin-bottom:20px;
            }        
        }
    }

    .green-text{
        color: $app-backgrnd-color;
    }
}
