@import "../../../_variables.scss";
@import "../../../_mixins.scss";

app-forgot-password {
  .forgot-link {
    text-align: center;

    a {
      color: #fff;
      font-family: 'Muli';
      font-size: 16px;
    }

    a span {
      font-weight: bold;
    }
  }

  .back-btn {
    background-image: url("../../../assets/images/back-web.svg");
    width: 43px;
    height: 43px;
    cursor: pointer;
    position: absolute;
    top: 5%;
    left: 20px;
    background-repeat: no-repeat;
  }

  .signup-wrapper__header-icon {
    @include allmobiles {
      width: 138px;
    }
  }

  .link-white {
    text-decoration: underline;
    cursor: pointer;
    font-size: 13px;
    //float: right;
    margin-top: 10px;
  }
}
