<div class="container-fluid" *ngIf="portfolio">
    <div class="portfolio-allocation-details">
      
      <div class="flex-col-12 asset-allocation">
        <div class="title">{{ 'PORTFOLIO_RECOMMENDATION.ASSET_ALLOCATION' | translate}}</div>
        <!-- bonds -->
        <app-asset-allocation [assets]="portfolio.sectorAllocations" [colors]="colors"></app-asset-allocation>
      </div> 
      <div class="flex-col-12 annual-fees">
        <div class="title">{{ 'PORTFOLIO_RECOMMENDATION.ANNUAL_FEES' | translate}}</div>
        <app-annual-fees [feeDetails]="portfolio.feeDetails"></app-annual-fees>
      </div>
      <div class="faq_link"><a href="#">{{ 'PORTFOLIO_RECOMMENDATION.FAQ_DESC_TEXT' | translate}}</a></div>
    </div>
  </div>