<div class="container-fluid max-width--1024 investment">
    <div class="row">
        <div class="col-lg-7 col-md-6">
            <h2 class="hidden-sm">Select a Payout Option</h2>
            <div class="page-desc">Get regular payouts for your retirement or other needs with WiseIncome</div>
            <div class="banner-image hidden-sm">
                <img src="assets/images/investment-account/wiseincome-payout.svg" />
            </div>
        </div>
        <div class="col-lg-5 col-md-6">
            <!-- <form> -->
            <div class="form-group-single-column flex-col">
                <div class="fund-question hidden-lg mt20">Select a Payout Option</div>
                <div class="row">
                    <div class="col-12">
                        <div class="checkbox-button one-label">
                            <input type="radio" class="field radio">
                            <label>
                                <div>
                                    <span class="payout-icon">
                                        <img src="assets/images/investment-account/wisesaver-family-1.svg" />
                                    </span>
                                    <span class="input-label-black">Grow & invest payout</span>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox-button one-label">
                            <input type="radio" class="field radio">
                            <label>
                                <div>
                                    <span class="payout-icon">
                                        <img src="assets/images/investment-account/wisesaver-family-2.svg" />
                                    </span>
                                    <span class="input-label-black">4.5% p.a. income payout</span>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox-button one-label">
                            <input type="radio" class="field radio">
                            <label>
                                <div>
                                    <span class="payout-icon">
                                        <img src="assets/images/investment-account/wisesaver-family-3.svg" />
                                    </span>
                                    <span class="input-label-black">8% p.a. income payout</span>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="note-info flex">
                            <span class="note-icon mr10"><img
                                    src="assets/images/investment-account/time-past-by.svg" /></span>
                            <span>As your life stage change, your need for payouts may change as well. You can
                                always change your payout option then.</span>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary btn__footer--fixed width100">Continue</button>
            </div>
            <!-- </form> -->
        </div>
    </div>
    <div class="payout-pannel-block">
        <div class="payout-pannel-desc">Which WiseIncome payout option should I choose?</div>
        <div class="payout-pannel-tabs">
            <nav ngbNav #nav="ngbNav" class="nav-tabs">
                <ng-container ngbNavItem>
                    <a class="flex-col-4" ngbNavLink>Grow & invest</a>
                    <ng-template ngbNavContent>
                        <div class="payout-pannel-tab-content">
                            <div class="tab-content-preference">
                                <div class="preference-lbl">If you prefer to…</div>
                                <div class="mt20">
                                    <div class="flex align-center">
                                        <span class="preference-tick-icon"><img
                                                src="assets/images/investment-account/icon-tick.svg" /></span>
                                        <span>build your assets</span>
                                    </div>
                                    <div class="flex align-center mt10">
                                        <span class="preference-tick-icon"><img
                                                src="assets/images/investment-account/icon-tick.svg" /></span>
                                        <span>start payout later</span>
                                    </div>
                                </div>
                                <p>Grow your investments at the projected long term expected returns in this multi-asset
                                    fund.</p>
                                <p>Any income paid out of the fund will be immediately reinvested through the purchase
                                    of new units in the fund.</p>
                                <p>The recommended investment holding period is at least 8 years. Early redemption from
                                    the fund could result in losses.</p>
                                <div class="flex-row preference-payout-block">
                                    <div class="preference-payout-block-item">
                                        <label>One-time Amount</label>
                                        <div>Min $1,000</div>
                                    </div>
                                    <div class="preference-payout-block-item">
                                        <label>Monthly Amount</label>
                                        <div>Min $1,00</div>
                                    </div>
                                </div>
                                <div class="flex-row preference-payout-block">
                                    <div class="preference-payout-block-item">
                                        <label>Payout Frequency</label>
                                        <div>Reinvested</div>
                                    </div>
                                    <div class="preference-payout-block-item">
                                        <label>Funding Method</label>
                                        <div>Cash/SRS</div>
                                    </div>
                                </div>
                                <div class="graph-block">
                                    <div class="mb20">Here’s a sample illustration of this payout option:</div>
                                    <div class="graph">
                                        <img class="hidden-sm-md"
                                            src="assets/images/investment-account/grow-invst.svg" />
                                        <img class="hidden-lg"
                                            src="assets/images/investment-account/grow-invst-mobile.svg" />
                                    </div>
                                    <p>Your investment portfolio would be <span class="txt-bold">$405,231</span> in 30 years.</p>
                                    <p> This is based on $100,000 lumpsum (without monthly) investment at a projected
                                        rate of return of 6% p.a. (without payout), taking all fees into consideration.
                                    </p>
                                    <p class="graph-disclaimer">Returns are only for illustrative purposes and all values shown above do not represent actual investment experience.</p>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
                <ng-container ngbNavItem>
                    <a class="flex-col-4" ngbNavLink>4.5% p.a. income </a>
                    <ng-template ngbNavContent>
                        <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan
                            four loko
                            farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk
                            aliquip jean shorts
                            ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus
                            mollit. Keytar
                            helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio
                            cillum wes anderson
                            8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art
                            party scenester
                            stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                    </ng-template>
                </ng-container>
                <ng-container ngbNavItem>
                    <a class="flex-col-4" ngbNavLink>8% p.a. income</a>
                    <ng-template ngbNavContent>
                        <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id
                            diam. Nulla facilisi.
                            Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt
                            eu, congue et odio.
                            Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices
                            et. Sed diam urna,
                            egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus
                            faucibus nisl enim, nec
                            tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius
                            natoque penatibus et
                            magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet
                            ultricies in eget
                            neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
                    </ng-template>
                </ng-container>
            </nav>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
    </div>
</div>