<div class="container-fluid max-width--1024 investment">
    <div class="row">
        <div class="col-lg-7 col-md-6">
            <h2 class="hidden-sm">Select a Payout Option</h2>
            <div class="page-desc">Get regular payouts for your retirement or other needs with WiseIncome</div>
            <div class="banner-image hidden-sm">
                <img src="assets/images/investment-account/wiseincome-payout.svg" />
            </div>
        </div>
        <div class="col-lg-5 col-md-6">
            <!-- <form> -->
            <div class="form-group-single-column flex-col">
                <div class="fund-question hidden-lg mt20">Select a Payout Option</div>
                <div class="row">
                    <div class="col-12">
                        <div class="checkbox-button one-label">
                            <input type="radio" class="field radio">
                            <label>
                                <div>
                                    <span class="payout-icon">
                                        <img src="assets/images/investment-account/wisesaver-family-1.svg" />
                                    </span>
                                    <span class="input-label-black">Grow & invest payout</span>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox-button one-label">
                            <input type="radio" class="field radio">
                            <label>
                                <div>
                                    <span class="payout-icon">
                                        <img src="assets/images/investment-account/wisesaver-family-2.svg" />
                                    </span>
                                    <span class="input-label-black">4.5% p.a. income payout</span>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox-button one-label">
                            <input type="radio" class="field radio">
                            <label>
                                <div>
                                    <span class="payout-icon">
                                        <img src="assets/images/investment-account/wisesaver-family-3.svg" />
                                    </span>
                                    <span class="input-label-black">8% p.a. income payout</span>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="note-info flex">
                            <span class="note-icon mr10"><img
                                    src="assets/images/investment-account/time-past-by.svg" /></span>
                            <span>As your life stage change, your need for payouts may change as well. You can
                                always change your payout option then.</span>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary btn__footer--fixed width100">Continue</button>
            </div>
            <!-- </form> -->
        </div>
    </div>
    <div class="payout-pannel-block">
        <div class="payout-pannel-desc">Which WiseIncome payout option should I choose?</div>
        <div class="payout-pannel-tabs">
            <nav ngbNav #nav="ngbNav" class="nav-tabs">
                <ng-container ngbNavItem>
                    <a class="flex-col-4" ngbNavLink>Grow & invest</a>
                    <ng-template ngbNavContent>
                        <div class="pannel-tab-content">
                            <div class="tab-content-preference">
                                <div class="preference-lbl">If you prefer to…</div>
                                <div class="mt20">
                                    <div class="flex align-center">
                                        <span class="preference-tick-icon"><img
                                                src="assets/images/investment-account/icon-tick.svg" /></span>
                                        <span>build your assets</span>
                                    </div>
                                    <div class="flex align-center mt10">
                                        <span class="preference-tick-icon"><img
                                                src="assets/images/investment-account/icon-tick.svg" /></span>
                                        <span>start payout later</span>
                                    </div>
                                </div>
                                <p>Grow your investments at the projected long term expected returns in this multi-asset
                                    fund.</p>
                                <p>Any income paid out of the fund will be immediately reinvested through the purchase
                                    of new units in the fund.</p>
                                <p>The recommended investment holding period is at least 8 years. Early redemption from
                                    the fund could result in losses.</p>
                                <div class="flex-row preference-payout-block">
                                    <div class="preference-payout-block-item">
                                        <label>One-time Amount</label>
                                        <div>Min $1,000</div>
                                    </div>
                                    <div class="preference-payout-block-item">
                                        <label>Monthly Amount</label>
                                        <div>Min $1,00</div>
                                    </div>
                                </div>
                                <div class="flex-row preference-payout-block">
                                    <div class="preference-payout-block-item">
                                        <label>Payout Frequency</label>
                                        <div>Reinvested</div>
                                    </div>
                                    <div class="preference-payout-block-item">
                                        <label>Funding Method</label>
                                        <div>Cash/SRS</div>
                                    </div>
                                </div>
                                <div class="graph-block">
                                    <div class="mb20">Here’s a sample illustration of this payout option:</div>
                                    <div class="graph">
                                        <img class="hidden-sm-md"
                                            src="assets/images/investment-account/wise-income-graph-1.svg" />
                                        <img class="hidden-lg"
                                            src="assets/images/investment-account/wise-income-graph-1-mobile.svg" />
                                    </div>
                                    <p>Your investment portfolio would be <span class="txt-bold">$405,231</span> in 30
                                        years.</p>
                                    <p> This is based on $100,000 lumpsum (without monthly) investment at a projected
                                        rate of return of 6% p.a. (without payout), taking all fees into consideration.
                                    </p>
                                    <p class="graph-disclaimer">Returns are only for illustrative purposes and all
                                        values shown above do not represent actual investment experience.</p>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
                <ng-container ngbNavItem>
                    <a class="flex-col-4" ngbNavLink>4.5% p.a. income </a>
                    <ng-template ngbNavContent>
                        <div class="pannel-tab-content">
                            <div class="tab-content-preference">
                                <div class="preference-lbl">If you prefer to…</div>
                                <div class="mt20">
                                    <div class="flex align-center">
                                        <span class="preference-tick-icon"><img
                                                src="assets/images/investment-account/icon-tick.svg" /></span>
                                        <span>balance between income and leaving a legacy for loved ones</span>
                                    </div>
                                </div>
                                <p>Your payouts will be made out of income (coupons, dividends) and realised capital
                                    gains as much as possible though it may be possible that it can come from your
                                    investment capital.</p>
                                <p>The recommended investment holding period is at least 8 years. Early redemption from
                                    the fund could result in losses.</p>
                                <div class="flex-row preference-payout-block">
                                    <div class="preference-payout-block-item">
                                        <label>One-time Amount</label>
                                        <div>Min $1,000</div>
                                    </div>
                                    <div class="preference-payout-block-item">
                                        <label>Monthly Amount</label>
                                        <div>Min $1,00</div>
                                    </div>
                                </div>
                                <div class="flex-row preference-payout-block">
                                    <div class="preference-payout-block-item">
                                        <label>Payout Frequency</label>
                                        <div>Quarterly</div>
                                    </div>
                                    <div class="preference-payout-block-item">
                                        <label>Funding Method</label>
                                        <div>Cash</div>
                                    </div>
                                </div>
                                <div class="graph-block">
                                    <div class="mb20">Here’s a sample illustration of this payout option:</div>
                                    <div class="graph">
                                        <img class="hidden-sm-md"
                                            src="assets/images/investment-account/wise-income-graph-2.svg" />
                                        <img class="hidden-lg"
                                            src="assets/images/investment-account/wise-income-graph-2-mobile.svg" />
                                    </div>
                                    <p>In 30 years' time, you would have received <span class="txt-bold">$153,300</span>
                                        in total payouts and your
                                        projected portfolio value would be <span class="txt-bold">$36,611</span>,
                                        bringing your total value to <span class="txt-bold">$189,911</span>.
                                    </p>
                                    <p> This is based on $100,000 lumpsum (without monthly) investment at a projected
                                        rate
                                        of return of 6% p.a., and a fixed payout rate of 8% p.a., taking all fees into
                                        consideration.
                                    </p>
                                    <p class="graph-disclaimer">Returns are only for illustrative purposes and all
                                        values shown above do not represent actual investment experience.</p>
                                    <p class="graph-disclaimer">*Fund manager has the discretion to vary the payout rate
                                        based on market conditions.</p>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
                <ng-container ngbNavItem>
                    <a class="flex-col-4" ngbNavLink>8% p.a. income</a>
                    <ng-template ngbNavContent>
                        <div class="pannel-tab-content">
                            <div class="tab-content-preference">
                                <div class="preference-lbl">If you prefer to…</div>
                                <div class="mt20">
                                    <div class="flex align-center">
                                        <span class="preference-tick-icon"><img
                                                src="assets/images/investment-account/icon-tick.svg" /></span>
                                        <span>maximise your income today</span>
                                    </div>
                                </div>
                                <p>Grow your investments at the projected long term expected returns in this multi-asset
                                    fund.</p>
                                <p>Any income paid out of the fund will be immediately reinvested through the purchase
                                    of new units in the fund.</p>
                                <p>The recommended investment holding period is at least 8 years. Early redemption from
                                    the fund could result in losses.</p>
                                <div class="flex-row preference-payout-block">
                                    <div class="preference-payout-block-item">
                                        <label>One-time Amount</label>
                                        <div>Min $1,000</div>
                                    </div>
                                    <div class="preference-payout-block-item">
                                        <label>Monthly Amount</label>
                                        <div>Min $1,00</div>
                                    </div>
                                </div>
                                <div class="flex-row preference-payout-block">
                                    <div class="preference-payout-block-item">
                                        <label>Payout Frequency</label>
                                        <div>Quarterly</div>
                                    </div>
                                    <div class="preference-payout-block-item">
                                        <label>Funding Method</label>
                                        <div>Cash</div>
                                    </div>
                                </div>
                                <div class="graph-block">
                                    <div class="mb20">Here’s a sample illustration of this payout option:</div>
                                    <div class="graph">
                                        <img class="hidden-sm-md"
                                            src="assets/images/investment-account/wise-income-graph-3.svg" />
                                        <img class="hidden-lg"
                                            src="assets/images/investment-account/wise-income-graph-3-mobile.svg" />
                                    </div>
                                    <p>In 30 years' time, you would have received <span class="txt-bold">$153,300</span>
                                        in total payouts and your
                                        projected portfolio value would be <span class="txt-bold">$36,611</span>,
                                        bringing your total value to <span class="txt-bold">$189,911</span>.
                                    </p>
                                    <p> This is based on $100,000 lumpsum (without monthly) investment at a projected
                                        rate
                                        of return of 6% p.a., and a fixed payout rate of 8% p.a., taking all fees into
                                        consideration.
                                    </p>
                                    <p class="graph-disclaimer">Returns are only for illustrative purposes and all
                                        values shown above do not represent actual investment experience.</p>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </nav>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
    </div>

    <div class="learn-more-block mt30">
        <div class="payout-pannel-desc">Learn More</div>
        <div class="learn-more-options">
            <div class="learn-more-accordian">
                <ngb-accordion #acc="ngbAccordion">
                    <ngb-panel>
                        <ng-template ngbPanelTitle>
                            <div class="flex space-between">
                                <div>Features & Benefits</div>
                                <div><i class='arrow'></i></div>
                            </div>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div>
                                <div class="pannel-tab-content">
                                    <div class="tab-content-preference">
                                        <p class="mt0">Invest in a portfolio of global equities, Asian fixed income,
                                            US/SG
                                            govt bonds
                                            and
                                            Singapore REITs designed to provide a stream of passive income for the long
                                            term.</p>
                                        <p>This is suitable for those who want to build passive income through their
                                            investments and
                                            can take moderate levels of risk. </p>
                                        <div class="preference-lbl">What’s great?</div>
                                        <div class="mt20">
                                            <div class="flex align-center">
                                                <span class="preference-tick-icon"><img
                                                        src="assets/images/investment-account/icon-tick.svg" /></span>
                                                <span>Passive income of 4.5% p.a. or higher (up to 4.8% p.a.)</span>
                                            </div>
                                            <div class="flex align-center mt10">
                                                <span class="preference-tick-icon"><img
                                                        src="assets/images/investment-account/icon-tick.svg" /></span>
                                                <span>Potential for capital appreciation</span>
                                            </div>
                                            <div class="flex align-center">
                                                <span class="preference-tick-icon"><img
                                                        src="assets/images/investment-account/icon-tick.svg" /></span>
                                                <span>Portfolio of global equities, Asian bonds, S-REITS and govt
                                                    bonds</span>
                                            </div>
                                            <div class="flex align-center mt10">
                                                <span class="preference-tick-icon"><img
                                                        src="assets/images/investment-account/icon-tick.svg" /></span>
                                                <span>Flexible quarterly payout options</span>
                                            </div>
                                            <div class="flex align-center">
                                                <span class="preference-tick-icon"><img
                                                        src="assets/images/investment-account/icon-tick.svg" /></span>
                                                <span>No lock-in period</span>
                                            </div>
                                            <div class="flex align-center mt10">
                                                <span class="preference-tick-icon"><img
                                                        src="assets/images/investment-account/icon-tick.svg" /></span>
                                                <span>Exclusive to MoneyOwl</span>
                                            </div>
                                        </div>
                                        <div class="flex-row preference-payout-block">
                                            <div class="preference-payout-block-item">
                                                <label>Risk Level</label>
                                                <div>Moderate</div>
                                            </div>
                                            <div class="preference-payout-block-item">
                                                <label>Projected Returns</label>
                                                <div>6% p.a.</div>
                                            </div>
                                        </div>
                                        <div class="flex-row preference-payout-block">
                                            <div class="preference-payout-block-item">
                                                <label>Standard Deviation</label>
                                                <div>10.55%</div>
                                            </div>
                                            <div class="preference-payout-block-item">
                                                <label>Dividend Yields</label>
                                                <div>2.7% p.a.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel>
                        <ng-template ngbPanelTitle>
                            <div class="flex space-between">
                                <div>Fund Details & Asset Allocation</div>
                                <div><i class='arrow'></i></div>
                            </div>
                        </ng-template>
                        <ng-template ngbPanelContent>

                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
            <div class="learn-more-option-item">
                <div class="flex space-between">
                    <div><a>FAQ</a></div>
                    <div><i class='arrow'></i></div>
                </div>
            </div>
            <div class="learn-more-option-item mt15">
                <div class="flex space-between">
                    <div><a>More About WiseIncome</a></div>
                    <div><i class='arrow'></i></div>
                </div>
            </div>
        </div>
    </div>
</div>