<div class="employement-details">

  <div class="step-indicator-container">
    <div class="container-fluid">
      <app-step-indicator [count]="7" [activeStepIndex]="2"></app-step-indicator>
    </div>
  </div>

  <div class="container-fluid">
    <div class="content">
      <div class="row">
        <div class="col-12">
          <div class="autofill-link">

            <div class="autofill-text">Autofill Forms Via</div>


            <div class="autofill-logo">
              <img class="img-fluid" src="../../../assets/images/investment-account/sing-pass-logo.png" />
            </div>

          </div>
        </div>
        <div class="col-lg-12 col-md-12">
          <form id="employement_details_form" name="employeDetailsFrom" [formGroup]="employementDetailsForm">
            <!-- EMPLOyeMENT STATUS -->
            <div class="form-group">
              <div class="flex-row">
                <div class="flex-col-5">
                  <label for="employement_details_status" id="employement_details_status-lbl">{{ 'EMPLOYMENT_DETAILS.EMPLOYEMEN_STATUS' | translate}}
                  </label>
                </div>
                <div class="flex-col-7">
                  <div class="dropdown-control">
                    <div ngbDropdown>
                      <button class="btn btn-dropdown without-border grey" id="employement_details_status-drpdown" ngbDropdownToggle>
                        {{employementDetailsForm.controls.employmentStatus.value}}

                      </button>
                      <div class="dropdown" ngbDropdownMenu aria-labelledby="courseDropdown">
                        <button class="dropdown-item" *ngFor="let empStatus of employementStatusList; let i = index;" (click)="setEmployementStatus('employmentStatus', empStatus.name)"
                          id="residentialAddress-country-option-{{i}}">{{empStatus.name}}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Company name -->            
            <div *ngIf="showEmploymentControls">
              <div class="flex-row mb10">
                <div class="flex-col-5">
                  <label for="name" id="empliyement_status_Lbl">{{ 'EMPLOYMENT_DETAILS.COMPANY_NAME' | translate}}
                  </label>
                </div>
                <div class="flex-col-7" [ngClass]="{'inline-error': !employementDetailsForm.get('companyName').valid && !employementDetailsForm.get('companyName').pristine}">
                  <input type="text" formControlName="companyName" id="empliyement_status_company_input" class="form-control">
                </div>
              </div>

              <!-- Industry -->
              <div class="form-group">
                <div class="flex-row">
                  <div class="flex-col-5">
                    <label for="employement_details_status" id="employement_details_status-lbl">{{ 'EMPLOYMENT_DETAILS.INDUSTRY' | translate}}
                    </label>
                  </div>
                  <div class="flex-col-7">
                    <div class="dropdown-control employe-dropdown-control">
                      <div ngbDropdown>
                        <button class="btn btn-dropdown without-border grey" id="employement_details_status-drpdown" ngbDropdownToggle>
                          {{employementDetailsForm.controls.industry.value | titlecase}}
                        </button>
                        <div class="dropdown" ngbDropdownMenu aria-labelledby="courseDropdown">
                          <button class="dropdown-item" *ngFor="let option of industryList let i = index;" (click)="setIndustryValue('industry',option.industry,i)"
                            id="residentialAddress-country-option-{{i}}">{{ option.industry| titlecase}}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Occupation -->
              <div class="form-group">
                <div class="flex-row">
                  <div class="flex-col-5"> 
                    <label for="employement_details_status" id="employement_details_status-lbl">{{ 'EMPLOYMENT_DETAILS.OCCUPATION' | translate}}
                    </label>
                  </div>
                  <div class="flex-col-7">
                    <div class="dropdown-control employe-dropdown-control">
                      <div ngbDropdown>
                        <button class="btn btn-dropdown without-border grey" id="employement_details_status-drpdown" ngbDropdownToggle>
                          {{employementDetailsForm.controls.occupation.value | titlecase}}
                        </button>
                        <div class="dropdown" ngbDropdownMenu aria-labelledby="courseDropdown">
                          <button class="dropdown-item" *ngFor="let option of occupationList; let i = index;" (click)="setOccupationValue('occupation',option.occupation,i)"
                            id="residentialAddress-country-option-{{i}}">{{ option.occupation | titlecase}}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="flex-row mb10">
                <div class="flex-col-5">
                  <label for="name" id="empliyement_status_Lbl">{{ 'EMPLOYMENT_DETAILS.CONTACT_NUMBER' | translate}}
                  </label>
                </div>
                <div class="flex-col-7" [ngClass]="{'inline-error': !employementDetailsForm.get('contactNumber').valid && !employementDetailsForm.get('contactNumber').pristine}">

                  <input type="text" formControlName="contactNumber" id="empliyement_status_company_input" class="form-control">
                </div>
              </div>


              <!-- button -->
              <div class="form-group-single-column  mb10 flex-col">
                <div class="checkbox-button two-label">
                  <input id="residentialAddress_mailingsame_radio" name="isEmployeAddresSame" (change)="addOrRemoveMailingAddress()" type="checkbox" class="field checkbox"
                    formControlName="isEmployeAddresSame" value="true">
                  <label for="residentialAddress_mailingsame_radio" id="residentialAddress_mailingsame_lbl">
                    <div class="input-label-black" id="residentialAddress_optionhead_lbl">{{ 'EMPLOYMENT_DETAILS.EMPLOYERS_ADDRESS' | translate}}</div>
                    <div class="input-label-normal" id="residentialAddress_optionhead_desc">{{ 'EMPLOYMENT_DETAILS.SAME_AS_MAILING_ADDRESS' | translate}}</div>
                  </label>
                </div>
              </div>
           



            <div *ngIf="!employementDetailsForm.get('isEmployeAddresSame').value" formGroupName="employeaddress">
              <!-- COUNTRY -->
              <div class="form-group">
                  <div class="flex-row">
                    <div class="flex-col-5">
                      <label for="residentialAddress-mailcountry-drpdown" id="residentialAddress-mailcountry-lbl">{{ 'EMPLOYMENT_DETAILS.COUNTRY' | translate}}</label>
                    </div>
                    <div class="flex-col-7">
                      <div class="dropdown-control">
                        <div ngbDropdown>
                          <button  class="btn btn-dropdown without-border grey" id="residentialAddress-country-drpdown"
                            ngbDropdownToggle>{{employementDetailsForm.controls.employeaddress.controls.empCountry.value}}
                          </button>
                          <div class="dropdown" ngbDropdownMenu aria-labelledby="courseDropdown">
                            <button class="dropdown-item" *ngFor="let option of countries; let i = index;" (click)="setDropDownValue('empCountry', option.country,'employeaddress')"
                              id="residentialAddress-country-option-{{i}}">{{option.country}}</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              <!-- POSTAL CODE -->
              <div class="form-group" *ngIf="isUserNationalitySingapore">
                  <div class="flex-row">
                    <div class="flex-col-5">
                      <label for="residentialAddress-mailpostalcode-drpdown" id="residentialAddress-mailpostalcode-lbl">{{ 'EMPLOYMENT_DETAILS.POSTAL_CODE' | translate}}</label>
                    </div>
                    <div class="flex-col-7">

                      <div class="form-control with-button" >
                        <div class="row">
                          <div class="col-7">
                            <input type="text" class="input-control grey" formControlName="empPostalCode" id="residentialAddress-mailpostalcode-txt"
                            />
                          </div>
                          <div class="col-5">
                            <button type="button" (click)="retrieveAddress(employementDetailsForm.controls.employeaddress.controls.empPostalCode.value, employementDetailsForm.controls.employeaddress.controls.empAddress1, employementDetailsForm.controls.employeaddress.controls.empAddress2)"
                              class="btn btn-secondary right">{{ 'COMMON.LABEL.RETRIEVE' | translate}}
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              <!-- ADDRESS 1 -->
              <div class="form-group">
                <div class="flex-row">
                  <div class="flex-col-5">
                    <label for="residentialAddress-mailaddress1-txt" id="residentialAddress-mailaddress1-lbl">{{'EMPLOYMENT_DETAILS.ADDRESS_1' | translate}}</label>
                  </div>
                  <div class="flex-col-7">
                    <div class="form-control" [ngClass]="{'inline-error':getInlineErrorStatus(employementDetailsForm.controls.employeaddress.controls.empAddress1)}">
                      <input type="text" class="input-control grey" formControlName="empAddress1" id="residentialAddress-mailaddress1-txt" />
                    </div>
                  </div>
                  </div>
                </div>
             

              <!-- ADDRESS 2 -->
              <div class="form-group">
                  <div class="flex-row">
                    <div class="flex-col-5">
                      <label for="residentialAddress-mailaddress2-txt" id="residentialAddress-mailaddress2-lbl">{{'EMPLOYMENT_DETAILS.ADDRESS_2' | translate}}</label>
                    </div>
                    <div class="flex-col-7">
                      <div class="form-control" [ngClass]="{'inline-error':getInlineErrorStatus(employementDetailsForm.controls.employeaddress.controls.empAddress2)}">
                        <input type="text" class="input-control grey" formControlName="empAddress2" id="residentialAddress-mailaddress2-txt" />
                      </div>
                    </div>
                  </div>
                </div>

              <!-- UNIT NO -->
              <div class="form-group" *ngIf="isUserNationalitySingapore">
                  <div class="flex-row">
                    <div class="flex-col-5">
                      <label for="residentialAddress-mailunitno-txt" id="residentialAddress-mailunitno-lbl">{{'EMPLOYMENT_DETAILS.UNIT_NO' | translate}}</label>
                    </div>
                    <div class="flex-col-7">
                      <div class="form-control"  [ngClass]="{'inline-error':getInlineErrorStatus(employementDetailsForm.controls.employeaddress.controls.empUnitNo)}">
                        <input type="text" class="input-control grey" formControlName="empUnitNo" id="residentialAddress-mailunitno-txt" />
                      </div>
                    </div>
                  </div>
                </div>

              <!-- CITY -->
              <div class="form-group" *ngIf="!isUserNationalitySingapore">
                  <div class="flex-row">
                    <div class="flex-col-5">
                      <label for="residentialAddress-mailcity-txt" id="residentialAddress-mailcity-lbl">{{'EMPLOYMENT_DETAILS.CITY' | translate}}</label>
                    </div>
                    <div class="flex-col-7">
                      <div class="form-control"  [ngClass]="{'inline-error':getInlineErrorStatus(employementDetailsForm.controls.employeaddress.controls.empCity)}">
                        <input type="text" class="input-control grey" formControlName="empCity" id="residentialAddress-mailcity-txt" />
                      </div>
                    </div>
                  </div>
                </div>

              <!-- STATE -->
              <div class="form-group" *ngIf="!isUserNationalitySingapore">
                  <div class="flex-row">
                    <div class="flex-col-5">
                      <label for="residentialAddress-mailstate-txt" id="residentialAddress-mailstate-lbl">{{'EMPLOYMENT_DETAILS.STATE' | translate}}</label>
                    </div>
                    <div class="flex-col-7">
                      <div class="form-control" [ngClass]="{'inline-error':getInlineErrorStatus(employementDetailsForm.controls.employeaddress.controls.empState)}">
                        <input type="text" class="input-control grey" formControlName="empState" id="residentialAddress-mailstate-txt" />
                      </div>
                    </div>
                  </div>
                </div>

              <!-- ZIP CODE -->
              <div class="form-group" *ngIf="!isUserNationalitySingapore">
                  <div class="flex-row">
                    <div class="flex-col-5">
                      <label for="residentialAddress-mailzipcode-txt" id="residentialAddress-mailzipcode-lbl">{{'EMPLOYMENT_DETAILS.ZIPCODE' | translate}}</label>
                    </div>
                    <div class="flex-col-7">
                      <div class="form-control" [ngClass]="{'inline-error':getInlineErrorStatus(employementDetailsForm.controls.employeaddress.controls.empZipCode)}">
                        <input type="text" class="input-control grey" formControlName="empZipCode" id="residentialAddress-mailzipcode-txt" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>



              <button type="button" id="personalInforNextBtn" (click)="goToNext(employementDetailsForm)" class="btn btn__footer--fixed btn-ftr-get-started btn-primary width100"
                id="getStrdBtn3">{{ 'COMMON.LABEL.CONTINUE' | translate}}</button>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>