@import '../../../variables';
app-employment-details {
  .employement-details {
    .container-fluid {
      padding-top: 110px;
      &.isEditProfile{
        padding-top: 150px;
      }
    }
    .postal-code-control {
      display: flex;
      div.control {
        display: flex;
        flex: 3;
      }
      div.button {
        display: flex;
        flex: 2;
      }
    }
    .flex-row {
      align-items: center;
    }
    .dropdown-menu.show {
      right: 0 !important;
      overflow: auto;
      height: auto;
      max-height: 264px;
    }
    .dropdown-item {
      white-space: normal;
      word-break: break-word;
    }
    .dropdown-control .btn-dropdown {
      padding-right: 27px;
      max-height: 52px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .emp_add_lbl {
      font-family: $muli-regular;
      padding: 21px 0 16px;
    }
    .inline-error {
      .btn {
        &.btn-secondary {
          background-color: $secondary-action-color !important;
        }
      }
    }
    .inline-error-inv {
      color: $inline-error-border-color;
      border: 1px solid $inline-error-border-color !important;
      color: $inline-error-border-color;
      input {
        color: $inline-error-border-color !important;
      }
    }
    label {
      font-size: 18px;
      font-family: $muli-semi-bold;
      padding-right: 10px;
    }
    .input-control {
      text-align: left;
    }
    .step-indicator-container {
      background-color: $white-color;
      padding: 10px 0px;
      position: relative;
      top: 106px;
      margin-bottom: 15px;
      .container-fluid {
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }
    @media (min-width: 768px) {
      .step-indicator-container {
        top: 0px;
      }
    }
    .form-control {
      &.with-button {
        padding: 0.5rem;
        padding-left: 0.8rem;
      }
      &:disabled, &.disabled {
        color: $teal-color !important;
        -webkit-text-fill-color: $teal-color !important;
        background-color: $inv-btn-disabled-bg !important;
        opacity: 1 !important;
        input {
          background-color: $inv-btn-disabled-bg !important;    
          padding-top: 6px;
          padding-bottom: 6px;
        }
        .button{
          display:none;
        }
      }
    }
    .input-group-append {
      .btn-primary {
        &:disabled {
          color: $teal-color !important;
          background-color: $inv-btn-disabled-bg !important;
          opacity: 1 !important;
        }
      }
    }
    .btn {
      &:disabled {
        color: $teal-color !important;
        background-color: $inv-btn-disabled-bg !important;
        opacity: 1 !important;
      }
    }
    .btn {
      &.btn-secondary {
        padding: 0.5rem;
        font-size: 16px;
        background-color: $secondary-action-color;
        color: $white-color;
        border: none;
        font-family: $muli;
        &.right {
          float: right;
        }
        &:hover {
          background-color: $secondary-action-color !important;
          border: none !important;
          color: $white-color !important;
        }
        &:focus {
          background-color: $secondary-action-color !important;
          border: none !important;
          color: $white-color !important;
        }
        &:active {
          background-color: $secondary-action-color !important;
          border: none !important;
          color: $white-color !important;
        }
      }
    }
    .white-bg-checkbox {
      background-color: $white-color;
      padding: 10px 18px 10px 18px;
      border-radius: 6px;
      font-family: $muli;
      label {
        padding: 0px 0 0px 35px;
      }
      .option-row {
        margin-left: 0px;
      }
      .option-title {
        color: $black-color;
        font-size: 18px;
      }
      .option-desc {
        color: $dark-grey-color;
        font-family: $muli-semi-bold;
        font-size: 16px;
      }
    }
    .btn__footer--fixed {
      font-family: $muli-bold !important;
    }
  }
}
