.navbar__title--mobile {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar__subtitle--mobile {
  line-height: normal;
  text-align: center;
  color: #5e5e5e;
  font-size: 14px;
  margin-bottom: 10px;
}

