@import '../../../../_variables';
@import '../../../../_mixins';

app-sing-pass {
  .autofill-link {
    cursor: pointer;
    margin-bottom: 20px;

    .flex-row {
      &.flex-col-12 {
        justify-content: center;
      }
    }

    .autofill-logo {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  
  .autofill-link.postlogin + .or-block {
    display: none;
  }

  .backdrop {
    background: url('/assets/images/investment-account/transparent-black.png') repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loader-content-wrapper {
    background-color: $loader-wrapper-bg-color;
    border-radius: 8px;
    color: $loader-wrapper-txt-color;
    margin: 0 32px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px 34px;
    z-index: 9999;
  }

  .loader-image {
    img {
      max-width: 110px;
    }
  }

  .loader-content {
    font-family: $muli;
    color: $loader-content-txt-color;
    text-align: center;
    font-size: 16px;

    .loader-title {
      font-family: $muli-regular;
      color: $loader-title-txt-color;
      margin-bottom: 5px;
      letter-spacing: -0.2px;

      .dots {
        display: inline-block;
      }
    }

    .loader-desc {
      font-style: italic;
      line-height: 1.31;
      letter-spacing: -0.2px;
      color: $loader-desc-color;
    }
  }
  .or-block {
    padding: 0;
  }
  .separator {
    margin: 40px 0;
    background-color: $persian-teal-color;
    height: 2px;
    text-align: center;
      .txt-or {
        color: $morning-glory-color;
        background-color: $persian-teal-color;
        border-radius: 50px;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 40px;
        top: -25px;
        font-family: "Muli Bold", sans-serif;
        font-size: 13px;
        border: 5px solid $teal-color;
        position: relative;
        display: inline-block;
      }
  }
  strong.txt-bold {
    font-family: $muli-bold;
  }
}
