<div class="withdraw">
  <div class="container-fluid max-width--1024">
    <div class="content">
      <div class="row">
        <div class="col-lg-6 col-md-6 hidden-sm-md">
          <h2> {{'WITHDRAW.TITLE' | translate}}</h2>
          <h6>{{ 'WITHDRAW_PAYMENT_METHOD.WITHDRAW_DESC' | translate}}</h6>
          <div class="banner-image">
            <img src="assets/images/investment-account/withdraw.svg" />
          </div>
          <div class="faq_link">
            <a target="_blank" routerLink="/faq"
              fragment="investment">{{ 'ASSET_ALLOCATION.FAQ_DESC_TEXT' | translate}}</a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="flex-col add_account mb20" (click)="showNewBankFormModal()" *ngIf="hideAddBankAccount">
            <div class="bank-icon"><img src="../../../assets/images/bank_icon.svg" /></div>
            <div class="flex-row"><img
                src="../../../assets/images/plus-white.svg" /><span>{{ 'WITHDRAW_PAYMENT_METHOD.ADD_BANK_ACCOUNT' | translate}}</span>
            </div>
          </div>
          <div class="bank_transfer flex-col">
            <div class="flex-col available_accounts" *ngFor="let userBank of userBankList; let i = index;">
              <div class="selected_logo"><img src="../../../assets/images/topupwithdraw/check_orange.svg" /></div>
              <div class="bank-icon">
                <img class="bank_img" src="../../../assets/images/bank_icon.svg" />
                <div class="edit-bank" (click)="showEditBankFormModal(i)"><img
                    src="../../../assets/images/investment-account/edit-dark.svg" /></div>
              </div>
              <div class="user_bank">{{ userBank.bank && userBank.bank.name}}</div>
              <div class="user_account">{{userBank.accountNumber}}</div>
              <div class="user_name">{{userBank.accountName | titlecase}}</div>
            </div>
          </div>
          <button type="button" [disabled]="userBankList && userBankList.length === 0" (click)="goToNext()"
            class="btn btn__footer--fixed btn-ftr-get-started btn-primary width100" id="portfolioRecommendationNextBtn">{{
          'LABEL.CONTINUE' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>