<div class="withdraw" *ngIf="sourceCashPortfolioList">
  <div class="container-fluid max-width--1024">
    <div class="content">
      <div class="row">
        <div class="col-lg-6 col-md-6 hidden-sm-md">
          <h2>{{pageTitle}}</h2>
          <h6>{{'TRANSFER.DESC'| translate}}</h6>
          <div class="banner-image">
            <img src="assets/images/investment-account/transfer-web.svg" />
          </div>
          <div class="faq_link">
            <a target="_blank" routerLink="/faq"
              fragment="investment">{{ 'ASSET_ALLOCATION.FAQ_DESC_TEXT' | translate}}</a>
          </div>
        </div>
        <div class="max-width col-lg-6 col-md-6">
          <h6 class="hidden-lg">{{'TRANSFER.DESC'| translate}}</h6>
          <form id="withdraw_form" name="withdrawForm" [formGroup]="transferForm">
            <div class="form-group">
              <!-- TRANSFER FROM -->
              <div class="flex-row">
                <div class="flex-col-4">
                  <label for="withdraw-portfolio-drpdown" id="withdraw-portfolio-lbl">
                    {{'TRANSFER.TRANSFER'| translate}} <br> {{'TRANSFER.FROM'| translate}}</label>
                </div>
                <div class="flex-col-8">
                  <div class="dropdown-control"
                    [ngClass]="{'inline-error':getInlineErrorStatus(transferForm.controls.transferFrom)}">
                    <div ngbDropdown>
                      <button class="btn btn-dropdown without-border" id="withdraw-portfolio-drpdown" ngbDropdownToggle>
                        <span *ngIf="!transferForm.controls.transferFrom.value" class="placeholder_color">
                          {{'TRANSFER.SELECT_CASH_ACCOUNT'| translate}}
                        </span>
                        <span class="capital-letter"
                          *ngIf="transferForm.controls.transferFrom.value">{{transferForm.controls.transferFrom.value.portfolioName + ' - ' + transferForm.controls.transferFrom.value.refno}}</span>
                      </button>
                      <div class="dropdown" ngbDropdownMenu aria-labelledby="withdrawDropDown">
                        <button class="dropdown-item capital-letter"
                          *ngFor="let portfolio of sourceCashPortfolioList; let i = index;"
                          (click)="setTransferFrom('transferFrom', portfolio)"
                          id="withdraw-portfolio-option-{{i}}">{{portfolio.portfolioName + ' - ' + portfolio.refno}}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- TRANSFER TO  -->
              <div class="flex-row">
                <div class="flex-col-4">
                  <label for="withdraw-portfolio-drpdown" id="withdraw-portfolio-lbl">
                    {{'TRANSFER.TRANSFER'| translate}} <br> {{'TRANSFER.TO'| translate}} </label>
                </div>
                <div class="flex-col-8">
                  <div class="dropdown-control">
                    <div ngbDropdown>
                      <button class="btn btn-dropdown without-border" id="withdraw-portfolio-drpdown" ngbDropdownToggle>
                        <span *ngIf="!transferForm.controls.transferTo.value"
                          class="placeholder_color">{{'TRANSFER.SELECT_CASH_ACCOUNT'| translate}}
                        </span>
                        <span class="capital-letter"
                          *ngIf="transferForm.controls.transferTo.value">{{transferForm.controls.transferTo.value.portfolioName + ' - ' + transferForm.controls.transferTo.value.refno}}</span>
                      </button>
                      <div class="dropdown" ngbDropdownMenu aria-labelledby="withdrawDropDown">
                        <button class="dropdown-item capital-letter"
                          *ngFor="let portfolio of destinationCashPortfolioList; let i = index;"
                          (click)="setTransferTo('transferTo', portfolio)"
                          id="withdraw-portfolio-option-{{i}}">{{portfolio.portfolioName + ' - ' + portfolio.refno}}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- AMOUNT -->
            <div class="form-group form-group-padding">
              <div class="flex-row" *ngIf="transferForm.get('transferTo') && transferForm.get('transferTo').value">
                <div class="flex-col-4">
                  <label class="withdrawal-amount-lbl" for="withdraw-type-drpdown" id="withdraw-type-lbl">
                    {{'TRANSFER.TRANSFER'| translate}}<br> {{'TRANSFER.AMOUNT'| translate}}
                  </label>
                </div>
                <div class="flex-col-8">
                  <div class="form-control" [ngClass]="[(getInlineErrorStatus(transferForm.controls.transferAmount)  && !isTransferAllChecked)
                    ? 'inline-error' : '',  isTransferAllChecked ? 'disabled' : '']">
                    <i id="myFinancialDollarSybmOne">$</i>
                    <div>
                      <input class="input-control" type="text" id="withdrawal-type" appCurrencyInput [allowDecimal]=true
                        decimalFormat="1.2-2" maxLength="9" value="0" formControlName="transferAmount">
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex-row" *ngIf="transferForm.get('transferTo') && transferForm.get('transferTo').value">
                <div class="flex-col-4"></div>
                <div class="flex-col-8">
                  <div class="checkbox-button one-label">
                    <input id="transferAll" name="dependantSelection" type="checkbox" [value]=false class="field radio"
                      mode=1 formControlName="transferAll" (change)="TransferAllChecked()">
                    <label id="dependantNoLabel" for="transferAll">
                      <span class="input-label-grey"> {{'TRANSFER.TRANSFER_ALL'| translate}}</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="flex-row" *ngIf="transferForm.controls.transferAmount?.errors?.MoreThanCashBalance">
                <div class="flex-col-12">
                  <div class="transfer-error">
                    <img src="assets/images/info-orange.svg" alt="" />
                    <span>{{'TRANSFER.TRANSFER_MORE_THE_CASH_BALANCE'| translate}} </span>
                  </div>
                </div>
              </div>
              <div class="cash-balance">
                <div class="row mb15" *ngIf="transferForm.get('transferFrom').value">
                  <div class="col-8">
                    {{'TRANSFER.AMOUNT_AVAILABLE'| translate}}
                  </div>
                  <div class="col-4 text-right">
                    {{cashBalance|formatCurrency}}
                  </div>
                </div>
                <div class="row"
                  *ngIf="transferForm.get('transferAmount')?.value && (cashBalance - transferForm.controls.transferAmount.value > 0) && transferForm.controls.transferAmount.value && transferForm.valid">
                  <div class="col-8">
                    {{'TRANSFER.AFTER_TRANSFER'| translate}}
                  </div>
                  <div class="col-4 text-right">
                    {{cashBalance - transferForm.controls.transferAmount.value | formatCurrency}}
                  </div>
                </div>
              </div>
            </div>
            <!-- AMOUNT -->
          </form>
          <div class="note-class">
            <div class=note-text>
              {{'TRANSFER.NOTE'| translate}} </div>
            <div *ngFor="let note of noteArray, let i = index;" class="note-list">
              <div class="teal-oval"></div>
              <div class="note-point-text">{{note}}</div>
            </div>
          </div>
          <button type="button" class="btn btn__footer--fixed btn-ftr-get-started btn-primary 
            width100" id="portfolioRecommendationNextBtn" [disabled]="!transferForm.valid ||
            !(transferForm.controls.transferAmount?.value > 0)"
            (click)="goToNext(transferForm)">{{ 'LABEL.CONTINUE' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>