<div class="container-fluid col-lg-12 block__wrapper flex--pad-mt-reset">
  <div class="col-lg-12 block__carousel-bar-container"> 
      <div class="block__carousel-bar active"></div>
      <div class="block__carousel-bar"></div>
  </div>
  <div class="col-lg-12 container-fluid flex__box--horz block__content">
      <div class="col-lg-6 col-md-6 col-sm-12 flex--pad-mt-reset">
              <img class="flex--left-align img__header-img" src="assets/images/financial.svg"/>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 flex--pad-mt-reset flex--xs-grow">
              <div class="block__start-text-container flex--right-align flex--xs-grow">
                  <p class="p__step-title">Step 1</p>
                  <p class="p__start-title">Financial Assessment</p>
                  <p class="p__start-sub-title">In the next step, we are going to gather information on your income, expenses, assets and liabilities to determine your insurance needs.</p>
                  <button class="button__proceed" (click)="goToIncome()">
                      Proceed
                  </button>
              </div>
      </div>
  </div>
</div>