@import '../../../variables';
@import '../../../mixins';

.container-fluid {
    padding: 50px 60px 65px;
    font-family: $muli-semi-bold;
    @include allmobiles{
        padding: 0 !important;
        border-radius: 0;
    }
}
.aboutMe {
    background-color: #f4fafb;
    border-radius: 6px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.25);
    font-size: 18px;
    letter-spacing: -0.3px;
    color: #2d8289;
    margin-top: 23px;
    @include allmobiles {
        margin-top: 19px;
    }
    input{
        color:#00a7a7;
    }
    .flex-row{
        padding: 0 19px 23px; 
    }
    .title {
        background: $white-color;
        font-family: $muli-bold;
        font-size: 20px;
        letter-spacing: -0.4px;
        color: #066360;
        margin-bottom: 19px;
        padding: 17px 19px; 
        border-radius: 6px;
    }
    .sublbl {
        font-family: $muli-regular;
        font-size: 16px;
        letter-spacing: -0.3px;
        color: #2d8289;
        font-weight: normal;
    }
}

.heading {
    font-family: $muli-light;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.2px;
    color: #fff;
}
.autofill-link {
    @include allmobiles {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        background-color: #fff;
    }
}
.autofill-text{
    font-size: 36px;
    letter-spacing: -0.4px;
    color: #fff;  
}

.sub-title {
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.2px;
    color: #fff;
    padding-bottom: 22px;
    font-family: $muli-regular;
    @include allmobiles {
        width: 300px;
        text-align: center;
        color: #333846;
        padding-bottom: 1px;
    }
}
.mobile-logo{
    display: none;
    @include allmobiles {
        display: block;
        justify-content: center;
        align-items: center;
        margin-top: 17px;
    }
}

.myFamilyForm{
    @include allmobiles{
        padding: 19px 19px 100px;
        background-color: #00a7a7;
    }
}

.myFamily {
    margin-top: 60px;
    @include allmobiles {
        margin-top: 10px;
    }
}

.datepicker-control {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.date-picker {
    .form-control {
        padding-right: 0;
    }
    .input-group-append{
        .btn-primary{
            box-shadow: none !important;
        }
    } 
}

.my-form-container {
    justify-content: space-between;
}

.header-container {
    @include allmobiles{
        padding: 0;
    }
}

.with-help-icon{
    display:flex;
    align-items: flex-end;
    position: relative;
    .help-icon {
        background-image: url("../../../assets/images/help-icon.png");
        width: 20px;
        height: 20px;
        cursor: pointer;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 5px;
        margin-right: -3px;
    }
}

.sub_name {
    font-family: $muli-regular;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #2d8289;
  }

  .inline-error{
    .btn-dropdown{
        border: none;
        border-radius: 4px;
    }
  }

  .date-picker .form-control::placeholder {
    @include allmobiles{
        font-size: 14px;
        padding-left:0;
    }  
  }