@import "../../../_variables.scss";
@import "../../../_mixins.scss";

app-login {

  input::-ms-clear,
  input::-ms-reveal {
    display: none;
  }

  .container-fluid.full-height {
    min-height: 85vh;
  }

  input::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    display: none !important;
    position: absolute;
    right: 0;
  }

  .inline-error {
    .show-password {
      background: url("../../../assets/images/show-password.svg") !important;
      background-repeat: no-repeat !important;
      background-color: transparent !important;
    }

    .hide-password {
      background-image: url("../../../assets/images/hide-password.svg") !important;
      background-repeat: no-repeat !important;
      background-color: transparent !important;
    }
  }

  .forgot-link {
    text-align: center;

    a {
      color: #fff;
      font-family: $muli-bold;
      font-size: 16px;
    }

    a span {
      font-weight: 400;
      text-decoration: underline;
    }
  }

  .start-link {
    text-align: center;

    a {
      color: $white-color;
      font-family: $muli-light;
      font-size: 16px;
      text-decoration: underline;
      font-weight: 300;
      letter-spacing: -0.17px;
    }
  }

  .btn-account {
    width: 179px;
    height: 60px;
    border: 0px;
    border-radius: 6px;
    background-color: $white-color;
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.21);
    font-family: $muli-semi-bold;
    font-size: 22px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    text-align: center;
    color: $app-backgrnd-color;
    cursor: pointer;
  }

  @include ExtraSmallDevice {
    .mobile-only {
      display: none;
    }
  }

  .form-group-captcha-wrapper {
    display: flex;
    align-items: center;
    height: 60%;
  }

  .link-white {
    text-decoration: underline;
    cursor: pointer;
    font-size: 13px;
    float: right;
    margin-top: 10px;
  }

  .signup-wrapper__header-icon {
    @include allmobiles {
      display: block !important;
    }
  }

  /*Modal styles*/
  .mobile-verify-modal {
    .custom-modal-backdrop {
      background: $app-backgrnd-color;
      position: fixed;
      opacity: 0.85;
      width: 100%;
      height: 100%;
      z-index: 9999;
      top: 0;
      left: 0;
    }

    .custom-modal-wrapper {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: 10000;
      text-align: center;
      @extend .flex;
      @extend .justify-center;
      @extend .align-center;
    }

    .custom-modal-content {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .custom-modal--icon {
      width: 100%;
      height: 100%;
      position: relative;
      // top: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      img {
        width: 185px;
        height: 185px;
      }
    }

    .custom-modal--title {
      color: $white-color;
      font-family: $muli-regular;
      font-size: 18px;
      letter-spacing: -0.4px;
      line-height: 0.56;
      margin-top: 30px;
      position: relative;
    }

    .custom-modal--desc {
      color: $white-color;
      font-size: 24px;
      line-height: 1.33;
      letter-spacing: -0.2px;
      font-family: $muli-bold;
      padding: 0 35%;

      @include allmobiles {
        padding: 0 10%;
      }
    }

    .btn-primary {
      width: 275px;
    }

    @include allmobiles {
      .btn__footer--fixed {
        width: 100%;
      }
    }

    .btn-primary {
      box-shadow: 0 12px 14px 0 $btn-proceed-shadow-color !important;
    }
  }

  .loader-outer {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .loader {
      position: absolute;
      border: 10px solid $brdr-teal-color;
      border-radius: 50%;
      border-top: 12px solid $brdr-dark-color;
      width: 205px;
      height: 205px;

      @include allmobiles {
        width: 185px;
        height: 185px;
      }

      -webkit-animation: spin 2s linear infinite;
      /* Safari */
      animation: spin 2s linear infinite;
    }
  }


  /* Safari */
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
  .alert-msg{
    font-family: $muli-italic;
    font-size: 14px;
    padding-top: 5px;
    div{
      display: flex;
      align-items: center;
      .alert-icon{
        width: 15px;
        height: 15px;
        display: flex;
        margin-right: 7px;
      }
    }
  }
  // New login page CSS
  .sp-pw-container{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    .pw-login-container {
      display: flex;
      flex-direction: column;
      width: 390px;
      @include allmobiles {
        width: 100%;
        margin-top: -50px;
      }
    }
    .password-qr-toggle {
      display: none;
      @include allmobiles {
        display: flex;
      }
      justify-content: space-between;
      font-family: $muli-bold;
      font-size: 3.865vmin;
      line-height: normal;
      letter-spacing: -0.16px;
      width: 100%;
      padding-bottom: 20px;
      color: #dddddd;
      .toggle-container {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        .toggle-btn {
          display: flex;
          cursor: pointer;
          &.white-txt {
            color: $white-color;
          }
        }
      }
      img {
        width: 4.35vmin;
        margin-right: 10px;
        height: 24px;
      }
      .underline {
        width: 50px;
        height: 3px;
        border-radius: 2.5px;
        background-color: $dark-orange-color;
        margin-top: 11px;
        align-self: center;
      }
    }
    .login-title {
      font-size: 32px;
      margin-bottom: 40px;
      @include allmobiles {
        font-size: 24px;
        margin-bottom: 20px;
      }
    }
    .img-container {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
      @include allmobiles {
        margin-bottom: 20px;
      }
      .login-header-icon {
        width: 100px;
        @include allmobiles {
          width: 90px;
        }
      }
    }
    .separator-container {
      display: flex;
      flex-direction: column-reverse;
      margin-left: 80px;
      margin-right: 80px;
      @include allmobiles {
        display: none;
      }
    }
    .singpass-container {
      align-self: flex-end;
      font-size: 14px;
      color: $black-color;
      height: 470px;
      width: 350px;
      background-color: $mercury-smoke-color;
      border-radius: 6px;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
      line-height: 21px;
      letter-spacing: -0.13px;
      @include allmobiles {
        display: none;
        font-size: 3.382vmin;
        width: 100%;
        margin: 0px 10px;
      }
      a {
        font-family: $muli-bold;
        color: $dark-orange-color !important;
        cursor: pointer;
      }
      .title-container {
        padding: 18px 0 0 20px;
        height: 70px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        display: flex;
        align-items: flex-start;
        @include allmobiles {
          padding: 4.348vmin 0 0 4.831vmin;
        }
        img {
          margin-right: 10px;
        }
      }
      #qr_wrapper {
        background-color: $white-color;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        height: 344px;
      }
      .footer-container {
        padding: 12px 0 14px 20px;
      }
    }
    .show-element {
      display: block !important;
    }
  }
  .client-assist {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.13px;
    max-width: 749px;
    margin: auto;
    padding: 20px 19.9px 20px 20.1px;
    border-radius: 6px;
    background-color: $strong-cyan-color;
    @include allmobiles {
      margin: auto 10px;
    }
  }
}
