<div class="container-fluid max-width--1024 plr20 full-height">
  <div class="back-btn hidden-lg" (click)="goBack()"></div>
  <div class="content">
    <div class="row">
      <div class="col-lg-7 col-md-6">
        <div class="signup-wrapper">
          <h2 class="signup-wrapper__title order1 sm-order2 ml10 mb20" #welcomeTitle id="login_welcometxt_lbl">{{ 'LOGIN.WELCOME_LBL' | translate}}</h2>
          <!--
          <div class="signup-wrapper__description order2">
              <p>{{ 'LOGIN.DESCRIPTION' | translate}}</p>
            </div>
            -->
          <img class="signup-wrapper__header-icon order3 sm-order1" src="assets/images/createAccount-icon.svg" />
        </div>
      </div>
      <div class="col-lg-5 col-md-6">
        <form id="loginForm" name="loginForm" [formGroup]="loginForm" (keyup.enter)="doLogin(loginForm)">
          <div class="flex-row mb15">
            <div class="flex-col-12 stretch">
              <div class="form-group-floating-label" [ngClass]="{'inline-error':getInlineErrorStatus(loginForm.controls.loginUsername)}">
                <input type="text" appInputFocus id="login_username_txt" class="form-control" #loginUsername formControlName="loginUsername" required>
                <label class="form-control-placeholder" for="login_username_txt" id="login_username_lbl">{{ 'LOGIN.FORM.USERNAME' | translate}}</label>
              </div>
            </div>
          </div>

          <div class="flex-row mb20">
            <div class="flex-col-12 stretch">
              <div class="form-group-floating-label" [ngClass]="{'inline-error':getInlineErrorStatus(loginForm.controls.loginPassword)}">
                <input type="password" appInputFocus #loginPassword id="login_password_txt" class="form-control" formControlName="loginPassword" required>
                <label class="form-control-placeholder" for="login_password_txt" id="login_password_lbl">{{ 'LOGIN.FORM.PASSWORD' | translate}}</label>
                <span id="login_showpassword_button" [ngClass]="(loginPassword.type === 'text') ? 'show-password' : 'hide-password'" (click)="showHidePassword(loginPassword)"></span>
              </div>

              
            </div>
          </div>

          <div class="flex-row mb10" *ngIf="showCaptcha">
              <span class="mb10">{{ 'COMMON.CAPTCHA_TITLE' | translate}}</span>
            <div class="flex-col-6 stretch">
              <div class="form-group-captcha-wrapper">
                <img [src]="(captchaSrc | secure | async) || ''" class="captcha-img"/>
              </div>
            </div>
            <div class="flex-col-6 stretch">
              <div class="form-group-floating-label">
                <input type="text" id="crtAccInpt6" class="form-control" #captchaValue formControlName="captchaValue" required>
                <label class="form-control-placeholder" for="lastName">{{ 'COMMON.CAPTCHA' | translate}}</label>
              </div>
              <div>
               <span (click)="refreshCaptcha()" class="link-white">{{ 'COMMON.TRY_ANOTHER_TEXT' | translate}} <i class="fa fa-refresh" style="color: white; margin-left: 10px;"></i></span>
              </div>
            </div>
          </div>

          <!-- FORGOT -->
          <div class="forgot-link" *ngIf="!hideForgotPassword">
            <a id="login_forgotpwd_link" [routerLink]="'/accounts/forgot-password'">{{ 'LOGIN.FORGOT_PASSWORD' | translate}} <!-- <span id="login_clickhere_lbl" class="mobile-only">{{
                'LOGIN.CLICK_HERE' | translate}}</span>--></a>
          </div>
          <div class="start-link"><a id="login_signup_link" [routerLink]="'/accounts/sign-up'">Don’t have an account? Get started!</a></div>
          <button id="login_submit_btn" (click)="doLogin(loginForm)" type="button" class="btn btn__footer--fixed btn-primary width100 ">{{
            'COMMON.LOGIN' | translate }}</button>
        </form>
        <div class="mt60">If you require any assistance, please contact us at <b class="text-bold"><a href="mailto:clientsupport@moneyowl.com.sg">clientsupport@moneyowl.com.sg</a></b> or <b class="text-bold">6329 9189.</b> Our operating hours are Monday - Friday, 9am - 6pm.</div>
      </div>
      
    </div>
  </div>
</div>
