<!--Custom Modal-->
<div class="mobile-verify-modal" *ngIf="progressModal">
  <div class="custom-modal-backdrop"></div>
  <div class="custom-modal-wrapper">
    <div class="custom-modal--icon">
      <div class="loader-outer">
        <div class="loader"></div>
        <img src="assets/images/owl-icon-dark.svg" id="custModalImg1" />
      </div>
    </div>
  </div>
</div>

<div class="container-fluid max-width--1024 plr20 full-height">
  <div class="back-btn hidden-lg" (click)="goBack()"></div>
  <div class="content">
    <div class="row">
      <div class="col-lg-5 col-md-6">
        <div class="signup-wrapper">
          <div style="display: flex;
          justify-content: space-between;
          font-size: 16px;
          width: 100%; padding-bottom: 20px;">
            <div>PASSWORD LOGIN</div>
            <div>SINGPASS MOBILE</div>
          </div>
          <h2 class="login-title order1 mb40" #welcomeTitle id="login_welcometxt_lbl">
            {{ 'LOGIN.LOGIN_TO_MO' | translate}}</h2>
          <img class="signup-wrapper__header-icon order3" src="assets/images/createAccount-icon.svg" />
        </div>
        <form id="loginForm" name="loginForm" [formGroup]="loginForm" (keyup.enter)="doLogin(loginForm)">
          <div class="flex-row mb15 mt30">
            <div class="flex-col-12 stretch">
              <div class="form-group-floating-label"
                [ngClass]="{'inline-error':getInlineErrorStatus(loginForm.controls.loginUsername)}">
                <input type="text" appInputFocus id="login_username_txt" class="form-control" #loginUsername
                formControlName="loginUsername" (paste)="onPaste($event)" (keyup)="onKeyupEvent($event)" required>
                <label class="form-control-placeholder" for="login_username_txt"
                  id="login_username_lbl">{{ 'LOGIN.FORM.USERNAME' | translate}}</label>
              </div>
            </div>

          </div>

          <div class="flex-row mb15">
            <div class="flex-col-12 stretch">
              <div class="form-group-floating-label"
                [ngClass]="{'inline-error':getInlineErrorStatus(loginForm.controls.loginPassword)}"
                (capsLock)="capsOn=$event">
                <input type="password" appInputFocus #loginPassword id="login_password_txt" class="form-control"
                  formControlName="loginPassword" required (focus)="onFocus()" (blur)="onBlur()">
                <label class="form-control-placeholder" for="login_password_txt"
                  id="login_password_lbl">{{ 'LOGIN.FORM.PASSWORD' | translate}}</label>
                <span id="login_showpassword_button"
                  [ngClass]="(loginPassword.type === 'text') ? 'show-password' : 'hide-password'"
                  (click)="showHidePassword(loginPassword)"></span>
              </div>
            </div>
            <div class="alert-msg" *ngIf="capsOn && capslockFocus">
              <div>
                <span class="alert-icon"><img src="assets/images/alert.svg" /></span>
                <span class="err-msg">{{'COMMON.CAPS_LOCK_IS_ON' | translate}}</span>
              </div>
            </div>
          </div>

          <div class="flex-row mb20" *ngIf='finlitEnabled'>
            <div class="flex-col-12 stretch">
              <div class="form-group-floating-label"
                [ngClass]="{'inline-error':getInlineErrorStatus(loginForm.controls.accessCode)}">
                <input type="text" appInputFocus id="login_access_code_txt" class="form-control" #accessCode
                  formControlName="accessCode" required maxLength="10">
                <label class="form-control-placeholder" for="login_access_code_txt"
                  id="login_access_code_lbl">{{ 'LOGIN.FORM.ACCESS_CODE' | translate}}</label>
              </div>
            </div>
          </div>

          <div class="flex-row mb30" *ngIf="showCaptcha">
            <span class="mb10">{{ 'COMMON.CAPTCHA_TITLE' | translate}}</span>
            <img [src]="(captchaSrc | secure | async) || ''" class="captcha-img"/>
            <div class="flex-col-6 stretch">
              <div class="form-group-floating-label">
                <input type="text" id="crtAccInpt6" class="form-control" #captchaValue formControlName="captchaValue"
                  required>
                <label class="form-control-placeholder" for="lastName">{{ 'COMMON.CAPTCHA' | translate}}</label>
              </div>
              <div>
                <span (click)="refreshCaptcha()" class="link-white">{{ 'COMMON.TRY_ANOTHER_TEXT' | translate}} <i
                    class="fa fa-refresh ml10" style="color: white;"></i></span>
              </div>
            </div>
          </div>
          <button id="login_submit_btn" (click)="doLogin(loginForm)" type="button"
            class="btn btn-primary width100 ">{{
            'COMMON.LOGIN' | translate }}</button>
          <!-- FORGOT -->
          <div class="forgot-link mt30" *ngIf="!hideForgotPassword">
            <a id="login_forgotpwd_link"
              [routerLink]="'/accounts/forgot-password'">{{ 'LOGIN.FORGOT_PASSWORD' | translate}}</a>
          </div>
          <div class="start-link"><a id="login_signup_link"   [routerLink]="finlitEnabled ? '/accounts/finlit/sign-up':'/accounts/sign-up'  ">{{'LOGIN.GET_STARTED' | translate}}</a></div>
        </form>
      </div>
      <div class="separator-container">
        <img src="assets/images/singpass/asset-separator.svg" />
      </div>
      <div class="singpass-container">
        <div class="title-container">
          <img src="assets/images/singpass/icon-new.svg"/>
          <div>You can now log in to MoneyOwl using Singpass Mobile App! <a (click)="openModal($event)">How to activate?</a></div>
        </div>
        <div id="qr_wrapper"></div>
        <div class="footer-container">Don’t have Singpass Mobile? <a href="https://app.singpass.gov.sg/" target="_blank">Download now!</a></div>
      </div>
    </div>
    <div class="client-assist" innerHTML="{{'LOGIN.CLIENT_ASSISTANCE' | translate}}"></div>

  </div>
</div>
