<!--Assets Screen-->
<div class="container-fluid max-width--1024">
  <div class="row">
    <div class="col-lg-7 col-md-6 hidden-sm-md">
      <h2>{{ pageTitle }}</h2>
      <h6>{{ '' | translate}}</h6>
      <div class="banner-image">
        <img src="assets/images/assets.svg" />
      </div>
    </div>
    <div class="col-lg-5 col-md-6">
      <div>
        <form id="testMyInfoForm" name="testMyInfoForm">
          <div class="form-group-with-bg">
            <!--Form Header-->
            <div class="form-group-with-bg--header">
              <div class="flex-row">
                <div class="flex-col-6">
                  <div class="form-group-with-bg--header-label">
                    {{ 'Test MyInfo For: ' | translate}}
                  </div>
                </div>
                <div class="flex-col-6">
                  <div class="total">{{project}}</div>
                </div>
              </div>
            </div>
            <!--Form Content-->
            <div class="form-group-with-bg--content">
              <div class="sing-pass-link"><img class="auto-fill-logo" src="assets/images/retrieve-singpass-logo.svg" (click)="openModal()"></div>
              <div *ngFor="let attribute of myInfoAttributes" class="flex-row">
                <div class="flex-col-6">
                  <div class="form-group-with-bg--content-label" for="name">{{attribute}}</div>
                </div>
                <div class="flex-col-6">
                  <div class="form-group-with-bg--content-label" for="name">{{getAttributeVal(attribute)}}</div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
