<div class="m-3 mt-5 p-2 enquiry text-center">
<p class="header">{{'CMP.ENQUIRY.TITLE'|translate}}</p>
<p class="desc">{{'CMP.ENQUIRY.DESC'|translate}}</p>

<div class="contact">
<p class="sub-desc">{{'CMP.ENQUIRY.SUB_DESC'|translate}}</p>
<p class="phone_no">{{'CMP.ENQUIRY.PHONE_NO'|translate}}</p>
<p class="email">{{'CMP.ENQUIRY.EMAIL'|translate}}</p>
</div>
</div>
<button type="button" (click)="goToNext(myDependantForm)" class="btn btn-primary  mt10 mb50 width100"
id="moDpdnt2BtnFooter">{{'CMP.ENQUIRY.BACK_DASHBOARD' | translate}}
</button>
