
@import '../../../variables';
@import '../../../mixins';

.outer {
  height: 100vh;
  background: $wild-sand-color;
}
.enquiry-wrapper {
  background-image: url("../../../assets/images/comprehensive/thankyou-bg.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  height: 550px;
  padding-top: 50px;
}
.enquiry {
  box-shadow: 0 8px 16px 2px rgba(0, 0, 0, 0.14);
  background-color: $white-color;
  border-radius: 6px;
  padding: 20px;
  margin: 15px;

  .header {
    font-size: 36px;
    font-family: $muli-bold;
    color: $watercourse-color;
  }
  .desc{
   font-size: 14px;
   color: $watercourse-color;

  }
  .contact{
    border-radius: 6px;
    font-size: 14px;
    background-color: $gloss-varnish-color;
    padding: 20px;
    .sub-desc{
        color: $watercourse-color;

    }
    .phone_no,.email{
        color:$persian-lite-teal-color;
    }
    .phone-email-wrapper {
      margin: 0 auto;
      min-width: 200px;
    }
    .phone_no {
      background-image: url("../../../assets/images/comprehensive/icon_phone.svg");
      background-repeat: no-repeat;
      padding-left: 30px;
      height: 30px;
      text-align: left;
    }
    .email {
      background-image: url("../../../assets/images/comprehensive/icon_email.svg");
      background-repeat: no-repeat;
      padding-left: 40px;
      height: 30px;
      text-align: left;
    }
  }
}
.btn-wrapper {
  padding: 0 30px;
}