@import '../../../variables';
@import '../../../mixins';
app-withdrawal-type {
  .faq_link {
    font-family: $muli-semi-bold;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.2px;
    text-align: center;
    padding: 21px 0 105px;
    a {
      color: #a7f3f1;
     }
  }
  .withdraw {
    .dropdown-control .btn-dropdown {
      padding-right: 26px !important ;
    }
    .dropdown-control .dropdown-menu.show {
      right: 0 !important;
      overflow: auto;
    }
    .dropdown-item {
      white-space: normal;

      &.hide {
        display:none;
      }
    }
    .amount-panel {
      padding: 30px;
      background-color: $withdrawal-amount-panel-bg-color;
      border-radius: 6px;
      .input-control {
        font-size: 22px;
      }
    }
    .withdrawal-amount-lbl {
      font-size: 18px;
      font-family: $muli-bold;
      color: $white-color;
    }
    .cash-balance {
      border-top: 1px solid $white-color;
      padding-top: 19px;
      margin-top: 23px;
      font-size: 16px;
      color: $withdrawal-cash-balance-color;
      justify-content: space-between;
    }
    .btn__footer--fixed {
      font-size: 22px;
      font-family: $muli-bold;
    }
    .withdraw-error {
      padding-left: 30px;
      position:relative;

      img {
        position:absolute;
        left:0px;
        top:5px;
      }
      span {
        font-family: $muli-italic;
        color:#fff;
        font-size: 16px;
      }
    }
  }
}
