@import '../../../../variables.scss';
@import '../../../../_mixins.scss';

.roadmap-widget {   
    background-color:#009999;
    border-radius:6px;
    padding:20px;

    .main-title {
        font-size:18px;
        font-family: $muli-bold;
    }
    .roadmap-item-container {
        margin-top:20px;
        .roadmap-item {
            padding-left: 45px;
            position:relative;
            min-height:50px;
            color: #c8e7e7;
            font-family:$muli-regular;
            font-size:15px;

            .roadmap-icon {
                position: absolute;
                top:0px;
                left:0px;
                width:40px;
                height:100%;

                span.line {
                    display:block;
                    width:2px;
                    height:100%;
                    background-color:$top-up-your-portfolio-your-total-value-bg;
                    margin: 0 auto;
                    margin-top:4px;
                }
                span.icon {
                    display:block;
                    background-repeat: no-repeat;
                    background-position: center top;
                    position: absolute;
                    top: 1px;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                }
            }
            &:last-child {
                .roadmap-icon {
                    span.line {
                        display:none;
                    }
                }
            }
            &.not-started{
                .roadmap-icon {
                    .icon {
                        background-image:url('../../../../assets/images/roadmap/not-started.png');
                    }
                }
            }
            &.in-progress{
                .roadmap-icon {
                    .icon {
                        background-image:url('../../../../assets/images/roadmap/owl_head_tracker.svg');
                        top:-7px !important;      
                    }
                }
                .roadmap-item-title{
                    font-family: $muli-bold;
                    color: #81d2d2;
                }
            }
            &.completed{
                .roadmap-icon {
                    .icon {
                        background-image:url('../../../../assets/images/roadmap/completed.svg');
                        top: -1px !important;
                    }
                }
            }
        }
    }
    
}