
<div class="container-fluid">
    <div class="col-12">

        <div class="title mb10" id="whatsRiskTitle">What’s the risk involved in investment?</div>
        <div class="content" id="whatsRiskContent">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pulvinar eros id velit eleifend vehicula. Curabitur
                cursus, nibh ac varius lobortis, quam lorem aliquet tortor, faucibus sollicitudin neque magna nec lectus.
                In elit dui, pulvinar vel lorem id, egestas posuere orci.</p>
            <p>Quisque auctor tempus mauris, a porta turpis facilisis non. Praesent egestas ex eu arcu faucibus, ut maximus
                massa laoreet. Aenean at tortor sed erat rutrum consequat vel hendrerit felis. Fusce tempor sed purus quis
                ultrices. Fusce semper accumsan tellus ut feugiat.</p>
            <p>Aliquam eu maximus erat. Aliquam accumsan mauris sed mollis venenatis. Vivamus sit amet metus eget justo varius
                semper. Mauris mollis nulla id sagittis posuere. Integer bibendum nisi nec velit fermentum aliquam. Quisque
                mollis ornare metus, semper hendrerit nisi fermentum eget. Vestibulum venenatis orci magna, non sagittis
                enim semper quis. Aenean condimentum hendrerit efficitur. Pellentesque eget sapien lorem. Aliquam consequat
                quam quis eleifend dictum. Nunc sapien turpis, tincidunt in feugiat sed, commodo et lectus.</p>
        </div>


    </div>

1
</div>

