@import '../../../variables';
@import '../../../mixins';
.body {
  background-color: $dark-teal-color;
}
app-whats-the-risk {
  .container-fluid {
    @include allmobiles {
      padding: 110px 0;
    }
  }
  .title {
    font-family: 'Muli Semi Bold';
    font-size: 22px;
    font-weight: 600;
    color: $white-color;
  }
  .content {
    font-family: $muli-regular;
    font-size: 16px;
    line-height: 1.38;
    color: $white-color;
  }
}
