@import '../../../variables';
@import '../../../mixins';
$grey-color-notes: #9f9f9f;
.spendings-section {
    background:$white-color;
    color:$black-color;
    border-radius: 5px;
}
.spendings-field{
background: $bond-container-bg;
color: $dark-teal-color;
}
.with-help-icon{
    display:flex;
    align-items: flex-end;
    position: relative;        
    margin-right: 10px;
    position: relative;
    //font-size: 18px;
    .help-icon {
      
        background: url("/assets/images/tool-help-icon.svg") no-repeat;
        width: 40px;
        height: 20px;
        cursor: pointer;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        bottom: 13px;
    }    
}
.delete-icon {      
        background: url("/assets/images/delete-icon.svg") no-repeat;
        width: 40px;
        height: 20px;
        cursor: pointer;
        background-repeat: no-repeat;
        position: absolute;
        right: -29px;        
        bottom: 13px;
    } 
.otherMortageBlock .help-icon{
    right: 10px;
}
.emptySpend{
    background: url("../../../assets/images/empty-expenses.svg") no-repeat;
    display: inline-block;
    width: 243px;
    height: 150px;
}
.filledSpend{
    background: url("../../../assets/images/filled-expenses.svg") no-repeat;
    display: inline-block;
    width: 243px;
    height: 150px;
}
.comprehensive {
    &.container-fluid {
        padding-top: 120px;
    }
    .dependant-title {
        font-size: 18px;
        margin-bottom: 16px;        
    }
    .dependant-desc {
        font-size: 16px;
        padding-bottom: 16px;
    }
    .spendings-field .btn-outline-primary{
        color:$teal-color;
    }
}
.p-50{
    padding:75px;
}
.spendings-section .flex-row{
    padding:5px!important;
}
.otherMortage{
    border-top:1px solid rgba(134, 205, 206, 0.3);
    margin-top:10px;
}
.income-modal-notes{
    color:$grey-color-notes;
}
.align-left{
    text-align: left;
}
.bucket-notes{
    font-size:16px;
}
.bucket-notes-dollar{
    font-size:20px;
}
