<div class="container-fluid max-width--1024 ">
  <header>{{'CMP.DEPENDANT_DETAILS.ABOUT'|translate}}</header>
  <article class="py-2">{{'CMP.DEPENDANT_DETAILS.DESC'|translate}}</article>
  <form [formGroup]="mySpendingsForm" id="mySpendingsForm" name="mySpendingsForm" class="mySpendingsForm">
    <section class="earnings-section  mb-3  pt-2">
      <p class="p-2"><b>{{'CMP.MY_SPENDINGS.MONTHLY_LIVING_EXPENSES'|translate}}</b>
        <br>
        <span>({{'CMP.MY_SPENDINGS.MONTHLY_LIVING_EXPENSES_HINT'|translate}})</span>
      </p>
      <div class="earnings-field ">
        <div class="flex-row p-2 ">
          <div class="flex-col-5">
            <label for="name" id="myDependantFormLb1">
              <div>{{ 'CMP.FORM_LABEL.AMOUNT' | translate}}
              </div>
            </label>
          </div>
          <div class="pr0 flex-col-7">
            <div class="form-control form-control-right">
              <i>$</i>
              <input type="text" class="input-control" appCurrencyInput maxLength="4" #monthlySalary formControlName="monthlySalary"
                value="0">

            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="earnings-section pt-2 mb-3">
      <p class="p-2"><b>{{'CMP.MY_SPENDINGS.YEARLY_AD_HOC_EXPENSES'|translate}}</b>
        <br>
        <span>({{'CMP.MY_SPENDINGS.YEARLY_AD_HOC_EXPENSES_HINT'|translate}})</span>
      </p>
      <div class="earnings-field ">
        <div class="flex-row p-2">
          <div class="pl0 col-5">
            <label for="name" id="myDependantFormLb1">
              <div>{{ 'CMP.FORM_LABEL.AMOUNT' | translate}}
              </div>
            </label>
          </div>
          <div class="pr0 flex-col-7">
            <div class="form-control form-control-right">
              <i>$</i>
              <input type="text" class="input-control" appCurrencyInput maxLength="4" #annualBonus formControlName="annualBonus"
                value="0">

            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="earnings-section pt-2 mb-3">
      <p class="p-2"><b>{{'CMP.MY_SPENDINGS.MONTHLY_HOME_LOAN_PAYMENT'|translate}}</b></p>
      <div class="earnings-field p-2">
        <div class="flex-row">
          <div class="pl0 col-5">
            <label for="name" id="myDependantFormLb1">
              <div>{{ 'CMP.MY_SPENDINGS.MORTAGE_PAYMENT_CPF' | translate}}
              </div>
            </label>
          </div>
          <div class="pr0 flex-col-7">
            <div class="form-control form-control-right">
              <i>$</i>
              <input type="text" class="input-control" appCurrencyInput maxLength="4" #otherIncome formControlName="otherIncome"
                value="0">

            </div>
          </div>
        </div>

        <div class="flex-row">
          <div class="pl0 col-5">
            <label for="name" id="myDependantFormLb1">
              <div>{{ 'CMP.MY_SPENDINGS.MORTAGE_PAYMENT_CASH' | translate}}
              </div>
            </label>
          </div>
          <div class="pr0 flex-col-7">
            <div class="form-control form-control-right">
              <i>$</i>
              <input type="text" class="input-control" appCurrencyInput maxLength="4" #otherIncome formControlName="otherIncome"
                value="0">

            </div>
          </div>

          <div class="flex-row ">
            <div class="pl0 col-5">
              <label for="gender" id="myProfileFormLbl2">{{ 'CMP.MY_SPENDINGS.HOME_TYPE' | translate}}</label>
            </div>
            <div class="flex-col-7 profile-form-grp">
              <div class="btn-group--toggle" ngbRadioGroup name="radioGender" formControlName="HomeType">
                <div class="flex-row section pl0 pr0 mb0">
                  <div class="flex-col-6">
                    <label ngbButtonLabel class="profile-form-btn--radio btn " [ngClass]="{'inline-error': submitted && myProfileForm.HomeType.invalid}"
                      id="myProfileFormLbl3">
                      <input ngbButton type="radio" value="male" id="myProfileFormInpt3"> {{ 'CMP.FORM_LABEL.HDB' |
                      translate}}
                    </label>
                  </div>
                  <div class="flex-col-6">
                    <label ngbButtonLabel class="profile-form-btn--radio btn female" [ngClass]="{'inline-error': submitted && myProfileForm.HomeType.invalid}"
                      id="myProfileFormLbl4">
                      <input ngbButton type="radio" value="female" id="myProfileFormInpt4"> {{ 'CMP.FORM_LABEL.PRIVATE' |
                      translate}}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="flex-row">
          <div class="pl0 col-5">
            <label for="name" id="myProfileFormLb1">
              <div>{{ 'CMP.MY_SPENDINGS.TO_PAY_OFF' | translate}}
              </div>
            </label>
          </div>
          <div class="p10 flex-col-7">
            <input type="text" [ngClass]="{'inline-error': submitted && myProfileForm.controls.name.invalid}" id="myProfileFormInpt3"
              class="form-control" #name formControlName="annualBonus">
          </div>
        </div>
        <p class="p-2 mt-2" [hidden]="!otherMortage" (click)="addOtherMortage()">{{'CMP.MY_SPENDINGS.ADD_OTHER_MORTAGE'|translate}} </p>
        
        <section [hidden]="otherMortage">
          <div class="p-2">
            <div class="text-left float-left"><b>{{'CMP.MY_SPENDINGS.OTHER_MORTAGE_PAYMENT'|translate}}</b>
            </div>
           <div class="text-right" (click)="addOtherMortage()">   <i class="text-right fa fa-trash"></i></div>
            
          </div>
         
          <div class="earnings-field p-2">
            <div class="flex-row">
              <div class="pl0 col-5">
                <label for="name" id="myDependantFormLb1">
                  <div>{{ 'CMP.MY_SPENDINGS.MORTAGE_PAYMENT_CPF' | translate}}
                  </div>
                </label>
              </div>
              <div class="pr0 flex-col-7">
                <div class="form-control form-control-right">
                  <i>$</i>
                  <input type="text" class="input-control" appCurrencyInput maxLength="4" #otherIncome formControlName="otherIncome"
                    value="0">

                </div>
              </div>
            </div>

            <div class="flex-row">
              <div class="pl0 col-5">
                <label for="name" id="myDependantFormLb1">
                  <div>{{ 'CMP.MY_SPENDINGS.MORTAGE_PAYMENT_CASH' | translate}}
                  </div>
                </label>
              </div>
              <div class="pr0 flex-col-7">
                <div class="form-control form-control-right">
                  <i>$</i>
                  <input type="text" class="input-control" appCurrencyInput maxLength="4" #otherIncome formControlName="otherIncome"
                    value="0">

                </div>
              </div>

              <div class="flex-row ">
                <div class="pl0 col-5">
                  <label for="gender" id="myProfileFormLbl2">{{ 'CMP.MY_SPENDINGS.HOME_TYPE' | translate}}</label>
                </div>
                <div class="flex-col-7 profile-form-grp">
                  <div class="btn-group--toggle" ngbRadioGroup name="radioGender" formControlName="HomeType">
                    <div class="flex-row section pl0 pr0 mb0">
                      <div class="flex-col-6">
                        <label ngbButtonLabel class="profile-form-btn--radio btn " [ngClass]="{'inline-error': submitted && myProfileForm.HomeType.invalid}"
                          id="myProfileFormLbl3">
                          <input ngbButton type="radio" value="male" id="myProfileFormInpt3"> {{ 'CMP.FORM_LABEL.HDB' |
                          translate}}
                        </label>
                      </div>
                      <div class="flex-col-6">
                        <label ngbButtonLabel class="profile-form-btn--radio btn female" [ngClass]="{'inline-error': submitted && myProfileForm.HomeType.invalid}"
                          id="myProfileFormLbl4">
                          <input ngbButton type="radio" value="female" id="myProfileFormInpt4"> {{ 'CMP.FORM_LABEL.PRIVATE'
                          |
                          translate}}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="flex-row">
              <div class="pl0 col-5">
                <label for="name" id="myProfileFormLb1">
                  <div>{{ 'CMP.MY_SPENDINGS.TO_PAY_OFF' | translate}}
                  </div>
                </label>
              </div>
              <div class="p10 flex-col-7">
                <input type="text" [ngClass]="{'inline-error': submitted && myProfileForm.controls.name.invalid}" id="myProfileFormInpt3"
                  class="form-control" #name formControlName="annualBonus">
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
    <section class="earnings-section pt-2 mb-3">
      <p class="p-2"><b>{{'CMP.MY_SPENDINGS.MONTHLY_CAR_LOAN_PAYMENT'|translate}}</b></p>
      <div class="earnings-field p-2">
        <div class="flex-row">
          <div class="pl0 col-5">
            <label for="name" id="myDependantFormLb1">
              <div>{{ 'CMP.FORM_LABEL.AMOUNT' | translate}}
              </div>
            </label>
          </div>
          <div class="pr0 flex-col-7">
            <div class="form-control form-control-right">
              <i>$</i>
              <input type="text" class="input-control" appCurrencyInput maxLength="4" #otherIncome formControlName="otherIncome"
                value="0">

            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="earnings-section pt-2 mb-3">
      <p class="p-2"><b>{{'CMP.MY_SPENDINGS.MONTHLY_OTHER_CAR_LOAN_PAYMENT'|translate}}</b></p>
      <div class="earnings-field p-2">
        <div class="flex-row">
          <div class="pl0 col-5">
            <label for="name" id="myDependantFormLb1">
              <div>{{ 'CMP.FORM_LABEL.AMOUNT' | translate}}
              </div>
            </label>
          </div>
          <div class="pr0 flex-col-7">
            <div class="form-control form-control-right">
              <i>$</i>
              <input type="text" class="input-control" appCurrencyInput maxLength="4" #otherMonthlyIncome
                formControlName="otherMonthlyIncome" value="0">

            </div>
          </div>
        </div>
        <div class="flex-row">
          <div class="pl0 col-5">
            <label for="name" id="myProfileFormLb1">
              <div>{{ 'CMP.MY_SPENDINGS.TO_PAY_OFF' | translate}}
              </div>
            </label>
          </div>
          <div class="pr0 flex-col-7">
            <input type="text" [ngClass]="{'inline-error': submitted && myProfileForm.controls.name.invalid}" id="myProfileFormInpt3"
              class="form-control" #name formControlName="annualBonus">
          </div>
        </div>
      </div>

    </section>


    <button type="button" (click)="goToNext(myDependantForm)" class="btn btn-primary btn__footer--fixed width100" id="prfBtn1">{{
      'LABEL.CONTINUE' |
      translate}}</button>
  </form>



</div>