<div class="container-fluid app-asset-allocation" >
  <div class="portfolio-allocation-details">
      <div class="flex-col-12 asset-allocation">
      <!-- bonds -->
      <app-allocation [assets]="assetAllocation.sectorAllocations" [colors]="colors"></app-allocation>
    </div>
   
    <div class="flex-col-12 annual-fees">
      <div class="title">Annual Fees</div>
      <app-annual-fees [feeDetails]="assetAllocation.feeDetails"></app-annual-fees>
     
    </div>
    <div class="faq_link">
      <a href="#">For more information, visit our FAQs.</a>
    </div>
  </div>
</div>