<div class="min-prod-info" [ngClass]="{'show': !toggleVisibility}">
    <div class="min-prod-info__block">
      <img  class="min-prod-info__block-icon" src="./assets/images/direct/product-category/{{productCategorySelectedLogo}}"/>
        <span class="min-prod-info__block-title">{{productCategorySelected}}</span>
        <span class="min-prod-info__block-subtitle">{{minProdSearch}}</span>
        <div class="min-prod-info__block-btn" (click)="editProdInfoForm()">
          <span class="min-prod-info__block-btn--edit"></span>
        </div>
      </div> 
</div>