    <div class="account-created-success-modal">
      <div class="custom-modal-backdrop"></div>
      <div class="custom-modal-wrapper">
        <!-- <div class="custom-modal--icon"> -->
          <!-- <img src="../../../assets/images/account-created-icon.svg" id="custModalImg1" /> -->
        <div class="custom-modal-content">
          <div>
            <img src="../../../assets/images/investment-account/investment_Account_Created.svg" id="add_submit_custModalImg2" />
          </div>
          <p class="custom-modal--title mt20" id="upload-document-later-lab">{{ 'UPLOAD_DOCUMENTS_LATER.UPLOAD_DOCUMENTS_LATER_PAGE_HEADING' | translate}}
            </p>
            <p class="custom-modal--desc" id="upload-document-later-content">{{ 'UPLOAD_DOCUMENTS_LATER.UPLOAD_DOCUMENTS__LATER_PAGE_DESC' | translate}}
            </p>
          <button (click)="goToNext()" id="upload-document-later-back_to_dash_board" type="button" class="btn btn__footer--fixed btn-primary width100">{{ 'UPLOAD_DOCUMENTS_LATER.BACK_TO_DASHBOARD' | translate}}</button>
        </div>    
      </div>
    </div>