@import '../../../_variables.scss';
@import '../../../_mixins.scss';

app-risk-profile {
  .hide-custom-modal {
    display: none;
  }

  .fade-out-animation {
    -webkit-animation: fadeOut 1000ms ease-in-out;
    /* Chrome, Safari, Opera */
    animation: fadeOut 1000ms ease-in-out;
    opacity: 0;
    z-index: 9999;
    position: fixed;
  }

  /* Chrome, Safari, Opera */
  @-webkit-keyframes fadeOut {
    0% {
      opacity: 0.8;
    }

    100% {
      opacity: 0;
    }
  }

  /* Standard syntax */
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .custom-modal-backdrop {
    background: $white-color;
    position: fixed;
    opacity: 0.95;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
  }

  .custom-modal-wrapper {
    top: 30px;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    text-align: center;
    @extend .flex;
    @extend .justify-center;
    @extend .align-center;
  }

  .custom-modal-content {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .custom-modal--icon {
    width: 100%;
    height: 100%;
  }

  .custom-modal--title {
    color: $custom-modal-title-color;
    font-family: $muli-regular;
    font-size: 36px;
    letter-spacing: -0.4px;
    line-height: 1.11;
    margin-top: 20px;
  }

  .custom-modal--desc {
    color: $custom-modal-desc-color;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.2px;
    font-family: $muli-regular;
    padding: 0 35%;

    @include allmobiles {
      padding: 0 10%;
    }
  }

  .risk-profile-block {
    .web-title {
      font-family: $muli-semi-bold;
      font-size: 36px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.4px;
      text-align: center;
      color: #00a7a7;
      padding:30px;
    }

    .container-fluid {
      padding-top: 0px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;

      @include allmobiles {
        padding-top: 60px !important;
      }
    }

    .fin-accessment-block__tab-container {
      @extend .flex;
      @extend .space-btwn;
      width: 100%;

      .fin-accessment-block__tab {
        width: calc(50% - 10px);
        opacity: 0.2;
        padding-right: 10px;
        background-color: $app-backgrnd-secondary-color;
        min-height: 5px;

        &.active {
          opacity: 1;
        }
      }
    }

    .risk-profile-block__content {
      .portfolio-img{
        img{
          z-index: 99;
          margin-right: -20px;
          position: relative;
          &:last-child{
            z-index: 1;
          }
          &.secondPortfolio{
            margin-right: 0px !important;
          }
         }
      }
     @include tablet {
        .banner-image img {
          max-width: 90%;
        }
      }

      @include allmobiles {
        .banner-image img {
          max-width: 70%;
        }
      }

      @include iPadProPortrait {
        .banner-image img {
          max-width: 80%;
        }
      }
    }

    .risk-profile-block__content__desc {
      text-align: left;
      position: relative;
      padding: 30px 30px 65px !important;
      top: 260px;
       @include allmobiles{
        padding: 0px 30px 65px !important;
        top: 220px
       }
      @include iPadLandscape {
        top: 260px;
      }

      @include iPadProPortrait {
        top: 265px;
      }

      @include iPadProLandscape {
        top: 265px;
      }

      @include tablet {
        margin-top: 0px;
      }
    }

    .risk-profile-block__content__heading {
      opacity: 0.55;
      font-family: $muli-regular;
      font-size: 36px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.4px;
      color: $white-color;
      margin-bottom: 15px;
    }

    .risk-profile-block__content__title {
      font-family: $muli-semi-bold;
      font-size: 24px;
      line-height: normal;
      letter-spacing: -0.17px;
      color: $teal-color;
      font-weight: bold;
      text-align: center;
      margin: 0;
      padding-top: 13px;
    }

    .risk-profile-block__content__sub-title {
      font-family: $muli-regular;
      font-size: 16px;
      font-style: normal;
      font-stretch: normal;
      line-height: 21px;
      letter-spacing: -0.15px;
      color: $white-color;
      margin-bottom: 30px;
    }

    .btn-proceed {
      font-family: $muli-bold !important;
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.25px;
      text-align: center;
      color: $white-color;
     }
     .portfolio_btn_produced{
      border-radius: 6px;
      box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      font-family: $muli-bold;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: -0.3px;
      color: #00a7a7;
    

      &:active {
        outline: none;
        background-color: #ffffff !important;
        color: #00a7a7 !important;
      }
      &:hover {
        outline: none;
      }
      &:focus {
        outline: none;
        background-color: #ffffff !important;
        color: #00a7a7 !important;
      }
      .portfolio_bts{
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
      }
     }
     .portfolio-btn{
      width: 65px;
      height: 65px;
      padding: 5px;
      }
    
  }

  .banner-image img {
    max-width: 100%;
    height: auto;
    margin: auto;
  }

  .risk-head {
    font-size: 19px;
    font-family: $muli-bold;
    font-weight: bold;
    letter-spacing: -0.18px;
    margin-bottom: 10px;
  }

  .risk-profile-title-block {
    background-color: $white-color;
    padding-bottom: 35px;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    @include allmobiles{
    padding-top: 15px;
    }
  }

  .risk-profile-title-block.invert {
    background: none;
    padding-bottom: 0px;

    .risk-profile-block__content__title {
      color: $white-color;
    }
  }
}
