@import "../../../_variables.scss";
@import "../../../_mixins.scss";

app-recommended-card-modal{
    .modal-body-title{
        font-size: 12px;
        font-family: $muli-regular;
        line-height: 15px;
        color: #5E5E5E;
        margin-bottom: 20px;
    }
    .modal-body-message{
        .card-details{
            font-family: $muli-regular;
            font-size: 16px;
            line-height: 22px;
            color: #5E5E5E;
            .card-title{
                font-family: $muli-bold;
                font-size: 22px;
                line-height: 28px;
                letter-spacing: -0.196875px;
                color: #000000;
                margin-bottom: 10px;
            }
            .card-desc{
                font-family: $muli-bold;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.00045px;
                color: #000000;
                margin-bottom: 40px;
            }
            .top-image-container{
                width: 375px;
                height: 250px;
                display: flex;
                margin: 0 auto;
            }
        }
        .btn-orange{
            font-family: $muli-bold;
            font-size: 18px;
            width: 335px;
            background-color: $orange-color !important;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
            border-radius: 6px;
            padding: 14px 0;
            @include allmobiles{
              width: 100%;
              margin: 0;
            }
            @include iphone12{
              width: 300px;
              margin: 0 5px;
            }
            .btn-icon{
              height: 12px;
              width: 21px;
              margin-left: 12px;
            }
          }
    }
}