<div class="modal-header">
</div>
<div class="modal-body white-bg">
  <div class="modal-body-title">
    <div id="errorModeltitle">{{cardContent?.startDate}}</div>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="dismissCard(false)">
    <span aria-hidden="true" id="errorModelCloseIcon"></span>
  </button>
  <div class="modal-body-message " id="errorModelMessage">
    <div class="card-details">
      <div class="card-title">{{cardContent?.headLine}}</div>
      <div class="card-subtitle">{{cardContent?.subTitle}}</div>
      <div class="top-image-container" *ngIf="cardContent.topImageLink">
        <img src="{{cardContent?.topImageLink}}" alt="" />
      </div>
      <div class="card-desc" [innerHtml]="cardContent?.content">
      </div>
    </div>
    <div class="row">
      <div class="flex-col-12 text-center mt20" *ngIf="cardContent.interactionButtonName">
        <button type="button" class="btn-orange" id="errorModeButton" (click)="nextStep()">
          {{cardContent?.interactionButtonName}}
        </button>
      </div>
      <div class="remove-modal" (click)="dismissCard(true)">
        {{'RECOMMENDED_CARD.MODAL.DONT_SHOW_BTN' | translate}}
      </div>
    </div>
  </div>
</div>