@import '../../../../variables';
@import '../../../../_mixins.scss';

app-inv-personal-info {
  .personal-info {
    // .inline-error-inv {
    //   color: $inline-error-border-color;
    //   border: 1px solid $inline-error-border-color !important;
    //   color: $inline-error-border-color;

    //   input {
    //     color: $inline-error-border-color !important;
    //   }
    // }

    .btn-group--toggle {
      label {
        padding: 0.9rem;
        font-size: 16px;
      }

      .btn-outline-primary {
        &.disabled {
          cursor: not-allowed;
          border-color: $radio-btn-disabled-border-color !important;

          &.active {
            border: 1px solid $radio-btn-active-border-color !important;
          }
        }
      }

      .fixed-btn--sm {
        border-color: $radio-btn-border-color;
      }
    }

    label {
      font-size: 18px;
      font-family: $muli-semi-bold;
      padding-right: 5px;
    }

    .sub-label {
      font-size: 14px;
    }

    .input-control {
      text-align: left;
    }

    // .step-indicator-container {

    //   padding: 20px 0px;
    //   position: relative;

    //   .container-fluid {
    //     padding-top: 0px;
    //     padding-bottom: 0px;
    //   }

    //   @include allmobiles {
    //     top: 60px;
    //     background-color: $white-color;
    //     padding: 10px 0px;
    //   }

    //   @include stepindicator-desktop-extraspace;
    // }

    // .container-fluid {
    //   padding-top: 16px;

    //   @include allmobiles {
    //     padding-top: 80px;
    //   }
    // }

    .form-control {
      &.with-button {
        padding: 0.5rem;
        padding-left: 0.8rem;

        input {
          margin-top: 6px;
        }
      }

      &:disabled {
        color: $form-control-disabled-txt-color !important;
        -webkit-text-fill-color: $form-control-disabled-txt-color !important;
        background-color: $form-control-disabled-bg-color !important;
        opacity: 1 !important;
      }
    }

    .input-group-append {

      .btn-primary {
        box-shadow: none !important;

        &:disabled {
          color: $inv-btn-disabled-txt-color !important;
          background-color: $inv-btn-disabled-bg-color !important;
          opacity: 1 !important;
        }
      }
    }

    .btn {
      &:disabled {
        color: $inv-btn-disabled-txt-color !important;
        background-color: $inv-btn-disabled-bg-color !important;
        opacity: 1 !important;
      }
    }

    input::placeholder {
      color: $form-input-placeholder-txt-color !important;
      line-height: 1.25;
      letter-spacing: -0.2px;
    }

    // .white-bg-checkbox {
    //   background-color: $white-color;
    //   padding: 10px 18px 10px 18px;
    //   border-radius: 6px;
    //   font-family: $muli;

    //   label {
    //     padding: 0px 0 0px 35px;
    //   }

    //   .option-row {
    //     margin-left: 0px;
    //   }

    //   .option-title {
    //     color: $black-color;
    //     font-size: 18px;
    //   }

    //   .option-desc {
    //     color: $dark-grey-color;
    //     font-family: $muli-semi-bold;
    //     font-size: 16px;
    //   }
    // }

    .fixed-btn--sm {
      color: $fixed-btn-txt-color;
    }

    .btn__footer--fixed {
      font-family: $muli-bold !important;
    }
  }

  [placeholder]:empty::before {
    content: attr(placeholder);
    color: $form-input-placeholder-txt-color;
  }

  [placeholder]:empty:focus::before {
    content: "";
  }

  // .content-editable {
  //   border: 1px solid $content-editable-border-color;
  //   border-radius: 6px;
  //   padding: .90rem;
  //   background: $content-editable-bg-color;
  //   color: $content-editable-txt-color;
  //   word-break: break-word;
  //   min-height: 52px;

  //   &.fullName-disabled {
  //     color: $content-editable-disabled-txt-color !important;
  //     -webkit-text-fill-color: $content-editable-disabled-txt-color !important;
  //     background-color: $content-editable-disabled-bg-color !important;
  //     opacity: 1 !important;
  //   }

  //   &.view-mode {
  //     background-color: $content-editable-view-mode !important;
  //   }

  //   &.inline-error {
  //     color: $inline-error-border-color !important;
  //     background: $inline-error-bg-color;

  //     &[placeholder]:empty::before {
  //       color: $inline-error-border-color !important;
  //     }
  //   }
  // }
}
