@import '../../../../_variables.scss';
@import '../../../../_mixins.scss';

app-additional-declaration1 {
  .app-add-step1 {
    .dropdown-control {
      .dependent-count {
        color: $text-color-secondary;
        margin-left: 4px;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.2px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
      }
    }

    label {
      font-family: $muli-semi-bold;
      font-size: 18px;
      letter-spacing: -0.3px;
      padding-right: 5px;
    }

    .dropdown-control .dropdown-menu.show {
      right: 0 !important;
      overflow: auto;
      height: calc(70vh);
    }

    .btn-group--toggle{
      label{
        font-size: 16px;
        font-family: $muli-regular;
      }
    }

    .dropdown-item {
      white-space: normal;
    }

    .fixed-btn--sm {
      color: $white-color;
    }

    .text {
      font-family: $muli-regular;
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: -0.2px;
      text-align: center;
      padding-left: 17px;
      padding-right: 14px;
    }

    .step-indicator-container {
      padding: 20px 0px;
      top: 76px;
      @include allmobiles{
        background-color: $white-color;
        padding: 10px 0px;
        top: 60px;
        position: relative;
      }
      .container-fluid {
        padding-top: 0px;
        padding-bottom: 0px;
      }    
      @include stepindicator-desktop-extraspace;
    }
    .container-fluid {
      padding-top: 16px;
      @include allmobiles{
      padding-top: 80px;
    }
  }
    .tooltip-icon {
      background: url('/assets/images/investment-account/tin-info.svg') no-repeat;
      height: 20px;
      width: 20px;
      cursor: pointer;
      display: block;
      margin-top: 3px;
    }

    .country_text {
      width: 100px;
      height: 69px;
      font-family: $muli-semi-bold;
      font-size: 18px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.3px;
      color: $white-color;
    }

    .tin_question_text {
      font-family: $muli-semi-bold;
      font-size: 18px;
      letter-spacing: -0.3px;
      color: $white-color;
      margin-bottom: 12px;
    }

    .pep_text {
      font-family: $muli-regular;
      font-size: 18px;
      letter-spacing: -0.3px;
      color: $white-color;
      margin-bottom: 12px;
    }

    .disabled {
      cursor: not-allowed;
      border-color: $fixed-btn-brdr-color;
    }

    .inline-error-inv {
      color: $inline-error-border-color;
      border: 1px solid $inline-error-border-color !important;
      color: $inline-error-border-color;

      input {
        color: $inline-error-border-color !important;
      }
    }

    .input-control {
      text-align: left;
    }

    .form-group {
      .full_name {
        font-size: 18px;
        letter-spacing: -0.3px;

        .full_name_sub {
          font-size: 14px;
        }
      }

      .dropdown-control {
        .btn {

          &:disabled,
          &.disabled {
            color: $teal-color !important;
            -webkit-text-fill-color: $teal-color !important;
            background-color: $inv-btn-disabled-bg-color !important;
            opacity: 1 !important;

            &:hover {
              background-color: $inv-btn-disabled-bg-color !important;
            }
          }
        }
      }
    }

    .form-control {
      &.with-button {
        padding: 0.5rem;
        padding-left: 0.8rem;
      }

      &:disabled,
      &.disabled {
        color: $teal-color !important;
        -webkit-text-fill-color: $teal-color !important;
        background-color: $inv-btn-disabled-bg-color !important;
        opacity: 1 !important;

        &:hover {
          background-color: $inv-btn-disabled-bg-color !important;
        }

        input {
          background-color: $inv-btn-disabled-bg-color !important;
          padding-top: 6px;
          padding-bottom: 6px;
        }

        .button {
          display: none;
        }
      }
    }

    .btn {
      &.btn-secondary {
        padding: 0.5rem;
        font-size: 16px;
        background-color: $secondary-action-color;
        color: $white-color;
        border: none;
        font-family: $muli-semi-bold;

        &.right {
          float: right;
        }

        &:hover {
          background-color: $secondary-action-color !important;
          border: none !important;
          color: $white-color !important;
        }

        &:focus {
          background-color: $secondary-action-color !important;
          border: none !important;
          color: $white-color !important;
        }

        &:active {
          background-color: $secondary-action-color !important;
          border: none !important;
          color: $white-color !important;
        }
      }
    }

    .white-bg-checkbox {
      background-color: $white-color;
      padding: 10px 18px 10px 18px;
      border-radius: 6px;
      font-family: $muli;

      label {
        padding: 0px 0 0px 35px;
      }

      .option-row {
        margin-left: 0px;
      }

      .option-title {
        color: $black-color;
        font-size: 18px;
      }

      .option-desc {
        color: $dark-grey-color;
        font-family: $muli-semi-bold;
        font-size: 16px;
      }
    }

    .autofill-link {
      border: 1px solid $secondary-action-color;
      padding: 23px 34px;
      background-color: $white-color;
      border-radius: 6px;
      margin-bottom: 20px;
      cursor: pointer;
      display: flex;

      .autofill-logo {
        width: 35%;
      }

      .autofill-text {
        width: 65%;
        font-family: $muli-bold;
        font-size: 18px;
        color: $inline-error-border-color;
      }
    }

    .inline-error {
      .btn {
        &.btn-secondary {
          background-color: $secondary-action-color !important;
        }
      }
    }

    .inline-error-inv {
      color: $inline-error-border-color;
      border: 1px solid $inline-error-border-color !important;
      color: $inline-error-border-color;

      input {
        color: $inline-error-border-color !important;
      }
    }

    .dropdown-menu.show {
      right: 0 !important;
      overflow: auto;
      height: auto;
      max-height: 264px;
    }

    .dropdown-item {
      white-space: normal;
      word-break: break-word;
    }

    .dropdown-control .btn-dropdown {
      padding-right: 27px;
      max-height: 52px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .office-addr-lbl {
      margin-top: 25px;
      margin-bottom: 24px;
      font-size: 18px;
    }

    .postal-code-control {
      display: flex;

      div.control {
        display: flex;
        flex: 3;
      }

      div.button {
        display: flex;
        flex: 2;
      }
    }

    .inline-error {
      .btn {
        &.btn-secondary {
          &:active {
            border: none !important;
            color: $white-color;
          }

          background-color: $secondary-action-color !important;
        }
      }
    }
  }
   [placeholder]:empty::before {
  content: attr(placeholder);
 
   color: $text-color-secondary
}

[placeholder]:empty:focus::before {
  content: "";
}
  .content-editable {
    border: 1px solid #94CCCC;
    border-radius: 6px;
    padding: .90rem;
    background: $white-color;
    color: $app-backgrnd-color;
    word-break: break-word;
    min-height: 52px;
    &.view-mode {
      background-color: rgba(0, 167, 167, 0.15) !important;
    }
    &.inline-error {
      color: #e57300 !important;
      background: #fff3e9;
      &[placeholder]:empty::before {
        color: #e57300 !important;
      }
    }
}
}
