@import '../../../../variables';
@import '../../../../mixins';

.my-info {
    .modal-body {
        @include desktop {
            width: 375px !important;
            margin: 0 auto !important;
        }

        .modal-body-title {
            font-family: $muli-bold;
        }
    }
}

.label {
    color: #2d8289;
    font-size: 17px;
    font-family: "Muli Semi Bold", sans-serif;
    word-break: break-word;
}
.promo-success{
    color: #5e5e5e;
    font-size: 16px;
    font-family: $muli-regular, sans-serif;
}
#success_promo{
    font-size: 18px;
}
.email-promo{
    color: #00aaa8;
    font-family: $muli-bold;
}
.yes_r_no {
    display: flex;
    justify-content: space-between;
    .btn{
        background-color: #fff;
        color: #00a7a7;
        font-family: $muli-regular;
        font-weight: 100;
        font-size: 22px;
        letter-spacing: -0.2px;
    }
    .btn-primary {
        background-color: #00a7a7;
        color: #fff;
    }
}

.confirmation-warning{
    span{
        line-height: 1.31;
        letter-spacing: -0.2px;
        color: #5e5e5e;
        &:first-child{
            font-family: $muli-semi-bold;
            font-size: 18px; 
            color: #009999;
        }
    }
}
.hyperlink_color{
    font-weight: bold;
    color: #ff9c39;
}

.login-mail{
    line-height: 20px;
    text-align: center;
    color: $teal-color;
    margin-top: 20px;
    letter-spacing: -0.16px;
    a{
        text-decoration: underline !important;
        cursor: pointer;
    }
}
.enter-mail{
    margin-top: 5px;
}

.email-sent {
    text-align: center;
    font-weight: bolder;
}
.tooltipButtonLabel {
    font-family: $muli-bold!important;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.17px;
    text-align: center;
    color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15)!important;
    border: solid 1px #00a7a7!important;
    background-color: #00a7a7!important;
}