@import '../../../../variables';
@import '../../../../mixins';

.label {
    color: #2d8289;
    font-size: 17px;
    font-family: "Muli Semi Bold", sans-serif;
}
.promo-success{
    color: #2d8289;
    font-size: 17px;
    font-family: "Muli Semi Bold", sans-serif;
}
.email-promo{
    color: #00a7a7;
    font-family: $muli-regular;
}
.yes_r_no {
    display: flex;
    justify-content: space-between;
    .btn{
        background-color: #fff;
        color: #00a7a7;
        font-family: $muli-regular;
        font-weight: 100;
        font-size: 22px;
        letter-spacing: -0.2px;
    }
    .btn-primary {
        background-color: #00a7a7;
        color: #fff;
    }
}

.confirmation-warning{
    span{
        line-height: 1.31;
        letter-spacing: -0.2px;
        color: #5e5e5e;
        &:first-child{
            font-family: $muli-semi-bold;
            font-size: 18px; 
            color: #009999;
        }
    }
}
.hyperlink_color{
    font-weight: bold;
    color: #ff9c39;
}