<div class="annual-fee-desc">
  <div *ngFor="let fee of feeDetailsValues; let i = index">
    <div class="flex-row">
      <div class="flex-col-8" [ngClass]="{'wise-saver-annual-fee': portfolioTypeFlag}">
        <span>{{fee.feeName}}</span>
        <div class="text-lyt" *ngIf="fee.comments">({{fee.comments}})</div>
      </div>
      <div *ngIf="fee.percentage" class="fee_value">{{fee.percentage}}
        <span *ngIf="false">*</span></div>
    </div>
  </div>
  <div class="fee_des flex-col-12" *ngIf="fundExpensiveTranslater"
    innerHTML="{{'PORTFOLIO_RECOMMENDATION.EXPENSIVE_RATIO' | translate : fundExpensiveTranslater}}">
  </div>
</div>
