<div class="annual-fee-desc">
  <div class="flex-row" *ngFor="let fee of feeDetails; let i = index">
    <div class="flex-col"><span>{{fee.feeName}}</span><span class="text-lyt"
        *ngIf="fee.comments">({{fee.comments}})</span></div>
    <div class="fee_value">{{fee.percentage}}<span *ngIf="false">*</span></div>
    <div class="flex-col-12 mt10" *ngIf="false">
      <div class="announcement col-md-8 col-12">
        <span><img src="../../../assets/images/announcement.svg" alt="" /></span>
        <span>*Start investing by <u>31st May 2019</u> and enjoy only 0.50% per annum advisory fee (usual 0.65% per
          annum) until 31st Dec 2019!</span>
      </div>
    </div>
  </div>
</div>
