@import '../../../../variables';
@import '../../../../mixins';
.risk-title {
    font-family: $muli-bold;
    font-size: 21px;
}

.back-btn {
    background-image: url('/assets/images/back-web.svg');
    width: 43px;
    height: 43px;
    cursor: pointer;
    position: absolute;
    top: 90px;
    left: 20px;
    background-repeat: no-repeat;
    z-index: 3;
}

.intro-block__content {
    @include desktop {
        margin-bottom: 90px;
    }
}

.risk-acknlg-desc-wrapper {
    display: flex;
    justify-content: center;
    .risk-acknlg-desc {
        text-align: center;
        position: fixed;
        bottom: 100px;
        padding: 0 30px;
        font-size: 18px;
        @include desktop {
            padding: 0 35%;
            position: absolute;
            bottom: 75px;
        }
    }
}