@import '../../../variables';
@import '../../../mixins';
app-life-protection {
  @include tablet {
    .dependent-count {
      justify-content: space-between;
      label {
        margin-right: 0 !important;
      }
    }
  }
  .dropdown-control {
    .btn-dropdown {
      &:active {
        background: $white-color;
      }
      @include allmobiles {
        &:active {
          background: $white-color;
          color: $teal-color;
        }
      }
    }
  }
}
