@import '../../../variables';
@import '../../../mixins';
app-life-protection {
  @include tablet {
    .dependent-count {
      justify-content: space-between;
      label {
        margin-right: 0 !important;
      }
    }
  }
  @include  iPadProLandscape {
    .col-lg-4 {
      .dropdown-control {
        width: 170px;
      }
    }
  }
  @include  iPadProPortrait {
    .col-lg-4 {
      .dropdown-control {
        width: 170px;
      }
    }
  }
}
