body {
    background-color: #00a7a7;
    color: #ffffff;
    text-align: center;
    font-family: 'Muli';
    padding: 0;
    margin: 0;
}
.wrapper {
    padding: 100px 30px 20px 30px;
    max-width: 1024px;
    margin: 0 auto;
}
.header-title {
    font-family: Muli;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    margin-bottom: 10px;
}
.header-desc {
    font-family: Muli;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.22px;
    text-align: center;
}
.container-image img {
    width: 540px;
    height: 450px;
}
.footer {
    text-align: left;
}
.footer-top {
    display: flex;
    align-items: center;
}
.footer-logo img {
    width: 197px;
    height: 50px;
    object-fit: contain;
}
a span.footer-contact {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    margin-left: 45px;
    margin-top: 20px;
}
.footer-contact img {
    margin-right: 10px;
}
.footer-bottom {
    font-family: Muli;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: 0.01px;
    margin-top: 20px;
}
@media (min-width: 320px) and (max-width: 567px) {
    .wrapper {
        padding: 100px 30px 20px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: auto;
        height: 80vh;
    }
    .header-title {
        font-size: 24px;
    }
    .header-desc {
        font-size: 15px;
    }
    .container-image img {
        width: 288px;
        height: 240px;
    }
    .footer-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer-logo img {
        width: 158px;
        height: 40px;
        object-fit: contain;
    }
    a span.footer-contact {
        margin-top: 10px;
    }
}