<div class="container-fluid max-width--1024 invest-web-width">
  <div class="content">
    <div class="row">
      <div class="col-12">
        <div class="signup-wrapper">
          <h2 class="prelogin-wrapper__title order1 sm-order2 mb25" id="post_login_welcometxt_lbl">{{ 'POSTLOGIN.TITLE' | translate}} </h2>
          <div class="signup-wrapper__header-icon order3 sm-order1"><img id="pos_login_img" src="assets/images/createAccount-icon.svg" /></div>
        </div>
      </div>
      <div class="col-12">
        <div class="widgets">
          <div class="widget" *ngIf="showSingPass && isInvestmentMyInfoEnabled">
            <div class="widget-title">{{ 'POSTLOGIN.APPLY_USING_MYINFO' | translate}}</div>
            <div class="widget-body flex-row">
              <div class="desc">{{ 'POSTLOGIN.AUTOFILL_QUICKLY' | translate}}</div>
              <div class="flex-col-12 stretch">
                <div class="flex-col-12">
                    <app-sing-pass [label]="singPassLinkTitle" [position]="'postlogin'"></app-sing-pass>
                </div>
              </div>
            </div>
          </div>
          <div class="widget">
              <div class="widget-title">{{ 'POSTLOGIN.APPLY_WITHOUT_MYINFO' | translate}}</div>
              <div class="widget-body flex-row">
                <div class="desc">{{ 'POSTLOGIN.FILL_MANUALLY' | translate}}</div>
                <div class="flex-col-12 stretch">
                  <div class="flex-col-12">
                      <div class="flex-col autofill-link postlogin" (click)="myInfoManual()">
                        <div class="autofill-text">{{ 'POSTLOGIN.MANUALLY' | translate}}</div>
                        <div class="autofill-estimation">{{ 'POSTLOGIN.ESTIMATE_TIME' | translate}}</div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>