<div class="content">
  <div class="container">
    <img id="" [ngClass]="sufficient ? 'success-img' : 'insufficient-success-img'" src="assets/images/investment-account/owl-success-tick.svg" alt=""/>
    <div class="buy-request-submitted">{{ 'TOPUP_REQUEST.BUY_REQUEST_SUBMITTED' | translate}}</div>
    <div class="buy-request-msg">{{ 'TOPUP_REQUEST.ONE_TIME_MSG' | translate}}</div>
  </div>
  <button (click)="goToNext()" id="" type="button"
    class="btn btn__footer--fixed btn-primary width100">
    {{ 'TOPUP_REQUEST.OK_GOT_IT' | translate}}
  </button>
</div>