@import '../../../variables';
@import '../../../mixins';
app-cmp-my-profile {
  #dropdownNationality {
    text-transform: capitalize;
  }
  .dob-valid-error {
    color: #ff9141 !important;
    position: relative;
    font-family: $muli-italic;

    .dob-alert-icon {
      width: 34px;
      height: 34px;
      background: url("/assets/images/comprehensive/error-icon/exclamation_alert_icon.svg");
      background-repeat: no-repeat;
      border: 0;
      position: absolute;
      left: 1%;
      top: 1%;
    }

    .dob-alert-text {
      margin-left: 10%;
    }  
  } 
  .inline-error input.form-control::placeholder {
    color: #e57300 !important;
    border: none !important;
    }
    .fixed-btn--sm-comprehensive.inline-error {
      background: #fff3e9 !important;
      }

  .myinfo-block{
    background: $black-squeeze-grey-color;
    border-radius: 6px;
    padding: 24px 50px;
    font-family: $muli-bold;
    font-size: 16px;
    line-height: 19px;
    color: $black-color;
    text-align: center;
    @include allmobiles{
      padding: 22px 10px 20px;
      text-align: left;
      margin-bottom: 10px;
    }
    .myinfo-desc{
      max-width: 450px;
      margin: 0 auto;
      @include allmobiles{
        padding: 0 10px;
      }
    }
    .retrieval-date{
      font-family: $muli-regular;
      margin: 10px 0 0;
      font-size: 14px;
      line-height: 17px;
      @include allmobiles{
        padding: 0 10px;
      }
    }
    .auto-fill-cpf {
      height: 47px;
      width: 315px;
      display: flex;
      margin: 15px auto 0;
      @include allmobiles {
        height: auto;
        width: 100%;
      }
    }
    
    .auto-fill-logo {
      height: auto;
      object-fit: contain;
      cursor: pointer;
      width: 100%;
      @include allmobiles {
       width: 100%;
      }
    }
  }
}
