<div class="container-fluid my-profile-comprehensive max-width--1024 ">
   


  <section classs="p-2">
    <h5 class="text-center">{{'GETTING_STARTED.HI'|translate }} Kelvin NG</h5>
    <p class="text-center">{{'GETTING_STARTED.HEADER'|translate }}</p>
    <img class="owl-img" src="/assets/images/value_prop/high-tech.svg" />
    <article class="text-center">
      {{'GETTING_STARTED.DESC'|translate}}
    </article>
  </section>
  <form name="myProfileForm" [formGroup]="myProfileForm" >
    <div class="form-group-single-column  flex-col p-2 mt-3 myProfileForm">
      <div class="flex-row p-2">
        <div class="pl0 col-5">
          <label for="name" id="myProfileFormLb1">
            <div>{{ 'FORM_LABEL.NAME' | translate}}
            </div>
          </label>
        </div>
        <div class="pr0 col-7">
          <input type="text" [ngClass]="{'inline-error': submitted && myProfileForm.controls.name.invalid}" id="myFamilyFormInpt3"
            class="form-control" #name formControlName="name">
        </div>
      </div>
      <div class="flex-row p-2">
        <div class="pl0 col-5">
          <label for="gender" id="myProfileFormLbl2">{{ 'FORM_LABEL.I_AM_A' | translate}}</label>
        </div>
        <div class="flex-col-7 profile-form-grp">
          <div class="btn-group--toggle" ngbRadioGroup name="radioGender" formControlName="gender">
            <div class="flex-row section pl0 pr0 mb0">
              <div class="flex-col-6">
                <label ngbButtonLabel class="direct-form-btn--radio btn " [ngClass]="{'inline-error': submitted && myProfileForm.gender.invalid}"
                  id="myProfileFormLbl3">
                  <input ngbButton type="radio" value="male" id="myProfileFormInpt3"> {{ 'LABEL.MALE' |
                  translate}}
                </label>
              </div>
              <div class="flex-col-6">
                <label ngbButtonLabel class="direct-form-btn--radio btn female" [ngClass]="{'inline-error': submitted && myProfileForm.gender.invalid}"
                  id="myProfileFormLbl4">
                  <input ngbButton type="radio" value="female" id="myProfileFormInpt4"> {{ 'LABEL.FEMALE' |
                  translate}}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-row p-2">
        <div class="pl0 col-5">
          <label for="nationality" id="myProfileFormLbl5">
            <div>{{ 'FORM_LABEL.NATIONALITY' | translate}}</div>
            <!-- <div class="with-help-icon">{{ 'DEPENDANT_DETAILS.ABOUT_ME.FORM.NUMBER' | translate}} <span class="help-icon"
                  (click)="openToolTipModal()"></span></div> -->
          </label>
        </div>
        <div class="pr0 flex-col-7">
          <div class="dropdown-control" [ngClass]="{'inline-error': submitted &&  myProfileForm.controls.relationship.invalid}">
            <div ngbDropdown id="nationalityDropDown">
              <button type="button" class="btn btn-dropdown" id="dropdownNationality" ngbDropdownToggle>
                <span *ngIf="nationality === ''">{{'COMMON.LBL_SELECT' | translate}}</span>
                <span *ngIf="nationality !== ''">{{nationality}}</span>
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownNationality">
                <button class="dropdown-item" (click)="selectNationality('','')">Select</button>
                <button type="button" class="dropdown-item" *ngFor="let nationality of nationalityList; let i=index"
                  (click)="selectNationality(nationality, 'html')">
                  {{nationality.text}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-row p-2">
        <div class="pl0 col-5">
          <label for="age" id="myProfileFormLbl6">
            <div>{{ 'FORM_LABEL.AGE_NEXT_BIRTHDAY' | translate}}
            </div>
          </label>
        </div>
        <div class="pr0 col-7 input-group">
          <input type="text" [ngClass]="{'inline-error': submitted && myProfileForm.age.invalid}" id="myProfileFormInpt6"
            class="form-control" #age formControlName="age">
        </div>
      </div>

     
    </div>
    <button type="button" [disabled]="!myProfileForm.valid" (click)="goToNext(myProfileForm)" class="btn btn-primary mt-4 width100"
    id="prfBtn1">{{ 'FORM_LABEL.SAVE_AND_CONTINUE' |
    translate}}</button>
  </form>
</div>
