<div  class="container-fluid--comprehensive max-width--1024 comprehensive">
  <div class="text-center">
    <img class="owl-img" src="/assets/images/createAccount-icon.svg" />
  </div>
  <div class="comprehensive__page-heading">{{'GETTING_STARTED.HI'|translate }} {{userDetails.firstName}}
    {{userDetails.lastName}}</div>
  <div [hidden]="registeredUser" class="comprehensive__page-sub-heading">{{'GETTING_STARTED.HEADER'|translate }}</div>
  <div [hidden]="!registeredUser" class="comprehensive__page-sub-heading">{{'GETTING_STARTED.WELCOME_BACK'|translate }}</div>
  <div class="comprehensive__page-content">{{'GETTING_STARTED.DESC'|translate}}</div>
  <form  id="myProfileForm" name="myProfileForm" [formGroup]="myProfileForm">
    <div class="form-group-with-bg">
      <!--Form Content-->
      <div class="form-group-with-bg--content">
        <div class="flex-row ">
          <div class="pl0 col-5">
            <label for="name" id="myProfileNameLabel">
              <div>{{ 'FORM_LABEL.NAME' | translate}}
              </div>
            </label>
          </div>
          <div class="flex-col-7">
            {{userDetails.firstName}} {{userDetails.lastName}}
          </div>
        </div>
        <div class="flex-row">
          <div class="flex-col-5">
            <label for="gender">{{'FORM_LABEL.GENDER'|translate}}</label>
          </div>
          <div class="flex-col-7">
            <div class="btn-group--toggle"  ngbRadioGroup name="radioGender" formControlName="gender">
              <div class="flex-row mb0">
                <div class="flex-col-6">
                  <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm-comprehensive mr5" [ngClass]="{'inline-error': submitted && myProfileControls.gender.invalid}">
                    <input id="myProfileRadioMale" ngbButton type="radio" value="male">{{ 'LABEL.MALE' | translate}}
                  </label>
                </div>
                <div class="flex-col-6">
                  <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm-comprehensive" [ngClass]="{'inline-error': submitted && myProfileControls.gender.invalid}">
                    <input id="myProfileRadioFemale" ngbButton type="radio" value="female">{{ 'LABEL.FEMALE' |
                    translate}}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-row">
          <div class="flex-col-5">
            <label for="nationality">{{ 'FORM_LABEL.NATIONALITY' | translate}}</label>
          </div>
          <div class="flex-col-7">
            <div class="dropdown-control" [ngClass]="{'inline-error': submitted &&  myProfileControls.nation.invalid}">
              <div  ngbDropdown id="nationalityDropDown" placement="top-right">
                <button [disabled]="nationDisabled"  type="button" class="btn btn-dropdown" id="dropdownNationality" ngbDropdownToggle>
                  <span *ngIf="nationality === ''">{{'COMMON.LBL_SELECT' | translate}}</span>
                  <span *ngIf="nationality !== ''">{{nationality}}</span>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownNationality">
                  <button   class="dropdown-item" (click)="selectNationality('')">{{'COMMON.LBL_SELECT' | translate}}</button>
                  <button  type="button" class="dropdown-item" *ngFor="let nationality of nationalityList; let i=index"
                    (click)="selectNationality(nationality)">
                    {{nationality.text}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div [hidden]="!nationalityAlert" class="flex-row info-msg">Seems like you have changed your nationality.
          Changes will be applied to all platforms upon saving.</div>
        <div class="flex-row">
          <div class="flex-col-5">
            <label for="dob">{{ 'FORM_LABEL.DATE_OF_BIRTH' | translate}}</label>
          </div>
          <div #usrFrmDp class="flex-col-7">
            <div class="datepicker-control datepicker-upside">
              <div class="input-group date-picker mb0" [ngClass]="{'inline-error': !myProfileForm.get('dateOfBirth').valid && !myProfileForm.get('dateOfBirth').pristine}">
                <input readonly (click)="d.toggle()" class="form-control" placeholder="Select" formControlName="dateOfBirth"
                  name="dp" ngbDatepicker #d="ngbDatepicker" required id="myProfileDOB">
                <div class="input-group-append">
                  <button (click)="d.toggle()" class="btn btn-primary" type="button" id="myProfileDatePicker">
                    <img class="date-picker-image--valid" id="myProfileFormImg1" *ngIf="myProfileForm.get('dateOfBirth').valid || myProfileForm.get('dateOfBirth').pristine"
                      src="./assets/images/calendar-normal.svg" />
                    <img class="date-picker-image--invalid" id="myProfileFormImg1" *ngIf="!myProfileForm.get('dateOfBirth').valid && !myProfileForm.get('dateOfBirth').pristine"
                      src="./assets/images/calendar-error.svg" />
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="button" (click)="goToNext(myProfileForm)" class="btn btn-primary mt-4 width100" id="prfBtn1">{{
      'FORM_LABEL.SAVE_AND_CONTINUE' | translate}}
    </button>
  </form>
</div>