@import "../../_variables.scss";
@import "../../_mixins.scss";

app-singpass {
  .singpass-container {
    display:none;
    align-self: flex-end;
    height: auto;
    width: 390px;
    margin-bottom:20px;
    @include allmobiles {
      display: none;
    }
    a {
      font-family: $muli-bold;
      color: $dark-orange-color !important;
      cursor: pointer;
    }
    .singpass-login-icon {
      width: 390px;
      @include allmobiles {
        max-width: 354px;
      }
    }
  }
}
