@import "../../_variables.scss";
@import "../../_mixins.scss";

app-singpass {
  width:100%;
  @include allmobiles {
    max-width:354px;
    width:100%
  }
  .singpass-container {
    a {
        cursor: pointer;
    }
    .singpass-login-icon {
      width: 390px;
      @include allmobiles {
        max-width: 354px;
        width:100%;
      }
  }

    .singpass-instruction {
      width: 420px;
      margin-top: 20px;
      font-family: $muli-light;
      text-align: center;
      letter-spacing: -0.166667px;
      margin-left: -15px;
      a {
      color:  $white-color;
        font-family: $muli-bold;
        font-size: 16px;
        cursor: pointer;
      }
      .hidden {
        display: none;
      }
      @include allmobiles {
        max-width: 354px;
        margin-top: 11px;
        margin-left: 0;
        width:100%;

        .hidden {
          display: inline;
        }
      }
  }  
  }
}
