<div class="container-fluid max-width--1024 investment">
  <div class="row">
    <div class="col-lg-7 col-md-6 hidden-sm">
      <h2>{{ "NONE_OF_THE_ABOVE.PAGE_TITLE" | translate }}</h2>
      <div class="text-lyt">
        {{ "NONE_OF_THE_ABOVE.PAGE_DESC" | translate }}
      </div>
      <div class="banner-image">
        <img src="assets/images/investment-account/cka-banner.svg" />
      </div>
    </div>
    <div class="col-lg-5 col-md-6">
      <!-- <form name="ckaUploadForm" [formGroup]="ckaUploadForm" id="ckaUploadForm"> -->
        
      <!-- </form> -->
    </div>
  </div>
</div>