@import "../../../../_variables.scss";
@import "../../../../_mixins.scss";

app-cka-upload-document {
  .text-lyt {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.18px;
  }
  .tiles {
    max-width: 335px;
    margin-left: auto;
    @include allmobiles {
      max-width: 100%;
    }
    @include minMobilemaxPhablet {
      margin-right: auto;
    }
    .tile {
      background-color: $aqua-squeeze-color;
      color: $blue-stone-color;
      padding: 20px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      font-family: $muli-regular;
      font-size: 16px;
      line-height: normal;
      letter-spacing: -0.3px;
      align-items: center;
      text-align: left;

      .title {
        font-family: $muli-semi-bold;
        letter-spacing: -0.17px;
        color: $teal-color;
        margin-bottom: 10px;
      }
      .icon-block {
        width: 24px;
        height: 24px;
        border: none;
        display: flex;
      }
      .reselect-option {
        padding-top: 20px;
        font-family: $muli-semi-bold;
        font-size: 14px;
        line-height: normal;
        letter-spacing: -0.15px;
        color: $crusta-orange-color;
        cursor: pointer;
      }
    }
    .tile-content {
      padding: 20px 20px 0;
      background-color: $white-color;
      color: $boulder-grey-color;
      font-family: $muli-regular;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: normal;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      margin-bottom: 16px;
      letter-spacing: -0.26px;
      @include allmobiles {
        margin-bottom: 10px;
      }
      .text-bold {
        font-family: $muli-bold;
        color: $silver-grey-color;
      }
      .steps {
        .step {
          padding-bottom: 15px;
          .text-semi-bold {
            color: $boulder-grey-color;
            font-family: $muli-semi-bold;
          }
          .hyperlink_color {
            font-family: $muli-bold;
            color: $crusta-orange-color;
            cursor: pointer;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
      .sample-img-block {
        width: 120px;
        height: 90px;
        display: flex;
        display: -webkit-flex;
        margin: 0 auto 20px;
        img{
          width: 120px;
          height: 90px;
        }
      }
      .note-icon {
        width: 25px;
        height: 25px;
        margin-right: 15px;
        display: flex;
      }
      .note {
        font-family: $muli-regular;
        font-size: 13px;
        letter-spacing: -0.11px;
        color: $boulder-grey-color;
        line-height: normal;
      }

      .tnc-checkbox {
        padding: 0 0 30px;
        word-break: break-word;
        font-family: $muli-regular;
        font-size: 14px;
        line-height: normal;
        letter-spacing: -0.26px;
        color: $boulder-grey-color;
        input[type="checkbox"] + label {
          background-position-y: top;
        }
      }
    }
  }
}
