<div class="container-fluid max-width--1024 ">
  <header>{{'CMP.MY_ASSETS.TITLE'|translate}}</header>
  <article class="py-2">{{'CMP.MY_ASSETS.HEADER'|translate}}</article>
  <form [formGroup]="myAssetsForm" id="myAssetsForm" name="myAssetsForm" class="myAssetsForm">
    <section class="earnings-section  mb-3  pt-2">
      <p class="p-2"><b>{{'CMP.MY_ASSETS.CASH'|translate}}</b></p>
      <div class="earnings-field ">


        <div class="flex-row p-2 ">
          <div class="flex-col-5">
            <label for="name" id="myDependantFormLb1">
              <div>{{ 'CMP.MY_ASSETS.CASH_IN_BANK' | translate}}
              </div>
            </label>
          </div>
          <div class="pr0 flex-col-7">
            <div class="form-control form-control-right">
              <i>$</i>
              <input type="text" class="input-control" appCurrencyInput #cashInBank formControlName="cashInBank">

            </div>
          </div>
        </div>
        <div class="flex-row p-2 ">
          <div class="flex-col-5">
            <label for="name" id="myDependantFormLb1">
              <div>{{ 'CMP.MY_ASSETS.SINGAPORE_SAVING_BONDS' | translate}}
              </div>
            </label>
          </div>
          <div class="pr0 flex-col-7">
            <div class="form-control form-control-right">
              <i>$</i>
              <input type="text" class="input-control" appCurrencyInput #singaporeSavingsBond formControlName="singaporeSavingsBond">

            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="earnings-section pt-2 mb-3">
      <p class="p-2"><b>{{'CMP.MY_ASSETS.YOUR_CPF'|translate}}</b></p>
      <div class="earnings-field ">
        <div class="flex-row p-2">
          <div class="pl0 col-5">
            <label for="name" id="myDependantFormLb1">
              <div>{{ 'CMP.MY_ASSETS.CPF_OA' | translate}}
              </div>
            </label>
          </div>
          <div class="pr0 flex-col-7">
            <div class="form-control form-control-right">
              <i>$</i>
              <input type="text" class="input-control" appCurrencyInput maxLength="4" #CPFOA formControlName="CPFOA"
                value="0">

            </div>
          </div>
        </div>
        <div class="flex-row p-2">
          <div class="pl0 col-5">
            <label for="name" id="myDependantFormLb1">
              <div>{{ 'CMP.MY_ASSETS.CPF_SA' | translate}}
              </div>
            </label>
          </div>
          <div class="pr0 flex-col-7">
            <div class="form-control form-control-right">
              <i>$</i>
              <input type="text" class="input-control" appCurrencyInput maxLength="4" #CPFSA formControlName="CPFSA"
                value="0">

            </div>
          </div>
        </div>
        <div class="flex-row p-2">
          <div class="pl0 col-5">
            <label for="name" id="myDependantFormLb1">
              <div>{{ 'CMP.MY_ASSETS.CPF_MA' | translate}}
              </div>
            </label>
          </div>
          <div class="pr0 flex-col-7">
            <div class="form-control form-control-right">
              <i>$</i>
              <input type="text" class="input-control" appCurrencyInput maxLength="4" #CPFMA formControlName="CPFMA"
                value="0">

            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="earnings-section  mb-3  pt-2">
      <p class="p-2"><b>{{'CMP.MY_ASSETS.YOUR_HOME'|translate}}</b>
        <br>
        <span>{{'CMP.MY_ASSETS.MARKET_VALUE'|translate}}</span>
      </p>
      <div class="earnings-field ">
        <div class="flex-row p-2 ">
          <div class="flex-col-5">
            <label for="name" id="myDependantFormLb1">
              <div>{{ 'CMP.FORM_LABEL.AMOUNT' | translate}}
              </div>
            </label>
          </div>
          <div class="pr0 flex-col-7">
            <div class="form-control form-control-right">
              <i>$</i>
              <input type="text" class="input-control" appCurrencyInput #yourHome formControlName="yourHome">

            </div>
          </div>
          <p class="p-2 mt-2" [hidden]="!myInvestmentProperties" (click)="addOtherInvestment()">{{'CMP.MY_ASSETS.ADD_INVESTMENT_PROPERTIES'|translate}} 
          </p>
          <section [hidden]="myInvestmentProperties" class="pt-2 mb-3">
            <p class="p-2"><b>{{'CMP.MY_ASSETS.INVESTMENT_PROPERTIES'|translate}}</b>
              <br>
              <span>{{'CMP.MY_ASSETS.MARKET_VALUE'|translate}}</span>
            </p>
            <div class="text-right" (click)="addOtherInvestment()"> <i class="text-right fa fa-trash"></i></div>
            <div class="flex-row">
              <div class="pl0 col-5">
                <label for="name" id="myDependantFormLb1">
                  <div>{{ 'CMP.FORM_LABEL.AMOUNT' | translate}}
                  </div>
                </label>
              </div>
              <div class="pr0 col-7">
                <div class="form-control form-control-right">
                  <i>$</i>
                  <input type="text" class="input-control" appCurrencyInput maxLength="4" #investmentProperties
                    formControlName="investmentProperties" value="0">
                </div>
              </div>
            </div>
          </section>
        </div>

      </div>
    </section>



    <section class="earnings-section pt-2 mb-3">
      <p class="p-2"><b>{{'CMP.MY_ASSETS.OTHER_ASSETS'|translate}}</b>
        <br>
        <span>{{'CMP.MY_ASSETS.OTHER_ASSETS_HINT'|translate}}</span></p>
      <div class="earnings-field p-2">
        <div class="flex-row">
          <div class="pl0 col-5">
            <label for="name" id="myDependantFormLb1">
              <div>{{'CMP.FORM_LABEL.AMOUNT'|translate}}
              </div>
            </label>
          </div>
          <div class="pr0 col-7">
            <div class="form-control form-control-right">
              <i>$</i>
              <input type="text" class="input-control" appCurrencyInput maxLength="4" #otherAssets formControlName="otherAssets"
                value="0">

            </div>
          </div>
        </div>
      </div>

    </section>
    <section class="earnings-section pt-2 mb-3">
      <p class="p-2"><b>{{'CMP.MY_ASSETS.INVESTMENTS'|translate}}</b></p>
      <div class="earnings-field p-2">
      <div formArrayName="otherinvestment" class="otherinvestment " *ngFor="let otherinvestment of myAssetsForm.controls.otherinvestment.controls; let i = index;">

        <div>{{'CMP.MY_ASSETS.INVESTMENTS'|translate}} {{i+1}}</div>
        <div (click)="removeInvestment(i)" *ngIf="myAssetsForm.controls.otherinvestment.controls.length>1" class="text-right"><i
            class="fa fa-trash"></i>
          </div>

        <div class="form-group" [formGroupName]="i">


          <div class="flex-row  pb-2">
            <div class="pl0 col-5">
              <label for="unitTypeTrust" id="myDependantFormLb2">{{ 'CMP.MY_ASSETS.INVESTMENT_TYPE' | translate}}</label>
            </div>
            <div class="pr0 flex-col-7">
              <div class="dropdown-control" [ngClass]="{'inline-error': submitted &&  myAssetsForm.controls.investmentType.invalid}">
                <div ngbDropdown id="investTypeDropDown">
                  <button type="button" class="btn btn-dropdown" id="dropdownsInvestType" ngbDropdownToggle>
                    <span *ngIf="investType === ''">{{'COMMON.LBL_SELECT' | translate}}</span>
                    <span *ngIf="investType == !''">{{investType}}</span>
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownsInvestType">
                    <button class="dropdown-item" (click)="selectInvestType('',i)">Select</button>
                    <button type="button" class="dropdown-item" *ngFor="let investType of investmentTypeList;" (click)="selectInvestType(investType, i)">
                      {{investType.text}}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex-row pb-2">
            <div class="pl0 col-5">
              <label for="name" id="myDependantFormLb1">
                <div>{{'CMP.MY_ASSETS.OTHERS'|translate}}
                </div>
              </label>
            </div>
            <div class="pr0 flex-col-7">
              <div class="form-control form-control-right">
                <i>$</i>
                <input type="text" class="input-control" appCurrencyInput maxLength="4" #others formControlName="others"
                  value="0">

              </div>
            </div>
          </div>


        </div>
        <p (click)="addInvestment()">{{'CMP.MY_ASSETS.ADD_INVESTMENT'|translate}}</p>
      </div>
      </div>
    </section>


    <button type="button" (click)="goToNext(myAssetsForm)" class="btn btn-primary btn__footer--fixed width100" id="prfBtn1">{{
      'LABEL.CONTINUE' |
      translate}}</button>
  </form>



</div>
