<div class="modal-body">
  <div class="modal-body-title mb20" id="errorSrsModaltitle">SRS Details Updated</div>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true" id="errorModelCloseIcon"></span>
  </button>
  <div class="modal-body-message" *ngIf="errorMessage" id="errorSrsModalMessage">
    <div class="srs-success"><img src="/assets/images/owl-tick-teal.svg" id="errorSrsModalOwlIcon"/></div>
    <div>We will use this SRS account for your subsequent buy request(s).</div>
</div>
    <div class="col-12 btn btn-primary-dark mt30" (click)="goToTopUp()" id="errorSrsModalTopupBtn">Top Up</div>
    <div class="col-12 txt-orange mt20" (click)="goBack()" id="errorSrsModalLaterBtn">I will do it Later</div>
</div>
