@import '../../../variables';
@import '../../../mixins';
app-start-planning {
    .container-fluid {
        &.benefits-screen {
            @include desktop {
            max-width: 600px;
            } }
        &.max-width--1024{
            @include allmobiles{
                padding: 0px !important;
            }
        }
        }
    .benefits-card-wrapper {
        .benefits-card {
            border-radius: 6px;
            &__top {
                height: 175px;
                background-color: $robins-egg-blue-color;
                display: flex;
                &--left {
                    color: $white-color;
                    font-size: 22px;
                    font-family: $muli-bold;
                    line-height: 24px;
                    letter-spacing: -0.18px;
                    margin: 50px 0 44px 20px;
                }
                &--right {
                    margin: 10px 20px 5px 0;
                    width: 160px;
                    height: 160px;
                    display: flex;
                }
            }
            &__bottom {
                padding: 20px;
                background-color: $white-color;
                color: $black-color;
                hr{
                    margin: 15px auto;
                }
                .title-box{
                    color: $black-color;
                    font-size: 16px;
                    font-family: $muli-bold;
                    line-height: 24px;
                    letter-spacing: -0.18px;
                     margin-bottom: 15px;
                }
                .start-planning {
                    display: flex;
                    .start-planning-img{
                        margin-top: 7px;
                    }
                    .start-planning-details{
                        margin-left: 15px;
                    }
                    .heading {
                        color: $black-color;
                        font-size: 16px;
                        font-family: $muli-bold;
                        line-height: 24px;
                        letter-spacing: -0.18px;
                         margin-bottom: 5px;
                    }
                    .desc {
                        color: $black-color;
                        font-size: 14px;
                        font-family: $muli-regular;
                        line-height: 17.5px;
                        letter-spacing: -0.16px;
                    }
                }
            }
            .dld {
                position: initial;
                max-width: 335px;
                display: flex;
                justify-content: center;
                border-radius: 6px !important;
                background-color: $crusta-orange-color;
                color: $white-color;
                font-size: 22px;
                font-family: $muli-bold;
                line-height: 27px;
                letter-spacing: -0.15px;
            }
            .btm-txt{
                text-align: center;
                color: $black-color;
                    font-size: 14px;
                    font-family: $muli-regular;
                    line-height: 16px;
                    letter-spacing: -0.18px;
                    margin-top: 15px;
                    margin-bottom: 31px;
            }
        }
    }
}