<div class="modal-header">
    <!-- <h4 class="modal-title">Testing header</h4> -->
    
  </div>
  <div class="modal-body white-bg">
    <div class="modal-body-title">
      <div class="banner-bg">
        <img src="assets/images/direct/contact-form-banner.svg" />
      </div>
      <div class="text-bold">Don’t Miss Out.</div>
      <div>Leave your contact to let us help you find something that fits or to get a quote.</div>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close(false)">
      <!-- <span aria-hidden="true">&times;</span> -->
    </button>
    <div class="modal-body-message " id="errorModelMessage">
      <div class="flex-col-12">
        <form [formGroup]="formObject">
        <div class="flex-row mb10">
          <div class="flex-col-12 stretch">
            <div class="form-group-floating-label" [ngClass]="{'inline-error': isSubmitted && formObject.controls.fullName.errors}">
              <input type="text" id="fullName" class="form-control"  #fullName formControlName="fullName" required >
              <label class="form-control-placeholder"
                for="fullName">FULLNAME</label>
            </div>
          </div>
          <div class="alert-msg" *ngIf="isSubmitted && formObject.controls.fullName.errors">
            <div *ngIf="formObject.controls.fullName.errors?.required">
              <span class="alert-icon"><img src="assets/images/alert.svg" /></span>
              <span class="err-msg">Error</span>
            </div>
          </div>
        </div>
        <div class="flex-row mb10">
          <div class="flex-col-12 stretch">
            <div class="form-group-floating-label" [ngClass]="{'inline-error': isSubmitted && formObject.controls.email.errors}">
              <input type="text" id="crtAccInpt4" class="form-control"  #email formControlName="email" required>
              <label class="form-control-placeholder"
                for="email">EMAIL</label>
            </div>
          </div>
          <div class="alert-msg" *ngIf="isSubmitted && formObject.email.errors">
            <div *ngIf="formObject.errors?.required">
              <span class="alert-icon"><img src="assets/images/alert.svg" /></span>
              <span class="err-msg">{{ 'CREATE_ACCOUNT.FORM.EMAIL.ERROR.REQUIRED' | translate}}</span>
            </div>
            <div *ngIf="formObject.errors?.email || formObject.errors?.pattern">
              <span class="alert-icon"><img src="assets/images/alert.svg" /></span>
              <span class="err-msg">{{ 'CREATE_ACCOUNT.FORM.EMAIL.ERROR.INVALID' | translate}}</span>
            </div>
            <div *ngIf="formObject.errors?.invalidDomain">
              <span class="alert-icon"><img src="assets/images/alert.svg" /></span>
              <span class="err-msg">{{ 'CREATE_ACCOUNT.FORM.EMAIL.ERROR.INVALID_DOMAIN' | translate}}</span>
            </div>
          </div>
        </div>
        <div class="flex-row mb10">
          <div class="flex-col-12 stretch">
            <div class="form-group-floating-label" [ngClass]="{'inline-error': isSubmitted && formObject.controls.mobileNumber.errors}">
              <input type="number" maxlength="15" id="crtAccInpt1" #mobileNumber  formControlName="mobileNumber" class="form-control" required>
              <label class="form-control-placeholder"
                for="mobileNumber">MOBILE NUMBER</label>
            </div>
          </div>
          <div class="alert-msg" *ngIf="isSubmitted && formObject.controls.mobileNumber.errors">
            <div *ngIf="formObject.controls.mobileNumber.errors?.required">
              <span class="alert-icon"><img src="assets/images/alert.svg" /></span>
              <span class="err-msg">{{ 'CREATE_ACCOUNT.FORM.MOBILE_NUMBER.ERROR.REQUIRED' | translate}}</span>
            </div>
            <div *ngIf="formObject.controls.mobileNumber.errors?.mobileRange">
              <span class="alert-icon"><img src="assets/images/alert.svg" /></span>
              <span class="err-msg">{{ 'CREATE_ACCOUNT.FORM.MOBILE_NUMBER.ERROR.INVALID' | translate}}</span>
            </div>
          </div>
        </div>
        <div class="recommnendation-info">
          <div class="title">I Want Better Recommendations</div>
          <ngb-accordion #acc="ngbAccordion">
            <ngb-panel>
                <ng-template ngbPanelTitle>
                    <div class="flex justify-center">
                      <i class='arrow'></i>
                    </div>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div>
                      <div class="flex-row mb10">
                        <div #usrFrmDp class="flex-col-12 dob">
                          <div class="form-group-floating-label pt0">
                            <div class="datepicker-control">
                              <div class="input-group date-picker mb0" #dob
                              [ngClass]="{'inline-error': isSubmitted && formObject.controls.dob.errors}">
                                <input  class="form-control"
                                    name="dp" ngbDatepicker [minDate]="minDate" [maxDate]="maxDate" formControlName="dob"
                                  #dobInput="ngbDatepicker" id="invPersInfoInpt7" required>
                                  <label class="form-control-placeholder">{{ 'CREATE_ACCOUNT.FORM.DOB.PLACEHOLDER_LBL' | translate}}</label>
                                <div class="input-group-append">
                                  <button  class="btn btn-primary" type="button"  id="createDobBtn1">
                                    <img class="date-picker-image--valid" id="createDobImg1"
                                    *ngIf="!isSubmitted || !formObject.controls.dob.errors"
                                      src="assets/images/calendar-normal.svg" />
                                    <img class="date-picker-image--invalid" id="createDobImg1"
                                      *ngIf="isSubmitted && formObject.controls.dob.errors"
                                      src="assets/images/calendar-error.svg" />
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="alert-msg" *ngIf="isSubmitted && formObject.controls.dob.errors">
                          <div *ngIf="formObject.controls.dob.errors?.required">
                            <span class="alert-icon"><img src="assets/images/alert.svg" /></span>
                            <span class="err-msg">{{ 'CREATE_ACCOUNT.FORM.DOB.ERROR.REQUIRED' | translate}}</span>
                          </div>
                          <div *ngIf="!formObject.controls.dob.errors?.required && formObject.controls.dob.errors?.ngbDate">
                            <span class="alert-icon"><img src="assets/images/alert.svg" /></span>
                            <span class="err-msg">{{ 'CREATE_ACCOUNT.FORM.DOB.ERROR.INVALID' | translate}}</span>
                          </div>
                        </div>
                      </div>
                      <div class="flex-col-12 mb10">
                        <div [ngClass]="{'inline-error': isSubmitted && formObject.controls.gender.errors}">
                          <div class="flex-row form-control gender" #gender>
                            <div class="mr20">
                              <label for="gender" id="invPersInfoLbl8" class="mb0">Gender</label>
                            </div>
                            <div class="checkbox-button one-label mr10">
                              <input type="radio" value="male" class="field radio"  name="gender" id="gender_type_1" formControlName="gender"/>
                              <label for="gender_type_1">
                                <div><span class="input-label-black">MALE</span>
                                </div>
                              </label>
                            </div>
                            <div class="checkbox-button one-label">
                              <input type="radio" value="female" class="field radio" name="gender" id="gender_type_2" formControlName="gender"/>
                              <label for="gender_type_2">
                                <div><span class="input-label-black">FEMALE</span>
                                </div>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="alert-msg" *ngIf="isSubmitted && formObject.controls.gender.errors">
                          <div *ngIf="formObject.controls.gender.errors?.required">
                            <span class="alert-icon"><img src="assets/images/alert.svg" /></span>
                            <span class="err-msg">{{ 'CREATE_ACCOUNT.FORM.GENDER.ERROR.REQUIRED' | translate}}</span>
                          </div>
                        </div>
                      </div>
                      <div class="flex-col-12 mb10">
                        <div class="dropdown-control">
                          <div ngbDropdown>
                            <button class="btn btn-dropdown" id="salutation-drpdown" ngbDropdownToggle>
                              <span *ngIf="!formObject.controls.interedtedInsurance.value">
                                Type of insurance interested in 
                              </span>
                              <!-- <span *ngIf="invPersonalInfoForm.controls.salutation.value">
                                {{invPersonalInfoForm.controls.salutation.value.name }}
                              </span> -->
                            </button>
                            <!-- <div class="dropdown" ngbDropdownMenu aria-labelledby="salutation-drpdown">
                              <button class="dropdown-item" *ngFor="let salutaion of salutaionList; let i = index;"
                                (click)="setDropDownValue($event, 'salutation', salutaion, i)"
                                id="salutation-option-{{i}}">{{salutaion.name}}</button>
                            </div> -->
                          </div>
                        </div>
                      </div>
                      <div class="flex-col-12 mb10">
                        <div [ngClass]="{'inline-error': isSubmitted && formObject.controls.smoker.errors}">
                          <div class="flex-row form-control gender" #smoker>
                            <div class="mr20">
                              <label for="smoker" id="invPersInfoLbl8" class="mb0">Smoker</label>
                            </div>
                            <div class="checkbox-button one-label mr10">
                              <input type="radio" value="yes" class="field radio"  name="smoker" id="smoker_type_1" formControlName="gender"/>
                              <label for="smoker_type_1">
                                <div><span class="input-label-black">Yes</span>
                                </div>
                              </label>
                            </div>
                            <div class="checkbox-button one-label">
                              <input type="radio" value="no" class="field radio" name="smoker" id="smoker_type_2" formControlName="gender"/>
                              <label for="smoker_type_2">
                                <div><span class="input-label-black">No</span>
                                </div>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="alert-msg" *ngIf="isSubmitted && formObject.controls.smoker.errors">
                          <div *ngIf="formObject.controls.smoker.errors?.required">
                            <span class="alert-icon"><img src="assets/images/alert.svg" /></span>
                            <span class="err-msg">{{ 'CREATE_ACCOUNT.FORM.GENDER.ERROR.REQUIRED' | translate}}</span>
                          </div>
                        </div>
                      </div>
                      <div class="flex-row mb10">
                        <div class="flex-col-12 stretch">
                          <div class="form-group-floating-label" [ngClass]="{'inline-error': isSubmitted && formObject.controls.enquiry.errors}">
                            <input type="text" id="enquiry" class="form-control"  #enquiry formControlName="enquiry" required >
                            <label class="form-control-placeholder"
                              for="enquiry">Any other enquiries</label>
                          </div>
                        </div>
                        <div class="alert-msg" *ngIf="isSubmitted && formObject.controls.enquiry.errors">
                          <div *ngIf="formObject.controls.enquiry.errors?.required">
                            <span class="alert-icon"><img src="assets/images/alert.svg" /></span>
                            <span class="err-msg">Error</span>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="flex-col-12 mb10">
                          <div class="form-group">
                            <div class="flex-row">
                              <div class="flex-col-12">
                                <label for="employement-occupation-others-txt" id="additional-declaration-others-lbl">
                                  Any other enquiries</label>
                              </div>
                              <div class="flex-col-12">
                                <div>
                                  <input type="text" class="form-control input-control"
                                    formControlName="pepOtherOccupation" id="employement-occupation-others-txt" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div> -->
                      <div>These additional information will let us provide you with more accurate quotes!</div>
                    </div>
                  </ng-template>
              </ngb-panel>
          </ngb-accordion>
        </div>
        </form>
      </div>
      <button type="button" class="btn btn-primary width100 footer-btn" (click)="contactMe()">Contact Me</button>
    </div>
  </div>
  