<div class="toast-msg-block" *ngIf="isToastMessageShown">
  <div class="toast-msg-container">
    <div class="flex-col-1">
      <img src="assets/images/topupwithdraw/check_orange.svg" alt="" />
    </div>
    <div class="flex-col-8">
      <div class="toast-msg">{{toastMsg?.desc}}</div>
    </div>
    <div class="flex-col-3 cursor_pointer" *ngIf="toastMsg?.link_label" (click)="yourPortfolioDynamic()">
      {{toastMsg?.link_label}}</div>
  </div>
</div>
<section class="invest-section" *ngIf="investmentoverviewlist">
  <div class="invest-section-items">
    <div class="invest-section-content">
      <div class="invest-bg">
        <div class="invest-bg-media">
          <div class="invest-bg-image"></div>
          <div class="invest-bg-color"></div>
        </div>
        <div class="invest-bg-content">
          <div class="flex-col user_content flex-col-12">
            <div class="container-fluid max-width--1024">
              <div *ngIf="showMpPopup" class="mp-walkthrough-container flex-col-12">
                <div [ngClass]="showAnimation? 'mp-animation': ''" class="new-investment-div"
                  (click)="openMPWalkthrough()">
                  <img class="owl-stars-img" src="assets/images/mp-walkthrough/owl-stars.svg">
                  <div class="new-investment-txt">
                    <span>{{'YOUR_INVESTMENT.MP_WALKTHROUGH.NEW_INVESTMENT_UPDATE' | translate}}</span>
                    <br />{{'YOUR_INVESTMENT.MP_WALKTHROUGH.SHOW_ME_AROUND' | translate}}
                  </div>
                  <img (click)="closeMpPopup($event)" class="cross-img"
                    src="assets/images/mp-walkthrough/cross-grey.svg">
                </div>
              </div>
              <div class="back-dashboard">
                <img src="assets/images/back-web.svg" (click)="backDashboard($event)">
                <span>{{'YOUR_INVESTMENT.BACK_DASHBOARD' | translate}} </span>
              </div>
              <div class="your_portfolio_label flex-col-12" id="investment_overview_your_portfolios">
                <ng-container *ngIf="!portfolioList || portfolioList.length < 2; else multiplePortfolio">
                  {{'YOUR_INVESTMENT.MY_PORTFOLIO' | translate}}
                </ng-container>
                <ng-template #multiplePortfolio>
                  {{'YOUR_INVESTMENT.MY_PORTFOLIOS' | translate}}
                </ng-template>
              </div>
              <div class="category-filter">
                <span class="all-category">{{'YOUR_INVESTMENT.CATEGORIES' | translate}}</span>
                <label for="{{portfolioCategories.ALL}}">
                  <input type="radio" id="{{portfolioCategories.ALL}}" name="categories" [checked]="selectedCategory === portfolioCategories.ALL" (click)="setSelectedCategory($event.target.id)">
                  <div>
                    <span>{{'YOUR_INVESTMENT.ALL' | translate}}</span>
                  </div>
                </label>
                <label for="{{portfolioCategories.INVESTMENT}}">
                  <input type="radio" id="{{portfolioCategories.INVESTMENT}}" name="categories" [checked]="selectedCategory === portfolioCategories.INVESTMENT" (click)="setSelectedCategory($event.target.id)">
                  <div>
                    <img class="cross-img" src="assets/images/manage-investments/filter-ringicon-investment.svg">
                    <span>{{'YOUR_INVESTMENT.INVESTMENT' | translate}}</span>
                  </div>
                </label>
                <label for="{{portfolioCategories.WISESAVER}}">
                  <input type="radio" id="{{portfolioCategories.WISESAVER}}" name="categories" [checked]="selectedCategory === portfolioCategories.WISESAVER" (click)="setSelectedCategory($event.target.id)">
                  <div>
                    <img class="cross-img" src="assets/images/manage-investments/filter-ringicon-savings.svg">
                    <span>{{'YOUR_INVESTMENT.WISESAVER' | translate}}</span>
                  </div>
                </label>
              </div>
              <div class="form-group-with-bg">
                <div class="form-group-with-bg--header your_total_value">
                  <div id="myFinancialLbl">
                    <div class="total_values" id="investment_overview_totalportfolio_value">
                      {{totalValue | formatCurrency}}
                    </div>
                    <div class="total_values_label" id="investment_overview_totalportfolio_value_lab">
                      <ng-container *ngIf="selectedCategory === portfolioCategories.ALL;else portfolioVal">
                        {{'YOUR_INVESTMENT.TOTAL_PORTFOLIO_VALUE' | translate}}
                      </ng-container>
                      <ng-template #portfolioVal>
                        {{'YOUR_INVESTMENT.PORTFOLIO_VALUE' | translate}}
                      </ng-template>
                    </div>
                  </div>
                </div>
                <div class="form-group-with-bg--content">
                  <div class="flex-row mb15 total_cash_balance">
                    <div class="flex-col">
                      <div class="total_cash_label" id="investment_overview_total_returns_labl">
                        <ng-container *ngIf="selectedCategory === portfolioCategories.ALL;else cashBalance">
                          {{'YOUR_INVESTMENT.TOTAL_CASH_BALANCE' | translate}}
                        </ng-container>
                        <ng-template #cashBalance>
                          {{'YOUR_INVESTMENT.CASH_BALANCE' | translate}}
                        </ng-template>
                        <img (click)="showCashAccountPopUp()" src="assets/images/tooltip-icon.svg" alt="" />
                      </div>
                    </div>
                    <div class="flex-col">
                      <div class="total_cash_value" id="investment_overview_total_returns_value">
                        {{cashAccountBalance | formatCurrency}}
                      </div>
                    </div>
                  </div>
                  <div class="flex-row">
                    <button type="button" class="btn-with-icon top_up_btn" id="top-up_button" (click)="gotoTopUp()">
                      <span class="topup-btn-img"><img id="top-up_img"
                          src="assets/images/investment-account/money-white-topup.svg" alt="" /></span>
                      <span>{{'YOUR_PORTFOLIO.TOP_UP' | translate}}</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-portfolio-list *ngIf="investmentoverviewlist" [portfolioList]="portfolioList" [portfolioCategory]="selectedCategory"
  [showTotalReturn]="investmentoverviewlist.showTotalReturn" (detailSelected)="yourPortfolio($event)"
  (investAgainSelected)="investAgain($event)" (transferInstSelected)="ViewTransferInst($event)"
  (topUpSelected)="gotoTopUp($event)" [portfolioData]="investmentoverviewlist">
</app-portfolio-list>
<div *ngIf="investmentoverviewlist" class="srs-block">
  <div class="container-fluid max-width--1024">
    <div class="srs-reminder">
      <img class="mail-img" src="assets/images/srs-joint-account/mail.svg" />
      <div class="srs-txt" innerHTML="{{'YOUR_INVESTMENT.SRS_JOINT_ACCOUNT_REMINDER' | translate}}"></div>
    </div>
  </div>
</div>
<div class="scroll-btn-div text-center" *ngIf="investmentoverviewlist" [ngClass]="verticalScrollPresent() ? '' : 'hidden'">
  <button type="button" class="btn btn-primary scroll-btn"
    (click)="scrollTop()">{{'YOUR_INVESTMENT.SCROLL_TO_TOP' | translate}}</button>
</div>