<div class="toast-msg-block" *ngIf="isToastMessageShown">
  <div class="toast-msg-container">
    <div class="flex-col-1">
      <img src="../../../assets/images/topupwithdraw/check_orange.svg" alt="" />
    </div>
    <div class="flex-col-8">
      <div class="toast-msg">{{toastMsg?.desc}}</div>
    </div>
    <div class="flex-col-3 cursor_pointer" *ngIf="toastMsg?.link_label" (click)="yourPortfolioDynamic()">
      {{toastMsg?.link_label}}</div>
  </div>
</div>
<section class="invest-section" *ngIf="investmentoverviewlist">
  <div class="invest-section-items">
    <div class="invest-section-content">
      <div class="invest-bg">
        <div class="invest-bg-media">
          <div class="invest-bg-image"></div>
          <div class="invest-bg-color"></div>
        </div>
        <div class="invest-bg-content">
          <div class="flex-col user_content flex-col-12">
            <div class="container-fluid max-width--1024">
              <div class="user_summary flex-col-12" id="investment_overview_profile_dec">
                {{'YOUR_INVESTMENT.PROFILE_DEC' | translate:welcomeInfo}}
              </div>
              <div class="form-group-with-bg">
                <div class="form-group-with-bg--header your_total_value">
                  <div id="myFinancialLbl">
                    <div class="total_values" id="investment_overview_totalportfolio_value">
                      {{totalValue | currency:'USD':'symbol-narrow':'1.0-2'}}
                    </div>
                    <div class="total_values_label" id="investment_overview_totalportfolio_value_lab">
                      {{'YOUR_INVESTMENT.TOTAL_VALUE' | translate}}</div>
                  </div>
                </div>
                <div class="form-group-with-bg--content">
                  <div class="flex-row mb20 total_cash_balance">
                    <div class="flex-col">
                      <div class="total_cash_label" id="investment_overview_total_returns_labl">
                        {{'YOUR_INVESTMENT.TOTAL_CASH_BALANCE' | translate}}
                        <img (click)="showCashAccountPopUp()" src="../../../assets/images/tooltip-icon.svg" alt="" />
                      </div>
                    </div>
                    <div class="flex-col">
                      <div class="total_cash_value" id="investment_overview_total_returns_value">
                        {{cashAccountBalance | currency:'USD':'symbol-narrow':'1.0-2'}}
                      </div>
                    </div>
                  </div>
                  <div class="flex-row">
                    <button type="button" class="btn-with-icon top_up_btn" id="top-up_button" (click)="gotoTopUp()">
                      <span class="topup-btn-img"><img id="top-up_img"
                          src="../../../assets/images/investment-account/money-white-topup.svg" alt="" /></span>
                      <span>{{'YOUR_PORTFOLIO.TOP_UP' | translate}}</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="flex-row mb20 space-btwn align-center">
                <div class="your_portfolio_label" id="investment_overview_your_portfolios">
                  {{'YOUR_INVESTMENT.MY_PORTFOLIOS' | translate}}
                </div>
                <div (click)="startPortfolio()" class="add_portfolio_label" id="investment_overview_total_of"><img
                    class="pr5" src="../../../assets/images/investment-account/plus-white.svg"><span
                    class="cursor_pointer">{{'YOUR_INVESTMENT.ADD_PORTFOLIO' | translate}}</span> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-portfolio-list *ngIf="investmentoverviewlist" [portfolioList]="portfolioList"
  [showTotalReturn]="investmentoverviewlist.showTotalReturn" (detailSelected)="yourPortfolio($event)"
  (deleteSelected)="deletePortfolio($event)" (investAgainSelected)="investAgain($event)"
  (transferInstSelected)="ViewTransferInst($event)" (topUpSelected)="gotoTopUp()"
  [portfolioData]="investmentoverviewlist">
</app-portfolio-list>
<div class="container-fluid max-width--1024"
  *ngIf="investmentoverviewlist && (!portfolioList || portfolioList.length == 0)">
  <div class="form-group-with-bg no-portfolio">
    <div class="flex-col align-center">
      <div class="msg"> {{'YOUR_INVESTMENT.NO_PORTFOLIOS_YET' | translate}} <br>
        {{'YOUR_INVESTMENT.ADD_PORTFOLIO_START_INVEST' | translate}} </div>
      <div class="add-portfolio-icon"><img src="../../../assets/images/add-portfolio-icon.svg" alt="" /></div>
      <button type="button" class="btn btn-primary" id="add_portfolio" (click)="startPortfolio()">
        {{'YOUR_INVESTMENT.ADD_PORTFOLIO' | translate}} </button>
    </div>
  </div>
</div>
<div class="text-center" *ngIf="investmentoverviewlist" [ngClass]="verticalScrollPresent() ? '' : 'hidden'">
  <button type="button" class="btn btn-primary scroll-btn btn__footer--fixed"
    (click)="scrollTop()">{{'YOUR_INVESTMENT.SCROLL_TO_TOP' | translate}}</button>
</div>
