@import '../../../../_variables.scss';
@import '../../../../_mixins.scss';

app-investment-overview {
  .user_summary {
    font-family: $muli-regular;
    font-size: 18px;
    line-height: 1.28;
    letter-spacing: -0.2px;
    padding: 0 15px 30px 0;
    position: relative;
    max-width: 300px;

    @include allmobiles {
      padding: 0 15px 30px 15px;
    }
  }

  .cursor_pointer {
    cursor: pointer;
  }

  .your_portfolio_label {
    font-size: 21px;
    font-family: $muli-bold;
    letter-spacing: -0.21px;
    color: $white-color;
  }

  .add_portfolio_label {
    font-size: 16px;
    font-family: $muli-bold;
    letter-spacing: -0.3px;
    color: $white-color;
    text-align: right;
    display: flex;
    align-items: center;
    z-index: 1;
  }

  .form-group-with-bg {
    box-shadow: 0 10px 14px 0 $btn-proceed-shadow-color;
    background-color: $white-color;
    margin-bottom: 20px;

    .your_total_value {
      background-color: $withdrawal-amount-panel-bg-color;
      padding: 20px 20px 17px;

      .total_values {
        font-family: $muli-bold;
        font-size: 32px;
        letter-spacing: -0.4px;
        text-align: center;
        color: $white-color;
        word-break: break-all;

        @include allmobiles {
          font-size: 30px;
        }
      }

      .total_values_label {
        font-family: $muli-regular;
        font-size: 16px;
        line-height: 0.88;
        letter-spacing: -0.1px;
        text-align: center;
        color: $white-color;
        margin-top: 6px;
      }
    }

    .form-group-with-bg--content {
      .flex-row {
        align-items: flex-start;
        justify-content: space-between;
      }

      .total_cash_balance {
        font-size: 16px;
        color: $dark-teal-color;

        .total_cash_label {
          line-height: 1.31;
          letter-spacing: -0.15px;
          img{
            cursor: pointer;
          }
        }

        .total_cash_value {
          font-family: $muli-bold;
          letter-spacing: -0.2px;
          text-align: right;
          color: $teal-color;
        }
      }

      .btn-with-icon {
        border-radius: 6px;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.21) !important;
        background-color: $btn-primary-backgrnd-color;
        font-family: $muli-bold;
        font-size: 21px;
        line-height: normal;
        letter-spacing: -0.3px;
        text-align: center;
        color: $white-color;
        width: 100%;
        padding: 18px 0px;
        cursor: pointer;

        &.top_up_btn {
          font-size: 18px;
          line-height: 23px;
          background-color: $white-color;
          color: $secondary-action-color;
          border: 1px solid #f1f1f1;
          display: flex;
          justify-content: center;

          &:active {
            outline: none;
            background-color: $white-color;
          }

          .topup-btn-img {
            height: 25px;
            width: 42px;
            margin-right: 10px;
            display: flex;

            img {
              width: 100%;
              height: auto;
              margin: 0;
            }
          }
        }

        &:active {
          outline: none;
          background-color: $btn-primary-backgrnd-color;
        }

        &:hover {
          outline: none;
        }

        &:focus {
          outline: none;
          background-color: $btn-primary-backgrnd-color;
        }

        img {
          margin-left: 8px;
          margin-top: -1px;
        }
      }
    }
  }

  .container-fluid {
    &.max-width--1024 {
      @include allmobiles {
        padding-left: 15px !important;
        padding-right: 15px !important;
      }
    }
  }

  .multiple-portfolio-container {
    margin-top: 10px;

    .container-fluid {
      &.max-width--1024 {
        padding-top: 0 !important;
        padding-bottom: 0px !important;

        @include allmobiles {
          padding-top: 60px !important;
          padding-left: 0px !important;
          padding-right: 0px !important;
          padding-bottom: 0px !important;
        }
      }
    }

    .multiple-portfolio-block {
      .multiple-portfolio-header {
        font-family: $muli-regular;
        font-size: 13px;
        letter-spacing: -0.24px;
        text-align: right;
        color: #ffffff;
        padding: 20px 30px;
        background-color: #3bbfbf;

        @include allmobiles {
          padding: 20px 15px;
        }
      }

      .multiple-portfolio-content {
        .multiple-portfolio-type {
          font-family: $muli-regular;

          .multiple-portfolio-type-title {
            font-size: 14px;
            letter-spacing: -0.15px;
            color: #007d7d;
            background-color: #e4f1f1;
            padding: 5px 30px;
            line-height: normal;

            @include allmobiles {
              padding: 5px 15px;
            }
          }

          .portfolio-list {
            background-color: #f7f7f7;

            &.invested {
              background-color: #ffffff;
            }

            .portfolio {
              font-family: $muli-regular;
              color: #000000;
              border: 1px solid #e5e5e5;
              padding: 20px 30px;
              display: flex;
              width: 100%;
              cursor: pointer;

              @include allmobiles {
                padding: 25px 15px;
              }

              .portfolio-icon {
                width: 32px !important;
                height: 32px !important;
                margin-right: 13px;
                padding-top: 8px;

                img {
                  width: 100%;
                  height: auto;
                }
              }

              .portfolio-details {
                display: flex;
                flex-direction: column;
                width: 100%;

                .portfolio-name {
                  font-family: $muli-bold;
                  font-size: 16px;
                  letter-spacing: -0.3px;
                  white-space: normal;
                  word-wrap: break-word;
                }

                .ref-code {
                  font-size: 14px;
                  letter-spacing: -0.26px;
                }

                .portfolio-value {
                  font-family: $muli-bold;
                  font-size: 18px;
                  letter-spacing: -0.19px;
                  color: #00a7a7;
                  display: inline;

                  .buy-request {
                    font-family: $muli-regular;
                    font-size: 13px;
                    letter-spacing: -0.23px;
                    float: right;
                    margin-top: 9px;
                  }
                }

                .portfolio-btn {
                  display: inline;
                  font-family: $muli-bold;
                  font-size: 16px;
                  letter-spacing: -0.3px;

                  .top-up-btn {
                    color: #ff872f;
                  }

                  .total-returns {
                    color: #11b600;

                    &.negativeValue {
                      color: #d0021b;
                    }
                  }

                  .cash-account-value {
                    font-family: $muli-regular;
                    font-size: 14px;
                    letter-spacing: -0.26px;
                    float: right;
                    color: #9b9b9b;
                    margin-top: 3px;
                  }
                }
              }
            }
          }

          .list-btn {
            font-family: $muli-regular;
            font-size: 14px;
            letter-spacing: -0.15px;
            color: #9b9b9b;
            border: 1px solid #e5e5e5;
            background-color: #ffffff;
            padding: 16px;
            display: flex;
            justify-content: center;
            cursor: pointer;
            img {
              margin-left: 8px;
            }

            .show-less {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }

  .no-portfolio {
    padding: 30px 28px;
    text-align: center;

    @include allmobiles {
      padding: 30px 15px 12px;
    }

    .msg {
      color: #5e5e5e;
      font-size: 15px;
      text-align: center;
      margin-bottom: 20px;
    }

    .add-portfolio-icon {
      width: 96px;
      height: 70px;
      margin-bottom: 20px;
    }

    .btn-primary {
      width: 250px;
      font-family: $muli-bold;
      font-size: 18px;
      letter-spacing: -0.34px;

      @include allmobiles {
        width: 100%;
      }
    }
  }

  .btn-primary {
    &.scroll-btn {
      width: 100%;
      margin: 0 auto !important;
      font-family: $muli-regular !important;
      font-size: 14px;
      letter-spacing: -0.26px;
      border-radius: 0px;
      text-align: center;
      color: #3ec5c5 !important;
      background-color: #00a0a0 !important;

      &:hover,
      &:active,
      &:focus {
        color: #3ec5c5 !important;
        background-color: #00a0a0 !important;
      }
    }
  }

  .hidden {
    display: none;
  }

  .srs-block {
    .container-fluid {
      &.max-width--1024 {
        padding-top: 10px !important;
        padding-bottom: 20px !important;

        @include allmobiles {
          padding-bottom: 50px !important;
        }
      }
    }

    .srs-reminder {
      display: flex;
      align-items: center;
      padding: 15px 45px 15px 25px;
      background-color: #3ec5c5;

      @include allmobiles {
        padding: 25px 30px 25px 15px;
        margin: 0px -15px;
      }

      .srs-txt {
        font-family: $muli-italic;
        font-size: 13px;
        font-weight: normal;
        letter-spacing: -0.13px;
        line-height: 1.23;
        color: $white-color;
      }

      .mail-img {
        margin-right: 20px;
      }
    }
  }

}
