<!-- <div class="comprehensive-procedures pb-3 ">
  <section class="comprehensive-first-step p-2 m-2 mt-4">
    <img class="comprehensive-img" src="assets/images/banner1-thumbnail.svg">

    <article class="pt-1">
      <h6>{{'COMPREHENSIVE_STEPS.FIRST'|translate}}</h6>
      <h5> <b>{{'COMPREHENSIVE_STEPS.FIRST_TITLE'|translate}}</b></h5>
      <p>{{'COMPREHENSIVE_STEPS.FIRST_DESC'|translate}}</p>
    </article>
  </section>
  <section class="comprehensive-step p-1 m-2 mb-4 p-3">
    <h6>{{'COMPREHENSIVE_STEPS.SECOND'|translate}}</h6>
  <p> {{'COMPREHENSIVE_STEPS.SECOND_TITLE'|translate}}</p> 
  </section>
  <section class="comprehensive-step p-1 m-2 mb-4 p-3">
    <h6>{{'COMPREHENSIVE_STEPS.THIRD'|translate}}</h6>
   <p> {{'COMPREHENSIVE_STEPS.THIRD_TITLE'|translate}}</p>
  </section>

  <button class="start-now-btn btn-block btn btn-primary-dark " (click)="proceed()">{{'COMPREHENSIVE_STEPS.PROCEED'|translate}}</button>
</div> -->

<div class="container-fluid--comprehensive max-width--1024 comprehensive">
  <ul class="road-map">
    <li><span></span><div>Step-1</div><div>What's On Your Shoulders</div><div>Your family commitments will impact on your financial planning. Let's list it out now!</div></li>
    <li><span></span><div>Step 2</div><div>Your Finances</div></li>
    <li><span></span><div>Step 3</div><div>Your Current Fire Proofing</div></li>
    <li><span></span><div>Step 4</div><div>Financial Independence. Retire Early</div></li>
    <li><span class="active"></span><div>Congratulations!</div><div>Report Generation</div></li>
  </ul>
</div>