@import '../../../variables';
@import '../../../mixins';

.comprehensive-procedures{
    background: $white-color !important;

.comprehensive-img{
    width: 100%;
    text-align: center;
    height: 75px;
}

.comprehensive-first-step{
    background: $iron-silver-color !important;
    color: $black-color;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18) !important;
}
.comprehensive-step{
    border-radius: 5px;
    background-color: $white-color;
    border: 1px solid $mercury-silver-color;
    box-shadow: 0 2px 8px 0 $lite-pale-sky-color !important;
    color: $lite-pale-sky-color;
}
}