@import '../../../variables';
@import '../../../mixins';
app-download-report {
  .intro-block {
    .container-fluid {
      padding-top: 30px !important;
      padding-bottom: 0 !important;
      @include allmobiles {
        padding-top: 10px !important;
      }
    }
    .intro-block__content {
      .banner-image img {
        padding-top: 0px;
        @include allmobiles {
          padding-top: 30px;
        }
      }
      .intro-block__content__desc {
        margin: 15px auto 0;
        max-width: 600px;
        color: $intro-block-content-desc-color;
        box-sizing: border-box;
        @include allmobiles {
          margin-top: 30px;
          text-align: center;
        }
        @include tablet {
          margin-top: 30px;
        }
        .btn-orange{
            font-family: $muli-bold;
            font-size: 22px;
            width: 335px;
            background-color: $neon-carrot-color !important;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
            border-radius: 6px;
            padding: 14px 0;
            @include min350max375{
              width: 100%;
            }
            @include allmobiles{
              width: 300px;
            }
            .btn-icon{
              height: 12px;
              width: 21px;
              margin-left: 12px;
            }
          }
        .intro-block__content__heading {
          max-width: 310px;
          font-family: $muli-semi-bold;
          font-size: 21px;
          line-height: 26px;
          letter-spacing: -0.25px;
          text-align: center;
          color: $white-color;
          margin: 20px auto;
        }
        .title-box {
          max-width: 410px;
          border-radius: 6px;
          padding: 20px;
          background-color: $white-color;
          color: $black-color;
          margin: 20px auto;
          .content-desc{
            display: flex;
            align-items: center;
            justify-content: center;

          .title {
            font-family: $muli-bold;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: -0.16px;
            text-align: center;
            margin-top: 5px;
            padding-left: 10px;
          }
        }
          .sub-title {
            font-family: $muli-regular;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.3px;
            text-align: center;
          }
          .continue-btn{
            width: 335px !important;
            height: 60px !important;
            border-radius: 6px;
            margin: auto;
            background-color: $persian-green-color;
            font-family: $muli-bold;
            font-size: 22px;
            line-height: 27px;
            letter-spacing: -0.17px;
            text-align: center;
          }
        }
      }
    }
  }
  .btn-primary{
    margin-top: 30px;
    min-width: 315px;
    padding: 13px 0 12px;
    justify-content: center;
    }

  }