<div class="page-container">
    <div class="content-div">
        <div class="title-txt">{{'INVEST_MAINTENANCE.TITLE' | translate}}</div>
        <div class="content-txt">{{'INVEST_MAINTENANCE.CONTENT' | translate}}</div>
        <img class="maintenance-img" src="assets/images/maintenance/hpbarchart.svg">
    </div>
    <div class="footer">
        <img class="mo-logo" src="assets/images/logo-lightbg.svg">
        <a class="contact-us-link" href="mailto:enquiries@moneyowl.com.sg">
            <img src="assets/images/white-letter-icon.svg">
            <span class="contact-us-txt">{{'INVEST_MAINTENANCE.CONTACT_US' | translate}}</span>
        </a>
        <div class="abt-mo-txt">{{'INVEST_MAINTENANCE.ABT_MO' | translate:({'copyrightYear': copyrightYear})}}</div>
    </div>
</div>
