@import '../../variables';
@import '../../mixins';

app-investment-maintenance {

    .page-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

        @include allmobiles {
            height: 100vh;
            padding: 0 24px;
            margin-top: 0px;
        }
    }

    .content-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title-txt {
        font-family: $muli-bold;
        font-size: 48px;
        line-height: normal;
        letter-spacing: -0.5px;
        font-style: normal;
        text-align: center;

        @include allmobiles {
            font-size: 24px;
            letter-spacing: -0.25px;
        }
    }

    .content-txt {
        font-family: $muli-regular;
        font-size: 21px;
        line-height: normal;
        letter-spacing: -0.22px;
        font-style: normal;
        text-align: center;
        margin-top: 10px;
        max-width: 500px;

        @include allmobiles {
            font-size: 15px;
            letter-spacing: -0.16px;
        }
    }

    .maintenance-img {
        margin-top: 25px;

        @include allmobiles {
            height: 274px;
            width: 304px;
        }
    }

    .footer {
        margin-top: 40px;

        .mo-logo {
            @include allmobiles {
                height: 40px;
                width: 158px;
            }
        }

        .contact-us-link {
            vertical-align: bottom;
            margin-left: 50px;
            text-decoration: none;
        }

        .contact-us-txt {
            font-family: Muli;
            font-size: 18px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: -0.34px;
            color: #ffffff;
            margin-left: 10px;
            vertical-align: bottom;
        }

        .abt-mo-txt {
            font-family: $muli-regular;
            font-size: 11px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.45;
            letter-spacing: 0.01px;
            color: #ffffff;
            margin: 20px 0 29px;
            max-width: 820px;
        }
    }

}
