@import '../../../variables';
@import '../../../mixins';

app-create-account {
  .checkbox-button a {
    color: $white-color;
    text-decoration: underline;
  }

  input[type='checkbox']+label {
    background-position: left top;
  }

  .dropdown-menu.show {
    height: 200px;
    overflow-y: auto;
  }

  .back-btn {
    background-image: url("../../../assets/images/back-web.svg");
    width: 43px;
    height: 43px;
    cursor: pointer;
    position: absolute;
    top: 5%;
    left: 20px;
    background-repeat: no-repeat;
  }

  .form-group-captcha-wrapper {
    display: flex;
    align-items: center;
    height: 60%;
  }

  .link-white {
    text-decoration: underline;
    cursor: pointer;
    font-size: 13px;
    margin-top: 10px;
  }

  .dropdown-control {
    &.form-control-left {
      .btn-dropdown {
        &:after {
          display: none;
        }
      }
    }
  }

  .form-group-floating-label .error-tooltip {
    position: absolute;
    bottom: 56px;
    z-index: 1060;
    width: 100%;
  }

  .form-control:focus+.form-control-placeholder,
  .form-control:valid+.form-control-placeholder,
  .form-control:read-only+.form-control-placeholder {
    font-size: 10px;
    transform: translate3d(0, -50%, 0);
    opacity: 1;
    color: #5e5e5e;
    z-index: 999;
  }

  .signup-wrapper__header-icon{  
   width: 260px !important;
   height: 232px !important;
   @include allmobiles {
    width: 170px; 
    margin-bottom: 15px;
    max-width: 170px !important;
    max-height: 155px !important;
    height: auto;
   }
  }
  .inline-error {
    .show-password{
      background: url("../../../assets/images/show-password.svg") !important;
      background-repeat:no-repeat !important;
      background-color:transparent !important;
    }
    .hide-password {
      background-image: url("../../../assets/images/hide-password.svg") !important;
      background-repeat:no-repeat !important;
      background-color:transparent !important;
    }
  }
  .alert-msg{
    font-family: $muli-italic;
    font-size: 14px;
    padding-top: 5px;
    div{
      display: flex;
      align-items: center;
      .alert-icon{
        width: 15px;
        height: 15px;
        display: flex;
        margin-right: 7px;
      }
    }
  }
 
  .ref-code-title {
    font-family: $muli-bold;
    font-size: 16px;
  }

  .ref-code-input {
    display:flex !important;
    justify-content: space-between;
    padding-right: 6px;
    margin-top: 10px !important;

    img {
      top: -4px;
      position: relative;
      cursor: pointer;
    }

    #cross-btn {
      padding-right: 20px;
    }

    #green-tick {
      padding-right:14px;
    }

    .spinner-container {
      top: -4px;
      position: relative;
      display: flex;
      justify-content:center;
      align-items: center;
      width: 75px;
      height: 40px;
      padding: 0 25.5px; 
      border-radius:6px;
      margin-top: 2.5px;
      background-color: $crusta-orange-color;
      cursor: pointer;
  
      span {
        font-family: $muli-semi-bold;
        font-size: 14px;
        line-height: normal;
        letter-spacing: -0.26px;
        color: $white-color;
      }

      #mo_spinner {
        width:24px; 
        height:24px;
        background-color: $crusta-orange-color;
      }
    }
  }

  .ref-code-error {
    display: flex;
    align-items: center;
    font-family: $muli-italic;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -0.14px;

    img {
      padding-right: 7px;
    }
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: $persian-teal-color;
  }

  .title {
    font-size: 14px;
  }

  .captcha-title {
    font-family: $muli-bold;
    font-size: 16px;
    letter-spacing: -0.3px;
    line-height: normal;
    color: $white-color;
  }

  input#crtAccInpt9.form-control:invalid + .form-control-placeholder {
    color: $dusty-grey-color;
  }

  input#crtAccInpt9.form-control:focus + .form-control-placeholder {
    color: $silver-grey-color !important;
  }

  .btn:disabled, .btn:disabled:hover {
    border: solid 1px $btn-disabled-teal-color !important;
    background-color: $btn-disabled-light-bg !important;
    color: $btn-disabled-teal-color !important;
  }
  .form-group-floating-label {
    &:disabled,
    &.disabled {
      background-color: $form-control-disabled-bg-color !important;
      opacity: 1 !important;
      box-shadow: inset 0 0 0px 9999px $form-control-disabled-bg-color;
      -webkit-box-shadow: inset 0 0 0px 9999px $form-control-disabled-bg-color !important;
      &:hover {
        background-color: $form-control-disabled-bg-color !important;
      }
      .form-control-placeholder {
    font-size: 10px;
    transform: translate3d(0, -50%, 0);
    opacity: 1;
    color: #5e5e5e;
    z-index: 999;
  }
    }
    input {
      &:disabled,
      &.disabled {
        color: $app-backgrnd-color !important;
        -webkit-text-fill-color:$app-backgrnd-color !important;
        background-color: $iceberg-blue-color !important;
        opacity: 1 !important;
        box-shadow: inset 0 0 0px 9999px $iceberg-blue-color;
        -webkit-box-shadow: inset 0 0 0px 9999px $iceberg-blue-color !important;
        padding-bottom: 9px;
        padding-top: 12px;
        &:hover {
          background-color: $iceberg-blue-color !important;
        }
      }
    }
    
  }
}

