<div class="container-fluid">
  <div class="content">
    <div class="row">
      <div class="col-lg-7 col-md-6">
        <div class="signup-wrapper">
          <h2 class="title order1 sm-order2 ml10">{{pageTitle}}</h2>
          <div class="description order2">
              <p>Please fill in your details so that our advisers can contact you.</p>
            </div>
          <img class="header-icon order3 sm-order1" src="assets/images/createAccount-icon.svg"/>
          </div>
        </div>
      <div class="col-lg-5 col-md-6">
        <form id="createAccountForm" name="createAccountForm" [formGroup]="createAccountForm">
          <div class="flex-row mb10">
            <div class="flex-col-3 stretch mr15">
              <div class="dropdown-control form-control-left">
              <div ngbDropdown id="countryCode">
                <button class="btn btn-dropdown without-border" id="dropdownBasic1" ngbDropdownToggle aria-expanded="false">
                  <span>+</span><span>{{countryCode}}</span>
                </button>
                <div ngbDropdownMenu class="dropdown" aria-labelledby="dropdownBasic1">
                  <button class="dropdown-item" *ngFor="let option of countryCodeOptions" (click)="setDropDownCountryCode(option, i)">{{option}}</button>
                </div>
                </div>
              </div>
            </div>
            <div class="flex-col-8 stretch" [formGroup]="createAccountForm">
              <div class="form-control">
                  <input type="text" class="input-control text-left"
                  maxLength="8" #otherIncome formControlName="mobileNumber" placeholder="{{ 'CREATE_ACCOUNT.FORM.MOBILE_NUMBER' | translate}}">
                </div>
              </div>
            </div>
          <div class="flex-row mb10">
            <div class="flex-col-5 stretch mr15" [formGroup]="createAccountForm">
              <div class="form-control">
                <input type="text" class="input-control text-left" #firstName formControlName="firstName" value="" placeholder="{{ 'CREATE_ACCOUNT.FORM.FIRST_NAME' | translate}}">
              </div>
            </div>
            <div class="flex-col-5 stretch" [formGroup]="createAccountForm">
              <div class="form-control">
                <input type="text" class="input-control text-left" #firstName formControlName="lastName" value="" placeholder="{{ 'CREATE_ACCOUNT.FORM.LAST_NAME' | translate}}">
              </div>
            </div>
            </div>
          <div class="flex-row mb30">
            <div class="flex-col-12 stretch" [formGroup]="createAccountForm">
              <div class="form-control">
                  <input type="text" class="input-control text-left"
                  #email formControlName="email" placeholder="{{ 'CREATE_ACCOUNT.FORM.EMAIL' | translate}}">
                </div>
              </div>
            </div>
            <div class="checkbox-button one-label">
              <input id="termsConditionPrivacy" name="termsConditionPrivacy" formControlName="termsConditionPrivacy" type="checkbox" class="field checkbox"
                value="I agree to MoneyOwl's Terms of Use and Privacy Policy.">
              <label for="termsConditionPrivacy">
                <div class="title">I agree to MoneyOwl's <b><u>Terms of Use</u></b> and <b><u>Privacy Policy.</u></b></div>
                                </label>
            </div>
            <div class="checkbox-button one-label">
              <input id="marketingPartner" name="marketingPartner" formControlName="marketingPartner" type="checkbox" class="field checkbox"
                value="I consent to receive marketing materials from MoneyOwl and partners of MoneyOwl.">
              <label for="marketingPartner">
                <div class="title">I consent to receive marketing materials from MoneyOwl and partners of MoneyOwl.</div>
                                </label>
            </div>
            <button id="nextDependentBtn" [class.show]="isNavNextEnabled" (click)="navigateDependentForm('next')" type="button" class="btn btn__footer--fixed btn-primary width100">{{ 'COMMON.CONTINUE' | translate }}</button>
        </form>
      </div>   
    </div>
  </div>
</div>