<div class="container-fluid max-width--1024">
  <div class="back-btn hidden-lg" (click)="goBack()"></div>
  <div class="content">
    <div class="row">
      <div class="col-lg-7 col-md-6">
        <div class="signup-wrapper">
          <h2 class="signup-wrapper__title order1 sm-order2 ml10">{{ 'CREATE_ACCOUNT.TITLE' | translate}}</h2>
          <div class="signup-wrapper__description order2">
            <p>{{ 'CREATE_ACCOUNT.DESCRIPTION' | translate}}</p>
          </div>
          <img class="signup-wrapper__header-icon order3 sm-order1" src="assets/images/createAccount-icon.svg" />
        </div>
      </div>
      <div class="col-lg-5 col-md-6">
        <form id="createAccountForm" name="createAccountForm" [formGroup]="createAccountForm">
          <div class="flex-row mb10">
            <div class="flex-col-4 stretch mr15">
              <div class="dropdown-control form-control-left" style="pointer-events:none;">
                <div ngbDropdown id="countryCode">
                  <button class="btn btn-dropdown without-border" id="dropdownBasic1" ngbDropdownToggle
                    aria-expanded="false">
                    <span>{{defaultCountryCode}}</span>
                  </button>
                  <div ngbDropdownMenu class="dropdown" aria-labelledby="dropdownBasic1" style="height: auto;">
                    <button class="dropdown-item" *ngFor="let option of countryCodeOptions"
                      (click)="setCountryCode(option.code)">{{option.code}}</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex-col-7 stretch" [formGroup]="createAccountForm">
              <div [ngClass]="{'inline-error':editNumber}" class="form-group-floating-label">
                <input type="input" maxlength="15" id="crtAccInpt1" #mobileNumber formControlName="mobileNumber"
                  class="form-control" (keyup)="onlyNumber(mobileNumber)" required>
                <label class="form-control-placeholder"
                  for="name">{{ 'CREATE_ACCOUNT.FORM.MOBILE_NUMBER' | translate}}</label>
              </div>
            </div>

          </div>
          <div class="flex-row mb10">
            <div class="flex-col-5 stretch mr15" [formGroup]="createAccountForm">
              <div class="form-group-floating-label">
                <input type="text" id="crtAccInpt2" class="form-control" #firstName formControlName="firstName"
                  required>
                <label class="form-control-placeholder" for="firstName">{{ 'CREATE_ACCOUNT.FORM.FIRST_NAME' |
                  translate}}</label>
              </div>
            </div>
            <div class="flex-col-5 stretch" [formGroup]="createAccountForm">
              <div class="form-group-floating-label">
                <input type="text" id="crtAccInpt3" class="form-control" #lastName formControlName="lastName" required>
                <label class="form-control-placeholder"
                  for="lastName">{{ 'CREATE_ACCOUNT.FORM.LAST_NAME' | translate}}</label>
              </div>
            </div>
          </div>
          <div class="flex-row mb20">
            <div class="flex-col-12 stretch" [formGroup]="createAccountForm">
              <div class="form-group-floating-label">
                <input type="text" id="crtAccInpt4" class="form-control" #email formControlName="email" required>
                <label class="form-control-placeholder"
                  for="lastName">{{ 'CREATE_ACCOUNT.FORM.EMAIL' | translate}}</label>
              </div>
            </div>
          </div>
          <div class="flex-row mb20">
            <div class="flex-col-12 stretch" [formGroup]="createAccountForm">
              <div class="form-group-floating-label">
                <input type="text" id="crtAccInpt5" class="form-control" #confirmEmail formControlName="confirmEmail"
                  required>
                <label class="form-control-placeholder"
                  for="lastName">{{ 'CREATE_ACCOUNT.FORM.CONFIRM_EMAIL' | translate}}</label>
                  <div class="error-tooltip"
                  *ngIf="!createAccountForm.controls.email.errors && createAccountForm.controls.confirmEmail.dirty && createAccountForm.controls.confirmEmail.errors && confirmEmail.value.length">
                  <div class="error-tooltip__desc">
                    <p class="error-tooltip__title"><span class="error-tooltip__title__warning-icon">!</span>{{
                      'CREATE_ACCOUNT.ERROR_MESSAGE.TITLE' | translate}}</p>
                    <p class="error-tooltip__desc-one">{{ 'CREATE_ACCOUNT.ERROR_MESSAGE.MATCH' | translate}}</p>
                    <span class="error-tooltip__arrow"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex-row mb20">
            <div class="flex-col-12 stretch" [formGroup]="createAccountForm">
              <div class="form-group-floating-label">
                <input id="crtAccInpt6" type="password" (keyup)="onPasswordInputChange()" class="form-control"
                  formControlName="password" #password required>
                <label class="form-control-placeholder" for="password">{{ 'PASSWORD.FORM.PASSWORD' | translate}}</label>
                <span [ngClass]="(password.type === 'text') ? 'show-password' : 'hide-password'"
                  (click)="showHidePassword(password)"></span>
                <div class="error-tooltip"
                  *ngIf="!isPasswordValid">
                  <div class="error-tooltip__desc">
                    <p class="error-tooltip__title"><span class="error-tooltip__title__warning-icon">!</span>{{
                      'PASSWORD.ERROR_MESSAGE.TITLE' | translate}}</p>
                    <p
                      [ngClass]="!createAccountForm.controls.password.errors?.length ? 'error-tooltip__desc-one': 'error-tooltip__desc-three'">{{
                      'PASSWORD.ERROR_MESSAGE.LENGTH' | translate}}<span
                        *ngIf="!createAccountForm.controls.password.errors?.length" class="tick-mark"></span></p>
                    <p
                      [ngClass]="!createAccountForm.controls.password.errors?.upperLower ? 'error-tooltip__desc-one': 'error-tooltip__desc-three'">{{
                      'PASSWORD.ERROR_MESSAGE.UPPER_LOWER' | translate}}<span
                        *ngIf="!createAccountForm.controls.password.errors?.upperLower" class="tick-mark"></span></p>
                    <p
                      [ngClass]="!createAccountForm.controls.password.errors?.numberSymbol ? 'error-tooltip__desc-one': 'error-tooltip__desc-three'">{{
                      'PASSWORD.ERROR_MESSAGE.NUMBER_SYMBOL' | translate}}<span
                        *ngIf="!createAccountForm.controls.password.errors?.numberSymbol" class="tick-mark"></span></p>
                    <span class="error-tooltip__arrow"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex-row mb20">
            <div class="flex-col-12 stretch" [formGroup]="createAccountForm">
              <div class="form-group-floating-label">
                <input id="crtAccInpt7" type="password" class="form-control" formControlName="confirmPassword"
                  #confirmPassword required>
                <label class="form-control-placeholder" for="confirmPassword">{{ 'PASSWORD.FORM.CONFIRM_PASSWORD' |
                  translate}}</label>
                <span [ngClass]="(confirmPassword.type === 'text') ? 'show-password' : 'hide-password'"
                  (click)="showHidePassword(confirmPassword)"></span>
                <div class="error-tooltip"
                  *ngIf="!createAccountForm.controls.password.errors && createAccountForm.controls.confirmPassword.dirty && createAccountForm.controls.confirmPassword.errors && confirmPassword.value.length">
                  <div class="error-tooltip__desc">
                    <p class="error-tooltip__title"><span class="error-tooltip__title__warning-icon">!</span>{{
                      'PASSWORD.ERROR_MESSAGE.TITLE' | translate}}</p>
                    <p class="error-tooltip__desc-one">{{ 'PASSWORD.ERROR_MESSAGE.MATCH' | translate}}</p>
                    <span class="error-tooltip__arrow"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex-row mb10">
            <span class="mb20">{{ 'COMMON.CAPTCHA_TITLE' | translate}}</span>
            <div class="flex-col-6 stretch">
              <div class="form-group-captcha-wrapper">
                <img [src]="captchaSrc | secure | async" class="captcha-img" />
              </div>
            </div>
            <div class="flex-col-6 stretch">
              <div class="form-group-floating-label">
                <input type="text" id="crtAccInpt8" class="form-control" #captcha formControlName="captcha" required>
                <label class="form-control-placeholder" for="lastName">{{ 'COMMON.CAPTCHA' | translate}}</label>
              </div>
              <div (click)="refreshCaptcha()" class="link-white text-right">{{ 'COMMON.TRY_ANOTHER_TEXT' | translate}}
                <i class="fa fa-refresh" style="color: white; margin-left: 10px;"></i></div>
            </div>
          </div>
          <div class="checkbox-button one-label mb10" style="display:none">
            <input id="termsOfConditions" name="termsOfConditions" formControlName="termsOfConditions" type="checkbox"
              class="field checkbox" value="I agree to MoneyOwl's Terms of Use and Privacy Policy." required>
            <label for="termsOfConditions">
              <div class="title" [innerHtml]="'CREATE_ACCOUNT.FORM.TERMS_OF_USE' | translate"></div>
            </label>
          </div>
          <div class="checkbox-button one-label">
            <input id="marketingAcceptance" name="marketingAcceptance" formControlName="marketingAcceptance"
              type="checkbox" class="field checkbox"
              value="I consent to receiving marketing materials from MoneyOwl, its partners and related organisations, and to disclosing my personal data to the same.">
            <label for="marketingAcceptance">
              <div class="title">{{ 'CREATE_ACCOUNT.FORM.MARKETING_ACCEPTANCE' | translate }}</div>
            </label>
          </div>
          <button id="nextDependentBtn" (click)="save(createAccountForm)" type="button"
            class="btn btn__footer--fixed btn-primary width100">{{
            'COMMON.CONTINUE' | translate }}</button>
        </form>
      </div>
    </div>
  </div>
</div>
