<div class="container-fluid">
  <div class="content">
    <div class="row">
        <div class="col-lg-7 col-md-6">
        <div class="signup-wrapper">
          <h2 class="signup-wrapper__title order1 sm-order2 ml10">Create Password</h2>
          <div class="signup-wrapper__description order2">
              <p>{{'PASSWORD.SUB_TITLE' | translate}}</p>
            </div>
          <img class="signup-wrapper__header-icon order3 sm-order1" src="assets/images/createAccount-icon.svg"/>
          </div>
        </div>
      <div class="col-lg-5 col-md-6">
        <form class="signup-form-wrapper" id="passwordForm" name="passwordForm" [formGroup]="passwordForm" novalidate>
<!--           <div class="flex-row mb30">
            <div class="flex-col-12 stretch">
              <div class="form-control">
                  <input type="password" class="input-control text-left"
                  formControlName="password" #password placeholder="{{ 'PASSWORD.FORM.PASSWORD' | translate}}">
                  <span class="fas fa-eye" (click)="showHidePassword(password)"></span>
                </div>
              </div>
          </div>  -->
          <div class="flex-row mb10">
            <div class="flex-col-12" [formGroup]="passwordForm">
              <div class="form-group-floating-label">
                  <input [type]="pwdShow ? 'text' : 'password'" class="form-control"
                  formControlName="password" #password required>
                  <label class="form-control-placeholder" for="password">Password</label>
                  <span [ngClass]=" pwdVisibility ? 'show-password' : 'hide-password'" (click)="showPassword('pwd')"></span>
                  <div class="error-tooltip" style="display: none">
                  <div class="error-tooltip__desc">
                    <p class="error-tooltip__title"><span class="error-tooltip__title__warning-icon">!</span>Password Criteria</p>
                    <p class="error-tooltip__desc-one">8 - 20 Alphanumeric Characters<span class="tick-mark"></span></p>
                    <p class="error-tooltip__desc-two">At least 1 Uppercase & 1 Lowercase<span class="tick-mark"></span></p>
                    <p class="error-tooltip__desc-three">At least 1 Number & 1 Symbol</p>
                    <span class="error-tooltip__arrow"></span>
                  </div>
                  </div>
                </div>
              </div>
          </div> 
<!--           <div class="flex-row mb30">
            <div class="flex-col-12 stretch">
              <div class="form-control">
                  <input type="password" class="input-control text-left"
                  formControlName="confirmPassword" #confirmPassword placeholder="{{ 'PASSWORD.FORM.CONFIRM_PASSWORD' | translate}}">
                  <span class="fas fa-eye" (click)="showHidePassword(confirmPassword)"></span>
                </div>
              </div>
          </div> -->
          <div class="flex-row mb10">
            <div class="flex-col-12" [formGroup]="passwordForm">
              <div class="form-group-floating-label">
                  <input [type]="confirmPwdShow ? 'text' : 'password'" class="form-control"
                  formControlName="confirmPassword" #password required>
                  <label class="form-control-placeholder" for="confirmPassword">Confirm Password</label>
                  <span [ngClass]=" confirmPwdVisibility ? 'show-password' : 'hide-password'" (click)="showPassword('confirmPwd')"></span>
                  <div class="error-tooltip" style="display: none">
                  <div class="error-tooltip__desc">
                    <p class="error-tooltip__title"><span class="error-tooltip__title__warning-icon">!</span>Password Criteria</p>
                    <p class="error-tooltip__desc-one">8 - 20 Alphanumeric Characters<span class="tick-mark"></span></p>
                    <p class="error-tooltip__desc-two">At least 1 Uppercase & 1 Lowercase<span class="tick-mark"></span></p>
                    <p class="error-tooltip__desc-three">At least 1 Number & 1 Symbol</p>
                    <span class="error-tooltip__arrow"></span>
                  </div>
                  </div>
                </div>
              </div>
          </div>            
            <button (click)="save(passwordForm)" type="button" class="btn btn__footer--fixed btn-ftr-get-started btn-primary width100">{{ 'COMMON.CREATE_ACCOUNT' | translate }}</button>
        </form>
      </div>   
    </div>
  </div>
</div>