<div class="container-fluid flex__wrapper">
  <div class="content">
    <div class="row">
      <div class="col-lg-6 col-sm-12 col-xs-12 signup-wrapper sm-text-align-center">
          <h3 class="title order1 sm-order2 ml10">{{'PASSWORD.TITLE' | translate}}</h3>
          <img class="header-icon order2 sm-order1" src="assets/images/createAccount-icon.svg"/>
          <div class="hidden-lg description order3">
              <p>{{'PASSWORD.SUB_TITLE' | translate}}</p>
            </div>
        </div>
      <div class="col-lg-6 col-sm-12 col-xs-12">
        <form class="signup-form-wrapper" id="passwordForm" name="passwordForm" [formGroup]="passwordForm" novalidate>
          <div class="flex-row mb30">
            <div class="flex-col-12 stretch">
              <div class="form-control">
                  <input type="password" class="input-control text-left"
                  formControlName="password" #password placeholder="{{ 'PASSWORD.FORM.PASSWORD' | translate}}">
                  <span class="fas fa-eye"></span>
                </div>
              </div>
          </div> 
          <div class="flex-row mb30">
            <div class="flex-col-12 stretch">
              <div class="form-control">
                  <input type="password" class="input-control text-left"
                  formControlName="confirmPassword" #confirmPassword placeholder="{{ 'PASSWORD.FORM.CONFIRM_PASSWORD' | translate}}">
                  <span class="fas fa-eye"></span>
                </div>
              </div>
          </div>            
            <button (click)="save(passwordForm)" type="button" class="btn btn__footer--fixed btn-ftr-get-started btn-white width100">{{ 'COMMON.CREATE_ACCOUNT' | translate }}</button>
        </form>
      </div>   
    </div>
  </div>
</div>