<div class="singpass-login-modal-block">
  <div class="modal-header header-modal-image completed">
    <!-- <img src="assets/images/graphic-login-activate-singpass.svg" id="errorModelImage" /> -->
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true" id="errorModelCloseIcon"></span>
    </button>
  </div>
  <div class="modal-body" id="modalDesc" [innerHTML]="errorMessage"></div>
  <div class="modal-body" id="modalDesc">
    <h4>SingPass Account Link Completed!</h4>
    <div>You may use SingPass Mobile App the next time you log in to MoneyOwl. </div>
    <div class="retrieved-details">
      <div class="retrieved-details-title">Fields retrieved:</div>
      <label>Name</label>
      <div>Kelvin Goh</div>
      <label>NRIC/FIN</label>
      <div>S1234567F</div>
    </div>
  </div>
  <div class="plr20">
    <button type="button" class="action-button" id="errorModeButton"  (click)="openModal()">
      {{primaryActionLabel}}
    </button>
    <button type="button" class="action-button" id="errorModeButton" (click)="activeModal.dismiss('Cross click')">
      Got It!
    </button>
  </div>
</div>