<div class="singpass-login-modal-block">
    <div class="modal-header header-modal-image">
    <!-- <img src="assets/images/graphic-login-activate-singpass.svg" id="errorModelImage" /> -->
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true" id="errorModelCloseIcon"></span>
      </button>
  </div>
  <div class="help-modal-body"  id="modalDesc">
    <!-- [innerHTML]="description" -->
   <div> 
    <h4>Activate SingPass Login</h4>   
    Use MyInfo to activate your MoneyOwl SingPass Mobile App login. No more remembering of password. This feature is available to all SingPass Registered users.

    Learn more about MyInfo
</div>
  </div>
  <div class="row">
    <div class="col-12">
      <button type="button" class="action-button"  id="errorModeButton">
          <!-- (click)="primaryActionSelected()" -->
        <!-- {{primaryActionLabel}} -->
        Activate Now
      </button>
    </div>
    </div>
</div>