@import '../../../../variables';
@import '../../../../mixins';


img{
   
    border-radius: 5.9px;
    border: solid 1px #979797;
}
.img-boarder{
   
    border-radius: 5.9px;
    border: solid 1px #979797;
   
    margin: 5px;
}