<div class="modal-header">
 
</div>
<div class="modal-body white-bg">

  <div class="modal-body-title">{{errorTitle}}</div>
  <div class="modal-body-message">
   {{errorDescription}}</div>


   <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true"></span>
  </button>
  
  <div class="flex-row">
    <div class="flex-col-6">
     
      <img src="./assets/images/owl.svg" />
      
    </div>
    <div class="flex-col-6">
     
        <img src="./assets/images/owl.svg" />
     
      <!-- <div class="modal-title popup-header-icon"><img src="./assets/images/owl.svg" />
      </div> -->
     
    </div>
  </div>


  <div class="flex-row">
      <div class="flex-col-6">
        
          <img src="./assets/images/owl.svg" />
       
        <!-- <div class="modal-title popup-header-icon"><img src="./assets/images/owl.svg" /></div> -->
      </div>
      <div class="flex-col-6">
      
          <img src="./assets/images/owl.svg" />
       
        <!-- <div class="modal-title popup-header-icon"><img src="./assets/images/owl.svg" />
        </div> -->
       
      </div>
    </div>

    <div class="flex-row">
        <div class="flex-col-6">
          
            <img src="./assets/images/owl.svg" />
          
          <!-- <div class="modal-title popup-header-icon"><img src="./assets/images/owl.svg" /></div> -->
        </div>
        <div class="flex-col-6">
         
            <img src="./assets/images/owl.svg" />
          
          <!-- <div class="modal-title popup-header-icon"><img src="./assets/images/owl.svg" />
          </div> -->
         
        </div>
      </div>

      <div class="flex-row">
          <div class="flex-col-6">
            
              <img src="./assets/images/owl.svg" />
           
            <!-- <div class="modal-title popup-header-icon"><img src="./assets/images/owl.svg" /></div> -->
          </div>
          <div class="flex-col-6">
           
              <img src="./assets/images/owl.svg" />
           
            <!-- <div class="modal-title popup-header-icon"><img src="./assets/images/owl.svg" />
            </div> -->
           
          </div>
        </div>

</div>
