@import '../../../variables';
@import '../../../mixins';

app-update-user-id {
  .email-text {
    text-transform: lowercase;
  }

  .container-fluid {
    &.max-width--1024 {
      max-width: 800px;
    }

    @include allmobiles {
      padding-top: 80px;
    }

    @include min568max767 {
      padding-top: 90px;
    }
  }

  input[type="checkbox"]+label {
    background-position: left top;
  }

  .update-user-id-text {
    font-family: $muli-semi-bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.26px;
    color: $white-color;
    margin-bottom: 10px;
  }

  .update-user-id-text-email {
    font-family: $muli-regular;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.26px;
    color: $white-color;
    margin-bottom: 10px;
  }

  .flex-row {
    .flex-col-3 {
      max-width: 105px;

      @include allmobiles {
        max-width: 95px;
      }
    }
  }

  .existing-data {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 6px;

    .form-group-floating-label {
      &.disabled {
        color: $teal-color;
        border: solid 1px $aqua-squeeze-color;
        background-color: $aqua-squeeze-color;
        cursor: not-allowed;

        .form-control {
          cursor: not-allowed;
        }
      }

      .form-control-placeholder {
        font-size: 10px;
        transform: translate3d(0, -50%, 0);
        opacity: 1;
        color: #5e5e5e;
        z-index: 999;
      }
    }
  }

  .form-control:focus+.form-control-placeholder,
  .form-control:valid+.form-control-placeholder,
  .form-control:read-only+.form-control-placeholder {
    font-size: 10px;
    transform: translate3d(0, -50%, 0);
    opacity: 1;
    color: #5e5e5e;
    z-index: 999;
  }

  .dropdown-control {
    &.form-control-left {
      cursor: not-allowed;

      .btn-dropdown {
        &:disabled {
          border: solid 1px $aqua-squeeze-color !important;
          background-color: $aqua-squeeze-color;
          color: $teal-color !important;
          cursor: not-allowed;

          &:after {
            display: none;
          }
        }
      }
    }
  }

  .btn:disabled {
    box-shadow: none !important;
  }

  .btn-primary {
    margin-top: 60px !important;

    @include allmobiles {
      margin-top: 14px !important;
    }
  }

  .inline-error {
    .show-password {
      background: url("../../../assets/images/show-password.svg") !important;
      background-repeat: no-repeat !important;
      background-color: transparent !important;
    }

    .hide-password {
      background-image: url("../../../assets/images/hide-password.svg") !important;
      background-repeat: no-repeat !important;
      background-color: transparent !important;
    }
  }

  .alert-msg {
    font-family: $muli-italic;
    font-size: 14px;
    padding-top: 5px;

    div {
      display: flex;
      align-items: center;

      .alert-icon {
        width: 15px;
        height: 15px;
        display: flex;
        margin-right: 7px;
      }
    }
  }

  .error-tooltip {
    position: absolute;
    bottom: 59px;
    z-index: 1060;
    width: 100%;

    .error-tooltip__desc {
      padding: 15px 10px !important;
    }

    .error-tooltip__desc-one {
      margin-left: 0 !important;

      .error-tooltip__title__warning-icon {
        text-align: center;
        border-radius: 100%;
        background-color: #e57300;
        width: 25px;
        height: 25px;
        display: inline-block;
        vertical-align: middle;
        line-height: 23px;
        margin-right: 5px;
      }
    }
  }
}
