<app-investment-title-bar></app-investment-title-bar>
<div class="container-fluid max-width--1024 invest-web-width">
  <div class="content">
    <div class="row">
      <div class="col-12">
        <div class="update-user-id-text pb10">{{ 'UPDATE_USER_ID.YOUR_USER_ID' | translate}}</div>
        <form id="updateUserIdForm" name="updateUserIdForm" [formGroup]="updateUserIdForm">
          <div class="flex-row mb20">
            <div class="flex-col-4 stretch mr15">
              <div class="dropdown-control form-control-left" style="pointer-events:none;">
                <div ngbDropdown id="countryCode">
                  <button class="btn btn-dropdown without-border" id="dropdownBasic1" ngbDropdownToggle aria-expanded="false">
                    <span>{{defaultCountryCode}}</span>
                  </button>
                  <div ngbDropdownMenu class="dropdown" aria-labelledby="dropdownBasic1" style="height: auto;">
                    <button class="dropdown-item" *ngFor="let option of countryCodeOptions" (click)="setCountryCode(option.code)">{{option.code}}</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex-col-7 stretch" [formGroup]="updateUserIdForm">
              <div [ngClass]="{'inline-error':editNumber}" class="form-group-floating-label">
                <input type="input" maxlength="15" id="crtAccInpt1" #mobileNumber formControlName="mobileNumber" class="form-control"
                  (keyup)="onlyNumber(mobileNumber)" required>
                <label class="form-control-placeholder" for="name">{{ 'UPDATE_USER_ID.MOBILE_NUMBER' | translate}}</label>
              </div>
            </div>
          </div>
          <div class="flex-row mb20">
            <div class="flex-col-12 stretch" [formGroup]="updateUserIdForm">
              <div class="form-group-floating-label">
                <input type="text" id="crtAccInpt4" class="form-control" #email formControlName="email" required>
                <label class="form-control-placeholder" for="lastName">{{ 'UPDATE_USER_ID.EMAIL' | translate}}</label>
              </div>
            </div>
          </div>
          <button id="nextDependentBtn" (click)="save(updateUserIdForm)" type="button" class="btn btn__footer--fixed btn-primary width100">{{
            'UPDATE_USER_ID.APPLY_CHANGES' | translate }}</button>
        </form>
      </div>
    </div>
  </div>
</div>
