<app-investment-title-bar></app-investment-title-bar>
<div class="container-fluid max-width--1024 invest-web-pt-90">
  <div class="content">
    <div class="row">
      <div class="col-12">
        <div class="update-user-id-text">{{ 'UPDATE_USER_ID.YOUR_USER_ID' | translate}}</div>
        <form id="updateUserIdForm" name="updateUserIdForm" [formGroup]="updateUserIdForm">
          <div class="flex-row mb20 stretch existing-mobile">
              <div class=" flex-col-12" [formGroup]="updateUserIdForm">
                <div [ngClass]="{'inline-error':editNumber}" class="form-group-floating-label disabled">
                  <input type="input" maxlength="15" id="crtAccInpt1" #existingmobileNumber formControlName="existingMobileNumber" class="form-control" disabled>
                  <label class="form-control-placeholder" for="name">{{ 'UPDATE_USER_ID.CURRENT_MOBILE_NUMBER' | translate}}</label>
                </div>
              </div>
          </div>
          <div class="flex-row mb20">
            <div class="flex-col-3 stretch mr15">
              <div class="dropdown-control form-control-left" style="pointer-events:none;">
                <div ngbDropdown id="countryCode">
                  <button class="btn btn-dropdown without-border" id="dropdownBasic1" ngbDropdownToggle aria-expanded="false" disabled>
                    <span>{{defaultCountryCode}}</span>
                  </button>
                  <div ngbDropdownMenu class="dropdown" aria-labelledby="dropdownBasic1" style="height: auto;">
                    <button class="dropdown-item" *ngFor="let option of countryCodeOptions" (click)="setCountryCode(option.code)">{{option.code}}</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex-col-8 stretch" [formGroup]="updateUserIdForm">
              <div [ngClass]="{'inline-error':editNumber}" class="form-group-floating-label">
                <input type="input" maxlength="15" id="crtAccInpt1" #mobileNumber formControlName="mobileNumber" class="form-control"
                  (keyup)="onlyNumber(mobileNumber)" required>
                <label class="form-control-placeholder" for="name">{{ 'UPDATE_USER_ID.NEW_MOBILE_NUMBER' | translate}}</label>
              </div>
            </div>
          </div>
          <div class="flex-row mb20">
            <div class="flex-col-3 stretch mr15">
              <div class="dropdown-control form-control-left" style="pointer-events:none;">
                <div ngbDropdown id="countryCode">
                  <button class="btn btn-dropdown without-border" id="dropdownBasic1" ngbDropdownToggle aria-expanded="false" disabled>
                    <span>{{defaultCountryCode}}</span>
                  </button>
                  <div ngbDropdownMenu class="dropdown" aria-labelledby="dropdownBasic1" style="height: auto;">
                    <button class="dropdown-item" *ngFor="let option of countryCodeOptions" (click)="setCountryCode(option.code)">{{option.code}}</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex-col-8 stretch" [formGroup]="updateUserIdForm">
              <div [ngClass]="{'inline-error':editNumber}" class="form-group-floating-label">
                <input type="input" maxlength="15" id="crtAccInpt1" #mobileNumber formControlName="mobileNumber" class="form-control"
                  (keyup)="onlyNumber(mobileNumber)" required>
                <label class="form-control-placeholder" for="name">{{ 'UPDATE_USER_ID.CONFIRM_MOBILE_NUMBER' | translate}}</label>
              </div>
            </div>
          </div>
          <div class="update-user-id-text mt10">{{ 'UPDATE_USER_ID.AUTHENTICATE' | translate}}</div>
          <div class="flex-row mb15">
            <div class="flex-col-12 stretch">
              <div class="form-group-floating-label">
                <!-- (capsLock)="capsOn=$event" -->
                <input type="password" appInputFocus #loginPassword id="login_password_txt" class="form-control">
                  <!--  formControlName="loginPassword" required (focus)="onFocus()" (blur)="onBlur()" -->
                <label class="form-control-placeholder" for="login_password_txt" id="login_password_lbl">{{
                  'UPDATE_USER_ID.PASSWORD' | translate}}</label>
                <span id="login_showpassword_button">
                  <!-- [ngClass]="(loginPassword.type === 'text') ? 'show-password' : 'hide-password'"
                  (click)="showHidePassword(loginPassword)" -->
                </span>
              </div>
            </div>
          </div>
          <!-- <div class="flex-row mb20">
            <div class="flex-col-12 stretch" [formGroup]="updateUserIdForm">
              <div class="form-group-floating-label">
                <input type="text" id="crtAccInpt4" class="form-control" #email formControlName="email" required>
                <label class="form-control-placeholder" for="lastName">{{ 'UPDATE_USER_ID.EMAIL' | translate}}</label>
              </div>
            </div>
          </div> -->
          <button id="nextDependentBtn" (click)="save(updateUserIdForm)" type="button" class="btn btn__footer--fixed btn-primary width100">{{
            'UPDATE_USER_ID.APPLY_CHANGES' | translate }}</button>
        </form>
      </div>
    </div>
  </div>
</div>
