@import '../../../variables';
@import '../../../mixins';
app-update-user-id{
  .container-fluid{
    &.max-width--1024{
      max-width: 800px;
    }
    @include allmobiles {
    padding-top: 80px;
    }
  }
input[type='checkbox']+label {
  background-position: left top;
}
.update-user-id-text {
  font-family: $muli-regular;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.26px;
  color: $white-color;
  margin-bottom: 10px;
}
.flex-row{
  .flex-col-3{
    max-width: 105px;
    @include allmobiles{
      max-width: 95px;
    }
  }
}
.existing-mobile{
  width: 100%;
  display: flex;
  align-items: center;
  
  border-radius: 6px;
  .form-group-floating-label{
    &.disabled{
      color: $teal-color;
      border: solid 1px $aqua-squeeze-color;
      background-color: $aqua-squeeze-color;
    }
    .form-control-placeholder{
      font-size: 10px;
      transform: translate3d(0, -50%, 0);
      opacity: 1;
      color: #5e5e5e;
      z-index: 999;
    }
  }
}
.dropdown-control{
  &.form-control-left{
    .btn-dropdown{
      &:disabled{
        border: solid 1px $aqua-squeeze-color !important;
        background-color: $aqua-squeeze-color;
        color: $teal-color !important;
        &:after{
          display: none;
        }
      }
    }
  }
}
.btn-primary{
  margin-top: 60px !important;
  @include allmobiles{
    margin-top: 14px!important;
  }
}
}