@import '../../../variables';
@import '../../../mixins';

app-direct-results {
  .best-value-icon {
    position: absolute;
    z-index: 1020;
    margin-top: -1px;
    margin-left: -3px;
  }
  
  .best-value-icon--mobile {
    z-index: 1020;
    position: absolute;
    margin-top: 15px;
  }

  .overlay {
    position: absolute;
    background: rgba(0, 167, 167, 0.75);
    height: 80%;
    top: 160px;
    width: 33%;
  }

  position: absolute;
  left: 0;
  width: 100%;
  .init-direct-results {
    padding: 50px 0px 100px 0px;

    @include allmobiles {
      padding: 50px 20px 50px 20px;

      img {
        width: 180px;
      }
    }

    .init-direct-results__title {
      font-family: $muli-semi-bold;
      font-size: 36px;
      line-height: 1.1;
      letter-spacing: -0.4px;
      color: $white-color;
      margin-bottom: 10px;
      margin-top: 15px;

      @include allmobiles {
        font-size: 28px;
      }
    }

    .init-direct-results__sub-title {
      font-family: $muli;
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: -0.2px;
      color: $white-color;
      opacity: 0.65;

      @include allmobiles {
        font-size: 16px;
      }
    }
  }

  .grp-results {
    max-width: 984px;
    margin: 0 auto;
    padding: 20px;
    // @include iPadLandscape {
    //   padding: 40px;
    // }
    // @include iPadProLandscape {
    //   padding: 40px;
    // }
    // @include tablet {
    //   padding: 40px;
    // }
  }

  .btn-small {
      font-size: 16px;
      font-family: $muli-semi-bold;
      background: transparent;
      color: white;
      padding: 5px 10px !important;
      border: 1px solid #fff;
      @include allmobiles {
        color: $app-backgrnd-color;
        padding: 5px 10px !important;
        border: 1px solid $app-backgrnd-color;
      }
  }

  .compare {
    background: white;
    color: #00A7A7;
  }

  .lbl {
    float:right; 
    margin-top: 7px;
    font-size: 16px;
    font-family: $muli-semi-bold;
  }

  .plan-wrapper {
    border: none;
    //margin-bottom: 20px;
    padding-bottom: 0;
    @include allmobiles {
      margin-bottom: 0;
    }

    .insurance-plan-widget {
      border-radius: 8px;
      background: white;
      padding: 20px !important;
      margin-bottom: 20px;
      @include allmobiles {
        padding: 0px !important;
        margin: 10px 5px;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.25);
      }

      .insurance-plan-widget__container .insurance-plan-widget__container__discount__block {
        margin: 0 -23px;
      }

      .insurer-logo img {
        max-width: 50%;
      }

      .grey {
        color: $text-color-secondary;
      }
    }
  }

.results-mobile {
}
.results-mobile__compare-plan {
  @extend .flex;
  @extend .space-btwn;
  background: $white-color;
  padding: 16px 15px 15px;
  margin-top: -15px;
  .results-mobile__compare-plan--lbl {
    font-family: $muli-semi-bold;
    font-size: 17px;
    color: $black-color;
  }
}
.compare-plan-header {
  position: fixed; 
  top: 0; 
  width: 100%; 
  height: 66px; 
  z-index: 1030; 
  background: $app-backgrnd-color;
  text-align: center;
  color: $white-color;
  font-family: $muli-semi-bold;
  border-bottom: 1px solid #3eb9b8;
  font-size: 24px;
  line-height: 66px;
  button {
    position: absolute;
    right: 15px !important;
    top: 25px !important;
  }
}
.compare-plan-header--close {
    right: 12px !important;
    text-shadow: none !important;
    background: url("../../../assets/images/close-btn-white.png") !important;
    width: 23px;
    height: 23px;
    background-repeat: no-repeat !important;
    top: 20px !important;
    border: none;
    line-height: 65px;
}
.compare-plan__container{
  position: relative;
  margin-top:0px;
  background-color:$teal-color;
  padding-top:30px !important;
  z-index:1029;
}

@include allmobiles {
  .settings-wrapper {
    position: absolute;
    background: white;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
  }
}
// .insurance-plan-widget__container {
//   //min-height: 400px !important;
//   @include allmobiles {
//     min-height: 251px !important;
//   }
// }
.insurance-plan-widget .insurance-plan-widget__container {
  min-height: auto;
}
.disclaimer {
  font-size: 16px;
  font-family: $muli-regular;
  margin: 0 32px;
  text-align: center;
  opacity: 0.6;
}
}