@import '../../../variables';
@import '../../../mixins';

app-direct-results {
  .init-direct-results {
    padding: 50px 0px 100px 0px;

    @include allmobiles {
      padding: 50px 20px 50px 20px;

      img {
        width: 180px;
      }
    }

    .init-direct-results__title {
      font-family: $muli-semi-bold;
      font-size: 36px;
      line-height: 1.1;
      letter-spacing: -0.4px;
      color: $white-color;
      margin-bottom: 10px;
      margin-top: 15px;

      @include allmobiles {
        font-size: 28px;
      }
    }

    .init-direct-results__sub-title {
      font-family: $muli;
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: -0.2px;
      color: $white-color;
      opacity: 0.65;

      @include allmobiles {
        font-size: 16px;
      }
    }
  }

  .grp-results {
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
  }

  .btn-small {
      font-size: 14px;
      font-family: $muli;
      background: transparent;
      color: white;
      padding: 5px 10px !important;
      border: 1px solid #fff;
  }

  .compare {
    background: white;
    color: #00A7A7;
  }

  .lbl {
    float:right; 
    margin-top: 7px;
    font-size: 12px;
  }

  .plan-wrapper {
    border: none;
    margin-bottom: 20px;
    padding-bottom: 5px;

    .insurance-plan-widget {
      border-radius: 10px;
      background: white;
      padding: 10px !important;

      .insurance-plan-widget__container .insurance-plan-widget__container__discount__block {
        margin: 0 -13px;
      }

      .insurer-logo img {
        width: 60%;
      }

      .grey {
        color: $text-color-secondary;
      }
    }
  }
}
