<div class="container-fluid max-width--1024 comprehensive">
    <div class="step-indicator-container">
        <app-step-indicator [count]="5" [activeStepIndex]="0"></app-step-indicator>
    </div>
  <header style="margin-top: 40px;">{{'CMP.DEPENDANT_DETAILS.ABOUT'|translate}}</header>
  <article class="py-2">{{'CMP.DEPENDANT_DETAILS.DESC'|translate}}</article>
  <form [formGroup]="myDependantForm" id="myDependantForm" name="myDependantForm" class="myDependant ">
    <div formArrayName="dependant" class="myDependantFormArray  form-group-with-bg" *ngFor="let dependant of myDependantForm.controls.dependant.controls; let i = index;">
      <!-- <div class="text-left"><b>Dependant {{i+1}}</b>
      </div>
      <div (click)="removeDependant(i)" *ngIf="myDependantForm.controls.dependant.controls.length>1" class="text-right"><i
          class="fa fa-trash"></i></div> -->

          <div class="form-group-with-bg--header">
            <div class="flex-row">
              <div class="flex-col-7">
                <div class="form-group-with-bg--header-label">Dependant {{i+1}}</div>
                </div>

              <div class="flex-col-5">
                <div class="total" (click)="removeDependant(i)" *ngIf="myDependantForm.controls.dependant.controls.length>1"><i
                  class="fa fa-trash"></i></div>
              </div>
            </div>
          </div>

      <div class="form-group form-group-with-bg--content" [formGroupName]="i">

        <div class="flex-row">
          <div class="pl0 col-5">
            <label for="name" id="myDependantNameLabel">
              <div>{{ 'CMP.FORM_LABEL.NAME' | translate}}
              </div>
            </label>
          </div>
          <div class=" flex-col-7">
            <input type="text" [ngClass]="{'inline-error': submitted && dependant.controls.name.invalid}" id="myDependantFormInpt1"
              class="form-control" #name formControlName="name">
          </div>
        </div>
        <div class="flex-row section">
          <div class="pl0 col-5">
            <label for="relationship" id="myDependantRelationLabel">{{ 'CMP.FORM_LABEL.RELATIONSHIP' | translate}}</label>
          </div>
          <div class="pr0 flex-col-7">
            <div class="dropdown-control" [ngClass]="{'inline-error': submitted &&  dependant.controls.relationship.invalid}">
              <div ngbDropdown id="relationshipDropDown">
                <button type="button" class="btn btn-dropdown" id="dropdownRelationship" ngbDropdownToggle>
                  <span *ngIf="dependant.get('relationship'). value ===''">{{'COMMON.LBL_SELECT' | translate}}</span>
                  <span *ngIf="dependant.get('relationship'). value !==''">{{dependant.get('relationship').value}}</span>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownRelationship">
                  <button class="dropdown-item" (click)="selectRelationship('',i)">{{'COMMON.LBL_SELECT' | translate}}</button>
                  <button type="button" class="dropdown-item" *ngFor="let relation of relationShipList;" (click)="selectRelationship(relation, i)">
                    {{relation}}
                  </button>
                </div>
              </div>
            </div>
          </div>



        </div>
        <div class="flex-row">
          <div class="pl0 col-5">
            <label for="name" id="myDependantNationalityLabel">
              <div>{{ 'CMP.FORM_LABEL.GENDER' | translate}}</div>
            </label>
          </div>
          <div class="flex-col-7">
            <div class="dropdown-control" [ngClass]="{'inline-error': submitted &&  dependant.controls.gender.invalid}">
              <div ngbDropdown id="genderDropDown" placement="top-right">
                <button type="button" class="btn btn-dropdown" id="dropdownGender" ngbDropdownToggle>
                  <span *ngIf="dependant.get('gender').value ===''">{{'COMMON.LBL_SELECT' | translate}}</span>
                  <span *ngIf="dependant.get('gender').value !==''">{{dependant.get('gender').value}}</span>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownGender">
                  <button class="dropdown-item" (click)="selectGender('',i)">{{'COMMON.LBL_SELECT' | translate}}</button>
                  <button type="button" class="dropdown-item" *ngFor="let gender of genderList;" (click)="selectGender(gender,i)">
                    {{gender}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-row">

          <div class="flex-col-5">

            <label for="dob">{{ 'CMP.FORM_LABEL.DATE_OF_BIRTH' | translate}}</label>

          </div>

          <div #usrFrmDp class="flex-col-7">

            <div class="datepicker-control datepicker-upside">

              <div class="input-group date-picker mb0" [ngClass]="{'inline-error': !dependant.get('dateOfBirth').valid && submitted}">

                <input readonly (click)="d.toggle()" class="form-control" placeholder="Select" formControlName="dateOfBirth"
                  name="dp" ngbDatepicker #d="ngbDatepicker" required id="myDependantDOB">

                <div class="input-group-append">

                  <button (click)="d.toggle()" class="btn btn-primary" type="button" id="myDependantDatePicker">

                    <img class="date-picker-image--valid" id="myProfileFormImg1" *ngIf="dependant.get('dateOfBirth').valid || !submitted"
                      src="./assets/images/calendar-normal.svg" />

                    <img class="date-picker-image--invalid" id="myProfileFormImg1" *ngIf="!dependant.get('dateOfBirth').valid && submitted"
                      src="./assets/images/calendar-error.svg" />

                  </button>

                </div>

              </div>

            </div>

          </div>

        </div>

        <div class="flex-row">
          <div class="pl0 col-5">
            <label for="name" id="myDependantNationalityLabel">
              <div>{{ 'CMP.FORM_LABEL.NATIONALITY' | translate}}</div>
            </label>
          </div>
          <div class="flex-col-7">
            <div class="dropdown-control" [ngClass]="{'inline-error': submitted &&  dependant.controls.nation.invalid}">
              <div ngbDropdown id="nationalityDropDown" placement="top-right">
                <button type="button" class="btn btn-dropdown" id="dropdownNationality" ngbDropdownToggle>
                  <span *ngIf="dependant.get('nation').value ===''">{{'COMMON.LBL_SELECT' | translate}}</span>
                  <span *ngIf="dependant.get('nation').value !==''">{{dependant.get('nation').value}}</span>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownNationality">
                  <button class="dropdown-item" (click)="selectNationality('',i)">{{'COMMON.LBL_SELECT' | translate}}</button>
                  <button type="button" class="dropdown-item" *ngFor="let nationality of nationalityList;" (click)="selectNationality(nationality.text, i)">
                    {{nationality.text}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div *ngIf="myDependantForm.controls.dependant.controls.length < 5" class="my-3" (click)="addDependant()"><div class="add-dependant-icon">Add
        Dependant</div></div>
    <button [disabled]="DOBAlert" type="button" (click)="goToNext(myDependantForm)" class="btn btn-primary mt-4 width100"
      id="prfBtn1">{{'CMP.FORM_LABEL.SAVE_AND_CONTINUE' | translate}}
    </button>
  </form>


 
</div>