@import '../../../variables';
@import '../../../mixins';
.myDependant {
    .myDependantFormArray {
    background: #f0ffff!important;
    color:#005960 !important;
    border-radius:10px;
    h5{
        color:#000!important;
    }
  }
}
.comprehensive .form-group-with-bg {
    padding: 0;
}
