@import '../../../variables';
@import '../../../mixins';
.myDependant {
  .myDependantFormArray {
    background: #f0ffff !important;
    color: #005960 !important;
    border-radius: 10px;

    h5 {
      color: #000 !important;
    }
  }
  .dependant-name-wrap {
    resize: none;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    line-height: 1.5;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
}

.comprehensive .form-group-with-bg {
  padding: 0;
}
[placeholder]:empty::before {
  content: attr(placeholder);
  color: $app-backgrnd-color; 
}

[placeholder]:empty:focus::before {
  content: "";
}
.content-editable {
    border: 1px solid #94CCCC;
    border-radius: 6px;
    padding: .90rem;
    background: $white-color;
    color: $app-backgrnd-color;
    word-break: break-word;
    &.view-mode {
      background-color: rgba(0, 167, 167, 0.15) !important;
    }
    &.inline-error {
      color: #e57300 !important;
      background: #fff3e9;
      &[placeholder]:empty::before {
        color: #e57300 !important;
      }
    }
    &[placeholder]:empty::before {
       color:#9b9b9b!important;
    }
}
