<!--Container fluid-->
<div class="container-fluid max-width--1024 comprehensive">
  <!--Step indicator-->
  <div class="step-indicator-container" id="moDpdnt2StepIndctr">
    <app-step-indicator [count]="5" [activeStepIndex]="1" [mode]="1"></app-step-indicator>
  </div>
  <!--Step indicator /-->
  <!--Page sub-heading-->
  <div class="comprehensive__page-sub-heading mt30" id="moDpdnt2Title">{{'CMP.DEPENDANT_DETAILS.ABOUT'|translate}}</div>
  <!--Page sub-heading /-->
  <!--Page desc-->
  <div class="comprehensive__page-content" id="moDpdnt2Desc">{{'CMP.DEPENDANT_DETAILS.DESC'|translate}}</div>
  <!--Page desc /-->
  <!--Page form-->
  <form [formGroup]="myDependantForm" id="myDependantForm" name="myDependantForm" class="myDependant">
    <div formArrayName="dependentMappingList" class="myDependantFormArray  form-group-with-bg"
      *ngFor="let dependentMappingList of myDependantForm['controls'].dependentMappingList['controls']; let i = index;">
      <!--Form Header-->
      <div class="form-group-with-bg--header">
        <div class="flex-row">
          <div class="flex-col-7">
            <div class="form-group-with-bg--header-label" id="moDpdnt2FrmHeading1">Dependant {{i+1}}</div>
          </div>
          <div class="flex-col-5">
            <div class="total" (click)="removeDependant(i)" id="moDpdnt2FrmDeleteIcon"
              *ngIf="!viewMode && myDependantForm['controls'].dependentMappingList['controls'].length>1"><span
                class="delete-icon"></span></div>
          </div>
        </div>
      </div>
      <!--Form Header /-->
      <!--Form Content-->
      <div class="form-group form-group-with-bg--content" [formGroupName]="i">
        <div class="flex-row">
          <div class="flex-col-5">
            <label for="name" id="moDpdnt2LblName">
              <div>{{'CMP.FORM_LABEL.NAME' | translate}}<br>
                {{'CMP.FORM_LABEL.AS_ID' | translate}}
              </div>
            </label>
          </div>
          <div class=" flex-col-7">
            <div contenteditable="true" *ngIf="!viewMode"
              [ngClass]="{'inline-error': submitted && dependentMappingList['controls'].name.invalid}"
              id="moDpdnt2InptName-{{i}}" [textContent]="dependentMappingList.get('name').value"
              (input)="model=setDependentName($event.target.textContent, i);" maxlength="100"
              (keypress)="onKeyPressEvent($event, $event.target.textContent)" class="content-editable" placeholder=" Enter
              Name">
            </div>
            <div *ngIf="viewMode" class="content-editable view-mode">
              {{ dependentMappingList.get('name').value }}
            </div>
          </div>
        </div>
        <div class="flex-row">
          <div class="flex-col-5">
            <label for="relationship"
              id="moDpdnt2LblRelationship">{{ 'CMP.FORM_LABEL.RELATIONSHIP' | translate}}</label>
          </div>
          <div class="flex-col-7">
            <div class="dropdown-control"
              [ngClass]="{'inline-error': submitted &&  dependentMappingList['controls'].relationship.invalid}">
              <div ngbDropdown id="moDpdnt2DrpdwnRelationship">
                <button type="button" class="btn btn-dropdown" id="dropdownRelationship" ngbDropdownToggle
                  appComprehensiveViewMode="{{viewMode}}" mode=1>
                  <span class="grey-text"
                    *ngIf="dependentMappingList.get('relationship'). value ===''">{{'COMMON.LBL_SELECT' | translate}}</span>
                  <span
                    *ngIf="dependentMappingList.get('relationship'). value !==''">{{dependentMappingList.get('relationship').value}}</span>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownRelationship">
                  <button class="dropdown-item"
                    (click)="selectRelationship('',i)">{{'COMMON.LBL_SELECT' | translate}}</button>
                  <button type="button" class="dropdown-item" *ngFor="let relation of relationShipList;"
                    (click)="selectRelationship(relation, i)">
                    {{relation}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-row">
          <div class="flex-col-5">
            <label for="name" id="moDpdnt2DrpdwnGender">
              <div>{{ 'CMP.FORM_LABEL.GENDER' | translate}}</div>
            </label>
          </div>
          <div class="flex-col-7">
            <div class="dropdown-control"
              [ngClass]="{'inline-error': submitted &&  dependentMappingList['controls'].gender.invalid}">
              <div ngbDropdown id="moDpdnt2DrpdwnGender" placement="top-right">
                <button type="button" class="btn btn-dropdown" id="dropdownGender" ngbDropdownToggle
                  appComprehensiveViewMode="{{viewMode}}" mode=1>
                  <span class="grey-text"
                    *ngIf="dependentMappingList.get('gender').value ===''">{{'COMMON.LBL_SELECT' | translate}}</span>
                  <span
                    *ngIf="dependentMappingList.get('gender').value !==''">{{dependentMappingList.get('gender').value}}</span>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownGender">
                  <button class="dropdown-item"
                    (click)="selectGender('',i)">{{'COMMON.LBL_SELECT' | translate}}</button>
                  <button type="button" class="dropdown-item" *ngFor="let gender of genderList;"
                    (click)="selectGender(gender,i)">
                    {{gender}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-row">
          <div class="flex-col-5">
            <label for="dob" id="moDpdnt2LblDob">{{ 'CMP.FORM_LABEL.DATE_OF_BIRTH' | translate}}</label>
          </div>
          <div #usrFrmDp class="flex-col-7">
            <div class="datepicker-control datepicker-upside">
              <div class="input-group date-picker mb0"
                [ngClass]="{'inline-error': !dependentMappingList.get('dateOfBirth').valid && submitted, 'view-mode': viewMode}">
                <input readonly (click)="d.toggle()" class="form-control"
                  placeholder="{{'COMMON.LBL_SELECT' | translate}}" formControlName="dateOfBirth" name="dp"
                  ngbDatepicker #d="ngbDatepicker" required id="myDependantDOB" appComprehensiveViewMode="{{viewMode}}"
                  mode=1>
                <div class="input-group-append">
                  <button (click)="d.toggle()" class="btn btn-primary" type="button" id="moDpdnt2CalndrDob"
                    appComprehensiveViewMode="{{viewMode}}" mode=1>
                    <img class="date-picker-image--valid" id="myProfileFormImg1"
                      *ngIf="dependentMappingList.get('dateOfBirth').valid || !submitted"
                      src="./assets/images/calendar-normal.svg" />
                    <img class="date-picker-image--invalid" id="myProfileFormImg1"
                      *ngIf="!dependentMappingList.get('dateOfBirth').valid && submitted"
                      src="./assets/images/calendar-error.svg" />
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-row">
          <div class="flex-col-5">
            <label for="name" id="moDpdnt2LblNationality">
              <div>{{ 'CMP.FORM_LABEL.NATIONALITY' | translate}}</div>
            </label>
          </div>
          <div class="flex-col-7">
            <div class="dropdown-control"
              [ngClass]="{'inline-error': submitted &&  dependentMappingList['controls'].nation.invalid}">
              <div ngbDropdown id="moDpdnt2DrpdwnNationality" placement="top-right">
                <button type="button" class="btn btn-dropdown" id="dropdownNationality" ngbDropdownToggle
                  appComprehensiveViewMode="{{viewMode}}" mode=1>
                  <span class="grey-text"
                    *ngIf="dependentMappingList.get('nation').value ===''">{{'COMMON.LBL_SELECT' | translate}}</span>
                  <span
                    *ngIf="dependentMappingList.get('nation').value !==''">{{dependentMappingList.get('nation').value}}</span>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownNationality">
                  <button class="dropdown-item"
                    (click)="selectNationality('',i)">{{'COMMON.LBL_SELECT' | translate}}</button>
                  <button type="button" class="dropdown-item" *ngFor="let nationality of nationalityList;"
                    (click)="selectNationality(nationality.text, i)">
                    {{nationality.text}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Form content /-->
    </div>
    <!--Add dependant-->
    <div *ngIf="!this.viewMode && myDependantForm['controls'].dependentMappingList['controls'].length < 5"
      (click)="addDependant()">
      <div class="add-dependant-icon" id="moDpdnt2AddDpdntLbl">Add
        Dependant</div>
    </div>
    <!--Add dependant /-->
    <!--Footer button-->
    <div class="footer-cta">
      <button type="button" (click)="goToNext(myDependantForm)" class="btn btn-primary width100" id="moDpdnt2BtnFooter">{{
        (!viewMode) ? ('CMP.FORM_LABEL.SAVE_AND_CONTINUE'|translate) : ('CMP.FORM_LABEL.NEXT'|translate)}}
      </button>
    </div>
    <!--Footer button /-->
  </form>
  <!--Page form-->
</div>
<!--Container fluid /-->