<div class="container-fluid max-width--1024 ">
  <header>{{'DEPENDANT_DETAILS.ABOUT'|translate}}</header>
  <article class="py-2">{{'DEPENDANT_DETAILS.DESC'|translate}}</article>
  <form [formGroup]="myDependantForm" id="myDependantForm" name="myDependantForm" class="myDependant ">
    <div formArrayName="dependant" class="myDependantFormArray p-3 mt-3" *ngFor="let dependant of myDependantForm.controls.dependant.controls; let i = index;">
      <div class="text-left"><b>Dependant {{i+1}}</b></div>
      <div *ngIf=" myDependantForm.controls.dependant.controls.length > 1" (click)="removeDependant(i)" class="text-right"><i
          class="fa fa-2x fa-trash" aria-hidden="true"></i></div>
      <div class="form-group" [formGroupName]="i">

        <div class="flex-row">
          <div class="pl0 col-5">
            <label for="name" id="myDependantFormLb1">
              <div>{{ 'FORM_LABEL.NAME' | translate}}
              </div>
            </label>
          </div>
          <div class=" flex-col-7">
            <input type="text" [ngClass]="{'inline-error': submitted && dependant.controls.name.invalid}" id="myFamilyFormInpt3"
              class="form-control" #name formControlName="name">
          </div>
        </div>
        <div class="flex-row section">
          <div class="pl0 col-5">
            <label for="name" id="myDependantFormLb2">{{ 'FORM_LABEL.RELATIONSHIP' | translate}}</label>
          </div>
          <div class="pr0 flex-col-7">
            <div class="dropdown-control" [ngClass]="{'inline-error': submitted &&  dependant.controls.relationship.invalid}">
              <div ngbDropdown id="relationshipDropDown">
                <button type="button" class="btn btn-dropdown" id="dropdownMaritalStatus" ngbDropdownToggle>
                  <span>{{'COMMON.LBL_SELECT' | translate}}</span>
                  <span>{{relationship}}</span>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownRelation">
                  <button class="dropdown-item" (click)="selectRelationship('','')">Select</button>
                  <button type="button" class="dropdown-item" *ngFor="let relation of relationShipList;" (click)="selectRelationship(relation, i)">
                    {{relation}}
                  </button>
                </div>
              </div>
            </div>
          </div>



        </div>
        <div class="flex-row">
          <div class="pl0 col-5">
            <label for="gender" id="myFamilyFormLbl3">
              <div>{{ 'FORM_LABEL.GENDER' | translate}}</div>
              <!-- <div class="with-help-icon">{{ 'DEPENDANT_DETAILS.ABOUT_ME.FORM.NUMBER' | translate}} <span class="help-icon"
                  (click)="openToolTipModal()"></span></div> -->
            </label>
          </div>
          <div class=" flex-col-7">
            <div class="dropdown-control" [ngClass]="{'inline-error': submitted &&  dependant.controls.relationship.invalid}">
              <div ngbDropdown id="relationshipDropDown">
                <button type="button" class="btn btn-dropdown" id="dropdownMaritalStatus" ngbDropdownToggle>
                  <span>{{'COMMON.LBL_SELECT' | translate}}</span>
                  <span>{{maritalStatus}}</span>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownRelation">
                  <button class="dropdown-item" (click)="selectRelationship('','')">Select</button>
                  <!-- <button type="button" class="dropdown-item" *ngFor="let relation of maritalStatusList; let i=index"
                      (click)="selectRelationship(relation, 'html')">
                      {{relation.text}}
                    </button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-row">
          <div class="pl0 col-5">
            <label for="name" id="myFamilyFormLbl4">
              <div>{{ 'FORM_LABEL.AGE_NEXT_BIRTHDAY' | translate}}</div>
              <!-- <div class="with-help-icon">{{ 'DEPENDANT_DETAILS.ABOUT_ME.FORM.NUMBER' | translate}} <span class="help-icon"
                  (click)="openToolTipModal()"></span></div> -->
            </label>
          </div>
          <div class="flex-col-7">
            <div class="form-control form-control-right">
              <input type="text" [ngClass]="{'inline-error': submitted && dependant.controls.age.invalid}" id="myFamilyFormInpt4"
              class="input-control" #age formControlName="age">
              <i class="right">yrs old</i>
            </div>
          </div>
        </div>
        <div class="flex-row">
          <div class="pl0 col-5">
            <label for="name" id="myFamilyFormLbl5">
              <div>{{ 'FORM_LABEL.NATIONALITY' | translate}}</div>
              <!-- <div class="with-help-icon">{{ 'DEPENDANT_DETAILS.ABOUT_ME.FORM.NUMBER' | translate}} <span class="help-icon"
                  (click)="openToolTipModal()"></span></div> -->
            </label>
          </div>
          <div class="flex-col-7">
            <div class="dropdown-control" [ngClass]="{'inline-error': submitted &&  dependant.controls.relationship.invalid}">
              <div ngbDropdown id="relationshipDropDown">
                <button type="button" class="btn btn-dropdown" id="dropdownMaritalStatus" ngbDropdownToggle>
                  <span>{{'COMMON.LBL_SELECT' | translate}}</span>
                  <span>{{maritalStatus}}</span>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownRelation">
                  <button class="dropdown-item" (click)="selectRelationship('','')">Select</button>
                  <!-- <button type="button" class="dropdown-item" *ngFor="let relation of maritalStatusList; let i=index"
                      (click)="selectRelationship(relation, 'html')">
                      {{relation.text}}
                    </button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <button type="button" (click)="goToNext(myDependantForm)" class="btn btn-primary btn__footer--fixed width100" id="prfBtn1">{{
      'LABEL.CONTINUE' |
      translate}}</button>
  </form>


  <span class="mt-3" (click)="addDependant()"><i class="fa fa-icon"></i>Add Dependant</span>
</div>