@import '../../../variables';
@import '../../../mixins';
/*Modal styles*/
.account-created-success-modal {
.custom-modal-backdrop {
    background: $dark-teal-color;
    position: fixed;
    opacity:1;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
  }
  .custom-modal-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    text-align: center;
    padding: 40px 0 80px;
    @include allmobiles{
      padding-top: 40px;
    }
  }
  .custom-modal-content {
    width: 100%;
    height: 100%;
    img {
      width: 80%;
      height: 80%;
    }
  }
  .custom-modal--icon {
    width: 306px;
    height: 185px;
    margin: 0 auto;
  }
  .custom-modal--title {
    color: $white-color;
    font-family: $muli-bold;
    font-size: 24px;
    letter-spacing: -0.18px;
    line-height: 0.56;
    margin-top: 12px;
    margin-bottom: 14px;
    @include allmobiles {
      font-size: 20px;
      letter-spacing: -0.2px;
    }
  }
  .custom-modal--desc {
    color: $white-color;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.18px;
    font-family: $muli-regular;
    max-width: 476px;
    margin: 0 auto;
    @include allmobiles {
      padding: 0 30px 70px;
    }
  }
  .btn-primary {
	  width: 275px;
  }
  @include allmobiles {
	.btn__footer--fixed {
		width: 100%;
	}
  }
}

// will-writing

.section {
    border-radius: 6px;
    background-color: #005960;
    padding: 10px;
    width: 588px;
    padding-left: 44px;
    padding-top: 15px; 
    margin: 0 auto;
    text-align: left;
    font-family: $muli-regular;
    font-size: 16px;
    font-weight: normal !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.2px;
    color: #e8e8e8;
    margin-bottom: 16px;
    ol {
      padding: 0 18px;
      .instruction {
        font-family: $muli-bold;
        line-height: 1.57;
      }
    }
    @include allmobiles {
      font-size: 14px;
      letter-spacing: -0.1px;
      padding-left: 17px;
      padding-top: 13px;
      margin-bottom: 12px;
      width: 326px
    }
    @include iphone5 {
      width: 300px;
    }
    .title {
      font-size: 18px;
      color: #ffffff;
      text-decoration: underline;
      font-family: $muli-semi-bold;
      @include allmobiles {
        font-size: 14px;
        letter-spacing: -0.1px;
      }
    }
    
}