<div class="account-created-success-modal">
  <div class="custom-modal-backdrop"></div>
  <div class="custom-modal-wrapper">
    <div class="custom-modal--icon">
      <img src="../../../assets/images/account-created-icon.svg" id="custModalImg1" />
      <div class="custom-modal--content">
        <p class="custom-modal--title" id="custModalTitle">{{'ACCOUNT_CREATED.TITLE' | translate}}</p>
        <div class="section">
          <div class="title">Insurance Users</div>
          <div>Please verify your email via the verification link sent to your email address.</div>
        </div>
        <div class="section">
            <div class="title">Will Writing Users</div>
            <div>To view your will, follow these steps:</div>
            <ol>
              <li class="instruction">Please do not close this window.</li>
              <li>Verify your email via the verification link sent to your email address.</li>
              <li>Return to this window and log in to view your will.</li>
            </ol>
          </div>
        <button (click)="redirectToLogin()" type="button" class="btn btn__footer--fixed btn-primary width100">{{'COMMON.LOGIN' | translate}}</button>
      </div>
    </div>
    <div class="custom-modal-content">
      <div>
        <img src="../../../assets/images/account-created-bg.svg" id="custModalImg2" />
      </div>
    </div>
  </div>
</div>
