<div class="account-created-success-modal" *ngIf="!resendEmail">
  <div class="custom-modal-backdrop"></div>
  <div class="custom-modal-wrapper">
    <div class="custom-modal--icon">
        <img src="assets/images/investment-account/investment_Account_Created.svg" id="custModalImg1" />
    </div>
      <div class="custom-modal--content">
        <p class="custom-modal--title" id="custModalTitle">{{'ACCOUNT_CREATED.TITLE' | translate}}</p>
        <p class="custom-modal--desc" id="custModalDesc">{{'ACCOUNT_CREATED.SUB_TITLE1' | translate}} {{'ACCOUNT_CREATED.SUB_TITLE2' | translate}} </p>
        <button (click)="redirectToLogin()" type="button" class="btn btn__footer--fixed btn-primary width100">{{'COMMON.LOGIN' | translate}}</button>
      </div>
  </div>
</div>
<!-- verify e-mail -->
<div class="verify-mail-modal" *ngIf="resendEmail">
  <div class="custom-modal-backdrop"></div>
  <div class="custom-modal-wrapper drop-off">
    <div class="custom-modal--icon drop-off">
        <img src="assets/images/drop-off.svg" id="custModalImg1" />
    </div>
      <div class="custom-modal--content">
        <p class="custom-modal--title drop-off mb10" id="custModalTitle">{{'ACCOUNT_CREATED.VERIFY_EMAIL_TITLE' | translate}}</p>
        <div class="custom-modal--desc" id="custModalDesc">{{'ACCOUNT_CREATED.VERIFY_EMAIL_SUB_TITLE' | translate}}
          <div class="custom-modal--sub--desc">
            <div>{{'ACCOUNT_CREATED.DIDNOT_RECEIVE_IT' | translate}}</div>
            <div class="link-white" (click)="resendEmailVerification()">{{'ACCOUNT_CREATED.RESEND_VERIFICATION_EMAIL' | translate}}</div>
          </div>
        </div>
      </div>
  </div>
</div>
