@import '../../../../_variables.scss';
@import '../../../../_mixins.scss';

app-select-portfolio {

  //WiseSaver Styles
  .container-fluid {
    &.select-portfolio {
      max-width: 485px;
      @include desktop {
        max-width: 600px;
      }
    }
  }

  .portfolio-page-title {
    text-align: center;
    font-family: $muli-semi-bold;
    font-size: 30px;
    margin-bottom: 15px;
  }
  .portfolio-subheading {
    margin: 30px 0 20px 0;
    @include allmobiles {
      margin: 10px 0 20px 0;
    }
    font-size: 18px;
    font-family: $muli-bold;
    text-align: center;
  }
  .portfolio-cards {
    border-radius: 6px;
    padding: 20px 17px 20px 23px;
    display: flex;
    align-items: center;
    background-color: $portfolio-card-bg-color;
    color: $portfolio-card-text-color;
    margin-bottom: 15px;
    position: relative;
    z-index: 998;
    height: 160px;
    cursor: pointer;
    line-height: normal;
    letter-spacing: normal;

    &.active {
      background-color: $portfolio-card-text-color;
      color: $white-color;
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
    }

    &__select {
      position: absolute;
      top: 20px;
      left: 20px;

      img {
        width: 30px;
        height: 30px;
      }
    }

    &__img {
      margin-right: 20px;
    }

    &__details {
      &__portfolio-type{
        width: 87px;
        height: 22px;
      }
      &__title {
        font-size: 18px;
        letter-spacing: -0.19px;

        @include max360 {
          font-size: 16px;
        }

        font-family: $muli-bold;
        margin-bottom: 5px;
        letter-spacing: -0.19px;
      }

      &__desc {
        font-size: 13px;
        font-family: $muli-regular;
        @include desktop {
          margin-bottom: 10px;
        }
        @include iphone6 {
          padding-right: 20px;
        }
      }

      &__more {
        color: $crusta-orange-color;
        font-size: 13px;
        font-family: $muli-semi-bold;
        display: flex;
        align-items: center;
        cursor: pointer;
        width: 85px;
        letter-spacing: -0.13px;
      }
    }
    .portfolio-new {
      position: absolute;
      top: 10px;
      @include iphoneX {
        top: 5px;
      }
      @include max360 {
        top: 5px;
      }
      @include desktop {
        top: 7px;
      }
      right: 0;
    }
  }

  .portfolio-info {
    position: relative;
    z-index: 997;
    background-color: $white-color;
    color: $silver-grey-color;
    padding: 35px 25px;
    line-height: 22px;
    font-family: $muli-regular;
    font-size: 16px;
    border-radius: 6px;
    top: -20px;


    &__slide-item {
      font-size: 16px;
      font-family: $muli-regular;
      color: $silver-grey-color;

      ul {
        padding-left: 0;
      }

      li {
        margin-bottom: 15px;
        background: url(../../../../assets/images/wisesaver/icon-tick.svg) no-repeat 0 0;
        padding-left: 30px;
      }
      .disclaimer{
        font-size: 14px;
        color: $silver-grey-color;
        padding-top: 0;
      }
    }

    &__heading {
      font-size: 16px;
      font-family: $muli-bold;
      margin-bottom: 15px;
    }
    @include desktop {
      .slick-track {
        width: 800px !important;
      }
      .slick-slide {
        width: 400px !important;
      }
    }
  }

  .btn:disabled {
    color: $btn-disabled-teal-color;
  }

  .slick-dots li {
    width: 10px;
    height: 10px;

    button:before {
      font-size: 8px;
      color: $slick-dot-inactive-color;
      opacity: 1;
    }

    &.slick-active button:before {
      font-size: 8px;
      color: $robins-egg-blue-color;
    }
  }
  .more-info-shadow {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
  }
  .footer-btn-wrapper {
    padding: 0 55px;
  }
}