@import '../../../../_variables.scss';
@import '../../../../_mixins.scss';

app-select-portfolio {

  //WiseSaver Styles
  .container-fluid {
    &.select-portfolio {
      max-width: 485px;
      @include desktop {
        max-width: 600px;
      }
    }
  }

  .portfolio-page-title {
    text-align: center;
    font-family: $muli-semi-bold;
    font-size: 30px;
    letter-spacing: -0.31px;
  }
  .portfolio-subheading {
    margin: 10px 0 20px;
    font-size: 16px;
    font-family: $muli-regular;
    text-align: center;
    letter-spacing: -0.12px;
    .txt-bold{
      font-family: $muli-bold;
    }
    @include min568max767{
      padding-top: 30px;
    }
  }
  .portfolio-cards {
    border-radius: 6px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    background-color: $portfolio-card-bg-color;
    color: $portfolio-card-text-color;
    margin-bottom: 15px;
    position: relative;
    z-index: 998;
    line-height: normal;
    letter-spacing: normal;
    min-height: 180px;
    @include allmobiles{
      margin-bottom: 10px;
    }

    &.active {
      background-color: $portfolio-card-text-color;
      color: $white-color;
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
    }

    &__select {
      position: absolute;
      top: 20px;
      left: 20px;

      img {
        width: 30px;
        height: 30px;
      }
    }

    &__img {
      margin-left: 20px;
      @include allmobiles{
        margin-left: 10px;
      }
      @include iphone6{
        margin-left: 0px;
      }
      img {
        width: 90px;
        height: 95px;
        @include allmobiles{
          width: 80px;
          height: 85px;
        }
      }
    }

    &__details {
      &__portfolio-type{
        width: 110px;
        height: 28px;
        padding: 6px 10px;
        border-radius: 17px;
        background-color: $white-color;
        font-family: $muli-semi-bold;
        font-size: 13px;
        line-height: normal;
        letter-spacing: -0.12px;
        text-align: left;
        color: $teal-color;
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        .circle{
          width: 9px;
          height: 9px;
          border: 2px solid $anzac-tango-color;
          border-radius: 50%;
          margin-right: 5px;
          &.wise-income{
            border-color: $chetwode-blue-color;
          }
          &.wise-saver{
            border-color: $shakespeare-teal-color;
          }
        }
      }
      &__title {
        font-size: 18px;
        letter-spacing: -0.19px;

        @include max360 {
          font-size: 16px;
        }

        font-family: $muli-bold;
        margin-bottom: 10px;
        letter-spacing: -0.19px;
      }

      &__desc {
        font-size: 14px;
        font-family: $muli-regular;
      }

      &__more {
        color: $crusta-orange-color;
        font-size: 13px;
        font-family: $muli-semi-bold;
        display: flex;
        align-items: center;
        cursor: pointer;
        width: 85px;
        letter-spacing: -0.13px;
      }
    }
    .portfolio-new {
      position: absolute;
      top: 10px;
      right: 0;
    }
  }

  .portfolio-info {
    position: relative;
    z-index: 997;
    background-color: $white-color;
    color: $silver-grey-color;
    padding: 35px 25px;
    line-height: 22px;
    font-family: $muli-regular;
    font-size: 16px;
    border-radius: 6px;
    top: -20px;


    &__slide-item {
      font-size: 16px;
      font-family: $muli-regular;
      color: $silver-grey-color;

      ul {
        padding-left: 0;
      }

      li {
        margin-bottom: 15px;
        background: url("/assets/images/wisesaver/icon-tick.svg") no-repeat 0 0;
        padding-left: 30px;
      }
      .disclaimer{
        font-size: 12px;
        color: $dark-dusty-grey-color;
        padding-top: 0;
      }
    }

    &__heading {
      font-size: 16px;
      font-family: $muli-bold;
      margin-bottom: 15px;
    }
    @include desktop {
      .slick-track {
        width: 800px !important;
      }
      .slick-slide {
        width: 400px !important;
      }
    }
  }

  .btn:disabled {
    color: $btn-disabled-teal-color;
  }

  .slick-dots li {
    width: 10px;
    height: 10px;

    button:before {
      font-size: 8px;
      color: $slick-dot-inactive-color;
      opacity: 1;
    }

    &.slick-active button:before {
      font-size: 8px;
      color: $robins-egg-blue-color;
    }
  }
  .more-info-shadow {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
  }
  .footer-btn-wrapper {
    padding: 0 55px;
  }

  .portfolio-select{
    margin-top: 7px;
    border-radius: 14px;
    background-color: $robins-egg-blue-color;
    font-family: $muli-bold;
    font-size: 14px;
    line-height: normal;
    letter-spacing: -0.14px;
    text-align: center;
    color: $white-color;
    padding: 4px 0;
    cursor: pointer;
  }
  .nav-tabs{
    border: none;
      .portfolio-tab{
        &.nav-link{
          width: 140px;
          border-radius: 14px;
          border: 1px solid $white-color;
          background-color: transparent;
          font-family: $muli-bold;
          font-size: 14px;
          line-height: normal;
          letter-spacing: -0.14px;
          text-align: center;
          color: $white-color;
          padding: 3px 0;
          &.active{
            background-color: $robins-egg-blue-color;
            border: 1px solid $robins-egg-blue-color;
          }
          &:hover{
            text-decoration: none;
          }
        }
    }
  }
  .hide-tabs{
    .nav-tabs{
      display: none;
    }
  }
}