<div class="container-fluid max-width--1024 comprehensive review">
  <div class="result-panel text-center">
    <div class="result-panel__img reviewImg"></div>

  </div>
  <div class="text-center about mb30">
    <span *ngIf="isCorporateUser; else publicUser">
      <span *ngIf="isFirstTimeCorporateUser">{{'CMP.REVIEW.ABOUT_LITE' | translate }}</span>
    </span>
    <ng-template #publicUser>
      <span> {{ isFirstTimePublicUser ? ('CMP.REVIEW.ABOUT_WITH_PAYMENT_ENABLED' | translate) :  ('CMP.REVIEW.ABOUT' | translate)  }}</span>
    </ng-template>
    <!-- 
    <span *ngIf="!comprehensiveJourneyMode">{{'CMP.REVIEW.ABOUT_LITE' | translate }}</span>
    <span *ngIf="isFirstTimeCorporateJourney">{{'CMP.REVIEW.SPEAK_TO_ADVISER' | translate }}</span>
    <span *ngIf="isEditJourney">{{'CMP.REVIEW.EDIT_FINLIT_USER' | translate }}</span>
    <span *ngIf="!isPaymentEnabled">{{'CMP.REVIEW.ABOUT_WITH_PAYMENT_ENABLED' | translate }}</span> -->
  </div>
  <div class="footer-cta">
    <button *ngIf="!isCorporateUser || isSpeakToAdvisor || isFirstTimeCorporateUser" type="button" (click)="goToReviewInput()" class="btn btn-primary-outline width100 reviewInput"
      id="moDpdnt2BtnFooter">{{'CMP.REVIEW.REVIEW_INPUT' | translate}}
    </button>

    <div *ngIf="isCorporateUser; else publicUserButton">
      <button *ngIf="!isSpeakToAdvisor" (click)="goToNext()" type="button" class="btn btn-primary confirmBtn width100" id="moDpdnt2BtnFooter">
        {{'CMP.REVIEW.CONFIRM' | translate}}
      </button>

      <button *ngIf="isSpeakToAdvisor" (click)="checkout(isFromSpeakToAdvisor ? 'CFP' : 'PUB')" type="button" class="btn btn-primary confirmBtn width100" id="moDpdnt2BtnFooter">
        {{'CMP.REVIEW.CHECKOUT' | translate}}
      </button>

      <!-- <button type="button" class="btn btn-primary-outline width100 reviewInput" id="moDpdnt2BtnFooter" (click)="goToDashboard()">
        {{'CMP.REVIEW.VIEW_DASHBOARD' | translate}}
      </button> -->
    </div>
    <ng-template #publicUserButton>
      <button (click)="goToNext()" type="button" class="btn btn-primary confirmBtn width100" id="moDpdnt2BtnFooter">
        {{isFirstTimePublicUser ? ('CMP.REVIEW.CHECKOUT' | translate) : ('CMP.REVIEW.CONFIRM' | translate)}}
      </button>
    </ng-template>
    <!-- <button *ngIf="!isEditJourney || isFromSpeakToAdvisor" type="button" (click)="goToReviewInput()" class="btn btn-primary-outline width100 reviewInput"
      id="moDpdnt2BtnFooter">{{'CMP.REVIEW.REVIEW_INPUT'
      | translate}}
    </button>

    <button type="button" (click)="goToNext()" class="btn btn-primary confirmBtn width100"
      id="moDpdnt2BtnFooter">
      {{requireToPay && comprehensiveJourneyMode ? ('CMP.REVIEW.CONFIRM_WITH_PAY' | translate) : ('CMP.REVIEW.CONFIRM' | translate)}}
    </button>

    <button *ngIf="isFromSpeakToAdvisor || !isPaymentEnabled" (click)="checkout(isFromSpeakToAdvisor ? 'CFP' : 'PUB')" type="button" class="btn btn-primary confirmBtn width100" id="moDpdnt2BtnFooter">
      {{'CMP.REVIEW.CHECKOUT' | translate}}
    </button>

    <button *ngIf="isEditJourney" type="button" class="btn btn-primary-outline width100 reviewInput" id="moDpdnt2BtnFooter" (click)="goToDashboard()">
      {{'CMP.REVIEW.VIEW_DASHBOARD' | translate}}
    </button>

    <button *ngIf="isEditJourney" (click)="speakToAdvisor()" type="button" class="btn btn-primary confirmBtn width100" id="moDpdnt2BtnFooter">
      {{'CMP.REVIEW.SPEAK_ADVISER' | translate}}
    </button> -->
  </div>
</div>