<div class="container-fluid max-width--1024 comprehensive review">
  <div class="result-panel mt30 text-center">
    <div class="result-panel__img reviewImg"></div>

  </div>
  <div class="text-center about mb30">
    {{'CMP.REVIEW.ABOUT' | translate }}
  </div>
  <div class="footer-cta">

    <button type="button" (click)="goToReviewInput()" class="btn btn-primary mt-5 width100 reviewInput"
      id="moDpdnt2BtnFooter">{{'CMP.REVIEW.REVIEW_INPUT'
      | translate}}
    </button>

    <button type="button" (click)="goToNext()" class="btn btn-primary mt-5 width100" id="moDpdnt2BtnFooter">{{'CMP.REVIEW.CONFIRM'
    | translate}}
    </button>
  </div>
</div>