@import '../../../variables';
@import '../../../mixins';

.comprehensive.review {
  background: $white-color;
  min-height: calc(100vh - 84px);

  @include min568max767{
    min-height: calc(100vh - 45px);
  }
  @include allmobiles{
    min-height: calc(100vh - 45px);
  }
  @include desktop {
    &.container-fluid {
      padding: 90px 20px 20px 20px;
    }
  }

  .reviewImg {
    background: url("../../../assets/images/comprehensive/comprehensive_review.svg") no-repeat;
    display: inline-block;
    width: 179px;
    height: 138px;
    background-position: center center;
    margin-bottom: 20px;
  }

  .about {
    font-size: 16px;
    color: $elm-dark-cyan-color;
    font-family: $muli-regular;
  }
 
  .reviewInput {
    margin: 0px !important;
    border-radius: 6px;
    border: solid 1px $btn-primary-backgrnd-color;
    background-color: $white-color;
    color: $modal-txt-highlight-color;
    font-size: 18px!important;
    font-family: $muli-regular;
  }
  .confirmBtn{
    margin-top: 20px;
  }
}
