<div class="referrel-reward-header" (click)="toggle($event)">
  More about referral rewards
  <span><i class='arrow' [ngClass]="{'active': isCollapsed}"></i></span>
</div>
<div *ngIf="isCollapsed">
  <div *ngFor="let note of noteArray, let i = index;" class="note-list">
    <div class="teal-oval"></div>
    <div class="note-point-text" [innerHTML]="note"></div>
  </div>
</div>
<div class="terms-condition"><a class='faq-link' target='_blank' href='/referral/#referral-tnc'>{{'REFERRAL_REWARD_DETAILS.TERMS_CONDITION' | translate}}</a>
</div>