@import "../../../../variables.scss";
@import "../../../../_mixins.scss";
app-referral-reward-details {
  .referrel-reward-header {
    font-family: $muli-bold;
    font-size: 16px;
    line-height: normal;
    letter-spacing: -0.15px;
    color: $black-color;
    margin-top: 20px;
    align-self: flex-start;
    color: $silver-grey-color;
    display: flex;
    align-items: center;
    cursor: pointer;
    letter-spacing: -0.13px;
    .arrow {
      border: solid $silver-grey-color;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 4px;
      float: right;
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      margin-left: 10px;
      margin-top: 8px;
      &.active {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        margin-top: 0px;
      }
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  .terms-condition {
    font-family: $muli-bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.13125px;
    color: #ff872f;
    padding: 10px 0;
  }

  .note-list {
    display: flex;
    margin-top: 15px;
    margin-left: 9px;

    .teal-oval {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $silver-grey-color;
      margin-top: 7px;
      margin-right: 12px;
    }

    .note-point-text {
      font-family: $muli-regular;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -0.16px;
      color: $silver-grey-color;
      flex: 1;
      span {
        a {
          color: $myinfo-btn-color !important;
          text-decoration: none !important;
          .faq-link {
            color: $myinfo-btn-color;
            text-decoration: none !important;
          }
        }
      }
    }
  }
  a {
    color: $myinfo-btn-color !important;
    text-decoration: none !important;
  }
}
