<div class="referrel-reward-header" (click)="toggle()">
  {{'REFERRAL_REWARD_DETAILS.MORE_BOUT_REFERRAL_REWARDS' | translate}}
  <span class="ml10" *ngIf='!isCollapsed'>
    <img src="assets/images/refer-friend/arrow-black-down.svg"></span>
  <span class="ml10" *ngIf='isCollapsed'><img src="assets/images/refer-friend/arrow-black-up.svg"></span>
</div>
<div *ngIf="isCollapsed" class="mb20">
  <div *ngFor="let note of noteArray, let i = index;" class="note-list">
    <div class="teal-oval"></div>
    <div class="note-point-text" [innerHTML]="note"></div>
  </div>
</div>
<div class="terms-condition" [ngClass]="{'remove-padding': isCollapsed}"><a class='faq-link' target='_blank'
    href='/referral/#referral-tnc'>{{'REFERRAL_REWARD_DETAILS.TERMS_CONDITION' | translate}}</a>
</div>