<div class="fin-accessment-block">
  <div class="container-fluid">
    <div class="fin-accessment-block__tab-container">
      <div class="fin-accessment-block__tab active"></div>
      <div class="fin-accessment-block__tab"></div>
    </div>

    <div class="fin-accessment-block__content">
      <div class="row text-center">
        <div class="col-12">
          <div class="banner-image mb30">
            <img src="assets/images/select_nationality.svg" id="finAccssImg" />
          </div>



        </div>

      </div>


      <div class="flex-row">
        <div class="flex-col-5">
          <label for="name" id="getStrdLbl8">Nationality</label>
        </div>
        <div class="flex-col-7">
          <div class="dropdown-control">
            <div ngbDropdown>
              <button class="btn btn-dropdown" ngbDropdownToggle aria-expanded="false" style="font-size: 15px;">
                <span *ngIf="afterSelectedNationality" class="dependent-count">{{nationality.country}}</span>
                <span *ngIf="beforeSelectedNationality" class="dependent-count">select nationality</span>
                <!-- <span *ngIf=afterSelectedNationality class="dependent-count">Select Nationality</span> -->
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item" *ngFor="let nationality of nationalitylist" (click)="selectNationality(nationality)">
                  {{nationality.country}}

                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
<!-- other coutryquestion -->
<div *ngIf="Question">
<div class="flex-row mb10">
    <div class=flex-col-10>
      <div class="form-group-with-bg--content-label" for="name" id="myFinancialQuestaion">Are you a United States Permanent Resident / Tax Resident?

      </div>

    </div>
    <div class="flex-col-2">
      <i class="tooltip-icon" id="myFinancialHelpIcon" (click)="showHelpModal()"></i>
    </div>
  </div>
  <!-- buttons -->
  <div class="flex-row">

    <div class="flex-col-7">
      <div class="btn-group--toggle" ngbRadioGroup name="radioGender" >
        <div class="flex-row">
          <div class="flex-col-6">
            <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm mr17">
              <input ngbButton type="radio" value="yes" id="myFinancialYesBtn"> {{ 'MY_FINANCIALS.LABEL_YES' | translate}}
            </label>
          </div>
          <div class="flex-col-6">
            <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm">
              <input ngbButton type="radio" value="no" (click)="showEmergencyFundModal()" id="myFinancialNoBtn"> {{ 'MY_FINANCIALS.LABEL_NO' | translate}} </label>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--othercountry question -->
<!-- other country question -->
<div class="flex-row mb10">
    <div class=flex-col-10>
      <div class="form-group-with-bg--content-label" for="name" id="myFinancialQuestaion">Are you a Singaporean Permanent Resident?

      </div>

    </div>
    <div class="flex-col-2">
      <i class="tooltip-icon" id="myFinancialHelpIcon" (click)="showHelpModal()"></i>
    </div>
  </div>
  <!-- buttons -->
  <div class="flex-row">

    <div class="flex-col-7">
      <div class="btn-group--toggle" ngbRadioGroup name="radioGender" >
        <div class="flex-row">
          <div class="flex-col-6">
            <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm mr17">
              <input ngbButton type="radio" value="yes" id="myFinancialYesBtn"> {{ 'MY_FINANCIALS.LABEL_YES' | translate}}
            </label>
          </div>
          <div class="flex-col-6">
            <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm">
              <input ngbButton type="radio" value="no" (click)="showEmergencyFundModal()" id="myFinancialNoBtn"> {{ 'MY_FINANCIALS.LABEL_NO' | translate}} </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
<!-- other country question -->



<!-- sigpore Question -->
<div *ngIf="sigQuestion">
<div class="flex-row mb10">
    <div class=flex-col-10>
      <div class="form-group-with-bg--content-label" for="name" id="myFinancialQuestaion">Are you a Singaporean Permanent Resident?

      </div>

    </div>
    <div class="flex-col-2">
      <i class="tooltip-icon" id="myFinancialHelpIcon" (click)="showHelpModal()"></i>
    </div>
  </div>
  <!-- buttons -->
  <div class="flex-row">

    <div class="flex-col-7">
      <div class="btn-group--toggle" ngbRadioGroup name="radioGender" >
        <div class="flex-row">
          <div class="flex-col-6">
            <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm mr17">
              <input ngbButton type="radio" value="yes" id="myFinancialYesBtn"> {{ 'MY_FINANCIALS.LABEL_YES' | translate}}
            </label>
          </div>
          <div class="flex-col-6">
            <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm">
              <input ngbButton type="radio" value="no" (click)="showEmergencyFundModal()" id="myFinancialNoBtn"> {{ 'MY_FINANCIALS.LABEL_NO' | translate}} </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  

<!-- sigpore question -->


      <button type="button" (click)="goToNext()" class="btn btn__footer--fixed btn-ftr-get-started btn-primary width100" id="riskProfileBtn">Continue</button>
    </div>
  </div>
</div>

<!-- sai -->