@import "../../../_variables.scss";
@import "../../../_mixins.scss";
app-select-nationality{
    .container-fluid {
        padding-top: 0px !important;
    }
    .flex-row {
    align-items: center;
    }
    .dropdown-control {
        .dependent-count {
        color: #5e5e5e;
        margin-right: 4px;
    }
}
label {
font-size: 18px;

}
.form-group {
    @include allmobiles {
        padding-bottom: 30px;
      }
}
.dropdown-control .dropdown-menu.show {
    right: 0 !important;
    
}
.dropdown-item {
   
    white-space: normal;
}

}




