@import "../../../../variables";
@import "../../../../mixins";
app-referee {
    .modal-body {
        width: 550px;
        padding: 0;
        @include allmobiles {
            padding: 0 !important;
            width: 100%;
        }
    }
    .referee-modal {
        letter-spacing: -0.196875px;
        p {
            margin: 0;
            line-height: 21px;
        }
    }
    .referee-modal__bannner {
        height: 160px;
        padding: 0 20px 0 45px;
        @include allmobiles {
            padding: 0 20px 0 25px;
        }
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: flex-end;
        background: $teal-color;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        @include allmobiles {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        &__valid-box {
            color: $portfolio-card-text-color;
            font-size: 14px;
            background-color: $white-color;
            border-radius: 30px;
            padding: 5px 10px;
            margin-bottom: 20px;
            @include iphone5 {
                margin-left: 5px;
                margin-bottom: 10px;
            }
        }
        &__close-btn {
            position: absolute;
            right: 20px;
            top: 20px;
            color: $black-color;
            border: none;
            background: none;
            z-index: 1;
            margin-right: 5px;
        }
        &__stamped {
            position: absolute;
            right: 16px;
            top: 10px;
        }
    }
    .referee-modal__bannner__gift-box img {
        vertical-align: bottom;
        width: auto;
        height: 120px;
        @include min375max400 {
            height: 110px;
        }
        @include max360 {
            height: 100px;
        }
    }

    .referee-modal__inner {
        padding: 30px 88px;
        @include allmobiles {
            padding: 30px 20px;
        }
        color: $silver-grey-color;
        font-size: 16px;
        &__heading {
            color: $teal-color;
            font-family: $muli-bold;
            font-size: 21px;
            margin-bottom: 10px !important;
            line-height: 26px !important;
        }
        &__coupon-card {
            height: 110px;
            display: flex;
            margin: 5px 0 16px;
            line-height: 23px;
        }
        &__coupon-card--grey {
            display: flex;
            justify-content: space-between;
            color: $silver-grey-color;
            margin: 5px 0;
        }
        &__coupon-card__left {
            color: $portfolio-card-text-color;
            font-size: 18px;
            font-family: $muli-bold;
            padding: 0 20px;
            height: 110px;
            background-color: $couponcard-bg-blue;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 75%;
            @include min375max400 {
                font-size: 17px;
            }
            @include max360 {
                font-size: 16px;
                padding: 0 15px;
            }
            @include iphone5 {
                padding: 0 10px;
            }
            &__get-started {
                color: $crusta-orange-color;
                font-size: 14px;
                cursor: pointer;
                line-height: 18px;
            }
            &__issued {
                color: $dark-dusty-grey-color;
                font-size: 14px;
                line-height: 18px;
            }
            &--grey {
                background-color: $mercury-smoke-color;
                font-size: 18px;
                padding: 0 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                @include min375max400 {
                    font-size: 17px;
                }
                @include max360 {
                    font-size: 16px;
                    padding: 0 15px;
                }
                @include iphone5 {
                    padding: 0 10px;
                }
            }
        }
        &__coupon-card__right {
            color: $black-color;
            font-size: 18px;
            padding: 0 10px;
            text-align: center;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            background-color: $couponcard-bg-blue;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include min375max400 {
                font-size: 17px;
                padding: 0px 15px 0 5px;
            }
            @include max360 {
                font-size: 16px;
                padding: 0 10px;
            }
            &--grey {
                background-color: $mercury-smoke-color;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        &__separator {
            background-color: $mercury-smoke-color;
            height: 1px;
            margin: 20px 0;
        }
        &__more-about {
            ul {
                padding-left: 20px;
                > li {
                    color: $silver-grey-color;
                    font-size: 18px;
                    padding: 0 10px;
                    text-align: center;
                    border-top-right-radius: 6px;
                    border-bottom-right-radius: 6px;
                    background-color: $mercury-smoke-color;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    @include min375max400 {
                        font-size: 17px;
                        padding: 0px 15px 0 5px;
                    }
                    @include max360 {
                        font-size: 16px;
                        padding: 0 10px;
                    }
                }
            }
            &__separator {
                background-color: $mercury-smoke-color;
                height: 1px;
                margin: 30px 0;
            }
            &__more-about {
                ul {
                    padding-left: 20px;
                    > li {
                        color: $silver-grey-color;
                        font-size: 14px;
                        margin-bottom: 20px;
                        list-style-type: disc;
                        a {
                            color: $crusta-orange-color !important;
                            text-decoration: none;
                        }
                    }
                }
                &__heading {
                    color: $black-color;
                    font-weight: bold;
                    font-size: 16px;
                    cursor: pointer;
                    margin-bottom: 15px;
                }
            }
        }
    }
    .referee-bg-grey {
        background-color: $mercury-smoke-color !important;
        color: $silver-grey-color !important;
    }
    .referee-bg-grey-get-started {
        color: $silver-grey-color !important;
    }

    .mb30 {
        margin-bottom: 30px !important;
        b {
            color: $silver-grey-color !important;
        }
    }
    .referee-modal__inner__more-about__heading.isActive span img {
        transform: rotate(180deg);
        transition: all 0.5s;
    }
    .terms-cond a {
        color: $crusta-orange-color !important;
        text-decoration: none;
    }
}
