  <div class="modal-body white-bg">
    <div class="referee-modal">
			<div class="referee-modal__bannner">
				<button class="referee-modal__bannner__close-btn" (click)="closeIconAction()">{{'REFEREE-MODAL.CLOSE_BTN' | translate}}</button>
				<div class="referee-modal__bannner__gift-box"><img src="assets/images/refer-friend/Giftboxes.svg"></div>
				<div class="referee-modal__bannner__valid-box">{{'REFEREE-MODAL.VALIDITY' | translate}}</div>
			</div>
			<div class="referee-modal__inner">
				<p class="mb30">{{'REFEREE-MODAL.PARA_ONE' | translate}}</p>
				<div>
					<p class="referee-modal__inner__heading">{{'REFEREE-MODAL.HEADING' | translate}}</p>
					<p class="mb30" [innerHTML]="'REFEREE-MODAL.PARA_TWO' | translate"></p>
				</div>
				<div class="referee-modal__inner__coupon-card">
					<div><img src="assets/images/refer-friend/Slice Left Coupon Blue.svg"></div>
					<div class="referee-modal__inner__coupon-card__left">
						<p>{{'REFEREE-MODAL.COUPON_CARD_COMP' | translate}}</p>
						<p class="referee-modal__inner__coupon-card__left__get-started">{{'REFEREE-MODAL.GET_STARTED' | translate}}</p>
					</div>
					<div><img src="assets/images/refer-friend/Slice Mid Coupon Blue.svg"></div>
					<div class="referee-modal__inner__coupon-card__right">
						<p>S$20</p>
						<p><img src="assets/images/refer-friend/GrabFood logo.svg"></p>
						<p>credits</p>
					</div>
				</div>

				<div class="referee-modal__inner__coupon-card" >
					<div class="referee-modal__inner__coupon-card__left">
						<p>Get a comprehnsive financial planning</p>
						<p class="referee-modal__inner__coupon-card__left__get-started" (click)="investment()">Get Started</p>
					</div>
					<div class="referee-modal__inner__coupon-card__right">
						<p>S$20</p>
						<p><img src="assets/images/refer-friend/GrabFood logo.svg"></p>
						<p>credits</p>
					</div>
				</div> -->

				<!-- <div class="referee-modal__inner__coupon-card--grey">
					<div class="referee-modal__inner__coupon-card__left">
						<p>{{'REFEREE-MODAL.COUPON_CARD_INVEST' | translate}}</p>
						<p class="referee-modal__inner__coupon-card__left__get-started">{{'REFEREE-MODAL.GET_STARTED' | translate}}</p>
					</div>
					<div class="referee-modal__inner__coupon-card__right">
						<p>S$20</p>
						<p><img src="assets/images/refer-friend/GrabFood logo grey.svg"></p>
						<p>credits</p>
					</div>
				</div> -->
				<div class="referee-modal__inner__separator"></div>
				<div class="referee-modal__inner__more-about">
					<div class="referee-modal__inner__more-about__heading" (click)="toggleDetails()">{{'REFEREE-MODAL.MORE_ABOUT' | translate}} <span *ngIf='!isActive'><img src="assets/images/refer-friend/arrow-black-down.svg"></span><span *ngIf='isActive'><img src="assets/images/refer-friend/arrow-black-up.svg"></span></div>
					<div id="moreAbtDetails" *ngIf='isActive'>
						<ul>
							<li>{{'REFEREE-MODAL.MORE_ABOUT_LIST_ONE' | translate}}</li>
							<li>{{'REFEREE-MODAL.MORE_ABOUT_LIST_TWO' | translate}}</li>
							<li [innerHTML]="'REFEREE-MODAL.MORE_ABOUT_LIST_THREE' | translate"></li>
						</ul>
					</div>
				</div>
				<div class="terms-cond" [innerHTML]="'REFEREE-MODAL.TERMS_AND_COND' | translate"></div>
			</div>
		</div>
  </div>
