@import '../../../../variables';
@import '../../../../mixins';
.modal-body {
    @include desktop {
        width: 550px;
        padding: 0;
    }
    @include allmobiles {
        padding: 0 !important;
    }
}
.referee-modal p {
    margin: 0;
}
.referee-modal__bannner {
    height: 160px;
    padding: 0 20px 0 45px;
    @include allmobiles {
        padding: 0 20px 0 25px;
    }
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    background: $teal-color;
    @include desktop {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    &__valid-box {
        color: $portfolio-card-text-color;
        font-size: 14px;
        background-color: white;
        border-radius: 30px;
        padding: 0 10px;
        margin-bottom: 20px;
        height: 30px;
        line-height: 30px;
    }
    &__close-btn {
        &.close {
            opacity: 1 !important;
        }
    }
    &__stamped {
        position: absolute;
        right: 10px;
        top: 20px;
    }
}
.referee-modal__bannner__gift-box img {
    vertical-align: bottom;
    width: auto;
    height: 120px;
    @include max360 {
        height: 110px;
    }
}
.referee-modal__inner {
    @include desktop {
        padding: 30px 88px;
    }
    @include allmobiles {
        padding: 30px 20px;
    }
    color: $silver-grey-color;
    font-size: 16px;
    &__heading {
        color: $teal-color;
        font-weight: bold;
        font-size: 21px;
        margin-bottom: 10px;
    }
    &__coupon-card {
        height: 110px;
        display: flex;
        margin: 5px 0;
    }
    &__coupon-card--grey {
        display: flex;
        justify-content: space-between;
        color: $silver-grey-color;
        margin: 5px 0;
    }
    &__coupon-card__left {
        color: $portfolio-card-text-color;
        font-size: 18px;
        font-weight: bold;
        padding: 0 20px;
        height: 110px;
        background-color: $couponcard-bg-blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 75%;
        &__get-started {
            color: $crusta-orange-color;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
        }
        &__issued {
            color: $dark-dusty-grey-color;
            font-size: 14px;
            font-weight: bold;
        }
        &--grey {
            background-color: $mercury-smoke-color;
            font-size: 18px;
            font-weight: bold;
            padding: 0 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    &__coupon-card__right {
        color: $black-color;
        font-size: 18px;
        padding: 0 10px;
        text-align: center;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        background-color: $couponcard-bg-blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &--grey {
            color: $silver-grey-color;
            font-size: 18px;
            padding: 0 10px;
            text-align: center;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            background-color: $mercury-smoke-color;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    &__separator {
        background-color: $mercury-smoke-color;
        height: 1px;
        margin: 20px 0;
    }
    &__more-about {
        ul {
            padding-left: 20px;
            > li {
                color: $silver-grey-color;
                font-size: 14px;
                margin-bottom: 20px;
                list-style-type: disc;
                a {
                    color: $crusta-orange-color !important;
                    text-decoration: none;
                }
            }
        }
        &__heading {
            color: $black-color;
            font-weight: bold;
            font-size: 16px;
            cursor: pointer;
            margin-bottom: 15px;
        }
    }
}
.referee-bg-grey {
    background-color: $mercury-smoke-color !important;
    color: $silver-grey-color !important;
}
.referee-bg-grey-get-started {
    color: $silver-grey-color !important;
}

.mb30 {
    margin-bottom: 30px !important;
}
/* #moreAbtDetails {
    height: 0;
    transition:height 0.5s ease-in;
    overflow: hidden;
}
.referee-modal__inner__more-about__heading.isActive + #moreAbtDetails {
    transition:height 0.5s ease-out;
    height: 150px;
} */
.referee-modal__inner__more-about__heading.isActive span img {
    transform: rotate(180deg);
    transition: all 0.5s;
}
.terms-cond a {
    color: $crusta-orange-color !important;
    text-decoration: none;
}
