
<div class="container-fluid max-width--1024">
    <div class="row">
        <div class="intro_sub-title flex-col-12">
          <div class="back-btn mobile-back-btn hidden-lg">
            <img src="assets/images/back-web.svg">
          </div>
            <div class="main-desc" [innerHtml]="'TELL_ABOUT_YOU.RETIREMENT_MAIN_TITLE'|translate" ></div>
        </div>
    </div>

    <div class="page-banner"><img src="assets/images/welcome-journey/corpbiz-chilling.svg"></div>
    
    <div class="retirement-card-title">{{'TELL_ABOUT_YOU.RETIREMENT_TITLE' | translate}}</div>
    <div class="form-container">
      <form [formGroup]="formObject">
        <div class="flex-row">
            <div class="flex-col-7 align-center">
              <div class="form-group-with-bg--content-label sub-title">
                {{ 'CMP.RETIREMENT_PLAN.ABOUT' | translate}}</div>
            </div>
            <div class="flex-col-5">
              <div class="form-control form-control-right retireTxt">
                <input [ngClass]="{'view-mode': viewMode}" id="retireUserAge" type="text"
                   mode=1 [readonly]="false" (keyup)="changeSlide($event)"
                  (change)="changeSlide($event)" class="input-control" appCurrencyInput maxLength="2" name="retireUserAge"
                  formControlName="retirementAge" />
                <i class="right percent-fix">{{'CMP.RETIREMENT_PLAN.YEARS_OLD'|translate}}</i>
              </div>
            </div>
          </div>
            <div class="slider-dark mt20">
                <nouislider [formControl]="formObject.controls.retirementAge" [disabled]="viewMode" id="retirementSlider" #ciMultiplierSlider (slide)="onSliderChange($event)"
                  [config]="ciSliderConfig"></nouislider>
                <div class="min-max-val">
                  <div class="min-val">{{'CMP.RETIREMENT_PLAN.MIN_AGE'|translate}}<span
                      class="min-text">{{'CMP.RETIREMENT_PLAN.MIN_LABEL'|translate}}</span></div>
                  <div class="max-val">{{'CMP.RETIREMENT_PLAN.MAX_AGE'|translate}}<span
                      class="max-text">{{'CMP.RETIREMENT_PLAN.MAX_LABEL'|translate}}</span>
                  </div>
                </div>
              </div>
              <div class="flex-row retirementAgeValid" *ngIf="!(sliderValid.minAge && sliderValid.userAge)">
                <div class="flex-col-12">
                  <div class="form-group-with-bg--content-label" *ngIf="!sliderValid.userAge">
                    <img src="assets/images/comprehensive/age-warn.svg" />
                    {{ 'CMP.RETIREMENT_PLAN.RETIREMENT_USER_AGE_VALIDATION' | translate}}
                  </div>
                </div>
              </div>

            <div class="flex-row mt30">
                <div class="flex-col-7 align-center">
                  <div class="form-group-with-bg--content-label sub-title" for="name">{{'TELL_ABOUT_YOU.RETIREMENT_CASH_TITLE' | translate}}<div
                      class="form-group-with-bg--content-sub-label"></div>
                  </div>
                </div>
                <div class="flex-col-5">
                  <div class="form-control" [ngClass]="{'view-mode': viewMode}">
                    <i>$</i>
                    <input type="text" maxLength="7" class="input-control" appCurrencyInput #cashInBank
                    formControlName="cashInBank">
                  </div>
                </div>
              </div>
        <div>
            <div class="min-text mt20">{{'TELL_ABOUT_YOU.RETIREMENT_MIN_TEXT' | translate}}</div>
        </div>
      </form>
    </div>
    <div class="row btn-container">
        <div class="back-btn hidden-sm"></div>
        <button type="button" (click)="goToNext()" class="btn btn__footer--fixed btn-primary width100" id="myFinancialGoNextBtn">{{'TELL_ABOUT_YOU.CONT_BTN' | translate}}</button>
    </div>
    
</div>

