@import '../../../../variables';
@import '../../../../mixins';

app-upload-document {
  .upload-doc-nric {
    .upload-form {
      float: right;
      @include allmobiles {
        float: none;
      }
    }
    .col-md-12 {
      width: 367px;
      @include allmobiles {
        width: 100%;
      }
      .flex-row {
        align-items: center;
        justify-content: space-between;
      }
    }
    .flex-col-5 {
      label {
        font-family: $muli-semi-bold;
        letter-spacing: -0.3px;
        font-size: 16px;
        @include allmobiles {
          padding-right: 10px;
        }
      }
    }
    .flex-col-7 {
      max-width: 188px;
    }

    .doc-upload-instructions {
      background: $review-block-bg;
      padding: 11px 17px 12px 20px;
      border-radius: 6px;
      margin-bottom: 21px;
      font-family: $muli-bold;
      line-height: 18px;
      @include allmobiles {
        font-family: $muli-regular;
        background: $persian-dark-green-color;
      }

      .sub-title {
        font-size: 16px;
        letter-spacing: -0.3px;
        margin-bottom: 3px;
        font-family: $muli-bold;
        @include allmobiles {
          font-family: $muli-semi-bold;
        }
      }

      .file-logs {
        font-size: 14px;
        letter-spacing: -0.26px;
        color: $upload-file-log-color;

        span {
          &:first-child {
            font-family: $muli-semi-bold;
            padding-right: 4px;
            @include allmobiles {
              font-family: $muli-regular;
            }
          }
        }
      }
    }

    .sub-title-block {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;

      .sub-title {
        font-family: $muli-bold;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: -0.3px;
        color: $white-color;
        margin-bottom: 7px;
        display: flex;
        justify-content: space-between;

        img {
          display: inline-flex;
        }
      }

      .sub-title-desc {
        font-family: $muli-semi-bold;
        color: $upload-sub-title-desc-color;
        font-weight: 400;
        letter-spacing: -0.3px;
      }
    }

    .upload-doc {
      display: flex;
      justify-content: space-between;
      flex: 1;

      .upload-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 14px;
        border: 1px solid $upload-desc-brdr-color;
        padding: 20px;
        text-align: center;
        flex: 1;
        margin-right: 10px;
        margin-bottom: 20px;
        cursor: pointer;

        @include desktop {
          min-height: 165px;
        }

        @include allmobiles {
          border: 1px solid $fountain-blue-color;
          margin-bottom: 34px;
        }

        &:last-child {
          margin-right: 0;
        }

        .upload-content {
          div {
            font-size: 16px;
            letter-spacing: -0.3px;

            &.title {
              font-family: $muli-semi-bold;
              font-size: 18px;
              font-weight: 400;
            }

            &.sub-text {
              color: $white-color;
              word-break: break-all;
              @include allmobiles {
                padding-top: 8px;
              }
            }
          }
        }

        .thumb-container {
          position: relative;
          max-width: 85px;
          max-height: 85px;
          display: flex;
          align-items: center;
          padding: 10px 0 20px;

          .thumbnail {
            margin: 0 auto;
            max-width: 85px;
            max-height: 85px;
          }

          .thumb-close-icon {
            position: absolute;
            border-radius: 100%;
            background-color: $white-color;
            right: -10px;
            top: -6px;
            width: 23px;
            height: 23px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include allmobiles {
              width: 16px;
              height: 16px;
            }

            img {
              width: 12px;
              height: 12px;
              @include allmobiles{
                width: 8px;
                height: 8px;
              }
            }
          }
        }
      }
    }

    .btn__footer--fixed {
      font-family: $muli-bold !important;
    }

    .title-small {
      font-family: $muli-semi-bold;
      font-size: 13px;
      max-width: 340px;
      margin: 0;
      @include allmobiles {
        margin-bottom: 16px;
      }
      a {
        color: $white-color;
        text-decoration: underline;
      }
    }
  }
}
