<div class="upload-doc-nric investment-account">
    <div class="step-indicator-container">
      <div class="container-fluid max-width--1024">
        <div class="page-caption hidden-lg">{{ 'UPLOAD_DOCUMENTS.PAGE_SUB_CAPTION' | translate}}</div>
      </div>
    </div>
    <div class="container-fluid max-width--1024">
      <div class="content">
          <div class="title-big hidden-sm-md"> {{ 'UPLOAD_DOCUMENTS.TITLE' | translate}}</div>
        <div class="row">
            <div class="col-md-4 hidden-sm-md">
              <h2>{{'SECONDARY_HOLDER.PAGE_TITLE' | translate}}</h2>
              <div class="banner-image">
                <img src="assets/images/investment-account/secondary-holder-banner.svg" />
              </div>
          </div>
          <div class="col-md-8">
              <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-11">
          <form id="upload_doc_form" name="uploadForm" [formGroup]="uploadForm">
            <div class="title-small hidden-sm-md">
                {{ 'UPLOAD_DOCUMENTS.IDENTITY_VERIFICATION' | translate }}
            </div>
          <div class="flex-row">
            <div class="flex-col-4">
              <label for="salutation-drpdown" id="salutation-lbl">{{
                'UPLOAD_DOCUMENTS.TITLE'
                | translate}}</label>
            </div>
            <div class="flex-col-8">
              <div class="dropdown-control">
                <div ngbDropdown>
                  <button class="btn btn-dropdown without-border" id="salutation-drpdown" ngbDropdownToggle>
                    <span *ngIf="!uploadForm.controls.uploadDocument.value">
                      {{'UPLOAD_DOCUMENTS.TITLE'  | translate}}
                    </span>
                    <span *ngIf="uploadForm.controls.uploadDocument.value">
                      {{uploadForm.controls.uploadDocument.value.name}}
                    </span>
                  </button>
                  <div class="dropdown" ngbDropdownMenu aria-labelledby="salutation-drpdown">
                    <button class="dropdown-item" 
                      *ngFor="let uploadDocument of uploadDocumentList; let i = index;"
                      (click)="setDropDownValue(uploadDocument, 'uploadDocument')">{{uploadDocument.name}}</button>
                 
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 doc-upload-instructions">
            <div class="sub-title">
              {{ 'UPLOAD_DOCUMENTS.SPECIFICATION' | translate}}</div>
            <div class="file-logs"><span>{{ 'UPLOAD_DOCUMENTS.FILE_LESS-THAN' | translate}}</span><span>{{
              'UPLOAD_DOCUMENTS.TEN_MB' | translate}}</span></div>
            <div class="file-logs"><span>{{ 'UPLOAD_DOCUMENTS.FILE_TYPE' | translate}}</span><span>{{
              'UPLOAD_DOCUMENTS.SUPPORTED_FILES' | translate}}</span></div>
          </div>
          <!--NRIC-->
          <div *ngIf="nricDiv">
            <p>nricDiv</p>
          </div>

          <!--DateofBirth-->
          <div *ngIf="dobDiv">
            <p>dobDiv</p>
          </div>

          <!--passport-->
          <div *ngIf="passportDiv">
            <p>passportDiv</p>
          </div>

          </form>
          </div>
          
          <div class="text-center">
            <button type="button" id="uploadDocumentNextBtn"  (click)="goToNext(uploadForm)"
              class="btn btn__footer--fixed btn-ftr-get-started btn-primary"
              id="uploadDocument_submit_btn">{{ 'UPLOAD_DOCUMENTS.CONTINUE' | translate}}</button>
          </div>
        </div>
          </div>
        </div>
      </div>
      </div>
    </div>  