<div>
  <div class="question-info hidden-lg" id="risk-assessment_question-info_lbl">
    {{QuestionLabel}} {{questionIndex}} {{ofLabel}} {{questionsList.length}}
  </div>
  <div class="container-fluid max-width--1024 risk-assessment">
    <div class="row">
      <div class="col-lg-7 col-md-6 hidden-sm-md">
        <h2 class="question-info">{{QuestionLabel}} {{questionIndex}} {{ofLabel}} {{questionsList.length}}</h2>
        <h6 class="question-title">{{currentQuestion.description}}</h6>
        <div class="banner-image">
          <!-- <img src="assets/images/investment-account/qn-1.svg"/> -->
          <img  src={{iconImage}}/>
          
        </div>
      </div>
      <div class="col-lg-5 col-md-6" *ngIf="currentQuestion">
        <form name="riskAssessmentForm" [formGroup]="riskAssessmentForm" id="riskAssessmentForm">
          <div class="form-group-single-column flex-col">
            <div class="question-title hidden-lg" id="risk-assessment_question_lbl">
              {{currentQuestion.description}}
            </div>
            <!-- NORMAL CASE -->
            <div class="row" *ngIf="!isSpecialCase">
              <div class="col-12" *ngFor="let option of currentQuestion.options; let i = index">
                <div class="checkbox-button one-label">
                  <input id="risk-assessment_option{{i+1}}_radio" name="questSelOption" formControlName="questSelOption"
                    type="radio" class="field radio" value="{{option.questionOptionId}}" tabindex="{{i+1}}">
                  <label for="risk-assessment_option{{i+1}}_radio" id="riskAssessLbl_{{i}}">
                    <div><span id="risk-assessment_option-text{{i+1}}_lbl" class="input-label-grey">{{option.text}}</span></div>
                  </label>
                </div>
              </div>
            </div>
            <!-- SPECIAL CASE -->
            <div class="table-view" *ngIf="isSpecialCase">
              <div class="table-row table-head">
                <div class="table-cell">
                  <div class="col-head">Portfolio</div>
                </div>
                <div class="table-cell">
                  <div class="col-head">Optimistic</div>
                  <div> Return Projection (per annum)</div>
                </div>
                <div class="table-cell">
                  <div class="col-head">Pessimistic</div>
                  <div>Return Projection (per annum)</div>
                </div>
              </div>
              <div class="table-row" *ngFor="let option of currentQuestion.options; let i = index">
                <div class="table-cell">
                  <input id="risk-assessment_option{{i+1}}_radio" name="questSelOption" formControlName="questSelOption"
                    type="radio" class="field radio" value="{{option.questionOptionId}}" tabindex="{{i+1}}">
                  <label for="risk-assessment_option{{i+1}}_radio" id="riskAssessLbl_{{i}}">
                    <div><span id="risk-assessment_option-text{{i+1}}_lbl" class="input-label-grey">{{option.text}}</span></div>
                  </label>
                </div>
                <div class="table-cell">{{option.additionalInfo.optimisticProjection}}</div>
                <div class="table-cell">{{option.additionalInfo.pessimisticProjection}}</div>
              </div>
            </div>
            <button type="button" [disabled]="!riskAssessmentForm.valid" (click)="goToNext(riskAssessmentForm)" class="btn btn-primary btn__footer--fixed width100"
              id="prfBtn1">{{ 'LABEL.CONTINUE' | translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>