.question-info {
  position: relative;
  top: 66px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 35px;
  line-height: 35px;
  font-size: 14px;
  font-weight: bold;
  border-top: 1px solid #ccc;
  color: #00a7a7;
}

.question-desc {
  margin-bottom: 10px;
  font-size:18px;
}


