@import '../../../variables';
@import '../../../mixins';

.container-fluid {
    padding: 50px 60px 65px;
    font-family: $muli-semi-bold;
    @include allmobiles{
        padding: 0 !important;
        border-radius: 0;
    }
    .mobile-content{
        @include allmobiles{
            background: $white-color; 
            padding: 10px 15px;
        }
    }
}

.aboutMe {
    background-color: #f4fafb;
    border-radius: 6px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.25);
    font-size: 18px;
    letter-spacing: -0.3px;
    color: #2d8289;
    margin-top: 70px;
    @include allmobiles {
        margin-top: 25px;
        margin-bottom: 100px;
    }
    .flex-row{
        padding: 0 20px;
        &.title{
            font-family: $muli-bold;
            font-size: 20px;
            letter-spacing: -0.4px;
            color: #066360;
            border-radius: 6px;
            background: $white-color;
            padding: 17px 20px;
        }
        &.section{
            margin-bottom: 23px;
        }
    }
    .sublbl{
        font-family: $muli-regular;
        font-size: 16px;
        letter-spacing: -0.3px;
        color: #2d8289;
        font-weight: normal;
    }
    input{
        color:#00a7a7;
    }
    .direct-form-grp {
        .btn-group--toggle{
            .flex-row{
                flex-wrap: nowrap;
            }
        }
        .direct-form-btn--radio{
            min-width: 83px;
            max-width: 83px;
            margin: 0;
            @include min400max425{
                max-width: 90%;
            }
            &.female{
                @include allmobiles{
                    margin-left: auto;
                }
                @include desktop{
                    margin-left: auto;
                }
                @include tablet{
                    margin-left: auto;
                }
            }
            @include allmobiles{
                background: $white-color;
                color: #00a7a7;
                &.active{
                    background: #00a7a7;
                    color: #fff;
                }
            }
            &.btn{ 
                @include allmobiles{
                    //margin: 0 !important;
                }
            }
        }
    }
}
.heading {
    font-family: $muli-light;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.2px;
    color: #ffffff;
}
.autofill-link {
    @include allmobiles {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}
.autofill-text{
    font-size: 36px;
    letter-spacing: -0.4px;
    color: #ffffff;  
}

.sub-title {
    font-family: $muli-regular;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.2px;
    color: #ffffff;
    padding-right: 65px;
    padding-bottom: 26px;
    @include allmobiles{
        color: #333846;
        text-align: center;
        width: 300px;
        padding:0;
        padding-bottom: 11px;
        font-size: 16px;
    }
}
.mobile-logo{
    display: none;
    margin: 17px auto 11px;
    @include allmobiles {
        display: block;
        justify-content: center;
        align-items: center;
    }
}

.dropdown-control{
    @include allmobiles {
        .show {
            &.dropdown {
                border: 1px solid #00a7a7 !important;
                border-radius:  6px;
            }
        }
        .dropdown-menu{
            z-index: 998;
            max-height: 180px !important;
            overflow: auto;
            top: -184px !important;
            &.show{
               //margin-bottom: 65px;
            }
        }
    }
    
}

.with-help-icon{
    display:flex;
    align-items: flex-end;
    position: relative;
    .help-icon {
        background-image: url("../../../assets/images/help-icon.png");
        width: 20px;
        height: 20px;
        cursor: pointer;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 5px;
        right: -2px;
    }
}

.sub_name {
    font-family: $muli-regular;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #2d8289;
  }

  .inline-error{
    .btn-dropdown{
        border: none;
        border-radius: 4px;
    }
  }