<div class="modal-header">
    <div class="modal-title popup-header-icon" *ngIf="imgType == 1">
        <img src="./assets/images/owl.svg" id="errorModelImage" />
    </div>
    <div class="modal-title popup-header-icon glass" *ngIf="imgType == 2">
        <img src="./assets/images/investment-account/fees_owl.svg" id="errorModelImage" />
    </div>
</div>
<div class="modal-body white-bg">
    <div class="modal-body-title">
        <div id="errorModeltitle" [innerHTML]="errorTitle"></div>
        <span *ngIf="warningIcon" class="warning-icon"><img id="warning_icon" src="../../../assets/images/investment-account/topup-alert.svg"
    alt="" /></span>
        <span *ngIf="lockIcon" class="lock"><img src="../../../../assets/images/lock.svg" ></span>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true" id="errorModelCloseIcon"></span>
  </button>
    <form id="renameForm" name="renameForm" [formGroup]="renameForm">
        <div class="row">
            <div class="col-12">
                <input type="text" [ngClass]="{'inline-error': showErrorMessage}" class="form-control mb10" formControlName="investName" placeholder="Investment Name" (keyup)="showLength($event)" maxlength="50" required>
                <div *ngIf="!renameForm.get('investName').valid && !renameForm.get('investName').pristine" class="error-message">
                    {{ 'YOUR_PORTFOLIO.MODAL.RENAME_PORTFOLIO.VALIDATION_MESSAGE' | translate}}
                </div>
                <div *ngIf="showErrorMessage" class="error-message">
                    <span><img class="success-tick"
                        src="../../../assets/images/investment-account/portfolio-naming-indicator.svg" /></span>
                    <span>{{
                      'YOUR_PORTFOLIO.MODAL.RENAME_PORTFOLIO.ERROR_MESSAGE' | translate}}</span>
                </div>
            </div>
            <div class="characters col-12">{{characterLength ? characterLength :(userPortfolioName ? userPortfolioName.length :0)}} / 50 characters</div>
            <div class="col-12" *ngIf="primaryActionLabel">
                <button type="button" class="action-button " [ngClass]="{'disabled': (!renameForm.controls.investName.dirty && renameForm.controls.investName.invalid)}" (click)="primaryActionSelected()" id="errorModeButton"> {{primaryActionLabel}} </button>
            </div>
        </div>
    </form>

    <!-- <form [formGroup]="portfolioNameFormGroup">
        <div class="portfolio-naming">
            <div class="flex-col-12">
                <div class="desc">{{ 'PORTFOLIO_RECOMMENDATION.ADD_PORTFOLIO_NAME.ADD_PORTFOLIO_NAME_LAB' | translate}}</div>
                <div class="form-control mt20" [ngClass]="{'inline-error':getInlineErrorStatus(portfolioNameFormGroup.controls.portfolioName)}">
                    <input class="input-control" type="text" [placeholder]="getDefaultPortfolioName()" formControlName="portfolioName" (keyup)="showLength($event)" maxlength="50">
                </div>
                <div *ngIf="!portfolioNameFormGroup.get('portfolioName').valid && !portfolioNameFormGroup.get('portfolioName').pristine" class="error-message">
                    {{ 'PORTFOLIO_RECOMMENDATION.ADD_PORTFOLIO_NAME.VALIDATION_MESSAGE' | translate}}
                </div>
                <div *ngIf="showErrorMessage" class="error-message">
                    <span><img class="success-tick"
                    src="../../../assets/images/investment-account/portfolio-naming-indicator.svg" /></span>
                    <span>{{
                  'PORTFOLIO_RECOMMENDATION.ADD_PORTFOLIO_NAME.ERROR_MESSAGE' | translate}}</span>
                </div>
            </div>
            <div class="characters">{{characterLength ? characterLength :(userPortfolioName ? userPortfolioName.length :0)}} / 50 characters</div>
            <button type="button" [disabled]="!portfolioNameFormGroup.controls.portfolioName.value && showErrorMessage" class="btn btn-primary width100 pt10 mt20" (click)="addPortfolioName(portfolioNameFormGroup)" id="prfBtn1">{{
                'PORTFOLIO_RECOMMENDATION.ADD_PORTFOLIO_NAME.DONE' | translate}}</button>
        </div>
    </form> -->
</div>
<!-- <button type="button"  *ngIf="forgotPassword" class="action-button"   id="errorModeButton2" (click)="activeModal.dismiss('Cross click')">
    {{ 'LABEL.TRY_AGAIN' | translate}}
  </button> -->
<!-- yes - or - no -->
<div class="flex-row flex-col-12" *ngIf="buttonLabel">
    <button type="button" class="action-button " (click)="yesButtonClick()" id="errorModeButton">
      {{buttonLabel}}
    </button>
</div>
