@import '../../../../../_variables.scss';
@import '../../../../../_mixins.scss';

.toggle-btn{
  width: 49%;
}
.characters {
  font-size: 15px;
  font-style: italic;
  letter-spacing: -0.15px;
  color: $portfolio-name-length-color;
  text-align: right;
  padding: 0px 15px 10px;
}
.action-button {
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 6px 7px 0 $btn-shadow-color !important;
  background-color: $teal-color;
  border: 1px solid  $fixed-btn-brdr-color;
  margin-top: 15px;
  font-family: $muli-bold;
  font-size: 22px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: center;
  color: $white-color;
  padding: 10px;
  cursor: pointer;
  &:hover{
    background-color: $robins-egg-blue-color;
    border-color: $action-btn-hover-brdr-color;
  }
}
.disabled {
  background-color:#7fd3d3 !important;
  border: 1px solid #7fd3d3 !important;
  &:hover{
    background-color: #7fd3d3 !important;;
    border-color: 1px solid  $fixed-btn-brdr-color;
  }
}
.error-message {
  font-family: $muli-italic;
  font-size: 16px;
  font-style: italic;
  line-height: 1.31;
  letter-spacing: -0.16px;
  color: $inline-error-border-color;
  display: flex;
  text-align: left;
  padding-top: 9px;
  padding-bottom: 6px;
  span {
    &:first-child {
      padding-right: 11px;
    }
  }
}
.popup-header-icon {
  &.glass {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: -15px;

    img {
      height: 100%;
      width: 100%;
    }
  }
}
.modal-body-message {
  margin-bottom: 15px;
}
.action-button:active {
  background-color: $action-btn-active-bg;
  color: $white-color;
}
.warning-icon {
  width: 24px;
  height: 24px;
  padding-left: 7px;
  img{
    max-width: 100%;
    height: auto;
    margin: 0;
  }
}

.modal-body-title {
  display: flex;
  div {
    flex-grow: 0;
    flex-basis: auto;
  }
  span.lock {
    padding-left: 5px;
    img {
      vertical-align: initial !important;
    }
  }
}

