<nav class="navbar fixed-top center" #navbar [ngClass]="{'nav--shadow': showNavShadow}">
    <div class="navbar-wrapper space-between">
        <div class="navbar-group space-between" [ngClass]="{'navbar--hidden': !showMobileNavbar}">
            <div class="navbar-brand" [ngClass]="{'top': subTitle}">
                <li *ngIf="(navbarMode == 2)" class="nav-item">
                    <span class="navbar__back-btn--web hidden-sm-md" (click)="goBack()"></span>
                    <span class="navbar__back-btn--mobile hidden-lg" (click)="goBack()"></span>
                </li>
                <li *ngIf="(navbarMode == 4)" class="nav-item">
                        <span class="navbar__back-btn--web hidden-sm-md" (click)="goBack()"></span>
                    </li>
                <li class="navbar__logo--primary hidden-sm-md" routerLink="/">
                    </li>
                <li *ngIf="(navbarMode == 1 || navbarMode == 3 || navbarMode == 4)" class="navbar__logo--tertiary hidden-lg" routerLink="/">
                    </li>
                <li *ngIf="(navbarMode == 2 || navbarMode == 4)" class="navbar__separator hidden-sm-md">
                    </li>
                <li *ngIf="(navbarMode == 2 || navbarMode == 4)" class="navbar-item navbar__logo__subtitle hidden-sm-md">
                    <p>Insurance Adviser</p>
                    <p *ngIf="(navbarMode == 2)" class="secondary">powered by DIYInsurance</p>
                    </li>
                </div>
            <button *ngIf="(navbarMode == 1 || navbarMode == 3 || navbarMode == 4)" class="navbar-toggler hidden-lg" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"  data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span *ngIf="(navbarMode == 1 || navbarMode == 3)" class="navbar__menu-icon"></span>
                </button>
            <ul *ngIf="(navbarMode == 2)" class="navbar-header hidden-lg" [ngClass]="{'top': subTitle}">
                <div class="navbar__title--mobile">{{pageTitle}}</div>
                <div *ngIf="subTitle" class="navbar__subtitle--mobile">{{subTitle}}</div>
                <div class="navbar__helpIcon--mobile" *ngIf="helpIcon" (click)="showMobilePopUp()">
                    <div class="tooltip-icon"></div> 
                    </div>
                <div class="navbar__helpIcon--mobile navbar__helpIcon--mobile-settings" *ngIf="settingsIcon" (click)="showMobilePopUp()">
                        <div class="tooltip-icon"></div> 
                    </div>
                <div class="navbar__closeIcon" *ngIf="closeIcon" (click)="closeProdInfo()">
                    <div class="close-icon"></div>
                </div>
                </ul> 
            </div>
        
        <div *ngIf="(navbarMode == 1 || navbarMode == 3 )" [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarDefault" [ngClass]="{'searchOpen': showSearchBar}" #navbar>
            <ul class="navbar-nav primary hide" [ngClass]="{'hide': showSearchBar}">
                <li class="nav-item" [routerLink]="['/']">
                    <a class="nav-link">Home</a>
                    </li>
                <li class="nav-item dropdown" ngbDropdown #id01="ngbDropdown" (mouseover)="openDropdown(id01);" (mouseleave)="closeDropdown(id01);">
                    <!--  (mouseleave)="closeDropdown(id01);"-->
                    <a class="nav-link dropdown-toggle" id="id01" ngbDropdownToggle>Services</a>
                    <div class="dropdown-menu right" ngbDropdownMenu aria-labelledby="id01">
                        <button class="dropdown-item" [routerLink]="['/home']" fragment="insurance">
                            <img src="./../../../assets/images/nav/nav-insure-icon.svg"/>
                            <div class="navbar--text">
                                <span>Insure</span>
                                </div>
                        </button>
                        <button class="dropdown-item" [routerLink]="['/home']" fragment="will">
                            <img src="./../../../assets/images/nav/nav-will-icon.svg"/>
                            <div class="navbar--text">
                                <span>Wills</span>
                                <span class="sub">(Coming Soon)</span>
                                </div>
                            </button>
                        <button class="dropdown-item" [routerLink]="['/home']" fragment="invest">
                            <img src="./../../../assets/images/nav/nav-invest-icon.svg"/>
                            <div class="navbar--text">
                                <span>Invest</span>
                                <span class="sub">(Coming Soon)</span>
                                </div>
                        </button>
                        <button class="dropdown-item" [routerLink]="['/home']" fragment="comprehensive">
                            <img src="./../../../assets/images/nav/nav-compre-icon.svg"/>
                            <div class="navbar--text">
                                <span>Comprehensive (integrating national schemes)</span>
                                <span class="sub">(Coming Soon)</span>
                                </div>
                            </button>
                        <div class="tip"></div>
                        </div>
                    </li>
                <li class="nav-item dropdown" ngbDropdown #id02="ngbDropdown" (mouseover)="openDropdown(id02);" (mouseleave)="closeDropdown(id02);">
                    <a class="nav-link dropdown-toggle" id="id02" ngbDropdownToggle>Learn</a>
                    <div class="dropdown-menu right" ngbDropdownMenu aria-labelledby="id02">
                        <button class="dropdown-item" [routerLink]="['/articles/learn-about-insurance']">Learn About Insurance</button>
                        <button class="dropdown-item" [routerLink]="['/articles/category/all']">All Articles</button>
                        </div>
                    </li>
                <li class="nav-item" [routerLink]="['/faq']">
                    <a class="nav-link">FAQs</a>
                    </li>
                <!--
                <li class="nav-item dropdown" ngbDropdown #id03="ngbDropdown" (mouseover)="openDropdown(id03);" (mouseleave)="closeDropdown.close(id03);">
                    <a class="nav-link dropdown-toggle" id="id03" href="#" ngbDropdownToggle >Help</a>
                    <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="id03">
                        <button class="dropdown-item">Life Insurance Calculator</button>
                        <button class="dropdown-item">Critical Illness Calculator</button>
                        <button class="dropdown-item">Savings Calculator</button>
                        <button class="dropdown-item">Education Saving Calculator</button>
                        <button class="dropdown-item">Retirement Income Calculator</button>
                    </div>
                    </li>
                -->
                <li class="nav-item dropdown" ngbDropdown #id04="ngbDropdown" (mouseover)="openDropdown(id04);" (mouseleave)="closeDropdown(id04);">
                    <a class="nav-link dropdown-toggle" id="id04" ngbDropdownToggle>About Us</a>
                    <div class="dropdown-menu right" ngbDropdownMenu aria-labelledby="id04">
                        <button class="dropdown-item" [routerLink]="['/about-us']">
                            <div class="navbar--text">About Us</div>
                            </button>
                        <button class="dropdown-item" [routerLink]="['/about-us/customer-reviews']">
                            <div class="navbar--text">Customer Reviews</div>
                            </button>
                        <button class="dropdown-item" [routerLink]="['/about-us/why-buy-from-moneyowl']">
                            <div class="navbar--text">Why Buy from MoneyOwl</div>
                            </button>
                        <button class="dropdown-item" [routerLink]="['/about-us/contact-us']">
                            <div class="navbar--text">Contact Us</div>
                            </button> 
                    </div>
                    </li>
            </ul>
            <!--
            <ul class="navbar-nav search-wrapper space-between align-right" [ngClass]="{'open': showSearchBar}">
                <li class="nav-item" [ngClass]="{'open': showSearchBar}">        
                    <div class="navbar-search" [ngClass]="{'form-control': showSearchBar}">
                        <div class="search-trigger" (click)="openSearchBar(true)">
                            <img class="" src="../../../assets/images/search-icon.svg"/>
                            <span class="hidden-lg">Search</span>
                        </div>
                        <div class="search-input" [ngClass]="{'open': showSearchBar}">
                            <input type="text" placeholder="Enter your search here"/>
                            <div class="close-btn" (click)="openSearchBar(false)">
                                <img src="../../../assets/images/close.svg"/>
                            </div> 
                        </div>
                    </div>            
                    </li>
                </ul>
            -->
            <!--
            <ul class="navbar-nav secondary space-between">
                 <li class="nav-item link-login" routerLink="signup">
                    <a>
                        <i class="material-icons hidden-lg">person</i>
                        <span>Login</span>
                        </a>
                    </li>
                </ul> 
            -->
            </div>
        </div>
    </nav>
<nav class="navbar--sub" [ngClass]="{'headerMode': (navbarMode == 2)}"></nav>
<div [ngbCollapse]="isNavbarCollapsed" #navbarDropshadow (click)="isNavbarCollapsed = !isNavbarCollapsed" class="collapse navbar-collapse navbar__backdrop" id="navbarsDefault">
    </div>