@import '../../../variables';

@import '../../../mixins';

.notification-icon {

background: url("../../../assets/images/bell-icon.svg");

background-repeat: no-repeat;

position: absolute;

right: 42px;

border: none;

top: 10px;

width: 35px;

height: 25px;

}

.notification-number {

position: absolute;

top: -7px;

border: 2px solid #FFF;

background: #ff872f;

//height: 23px;

color: #FFF;

font-size: 10px;

padding: 2px 4px;

line-height: 100%;

border-radius: 2em;

left: 10px;

}

.notification-tooltip {

position: absolute;

border-radius: 6px;

background-color: #FFFFFF;

top: 50px;

left: 15px;

right: 15px;

box-shadow: 0 6px 14px 0 rgba(0,0,0,0.5);

&__arrow {

position: absolute;

width: 0;

height: 0;

border-left: 10px solid transparent;

border-right: 10px solid transparent;

border-bottom: 20px solid #2d8289;

top: 30px;

right: 57px;

}

&__header {

background-color: #2d8289;

padding: 15px;

font-family: $muli-regular;

font-size: 18px;

line-height: normal;

letter-spacing: -0.2px;

color: $white-color;

border-top-left-radius: 6px;

border-top-right-radius: 6px;

}

&__container {

border: 2px solid #f4fafb;

padding: 0 18px 0 25px;

background: $white-color;

ul li {

font-family: $muli-bold;

font-size: 16px;

line-height: 1.31;

letter-spacing: -0.2px;

border-bottom: 2px solid #f4fafb;

padding: 15px 0;

}

}

&__container--desc {

color: #00a7a7;

}

&__container--time {

color: #5e5e5e;

font-size: 14px;

margin-top: 10px;

}

&__footer {

background: #f4fafb;

padding: 18px;

text-align: center;

color: #ec681c;

font-family: $muli-regular;

font-size: 16px;

border-bottom-left-radius: 6px;

border-bottom-right-radius: 6px;

}

}