<nav class="navbar fixed-top center" #navbar [ngClass]="{'nav--shadow': showNavShadow, 'browser-error': browserError, 'comprehensive': navbarMode == 7}">
  <!-- Browser Detection (Error if IE11 or below) -->
  <div *ngIf="browserError" class="navbar-wrapper error">
    <div class="navbar__inner-wrapper">
      <span>{{defaultErrors.errorList['browser'].title}}</span>
      <span>{{defaultErrors.errorList['browser'].message}}</span>
      <div class="close-btn" (click)="closeBrowserError()"></div>
    </div>
  </div>
  <!-- Main Menu -->
  <div class="navbar-wrapper space-between">
    <!-- Logo and Back Button -->
    <div class="navbar-group space-between">
      <div class="navbar-brand">
        <!-- Back Button -->
        <li *ngIf="showNavBackBtn" class="nav-item">
          <span class="navbar__back-btn--web hidden-sm-md" (click)="goBack()"></span>
          <!-- <span class="navbar__back-btn--mobile hidden-lg" (click)="goBack()"></span>-->
        </li>
        <!-- Logo -->
        <li class="navbar__logo--primary hidden-sm-md" (click)="goToHome()"></li>
        <li class="navbar__logo--secondary hidden-lg" (click)="goToHome()"></li>
        <li *ngIf="showLabel" class="navbar__separator hidden-sm-md">
        </li>
        <li *ngIf="showLabel" class="navbar-item navbar__logo__subtitle hidden-sm-md">
          <p>{{showLabel.primary}}</p>
          <p *ngIf="showLabel.secondary" class="secondary">{{showLabel.secondary}}</p>
        </li>
      </div>
      <div class="navbar-btn-group hidden-lg">
        <!-- Notifications -->
        <div *ngIf="isLoggedIn && isNotificationEnabled && showNotifications" class="notification-icon" (click)="toggleRecentNotification()">
          <span class="notification-number" *ngIf="notificationCount && notificationCount > 0">
            <span *ngIf="notificationCount <= notificationLimit">{{ notificationCount }}</span>
            <span *ngIf="notificationCount > notificationLimit">{{ notificationLimit }}+</span>
          </span>
        </div>
        <!-- Hamburger Icon -->
        <div *ngIf="showMenu || showLogin" class="navbar-toggler" (click)="toggleMenu()" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar__menu-icon" [ngClass]="{'navbar__menu-icon-close': !isNavbarCollapsed}"></span>
        </div>
      </div>
    </div>
    <!-- Notifications Menu (Mobile) -->
    <div *ngIf="isLoggedIn && isNotificationEnabled && showNotifications" class="notification-tooltip mobile hidden-lg"
      [hidden]="isNotificationHidden">
      <div class="notification-tooltip__header">Notifications</div>
      <div class="notification-tooltip__container">
        <ul class="notification-tooltip__container--desc" *ngIf="recentMessages && recentMessages.length">
          <li class="notification-tooltip__container--message" *ngFor="let message of recentMessages">
            <span>{{message.message}}</span>
            <div class="notification-tooltip__container--time" *ngIf="message.time">{{message.time | timeAgo}}</div>
          </li>
        </ul>
        <div class="no-notification" *ngIf="!recentMessages || !recentMessages.length">
          You have no new notifications.
        </div>
      </div>
      <div class="notification-tooltip__footer" (click)="viewAllNotifications()">View All Activity</div>
    </div>
    <!-- Navigation Menu -->
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse mobile-menu" id="navbarDefault" [ngClass]="{'searchOpen': showSearchBar, 'notificationOpen': showNotifications}"
      id="navbarDefault" #navbar>
      <ul class="navbar-nav primary hide" [ngClass]="{'hide': showSearchBar, 'noMenu': !showMenu}">
        <li *ngIf="isLoggedIn" class="nav-item flex space-between link-mob-profile hidden-lg" style="flex-direction: row">
          <div class="dashboard-btn" (click)="goToDashboard()">
            <div *ngIf="userInfo" class="name">{{userInfo.firstName}}</div>
            <div class="sub-text">My Dashboard</div>
          </div>
          <a class="nav-link logout-btn" (click)="logout()" href="javascript: void(0);">Logout
            <i class="fa fa-sign-out"></i>
          </a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item hidden-lg profile-btn" [routerLink]="['/account/edit-profile']">
          <a class="navbar--text" href="javascript: void(0);">Profile</a>
        </li>
        <li *ngIf="showMenu" class="nav-item home-btn" [routerLink]="['/home']">
          <a class="nav-link">Home</a>
        </li>
        <li *ngIf="showMenu" class="nav-item dropdown" ngbDropdown #id01="ngbDropdown" (mouseover)="openDropdown(id01);"
          (mouseleave)="closeDropdown(id01);">
          <!--  (mouseleave)="closeDropdown(id01);"-->
          <a class="nav-link dropdown-toggle" id="id01" ngbDropdownToggle>Services</a>
          <div class="dropdown-menu right" ngbDropdownMenu aria-labelledby="id01">
            <button class="dropdown-item" (click)="goToHome('insurance')" fragment="insurance">
              <img src="/assets/images/nav/nav-insure-icon.svg" />
              <div class="navbar--text">
                <span>Insure</span>
              </div>
            </button>
            <button class="dropdown-item" (click)="goToHome('will')" fragment="will">
              <img src="/assets/images/nav/nav-will-icon.svg" />
              <div class="navbar--text">
                <span>Wills</span>
                <span *ngIf="!isWillWritingEnabled" class="sub">(Coming Soon)</span>
              </div>
            </button>
            <button class="dropdown-item" (click)="goToHome('invest')" fragment="invest">
              <img src="/assets/images/nav/nav-invest-icon.svg" />
              <div class="navbar--text">
                <span>Invest</span>
                <span *ngIf="!isInvestmentEnabled" class="sub">(Coming Soon)</span>
              </div>
            </button>
            <button class="dropdown-item" (click)="goToHome('comprehensive')" fragment="comprehensive">
              <img src="/assets/images/nav/nav-compre-icon.svg" />
              <div class="navbar--text">
                <span>Comprehensive (integrating national schemes)</span>
                <span *ngIf="!isComprehensiveEnabled" class="sub">(Coming Soon)</span>
              </div>
            </button>
            <div class="tip"></div>
          </div>
        </li>
        <li *ngIf="isPromotionEnabled && showMenu" class="nav-item" [routerLink]="['/promotions']">
          <a class="nav-link">Promotions</a>
        </li>
        <li *ngIf="isArticleEnabled && showMenu" class="nav-item dropdown" ngbDropdown #id02="ngbDropdown" (mouseover)="openDropdown(id02);"
          (mouseleave)="closeDropdown(id02);">
          <a class="nav-link dropdown-toggle" id="id02" ngbDropdownToggle>Learn</a>
          <div class="dropdown-menu right" ngbDropdownMenu aria-labelledby="id02">
            <button class="dropdown-item" [routerLink]="['/articles/learn-about-insurance']">Learn About Insurance</button>
            <button class="dropdown-item" [routerLink]="['/articles/category/all']">All Articles</button>
          </div>
        </li>
        <li *ngIf="showMenu" class="nav-item" [routerLink]="['/faq']">
          <a class="nav-link">FAQs</a>
        </li>
        <li *ngIf="showMenu" class="nav-item dropdown" ngbDropdown #id04="ngbDropdown" (mouseover)="openDropdown(id04);"
          (mouseleave)="closeDropdown(id04);">
          <a class="nav-link dropdown-toggle" id="id04" ngbDropdownToggle>About Us</a>
          <div class="dropdown-menu right" ngbDropdownMenu aria-labelledby="id04">
            <button class="dropdown-item" [routerLink]="['/about-us']">
              <div class="navbar--text">About Us</div>
            </button>
            <button class="dropdown-item" [routerLink]="['/about-us/customer-reviews']">
              <div class="navbar--text">Customer Reviews</div>
            </button>
            <button class="dropdown-item" [routerLink]="['/about-us/why-moneyowl']">
              <div class="navbar--text">Why MoneyOwl</div>
            </button>
            <button class="dropdown-item" [routerLink]="['/about-us/contact-us']">
              <div class="navbar--text">Contact Us</div>
            </button>
          </div>
        </li>
        <li *ngIf="isLoggedIn && isNotificationEnabled && showNotifications" class="nav-item dropdown notification hidden-sm-md"
          ngbDropdown #id00="ngbDropdown" (mouseover)="openDropdown(id00);" (mouseleave)="closeDropdown(id00);">
          <a class="nav-link dropdown-toggle" id="id00" ngbDropdownToggle>
            <div class="notification-icon" [ngClass]="{'notify': notificationCount > 0}">
              <span class="notification-number" *ngIf="notificationCount && notificationCount > 0">
                <span *ngIf="notificationCount <= notificationLimit">{{ notificationCount }}</span>
                <span *ngIf="notificationCount > notificationLimit">{{ notificationLimit }}+</span>
              </span>
            </div>
          </a>
          <div class="dropdown-menu right notification-tooltip" ngbDropdownMenu aria-labelledby="id00">
            <div class="notification-tooltip__header">Notifications</div>
            <div class="notification-tooltip__container">
              <ul class="notification-tooltip__container--desc" *ngIf="recentMessages && recentMessages.length">
                <li class="notification-tooltip__container--message" *ngFor="let message of recentMessages">
                  <span>{{message.message}}</span>
                  <div class="notification-tooltip__container--time" *ngIf="message.time">{{message.time | timeAgo}}</div>
                </li>
              </ul>
              <div class="no-notification" *ngIf="!recentMessages || !recentMessages.length">
                You have no new notifications.
              </div>
            </div>
            <div class="notification-tooltip__footer" (click)="viewAllNotifications()">View All Activity</div>
          </div>
        </li>
        <li *ngIf="!isLoggedIn && showLogin" class="nav-item link-login">
          <a class="nav-link" [routerLink]="['/account/login']"><img src="/assets/images/nav/login-icon.svg" />Login</a>
        </li>
        <li *ngIf="isLoggedIn && showLogin" class="nav-item dropdown profile hidden-sm-md" ngbDropdown #id05="ngbDropdown"
          (mouseover)="openDropdown(id05);" (mouseleave)="closeDropdown(id05);">
          <a class="nav-link dropdown-toggle last" Style="padding-right: 0" id="id05" ngbDropdownToggle></a>
          <div class="dropdown-menu right" ngbDropdownMenu aria-labelledby="id05">
            <button class="dropdown-item profile-btn" (click)="goToDashboard()">
              <div *ngIf="userInfo" class="name">{{userInfo.firstName | titlecase}}</div>
              <div class="sub-text">My Dashboard</div>
            </button>
            <button class="dropdown-item" [routerLink]="['/account/edit-profile']">
              <a class="navbar--text" href="javascript: void(0);">Profile</a>
            </button>
            <button class="dropdown-item" (click)="logout()">
              <a class="navbar--text" href="javascript: void(0);">Logout</a>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="navbar-wrapper space-between hidden-lg" *ngIf="showHeaderNavbar">
    <div class="navbar-header space-between">
      <div *ngIf="showHeaderBackBtn" class="navbar__back-btn--mobile" [ngClass]="{'subMode': subTitle}" (click)="goBack()"></div>
      <div class="navbar__title--mobile superTitle" *ngIf="pageSuperTitle">{{pageSuperTitle}}</div>
      <div class="navbar__title--mobile" [ngClass]="{'subMode': subTitle}">{{pageTitle}}</div>
      <div class="navbar__subtitle--mobile" *ngIf="subTitle">{{subTitle}}</div>
      <!-- For Direct and GuideMe -->
      <div *ngIf="showHelpIcon" class="navbar__helpIcon--mobile" (click)="showMobilePopUp()">
        <div class="tooltip-icon"></div>
      </div>
      <div class="navbar__helpIcon--mobile navbar__helpIcon--mobile-settings" *ngIf="showSettingsIcon" (click)="showMobilePopUp()">
        <div class="tooltip-icon"></div>
      </div>
      <div class="navbar__helpIcon--mobile {{menuItemClass}}" *ngIf="showMenuItem" (click)="onMenuItemClicked()">
        <div class="tooltip-icon"></div>
      </div>
      <div *ngIf="showNotificationClear" class="navbar-notification-clear" (click)="clearNotifications()">
        <button>Clear All</button>
      </div>
    </div>
  </div>
</nav>

<!-- Height Placeholder -->
<nav class="navbar--sub" [ngClass]="{'headerMode': (navbarMode == 2 || navbarMode == 6 || navbarMode == 7)}"></nav>
<div *ngIf="isComprehensiveEnabled && journeyType === constants.JOURNEY_TYPE_COMPREHENSIVE && journeyPathType"  class="comprehensive-desktop-header hidden-sm-md">
    <div class="page-title">{{pageTitle}}</div>
    <div class="{{menuItemClass}} prg-trck-icon" *ngIf="showMenuItem" (click)="onMenuItemClicked()">
      <div class="tooltip-icon"></div>
    </div>
</div>