<div class="white-bg corp-sign-content">
    <div class="container-fluid max-width--1024">
        <div class="content">
            <div class="flex-col-12">
                <div class="signup-wrapper">
                    <img class="create_account__header-icon" src="assets/images/corp-sign-up-myinfo.svg" />
                </div>
                <div class="sign-up-max-width">
                    <h2 class="signup-wrapper__title">{{'CORP_BIZ_SIGN_UP.SIGN_UP_DESC' | translate}}
                    </h2>
                    <div class="signup-wrapper__description">
                        <p [innerHTML]="'CORP_BIZ_SIGN_UP.SIGN_UP_MY_INFO_DESC' | translate">
                        </p>
                    </div>
                    <div id="nextDependentBtn" class="autofill-logo">
                        <img src="assets/images/retrieve-singpass-logo.svg" (click)="proceedToMyInfo()" />
                    </div>
                    <div class="separator"><span class="txt-or">{{'CORP_BIZ_SIGN_UP.OR_TXT' | translate}}</span></div>
                    <div class="flex-col-12">
                        <div class="flex-col autofill-link" (click)="skipMyInfo()">
                            <div class="autofill-text">{{'CORP_BIZ_SIGN_UP.SIGN_UP_MANUAL_BTN_TXT' | translate}}</div>
                            <div class="autofill-estimation">{{'CORP_BIZ_SIGN_UP.MANUAL_ESTIMATED_TIME_TXT' | translate}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>