<!--Custom Modal-->
<!-- <div class="custom-modal-backdrop"></div>
<div class="custom-modal-wrapper">
	<div class="custom-modal--icon">
		<img src="../assets/images/custom-modal-icon.svg" id="custModalImg1"/>
		<div class="custom-modal--content">
	    <p class="custom-modal--title" id="custModalTitle">{{ 'CUSTOM_MODAL.MODAL_TITLE' | translate}}</p>
	    <p class="custom-modal--desc" id="custModalDesc">{{ 'CUSTOM_MODAL.MODAL_DESC' | translate}}</p>
	  	</div>
	</div>
	<div class="custom-modal-content">
		<div><img src="../assets/images/custom-modal-overlay-bg.svg" id=
			"custModalImg2"/></div>
	</div>
</div> -->
<!--Custom Modal /-->
<div>
  <app-header></app-header>
</div>
<div>
  <router-outlet></router-outlet>
</div>

<!-- <div style="margin: 0 auto; max-width: 1024px;">
    <div class="flex__wrapper">
      <app-header></app-header>
    </div>
    <div class="flex__wrapper" style="padding-left: 0; padding-right: 0;">
      <router-outlet></router-outlet>
    </div>
  </div> -->
  
