<div class="container-fluid welcome-screen">
    <div class="form-container">
        <div>
            <img src="assets/images/welcome-journey/TravelOwl.svg" class="owl-icon">
        </div>
        <div class="welcome-img-title">{{'STATIC_PAGE.TITLE' | translate}}</div>
        <div class="sub-title-txt">{{'STATIC_PAGE.SUB_TITLE' | translate}}</div>
        
        <div class="page-btn">
            <div class="sub-text-black mr20">{{'STATIC_PAGE.SUB_TEXT' | translate}}</div>
            <div class="ml10"><button type="button" class="btn btn-orange welcome-btn" routerLink="/welcome-journey/welcome-step1">{{'STATIC_PAGE.CONT_BTN' | translate}}</button></div>
        </div>
    </div>
</div>