<div class="container-fluid welcome-screen">
    <div class="form-container">
        <div>
            <img src="assets/images/welcome-flow/TravelOwl.svg" class="owl-icon">
        </div>
        <div class="welcome-img-title">Welcome to MoneyOwl!</div>
        <div class="sub-title-txt">In just a few steps, you will embark on a Comprehensive Financial Planning Journey with MoneyOwl. We’ll be taking you through your finances now and throughout your retirement years.</div>
        
        <div class="page-btn">
            <div class="sub-text-black mr20">Corporate partner plans for Free!</div>
            <div class="ml10"><button type="button" class="btn btn-orange welcome-btn" routerLink="/welcome-flow/welcome-step1">Let's go</button></div>
        </div>
    </div>
</div>