.comprehensive {
    .title {
        font-size: 18px;
    }
   .retirementImg{
    background: url("/assets/images/comprehensive/retirement.svg") no-repeat;
    display: inline-block;
    width: 218px;
    height: 150px;
}
.income-bucket-panel__desc {
    padding-bottom: 25px;
}
.custom-slider-left{
    width: 4%; 
}
.custom-slider-middle{
    width: 24.5%; 
}
.custom-slider-right{
    width: 22%; 
}
}