<!--Get Started-->
<div class="intro-block">
  <div class="container-fluid max-width--1024 invest-web-width">
    <div class="intro-block__tab-container">
      <div class="intro-block__tab" [class.active]="tab=='1'" id="introtab1"></div>
      <div class="intro-block__tab active" [class.active]="tab=='2'"  id="introtab2"></div>
    </div>
    <div class="intro-block__content">
      <div class="row text-center">
        <div class="col-12">
          <div class="banner-image">
            <img src={{img}} id="introImg" />
          </div>
        </div>
        <div class="col-12 intro-block__content__desc invest-web-width">
          <p class="intro-block__content__heading" id="introHeading">{{title}}</p>
          <p class="intro-block__content__title mb10" id="introTitle">{{description}}</p>
          <p class="intro-block__content__sub-title mb40" id="introSubTitle">{{description2}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
