@import '../../../_variables.scss';
@import '../../../_mixins.scss';

app-intro-screen {
  .intro-block {
    .container-fluid {
      padding-top: 30px !important;
      @include allmobiles {
        padding-top: 10px !important;
      }
    }

    .intro-block__tab-container {
      @extend .flex;
      @extend .space-btwn;
      width: 100%;
      .intro-block__tab {
        width: calc(50% - 10px);
        opacity: 0.2;
        padding-right: 10px;
        background-color: $app-backgrnd-secondary-color;
        min-height: 5px;
        &.active {
          opacity: 1;
        }
      }
    }
    .intro-block__content {
      @include tablet {
        .banner-image img {
          max-width: 90%;
        }
      }
      @include allmobiles {
        .banner-image img {
          max-width: 70%;
        }
      }
      @include iPadProPortrait {
        .banner-image img {
          max-width: 80%;
        }
      }
    }
    .intro-block__content__desc {
      @include allmobiles {
        margin-top: 30px;
        text-align: center;
      }
      @include tablet {
        margin-top: 30px;
      }
    }
    .intro-block__content__heading {
      font-size: 36px;
      letter-spacing: -0.4px;
      text-align: center;
      color: $intro-block-heading-color;
    }
    .intro-block__content__title {
      font-family: $muli-semi-bold;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: -0.3px;
      text-align: center;
      color: $white-color;
    }
    .intro-block__content__sub-title {
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: -0.2px;
      text-align: center;
      color: $white-color;
    }
    .btn-proceed {
      width: 179px;
      height: 60px;
      border: 0px;
      border-radius: 6px;
      background-color: $white-color;
      box-shadow: 0 12px 14px 0 $btn-proceed-shadow-color;
      font-family: $muli-semi-bold !important;
      font-size: 22px;
      letter-spacing: -0.2px;
      text-align: center;
      color: $app-backgrnd-color;
      cursor: pointer;
      @include allmobiles {
        position: fixed;
        width: 100%;
        bottom: 0px;
        left: 0px;
        border-radius: 0px;
      }
    }
  }
}
