@import '../../../variables.scss';

app-confirm-withdrawal-modal {
  .edit-investment-modal {
    font-family: $muli;

    .modal-body-message {
      margin-bottom: 15px;
      padding-bottom: 40px;

      .warning {
        padding:6px 0 20px 0;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: -0.1px;
        color: $post-login-widget-title;

        .warning-heading {
          font-weight: bold;
        }
      }
    }

    .strong {
      font-weight: bold;

    }

    .amount-section {
      padding: 20px;
      border: 1px solid $fund-details-dimentional-brdr;
      border-radius: 6px;
      margin: 15px 0px;
      text-align: center;

      .amt {
        font-size: 22px;
        font-family: $muli-bold;
        color: $teal-color;
        margin-top: 10px;
      }

      .lbl {
        font-size: 16px;
        color: $withdrawal-modal-lbl-color;
        margin-top: 2px;
      }
    }

    .btn {
      &.btn-primary {
        font-family: $muli-bold;
      }
    }
  }
}
