@import '../../../../_variables.scss';
@import '../../../../_mixins.scss';

app-get-started-step1 {
  .back-btn {
    background-image: url('/assets/images/back-web.svg');
    width: 43px;
    height: 43px;
    cursor: pointer;
    position: absolute;
    top: 90px;
    left: 20px;
    background-repeat: no-repeat;
  }
  .step1-block {
    .container-fluid {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }
    .btn-proceed {
      border: 0px;
      border-radius: 6px;
      background-color: $white-color;
      box-shadow: 0 12px 14px 0 $btn-proceed-shadow-color;
      cursor: pointer;
      font-family: $muli-bold;
      font-weight: normal;
      font-size: 22px;
      letter-spacing: -0.2px;
      text-align: center;
      color: $teal-color;
      width: 370px;
      display: flex;
      justify-content: center;
      margin: 0 auto 54px;
      @include allmobiles {
        width: 100%;
        margin-bottom: 0;
      }
    }
  }
}
