<div class="upload-doc-nric">
  <div class="step-indicator-container">
    <div class="container-fluid">
      <app-step-indicator [count]="7" [activeStepIndex]="0"></app-step-indicator>
    </div>
  </div>
  <div class="container-fluid">
    <div class="content">
      <div class="row">
        <div class="col-12 sub-title-block">
         <div class="sub-title"><span>Proof Of Identity (NRIC)</span></div>
        </div>
        <div class="upload-doc">
          <div class="upload-desc" (click)="selectFile()">
            <div><img class="image-fluid" src="../../../assets/images/web-icon.jpg" alt=""></div>
            <div class="upload-content">
              <div>Front NRIC</div>
              <div>Tap to Upload</div>
              <input type="file" [formControl]="someFileControl" name="nricFront" accept="image/*" class="is-hidden">
            </div>
          </div>
          <div class="upload-desc" (click)="selectFile()">
              <div><img class="image-fluid" src="../../../assets/images/web-icon.jpg" alt=""></div>
              <div class="upload-content">
                <div>Front NRIC</div>
                <div>Tap to Upload</div>
                <input type="file" [formControl]="someFileControl" name="nricBack" accept="image/*" class="is-hidden">
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 sub-title-block">
          <div class="sub-title">
            <span>Proof Of Mailing Address</span>
            <span><img class="image-fluid" src="../../../assets/images/tooltip-icon-white.svg" alt=""></span>
          </div>
          <div class="sub-title-desc">This document must match the information<br/> provided under “Mailing Address” earlier.</div>
          <div class="upload-file">
              <button type="button" class="btn btn-primary" (click)="selectFile()">Choose File</button>
              <label>no file selected</label>
          </div>
          <input type="file" name="proofOfAddress" class="is-hidden">
        </div>        
      </div>
    </div>
  </div>
</div>