@import '../../../variables';
@import '../../../mixins';

.upload-doc-nric {
  .step-indicator-container {
    background-color: #fff;
    padding: 10px 0px;
    position: relative;
    top: 66px;
    margin-bottom: 15px;

    .container-fluid {
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .page-caption {
      color: $text-color-secondary;
      font-size: 16px;
      font-family: $muli;
      margin-bottom: 10px;
      text-align: center;
    }
  }

  @media (min-width: 768px) {
    .step-indicator-container {
      top: 0px;
    }
  }

  .sub-title-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    .sub-title {
      font-family: $muli-bold;
      font-size: 18px;
      line-height: 23px;
      letter-spacing: -0.3px;
      color: #ffffff;
      margin-bottom: 7px;
      display: flex;
      justify-content: space-between;

      img {
        display: inline-flex;
      }
    }

    .sub-title-desc {
      font-family: $muli-semi-bold;
      color: #bfe9e9;
      font-weight: 600;
      letter-spacing: -0.3px;
    }

    .upload-file {
      font-family: $muli-semi-bold;
      font-size: 16px;
      letter-spacing: -0.3px;
      background: #ffffff;
      border-radius: 6px;
      margin-top: 15px;

      .btn {
        width: 101px;
        height: 39px;
        padding: 9px 7px 10px;
        font-size: 16px;
        letter-spacing: -0.3px;
        background-color: #ff872f;
        color: #ffffff;
        margin: 6px 6px 7px 10px;
      }

      label {
        color: rgba(133, 133, 133, 0.67);
      }
    }
  }

  .upload-doc {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    padding: 0 15px;

    .upload-desc {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      border-radius: 14px;
      border: 1px solid #66caca;
      padding: 20px;
      text-align: center;
      height: 185px;
      flex: 1;
      margin-right: 10px;
      margin-bottom: 38px;

      &:last-child {
        margin-right: 0;
      }

      .upload-content {
        div {
          font-size: 16px;
          letter-spacing: -0.3px;

          &.title {
            font-family: $muli-semi-bold;
            font-size: 18px;
            font-weight: 600;
          }

          &.sub-text {
            color: #bfe9e9;
          }
        }
      }

      .thumb-container {
        position: relative;
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        &.selected {
          .placeholder-image {
            display: none;
          }
        }

        .thumbnail {
          margin: 0 auto;
          max-width: 100px;
          max-height: 100px;
        }

        .thumb-close-icon {
          position: absolute;
          padding: 5px 12px;
          border-radius: 100%;
          background-color: #fff;
          right: -16px;
          top: -16px;
          img {
            width: 12px;
            height: 12px;
          }
        }
      }
    }
  }

}
