@import '../../../variables';
@import '../../../mixins';
app-upload-document-bo {
  .upload-doc-nric {
    .step-indicator-container {
      background-color: $white-color;
      padding: 10px 0px;
      position: relative;
      top: 60px;
      .container-fluid {
        padding-top: 0px;
        padding-bottom: 0px;
      }
      .page-caption {
        color: $text-color-secondary;
        font-size: 16px;
        font-family: $muli;
        margin-bottom: 10px;
        text-align: center;
      }
    }
    @media (min-width: 768px) {
      .step-indicator-container {
        top: 0px;
      }
    }
    .sub-title-block {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;
      .sub-title {
        font-family: $muli-bold;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: -0.3px;
        color: $white-color;
        margin-bottom: 7px;
        display: flex;
        justify-content: space-between;
        img {
          display: inline-flex;
        }
      }
      .sub-title-desc {
        font-family: $muli-semi-bold;
        color: $upload-sub-title-desc-color;
        font-weight: 600;
        letter-spacing: -0.3px;
      }
      .upload-file {
        font-family: $muli-semi-bold;
        font-size: 16px;
        background: $white-color;
        border-radius: 6px;
        margin-top: 15px;
        padding: 6px;
        display: flex;
        .selected-state {
          display: none;
        }
        .unselected-state {
          display: inline-block;
        }
        &.selected {
          .selected-state {
            display: inline-block;
          }
          .unselected-state {
            display: none;
          }
          button {
            background-color: $btn-primary-backgrnd-color;
          }
        }
        .btn {
          font-size: 16px;
          background-color: $secondary-action-color;
          color: $white-color;
          display: flex;
          flex: 2;
        }
        div {
          display: flex;
          align-self: center;
          padding-right: 10px;
          cursor: pointer;
        }
      }
    }
    .upload-doc {
      display: flex;
      justify-content: space-evenly;
      flex: 1;
      padding: 0 15px;
      .upload-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 14px;
        border: 1px solid $upload-desc-brdr-color;
        padding: 20px;
        text-align: center;
        flex: 1;
        margin-right: 10px;
        margin-bottom: 38px;
        &:last-child {
          margin-right: 0;
        }
        .upload-content {
          div {
            font-size: 16px;
            letter-spacing: -0.3px;
            &.title {
              font-family: $muli-semi-bold;
              font-size: 18px;
              font-weight: 600;
            }
            &.sub-text {
              color: $upload-sub-title-desc-color;
              word-break: break-all;
            }
          }
        }
        .thumb-container {
          position: relative;
          width: 100px;
          height: 100px;
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          cursor: pointer;
          .thumbnail {
            margin: 0 auto;
            max-width: 100px;
            max-height: 100px;
          }
          .thumb-close-icon {
            position: absolute;
            padding: 1px 7px;
            border-radius: 100%;
            background-color: $white-color;
            right: -10px;
            top: -10px;
            img {
              width: 12px;
              height: 12px;
            }
          }
        }
      }
    }
    .btn__footer--fixed {
      font-family: $muli-bold !important;
    }
  }
}
