<div class="transactions pr0 pl0">
  <div class="container-fluid">
    <div class="content">
      <ngb-tabset>
        <ngb-tab title="History">
          <ng-template ngbTabContent>
            <div class="flex-row" *ngIf="transactionHistory">
              <div class="flex-col-12">
                <div class="history">
                  <div class="record" *ngFor="let group of transactionHistory.transactionGroups">
                    <div class="record-date">{{group.groupName}}</div>
                    <div class="flex-col record-data">
                      <div class="flex-row record-title" *ngFor="let transaction of group.transactions">
                        <div class="flex-col-6"><span class="flex-col-3">{{transaction.transactionType.name}}</span><span class="flex-col-9">{{transaction.portfolio.name}}</span></div>
                        <div class="flex-col-6"><span>{{transaction.amount}}</span><i class='fa right' [class.fa-chevron-down]="true"
                            [class.fa-chevron-up]="false"></i></div>
                        
                        <div class="flex-row" *ngFor="let fund of transaction.fundInvestmentSplit">
                          <div class="flex-col-6">{{fund.fund.name}}</div>
                          <div class="flex-col-6">{{fund.unitPrice}}</div>
                        </div>    
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="no-data">
          <img src="../../../assets/images/investment-account/light_owl.svg"/>
          <div>No Transaction History!</div>
        </div> -->
              </div>
            </div>

          </ng-template>
        </ngb-tab>
        <ngb-tab class="btn width100" title="Statements">
          <ng-template ngbTabContent>
            <div class="flex-row">
              <div class="flex-col-12">
                <div class="statements">
                  <div class="record">
                    <div class="flex-col record-data" *ngIf="statementMonthsList">
                      <div *ngFor="let statementMonth of statementMonthsList">
                        <div class="record-date">{{statementMonth.year}}</div>
                        <div class="flex-row" *ngFor="let month of statementMonth.months"><span>{{month.monthName}}</span>
                          <a class="download-link" target="_blank" download [href]="getStatementLink(month)">Download</a>
                        </div>
                      </div>
                    </div>
                    <div class="no-data" *ngIf="!statementMonthsList">
                      <img src="../../../assets/images/investment-account/light_owl.svg" />
                      <div>No Transaction Statements!</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
