@import "../../../_variables.scss";
@import "../../../_mixins.scss";

//Transaction Module Styles
.transaction-panel {
  height: 100vh;
  background: $white-color;

  .nav-item {
    width: 50%;
    text-align: center;
  }

  .nav-tabs .nav-link {
    border: none;
    color: #d2d2d2;
    font-size: 18px;
    font-family: $muli-bold;
    letter-spacing: -0.2px;

    &.active {
      color: #ff872f;
      border-bottom: 6px solid #ff872f;
    }
  }

  .transaction-group {
    border-bottom: 1px solid #ccc;
  }

  .transaction-group:last-child {
    border-width: 0px;
  }

  .transaction-panel__history,
  .transaction-panel__statements {
    color: $app-backgrnd-color;

    &--date {
      font-size: 14px;
      letter-spacing: -0.1px;
      text-align: center;
      background-color: rgba(0, 167, 167, 0.11);
      padding: 10px;
      color: $app-backgrnd-color;
    }
  }

  .transaction-panel__history--details {
    &--title {
      font-size: 18px;
      font-family: $muli-semi-bold;
      padding: 20px;
      border-bottom: 1px solid #f4fafb;
    }

    &--title--sale {
      font-size: 14px;
      color: #d0021b;
      text-transform: uppercase;
      margin-right: 30px;
      &.buy {
        color: #11b600;
      }
    }

    &--title--amount--sale {
      font-size: 16px;
      margin-right: 20px;
      font-family: $muli-regular;
      color: #5e5e5e;
      &.buy {
        color: #00a7a7;
      }
    }

    &--desc {
      background-color: rgba(0, 167, 167, 0.11);
      padding: 20px;
      font-size: 16px;
      display: none;

      &.show {
        display: flex;
      }
    }
  }

  .transaction-panel__statements {
    &--details {
      padding: 20px;
      font-family: $muli-bold;
      font-size: 18px;
      border-bottom: 2px solid #f4fafb;
      background: $white-color;
    }

    a.download-link {
      color: #ec681c;
      font-size: 16px;
      font-family: $muli-regular;
    }
  }
}

.no-transaction {
  color: $app-backgrnd-color;
  text-align: center;
  padding-top: 20%;
}
