@import '../../../../_variables.scss';
@import '../../../../_mixins.scss';

app-cpf-prerequisites {
  .container-fluid {
    &.max-width--1024 {
      @include allmobiles {
        padding-bottom: 30px;
      }
    }
  }

  .pre-requisites-content {
    max-width: 335px;

    @include allmobiles {
      max-width: 100%;
    }

    .text-lyt {
      font-family: $muli-semi-bold;
      line-height: normal;
      letter-spacing: -0.17px;
    }

    .steps {
      font-family: $muli-bold;
      font-size: 18px;
      line-height: normal;
      letter-spacing: normal;
    }

    .tooltip-icon {
      // background: url('/assets/images/tooltip-icon-white.svg') no-repeat;
      height: 18px;
      width: 18px;
      cursor: pointer;
      display: block;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .cka-status-btn {
      font-size: 18px;
      line-height: normal;
      letter-spacing: -0.14px;

      .sub-txt {
        font-family: $muli-regular;
        font-size: 13px;
        line-height: normal;
        letter-spacing: -0.1px;
        padding-top: 2px;
      }

      .status-icon {
        width: 24px;
        height: 24px;
        float: left;
      }

      .cka-status-lbl {
        padding: 10px 0;
      }

      .btn-passed {
        background: $light-green-color !important;
      }

      .btn {
        padding: 0.5rem 20px;
        margin: 20px 0 30px;
        box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.21) !important;
      }
    }
  }

  label {
    font-family: $muli-semi-bold;
    font-size: 18px;
    letter-spacing: -0.34px;
  }

  .operator-block {
    .note-info {
      font-family: $muli-regular;
      font-size: 13px;

      .note-icon {
        padding-right: 15px;
      }
    }

    .btn-dropdown {
      &:disabled {
        background-color: $iceberg-blue-color !important;
        border-color: $form-control-disabled-border-color !important;
        cursor: not-allowed;
        color: $app-backgrnd-color !important;
        opacity: 1 !important;
      }
    }

    .form-control {
      color: $app-backgrnd-color;
      font-family: $muli-regular;

      &:disabled,
      &.disabled {
        background-color: $iceberg-blue-color !important;
        border-color: $form-control-disabled-border-color !important;
        cursor: not-allowed;

        input {
          padding: 0 !important;
        }
      }

      &:focus {
        border-color: $form-control-disabled-border-color !important;
      }
    }
  }
}
