@import '../../../variables';
@import '../../../mixins';
app-ci-assessment {
  .total {
    min-width: 120px;
  }
  .form-with-bg .form-with-bg--content .form-with-bg--content-label {
    flex-basis: 61vw !important;
  }
  #RetirementAgeDropDown button {
    width: 90px;
  }

  .dropdown-menu.show {
    min-width: 100% !important;
  }
}
