@import '../../../variables';
@import '../../../mixins';
app-ci-assessment {
  .total {
    min-width: 120px;
  }
  .dropdown-menu.show {
    min-width: 100% !important;
  }

  .with-help-icon {
    width: 180px;
    padding-right: 40px;
    .help-icon {
      margin-left: 0 !important;
      display: block;
      float: right;
      position: absolute;
      right: 0;
      top: 15px;
    }
  }
  .ci-note{
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.13px;
    color: $ci-note-color;
    padding: 20px 0;
    border-bottom: 1px dashed $ci-note-brdr-color;
  }
}
