<!--Critical Illness Screen-->
<div class="container-fluid max-width--1024">
        <div class="content">
          <div class="row">
            <div class="col-lg-7 col-md-6 hidden-sm-md">
              <h2>{{ pageTitle }}</h2>
              <h6 [innerHTML]="'CI_ASSESSMENT.DESCRIPTION' | translate"></h6>
              <div class="banner-image">
                <img src="assets/images/critical-illness.svg" />
              </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <form id="ciAssessmentForm" name="ciAssessmentForm" [formGroup]="ciAssessmentForm">
                    <div  class="form-group-with-bg">
                      <!--Form Header-->
                      <div class="form-group-with-bg--header">
                          <div class="flex-row align-items-top">
                            <div class="flex-col-7">
                              <div class="form-group-with-bg--header-label">{{ 'CI_ASSESSMENT.COVERAGE_AMT' | translate}}<div class="form-group-with-bg--header-sub-label">{{ 'CI_ASSESSMENT.COVERAGE_AMT_DESC' | translate}}</div></div>
                            </div>
                            <div class="flex-col-5">
                            <div class="total">{{ciCoverageAmt | currency:'USD':'symbol-narrow':'1.0-2'}}</div>
                            </div>
                          </div>
                        </div>
                        <!--Form Content-->
                        <div class="form-group-with-bg--content">
                          <div class="flex-row mb50">
                            <div class="form-group-with-bg--content-label mb10" for="name">
                                {{ 'CI_ASSESSMENT.CI_COVERAGE_MULTI_PREFIX' | translate}}
                                <span class="span--content-inline--underline">{{ciMultiplier}}</span>
                                {{ 'CI_ASSESSMENT.CI_COVERAGE_MULTI_SALARY' | translate}}{{monthlySalary  | currency:'USD':'symbol-narrow':'1.0-2'}}{{ 'CI_ASSESSMENT.CI_COVERAGE_MULTI_ANNUAL_BONUS' | translate}}{{annualBonus | currency:'USD':'symbol-narrow':'1.0-2'}}{{ 'CI_ASSESSMENT.CI_COVERAGE_MULTI_SUFFIX' | translate}} 
                            </div>
                          </div> 
                          <nouislider #ciMultiplierSlider (slide)="onSliderChange($event)" [config]="ciSliderConfig" [min]="0" 
                                    [max]="7" [step]="1" [tooltips]="[ true ]"></nouislider>
                          <div class="dash"></div>
                          <div class="ci-note">Note: Recovery period is usually 2 to 5 years.</div>  
                          <div class="flex-row mt15">
                            <div class="flex-col-9">
                              <div class="form-group-with-bg--content-label with-help-icon" for="name">{{ 'CI_ASSESSMENT.UNTIL_RETIREMENT_AGE' | translate}}
                                  <span class="help-icon" (click)="showCoverageAgeModal()"></span>
                              </div>
                            </div>
                              <div class="flex-col-3">
                                  <div class="dropdown-control">
                                      <div ngbDropdown id="RetirementAgeDropDown">
                                          <button class="btn btn-dropdown" id="retirementAgeDropdown" ngbDropdownToggle aria-expanded="false">
                                            <span>{{untilRetirementAge}}</span></button>
                                          <div ngbDropdownMenu class="dropdown" aria-labelledby="retirementAgeDropdown">
                                            <button class="dropdown-item" *ngFor="let count of retirementAgeItems" (click)="selectRetirementAge(count)">{{count}}</button>
                                          </div>
                                        </div>
                                  </div>
                              </div>
                          </div>
                        </div>                  
                      </div>
                      <button type="button" (click)="goToNext(ciAssessmentForm)" class="btn btn__footer--fixed btn-primary width100"
                      id="incomeBtn">{{ 'LABEL.CONTINUE' | translate}}</button>
                  </form>
            </div>
          </div>
        </div>
      </div>
      