<div class="col-xs-12 col-12 comprehensive-content" style="padding-top: 15px !important; padding-bottom: 30px !important;">
  <header class="comprehensive-header p-4 mb-2">
    <h4><b>{{'CMP.COMPREHENSIVE.GET_STARTED' | translate}}</b></h4>
    <p>10 mins <i class="fa fa-circle-o"></i></p>
    <button class="float-right comprehensive-btn p-2 px-4" (click)="start()">{{'CMP.COMPREHENSIVE.START' | translate}}</button>
  </header>
  <section class="comprehensive-section p-1">
    <h5> <b> {{'CMP.COMPREHENSIVE.PHILOSOPHY_TITLE' | translate}} </b></h5>
    <p>{{'CMP.COMPREHENSIVE.PHILOSOPHY_DESC' | translate}}</p>
    <img class="robo" src="assets/images/home-comprehensive-robo.png">
    <p>{{'CMP.COMPREHENSIVE.PHOLOSOPHY_DESC_SUB' | translate}}</p>
  </section>
  <section class="comprehensive-section p-1 text-center">
      <iframe [src]='safeURL' frameborder="0" allowfullscreen width="560" height="315" ></iframe>
  </section>
  <section class=" p-1 ">
    <h5><b>{{'CMP.COMPREHENSIVE.RESULT_TITLE' | translate}}</b></h5>
    <p>{{'CMP.COMPREHENSIVE.RESULT_SUB_TITLE' | translate}}</p>
    <section class="row">
      <article class="col-6 col-xs-6 text-center ">
        {{'CMP.COMPREHENSIVE.RESULTS_FIRST' | translate}}
      </article>
      <article class="col-6 col-xs-6 text-center">
        {{'CMP.COMPREHENSIVE.RESULTS_SECOND' | translate}}
      </article>      

    </section>
  </section>
  <button class="start-now-btn btn-block btn btn-primary-dark" (click)="start()">{{'CMP.COMPREHENSIVE.START' | translate}}</button>
</div>