@import '../../../variables';
@import '../../../mixins';

app-comprehensive {
  .marquee-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    z-index: 500;
    background-color: $app-backgrnd-color;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    min-height: 45px;
    padding: 12px 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);

    @include minMobilemaxPhablet {
      padding: 5px 0px;
    }

    .marquee {
      display: flex;
      width: 100%;
      max-width: 1024px;
      flex-direction: row;
      align-items: flex-start;

      @include minMobilemaxPhablet {
        align-items: center;
      }

      .noti-icon {
        position: relative;
        display: block;
        width: 35px;
        height: 35px;
        margin-right: 5px;
        background: url('/assets/images/home-page/banner/marquee-icon.svg') no-repeat;
        background-size: 35px 35px;
        margin-left: 60px;
        margin-right: 15px;

        @include minMobilemaxPhablet {
          width: 25px;
          height: 25px;
          margin-left: 5px;
          margin-right: 5px;
          background-size: 25px 25px;
        }
      }

      .marquee-inner {
        position: relative;
        width: 100%;
        padding: 0 30px 0;
        overflow: hidden;
        margin-top: -2px;

        .marquee-slide {
          position: relative;
          width: 100%;
          cursor: pointer;
          display: inline-block;
          font-family: $muli-regular;
          font-size: 14px;

          @include minMobilemaxPhablet {
            width: 2521.16px;
            white-space: nowrap;
            animation: marquee 30s linear infinite;
          }

          span {

            @include minMobilemaxPhablet {
              br {
                display: none;
              }

              width:568.54px;
              margin-left:284.27px;

              &:last-child {
                display: inline-block;
              }
            }

            a {
              color: $white-color;
            }
          }
        }
      }

      .close-btn {
        position: relative;
        display: block;
        width: 15px;
        height: 15px;
        transform: translate(-20px, -10px);
        align-self: center;
        background: url("/assets/images/close-btn-white.png") no-repeat;
        background-size: 10px, 10px;
        background-color: $teal-color;
        cursor: pointer;

        @include minMobilemaxPhablet {
          right: 0px;
          transform: translate(-5px, 1px);
        }
      }
    }
  }

  @keyframes marquee {
    0% {
      transform: translate(0, 0)
    }

    100% {
      transform: translate(-2521.16px, 0)
    }
  }

  .container-fluid {
    background-color: $white-color;
    padding: 87px 105px 65px;
    max-width: 550px;
    min-height: calc(100vh - 84px);
  
    @include allmobiles {
      padding: 87px 18px 56px !important;
      border-radius: 0;
    }
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .instructions-txt {
    font-family: $muli-regular;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: -0.16px;
    color: $dark-grey-color;
  }
  
  .mt-25 {
    margin-top: 25px;
  }
  
  .owl-icon {
    width: 115px;
    height: 116px;
  }
  
  .comprehensive-txt {
    font-family: $muli-bold;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.18px;
    color: $black-color;
    margin-top: 38px;
  }
  
  .limited-time {
    font-family: $muli-regular;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -0.16px;
    color: $limited-text;
    margin-top: 5px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .free-tag {
    display: flex;
    padding-top: 6px;
  
    span {
      font-family: $muli-bold;
      font-size: 16px;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.25px;
      color: $black-color;
      padding-left: 8px;
    }
  
    @include max360 {
      font-size: 13px;
    }
  
    @include iphoneX {
      font-size: 13px;
    }
  
    @include iphone6 {
      font-size: 13px;
    }
  }
  
  .promocode-entry {
    position: relative;
    text-align: center;
    width: 280px;
    margin-top: 40px;
  }
  
  .promocode-entry:before {
    content: "";
    display: block;
    border-top: solid 1px $teal-color;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 0;
  }
  
  .promocode-entry span {
    font-family: $muli-bold;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.15px;
    text-align: center;
    color: $teal-color;
    background: $white-color;
    padding: 0 22px;
    position: relative;
    z-index: 1;
  }
  
  .no-promo {
      font-family: $muli-regular;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: -0.26px;
      text-align: center;
      color: #005960;
      margin-top: 10px;
  
      span {
          font-family: $muli-bold;
          letter-spacing: -0.25px;
      }
  }
  
  .promocode {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18px;
    padding: 0 30px;
    width: 100%;
  
    @include allmobiles {
      margin-top: 16px;
      padding: 0;
      margin-bottom: 70px;
    }
  
    .offer-code {
      input {
        border-radius: 6px;
        font-family: $muli-bold;
        font-size: 16px;
        letter-spacing: -0.2px;
        text-align: center;
        color: $dark-teal-color;
        border: solid 1px $spindle-color;
        padding: 18px 35px;
        width: 247px;
        height: 54px;
      }
  
      input::placeholder {
        font-family: $muli-light;
        font-size: 16px;
        font-weight: 300;
        font-style: italic;
        color: $silver-chalice-color !important;
      }
  
      #intro-no-promocode {
        padding-top: 22px;
        line-height: normal;
        padding-bottom: 10px;
      }
  
      .getOneNow {
          font-family: $muli-bold;
          cursor: pointer;
          text-decoration: underline;
      }
    }
  
    .btn {
        margin-top: 30px !important;
    }
  
    .btn:disabled {
      box-shadow: none !important;
      background-color: $btn-disabled;
      color: $white-color;
    }
  }
}
