
@import '../../../variables';
@import '../../../mixins';

.comprehensive-content{
    background:#fff;
    color: #000 !important;

.comprehensive-header {
  background: #00a7a7 !important;
  padding-bottom: 60px!important;
  color:#fff;
}

.comprehensive-btn {
  background: #fff !important;
  color: #00a7a7 !important;
  box-shadow: grey;
  border: 1px solid #fff;
  border-radius: 2px;
}

.comprehensive-section {
  background: #fff;
 

}
}
