@import '../../../variables';
@import '../../../mixins';
app-comprehensive {
  
  .comprehensive  {
    &.container-fluid {
      padding: 0 !important;
    }
    @include tablet {
      &.container-fluid {
        padding: 0 !important;
      }
    }
    &.white-bg {
      background-color: $white-color !important;
    }
    .start-now-btn{
      font-size: 18px!important;
    }
   
  }

  .video-section {
    margin: 0;
  }
  .intro-box {
      padding: 20px;
      padding-bottom: 0;
    &__heading, &__heading-blue {
      font-family: $muli-bold;
      font-size: 28px;
      color: $black-color;
      padding-bottom: 20px;
      line-height: 35px;
    }
    &__heading-blue {
      color: $app-backgrnd-color;
    }
    ul {
      padding: 0 0 15px 0;
      li {
        font-family: $muli-regular;
        color: $black-color;
        font-size: 16px;
        line-height: 25px;
        list-style-type: none;
        margin-bottom: 5px;
          &.report, &.national-scheme, &.meeting {
            background-image: url('../../../assets/images/comprehensive/homepage/report.svg');
            background-repeat: no-repeat;
            padding-left: 40px;
            background-position: 0 1px;
            min-height: 30px;
          }
          &.national-scheme {
            background-image: url('../../../assets/images/comprehensive/homepage/national-scheme.svg');
          }
          &.meeting {
            background-image: url('../../../assets/images/comprehensive/homepage/meeting.svg');
          }
      }
    }
    &__desc {
      color: $text-color-secondary;
      padding-bottom: 10px;
      &:last-child() {
        border-bottom: 1px solid #ededed;
        padding-bottom: 20px;
      }
    }
  }
  .how-it-works {
    //border-top: 1px solid $separator-color;
    padding: 10px;
    &__heading {
      font-family: $muli-semi-bold;
      font-size: 20px;
      color: $black-color;
      padding-bottom: 20px;
      padding: 0 10px 10px 10px;
    }
    &__box {
        border-radius: 6px;
        box-shadow: 0 3px 6px 0 rgba(179, 179, 179, 0.5);
        background-color: $white-color;
        padding: 30px 20px;
        margin-bottom: 16px;
      &__heading {
        font-family: $muli-semi-bold;
        font-size: 16px;
        color: $black-color;
      }
      &__content {
        color: $btn-comprehensive;
        font-size: 14px;
        margin-bottom: 30px!important;
      }
      &__caption--info-gathering, &__caption--report, &__caption--meeting, &__caption--review  {
        padding-top: 20px;
        background-image: url("../../../assets/images/comprehensive/homepage/info-gathering.svg");
        background-repeat: no-repeat;
        background-position: right 100%;
        height: 100px;
      }
      &__caption--report {
        background-image: url("../../../assets/images/comprehensive/homepage/3-in-1.svg");
      }
      &__caption--meeting {
        background-image: url("../../../assets/images/comprehensive/homepage/meeting-big.svg");
      }
      &__caption--review {
        background-image: url("../../../assets/images/comprehensive/homepage/review.svg");
      }
      ul {
        padding: 16px 0 0 20px;
        li {
          list-style-type: disc;
          font-size: 20px;
          line-height: 20px;
          span {
            font-size: 14px;
          }
        }
      }
    }
  }
  .desc-box {
    padding: 30px 30px;
    font-size: 16px;
    &__heading {
      color: $advisory-heading;
      border-bottom: 1px solid $advisory-heading;
      margin-bottom: 16px;
    }
    &__free-text {
      @extend .flex;
      justify-content: space-between;
      color: $black-color;
      position: relative;
      span.free {
        color: $text-free;
        font-family: $muli-bold;
      }
    }
    &__limited-time {
      color: $limited-text;
    }
  }
  .strikethrough {
    position: relative;
    margin-right: 10px;
  }
  .strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;
    -webkit-transform:rotate(10deg);
    -moz-transform:rotate(10deg);
    -ms-transform:rotate(10deg);
    -o-transform:rotate(10deg);
    transform:rotate(10deg);
  }
  .promo-code-box {
    text-align: center;
    padding: 0 30px;
    padding-bottom: 130px;
    &.with-login {
      padding-bottom: 40px;
    }
    input {
      text-align: center;
    }
    input::placeholder {
      color: $limited-text !important;
      font-family: $muli-light-italic;
    }
    &__promo-input {
      padding: 0 10%;
    }
    &__no-promo {
      color: $dark-teal-color;
      font-size: 14px;
      margin: 10px 0 30px 0;
    }
    &__get-now {
      color: $dark-teal-color;
      font-family: $muli-bold;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .onetime-free-box {
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background: $white-color;
      @include desktop {
        width: 600px;
        left: 50%;
        margin-left: -300px; /* Half of the width */
      }
    &__inner {
      @extend .flex;
      justify-content: space-between;
      align-items: center;
      color: $black-color;
      font-family: $muli-bold;
      &__limited {
        color: $limited;
        font-size: 11px;
        font-family: $muli-semi-bold;
      }
      .btn {
        font-size: 14px;
      }
    }
    .free-tag {
      margin: 0 0 5px 0;
      background-position: 0 0;
      font-size: 14px;
      font-family: $muli-bold;
      @include max360 {
        font-size: 13px;
      }
      @include iphoneX {
        font-size: 13px;
      }
      @include iphone6 {
        font-size: 13px;
      }
    }
    .btn-primary-dark {
      @include max360 {
        padding: 10px;
        font-size: 13px;
      }
    }
  }
  //Product page Comprehensive Financial Planning Section Changes
  .cfp {
      color: $black-color;
      padding: 24px 20px 30px 20px;
      font-size: 16px;
    &__heading {
      font-family: $muli-bold;
    }
    &__desc {
      color: $limited-text;
      font-size: 14px;
      font-family: $muli-regular;
      @include iphone6plus {
        padding-right: 16%;
      }
      @include iphoneX {
        padding-right: 6%;
      }
      @include iphone6 {
        padding-right: 6%;
      }
    }
  }
  .promo-code-heading {
    font-family: $muli-bold;
    color: $app-backgrnd-color;
    padding: 0 15px;
    position: relative;
    border-top: 2px solid $app-backgrnd-color;
    margin-bottom: 20px;
    .promo-code-heading__text {
      position: absolute;
      left: 50%;
      background: $white-color;
      width: 200px;
      height: 20px;
      top: -15PX;
      transform: translate(-50%, 0);
    }
  }
  .strikethrough-new {
    position: relative;
    margin-right: 10px;
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 60%;
      right: 0;
      border-top: 1px solid;
      border-color: inherit;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
  }
}
.free-tag {
  margin: 10px 0 16px 0;
  background: url("../../../assets/images/comprehensive/free-tag.svg") no-repeat;
  padding-left: 60px;
  font-family: $muli-semi-bold;
  background-position: 0 2px;
}
}