<div class="marquee-wrapper" *ngIf="isBannerNoteVisible">
  <div class="marquee">
    <div class="noti-icon"></div>
    <div class="marquee-inner">
      <div class="marquee-slide">
        <span [innerHTML]="this.translate.instant('CMP.COMPREHENSIVE.PROMO_TEXT')"></span>
      </div>
    </div>
    <div class="close-btn" (click)="isBannerNoteVisible = false;"></div>
  </div>
</div>
<div class="container-fluid">
  <form id="promoCodeForm" name="promoCodeForm" [formGroup]="promoCodeForm" id="promoCodeFrm">
    <div class="content">
      <img class="owl-icon" src="assets/images/createAccount-icon.svg">
      <div class="instructions-txt  mt-25" innerHTML="{{'CMP.COMPREHENSIVE.INSTRUCTIONS' | translate}}"></div>
      <div class="full-width">
        <div class="comprehensive-txt">{{'CMP.COMPREHENSIVE.COMPREHENSIVE_PLAN' | translate}}</div>
        <div class="free-tag">
          <img [src]="imageSrc">
          <span [ngStyle]="{'text-decoration': paymentEnabled ? 'none' : 'line-through'}">${{productAmount}} {{'CMP.COMPREHENSIVE.INCLUSIVE_GST' | translate}}</span>
        </div>
        <div class="limited-time">{{'CMP.COMPREHENSIVE.LIMITED_TIME' | translate}}</div>
      </div>
      <div class="promocode-entry"><span>{{'CMP.COMPREHENSIVE.ENTER_PROMO_CODE' | translate}}</span></div>
      <div class="promocode">
        <div name="promocodeForm">
          <div class="offer-code">
            <div>
              <input type="text" id="promoCodeInpt" class="form-control promo-code"
              formControlName="comprehensivePromoCodeToken"
              placeholder="{{ 'CMP.COMPREHENSIVE.INPUT_PLACEHOLDER' | translate}}">
            </div>
            <div class="no-promo">
              {{ 'CMP.COMPREHENSIVE.NO_PROMOCODE' | translate}}
              <span id="intro-get-now" (click)="getPromoCode()"
                class='getOneNow'>{{ 'CMP.COMPREHENSIVE.GET_NOW' | translate}}</span>
            </div>
          </div>
          <button type="button" class="btn btn__footer--fixed btn-primary width100" (click)="getStarted()"
            id="intro-continue">{{'CMP.COMPREHENSIVE.GET_STARTED' | translate}}</button>
        </div>
      </div>
    </div>
  </form>
</div>