<!--Assets Screen-->
<div class="container-fluid mt30 pl68 pr68">
    <div class="row">
      <div class="col-lg-7 col-md-6 hidden-sm-md">
        <h2>Liabilities </h2>
        <h6>Help us understand your finances better.</h6>
        <div class="banner-image liabilities"></div>
      </div>
      <div class="col-lg-5 col-md-6">
        <div class="myinfo__block">
          <div class="myinfo__block__btn">
            <span class="myinfo__block__btn--arrow"></span>
          </div>
          <div class="myinfo__block--title">Auto fill forms via MyInfo</div>
          <div class="myinfo__block--sub-title">Tap here to fetch data</div>
        </div>
        <div>
          <form id="liabilitiesForm" name="liabilitiesForm" [formGroup]="liabilitiesForm">
            <ul class="form__block--white mb-0 form__block--white-top">
              <li class="form__row">
                <div class="form__col--left inline-block">
                  <div class="label--top-title">My Monthly Income</div>
                  <div class="label--top-sub-title">What You Earn</div>
                </div>
                <div class="form__col--right text-right">
                  <div class="text-big text-right">$0</div>
                </div>
              </li>
            </ul>
            <ul class="form__block--white form__block--white-bottom">
              <li class="form__row">
                <div class="form__col--left">
                  <label for="name">Monthly Salary</label>
                </div>
                <div class="form__col--right text-right">
                  <div name="monthlySalary">
                    <div class="form__col--right-input-currency">
                      <div class="fixed-currency">$</div>
                      <div>
                        <input type="text" formControlName="monthlySalary" value="0">
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="form__row">
                <div class="form__col--left">
                  <label for="name">Annual Bonus</label>
                </div>
                <div class="form__col--right text-right">
                  <div name="annualBonus">
                    <div class="form__col--right-input-currency">
                      <div class="fixed-currency">$</div>
                      <div>
                        <input type="text" formControlName="annualBonus" value="0">
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="form__row">
                <div class="form__col--left-with-hint">
                  <div class="form__col--left-label-primary">Other Income</div>
                  <div class="form__col--left--label-secondary">(E.g. Rental, Dividend)</div>
                </div>
                <div class="form__col--right text-right">
                  <div name="otherIncome">
                    <div class="form__col--right-input-currency">
                      <div class="fixed-currency">$</div>
                      <div>
                        <input type="text" formControlName="otherIncome" value="0">
                      </div>
                      <div class="fixed-tenure">/mth</div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <div>
              <button type="button" (click)="goToNext(liabilitiesForm)" class="btn btn__footer--fixed btn-ftr-get-started btn-primary width100"
                id="liabilitiesBtn">Continue</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>