@import '../../../../_variables.scss';
@import '../../../../_mixins.scss';

app-recommendation {
  .splash-screen {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10000;
    top: 0;
    bottom: 0;
  }

  .hide-custom-modal {
    display: none;
  }

  .fade-out-animation {
    -webkit-animation: fadeOut 1000ms ease-in-out;
    /* Chrome, Safari, Opera */
    animation: fadeOut 1000ms ease-in-out;
    opacity: 0;
  }

  /* Chrome, Safari, Opera */
  @-webkit-keyframes fadeOut {
    0% {
      opacity: 0.8;
    }

    100% {
      opacity: 0;
    }
  }

  /* Standard syntax */
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .custom-modal-backdrop {
    background: $white-color;
    position: fixed;
    opacity: 0.95;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
  }

  .custom-modal-wrapper {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 10000;
    text-align: center;
    @extend .flex;
    @extend .justify-center;
    @extend .align-center;
    flex-direction: column;
    height: 100%;
    @include allmobiles{
      top: 105px;
      justify-content: flex-start;
    }
    @include max360{
      top: 50px;
    }
  }

  .custom-modal--content {
    text-align: center;
    .btn{
      &.btn-primary {
        width: 320px !important;
        margin-top: 45px;
  
        @include allmobiles {
          position: fixed !important;
          bottom: 30px;
          left: 0;
          right: 0;
          box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.21) !important;
        }
      }
    }
  }

  .custom-modal--icon {
    display: flex;
    justify-content: center;
      @include desktop {
        width: 340px;
      }

      @include tablet {
        width: 340px;
      }

      @include allmobiles {
        width: 285px;
      }
      img{
        width: 100%;
        height: auto;
        display: flex;
      }
  }

  .custom-modal--title {
    color: $custom-modal-title-color;
    font-family: $muli-regular;
    font-size: 36px;
    letter-spacing: -0.4px;
    line-height: 1.11;
    margin-top: 20px;
  }

  .custom-modal--desc {
    color: $custom-modal-desc-color;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.2px;
    font-family: $muli-regular;
    max-width: 480px;
    margin: 0 auto;

    @include allmobiles {
      padding: 0 10%;
    }
  }

  .risk-profile-block {
    @include continue-button;

    .web-title {
      font-family: $muli-semi-bold;
      font-size: 36px;
      letter-spacing: -0.4px;
      text-align: center;
      color: $risk-profile-page-title-color;
      padding: 30px;
    }

    .container-fluid {
      padding-top: 0px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;

      @include allmobiles {
        padding-top: 60px !important;
      }

      @include minPhabletmaxTablet {
        padding-top: 60px !important;

      }

      @include tablet {
        padding-top: 0px !important;

      }

    }
    .risk-profile-block__content {
      .portfolio-img {
        img {
          z-index: 99;
          position: relative;

          &:last-child {
            z-index: 1;
          }

          &.secondPortfolio {
            margin-right: -20px !important;
          }
        }
      }

      @include tablet {
        .banner-image img {
          max-width: 90%;
        }
      }

      @include allmobiles {
        .banner-image img {
          max-width: 70%;
        }
      }

      @include iPadProPortrait {
        .banner-image img {
          max-width: 80%;
        }
      }
    }

    .risk-profile-block__content__desc {
      text-align: left;
      position: relative;
      padding: 30px 30px 65px !important;
      top: 285px;

      @include allmobiles {
        padding: 35px 30px 65px !important;
        top: 205px;
      }

      @include tablet {
        top: 270px !important;
      }

      @include iPadLandscape {
        top: 270px !important;
      }

      @include phablet {
        top: 166px !important;
      }
    }

    .risk-profile-block__content__title {
      font-family: $muli-semi-bold;
      font-size: 24px;
      line-height: normal;
      letter-spacing: -0.17px;
      color: $risk-profile-title-color;
      text-align: center;
      margin: 0;
      padding-top: 15px;
      display: block;

      &.secondPortfolio {
        padding-left: 13px;
      }
    }

    .risk-profile-block__content__sub-title {
      font-family: $muli-regular;
      font-size: 16px;
      line-height: 21px;
      letter-spacing: -0.15px;
      color: $white-color;
      margin-bottom: 30px;
    }

    .btn__footer--fixed {
      font-family: $muli-bold !important;
      font-size: 22px;
      letter-spacing: -0.25px;
    }

    .portfolio_btn_produced {
      border-radius: 6px;
      box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.25);
      background-color: $white-color;
      font-family: $muli-bold;
      font-size: 18px;
      letter-spacing: -0.3px;
      color: $teal-color;

      @include allmobiles {
        padding: 0px;
      }


      &:active {
        outline: none;
        background-color: $white-color !important;
        color: $teal-color !important;
      }

      &:hover {
        outline: none;
      }

      &:focus {
        outline: none;
        background-color: $white-color !important;
        color: $teal-color !important;
      }

      .portfolio_btn {
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;

        .flex-row {
          align-items: center;
        }

        @include allmobiles {
          padding: 0px;
        }
      }

    }

    .portfolio-btn {
      width: 65px;
      height: 65px;
      padding: 5px;
    }

    .forward_img {
      @include allmobiles {
        padding-right: 5px
      }
    }

  }

  .banner-image img {
    max-width: 100%;
    height: auto;
    margin: auto;
  }

  .risk-head {
    font-size: 18px;
    font-family: $muli-bold;
    letter-spacing: -0.18px;
    margin-bottom: 10px;
  }

  .risk-profile-title-block {
    background-color: $white-color;
    padding-bottom: 35px;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;

    @include allmobiles {
      padding-top: 25px;
    }
  }

  .risk-profile-title-block.invert {
    background: none;
    padding-bottom: 0px;

    .risk-profile-block__content__title {
      color: $white-color;
    }
  }
}
