@import '../../../../variables';


.edit-investment-modal {

  font-family: $muli;

  .fees-table-head {
    padding: 10px;
    background-color: #2d8289;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px 6px 0px 0px;
    text-align: center;
  }

  .fees-table {
    display: table;
    width:100%;

    .fees-row {
      display: table-row;

      .fees-col {
        display: table-cell;
        padding: 5px 15px;
        border:1px solid #c2d9ec;
        color:#5e5e5e;
        font-size: 16px;
      }
    }
  }


  .popup-header-icon {
    &.glass {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: -15px;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  .modal-body-message {
    margin-bottom: 15px;
  }

  .center {
      text-align: center;
  }
  
  .strong {
      font-weight:bold;
  }

}
