<div class="edit-investment-modal">


  <div class="modal-header">
    <div class="modal-title popup-header-icon glass">
      <img src="./assets/images/investment-account/fees_owl.svg" />
    </div>
  </div>
  <div class="modal-body white-bg">
    <div class="modal-body-title">{{ 'CONFIRM_PORTFOLIO.MODAL.FEES.TITLE' | translate}}</div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true"></span>
    </button>

    <div class="modal-body-message">
      <div class="fees-table-head">
        {{ 'CONFIRM_PORTFOLIO.MODAL.FEES.TABLE_HEAD' | translate}}
      </div>
      <div class="fees-table">
        <div class="fees-row">
          <div class="fees-col">
              {{ 'CONFIRM_PORTFOLIO.MODAL.FEES.MONEYOWL_FEES' | translate}}
          </div>
          <div class="fees-col center">
            0.65%
          </div>
        </div>

        <div class="fees-row">
          <div class="fees-col">
              {{ 'CONFIRM_PORTFOLIO.MODAL.FEES.PLATFORM_FEES' | translate}}
          </div>
          <div class="fees-col center">
            0.15%
          </div>
        </div>

        <div class="fees-row">
          <div class="fees-col">
              {{ 'CONFIRM_PORTFOLIO.MODAL.FEES.FUND_EXPENSE_RATIO' | translate}}
          </div>
          <div class="fees-col center">
            0.2% to 0.4%
          </div>
        </div>

        <div class="fees-row">
          <div class="fees-col strong">
              {{ 'CONFIRM_PORTFOLIO.MODAL.FEES.TOTAL' | translate}}
          </div>
          <div class="fees-col center strong">
            1% to 1.2%
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
