<app-intro-screen [title]="title" [description]="description" [img]="img" [tab]="tab" [description2]="description2">
</app-intro-screen>
<div class="back-btn hidden-lg" (click)="goBack()"></div>
<div class="col-lg-12 col-md-12 col-sm-12 flex__box--horz block__content">
    <div class="container-fluid max-width--1024 block__start-text-container flex--left-align flex--xs-grow">
        <button class="button__proceed width100" (click)="goNext()" id="getStartedStep2Btn">
            {{'GETSTARTED_STEP1.PROCEED' | translate}}
        </button>
    </div>
</div>