@import '../../../_variables.scss';
@import '../../../_mixins.scss';

app-get-started-step2 {
  .back-btn {
    background-image: url('../../../assets/images/back-web.svg');
    width: 43px;
    height: 43px;
    cursor: pointer;
    position: absolute;
    top: 57px;
    left: 20px;
    background-repeat: no-repeat;
  }
  .block__carousel-bar-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: calc(100%);
    margin: auto;

    .block__carousel-bar {
      position: relative;
      display: inline-block;
      width: calc(50% - 10px);
      min-height: 5px;
      opacity: 0.2;
      background-color: $app-backgrnd-secondary-color;
    }
    .block__carousel-bar.active {
      opacity: 1;
    }
  }

  .block__content {
    position: relative;
    display: flex;
    width: 100%;
    flex: 1 0 0;
    align-items: center;
    margin-top: 125px;
    @include tablet {
      margin-top: 80px;
    }
    @include min768max768 {
      margin-top: 50px;
    }
    @include min568max767 {
      margin-top: 50px;
    }
    @include allmobiles {
      margin-top: 30px;
    }
    .img__header-img {
      position: relative;
      display: block;
      width: 85%;
      max-width: 400px;
      max-height: 380px;
      transition: 0.2s;
      margin-right: 55px;
      @include min768max768 {
        margin-right: auto;
      }
      @include min568max767 {
        max-width: 300px;
        width: 70%;
        margin: auto;
        margin-bottom: 50px;
      }
      @include allmobiles {
        height: auto;
        margin: auto;
        margin-bottom: 30px;
        max-width: 200px;
        width: 70%;
      }
    }
    .block__start-text-container {
      position: relative;
      display: block;
      width: 100%;
      @include tablet {
        margin-left: 35px;
        margin-top: 30px;
      }
      @include min768max768 {
        margin-left: auto;
        text-align: center;
        width: 100%;
      }
      @include min568max767 {
        text-align: center;
        width: 100%;
      }
      @include allmobiles {
        width: 100%;
        text-align: center;
        margin: auto;
      }
      .p__step-title {
        opacity: 0.55;
        font-family: $muli-regular;
        font-size: 36px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.4px;
        color: $white-color;
        margin-bottom: 15px;
      }
      .p__start-title {
        font-family: $muli-semi-bold;
        font-size: 24px;
        line-height: normal;
        letter-spacing: -0.3px;
        color: $white-color;
      }
      .p__start-sub-title {
        font-family: $muli-light;
        font-size: 18px;
        font-style: normal;
        font-stretch: normal;
        line-height: 23px;
        letter-spacing: -0.2px;
        color: $white-color;
      }
      .button__proceed {
        height: 60px;
        border: 0px;
        border-radius: 6px;
        background-color: $white-color;
        box-shadow: 0 12px 14px 0 $btn-proceed-shadow-color;
        cursor: pointer;
        font-family: $muli-bold;
        font-size: 22px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.2px;
        text-align: center;
        color: $teal-color;

        @include allmobiles {
          position: fixed;
          width: 100%;
          bottom: 0px;
          left: 0px;
          border-radius: 0px;
        }
      }
    }
  }
}
