@import '../../../../variables';
@import '../../../../_mixins.scss';

app-residential-address {
  .residential-address {
    .postal-code-control {
      display: flex;
      div.control {
        display: flex;
        flex: 3;
      }
      div.button {
        display: flex;
        flex: 2;
      }
    }
    .inline-error {
      .btn {
        &.btn-secondary {
          &:active {
            border: none !important;
            color: $white-color;
          }
          background-color: $secondary-action-color !important;
        }
      }
    }
    .dropdown-control {
      .btn-dropdown {
        color: $teal-color !important;
      }
      border-radius: 6px;
      position: relative;
      background: $white-color;
      cursor: pointer;
      .dropdown-toggle {
        &:disabled {
          cursor: not-allowed;
        }
      }
    }
    label {
      font-size: 18px;
      font-family: $muli-semi-bold;
      padding-right: 10px;
      @include max360{
        padding-right: 8px;
      }
    }
    .input-control {
      text-align: left;
    }
    .step-indicator-container {
      padding: 20px 0px;
      position: relative;
      @include allmobiles{
        top: 60px;
        background-color: $white-color;
        padding: 10px 0px;
      }
      .container-fluid {
        padding-top: 0px;
        padding-bottom: 0px;
      }    
      @include stepindicator-desktop-extraspace;
    }
    .container-fluid {
      padding-top: 16px;
      @include allmobiles{
        padding-top: 80px;
      }
    }
    .form-control {
      &.with-button {
        padding: 0.5rem;
        padding-left: 0.8rem;
      }
      &:disabled, &.disabled {
        color: $teal-color !important;
        -webkit-text-fill-color: $teal-color !important;
        background-color: $inv-btn-disabled-bg !important;
        opacity: 1 !important;
        input {
          background-color: $inv-btn-disabled-bg !important;    
          padding-top: 6px;
          padding-bottom: 6px;
        }
        .button{
          display:none;
        }
      }
    }
    .input-group-append {
      .btn-primary {
        &:disabled {
          color: $teal-color !important;
          background-color: $inv-btn-disabled-bg !important;
          opacity: 1 !important;
        }
      }
    }
    .btn {
      &:disabled {
        color: $teal-color !important;
        background-color: $inv-btn-disabled-bg !important;
        opacity: 1 !important;
      }
    }
    .btn {
      &.btn-secondary {
        padding: 0.5rem;
        font-size: 16px;
        background-color: $secondary-action-color;
        color: $white-color;
        border: none;
        font-family: $muli-semi-bold;
        &.right {
          float: right;
        }
        &:hover {
          background-color: $secondary-action-color !important;
          border: none !important;
          color: $white-color !important;
        }
        &:focus {
          background-color: $secondary-action-color !important;
          border: none !important;
          color: $white-color !important;
        }
        &:active {
          background-color: $secondary-action-color !important;
          border: none !important;
          color: $white-color !important;
        }
      }
    }
    .white-bg-checkbox {
      background-color: $white-color;
      padding: 10px 18px 10px 18px;
      border-radius: 6px;
      font-family: $muli;
      label {
        padding: 0px 0 0px 35px;
      }
      .option-row {
        margin-left: 0px;
      }
      .option-title {
        color: $black-color;
        font-size: 18px;
      }
      .option-desc {
        color: $dark-grey-color;
        font-family: $muli-semi-bold;
        font-size: 16px;
      }
    }
    .dropdown-item {
      white-space: normal;
    }
    .your-mailing-address {
      font-family: $muli-bold;
      font-size: 18px;
      letter-spacing: -0.2px;
      color: $white-color;
      padding-bottom: 28px;
    }
  }
  .dropdown-menu.show {
    right: 0 !important;
    overflow: auto;
    height: auto;
    max-height: 264px;
  }
  .dropdown-item {
    white-space: normal;
    word-break: break-word;
  }
  .dropdown-control .btn-dropdown {
    padding-right: 27px;
    max-height: 52px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .btn__footer--fixed {
    font-family: $muli-bold !important;
  }

  /* firefox only CSS code for dropdown with ellipsis */
  @include dropdown-ellipsis();
}
