@import '../../../../_variables.scss';
@import '../../../../_mixins.scss';

app-additional-declaration2 {

  .label-font {
    font-size: 18px;
    letter-spacing: -0.3px;
    font-family: $muli-semi-bold;
    font-weight: normal;
    width: calc(100% - 18px);
    margin-bottom: 0;
  }

  .form-group-with-bg--content-label {
    font-size: 18px;
    letter-spacing: -0.3px;
    font-family: $muli-semi-bold;
  }

  .lable {
    font-size: 18px;
    letter-spacing: -0.3px;
    font-family: $muli-semi-bold;
    font-weight: normal;
  }

  .year {
    font-family: $muli-regular;
    font-size: 17px !important;
    letter-spacing: -0.3px;
    text-align: right;
    color: $dusty-grey-color !important;
  }

  .dropdown-control .btn-dropdown {
    padding-right: 28px;

  }

  .form-control-right {
    padding-right: 18px;
    text-align: right;
  }

  .form-control.form-control-right input {
    padding-right: 43px;
  }

  .form-control.form-control-right.investment-duration input {
    padding-right: 54px;
  }

  .btn__footer--fixed {
    font-family: $muli-bold !important;
  }

  .text-right {
    text-align: left !important;
  }

  .flex-row {
    justify-content: space-between;
    margin-bottom: 20px;

    .flex-col-4 {
      max-width: 120px;
      align-items: flex-start;
      display: flex;
      margin-right: 25px;

      @include allmobiles {
        margin-right: 0;
      }

      .block-tooltip-icon {
        background: url('/assets/images/investment-account/blocked-help-icon.svg') no-repeat;
        height: 18px;
        width: 18px;
        cursor: pointer;
        display: block;
        margin: 5px 0 0 0;
      }
    }

    .flex-col-8 {
      max-width: 310px;
      @include allmobiles {
        max-width: 210px;
      }
      @include max360 {
        max-width: 195px;
      }
    }
  }

  .form-group {
    margin-bottom: 20px;
    .flex-row {
      align-items: flex-start;
      margin-bottom: 0;
    }
  }

  .btn-primary {
    margin-top: 20px !important;
  }
}
