@import '../../../../_variables.scss';
@import '../../../../_mixins.scss';

app-additional-declaration2 {

  .label-font {
    font-size: 18px;
    letter-spacing: -0.3px;
    font-family: $muli-semi-bold;
    font-weight: normal;
  }

  .form-group-with-bg--content-label {
    font-size: 18px;
    letter-spacing: -0.3px;
    font-family: $muli-semi-bold;
  }

  .lable {
    font-size: 18px;
    letter-spacing: -0.3px;
    font-family: $muli-semi-bold;
    font-weight: normal;
  }

  .year {
    font-family: $muli-regular;
    font-size: 17px !important;
    letter-spacing: -0.3px;
    text-align: right;
    color: $dusty-grey-color !important;
  }

  .dropdown-control .btn-dropdown {
    padding-right: 28px;

  }

  .form-control-right {
    padding-right: 18px;
    text-align: right;
  }

  .form-control.form-control-right input {
    padding-right: 43px;
  }

  .form-control.form-control-right.investment-duration input {
    padding-right: 54px;
  }

  .btn__footer--fixed {
    font-family: $muli-bold !important;
  }

  .text-right {
    text-align: left !important;
  }
}
