<div class="legal__wrapper">
  <div class="legal__header">
    <div class="legal__header--bg"></div>
      <div class="legal__header--inner"> 
        <div class="sub-navigation">
          <div class="sub-navigation--inner">
              <span [routerLink]="['/home']">{{ 'LEGAL.FAIR_DEALING.SUB_NAV.PRIMARY' | translate }}</span>
              <i class="material-icons">keyboard_arrow_right</i>
              <span>{{ 'LEGAL.FAIR_DEALING.SUB_NAV.MAIN' | translate }}</span>
            </div>
          </div>
        <div class="legal--title">
          <h1>{{ 'LEGAL.FAIR_DEALING.TITLE' | translate}}</h1>
          </div>
        </div>
      </div>
   <div class="legal__container">
    <div class="legal__section">
      <div class="legal__section--inner">
        <p class="section--title text-center">Our Commitment to Fair Dealing</p>
        <div class="section--desc">
          <p>Fair dealing is central to MoneyOwl’s corporate culture and ethos. The Company builds long-term relationships with our clients by conducting our business honestly and ethically.</p>
          <p>Our policies (including policies on the remuneration of advisers), systems and work processes are structured with the objective that our market and business activities achieve fair dealing outcomes for you, the client.</p> 
          <p>We assess our products and services to ensure that they are suitable for you.</p>
          <p>Our Client Advisers undergo regular training to ensure quality of advice.</p>
          <p>We provide clear, relevant and timely information for you to make informed decisions.</p>
          <p>Complaints and feedback are taken seriously and resolved independently in a prompt and effective manner. Clients are provided with a clear avenue to provide feedback. If you have feedback, please do not hesitate to contact us at <a href="mailto:customercare@moneyowl.com.sg">customercare@moneyowl.com.sg</a>. </p>
          </div>
        </div>
      </div>
    </div>
  </div>