@import '../../../../variables';
@import '../../../../_mixins.scss';

app-residential-address {
  .residential-address {
    .postal-code-control {
      display: flex;
      div.control {
        display: flex;
        flex: 3;
      }
      div.button {
        display: flex;
        flex: 2;
      }
    }
    .inline-error {
      .btn {
        &.btn-secondary {
          &:active {
            border: none !important;
            color: $form-error-btn-txt-color;
          }
          background-color: $form-error-btn-bg-color !important;
        }
      }
    }
    .dropdown-control {
      .btn-dropdown {
        color: $form-dropdown-txt-color !important;
      }
      border-radius: 6px;
      position: relative;
      background: $form-dropdown-bg-color;
      cursor: pointer;
      .dropdown-toggle {
        &:disabled {
          cursor: not-allowed;
        }
      }
    }
    label {
      font-size: 18px;
      font-family: $muli-semi-bold;
      padding-right: 10px;
      @include max360{
        padding-right: 8px;
      }
    }
    .input-control {
      text-align: left;
    }
    // .step-indicator-container {
    //   padding: 20px 0px;
    //   position: relative;
    //   @include allmobiles{
    //     top: 60px;
    //     background-color: $white-color;
    //     padding: 10px 0px;
    //   }
    //   .container-fluid {
    //     padding-top: 0px;
    //     padding-bottom: 0px;
    //   }    
    //   @include stepindicator-desktop-extraspace;
    // }
    // .container-fluid {
    //   padding-top: 16px;
    //   @include allmobiles{
    //     padding-top: 80px;
    //   }
    // }
    .form-control {
      &.with-button {
        padding: 0.5rem;
        padding-left: 0.8rem;
      }
      &:disabled, &.disabled {
        color: $form-control-disabled-txt-color !important;
        -webkit-text-fill-color: $form-control-disabled-txt-color !important;
        background-color: $form-control-disabled-bg-color !important;
        opacity: 1 !important;
        input {
          background-color: $form-control-disabled-bg-color !important;    
          padding-top: 6px;
          padding-bottom: 6px;
        }
        .button{
          display:none;
        }
      }
    }
    // .input-group-append {
    //   .btn-primary {
    //     &:disabled {
    //       color: $inv-btn-disabled-txt-color !important;
    //       background-color: $inv-btn-disabled-bg-color !important;
    //       opacity: 1 !important;
    //     }
    //   }
    // }
    .btn {
      &:disabled {
        color: $inv-btn-disabled-txt-color !important;
        background-color: $inv-btn-disabled-bg-color !important;
        opacity: 1 !important;
      }
    }
    .btn {
      &.btn-secondary {
        padding: 0.5rem;
        font-size: 16px;
        background-color: $inv-btn-sec-bg-color !important;
        color: $inv-btn-sec-txt-color !important;
        border: none !important;
        font-family: $muli-semi-bold;
        // &.right {
        //   float: right;
        // }
        // &:hover {
        //   background-color: $inv-btn-sec-bg-color !important;
        //   border: none !important;
        //   color: $inv-btn-sec-txt-color !important;
        // }
        // &:focus {
        //   background-color: $inv-btn-sec-bg-color !important;
        //   border: none !important;
        //   color: $inv-btn-sec-txt-color !important;
        // }
        // &:active {
        //   background-color: $inv-btn-sec-bg-color !important;
        //   border: none !important;
        //   color: $inv-btn-sec-txt-color !important;
        // }
      }
    }
    // .white-bg-checkbox {
    //   background-color: $white-color;
    //   padding: 10px 18px 10px 18px;
    //   border-radius: 6px;
    //   font-family: $muli;
    //   label {
    //     padding: 0px 0 0px 35px;
    //   }
    //   .option-row {
    //     margin-left: 0px;
    //   }
    //   .option-title {
    //     color: $black-color;
    //     font-size: 18px;
    //   }
    //   .option-desc {
    //     color: $dark-grey-color;
    //     font-family: $muli-semi-bold;
    //     font-size: 16px;
    //   }
    // }
    // .dropdown-item {
    //   white-space: normal;
    // }
    .your-mailing-address {
      font-family: $muli-bold;
      font-size: 18px;
      letter-spacing: -0.2px;
      color: $white-color;
      padding-bottom: 28px;
    }
  }
  // .dropdown-menu.show {
  //   right: 0 !important;
  //   overflow: auto;
  //   height: auto;
  //   max-height: 264px;
  // }
  // .dropdown-item {
  //   white-space: normal;
  //   word-break: break-word;
  // }
  // .dropdown-control .btn-dropdown {
  //   padding-right: 27px;
  //   max-height: 52px;
  //   white-space: nowrap;
  //   overflow: hidden;
  //   text-overflow: ellipsis;
  // }
  .btn__footer--fixed {
    font-family: $muli-bold !important;
  }

  /* firefox only CSS code for dropdown with ellipsis */
  @include dropdown-ellipsis();
}
