@import '../../../variables';
@import '../../../mixins';

// Copied Toast Msg
.toast-msg-fixed-block {
  position: fixed;
  z-index: 9999;
  min-width: 180px;
  margin: 0 auto;

  @include desktop {
    top: 20px;
    right: 40px;
  }

  @include tablet {
    top: 20px;
    right: 40px;
  }

  @include allmobiles {
    width: 100%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5);
  }

  .toast-msg-container {
    color: $mango-tango-color;
    background: $white-color;
    padding: 19px;
    background-color: $serenade-color;
    font-family: $muli-bold;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    width: 180px;
    position: absolute;
    right: 15px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);

    @include allmobiles {
      border-radius: 0;
      padding: 19px;
      width: 100%;
      left: 0;
      right: 0;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5);
    }

    img {
      width: 32px;
    }

    .toast-msg {
      margin-left: 32px;
      word-wrap: break-word;
      letter-spacing: -0.11px;
      line-height: normal;
      margin-top: -3px;

      @include allmobiles {
        margin-left: 16px;
      }
    }
  }
}

.comprehensive {
    .widget {
        background:$white-color;
        margin: 0px 15px 20px;
        border-radius: 6px;
        box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.25);
        position: relative;
        .view-edit {
            position: absolute;
            top: 20px;
            right: 20px;
            color: $teal-color;
            z-index: 2;
        }
        div.reward-points + div.view-edit {
            @include desktop {
                right: 90px !important;
            }
            @include minMobilemaxPhablet{
                top: 45px !important;
            }
            @include tablet{
                right: 100px;
            }
        }
    }
    .comprehensive-plan-view{
        cursor: pointer;
        .edit-icon{
            width: 24px;
            height: 24px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
            background-color: $blue-stone-color;
            border-radius: 50%;
            display: flex;
            margin-left: auto;
        }
    }
    .hidden {
        display: none;
    }
    .form-group-with-bg--header-label {
        font-family: $muli-bold;
        font-size: 22px !important;
    }
    div.reward-points ~ .form-group-with-bg.overlay-bg .form-group-with-bg--header {
        @include minMobilemaxPhablet{
            width: 75%;
        }
        @include tablet {
            width: 70%;
        }
        @include max360 {
            width: 73%;
        }
    }
    &.container-fluid {
        padding: 0!important;
        @include allmobiles {
            padding: 0 !important
        }
        @include tablet {
            padding: 0 !important
        }
        width: auto;
    }
    .welcome-title {
        font-size: 20px;        
    }
    .welcome-user {
        font-size: 24px;
        font-weight: bold;
    }
    .edit-profile{        
        background-image: url('./../../../assets/images/edit-icon.svg');
        height: 22px;
        border: none;
        background-repeat: no-repeat; 
        display: inline-block;
    }
    .form-group-with-bg .form-group-with-bg--header-label{
        font-size:20px;
        color:$teal-color;
    }
    .plan-view-icon{
        font-size:16px!important;
        font-family: $muli-regular;
        margin:10px 0 2px 0;
        min-width: 60px;
    }
    .form-group-with-bg .form-group-with-bg--content .form-group-with-bg--content-label{
        font-size:15px;
        color:$dark-teal-color;
    }
    .form-group-with-bg .form-group-with-bg--content{
        padding:10px 20px 20px 20px!important;
    }
    .form-group-with-bg{
        padding:0px;
        background: $white-color;
    }
    .form-group-with-bg .form-group-with-bg--header .form-group-with-bg--header-sub-label{
     color:$text-grey-color!important;
    }
    .disabled-plan-report{
        color:rgba(0,167,167,0.6);
        border-radius: 6px;
        border:1px solid $btn-disabled;
        padding: 10px;
    }
    .btn.btn-primary{
        background: $teal-color!important;
        margin: 0px;
    }
    .btn.btn-primary:hover{
        background: $teal-color!important;
    }
    .btn-view{
        background: $white-color!important;
        border:1px solid $btn-primary-backgrnd-color;
        color:$teal-color;
    }
    .label-grey{
        color:$text-grey-color;
        font-size: 13px;
    }
    .ft-18{
        font-size: 18px!important;
        white-space:normal;
    }
    .ft-13{
        font-size: 13px!important;
    }
    .ml25{
        margin-left:25px;
    }
    .grass_bg {
        width: 157px;
        height: 113px;
        object-fit: contain;
        position: relative;
        top: 50px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .overlap-grass{
        position: relative;
        display: flex;
        justify-content: space-between;    
    }    
    .overlay-bg{
        position: relative;
    }
    .form-group-with-bg--header {
        padding: 15px 20px 5px;
        @include minMobilemaxPhablet{
            width: 75%;
        }
    }

    .ajax-loader-card-inline {
        min-height: 210px; 
        text-align: center;
        img {
            margin-top: 90px;
        }
    }
    .submittedDate{
        font-family: $muli-regular!important;
    }
    .form-group-with-bg--content-label {
        font-family: $muli-regular !important;
    }
    .align-start {
        align-items: flex-start;
    }
    .limit-offer{
      margin-top:-10px;
      padding-left: 5px;
    }
    .limited_value{
      letter-spacing: -0.22px;
      color: $black-color; 
      font-family:$muli-bold;
      font-size: 14px;
    }
    .form-group-with-bg .form-group-with-bg--content {
        padding-top: 0 !important;
    }
    .btn.btn-primary:hover {
        background-color: $robins-egg-blue-color !important;
    }

    //Dashboard Lite UI Styles
    .comprehensive {
        &.dashboard-lite {
            .btn-lite.active {
                background-color: $white-color !important;
                color: $watercourse-color;
            }
            .btn-lite {
                background-color: $lite-tab-button-inactive-color !important;
                color: $lite-tab-button-textcolor;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
            .widget, .form-group-with-bg, .form-group-with-bg--header {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }
    .report-error-msg{
        color:$crusta-orange-color!important;
        font-size: 16px!important;
        font-family: $muli-italic;
        margin-bottom: 5px;
    }
    .download-report{
        font-family: $muli-bold!important;
    }
    .last-update{
        font-family:$muli-regular!important;
    }
    #payment-instruction {
        border: solid 1px $robins-egg-blue-color !important;
        background-color: $white-color!important;
        color:$teal-color !important;
        box-shadow: none !important;
    }
    .reward-points {
        position: absolute;
        background: $reward-points-bg-color;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 20px;
        background-repeat: no-repeat;
        width: 80px;
        height: 40px;
        right: 0;
        z-index: 2;
        padding: 10px 10px 0px 15px;
        line-height: 17px;
        font-family: $muli-bold;
        font-size: 16px;
        color: $portfolio-card-text-color;
        img {
            vertical-align: top;
            padding-right: 9px;
        }
    } 
    .reward-points.full-user {
        @extend .reward-points;
        border-top-right-radius: 0 !important;
    }
    .reward-points.grey {
        @extend .reward-points;
        background: $reward-points-bg-color-grey;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 20px;
        color: $dusty-grey-color;
        &.full-user {
            border-top-right-radius: 0;
        }
    }
    .adviser-btn{
        font-family: $muli-semi-bold;
        font-size: 16px;
        line-height: normal;
        letter-spacing: -0.16px;
        color: $dark-orange-color;
        margin-top: 5px;
        text-align: center;
        span{
            cursor: pointer;
        }
    }
    .appointment-btn{
        font-family: $muli-semi-bold;
        font-size: 16px;
        line-height: normal;
        letter-spacing: -0.16px;
        color: $dark-orange-color;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:5px;
        .icon{
            width: 18px;
            height: 18px;
            display: flex;
        }
        span{
            cursor: pointer;
        }
    }
    .comprehensive-btn-block{
        display: flex;
        flex: 1;
        overflow-x: auto;
        align-items: center;
        @include allmobiles{
           flex-direction: row;
        }
        @include min300max350{
            flex-direction: column;
        }
        @include min350max375{
            flex-direction: column;
        }
        .flex-row{
            margin-bottom: 20px;
            @include min300max350{
                width: 100%;
            }
            @include min350max375{
                width: 100%;
            }
        }
        .flex-col-12{
            min-width: 390px;
            @include min768max768{
                min-width: 266px;
            }
            @include allmobiles{
                min-width: 230px;
            }
            @include min300max350{
                width: 100%;
            }
            @include min350max375{
                width: 100%;
            }
            .btn-view{
                padding: 8px;
                min-height: 65px;
                margin-left: 15px;
                @include min300max350{
                    margin-left: 0;
                }
                @include min350max375{
                    margin-left: 0;
                }
            }
            .btn-primary{
                min-height: 65px;
                @include min300max350{
                    margin-right: 0;
                }
                @include min350max375{
                    margin-right: 0;
                }
            }
        }
        &::-webkit-scrollbar {
            scroll-behavior: smooth;
            height: 6px;
            @include allmobiles{
                display: none;
            }
          }
        &::-webkit-scrollbar-track {
            background: $border-light;
          }
        &::-webkit-scrollbar-thumb {
        background: $dusty-grey-color;
        border-radius: 10px;
        }
    }
}
