<div class="container-fluid max-width--1024 comprehensive"
  *ngIf="((getComprehensiveSummary && getComprehensiveSummary.comprehensiveEnquiry !== null && getComprehensiveSummary.comprehensiveEnquiry.isValidatedPromoCode) || isComprehensiveLiveEnabled) && isComprehensiveEnabled">
  <div class="comprehensive" [ngClass] = "{'dashboard-lite': comprehensiveLiteEnabled }">
    <div class="flex-row align-start ml15 mr15" *ngIf='comprehensiveLiteEnabled'>
        <div class="flex-col-6">
          <button  [ngClass]="{'active': versionTypeEnabled}" type="button" class="btn btn-primary btn-lite width100" id="prfBtn1"
            (click)="setComprehensivePlan(false)">
            <div class="ft-18" for="name">Lite <span *ngIf='versionTypeEnabled'><img src="assets/images/comprehensive/dashboard-comprehensive-lite-corporate-small.svg"></span>
              <span *ngIf='!versionTypeEnabled'><img src="assets/images/comprehensive/dashboard-comprehensive-lite-corporate-small-disabled.svg"></span>
            </div>
          </button>
        </div>
        <div class="flex-col-6 pl10">
          <button [ngClass]="{'active': !versionTypeEnabled}" type="button" class="btn btn-primary btn-lite width100" id="prfBtn1" (click)="setComprehensivePlan(true)">
            <div class="ft-18"  for="name">Full
            </div>
          </button>
        </div>
    </div>
    <!--/Tab-->
  <div class="widget">
    <div class="form-group-with-bg overlay-bg">
      <div [ngClass]="{'hidden': !isLoadComplete}">
        <!--Form Header-->
        <div class="form-group-with-bg--header">
          <div class="mb10" *ngIf='versionTypeEnabled'><img src="assets/images/comprehensive/dashboard-comprehensive-lite-corporate-big.svg"></div>
          <div class="flex space-btwn align-items-start">
            <div>
              <div class="form-group-with-bg--header-label pr10">
                {{'COMPREHENSIVE.DASHBOARD.COMPREHENSIVE_PLANNING_LITE_TITLE' | translate}}
              </div>
            </div>
            <div>
              <div class="form-group-with-bg--header-label plan-view-icon text-right comprehensive-plan-view"
                [hidden]="comprehensivePlanning !== 0" (click)="goToEditComprehensivePlan(true)">
                {{ 'COMPREHENSIVE.DASHBOARD.COMPREHENSIVE_PLANNING_VIEW' | translate }}</div>
              <div class="form-group-with-bg--header-label plan-view-icon text-right comprehensive-plan-view"
                [hidden]="!(comprehensivePlanning === 5 || comprehensivePlanning === 1 || comprehensivePlanning === 2)"
                (click)="goToEditComprehensivePlan(false)">
                {{ 'COMPREHENSIVE.DASHBOARD.COMPREHENSIVE_PLANNING_EDIT' | translate }}</div>
            </div>
          </div>
        </div>
        <!--Form Content-->
        <div class="form-group-with-bg--content">
          <div class="flex-row align-start" *ngIf="!versionTypeEnabled"
            [hidden]="comprehensivePlanning === 5 || comprehensivePlanning === 3 || comprehensivePlanning === 4 || comprehensivePlanning === 0">
            <div class="flex-col-8">
              <div class="form-group-with-bg--content-label" for="name">
                {{ 'COMPREHENSIVE.DASHBOARD.COMPREHENSIVE_PLANNING_COMPLETED_DESC' | translate}}
              </div>
            </div>
            <div class="flex-col-4 text-right">
              <img src='assets/images/comprehensive/dashboard-comprehensive.svg'>
            </div>
          </div>
          <div class="flex-row align-start" [hidden]="comprehensivePlanning !== 0">
            <div class="flex-col-8">
              <div class="form-group-with-bg--content-label" for="name">
                {{ 'COMPREHENSIVE.DASHBOARD.COMPREHENSIVE_PLANNING_SUBMITTED' | translate}}
              </div>
            </div>
            <div class="flex-col-4 text-right">
              <img src='assets/images/comprehensive/dashboard-comprehensive.svg'>
            </div>
          </div>
          <div class="flex-row align-start" [hidden]="comprehensivePlanning !== 3">
            <div class="flex-col-8">
              <div class="form-group-with-bg--content-label" for="name">
                {{ 'COMPREHENSIVE.DASHBOARD.COMPREHENSIVE_PLANNING_PENDING_DESC' | translate}}
              </div>
            </div>
            <div class="flex-col-4 text-right">
              <img src='assets/images/comprehensive/dashboard-comprehensive.svg'>
            </div>
          </div>
          <div class="flex-row align-start" [hidden]="comprehensivePlanning !== 2">
            <div class="flex-col-12">
              <div class="form-group-with-bg--content-label" for="name">
                <u>{{ 'COMPREHENSIVE.DASHBOARD.COMPREHENSIVE_PLANNING_NEXT_STEP' | translate}}</u>
              </div>
              <div class="form-group-with-bg--content-label" for="name">
                {{ 'COMPREHENSIVE.DASHBOARD.COMPREHENSIVE_PLANNING_NEXT_STEP_DESC' | translate}}
              </div>
            </div>
          </div>
          <div class="flex-row align-start" *ngIf="comprehensivePlanning === 5 || (versionTypeEnabled && comprehensivePlanning === 1)" >
            <div class="flex-col-8">
              <div class="form-group-with-bg--content-label" for="name">
                {{ 'COMPREHENSIVE.DASHBOARD.COMPREHENSIVE_MAKE_CHANGES_CONTENT' | translate}}
              </div>
            </div>
            <div class="flex-col-4 text-right">
              <img src='assets/images/comprehensive/dashboard-comprehensive.svg'>
            </div>
          </div>
         
          <div class="flex-row align-start" *ngIf="comprehensivePlanning === 5 || (versionTypeEnabled && comprehensivePlanning === 1)" >
            <div class="flex-col-12">
              <button type="button" class="btn btn-primary width100" id="prfBtn1"
                (click)="goToEditComprehensivePlan(false)">
                <div class="ft-18" for="name">{{ 'COMPREHENSIVE.DASHBOARD.COMPREHENSIVE_MAKE_CHANGES' | translate}}
                  <div class="ft-13 submittedDate " for="name">
                    {{ ('COMPREHENSIVE.DASHBOARD.COMPREHENSIVE_PLANNING_LAST_SUBMITTED_DATE' | translate).replace('LAST_SUBMITTED_DATE', submittedDate | date: 'dd MMM yyyy')}}
                  </div>
                </div>
              </button>
            </div>
          </div>
          <div class="flex-row align-start" [hidden]="comprehensivePlanning !== 2">
            <div class="flex-col-12">
              <button type="button" class="btn btn-primary width100" id="prfBtn1">
                <div class="ft-18" for="name">{{ 'COMPREHENSIVE.DASHBOARD.COMPREHENSIVE_PLANNING_ADVISOR' | translate}}
                </div>
              </button>
            </div>
          </div>
          <div class="flex-row align-start" [hidden]="!(comprehensivePlanning === 1 || comprehensivePlanning === 2)">
            <div class="flex-col-12">
        
              <button *ngIf="isReportGenerated" (click)="downloadComprehensiveReport()" type="button" class="btn btn-view width100" id="prfBtn1">
                <div class="ft-18 "  for="name">
                <span class="download-report"> {{ 'COMPREHENSIVE.DASHBOARD.COMPREHENSIVE_PLANNING_VIEW_REPORT' | translate}}</span> 
                  <div class="label-grey ft-13 last-update" for="name">
                    {{ ('COMPREHENSIVE.DASHBOARD.COMPREHENSIVE_PLANNING_LAST_UPDATED' | translate).replace('LAST_UPDATED_DATE', submittedDate | date: 'dd MMM yyyy')}}
                  </div>
                </div>
              </button>
              <div class="report-error-msg flex" *ngIf="!isReportGenerated" > <span class="mr10"><img src="assets/images/comprehensive/error-icon/exclamation_alert_icon.svg" width="22" height="19" /></span><span>{{'COMPREHENSIVE.DASHBOARD.COMPREHENSIVE_REPORT_ERROR_MSG'| translate}} </span></div>
            </div>
          </div>
          <div class="flex-row align-start" [hidden]="comprehensivePlanning !== 3">
            <div class="flex-col-12">
              <button type="button" class="btn btn-primary width100" id="prfBtn1" (click)="goToCurrentStep()">
                <div class="ft-18" for="name">{{ 'COMPREHENSIVE.DASHBOARD.COMPREHENSIVE_PLANNING_CONTINUE' | translate}}
                  <div class="ft-13" for="name" [hidden]="this.currentStep > 4">
                    {{ ('COMPREHENSIVE.DASHBOARD.COMPREHENSIVE_PLANNING_STEPS_PENDING' | translate).replace('CURRENT_STEP', currentStep)}}
                  </div>
                </div>
              </button>
            </div>
          </div>

          <div class="flex-row align-start" [hidden]="comprehensivePlanning !== 4">
            <div class="flex-col-8">
              <div class="form-group-with-bg--content-label" for="name">
                {{ 'COMPREHENSIVE.DASHBOARD.DEFAULT_CONTENT' | translate}}
              </div>
            </div>
            <div class="flex-col-4 text-right">
              <img src='assets/images/comprehensive/dashboard-comprehensive.svg'>
            </div>
          </div>
          <div class="flex-row align-start" [hidden]="comprehensivePlanning !== 4">
            <div class="flex-col-12">
              <button type="button" class="btn btn-primary width100" id="prfBtn1" (click)="goToEditProfile()">
                <div class="ft-18" for="name">{{ 'COMPREHENSIVE.DASHBOARD.DEFAULT_START' | translate}}
                  <div class="ft-13" for="name">{{!versionTypeEnabled ? ('COMPREHENSIVE.DASHBOARD.DEFAULT_ESTIMATED' | translate) : ('COMPREHENSIVE.DASHBOARD.DEFAULT_ESTIMATED_LITE' | translate)}}
                  </div>
                </div>
              </button>
            </div>
          </div>

          <div class="flex-row align-start" *ngIf='paymentInstructions'>
            <div class="flex-col-12">
              <button type="button" class="btn btn-primary width100" id="payment-instruction" (click)="showPaymentModal()">
                <div class="ft-18" for="name">{{ 'COMPREHENSIVE.DASHBOARD.COMPREHENSIVE_PAYMENT_INSTRUCTION' | translate}}
                </div>
              </button>
            </div>
          </div>

        </div>
      </div>
      <div [ngClass]="{'hidden': isLoadComplete}" class="ajax-loader-card-inline">
        <img alt="loader" src="assets/styles/ajax-loader.gif" />
      </div>
    </div>
  </div>
  </div>
</div>
