<div class="toast-msg-block" *ngIf="isToastMessageShown">
  <div class="toast-msg-container">
    <div class="flex-col-1">
      <img src="assets/images/topupwithdraw/check_orange.svg" alt="" />
    </div>
    <div class="flex-col-8">
      <div class="toast-msg">{{toastMsg?.desc}}</div>
    </div>
    <div class="flex-col-3 cursor_pointer" *ngIf="toastMsg?.link_label" (click)="yourPortfolioDynamic()">
      {{toastMsg?.link_label}}</div>
  </div>
</div>

<!-- Copy toaster -->
<div class="toast-msg-fixed-block" [ngClass]="{'toast-msg-top-100': addTopMargin}" *ngIf="showFixedToastMessage">
  <div class="toast-msg-container">
    <div class="flex-col-1">
      <img src="assets/images/topupwithdraw/check_orange.svg" alt="" />
    </div>
    <div class="flex-col-11">
      <div class="toast-msg">{{toastMsg?.desc}}</div>
    </div>
  </div>
</div>

<section class="invest-section" *ngIf="portfolio">
  <div class="invest-section-items">
    <div class="invest-section-content">
      <div class="invest-bg">
        <div class="invest-bg-media">
          <div class="invest-bg-image"></div>
          <div class="invest-bg-color"></div>
        </div>
        <div class="invest-bg-content">
          <div class="flex-row user_content flex-col-12">
            <div class="user_summary" id="your_portfolio_summary">
              <div class="flex-row">
                <div class="user_portfolio-icon">
                  <img [src]="riskProfileImage" />
                </div>
                <div class="user_portfolio flex-col">
                  <div class="user_portfolio_ref_code">{{'YOUR_INVESTMENT.REF_CODE' | translate}}
                    {{portfolio.referenceCode}}</div>
                  <div class="user_portfolio_lbl">{{portfolio.portfolioName}}</div>
                  <div class="joint-account" *ngIf="portfolio.entitlements.jointAccount"><span
                      *ngIf="portfolio.isPrimaryHolder">
                      {{'YOUR_PORTFOLIO.JOINT_ACCOUNT.PRIMARY_HOLDER' | translate}}</span><span
                      *ngIf="!portfolio.isPrimaryHolder">{{'YOUR_PORTFOLIO.JOINT_ACCOUNT.SECONDARY_HOLDER' | translate}}</span>
                    | <img src="assets/images/investment-account/joint-account.svg"
                      class="ja-icon" />{{'YOUR_PORTFOLIO.JOINT_ACCOUNT.JOINT' | translate}} <br class="hidden-lg">
                    <div
                      [ngClass]="{'text-overflow' : (((portfolio.isPrimaryHolder && portfolio.secondaryHolderName && portfolio.secondaryHolderName.length > 10) || (!portfolio.isPrimaryHolder && portfolio.primaryHolderName && portfolio.primaryHolderName.length > 10)) && !isExpand)}"
                      (click)="fullName()" class="hidden-lg">{{'YOUR_PORTFOLIO.JOINT_ACCOUNT.ACCOUNT_WITH' | translate}}
                      <span *ngIf="portfolio.isPrimaryHolder">{{portfolio.secondaryHolderName | titlecase}}</span><span
                        *ngIf="!portfolio.isPrimaryHolder">{{portfolio.primaryHolderName | titlecase}}</span></div>
                    <div class="ja-web hidden-sm">{{'YOUR_PORTFOLIO.JOINT_ACCOUNT.ACCOUNT_WITH' | translate}} <span
                        *ngIf="portfolio.isPrimaryHolder">{{portfolio.secondaryHolderName | titlecase}}</span><span
                        *ngIf="!portfolio.isPrimaryHolder">{{portfolio.primaryHolderName | titlecase}}</span></div>
                  </div>
                  <div class="flex-row space-between">
                    <div class="portfolio-type align-center">
                      <div class="flex align-center">
                        <span
                          *ngIf="portfolio?.fundingTypeValue == fundingMethods.SRS || portfolio?.fundingTypeValue == fundingMethods.CPF_OA"
                          [ngClass]="portfolio?.fundingTypeValue == fundingMethods.SRS ? 'portfolio-fund-type mr5' : 'portfolio-fund-type-cpf-oa mr5'">
                          {{getPortFolioBadgeData(portfolio)}}
                        </span>
                        <ng-container *ngIf="portfolio?.riskProfile; else nonInvestPortfolio">
                          {{'YOUR_PORTFOLIO.RISK_PROFILE_NAME' | translate: {riskProfileName: portfolio.riskProfile.type}
                          }}</ng-container>
                        <ng-template #nonInvestPortfolio>
                          <div>
                            {{'YOUR_PORTFOLIO.RISK_PROFILE_NAME' | translate: {riskProfileName:
                            portfolio.portfolioType}
                            }}&nbsp;
                          </div>
                        </ng-template>
                      </div>
                      <div *ngIf="portfolio?.payoutType">{{portfolio?.payoutType}}</div>
                    </div>
                    <div class="more-menu">
                      <div class="dropdown-control">
                        <div ngbDropdown placement="bottom-right">
                          <button class="btn btn-dropdown without-border" id="your_portfolio-drpdown" ngbDropdownToggle>
                            {{'YOUR_PORTFOLIO.MORE' | translate}}</button>
                          <div class="dropdown" ngbDropdownMenu aria-labelledby="courseDropdown">
                            <button class="dropdown-item"
                              [hidden]="option.value === 'CHANGE_PAYOUT_OPTION' && !isWiseIncomePortfolio"
                              [class.disabled]="(option.value === 'TOPUP' && !portfolio.entitlements.showTopup) ||(option.value === 'TRANSFER' && !portfolio.entitlements.showTransfer)|| (option.value === 'DELETE_PORTFOLIO' && !portfolio.entitlements.showDelete) ||
                              (option.value === 'WITHDRAWAL' && (!portfolio.entitlements.showWithdrawPvToBa && !portfolio.entitlements.showWithdrawPvToCa && !portfolio.entitlements.showWithdrawCaToBa && !portfolio.entitlements.showWithdrawPvToSRS && !portfolio.entitlements.showWithdrawPvToCPF))"
                              *ngFor="let option of moreList; let i = index;" (click)="selectMoreOption(option)"
                              id="additional_declaration_sourse-drpdown-option-{{i}}">
                              {{option.name}}
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="portfolio-panel" *ngIf="portfolio">
  <div class="container-fluid max-width--1024">
  </div>
</div>
