@import '../../../../variables';
@import '../../../../mixins';

.modal-body {
  $self: &;
  padding: 0;
  overflow: hidden;
  border-radius: 6px;
  @include allmobiles {
    padding: 0 !important;
  }
  background-color: $white-color;

  .title-container {
    background-color: $white-color;
  }

  &-title {
    font-family: $muli-semi-bold;
    font-size: 22px;
    line-height: normal;
    letter-spacing: -0.23px;
    color: $teal-color;
    background-color: $white-color;
    margin: 0;
    padding: 21px 43px 12px 25px;
  }

  &-message {
    font-family: $muli-regular;
    background-color: $white-color;
    margin: 0;
    padding: 0 25px 27px;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.15px;
    color: $silver-grey-color;

    .bold-text {
      font-family: $muli-bold;
    }
  }

  .close {
    right: 13px !important;
    top: 25px !important;
  }

  .transfer-div {
    background-color: $teal-color;
    padding: 20px;
    display: flex;
    .from-account {
      display: flex;
      flex-direction: column;
      flex: 4;
      align-items: center;
    }
    .margin-top2 {
      margin-top: 2px;
    }
    .right-arrow-div {
      margin-top: 31px;
      .right-arrow {
        width: 26.7px;
        height: 26.7px;
      }
    }
    .white-text {
      font-family: $muli-bold;
      font-size: 16px;
      line-height: 1.13;
      letter-spacing: -0.16px;
      text-align: center;
      color: $white-color;
    }
    .white-reg {
      font-family: $muli-regular;
    }
    .coin-icon {
      width: 78px;
      height: 55px;
      margin-bottom: 9px;
    }
    .portfolio-type {
      height: 55px;
      margin-bottom: 9px;
    }
  }
  .instruction-div {
    background-color: $white-color;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 28px 18px 20px;
    .top-up-amt-text {
      font-family: $muli-bold;
      font-size: 16px;
      line-height: 1.31;
      letter-spacing: -0.15px;
      color: $black-color;
    }
    .deduct-cash-box {
      width: 100%;
      height: 81px;
      border-radius: 6px;
      border: solid 1px #99cfce;
      background-color: #ffffff;
      margin-top: 22px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .deduct-amount {
        font-family: $muli-bold;
        font-size: 21px;
        line-height: normal;
        letter-spacing: -0.39px;
        color: $crusta-orange-color;
      }
      .cash-account-balance {
        font-family: $muli-regular;
        font-size: 14px;
        line-height: normal;
        letter-spacing: -0.14px;
        color: $black-color;
        margin-top: 5px;
      }
    }
    .note-text {
      font-family: $muli-bold;
      font-size: 16px;
      line-height: normal;
      letter-spacing: -0.15px;
      color: $black-color;
      margin-top: 34px;
      margin-left: 6px;
      align-self: flex-start;
    }
    .note-text2 {
      font-family: $muli-bold;
      font-size: 16px;
      line-height: normal;
      letter-spacing: -0.15px;
      color: $black-color;
      margin-left: 6px;
      align-self: flex-start;
    }
    .note-list {
      display: flex;
      margin-top: 20px;
      margin-left: 20px;
      .teal-oval {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $teal-color;
        margin-top: 7px;
        margin-right: 12px;
      }
      .note-point-text {
        font-family: $muli-regular;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -0.16px;
        color: $grimmy-grey-color;
        flex: 1;
      }
    }
    .footer-btn {
      font-family: $muli-bold;
      background-color: $teal-color;
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
      margin-top: 30px;
    }
  }
  .multiline-ellipsis {
    max-width: 200px;
    letter-spacing: -0.16px;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    @include allmobiles {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      max-width: 130px;
      word-break: break-word;
      letter-spacing: -0.16px;
    }
  }
}
