<div class="modal-body">
  <div class="title-container">
    <div class="modal-body-title">{{'REVIEW_BUY_REQUEST.TITLE' | translate}}</div>
    <div class="modal-body-message">
      {{'REVIEW_BUY_REQUEST.YOU_ARE_SUBMITTING' | translate}}<span class="bold-text">{{'REVIEW_BUY_REQUEST.REQUEST' | translate:({'requestType': requestType})}}</span> to your <span class="bold-text">{{'REVIEW_BUY_REQUEST.PORTFOLIO' | translate:({'portfolioType': portfolioType})}}</span></div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true"></span>
    </button>
  </div>
  <div class="transfer-div">
    <div class="from-account">
      <img class="coin-icon" alt="" src="assets/images/investment-account/topupcoin.svg">
      <div class="white-text white-reg">{{'REVIEW_BUY_REQUEST.BUY_REQUEST' | translate}}</div>
      <div class="white-text margin-top2">{{requestAmount | currency:'USD':'symbol-narrow':'1.0-2'}}&nbsp;{{oneTimeMonthlyLbl}}</div>
    </div>
    <div class="right-arrow-div">
      <img class="right-arrow" alt="" src="assets/images/investment-account/arrow-right.png">
    </div>
    <div class="from-account">
      <img *ngIf="riskProfileImg; else defaultImg" class="portfolio-type" alt="" src="{{riskProfileImg}}">
      <ng-template #defaultImg>
        <img class="portfolio-type" src="../../../assets/images/investment-account/growth_icon.svg" alt="" />
      </ng-template>
      <div class="white-text">{{fundDetails['portfolio']['portfolioName']}}{{'REVIEW_BUY_REQUEST.PORTFOLIO_TYPE' | translate:({'portfolioType': portfolioType})}}</div>
    </div>
  </div>
  <div class="instruction-div">
    <ng-container *ngIf="fundDetails['isAmountExceedBalance'] === true">
      <div class="top-up-amt-text">{{'REVIEW_BUY_REQUEST.TOP_UP_AMOUNT' | translate}}</div>
      <div class="deduct-cash-box">
        <div class="deduct-amount">{{requestAmount | currency:'USD':'symbol-narrow':'1.0-2'}}</div>
        <div class="cash-account-balance">{{'REVIEW_BUY_REQUEST.CASH_ACCOUNT_BALANCE' | translate}}&nbsp;{{cashBalance | currency:'USD':'symbol-narrow':'1.0-2'}}</div>
      </div>
    </ng-container>
    <div class="note-text">{{'REVIEW_BUY_REQUEST.NOTE' | translate}}</div>
    <div *ngFor="let note of noteArray, let i = index;" class="note-list">
      <div class="teal-oval"></div>
      <div class="note-point-text">{{note}}</div>
    </div>
    <button type="button" class="btn btn-primary width100 footer-btn" (click)="buyPortfolio()">{{'REVIEW_BUY_REQUEST.SUBMIT_REQUEST' | translate}}</button>
  </div>
</div>
