<div class="content">
  <div class="flex-row">
    <div class="flex-col-12">
      <div class="white-bg">
        <img id="edit_profile_bg_img" class="grass_bg" src="assets/images/edit-profile-bg.svg" />
      </div>
    </div>
  </div>

  <!-- First Section with profile pic  -->
  <div *ngIf="personalData">
  <div class="overlap-grass">
    <div class="user-profile-bg">


      <div class="circle"> {{this.compinedName}} </div>


      <img id="edit_profile_edit_img" class="user-edit-img" src="assets/images/editProfileIcon.svg" />


      <div class="heading">{{ this.fullName }}</div>
      <div class="nric-text">{{this.compinednricNum}}</div>
      <div class="flex-row pb10 mb20">
        <div class="flex-col-2">
          <div class="content-text">Gender</div>
          <div class="grid-content-text">{{this.personalData.gender}}</div>
        </div>
        <div class="flex-col-1">
          <div class="seperator"></div>
        </div>
        <div class="flex-col-4">
          <div class="content-text">Nationality</div>
          <div class="grid-content-text">{{this.personalData.nationality}}</div>
        </div>
        <div class="flex-col-1">
          <div class="seperator"></div>
        </div>
        <div class="flex-col-4">
          <div class="content-text">Date of Birth</div>
          <div class="grid-content-text">{{this.personalData.dateOfBirth}}</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Update user id section -->

  <div class="edit-profile-section-bg">
    <div class="flex-row">
      <div class="flex-col-11">
        <div class="form-group-heading">
          Update User ID
        </div>
      </div>
      <div class="flex-col-1">
        <div class="dropdown-img">
          <img id="edit_profile_dropdown_img" class="dropdown-img" src="assets/images/dropdown-icon.svg" (click)=showHide(showHideUser) />
        </div>
      </div>
    </div>
    <div #showHideUser>
      <div class="section-margin">
        <div class="update-contact-title">
          Mobile Number
        </div>
        <div class="update-contact-value">
          {{this.personalData.mobileNumber}}
        </div>
      </div>
      <div class="section-margin">
        <div class="update-contact-title">
          Email Address
        </div>
        <div class="update-contact-value">
          {{this.personalData.email}}
        </div>
      </div>
      <button type="button" class="edit-button" id="editEmployeButton" (click)="editUserDetails()">
        Edit
      </button>
    </div>

  </div>
  <!-- Change Password Section  -->
  <div class="edit-profile-section-bg">
    <div class="flex-row">
      <div class="flex-col-11">
        <div class="form-group-heading">
          Change Password
        </div>
      </div>
      <div class="flex-col-1">
        <div class="dropdown-img">
          <img id="edit_profile_dropdown_img" class="dropdown-img" src="assets/images/dropdown-icon.svg" (click)=showHide(showHidePassword) />
        </div>
      </div>
    </div>
    <div class="dots" #showHidePassword>
      <div class="section-margin">
        <div class="update-contact-title">
          Password
        </div>
        <div class="update-contact-value">
          ******
        </div>
      </div>
      <button type="button" class="edit-button" id="editEmployeButton" (click)="editPassword()">
        Edit
      </button>
    </div>
  </div>
  </div>

  <!-- Update contact section  -->
  <div *ngIf="contactDetails">
    <div class="edit-profile-section-bg">
      <div class="flex-row">
        <div class="flex-col-11">
          <div class="form-group-heading">
            Update Contact Details
          </div>
        </div>
        <div class="flex-col-1">
          <div class="dropdown-img">
            <img id="edit_profile_dropdown_img" class="dropdown-img" src="assets/images/dropdown-icon.svg" (click)=showHide(showHideContact) />
          </div>
        </div>
      </div>
      <div class="dots" #showHideContact>
        <div class="section-margin">
          <div class="update-contact-title">
            Country
          </div>
          <div class="update-contact-value">
            {{this.residentialAddress.country.country}}
          </div>
        </div>
        <div class="section-margin">
          <div class="update-contact-title">
            Postal Code
          </div>
          <div class="update-contact-value">
            {{this.residentialAddress.postalCode}}
          </div>
        </div>
        <div class="section-margin">
          <div class="update-contact-title">
            Address
          </div>
          <div class="update-contact-value">
            {{this.compinedAddress}}
          </div>
        </div>
        <div class="section-margin">
          <div class="update-contact-title">
            Unit Number
          </div>
          <div class="update-contact-value">
            {{this.residentialAddress.unitNumber}}
          </div>
        </div>
        <div class="mailing-address flex">
          <div *ngIf="!this.mailingAddress">
            <img id="chk_img" class="chk-box-img" src="assets/images/edit-check.svg" />
          </div>
          <div *ngIf="this.mailingAddress">
            <img id="chk_img" class="chk-box-img" src="assets/images/check-box-normal.svg" />
          </div>
          <div class="flex-col">
            <div>Mailing Address</div>
            <div>Same as Residential Address</div>
          </div>
        </div>
        <div *ngIf="this.mailingAddress">

          <div class="section-margin">
            <div class="update-contact-title">
              Country
            </div>
            <div class="update-contact-value">
              {{this.mailingAddress.country.country}}
            </div>
          </div>
          <div class="section-margin">
            <div class="update-contact-title">
              Postal Code
            </div>
            <div class="update-contact-value">
              {{this.mailingAddress.postalCode}}
            </div>
          </div>
          <div class="section-margin">
            <div class="update-contact-title">
              Address
            </div>
            <div class="update-contact-value">
              {{ this.compinedMailingAddress}}
            </div>
          </div>
          <div class="section-margin">
            <div class="update-contact-title">
              Unit Number
            </div>
            <div class="update-contact-value">
              {{this.mailingAddress.unitNumber}}
            </div>
          </div>
        </div>
        <button type="button" class="edit-button" id="confirmButton" (click)="editContactDetails()">
          Edit
        </button>
      </div>
    </div>

    <!-- Update Employee Details  -->
    <div *ngIf="empolymentDetails">
      <div class="edit-profile-section-bg">
        <div class="flex-row">
          <div class="flex-col-11">
            <div class="form-group-heading">
              Update Employment Details
            </div>
          </div>
          <div class="flex-col-1">
            <div class="dropdown-img">
              <img id="edit_profile_dropdown_img" class="dropdown-img" src="assets/images/dropdown-icon.svg" (click)=showHide(showHideEmp) />
            </div>
          </div>
        </div>
        <div class="dots" #showHideEmp>
          <div class="section-margin">
            <div class="update-contact-title">
              Employer Status
            </div>
            <div class="update-contact-value">
              {{this.empolymentDetails.employmentStatus.name }}
            </div>
          </div>
          <div class="section-margin">
            <div class="update-contact-title">
              Employer Name
            </div>
            <div class="update-contact-value">
              {{this.empolymentDetails.employerDetails.employerName }}
            </div>
          </div>
          <div class="section-margin">
            <div class="update-contact-title">
              Industry
            </div>
            <div class="update-contact-value">
              {{this.empolymentDetails.employerDetails.industry.industry }}
            </div>
          </div>
          <div class="section-margin">
            <div class="update-contact-title">
              Employer Contact
            </div>
            <div class="update-contact-value">
              {{this.empolymentDetails.employerDetails.employerContact }}
            </div>
          </div>
          <div class="section-margin">
            <div class="update-contact-title">
              Occupation
            </div>
            <div class="update-contact-value">
              {{this.empolymentDetails.occupation.occupation}}
            </div>
          </div>

          <div class="mailing-address flex">
            <div *ngIf="!employerAddress">
              <img id="chk_img2" class="chk-box-img" src="assets/images/edit-check.svg" />
            </div>
            <div *ngIf="employerAddress">
              <img id="chk_img" class="chk-box-img" src="assets/images/check-box-normal.svg" />
            </div>

            <div class="flex-col">
              <div>Employer&apos;s Address</div>
              <div>Same as Mailing Address</div>
            </div>
          </div>
          <!-- Have to add according to API -->
          <div *ngIf="employerAddress">
            <div class="section-margin">
              <div class="update-contact-title">
                Country
              </div>
              <div class="update-contact-value">
                {{this.empolymentDetails.employerDetails.employerAddress.country.country}}
              </div>
            </div>
            <div class="section-margin">
              <div class="update-contact-title">
                Postal Code
              </div>
              <div class="update-contact-value">
                {{this.empolymentDetails.employerDetails.employerAddress.postalCode}}
              </div>
            </div>
            <div class="section-margin">
              <div class="update-contact-title">
                Address
              </div>
              <div class="update-contact-value">
                {{this.compinedEmployerAddress}}
              </div>
            </div>
            <div class="section-margin">
              <div class="update-contact-title">
                Unit Number
              </div>
              <div class="update-contact-value">
                {{this.empolymentDetails.employerDetails.employerAddress.unitNumber}}
              </div>
            </div>
          </div>
          <button type="button" class="edit-button" (click)="editEmployeDetails()" id="editEmployeButton">
            Edit
          </button>
        </div>
      </div>
    </div>
    <!-- Update bank details  -->
    <div *ngIf="bankDetails">
      <div class="edit-profile-section-bg" (click)=showHide(showHideBank)>
        <div class="flex-row">
          <div class="flex-col-11">
            <div class="bank-details-heading">
              Update Bank Details
            </div>
          </div>
          <div class="flex-col-1">
            <div class="dropdown-img">
              <img id="edit_profile_dropdown_img" class="dropdown-img" src="assets/images/dropdown-icon.svg" />
            </div>
          </div>
        </div>

        <div class="dots" #showHideBank>
          <div class="flex-row">

            <div class="flex-col-4">

              <div class="bank-account">
                Bank Account
              </div>
            </div>
            <div class="flex-col-8">
              <div class="bank-account-num">
                {{this.bankDetails.accountNumber}}
              </div>
            </div>
            <button type="button" class="edit-button" id="editEmployeButton" (click)="editBankDetails()">
              Edit
            </button>
            <div class="banking-details-text">
              This banking details will only impact on investment products.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
