@import '../../../../_variables.scss';
@import '../../../../_mixins.scss';

app-funding-account-details {
  .srs-block {
    position: relative;
    border-radius: 6px;
    .funding-type{
      line-height: 1.38;
      letter-spacing: -0.16px;
      .funding-lbl{
        font-family: $muli-bold;
        font-size: 18px;
        line-height: normal;
        letter-spacing: -0.34px;
        margin-bottom: 17px;
      }
      .flex-row{
        margin-top: 37px;
      }
    }

    .widget {
      .widget-title {
        background-color: $white-color;
        font-family: $muli-bold;
        letter-spacing: -0.3px;
        color: $black-color;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        padding: 20px 25px 20px 27px;
      }

      .widget-body {
        padding: 20px 16px 26px 20px;
        background-color: $bond-container-bg;
        font-family: $muli-semi-bold;
        font-size: 18px;
        letter-spacing: -0.34px;
        color: $dark-teal-color;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }

    .tax-lbl {
      color: $white-color;
      padding-top: 24px;
      display: none;
    }
  }

  .dropdown-control .btn-dropdown {
    padding-right: 28px;
  }
}
