@import '../../../../variables';
@import '../../../../mixins';

app-cka-method-qna {
  .text-lyt {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.18px;
  }

  .tiles {
    max-width: 335px;
    margin-left: auto;

    @include allmobiles {
      width: 100%;
    }

    @include minMobilemaxPhablet {
      margin-right: auto;
    }

    .tile {
      background-color: $aqua-squeeze-color;
      color: $blue-stone-color;
      padding: 20px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      font-family: $muli-regular;
      font-size: 16px;
      line-height: normal;
      letter-spacing: -0.3px;
      align-items: center;
      text-align: left;

      .title {
        font-family: $muli-semi-bold;
        letter-spacing: -0.17px;
        color: $teal-color;
        margin-bottom: 10px;
      }

      .icon-block {
        width: 24px;
        height: 24px;
        border: none;
        display: flex;
      }
    }

    .tile-content {
      padding: 20px 20px 0;
      background-color: $white-color;
      color: $boulder-grey-color;
      font-family: $muli-regular;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: normal;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      margin-bottom: 16px;

      @include allmobiles {
        margin-bottom: 10px;
      }

      .qna-institution-title-text {
        font-family: $muli-regular;
        color: $silver-grey-color;
      }

      .method-qna-dropdown {
        padding-bottom: 20px;
      }

      .form-control {
        max-height: 52px;

        .input-control {
          text-align: left;
        }
      }
    }
  }

}
