<div class="container-fluid full-height">
  <div class="content">
    <div class="row">
      <div class="col-lg-7 col-md-6">
        <div class="signup-wrapper">
          <h2 class="signup-wrapper__title order1 sm-order2 ml10 mb20"  id="resetPasswordTitle">Reset Password</h2>
          <!-- Description part
          <div class="signup-wrapper__description order2">
              <p id="forgotPasswordDescription">{{ 'FORGOTPASSWORD.DESCRIPTION' | translate}}</p>
            </div>
            -->
          <img class="signup-wrapper__header-icon order2 sm-order1" id="resetPasswordIcon" src="assets/images/forgotPass.svg" />
        </div>
      </div>
      <div class="col-lg-5 col-md-6">
        <form id="resetPasswordForm" name="resetPasswordForm" [formGroup]="resetPasswordForm">
          <div class="flex-row mb15">
            <div class="flex-col-12 stretch" [formGroup]="resetPasswordForm">
              <div [ngClass]="{'inline-error': !isPasswordValid && !passwordFocus }" class="form-group-floating-label">
                <input type="password" appInputFocus id="resetPassword" (blur)="showValidity('password')" (focus)="showValidity('password')" (keyup)="onPasswordInputChange()" class="form-control" #resetPassword formControlName="resetPassword" required>
                <label class="form-control-placeholder" for="lastName" id="forgotEmailPlaceHolder">New Password</label>
                <span id="reset_showpassword_button" [ngClass]="(resetPassword.type === 'text') ? 'show-password' : 'hide-password'" (click)="showHidePassword(resetPassword)"></span>
                <div class="error-tooltip" *ngIf="!isPasswordValid && passwordFocus">
                  <div class="error-tooltip__desc">
                    <p class="error-tooltip__title"><span class="error-tooltip__title__warning-icon">!</span>{{
                      'PASSWORD.ERROR_MESSAGE.TITLE' | translate}}</p>
                    <p
                      [ngClass]="!resetPasswordForm.controls.resetPassword.errors?.length ? 'error-tooltip__desc-one': 'error-tooltip__desc-three'">{{
                      'PASSWORD.ERROR_MESSAGE.LENGTH' | translate}}<span
                        *ngIf="!resetPasswordForm.controls.resetPassword.errors?.length" class="tick-mark"></span></p>
                    <p
                      [ngClass]="!resetPasswordForm.controls.resetPassword.errors?.upperLower ? 'error-tooltip__desc-one': 'error-tooltip__desc-three'">{{
                      'PASSWORD.ERROR_MESSAGE.UPPER_LOWER' | translate}}<span
                        *ngIf="!resetPasswordForm.controls.resetPassword.errors?.upperLower" class="tick-mark"></span></p>
                    <p
                      [ngClass]="!resetPasswordForm.controls.resetPassword.errors?.numberSymbol ? 'error-tooltip__desc-one': 'error-tooltip__desc-three'">{{
                      'PASSWORD.ERROR_MESSAGE.NUMBER_SYMBOL' | translate}}<span
                        *ngIf="!resetPasswordForm.controls.resetPassword.errors?.numberSymbol" class="tick-mark"></span></p>
                    <span class="error-tooltip__arrow"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
 <!-- Password Part-->
          <div class="flex-row mb20">
            <div class="flex-col-12 stretch" [formGroup]="resetPasswordForm">
              <div [ngClass]="{'inline-error': !confirmPwdFocus && !resetPasswordForm.controls.resetPassword.errors && resetPasswordForm.controls.resetConfirmPassword.dirty && resetPasswordForm.controls.resetConfirmPassword.errors && resetConfirmPassword.value.length}" class="form-group-floating-label">
                <input type="password" appInputFocus id="resetConfirmPassword" (blur)="showValidity('resetConfirmPassword')" (focus)="showValidity('resetConfirmPassword')" class="form-control"  #resetConfirmPassword formControlName="resetConfirmPassword" required>
                <label class="form-control-placeholder" for="lastName">Confirm Password</label>
                <span id="reset_showpassword_button" [ngClass]="(resetConfirmPassword.type === 'text') ? 'show-password' : 'hide-password'" (click)="showHidePassword(resetConfirmPassword)"></span>
                <div class="error-tooltip"
                  *ngIf="confirmPwdFocus && !resetPasswordForm.controls.resetPassword.errors && resetPasswordForm.controls.resetConfirmPassword.dirty && resetPasswordForm.controls.resetConfirmPassword.errors && resetConfirmPassword.value.length">
                  <div class="error-tooltip__desc">
                    <p class="error-tooltip__title"><span class="error-tooltip__title__warning-icon">!</span>{{
                      'PASSWORD.ERROR_MESSAGE.TITLE' | translate}}</p>
                    <p class="error-tooltip__desc-one">{{ 'PASSWORD.ERROR_MESSAGE.MATCH' | translate}}</p>
                    <span class="error-tooltip__arrow"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- FORGOT 
          <div class="forgot-link">
              <a href="#">{{ 'LOGIN.FORGOT_PASSWORD' | translate}} <span>{{ 'LOGIN.CLICK_HERE' | translate}}</span></a>
          </div>
          -->
          <button id="resetPasswordButton" (click)="save(resetPasswordForm)" type="button" class="btn btn__footer--fixed btn-primary width100">{{ 'FORGOTPASSWORD.SUBMIT' | translate}}</button>
        </form>
      </div>
    </div>
  </div>
</div>
