@import "../../../_variables.scss";
@import "../../../_mixins.scss";


app-reset-password {
  .container-fluid.full-height {
    min-height: 85vh;
  }

  .forgot-link {
    text-align: center;

    a {
      color: #fff;
      font-family: 'Muli';
      font-size: 16px;
    }

    a span {
      font-weight: bold;
    }
  }

  .back-btn {
    background-image: url("../../../assets/images/back-web.svg");
    width: 43px;
    height: 43px;
    cursor: pointer;
    position: absolute;
    top: 5%;
    left: 20px;
    background-repeat: no-repeat;
  }

  .btn {
    font-family: $muli-bold;
  }

  .container_padding {
    @include allmobiles {
      padding: 20px 0;
    }
  }

  .inline-error {
    .show-password {
      background: url("../../../assets/images/show-password.svg") !important;
      background-repeat: no-repeat !important;
      background-color: transparent !important;
    }

    .hide-password {
      background-image: url("../../../assets/images/hide-password.svg") !important;
      background-repeat: no-repeat !important;
      background-color: transparent !important;
    }
  }

  .alert-msg{
    font-family: $muli-italic;
    font-size: 14px;
    padding-top: 5px;
    div{
      display: flex;
      align-items: center;
      .alert-icon{
        width: 15px;
        height: 15px;
        display: flex;
        margin-right: 7px;
      }
    }
  }
}
