@import '../../../variables';
@import '../../../mixins';
.comprehensive {
  background: #fff;
  height: 100% !important;
  @include desktop {
    &.container-fluid {
      padding: 90px 20px 20px 20px;
    }
  }
  .header {
    color: #066360;
    font-size: 24px;
    font-family: $muli-bold;
    @include allmobiles {
          padding: 0 15px;
       }
  }

  .resultImg {
    background: url("/assets/images/comprehensive/result.svg") no-repeat;
    display: inline-block;
    width: 218px;
    height: 150px;
  }

  .result-panel {
    &__about {
      font-size: 14px;
      color: #9f9f9f;
      font-family: $muli-light-italic;
      @include allmobiles {
        padding: 0 14%;
      }
    }
  }
  .about {
    font-size: 16px;
    color: #066360;
    font-family: $muli-regular;

    .email {
      font-weight: bold;
      color: #00aaa8;
    }
  }

  .what-next {
    border-radius: 6px;
    background-color: #00a7a7;
    width: 100%;
    padding: 30px;
    &--title {
      font-size: 16px;
      font-family: $muli-bold-italic;
      text-align: center;
      text-decoration: underline;
      letter-spacing: -0.16px;
      line-height: 24px;
      margin-bottom: 15px;
    }
    &--desc{
      font-family: $muli-regular;
      font-size: 14px;
      line-height: 1.21;
      letter-spacing: -0.14px;
    }
    li {
      font-size: 14px;
      font-family: $muli-light-italic;
      margin-bottom: 15px;
      @include desktop {
        height: 50px;
      }
      &.report {
        background: url(../../../assets/images/comprehensive/report.svg) no-repeat;
        padding-left: 60px;
      }
      &.choose {
        background: url(../../../assets/images/comprehensive/choose.svg) no-repeat;
        padding-left: 60px;
      }
      &.meeting-white {
        background: url(../../../assets/images/comprehensive/meeting-white.svg) no-repeat;
        padding-left: 60px;
      }
    }
  }
}

