@import "../../../variables";
@import "../../../mixins";
.sing-pass-link {
    cursor: pointer;
    .sing-pass-icon {
        max-width: 152px;
        height: 23px;
        display: flex;
        img {
            width: 100%;
            height: auto;
        }
    }
}
