<!--Assets Screen-->
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-7 col-md-6 hidden-sm-md">
          <h2>{{ pageTitle }}</h2>
          <h6>{{ 'MY_ASSETS.DESCRIPTION' | translate}}</h6>
        <div class="banner-image">
            <img src="assets/images/assets.svg" />
        </div>
      </div>
      <div class="col-lg-5 col-md-6">
        <div class="myinfo__block">
          <div class="myinfo__block__btn">
            <span class="myinfo__block__btn--arrow"></span>
          </div>
          <div class="myinfo__block--title">{{ 'COMMON.LBL_FILL_VIA_MY_INFO' | translate}}</div>
        <div class="myinfo__block--sub-title">{{ 'COMMON.LBL_MY_INFO_HELP_DESC' | translate}}</div>
      </div>
        <div>
          <form id="assetsForm" name="assetsForm" [formGroup]="assetsForm">
              <div  class="form-group-with-bg">
                  <!--Form Header-->
                  <div class="form-group-with-bg--header">
                      <div class="flex-row">
                        <div class="flex-col-9">
                        <div class="form-group-with-bg--header-label">{{ 'MY_ASSETS.MY_ASSETS_FRM_TITLE' | translate}}<div class="form-group-with-bg--header-sub-label">{{ 'MY_ASSETS.WHAT_YOU_OWN' | translate}}</div></div>
                        </div>
                        <div class="flex-col-3">
                        <div class="total">{{assetsTotal | currency:'USD':'symbol-narrow':'1.0-2'}}</div>
                        </div>  
                      </div>
                    </div>
                    <!--Form Content-->
                    <div class="form-group-with-bg--content">
                      <div class="flex-row">
                        <div class="flex-col-6">
                        <div class="form-group-with-bg--content-label" for="name">{{ 'MY_ASSETS.CASH' | translate}}</div>
                        </div>
                        <div class="flex-col-6">
                          <div class="form-control">
                              <i>$</i>
                        <div name="cash" [ngClass]="{'readonly': cash.value != 0}"><input class="input-control"  type="text" appCurrencyInput maxLength="7" #cash formControlName="cash" value="0"></div>
                        </div>
                      </div>  
                      </div>
                      <div class="flex-row">
                        <div class="flex-col-6">
                        <div class="form-group-with-bg--content-label" for="name">{{ 'MY_ASSETS.CPF' | translate}}</div>
                        </div>
                        <div class="flex-col-6">
                        <div class="form-control">
                            <i>$</i>
                        <div name="cpf" [ngClass]="{'readonly': cpf.value != 0}"><input  class="input-control" type="text" appCurrencyInput maxLength="7" #cpf formControlName="cpf" value="0"></div>
                        </div>    
                      </div>
                      </div>
                      <div class="flex-row">
                        <div class="flex-col-6">
                        <div class="form-group-with-bg--content-label" for="name">{{ 'MY_ASSETS.HOME_PROPERTY' | translate}}<div class="form-group-with-bg--content-sub-label">{{ 'MY_ASSETS.HOME_PROPERTY_HINT' | translate}}</div></div>
                      </div>
                      <div class="flex-col-6">
                        <div class="form-control">
                            <i>$</i>
                        <div name="homeProperty" [ngClass]="{'readonly': homeProperty.value != 0}"><input class="input-control" type="text" appCurrencyInput maxLength="7" #homeProperty formControlName="homeProperty" value="0"></div>
                      </div>
                      </div>
                      </div>
                      <div class="flex-row">
                          <div class="flex-col-6">
                          <div class="form-group-with-bg--content-label" for="name">{{ 'MY_ASSETS.INVESTMENT_PROP' | translate}}<div class="form-group-with-bg--content-sub-label">{{ 'MY_ASSETS.INVESTMENT_PROP_HINT' | translate}}</div></div>
                          </div>
                          <div class="flex-col-6">
                            <div class="form-control">
                                <i>$</i>
                              <div [ngClass]="{'readonly': investmentProperties.value != 0}"><input class="input-control" type="text" appCurrencyInput maxLength="8" #investmentProperties formControlName="investmentProperties" value="0"></div>
                            </div>
                          </div>
                        </div>
                      <div class="flex-row">
                        <div class="flex-col-6">
                        <div class="form-group-with-bg--content-label" for="name">{{ 'MY_ASSETS.INVESTMENTS' | translate}}<div class="form-group-with-bg--content-sub-label">{{ 'MY_ASSETS.INVESTMENTS_HINT' | translate}}</div></div>
                        </div>
                        <div class="flex-col-6">
                          <div class="form-control">
                              <i>$</i>
                            <div [ngClass]="{'readonly': investments.value != 0}"><input class="input-control" type="text" appCurrencyInput maxLength="8" #investments formControlName="investments" value="0"></div>
                          </div>
                        </div>
                      </div>
                      <div class="flex-row">
                          <div class="flex-col-6">
                        <div class="form-group-with-bg--content-label" for="name">{{ 'MY_ASSETS.OTHERS' | translate}}<div class="form-group-with-bg--content-sub-label">{{ 'MY_ASSETS.OTHERS_HINT' | translate}}</div></div>
                        </div>
                        <div class="flex-col-6">
                          <div class="form-control">
                              <i>$</i>
                             <div [ngClass]="{'readonly': otherAssets.value != 0}"><input class="input-control" type="text" appCurrencyInput maxLength="7" #otherAssets formControlName="otherAssets" value="0"></div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
              <button type="button" (click)="goToNext(assetsForm)" class="btn btn__footer--fixed btn-primary width100"
                id="assetsBtn">{{ 'LABEL.CONTINUE' | translate}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>