@import "../../../variables";
@import "../../../mixins";
.sing-pass-link {
    cursor: pointer; 
        display: flex;
        img {
            width: 100%;
            height: auto;        
    }
}
.flex-row {
    &.myinfo-btn {
        @include allmobiles {
         margin-bottom: 15px !important;
        }
    }
}
