@import '../../../variables';
@import '../../../mixins';
.sing-pass-link {
                @extend .flex;
                cursor: pointer;
                background: url("../../../assets/images/comprehensive/singpass-logo.svg");
                .sing-pass-icon {
                               
                                background-repeat: no-repeat;
                                width: 24px;
                                margin-left: 5px;
                }
}
