@import '../../../../../variables.scss';
@import '../../../../../mixins';
app-confirm-withdrawal-modal {
  .edit-investment-modal {
    font-family: $muli;

    .modal-body-message {
      .warning {
        padding:6px 0 20px 0;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: -0.1px;
        color: $post-login-widget-title;

        .warning-heading {
          font-weight: bold;
        }
      }

      .forward-pricing-info {
        background-color:#00a7a7;
        margin:15px -20px 15px -25px;
        font-size: 13px;
        color:#fff;
        padding: 20px 25px;
        div {
          padding-left:30px;
          position:relative;
          img {
            position:absolute;
            left:0px;
            top:0px;
          }
          span.head {
            font-weight:bold;
            display:block;
            margin-bottom:2px;
          }
          span.link {
            font-weight:bold;
            white-space: nowrap;
            cursor:pointer;
          }
        }
      }

      .withdraw-details {
        margin: 25px 0px;
        font-family: $muli;
        span.head {
          font-size: 14px;
          font-weight: bold;
          color: #000;
          margin-bottom: 15px;
          display:block;
        }
        .caption-values {
          .caption {
            display:block;
            font-size: 14px;
            color: #5e5e5e;
          }
          .values {
            display:block;
            color: #00a7a7;
            font-weight: bold;
            font-size: 18px;
            margin-bottom:10px;
          }
        }
      }
    }

    .strong {
      font-weight: bold;

    }

    .amount-section {
      width: 500px;
      border-top: 1px solid $spindle-color;
      padding: 20px;
      margin: 20px -25px;
      text-align: center;

      @include allmobiles{
        width: 100vw;
      }

      .amt {
        font-size: 22px;
        font-family: $muli-bold;
        color: $teal-color;
        margin-top: 10px;
      }

      .lbl {
        font-size: 16px;
        color: $withdrawal-modal-lbl-color;
        margin-top: 2px;
      }
    }

    .btn {
      &.btn-primary {
        font-family: $muli-bold;
      }
    }
    .border-btm {
      border-bottom: 1px solid $spindle-color;
    }
    .capital-letter {
      text-transform: capitalize;
    }
  }
}
