@import '../../../../variables';
@import '../../../../mixins';
/* TRANSFER DETAILS */
    .transfer-details {
      margin: 20px 0px;
      color: $fund-transfer-details-color;

      .tab-links {
        display: flex;
        width: 100%;
        letter-spacing: -0.2px;

        .tab-link-item {
          display: flex;
          flex-grow: 1;
          flex-basis: 0;
          color: $fund-tab-link-color;
          font-size: 18px;
          font-family: $muli-bold;
          padding: 15px 35px;
          text-align: center;
          align-items: center;
          background-color: $fund-tab-link-bg;
          margin-right: 9px;
          border-radius: 10px 10px 0 0;
          justify-content: center;
          line-height: 1.17;
          letter-spacing: -0.18px;
          opacity: 0.5;
          cursor: pointer;

          .pay-tab {
            max-width: 84px;
            height: 42px;
            display: flex;
            align-items: center;

            img {
              width: 55px;
              height: 35px;
            }
          }

          &:first-child {
            flex-direction: column;
          }

          &:last-child {
            margin: 0px;
          }

          &.active {
            background-color: $fund-tab-link-active-bg;
            opacity: 1;
          }
        }
      }

      .tab-content-container {
        background-color: $fund-tab-content-bg;
        border-radius: 0px 0px 6px 6px;

        .tab-content {
          padding: 30px;
          display: none;

          &.active {
            display: block;
          }

          &.fund-instruction {
            padding: 30px 10px;

            @include allmobiles {
              padding: 20px 0;
            }

            .instruction-content {
              padding-top: 0;
            }
          }
        }
      }

      .instruction-txt {
        font-size: 15px;
        margin-bottom: 15px;
        font-family: $muli-regular;
        color: $fund-instruction-txt-color;

        strong {
          font-family: $muli-bold;
        }
      }

      .btn-bordered {
        border: 1px solid $teal-color;
        border-radius: 28px;
        background-color: transparent;
        font-size: 14px;
        font-family: $muli;
        text-align: center;
        color: $teal-color;
        display: flex;
        padding: 6px 30px;
      }

      .account-detail {
        margin-top: 20px;
        font-family: $muli-semi-bold;
        letter-spacing: -0.3px;

        label {
          font-family: $muli-semi-bold;
          font-size: 18px;
          color: $dark-teal-color;
          margin-bottom: 0px;
        }

        .value {
          color: $black-color;
          font-size: 16px;
          margin-bottom: 10px;

          &.ref_num {
            font-family: $muli-semi-bold;
            font-size: 18px;
            letter-spacing: -0.3px;
            color: $fund-account-detail-ref-num-color;
          }

          .investment-values {
            display: flex;
            flex-direction: row;

            div {
              display: flex;
              color: $dark-teal-color;
              font-family: $muli-regular;

              &:first-child {
                margin-right: 20px;
              }

              span {
                color: $secondary-action-color;
                font-family: $muli-semi-bold;
              }
            }
          }
        }

        .ref_code_info {
          display: flex;
          justify-content: space-between;
          color: $fund-account-detail-ref-code-info-color;
          line-height: 22px;
          letter-spacing: -0.1px;
          font-family: $muli-regular;
          font-size: 15px;

          span {
            padding: 0px 8px 20px 0px;
          }

        }
      }


    }
