<div class="modal-header">
  <div class="modal-title popup-header-icon">
    <img src="assets/images/owl.svg" id="errorModelImage" />
  </div>
</div>
<div class="modal-body white-bg">
  <div class="modal-body-title"> 
    <div id="errorModeltitle" [innerHTML]="errorTitle"></div>    
  </div>
  <button *ngIf="closeBtn" type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true" id="errorModelCloseIcon"></span>
  </button>
  <div class="modal-body-message" *ngIf="errorMessage" id="errorModelMessage"  [innerHTML]="errorMessage"></div>
  <!-- TRANSFER DETAILS -->
    <div class="transfer-details">
        <div class="tab-links">
          <div class="tab-link-item active" [class.active]="activeMode == 'BANK'" (click)="selectFundingMethod('BANK')">
            <div class="pay-tab"> 'FUNDING_INSTRUCTIONS.BANK_TRANSFER'</div>
          </div>
          <div class="tab-link-item" [class.active]="activeMode == 'PAYNOW'" (click)="selectFundingMethod('PAYNOW')">
            <div class="pay-tab"><img src="assets/images/topupwithdraw\paynow.png" alt="" /></div>
          </div>
        </div>
        <div class="tab-content-container">
          <!-- TAB 1 -->
          <div class="tab-content" [class.active]="activeMode == 'BANK'" >
            <div class="instruction-txt" innerHTML="{{ 'FUNDING_INSTRUCTIONS.LOGIN_TO_NETBANKING_BANK' | translate }}">
            </div>
          </div>
          <!-- New Bank Transfer Instruction Start -->
          <div class="tab-content fund-instruction" [class.active]="activeMode == 'BANK'"
            >
            <app-instruction-steps [showBankTransferIns]="showBankTransferSteps" [bankDetails]="bankDetails"
              (showToolTip)="showTipModal()"></app-instruction-steps>
          </div>
          <!-- New Bank Transfer Instruction End -->
          <!-- TAB 2 -->
          <div class="tab-content" [class.active]="activeMode == 'PAYNOW'" >
            <div class="instruction-txt"
              innerHTML="{{ 'FUNDING_INSTRUCTIONS.LOGIN_TO_NETBANKING_PAYNOW' | translate }}">
            </div>
			<app-instruction-steps [showBankTransferIns]="!showBankTransferSteps" [paynowDetails]="paynowDetails"
              (showToolTip)="showTipModal()"></app-instruction-steps>
        </div>
      </div>
	</div>
</div>
