<div class="container-fluid flex__wrapper">
    <div class="content">
      <div class="row">
        <div class="col-lg-6 col-sm-12 col-xs-12 signup-wrapper sm-text-align-center">
            <h3 class="title mb15">{{pageTitle}}</h3>
            <h5 class="sub-title mb30">{{subTitle}}</h5> 
            <img class="header-icon hidden-md-sm" src="assets/images/createAccount-icon.svg"/>
            <div class="description">
                <p>{{description}}</p>
              </div>
          </div>
        <div class="col-lg-6 col-sm-12 col-xs-12">
          <form class="signup-form-wrapper" id="verifyMobileForm" name="verifyMobileForm" [formGroup]="verifyMobileForm">
            <div class="flex-row">
              <p class="text-align-center">{{ 'VERIFY_MOBILE.FORM.INSTRUCTION' | translate}}</p>
            </div>
            <div class="flex-row mb50">
              <div class="flex-col-12 stretch">
                <div class="phone-number">
                  <span class="mr10">+{{countryCode}}</span>
                  <span>{{phoneNumber}}</span>
                  </div>
                </div>
                <div class="flex-col-12 stretch flex__box--vert center">
                  <a class="edit-link" href="../">Edit Number</a> 
                </div>
              </div>
            <div class="flex-row">
              <div class="flex-col-1 stretch" formArrayName="verifyCodeInput" *ngFor="let char of verifyCode; let i=index">
                <div class="form-control" [formGroupName]="i">
                    <input type="text" class="input-control text-align-center"
                    maxLength="1" #verifyCodeSingle formControlName="verifyCodeSingle" placeholder="{{char}}">
                  </div>
                </div>
              </div>
            <button id="nextDependentBtn" [class.show]="isNavNextEnabled" (click)="navigateDependentForm('next')" type="button" class="btn btn__footer--fixed btn-ftr-get-started btn-white width100">{{ 'COMMON.CONTINUE' | translate }}</button>
          </form>
        </div>   
      </div>
    </div>
  </div>