<div class="container-fluid">
    <div class="content">
      <div class="row">
        <div class="col-lg-7 col-md-6">
        <div class="signup-wrapper">
          <h2 class="title order1 sm-order2 ml10">{{pageTitle}}</h2>
          <div class="description order2">
              <p>So that our advisers can contact you.</p>
            </div>
          <img class="header-icon order3 sm-order1" src="assets/images/createAccount-icon.svg"/>
          </div>
        </div>
        <div class="col-lg-5 col-md-6">
          <form id="verifyMobileForm" name="verifyMobileForm" [formGroup]="verifyMobileForm">
            <div class="verify-mobile-block">
            <div class="text-center verify-mobile-block__otp__title mb15">
              {{ 'VERIFY_MOBILE.FORM.INSTRUCTION' | translate}}
            </div>

            <div class="mb50 text-center">
                <div class="verify-mobile-block__phone-number">
                  +65 82202059
                </div>
                <div>
                  <a class="verify-mobile-block__edit-link link-white" (click)="editNumber()" href="../">Edit Number</a> 
                </div>
              </div>
            <div class="verify-mobile-block__otp">
                
                <input type="text" appCurrencyInput defaultValue="false" class="input-control text-align-center" #otp1 formControlName="otp1" (keyup)="next(otp2)" size="1">
                <input type="text" appCurrencyInput defaultValue="false" class="input-control text-align-center" #otp2 formControlName="otp2" (keyup)="next(otp3)" size="1">
                <input type="text" appCurrencyInput defaultValue="false" class="input-control text-align-center" #otp3 formControlName="otp3" (keyup)="next(otp4)" size="1">
                <input type="text" appCurrencyInput defaultValue="false" class="input-control text-align-center" #otp4 formControlName="otp4" (keyup)="next(otp5)" size="1">
                <input type="text" appCurrencyInput defaultValue="false" class="input-control text-align-center" #otp5 formControlName="otp5" (keyup)="next(otp6)" size="1">
                <input type="text" appCurrencyInput defaultValue="false" class="input-control text-align-center" #otp6 formControlName="otp6" size="1">  
              </div>
            <button (click)="save(verifyMobileForm)" type="button" class="btn btn__footer--fixed btn-primary width100">{{ 'COMMON.VERIFY' | translate }}</button>
             </div>
             <div class="verify-mobile-block__otp__not-received text-center mt20">
                Didn't receive it?<br>
                <a href="#" class="link-white">Request New Code</a> 
             </div>
          </form>
        </div>   
      </div>
    </div>
  </div>