@import '../../../variables';
@import '../../../mixins';

.container-fluid {
    padding: 50px 60px 65px;
    @include allmobiles{
        padding: 10px 0 !important;
        border-radius: 0;
    }
}

.my-beneficiaries-container {
    justify-content: space-between;
}
.banner-image{
    @include allmobiles{
        width: 178px;
        height: 153px;
        object-fit: contain;
        margin: auto;
        img{
            padding-top: 0;
        }
    }
}
.instructions {
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.25);   
    @include allmobiles{
        margin: 0 16px !important;
    }
}
.instruction-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    letter-spacing: -0.3px;
    color: #626362;
    padding: 30px 25px;
    div{
        margin-bottom: 15px;
        span{
            display: flex;
        }
    }
}

.mask {
    background-color: #2d8289;
    font-size: 22px;
    font-family: $muli-bold;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 15px 0;
    text-align: center;
  }
.beneficiaries-container {
    margin-top: 23px;
    padding: 0 20px;
    @include allmobiles {
        margin-top: 0px;
        margin-bottom: 60px;
    }
    
    .edit-block{
        @extend .flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 28px;
        padding-top: 13px;
        span{
            margin-bottom: 8px;
        }
    }
}
.mobile-header{
    display: flex;
    flex-direction: column;
    .step2 {
        font-family: $muli-light;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: -0.2px;
        color: #ffffff;
      }
    .sub-title{
            font-family: $muli-regular;
            font-size: 18px;
            line-height: 1.22;
            letter-spacing: -0.2px;
            color: #ffffff;
        @include allmobiles {
            width: 321px;
            color: #333846;
            text-align: center;
            font-size: 16px;
        }
    }
    h2{
        
        font-family: $muli-semi-bold;
        font-size: 36px;
        letter-spacing: -0.4px;
        color: #ffffff;
        @include allmobiles {
            font-size: 20px;
            letter-spacing: -0.4px;
            text-align: center;
            color: #066360;
        }
    }
    @include allmobiles {
        flex-direction: column-reverse;
    }
}

input[type='checkbox']+label {
    margin: 0;
    clear: none;
    padding: 0px 0 0px 40px;
    cursor: pointer;
    background: url("../../../assets/images/check-box-normal.svg") left center no-repeat;
  }
  
  input[type='checkbox']:checked+label {
    background-image: url("../../../assets/images/check-box-select.svg");
  }

  .add-beneficiaries{
      @extend .flex;
      align-items: center;
      padding: 15px 16px 14px !important;
      span{
        font-family: $muli-semi-bold;
        font-size: 18px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.3px;
        color: #000000;
        margin-right: 16px;
      }
  }
  
  .form-group-single-column .checkbox-button.two-label {
    padding: 13px 18px;
    margin-bottom: 21px;
  }
  .mobile-logo{
    display: none;
    @include allmobiles {
        display: block;
        justify-content: center;
        align-items: center;
        margin-bottom: 12px;
    }
}

.mobile-header {
         background-color: #00a7a7;
         position: relative;
    @include allmobiles {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: -10px;
        color: #333846 !important;
        background-color: #fff;
    }  
}

.add-beneficiaries-container {
    .aboutMe{
        background-color: #f4fafb;
        border-radius: 6px;
        box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.25);
        font-size: 18px;
        letter-spacing: -0.3px;
        line-height: normal;
        color: #2d8289;
        margin-top: 0px;
        font-family: $muli-semi-bold;
        @include allmobiles {
            margin-top: 19px !important;
        }
        .flex-row{
            padding: 0 19px 21px; 
        }
        .title {
            background: $white-color;
            font-family: $muli-bold;
            font-size: 20px;
            letter-spacing: -0.4px;
            color: #066360;
            margin-bottom: 19px;
            padding: 17px 19px; 
            border-radius: 6px;
            justify-content: space-between;
        }
        .sublbl {
            font-family: $muli-regular;
            font-size: 16px;
            letter-spacing: -0.3px;
            color: #2d8289;
            font-weight: normal;
        }
        .add-beneficiary{
            .btn {
                padding: 8px !important;
                color:#00a7a7;
                font-size: 16px;
                background-color: #f4fafb;
            }
            .btn-primary{
                background-color: #00a7a7;
                color: #fff !important;
            }
        }
    }
}

.header-container{
    padding: 0px !important;
}

.content-title {
    font-family: $muli-semi-bold;
    font-size: 18px;
    letter-spacing: -0.3px;
    color: #ffffff;
    padding:20px 0;
  }
  .add-beneficiary{
      justify-content: center;
  }

  .sub-name {
    font-family: $muli-regular;
    font-size: 14px;
    letter-spacing: -0.3px;
    color: #2d8289;
    font-weight: 100;
}

.edit-icon {
    cursor: pointer;
}

.title-cancel {
    font-family: $muli-regular;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: -0.3px;
    text-align: right;
    color: #00a7a7;
    cursor: pointer;
}
.add-icon {
    cursor: pointer;
}

.with-help-icon{
    display:flex;
    align-items: flex-end;
    position: relative;
    .help-icon {
        background-image: url("../../../assets/images/help-icon.png");
        width: 40px;
        height: 20px;
        cursor: pointer;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 5px;
        border-radius: 0;
        margin-right: -25px;
    }
}

.form-control {
    color: #00a7a7;
    &:focus {
        color: #00a7a7;
    }
}

.relationship {
    width: 119px;
}
.dropdown-menu {
    z-index: 998;
    height: auto;
    &.show{
        margin-bottom: 65px;
    }
}
