
<div class="container-fluid ">
    <div class="col-12">

        <!-- <div class="title mb10">Dimensional Global Core Equity ACC SGD</div> -->
        <div class="title mb10" id="fundDetailsTitle">{{fund.name}}</div>
       
        <div class="content">
            <div  id="fundDetailsContent" [innerHTML]="fund.htmlDesc"></div>

                <a download href="../../../assets/docs/portfolio/fund/{{fund.factSheetLink}}" class="btn btn__footer--fixed btn-primary width100" id="fundDetailsBtnOne" >{{'FUND_DETAILS.DOWNLOAD_FACTSHEET' | translate}}</a>
            
                <a download href="../../../assets/docs/portfolio/fund/{{fund.highlightSheetLink}}" class="btn btn__footer--fixed btn-primary width100" id="fundDetailsBtnTwo" >{{'FUND_DETAILS.DOWNLOAD_HIGHLIGHT_FACTSHEET' | translate}}</a>

                
           
        </div>

        
    </div>
   
</div>
