@import '../../../variables';
@import '../../../mixins';

app-fund-details {
  .modal-body-title {
    text-align: center;
    font-family: $muli-semi-bold;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.3px;
    text-align: center;
    color: $teal-color;
    border-bottom: 1px solid $fund-details-title-brdr;
    margin-bottom: 0;
    margin-right: 0;
    padding-bottom: 10px;
  }
  .modal-body.white-bg .close {
    width: 25px !important;
    height: 25px !important;
    background: url('../../../assets/images/close-button-dark.svg') !important;
    position: absolute !important;
    top: 28px !important;
    right: 18px !important;
    background-repeat: no-repeat !important;
    @include allmobiles {
      top: 28px !important;
      right: 18px !important;
    }
  }
  .modal-body {
    padding: 20px 0 !important;
    min-height: 100vh;
    max-height: 100%;
    border-radius: 0;
  }
  .fund-details-content {
    .dimentional {
      padding: 26px 25px 23px;
      border-bottom: 1px solid $fund-details-dimentional-brdr;
      .img-container {
        width: 180px;
        height: 41px;
        object-fit: contain;
        text-align: left;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
    .card {
      border: none;
      .card-header {
        padding: 23px 48px 19px 22px;
        border-bottom-color: $fund-details-card-brdr;
        background: $white-color;
        .btn {
          white-space: normal;
          padding: 0;
          text-align: left;
          background: $white-color;
          font-family: $muli-semi-bold;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: -0.3px;
          color: $black-color;
          display: flex;
          align-items: center;
          i {
            color: $fund-details-arrow-color;
            position: absolute;
            right: 25px;
          }
          &:hover {
            text-decoration: none;
          }
          &:active {
            text-decoration: none;
          }
          &:focus {
            text-decoration: none;
          }
        }
      }
      .card-body {
        color: $black-color;
        padding: 13px 45px 27px 32px;
        .btn {
          margin-top: 22px;
          font-family: $muli-bold;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: -0.1px;
        }
      }
    }
    .btn-orange {
      font-family: $muli-bold;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: -0.1px;
      text-align: center;
      color: $secondary-action-color;
      border: none;
      background: none;
      padding: 29px 29px 33px;
    }
  }

  .arrow {
    display: block;
    border-style: solid;
    border-color: $fund-details-arrow-color;
    border-width: 0 0 2px 2px;
    width: 10px;
    height: 10px;
    line-height: 0;
    font-size: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    float: right;
    position: absolute;
    right: 20px;
    // margin-top:6px;
  }
  .fund-heading.active .arrow {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    //   margin-top:10px;
    margin-top: 6px;
  }

  .fund-heading {
    font-family: $muli-semi-bold;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.3px;
    color: $black-color;
    padding: 20px;
    border-bottom: 1px solid $fund-details-dimentional-brdr;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    span {
      &:first-child {
        padding-right: 30px;
      }
    }
  }
  .funding-content {
    font-family: $muli-regular;
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: -0.2px;
    color: $text-color-secondary;
    padding: 29px 29px 33px;
    border-bottom: 1px solid $fund-details-dimentional-brdr;
    display: none;
  }
  .funding-content.first {
    display: block;
  }

  .funding-content.active {
    display: block;
  }
}
