@import '../../../variables';
@import "../../../_mixins.scss";

app-create-account-myinfo-modal {
  .modal-body {
    width: 450px;
    margin: 0 auto;

    @include allmobiles {
      width: 100%;
    }
  }


  .toggle-btn {
    flex: 1;
  }

  .action-button {
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 6px 7px 0 $btn-shadow-color  !important;
    background-color: $teal-color;
    border: 1px solid $teal-color;
    margin-top: 15px;
    font-family: $muli-bold;
    font-size: 22px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: center;
    color: $white-color;
    padding: 10px;
    cursor: pointer;

    &.secondary-button {
      background-color: $white-color;
      color: $teal-color;
      -webkit-text-fill-color: $teal-color;
      box-shadow: none !important;
      outline: none !important;
      border: 1px solid rgba(0, 167, 167, 0.4);

      &:hover {
        background-color: $white-color;
        border-color: $teal-color;
        color: $teal-color  !important;
        -webkit-text-fill-color: $teal-color;

        @include allmobiles {
          background-color: $white-color  !important;
          color: $teal-color  !important;
          -webkit-text-fill-color: $teal-color  !important;
        }

        @include tablet {
          background-color: $white-color  !important;
          color: $teal-color  !important;
          -webkit-text-fill-color: $teal-color  !important;
        }
      }
    }

    &:hover {
      background-color: $robins-egg-blue-color;
      border-color: $action-btn-hover-brdr-color;
      color: $white-color  !important;
    }

    &:active {
      background-color: $action-btn-active-bg;
      color: $white-color;
    }
  }

  .modal-body-message {
    margin-bottom: 15px;
  }

  .modal-body {
    padding: 20px;

    &.my-info {
      @include desktop {
        width: 375px !important;
        margin: 0 auto !important;
      }
    }
  }

  .modal-body-title {
    display: flex;

    div {
      flex-grow: 0;
      flex-basis: auto;
    }

    span.lock {
      padding-left: 10px;

      img {
        vertical-align: initial !important;
      }
    }
  }

  .spinner-container {
    #mo_spinner {
      width: 24px;
      height: 24px;
      margin: 3px 10px 0px 0px;
      display: flex;
    }
  }

  .hyperlink_color {
    color: $dark-orange-color;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: $dark-orange-color;
      text-decoration: none;
    }
  }

  .email_txt {
    a {
      color: $dark-orange-color;
      text-decoration: none;
      cursor: pointer;
      font-family: $muli-regular;
    }
  }

  .myinfo-data-block {
    .card {
      margin-bottom: 10px;
      border-radius: 6px !important;
      background-color: $white-color;
      border: none;

      .card-header {
        padding: 0px;
        background-color: $white-color;
        border: none !important;

        .btn-link {
          padding: 0 3px 0 0;
          width: 100%;
          font-size: 14px;
          font-family: $muli-semi-bold;
          line-height: 22px;
          letter-spacing: -0.3px;
          color: $black-color;

          .arrow {
            border: solid $black-color;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            float: right;
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
          }

          &.collapsed {
            .arrow {
              transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
            }
          }

          &:hover,
          &:focus {
            text-decoration: none;
          }
        }
      }

      .card-body {
        padding: 10px 0 0 0;

        .myinfo-data-content {
          font-family: $muli-semi-bold;
          font-size: 14px;
          line-height: 22px;
          color: $dark-dusty-grey-color;

          div {
            margin-bottom: 10px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}