<div class="modal-body white-bg">
  <ngx-slick class="carousel" #carousel [config]="slideConfig">
    <div ngxSlickItem *ngFor="let slide of slides, let i = index;">
      <div class="slide-item">
        <div [ngClass]="{'extra-margin-top': i==2}" class="title-div">
          <img *ngIf="slide.titleImg" src="{{imgUrl}}{{slide.titleImg}}" class="title-img" />
          <div class="title-txt">{{slide.title}}</div>
        </div>
        <img *ngIf="slide.img" class="img" src="{{imgUrl}}{{slide.img}}" alt="" width="100%">
        <div *ngIf="slide.imgTitle" class="img-title" >{{slide.imgTitle}}</div>
        <div *ngIf="slide.text" [ngClass]="{'extra-margin-top-18': i==2}" class="slide-txt">{{slide.text}}</div>
        <div *ngIf="slide.url" class="url-txt" (click)="externalLink(slide.url)">{{slide.urlTxt}}</div>
        <div *ngIf="slide.contact" class="contact-div">
          <div class="contact-txt">{{slide.contact}}</div>
          <div class="contact-tel-div">
            <img class="margin-right" src="{{imgUrl}}phone.svg">
            <a href="tel:{{slide.tel}}" onclick="return false;" class="contact-tel">{{slide.tel}}</a>
          </div>
          <div class="contact-email-div">
            <img class="margin-right" src="{{imgUrl}}email.svg">
            <a href="mailto:{{slide.email}}" target="_top" class="contact-email">{{slide.email}}</a>
          </div>
        </div>
      </div>
      <div *ngIf="i === 0" class="carousel-btn-div">
        <input type="image" src="{{imgUrl}}oval-active.svg" class="btn-margin-right" />
        <input type="image" src="{{imgUrl}}oval.svg" class="btn-margin-right" (click)="goToSlide(1)"/>
        <input type="image" src="{{imgUrl}}oval.svg" (click)="goToSlide(2)"/>
      </div>
      <div *ngIf="i === 0" class="btn-div">
        <div class="dismiss-txt" (click)="closePopup()">Dismiss</div>
        <input type="image" src="{{imgUrl}}forward.svg" (click)="nextSlide()" />
      </div>
      <div *ngIf="i === 1" class="carousel-btn-div">
        <input type="image" src="{{imgUrl}}oval.svg" class="btn-margin-right" (click)="goToSlide(0)"/>
        <input type="image" src="{{imgUrl}}oval-active.svg" class="btn-margin-right" />
        <input type="image" src="{{imgUrl}}oval.svg" (click)="goToSlide(2)"/>
      </div>
      <div *ngIf="i === 1" class="btn-div">
        <input type="image" src="{{imgUrl}}backward.svg" class="img-margin-right" (click)="prevSlide()" />
        <input type="image" src="{{imgUrl}}forward.svg" (click)="nextSlide()" />
      </div>
      <div *ngIf="i === 2" class="last-carousel-btn-div">
        <input type="image" src="{{imgUrl}}oval.svg" class="btn-margin-right" (click)="goToSlide(0)"/>
        <input type="image" src="{{imgUrl}}oval.svg" class="btn-margin-right" (click)="goToSlide(1)"/>
        <input type="image" src="{{imgUrl}}oval-active.svg" />
      </div>
      <div *ngIf="i === 2" class="last-btn-div">
        <input type="image" src="{{imgUrl}}backward.svg" class="img-margin-right" (click)="prevSlide()" />
        <div class="got-it-txt" (click)="closePopup()">Got it!</div>
      </div>
    </div>
  </ngx-slick>
</div>