@import '../../../variables';
@import '../../../mixins';

app-promo-code-modal {
  .modal-body {
    padding: 0px !important;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 460px;

    @include minPhabletmaxTablet {
      width: 500px;
    }

    @include minMobilemaxPhablet {
      position: fixed;
      top: 0px;
      width: 100%;
      height: 100%;
      border-radius: 0px;
    }

    .modal-body-message {
      display: flex;
      flex-direction:column;
      justify-content: space-between;
      height: calc(100% - 53.4px);
      padding: 0 20px;
      overflow-y: auto;
    }

    // CSS for promo-code-list
    .gray-bg {
      padding: 14px 20px;
      width: 450px;
      justify-content: space-between;
      @include allmobiles {
        padding: 14px 20px;
        width: 100vw;
      }
      .add-promo {
        font-size: 16px;
        @include allmobiles {
          display: none;
        }
        margin-right: 0px;
      }

      .div-container {
        max-width: 275px;
        @include allmobiles {
          width: 100%;
          max-width: 500px;
        }
      }

    }
    .active-promo-display {
      padding: 0 25px;
      @include allmobiles {
        padding: 0 20px 0 14px;
      }

      .promo-card {
        max-width: 450px;
      }

    }
    .promo-bg {
      border-radius: 6px;
    }
    // End CSS for promo-code-list
  }

  .promo-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 25px;

    @include allmobiles {
      padding: 15px 20px;
    }

    span {
      font-family: $muli-semi-bold;
      font-size: 22px;
      line-height: normal;
      letter-spacing: -0.23px;
      color: $persian-green-color;

      @include allmobiles {
        font-family: $muli-bold;
        font-size: 18px;
        letter-spacing: -0.19px;
        color: $teal-color;
      }
    }

    img:nth-of-type(1) {
      width: 16px;
      cursor: pointer;

      @include desktop {
        display: none;
      }
    }

    img:nth-of-type(2) {
      width: 18px;
      cursor: pointer;
      @include allmobiles {
        visibility: hidden;
      }
    }
  }
}