<app-intro-screen [title]="title" [description]="description" [img]="img" [tab]="tab" [description2]="description2">
</app-intro-screen>
<div class="back-btn hidden-lg" (click)="goBack()"></div>
<div class="step2-block">
    <div class="container-fluid max-width--1024 investment">
            <button class="btn btn-proceed btn__footer--fixed width100" (click)="goNext()"  id="getStartedStep2Btn">
              {{'GETSTARTED_STEP1.PROCEED' | translate}}
            </button>
          </div>
</div>