<div class="container-fluid">

  <div class="content">
    <form id="myFinancialsForm" name="myFinancialsForm" [formGroup]="topForm">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="form-group-with-bg">
            <div class="form-group-with-bg--header">
              <div class="flex-row">
                <div class="flex-col-12">
                  <div class="form-group-with-bg--header-label" id="myFinancialLbl">1. Select Portfolio
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group-with-bg--content">
              <div class="flex-row">

                <div class="flex-col-12">


                  <div class="flex-col-12">
                    <div class="dropdown-control">
                      <div ngbDropdown>
                        <button [disabled]="isUserNationalitySingapore" class="btn btn-dropdown without-border grey" id="residentialAddress-country-drpdown"
                          ngbDropdownToggle>
                          <!-- {{topForm.controls.portfolio.value ? topForm.controls.portfolio.value :'Select Portfolio'}} -->
                          select Portfolio
                        </button>
                        <div class="dropdown" ngbDropdownMenu aria-labelledby="courseDropdown">
                          <button class="dropdown-item" *ngFor="let portfolio of portfolioList; let i = index;" (click)="setDropDownValue('portfolio',portfolio.name)"
                            id="residentialAddress-country-option-{{i}}">{{portfolio.name}}</button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>


      <div class="row second-section">
        <div class="col-lg-12 col-md-12">

          <div class="form-group-with-bg">

            <div class="form-group-with-bg--header">
              <div class="flex-row">
                <div class="flex-col-12">
                  <div class="form-group-with-bg--header-label" id="MyFinacialInvestmentLbl">2. Enter Investment Amount

                  </div>
                </div>

              </div>
            </div>

            <div class="form-group-with-bg--content">


              <!-- <div class="flex-row">

                <div class="flex-col-12">
                  <div class="btn-group-toggle" ngbRadioGroup name="radioGender"  formControlName="investment">
                    <div class="flex-row mb0">
                      <div class="flex-col-6">
                        <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm mr10 " id="invPersInfoLbl2">
                          <input ngbButton type="radio" value="One-time Investment" (change)="setInvestmentType('One-time Investment')">
                          <div class="row">
                            <div class="input-label-white">One-time Investment</div>
                            <div class="input-label-normal">Min. $100</div>
                          </div>
                        </label>
                      </div>
                      <div class="flex-col-6">
                        <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm " >
                          <input ngbButton type="radio" value="Monthly Investment" (change)="setInvestmentType('Monthly Investment')">
                          <div class="row">
                            <div class="input-label-white">Monthly Investment</div>
                            <div class="input-label-normal ">Min. $50</div>
                          </div>


                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                </div> -->



              <!-- radio button -->
              <div class="special-radio-button hidden" *ngFor="let investmenttype of investmentTypeList; let i = index">
                <input id="investmenttype_{{i+1}}" (change)="selectedInvestment(investmenttype)" value={{investmenttype.name}} formControlName="Investment"
                  name="Investment" type="radio" class="field radio" tabindex="{{i+1}}" />
                <label for="investmenttype_{{i+1}}">
                  <div class="input-label-white mb10">{{investmenttype.name}}</div>
                  <div class="input-label-normal">Min. ${{investmenttype.value}}</div>
                </label>
              </div>

              <!-- Onetimeinvestment -->
              <div class="flex-row" *ngIf="showOnetimeInvestmentAmount">

                <div class="flex-col-12">
                  <div class="form-control">
                    <i id="myFinancialDollerSymbThree">$</i>
                    <div name="totalLiabilities">
                      <input class="input-control" type="text" appCurrencyInput maxLength="7" 
                      #oneTimeInvestmentAmount value="0" 
                      formControlName="oneTimeInvestmentAmount"
                        (keyup)="validateAmonut(topForm.controls.oneTimeInvestmentAmount.value)">
                    </div>
                  </div>
                </div>
              </div>
              <!-- Monthlyinvestment -->

              <div class="flex-row mb10" *ngIf="showmonthlyInvestmentAmount">

                <div class="flex-col-12">

                  <div class="form-control form-control-right">
                    <i id="topup_symb">$</i>

                    <input type="text" class="input-control" 
                    appCurrencyInput maxLength="7 "
                     #MonthlyInvestmentAmount value="0" 
                     formControlName="MonthlyInvestmentAmount">
                    <i class="right year">/ mth</i>
                  </div>
                </div>
              </div>


              <p class="balance-amount mb10">Cash Account Balance: {{balanceAmount | currency:'USD':'symbol-narrow':'1.0-2'}}</p>
              <p class="topupportfolio-amount" *ngIf="topupportfolio">Please top up {{topupportfolioamount | currency:'USD':'symbol-narrow':'1.0-2'}}</p>

            </div>

          </div>
          <button type="button" (click)="goToNext(topForm)" class="btn btn__footer--fixed btn-primary width100" id="myFinancialGoNextBtn">{{ 'LABEL.CONTINUE' | translate}}</button>

        </div>
      </div>
    </form>
  </div>
</div>