<div class="form-group settings-block">
  <div class="flex-row mb0 settings-header">
    <div class="title flex-col-12">
      {{ 'SETTINGS.TITLE' | translate}} <div> <button aria-label="Close" class="close" id="modalBtn" type="button" (click)="close()"><span
            aria-hidden="true"></span></button></div>
    </div>
  </div>
  <div class="flex-row">
    <div class="flex-col-3">
      <label for="name">{{ 'SETTINGS.SORT_BY' | translate}} </label>
    </div>
    <div class="flex-col-9">
      <div class="dropdown-control">
        <div ngbDropdown id="dependentDropDown">
          <button class="btn btn-dropdown" id="dropdownBasic1" ngbDropdownToggle>
            <span class="dependent-count">{{defaultSort.displayText}}</span>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button type="button" class="dropdown-item" *ngFor="let item of sort;" (click)="setSort(item)">
              {{item.displayText}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-col" [hidden]="filter.filterTypes.length === 1 && filter.allBtn" *ngFor="let filter of filters; let p_index = index">
    <label>
      <div>
        <div class="input-label-normal with-help-icon">{{filter.title}}
          <span [hidden]="!filter.toolTip" class="help-icon" (click)="showTooltip(filter.toolTip)"></span>
        </div>
      </div>
    </label>
    <div class="form-group-single-column mb0">
      <div class="checkbox-button two-label" *ngFor="let flr of filter.filterTypes; let c_index = index;">
        <input id="{{filter.title + '_' + c_index}}" type="checkbox" (change)="applyFilter(filter.name, flr.value, filter.allBtn, p_index, c_index)"
          class="field checkbox" [checked]="flr.checked">
        <label for="{{filter.title + '_' + c_index}}" id="tle + '_' + c_index}}Lbl">
          <div class="input-label-normal">{{flr.name ? flr.name : flr.value}}</div>
        </label>
      </div>
    </div>
  </div>
  <div class="settings-filter-btn-wrapper">
    <button class="hidden-lg btn btn-primary btn__footer--fixed" style="position: relative;" (click)="applyFilters()">{{ 'SETTINGS.APPLY_FILTERS' | translate}}</button>
  </div>
</div>
