@import '../../../variables';
@import '../../../_mixins.scss';

app-financial-details {
  .financial-details {
    .inline-error-inv {
      color: $inline-error-border-color;
      border: 1px solid $inline-error-border-color !important;
      color: $inline-error-border-color;
      input {
        color: $inline-error-border-color !important;
      }
    }
    label {
      font-size: 18px;
      font-family: $muli-semi-bold;
      padding-right: 10px;
    }
    .input-control {
      text-align: right;
      color: $text-color-secondary;
    }
    .step-indicator-container {
    
      padding: 20px 0px;
      position: relative;
      .container-fluid {
        padding-top: 0px;
        padding-bottom: 0px;
      }
      @include allmobiles{
        background-color: $white-color;
        padding: 10px 0px;
        top: 60px;
      }    
      @include stepindicator-desktop-extraspace;
    }
    .container-fluid {
      padding-top: 16px;
      @include allmobiles{
      padding-top: 80px;
    }
  }
    .form-control {
      &.with-button {
        padding: 0.5rem;
        padding-left: 0.8rem;
        input {
          margin-top: 6px;
        }
      }
    }
    .btn {
      &:disabled {
        color: $teal-color !important;
        -webkit-text-fill-color: $teal-color !important;
        background-color: $inv-btn-disabled-bg !important;
        opacity: 1 !important;
      }
    }
    .white-bg-checkbox {
      background-color: $white-color;
      padding: 10px 18px 10px 18px;
      border-radius: 6px;
      font-family: $muli;
      label {
        padding: 0px 0 0px 35px;
      }
      .option-row {
        margin-left: 0px;
      }
      .option-title {
        color: $black-color;
        font-size: 18px;
      }
      .option-desc {
        color: $dark-grey-color;
        font-family: $muli-semi-bold;
        font-size: 16px;
      }
    }
    .dropdown-menu.show {
      right: 0 !important;
      overflow: auto;
      height: auto;
      max-height: 190px;
    }
    .dropdown-item {
      white-space: normal;
      word-break: break-word;
    }
    .dropdown-control .btn-dropdown {
      padding-right: 27px;
      max-height: 52px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .btn__footer--fixed {
      font-family: $muli-bold !important;
    }
  }
}
