<div class="flex-row custom-radio-btn" [class]="flexRowMarPadClass">
  <div [class]="flexColumns" *ngFor="let radioObj of radioLabelValue">
    <label class="btn" [ngClass]="[_defaultLabelStyleClass, formControl.value === radioObj.value ? 'active' : '', radioObj.conditionalClass ? radioObj.conditionalClass?.applyClass : '', disabled === true ? 'disabled' : '']">
      <input type="radio" [value]="radioObj.value" [formControl]="formControl" [name]="name">
      {{radioObj.name}}
    </label>
  </div>
</div>