<div class="container-fluid">
  <div class="content">
    <div class="row">
      <div class="col-lg-12 col-md-12">

        <form id="personalInfoForm" name="personalInfoForm" [formGroup]="personalInfoForm">
          <div class="form-group">
            <div class="flex-row">
              <div class="flex-col-5">
                <label for="name">{{ 'PERSONAL_INFO.BORN_ON' | translate}}</label>
              </div>
              <div class="flex-col-7">
                <div class="datepicker-control">
                  <div class="input-group date-picker" [ngClass]="{'inline-error': !personalInfoForm.get('dateOfBirth').valid && !personalInfoForm.get('dateOfBirth').pristine}">
                    <input readonly class="form-control" placeholder="DD / MM / YYYY" formControlName="dateOfBirth" name="dp" ngbDatepicker #d="ngbDatepicker"
                      required>
                    <div class="input-group-append">
                      <button (click)="d.toggle()" class="btn btn-primary" type="button">
                        <img class="date-picker-image--valid" *ngIf="personalInfoForm.get('dateOfBirth').valid || personalInfoForm.get('dateOfBirth').pristine" src="./assets/images/calendar-normal.svg"
                        />
                        <img class="date-picker-image--invalid" *ngIf="!personalInfoForm.get('dateOfBirth').valid && !personalInfoForm.get('dateOfBirth').pristine"
                          src="./assets/images/calendar-error.svg" />
                      </button>

                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>

          <hr/>

          <div class="form-group" style="position: relative;">
            <div class="form-group-with-bg--content">
              <div class="investmentSlider">
                <nouislider #ciMultiplierSlider (slide)="onSliderChange($event)" [config]="ciSliderConfig" [tooltips]="false" [min]="sliderMinValue"
                  [max]="sliderMaxValue" [step]="1" [tooltips]="[ true ]" data-toggle="tooltip" data-placement="bottom"></nouislider>
              </div>
            </div>
            <div class="pointer-container">
                <div class="pointer"></div>
              </div>
          </div>


          <div class="callout">
            

            <div *ngIf="!personalInfoForm.controls.investmentPeriod.value">
                <h5>{{ 'PERSONAL_INFO.SELECT_INVESTMENT_HEAD' | translate}} </h5>
                  <p>{{ 'PERSONAL_INFO.SELECT_INVESTMENT_DESC' | translate}}</p>
            </div>

            <div *ngIf="personalInfoForm.controls.investmentPeriod.value">
              <h5>{{ 'PERSONAL_INFO.I_WANT_INVEST_LBL' | translate}}
                <span class="period-count">{{personalInfoForm.controls.investmentPeriod.value}}</span>&nbsp;Years</h5>
              <p>{{ sliderDesc }}</p>
            </div>
          </div>
          <div>
            <button type="button" [disabled]="!personalInfoForm.controls.investmentPeriod.value" (click)="goToNext(personalInfoForm)" class="btn btn__footer--fixed btn-ftr-get-started btn-primary width100"
              id="getStrdBtn3">{{ 'LABEL.CONTINUE' | translate}}</button>
          </div>
        </form>


      </div>
    </div>
  </div>
</div>
