@import '../../../../variables';
@import '../../../../mixins';

app-your-financials {
  h2{
    font-size:30px !important;
    margin-bottom: 15px;
  }
  .container-fluid {
   // padding-top: 70px;
  @include minPhabletmaxTablet{
   padding-top: 70px;
  }
}
  .banner-image{
    img{
      padding-top: 0;
    }
  }
  .fixed-btn--sm {
    border: 1px solid $fixed-btn-brdr-color;
    color: $teal-color;
    font-size: 16px;
    font-family: $muli-regular;
    font-weight: normal !important;
    padding: 0.9rem;
    height: 50px;
  }

  .fixed-btn--sm.active {
    border: 1px solid $white-color !important;
    color: $white-color !important;
    background: $app-backgrnd-color !important;
  }

  .form-group-with-bg--header-label {
    font-weight: 400;
  }

  .form-group-with-bg--content-sub-label {
    font-weight: 400;
  }

  .form-group-with-bg--content-label {
    font-weight: 400;
    line-height: 22px;
  }
  .emergency-fund{
    width: 208px !important;
    .flex-col-12{
      .btn-group--toggle{
        .flex-row{
          .flex-col-6{
            max-width: 99px !important;
            .btn-outline-primary{
              background: $bond-container-bg;
              &:hover{
                background: transparent;
                color: $teal-color;
              }
            }
          }
        }   
      }
    }
  }
  

  .tooltip-icon {
    background: url('/assets/images/tooltip-icon.svg') no-repeat;
    height: 20px;
    width: 20px;
    cursor: pointer;
    display: block;
  }

  .form-control {
    &.form-control-right {
      input {
        padding-right: 20px;
      }
    }
  }

  .btn {
    &:hover {
      background-color: $btn-disabled-light-bg;
    }
    &:disabled {
      background-color: $btn-disabled-light-bg;
      color: $disabled-teal-color;
    }
    &.btn__footer--fixed {
      font-family: $muli-bold !important;
    }
  }
}

.modal {
  @include allmobiles {
    .modal-body {
      b {
        color: $form-block-sub-title-color;
        font-family: $muli-bold;
      }
    }
  }
}
