<div class="container-fluid max-width--1024">
  <div class="content">
    <div class="row">
      <div class="col-lg-7 col-md-6 hidden-sm-md">
        <h2>Your Financials</h2>
        <h6>{{ 'MY_FINANCIALS.HOW_MUCH_INVEST' | translate}}</h6>
        <div class="banner-image">
          <img src="assets/images/portfolio/investment-amount.svg" />
        </div>
      </div>
      <div class="col-lg-5 col-md-6">
        <form id="myFinancialForm" name="myFinancialForm" [formGroup]="myFinancialForm">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="form-group-with-bg">
                <div class="form-group-with-bg--header">
                  <div class="flex-row">
                    <div class="flex-col-12">
                      <div class="form-group-with-bg--header-label" id="myFinancialLbl">
                        {{ 'MY_FINANCIALS.MY_FINANCIALS_LBL' | translate}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group-with-bg--content">
                  <div class="flex-row">
                    <div class="flex-col-6">
                      <div class="form-group-with-bg--content-label" for="name" id="myFinancialMonthlyIncomeParentLbl">
                        <span
                          id="myFinancialMonthlyIncomeLbl1">{{ 'MY_FINANCIALS.MONTHLY_INCOME_LBL' | translate}}</span>
                        <div class="form-group-with-bg--content-sub-label" id="myFinancialMonthlyIncomeLbl">
                          {{ 'MY_FINANCIALS.MONTHLY_INCOME_SUB_LBL' | translate}}
                        </div>
                      </div>
                    </div>
                    <div class="flex-col-6">
                      <div class="form-control">
                        <i id="myFinancialDollarSybmOne">$</i>
                        <div name="monthlyIncome">
                          <input class="input-control" type="text" id="myFinancialMonthlyIncomeInput"
                            appCurrencyInputPortfolio maxLength="7" #monthlyIncome formControlName="monthlyIncome"
                            value="0">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex-row">
                    <div class="flex-col-6">
                      <div class="form-group-with-bg--content-label" for="name" id="myFinancialSavedIncomeLbl">
                        {{ 'MY_FINANCIALS.SAVED_INCOME_LBL' | translate}}</div>
                    </div>
                    <div class="flex-col-6">
                      <div class="form-control form-control-right">
                        <div name="percentageOfSaving" >
                          <input class="input-control" id="myFinancialSavedIncomeInput" type="text" appPercentageInput
                            maxLength="3" #percentageOfSaving formControlName="percentageOfSaving" value="0">
                          <i id="myFinancialPersentage" class="right">%</i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex-row">
                    <div class="flex-col-6">
                      <div class="form-group-with-bg--content-label" for="name" id="myFinancialTotalAssetLbl">
                        <span id="myFinancialTotalAssetsLbl1">{{ 'MY_FINANCIALS.TOTAL_ASSET_LBL' | translate}}</span>
                        <div class="form-group-with-bg--content-sub-label" id="myFinancialTotalAssetSubLbl">
                          {{ 'MY_FINANCIALS.TOTAL_ASSET_SUB_LBL' | translate}}
                        </div>
                      </div>
                    </div>
                    <div class="flex-col-6">
                      <div class="form-control">
                        <i id="myFinancialDollerSymbTwo">$</i>
                        <div name="totalAssets" >
                          <input class="input-control" type="text" id="myFinancialTotalAssetInput"
                            appCurrencyInputPortfolio maxLength="7" #totalAssets formControlName="totalAssets"
                            value="0">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex-row">
                    <div class="flex-col-6">
                      <div class="form-group-with-bg--content-label" for="name" id="myFinancialLoansLbl">
                        <span id="myFinancialTotalLoansLbl1">{{ 'MY_FINANCIALS.LOANS_LBL' | translate}}</span>
                        <div class="form-group-with-bg--content-sub-label" id="myFinancialLoansSubLbl">
                          {{ 'MY_FINANCIALS.LOANS_SUB_LBL' | translate}}
                        </div>
                      </div>
                    </div>
                    <div class="flex-col-6">
                      <div class="form-control">
                        <i id="myFinancialDollerSymbThree">$</i>
                        <div name="totalLiabilities" >
                          <input class="input-control" type="text" id="myFinancialLoansInput" appCurrencyInputPortfolio
                            maxLength="7" #totalLiabilities formControlName="totalLiabilities" value="0">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex-row">
                    <div class=flex-col-10>
                      <div class="form-group-with-bg--content-label" for="name" id="myFinancialQuestaion">
                        {{ 'MY_FINANCIALS.QUESTATION' | translate}}
                      </div>
                    </div>
                    <div class="flex-col-2">
                      <i class="tooltip-icon" id="myFinancialHelpIcon" (click)="showHelpModal()"></i>
                    </div>
                  </div>
                  <div class="flex-row emergency-fund">
                    <div class="flex-col-12">
                      <div class="btn-group--toggle" ngbRadioGroup name="radioGender"
                        formControlName="suffEmergencyFund">
                        <div class="flex-row space-between">
                          <div class="flex-col-6">
                            <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm" id="my_financial_yes_lab">
                              <input ngbButton type="radio" value="yes" id="my_financial_yes_btn">
                              {{ 'MY_FINANCIALS.LABEL_YES' | translate}}
                            </label>
                          </div>
                          <div class="flex-col-6">
                            <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm" id="my_financial_no_lab">
                              <input ngbButton type="radio" value="no" id="my_financial_no_btn">
                              {{ 'MY_FINANCIALS.LABEL_NO' | translate}} </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" (click)="goToNext(myFinancialForm)"
                class="btn btn__footer--fixed btn-primary width100"
                id="myFinancialGoNextBtn">{{ 'LABEL.CONTINUE' | translate}}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>