<div class="article-entry">
  <div class="article-entry__header">
    <div class="sub-navigation">
      <div class="sub-navigation--inner">
          <span routerLink="/">Home</span>
          <span class="separator"></span>
          <span>Articles</span>
          <span class="separator"></span>
          <span>{{category}}</span>
          <span class="separator"></span>
          <span>{{title}}</span>
          </div>
      </div>
    </div>
  <div class="article-entry__wrapper">
    
  </div>



</div>