@import '../../../variables';
@import '../../../mixins';

.article-entry{
    position: relative;
    display:flex; 
    width:100%;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-color:$white-color;
}
.article-entry__header{
    position: relative;
    display:block;
    width:100%;
    height:auto;
    padding:20px 0px 15px 0px;
    background-color:$white-color;
    @include minMobilemaxPhablet{
        padding:20px 0px 0px 0px;
    }
    .sub-navigation{
        position: relative;
        height:auto;
        @include minPhabletmaxTablet{
            padding-left:50px;
            padding-right:50px;
        }
        @include minMobilemaxPhablet{
            display:block;
            padding:0px 20px 0px 20px;
        }
        .sub-navigation--inner{
            padding-top:0px;
            @include minMobilemaxPhablet{
                span{
                    font-size:14px;
                    line-height:1.1;
                }
            }
        }
    }
}
.article-entry__wrapper{
    position: relative;
    display:flex;
    flex-direction:row;
    max-width:1024px;
    padding:20px 0px;
    width:100%;
    justify-content:space-between;
    @include minPhabletmaxTablet{
        justify-content:center;
    }
    @include minMobilemaxPhablet{
        flex-direction:column;
        justify-content: center;
        align-items: center;
        padding:10px 0px 20px;
    }
}
.article-entry__content{
    position: relative;
    display:block;
    width:calc(100% - 300px);
    color:$teal-color;
    background-color:$white-color;
    overflow:auto;
    @include minPhabletmaxTablet{
        width:calc(100% - 40px);
    }
    @include minMobilemaxPhablet{
        width:calc(100% - 40px);
    }

    .page-header{
        position: relative;
        display:flex;
        padding:20px 30px;
        flex-direction:column;
        @include minMobilemaxPhablet{
            padding:0px 0px 20px 0px;
        }
        .art-tag__container{
            position: relative;
            display:flex;
            top:5px;
            justify-content:flex-start;
            align-items:center;
            flex-wrap:wrap;
            z-index:2;
            .art-tag__element{
                position: relative;
                display:inline-block;
                width:auto;
                border-radius:4px;
                background-color:$white-color;
                border: 1px solid #e1e1e1;  
                color:$dark-teal-color;
                font-size:11px;
                font-family:$muli-semi-bold;
                padding:2px 5px;
                margin-right:5px;
                margin-bottom:5px;
                cursor: pointer;
                transition:0.2s;
                &:hover{
                    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3);
                    -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3);
                    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3); 
                    }
                }
            }
        .page-header--inner{
            position: relative;
            display:flex;
            margin:0px;
            margin-top:10px;
            flex-direction:row;
            justify-content:space-between;
            @include minMobilemaxPhablet{
                flex-direction:column;
                justify-content:flex-start;
                align-items: flex-start;
            }
            h1{
                flex-basis:calc(100% - 140px);
                font-family:$muli-semi-bold;
                @include minMobilemaxPhablet{
                    font-size:1.5rem;
                }
            }
            .author{
                position: relative;
                display:flex;
                flex-direction:column;
                width:130px;
                margin-left:20px;
                @include minMobilemaxPhablet{
                    margin-left:0px;
                    margin-top:10px;
                    flex-direction:row;
                    width:unset;
                }
                .author--img{
                    position: relative;
                    display:block;
                    width:80px;
                    height:80px;
                    border:1px solid $border-grey-color;
                    border-radius:50%;
                    overflow:hidden;
                    z-index:2;
                    @include minMobilemaxPhablet{
                        width:50px;
                        height:50px;
                    }
                    img{
                        position: absolute;
                        display:block;
                        height:100%;
                        top:50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index:1;
                        }
                    }
                .author-ded{
                    @include minMobilemaxPhablet{
                        margin-left:10px;
                        align-items:flex-end;
                    }
                }
                .author--name{
                    margin-top:10px;
                    font-size:13px;
                    border-bottom:3px solid $lighter-aqua-color;
                    a{ 
                        font-size:13px;
                        font-family:$muli-regular;
                        color:$black-color;
                    }
                }
                .date{
                    font-family:$muli-regular;
                    font-size:13px;
                    color:$teal-grey-color;
                }
            }
        }
    }
}
.article-entry__side-panel{
    position: relative;
    display:flex;
    flex-direction:column;
    width:280px;
    @include minPhabletmaxTablet{
        margin-top:20px;
        width:100%;
        padding:0px 20px;
    }
    @include minMobilemaxPhablet{
        margin-top:20px;
        width:100%;
        padding:0px 20px;
    }

    .related-side{
        position: relative;
        display: flex;
        flex-direction:column;
        margin-top:20px;
        width:100%;
        .related-side--title{
            position: relative;
            display:block;
            font-family:$muli-bold;
            color:$teal-color;
            font-size:18px;
            margin-bottom:10px;
        }
        .relate-side__card-container{
            position: relative;
            display:flex;
            flex-direction:column;
            @include minPhabletmaxTablet{
                flex-direction:row;
                justify-content:space-between;
            }
        }
    }
    
}
