<div class="article-entry">
  <div class="article-entry__header">
    <div class="sub-navigation">
      <div class="sub-navigation--inner">
          <span routerLink="/">Home</span>
          <span class="separator"></span>
          <span routerLink="/articles">Articles</span>
          <span class="separator"></span>
          <span routerLink="/articles/category/{{category}}">{{category}}</span>
          <span class="separator"></span>
          <span>This Article</span>
          </div>
      </div>
    </div>
  <div class="article-entry__wrapper row">
    <div class="article-entry__content">
      <div class="page-header">
        <div class="art-tag__container">
            <div class="art-tag__element"><i class="material-icons">local_offer</i>Protection</div>
            <div class="art-tag__element"><i class="material-icons">local_offer</i>Term Life</div>
          </div>
        <div class="page-header--inner">
          <h1>{{title}}</h1>
          <div class="author">
            <div class="author--img"> 
              <img src="assets/images/profile/chris.jpg">
            </div>
            <div class="author--name">
              By <a href="profile/chris">Christopher Tan</a> 
              </div>
            <div class="date">
              Jul 14, 2016
              </div>
          </div>
          </div>
      </div>
      <div class="page-box" [innerHtml]="art_content">

      </div>
        </div>
    <div class="article-entry__side-panel">
        <app-subscribe-side></app-subscribe-side>
        <div class="related-side">
          <p class="related-side--title">Related Articles:</p>
          <div class="relate-side__card-container">
            <div class="relate-side__card">
              <div class="related-card__img">
                <img src="../../../assets/images/temp/thumbnail.jpg"/>
                </div>
              <div class="related-card__desc">
                <a routerLink="/articles/entry/12" class="related-card--title">Understanding MediShield Life & What should you do (Part 1: MediShield Life in a Nutshell)</a>
                <a routerLink="/articles/entry/12">Read More <i class="material-icons">
                    keyboard_arrow_right
                    </i></a>
                </div>
              </div>
            <div class="relate-side__card">
              <div class="related-card__img">
                <img src="../../../assets/images/temp/thumbnail.jpg"/>
                </div>
              <div class="related-card__desc">
                <a routerLink="/articles/entry/12" class="related-card--title">Understanding MediShield Life & What should you do (Part 1: MediShield Life in a Nutshell)</a>
                <a routerLink="/articles/entry/12">Read More <i class="material-icons">
                    keyboard_arrow_right
                    </i></a>
                </div>
              </div>
            <div class="relate-side__card">
              <div class="related-card__img">
                <img src="../../../assets/images/temp/thumbnail.jpg"/>
                </div>
              <div class="related-card__desc">
                <a routerLink="/articles/entry/12" class="related-card--title">Understanding MediShield Life & What should you do (Part 1: MediShield Life in a Nutshell)</a>
                <a routerLink="/articles/entry/12">Read More <i class="material-icons">
                    keyboard_arrow_right
                    </i></a>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div> 