<div class="article-entry">
  <div class="article-entry__header">
    <div class="sub-navigation">
      <div class="sub-navigation--inner">
          <span routerLink="/">Home</span>
          <span class="separator"></span>
          <span>Articles</span>
          <span class="separator"></span>
          <span>{{category}}</span>
          <span class="separator"></span>
          <span>This Article</span>
          </div>
      </div>
    </div>
  <div class="article-entry__wrapper row">
    <div class="article-entry__content">
      <div class="page-header">
        <div class="art-tag__container">
            <div class="art-tag__element"><i class="material-icons">local_offer</i>Protection</div>
            <div class="art-tag__element"><i class="material-icons">local_offer</i>Term Life</div>
          </div>
        <div class="page-header--inner">
          <h1>{{title}}</h1>
          <div class="author">
            <div class="author--img"> 
              <img src="assets/images/profile/chris.jpg">
            </div>
            <div class="author--name">
              By <a href="profile/chris">Christopher Tan</a> 
              </div>
            <div class="date">
              Jul 14, 2016
              </div>
          </div>
          </div>
      </div>
      <div class="page-box" [innerHtml]="art_content">

      </div>
        </div>
      <app-subscribe-side></app-subscribe-side>
  </div>
</div> 