@import '../../../variables';
@import '../../../mixins';

app-insurance-myinfo-retrieval {
    .container-fluid {
        &.max-width--1024 {
            @include allmobiles {
                padding-top: 30px;
            }
        }
    }

    .insurance-data-wrapper__title {
        font-family: $muli-semi-bold;
        font-size: 36px;
        letter-spacing: -0.38px;
        line-height: 45px;
        text-align: left;

        @include allmobiles {
            font-size: 24px;
            margin-bottom: 20px;
            text-align: center;
        }
    }

    .insurance-data-wrapper__sub-title {
        font-size: 18px;
    }

    .insurance-max-width {
        padding: 0;
        max-width: 335px;
        margin-right: 15px;
        margin-left: auto;

        @include allmobiles {
            padding: 0 20px;
            max-width: 100%;
            margin: 0 auto;
        }
    }

    .insurance__header-icon {
        width: 100% !important;
        height: auto !important;
        margin-top: 109px;

        @include allmobiles {
            width: 170px !important;
            height: 155px !important;
            margin-bottom: 36px;
        }
    }

    .insurance-data-wrapper__description {
        
        .myinfo-header-block {
            padding: 20px;
            background: $white-color;
            border-radius: 6px;

            .check-icon {
                width: 24px;
                height: 24px;
                display: flex;
            }

            .title {
                font-family: $muli-semi-bold;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: -0.18px;
                color: $blue-stone-color;
            }

            hr {
                border: 1px solid $mercury-smoke-color;
                margin: 20px 0;
            }
        }

        .myinfo-data-block {

            .title {
                padding: 0 3px 10px 0;
                width: 100%;
                font-size: 14px;
                font-family: $muli-semi-bold;
                line-height: 22px;
                letter-spacing: -0.3px;
                color: $black-color;

            }
        }


        .myinfo-data-content {
            font-family: $muli-semi-bold;
            font-size: 14px;
            line-height: 22px;
            color: $dark-dusty-grey-color;
            margin-bottom: 10px;

            .data_lbl {
                color: $teal-color;
                font-family: $muli-semi-bold;
            }
        }

    }

    .note {
        padding: 20px 10px 10px 0;
        font-family: $muli-regular;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: -0.16px;
        color: $white-color;

        .lock-icon {
            width: 48px;
            height: 48px;
            display: flex;

            @include allmobiles {
                margin-left: 10px;
            }
        }

        .text-bold {
            font-family: $muli-bold;
            font-size: 13px;
        }
    }
}