<div class="container-fluid welcome-screen">
    <div class="form-container">
        <div class="owl-start">
            <img src="assets/images/welcome-journey/travel-owl.svg" class="owl-icon">
        </div>
        <div class="welcome-img-title">{{'GET_START.TITLE' | translate}}</div>
        <div class="sub-title-txt" [innerHtml]="'GET_START.SUB_TITLE' | translate"></div>
        <div class="page-btn">
            <div class="sub-text-black mr20">{{'GET_START.SUB_TEXT' | translate}}</div>
            <div class="ml10"><button type="button" class="btn btn-orange welcome-btn" routerLink="/welcome-journey/welcome-tell-about-you">{{'GET_START.CONT_BTN' | translate}}</button></div>
        </div>
    </div>
</div>