<div class="modal-body white-bg">
  <div class="modal-body-title" id="fund-details-title">{{'FUND_DETAILS.TITLE' | translate}}</div>
  <button type="button" class="close" aria-label="Close" (click)="close()" id="fund-details-close_button">
    <span aria-hidden="true"></span>
  </button>
  <!--  Bank Transfer: -->
  <div class="fund-details-content">
    <div class="dimentional">
      <div class="img-container">
        <img src="assets/images/dimensional.png" id="fund-details-img" />
      </div>
    </div>
    <div *ngFor="let fund of fundDetails.funds; let i = index; let j = index;" #i id="fund-details-{{i}}">{{fundDetails.fund}}
      <div (click)=showHide(i) id="fund-details-arrow">
        <div class="fund-heading" [class.active]="j === 0" id="fund-details-heading_{{i}}">
          {{fund.name}}
          <span class='arrow' [class.active]="j === 0" id="fund-details-arrow">
          </span>
        </div>
      </div>
      <div class="funding-content" [class.first]="j === 0" id="fund-details-content_{{j}}">
        <!-- {{fund.htmlDesc}} -->
        The fund is managed on a discretionary basis and primarily invests in shares of companies listed on the principal stock exchanges
        in developed countries around the world. The fund has a general exposure to the market with a greater allocation
        to shares of smaller sized companies and value companies. Value companies are defined as companies where, at the
        time of purchase, the share price is low compared to the accounting value of the company.
        <a download href="../../../assets/banks/instructions/5027.pdf" class="btn btn-primary width100 mt20" id="fund_details_download_btn_{{j}}">Download Highlight Sheet</a>
        <!-- <a download href="../../../assets/docs/portfolio/fund/{{fund.factSheetLink}}" class="btn btn__footer--fixed btn-primary width100" id="fundDetailsBtnOne" >{{'FUND_DETAILS.DOWNLOAD_FACTSHEET' | translate}}</a> -->
      </div>

    </div>
    <a download href="../../../assets/banks/instructions/5027.pdf" class="btn btn-orange width100" id="fund_details_download_prospectus">Download Product Prospectus</a>
    <!-- <a download href="../../../assets/docs/portfolio/fund/{{fund.highlightSheetLink}}" class="btn btn__footer--fixed btn-primary width100" id="fundDetailsBtnTwo" >{{'FUND_DETAILS.DOWNLOAD_HIGHLIGHT_FACTSHEET' | translate}}</a> -->
  </div>
</div>