<div class="modal-body white-bg">
  <div class="modal-body-title">
    <div id="errorModeltitle">{{'MY_INFO_FIELDS.MY_INFO_MODAL.TITLE' | translate}}
      <span class="lock"><img src="assets/images/lock.svg"></span>
    </div>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true" id="errorModelCloseIcon"></span>
  </button>

  <div class="modal-body-message " id="errorModelMessage">
    <div class="text-bold">{{'MY_INFO_FIELDS.MY_INFO_MODAL.DESC' | translate}}</div>
    <div class="text-bold  mb30">{{'MY_INFO_FIELDS.MY_INFO_MODAL.OWN_ACC_TEXT' | translate}}</div>
    <div class="myinfo-txt mb30">{{'MY_INFO_FIELDS.MY_INFO_MODAL.MY_INFO_DESC' | translate}}</div>
    <div class="myinfo-data-block">
      <form [formGroup]="myInfoEnableForm">
        <ngb-accordion #acc="ngbAccordion">
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <div class="flex space-between">
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.PERSONAL.TITLE' | translate}}</div>
                <div><i class='arrow'></i></div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="myinfo-data-content">
                <div *ngIf="!(unAccessedAttributes.length > 0 && unAccessedAttributes.includes('name'))">
                  {{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.PERSONAL.NAME_TEXT' | translate}}
                </div>
                <div *ngIf="!(unAccessedAttributes.length > 0 && unAccessedAttributes.includes('sex'))">
                  {{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.PERSONAL.SEX_TEXT' | translate}}</div>
                <div *ngIf="!(unAccessedAttributes.length > 0 && unAccessedAttributes.includes('dob'))">
                  {{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.PERSONAL.DOB_TEXT' | translate}}</div>
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.PERSONAL.NRIC_TEXT' | translate}}
                </div>
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.PERSONAL.RESIDENCE_TEXT' | translate}}
                </div>
              </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <div class="flex space-between">
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.FAMILY.TITLE' | translate}}</div>
                <div><i class='arrow'></i></div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="myinfo-data-content">
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.FAMILY.CHILD.NAME' | translate}}</div>
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.FAMILY.CHILD.DOB_TEXT' | translate}}
                </div>
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.FAMILY.CHILD.GENDER_TEXT' |
                                    translate}}
                </div>
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.FAMILY.CHILD.LIFE_STATUS_TEXT' |
                                    translate}}</div>
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.FAMILY.SPONSORED_CHILD.NAME' |
                                    translate}}
                </div>
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.FAMILY.SPONSORED_CHILD.DOB_TEXT' |
                                    translate}}</div>
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.FAMILY.SPONSORED_CHILD.GENDER_TEXT' |
                                    translate}}</div>
                <div>
                  {{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.FAMILY.SPONSORED_CHILD.RESIDENTIAL_TEXT'
                                    |
                                    translate}}</div>
                <div>
                  {{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.FAMILY.SPONSORED_CHILD.LIFE_STATUS_TEXT'
                                    |
                                    translate}}</div>
              </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <div class="flex space-between">
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.PROPERTY.TITLE' | translate}}</div>
                <div><i class='arrow'></i></div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="myinfo-data-content">
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.PROPERTY.HDB_TEXT.PURCHASE_DATE_TEXT'
                                    |
                                    translate}}</div>
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.PROPERTY.HDB_TEXT.LOAN_TEXT' |
                                    translate}}
                </div>
                <div>
                  {{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.PROPERTY.HDB_TEXT.OUTSTANDING_LOAN_TEXT'
                                    |
                                    translate}}</div>
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.PROPERTY.HDB_TEXT.MONTHLY_LOAN_TEXT' |
                                    translate}}</div>
              </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <div class="flex space-between">
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.INCOME_BREAKDOWN.TITLE' | translate}}
                </div>
                <div><i class='arrow'></i></div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="myinfo-data-content">
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.INCOME_BREAKDOWN.EMPLOYMENT_TEXT' |
                                    translate}}</div>
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.INCOME_BREAKDOWN.TRADE_TEXT' |
                                    translate}}
                </div>
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.INCOME_BREAKDOWN.RENT_TEXT' |
                                    translate}}
                </div>
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.INCOME_BREAKDOWN.INTEREST_TEXT' |
                                    translate}}</div>
              </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <div class="flex space-between">
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.ASSESSMENT_NOTICE.TITLE' | translate}}
                </div>
                <div><i class='arrow'></i></div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="myinfo-data-content">
                <div>
                  {{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.ASSESSMENT_NOTICE.ASSESSMENT_YEAR_TEXT'
                                    |
                                    translate}}</div>
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.ASSESSMENT_NOTICE.TYPE_TEXT' |
                                    translate}}
                </div>
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.ASSESSMENT_NOTICE.INCOME_TEXT' |
                                    translate}}</div>
              </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <div class="flex space-between">
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.CPF_ACC_BAL.TITLE' | translate}}</div>
                <div><i class='arrow'></i></div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="myinfo-data-content">
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.CPF_ACC_BAL.ORDINARY_ACC_TEXT' | translate}}</div>
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.CPF_ACC_BAL.SPECIAL_ACC_TEXT' |
                                    translate}}</div>
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.CPF_ACC_BAL.MEDISAFE_ACC_TEXT' |
                                    translate}}</div>
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.CPF_ACC_BAL.RETIREMENT_ACC_TEXT' |
                                    translate}}</div>
              </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <div class="flex space-between">
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.CPF_HOUSING.TITLE' | translate}}</div>
                <div class="flex space-between">
                  <label class="switch">
                    <input type="checkbox" formControlName="cpfHousingFlag">
                    <span class="slider round"></span>
                  </label><i class='arrow'></i>
                </div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="myinfo-data-content">
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.CPF_HOUSING.WITHDRAWAL_ACC_TEXT' |
                                    translate}}</div>
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.CPF_HOUSING.MONTHLY_EMI_TEXT' |
                                    translate}}</div>
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.CPF_HOUSING.INTEREST_TEXT' |
                                    translate}}
                </div>
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.CPF_HOUSING.CPF_AMOUNT_TEXT' |
                                    translate}}
                </div>
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.CPF_HOUSING.WITHDRAWAL_ADDRESS' |
                                    translate}}
                </div>
              </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <div class="flex space-between">
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.VEHICLES.TITLE' | translate}}</div>
                <div class="flex space-between">
                  <label class="switch">
                    <input type="checkbox" formControlName="vehicleFlag">
                    <span class="slider round"></span>
                  </label>
                  <i class='arrow'></i>
                </div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="myinfo-data-content">
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.VEHICLES.REGISTRATION_DATE_TEXT' |
                                    translate}}</div>
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.VEHICLES.EXPIRY_DATE_TEXT' |
                                    translate}}
                </div>
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.VEHICLES.MARKET_VALUE_TEXT' |
                                    translate}}
                </div>
                <div>{{'MY_INFO_FIELDS.MY_INFO_MODAL.MODAL_ATTR.VEHICLES.VEHICLE_STATUS_TEXT' |
                                    translate}}</div>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </form>
    </div>
    <div class="mt30">{{'MY_INFO_FIELDS.MY_INFO_MODAL.PROCEED_QUEST' | translate}}</div>
  </div>
  <div class="row">
    <div class="col-12" *ngIf="primaryActionLabel">
      <button type="button" class="action-button modal-btn-disabled" (click)="primaryActionSelected()"
        id="errorModeButton" [disabled]="disablePrimaryBtn">
        {{primaryActionLabel}}
      </button>
    </div>
  </div>

</div>
