@import '../../../../variables';
@import '../../../../mixins';
app-withdrawal {
  h2{
    font-size:30px !important;
    margin-bottom: 15px;
    @include allmobiles{
      font-size: 21px;
    }
  }
  .faq_link {
    font-family: $muli-semi-bold;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.2px;
    text-align: center;
    padding: 21px 0 105px;
    a {
      color: #a7f3f1;
     }
  }
  .withdraw {
    .dropdown-control .btn-dropdown {
      padding-right: 26px !important ;
    }
    .dropdown-control .dropdown-menu.show {
      right: 0 !important;
      overflow: auto;
    }
    .dropdown-item {
      white-space: normal;

      &.hide {
        display:none;
      }
    }
    .amount-panel {
      padding: 30px;
      background-color: $withdrawal-amount-panel-bg-color;
      border-radius: 6px;
      .input-control {
        font-size: 22px;
      }
    }
    .withdrawal-amount-lbl {
      font-size: 18px;
      font-family: $muli-semi-bold;
      color: $white-color;
    }
    .cash-balance {
      border-top: 1px solid $white-color;
      padding-top: 19px;
      margin-top: 23px;
      font-size: 16px;
      color: $withdrawal-cash-balance-color;
      justify-content: space-between;
    }
    .btn__footer--fixed {
      font-size: 22px;
      font-family: $muli-bold !important;
    }
    .withdraw-error {
      padding-left: 30px;
      position:relative;

      img {
        position:absolute;
        left:0px;
        top:5px;
      }
      span {
        font-family: $muli-italic;
        color:#fff;
        font-size: 16px;
        line-height: 21px;
      }
    }
  }
  .max-width {
    @include allmobiles{
      max-width: 100%;
    }
  }
  .capital-letter {
    text-transform: capitalize;
  }
  .max-width.col-lg-6.col-md-6 {
    padding: 0;
    @include allmobiles {
      padding: 0 15px;
    }
  }
  .srs-div {
    background-color: $white-color;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
    @include allmobiles {
      width: 100vw;
      margin-left: -20px;
      margin-top: -20px;
      border-radius: 0px;
    }
    img {
      width: 16px;
      height: auto;
      margin-right: 10px;
    }
    .srs-note {
      font-family: $muli-italic;
      font-size: 13px;
      line-height: normal;
      letter-spacing: -0.14px;
      color: $dark-grey-color;
      a {
        font-family: $muli-italic;
        font-weight: bold;
        color: $crusta-orange-color;
      }
    }
  }
}
