<div class="why-buy__wrapper">
  <div class="about-us__header">
    <div class="about-us__header--bg">
      </div>
    <div class="about-us__header--inner"> 
      <div class="sub-navigation">
        <div class="sub-navigation--inner">
            <span routerLink="/">Home</span>
            <i class="material-icons">keyboard_arrow_right</i>
            <span routerLink="/about-us">About Us</span>
            <i class="material-icons">keyboard_arrow_right</i>
            <span>Why Buy from MoneyOwl</span>
          </div>
        </div>
      <div class="header--title">
        <h1>{{'WHY_BUY.TITLE' | translate}}</h1>
        </div>
      </div>
    </div>
    <div class="why-buy__container">
      <div class="why-buy__header">
          <h2>{{'WHY_BUY.GENERAL.HEADER.TITLE' | translate}}</h2>
          <p [innerHTML]="headerDesc"></p>
      </div>
      <div class="why-buy__content">
        <div class="why-buy__element">
          <img src="/assets/images/value_prop/mas-licensed.svg"/>
          <div class="why-buy__text">
            <h3>{{'WHY_BUY.GENERAL.VALUE_PROP.MAS_LICENSED.LABEL' | translate}}</h3> 
            <p>
              {{'WHY_BUY.GENERAL.VALUE_PROP.MAS_LICENSED.DESCRIPTION' | translate}}
              </p>
            </div>
          </div>
        <div class="why-buy__element">
          <img src="/assets/images/value_prop/high-tech.svg"/>
          <div class="why-buy__text">
            <h3>{{'WHY_BUY.GENERAL.VALUE_PROP.HIGH_TECH.LABEL' | translate}}</h3> 
            <p>
              {{'WHY_BUY.GENERAL.VALUE_PROP.HIGH_TECH.DESCRIPTION' | translate}}
              </p>
            </div>
          </div>
        <div class="why-buy__element">
          <img src="/assets/images/value_prop/salary-advice.svg"/>
          <div class="why-buy__text">
            <h3>{{'WHY_BUY.GENERAL.VALUE_PROP.NON_COMMISSIONED.LABEL' | translate}}</h3> 
            <p>
              {{'WHY_BUY.GENERAL.VALUE_PROP.NON_COMMISSIONED.DESCRIPTION' | translate}}
              </p>
            </div>
          </div>
        <div class="why-buy__element">
          <img src="/assets/images/value_prop/national.svg"/>
          <div class="why-buy__text">
            <h3>{{'WHY_BUY.GENERAL.VALUE_PROP.INTEGRATE_SCHEMES.LABEL' | translate}}</h3> 
            <p>
              {{'WHY_BUY.GENERAL.VALUE_PROP.INTEGRATE_SCHEMES.DESCRIPTION' | translate}}
              </p>
            </div>
          </div>
        <div class="why-buy__element">
          <img src="/assets/images/value_prop/secure.svg"/>
          <div class="why-buy__text">
            <h3>{{'WHY_BUY.GENERAL.VALUE_PROP.SECURE_PLATFORM.LABEL' | translate}}</h3> 
            <p>
              {{'WHY_BUY.GENERAL.VALUE_PROP.SECURE_PLATFORM.DESCRIPTION' | translate}}
              </p>
            </div>
          </div>
        </div>
    </div>
</div> 