<div class="confirm-portfolio">
  <div class="step-indicator-container">
    <div class="container-fluid">
      <app-step-indicator [count]="7" [activeStepIndex]="5"></app-step-indicator>
    </div>
  </div>
  <div class="container-fluid">
    <div class="content">

      <div class="portfolio-short-desc">
        <span>
          <span id="portfolio_portfolioValue_lbl">{{ 'CONFIRM_PORTFOLIO.PORTFOLIO_VALUE_FOR' | translate }} </span>
          <span class="strong" id="portfolio_oneTimeInvValue_lbl">$120,000</span>&nbsp;<span class="strong" id="portfolio_oneTimeInv_lbl">{{ 'CONFIRM_PORTFOLIO.ONE_TIME_INVESTMENT' |
            translate }}</span> {{ 'CONFIRM_PORTFOLIO.AND' | translate }} <span class="strong" id="portfolio_monthInvValue_lbl">$800</span>
          <span class="strong" id="portfolio_monthInv_lbl"> {{ 'CONFIRM_PORTFOLIO.MONTHLY_INVESTMENT' | translate }}</span> {{
          'CONFIRM_PORTFOLIO.FOR' | translate }} <span class="strong" id="portfolio_tenureValue_lbl">{{ portfolio.tenure}}</span> {{
          'CONFIRM_PORTFOLIO.YEARS' | translate }}
        </span>
      </div>

      <div class="portfolio-detail">
        <div class="portfolio-head">
          <span id="portfolio_riskProfile_lbl">Conservative</span>
        </div>

        <div class="portfolio-content">
          <div class="projection">
            <div class="graph">
              <img src="../../../assets/images/investment-account/projection_graph.svg" alt="" />
              <div class="graph-caption">
                <span id="portfolio_projectedValueCaption_lbl">{{ 'CONFIRM_PORTFOLIO.PROJECTED_VALUE' | translate }}</span> <br />
                {{ 'CONFIRM_PORTFOLIO.IN' | translate }} <span class="strong"><span id="portfolio_tenureYearValue_lbl">{{ portfolio.tenure}}</span> {{
                  'CONFIRM_PORTFOLIO.YEARS' | translate}}</span>
              </div>
              <div class="growth-icon">
                <img src="../../../assets/images/investment-account/growth_icon.svg" alt="" />
              </div>
            </div>
            <div class="values">
              <div class="amount">
                <div>$<span id="portfolio_projectedValueValue_lbl">{{portfolio.projectedValue}}</span></div>
                <span class="editLink" (click)="openEditInvestmentModal()">Edit</span>
              </div>
              <div class="year">
                <span>{{ 'CONFIRM_PORTFOLIO.YEAR' | translate }}</span>
                <span id="portfolio_projectedYearValue_lbl">2048</span>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="projected-returns">
        <div class="caption">
          <span class="title">
            {{ 'CONFIRM_PORTFOLIO.PROJECTED_RETURNS' | translate}}
            <img src="../../../assets/images/help-icon.png" alt="" />
          </span>
          <span class="whatsrisk">{{ 'CONFIRM_PORTFOLIO.WHATS_THE_RISK' | translate}}</span>
        </div>
        <div class="percentage" id="portfolio_projectedReturnsValue_lbl">{{portfolio.projectedReturns}}</div>
      </div>

      <!-- ALLOCATION -->
      <div class="breakdown">
        <div class="title">
          {{'CONFIRM_PORTFOLIO.ASSET_ALLOCATION_BREAKDOWN' | translate}}
        </div>
        <div class="flex-col-12">
          <div class="allocation-content">
            <div *ngIf="portfolio">
              <app-breakdown-bar [allocation]="portfolio.breakDown" [activeIndex]="breakdownSelectionindex" [colors]="legendColors"
                (selectAllocationBar)="selectAllocation($event)"></app-breakdown-bar>
              <app-breakdown-accordion [allocation]="portfolio.breakDown" [activeIndex]="breakdownSelectionindex"
                [colors]="legendColors" (selectAllocationAccordion)="selectAllocation($event)" (selectFundDetails)="viewFundDetails($event)"></app-breakdown-accordion>
            </div>
          </div>
        </div>
      </div>
      <!-- / ALLOCATION -->

      <div class="fees-promo">
        <img src="../../../assets/images/investment-account/glassesowl.svg" alt="" />
        <div>{{ 'CONFIRM_PORTFOLIO.CHECK_FEES' | translate}}</div>
      </div>

      <button type="button" (click)="showPortfolioAssetModal()" class="btn btn__footer--fixed btn-ftr-get-started btn-primary width100"
        id="portfolioRecommendationNextBtn">{{ 'CONFIRM_PORTFOLIO.I_WANT_TO_START_INVEST' | translate}}</button>

    </div>
  </div>
</div>
