
@import '../../../variables';
@import '../../../mixins';
.education-support-array{
    .title{
        color:#000;
    }
   
}
.error-child-msg{
    color:#2d8289!important;
    font-size: 14px!important;


}

.comprehensive {
    .dependant-desc {
        font-size: 16px;
        padding-bottom: 16px;
    }
    .dependant_selection_title{
        font-size: 16px!important;
        font-family: $muli-semi-bold;
        color: #5e5e5e;
    }
    .title{
        font-size: 16px!important;
        font-family: $muli-semi-bold;
        color: #5e5e5e;
    }
.dependantSection{
    border-top: solid 1px rgba(134, 205, 206, 0.3);
    margin-top: 15px;
}
}