<div class="container-fluid max-width--1024 investment">
  <div class="content">
    <div class="row">
      <div class="col-lg-7 col-md-6 hidden-sm-md">
        <h2>{{'SECONDARY_HOLDER.PAGE_TITLE' | translate}}</h2>
        <div class="banner-image">
          <img src="assets/images/investment-account/secondary-holder-banner.svg" />
        </div>
      </div>
      <div class="col-lg-5 col-md-6">
        <h6>{{'SECONDARY_HOLDER.PAGE_LBL' | translate}}</h6>
        <div class="secondary-holder-tabs">
          <nav ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="activeTabId">
            <ng-container [ngbNavItem]="1">
              <a class="flex-col-6 btn-outline-primary fixed-btn--sm mr10" ngbNavLink>18 & above</a>
              <ng-template ngbNavContent>
                <div class="pannel-tab-content">
                  <div>
                    <div class="desc-lbl flex space-between">
                      <span>{{'SECONDARY_HOLDER.MAJOR.DESC_LBL' | translate}}</span>
                      <i class="tooltip-icon">
                        <img src="assets/images/tooltip-icon-white.svg">
                      </i>
                    </div>
                    <div class="desc-sub-lbl">{{'SECONDARY_HOLDER.MAJOR.DESC_SUB_LBL' | translate}}</div>
                  </div>
                </div>
              </ng-template>
            </ng-container>
            <ng-container [ngbNavItem]="2">
              <a class="flex-col-6 btn-outline-primary fixed-btn--sm" ngbNavLink>Below 18</a>
              <ng-template ngbNavContent>
                <div class="pannel-tab-content">
                  <form [formGroup]="secondaryHolderForm">
                    <div>
                      <div class="desc-lbl">Secondary Holder Details</div>
                      <div class="desc-sub-lbl">Supporting documents and full
                        details are required to
                        register as a secondary holder.</div>
                      <div class="flex-row">
                        <div class="flex-col-5">
                          <label for="name" id="select_nationality_lab">Nationality</label>
                        </div>
                        <div class="flex-col-7">
                          <div class="dropdown-control">
                            <!-- [disabled]="isDisabled()" -->
                            <app-dropdown-with-search controlName="nationality" [optionList]="nationalityList"
                              displayKey="name" placement="top-right" placeholderText="{{ 'Select' | translate}}"
                              (itemSelected)="selectNationality($event)">
                            </app-dropdown-with-search>
                          </div>
                        </div>
                      </div>
                      <!-- other coutryquestion -->
                      <!-- *ngIf="selectNationalityForm.get('unitedStatesResident')" -->
                      <div>
                        <div class="flex-row mb10">
                          <div class="flex-col-12 mt15">
                            <label class="form-group-with-bg--content-label" id="select_nationality_question-one"
                              for="name">Is secondary holder a United States
                              Permanent Resident / Tax Resident?
                            </label>
                          </div>
                        </div>
                        <!-- buttons -->
                        <div class="flex-row">
                          <div class="flex-col-12 mb10">
                            <!--  -->
                            <div class="btn-group--toggle" ngbRadioGroup name="radioGender">
                              <div class="flex-row">
                                <div class="flex-col-6">
                                  <label ngbButtonLabel class="btn-outline-primary
                                  fixed-btn--sm mr5">
                                    <!-- formControlName="unitedStatesResident" -->
                                    <input ngbButton type="radio" formControlName="unitedStatesResident"
                                      id="select_nationlity_yes" [value]="true"
                                      (change)="unitedStatesPRChange($event.target.value)">Yes
                                  </label>
                                </div>
                                <div class="flex-col-6">
                                  <label ngbButtonLabel class="btn-outline-primary
                                  fixed-btn--sm">
                                    <input ngbButton type="radio" formControlName="unitedStatesResident"
                                      id="select_nationlity_no" [value]="false"
                                      (change)="unitedStatesPRChange($event.target.value)">No</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="secondaryHolderForm.get('singaporeanResident')">
                        <div class="flex-row mb10">
                          <div class=flex-col-10>
                            <label class="form-group-with-bg--content-label" id="select_nationality_question-two"
                              for="name">
                              {{ 'Is secondary holder a Singapore Permanent Resident?' | translate}}
                            </label>
                          </div>
                        </div>
                        <!-- buttons -->
                        <div class="flex-row">
                          <div class="flex-col-12 mb10">
                            <div class="btn-group--toggle" ngbRadioGroup name="radioGender">
                              <div class="flex-row">
                                <div class="flex-col-6">
                                  <label ngbButtonLabel class="btn-outline-primary
                                  fixed-btn--sm mr5">
                                    <input ngbButton type="radio" formControlName="singaporeanResident"
                                      id="select_nationlity_yes1" [value]="true" (change)="singaporeanPRChange($event.target.value)">
                                    Yes
                                  </label>
                                </div>
                                <div class="flex-col-6">
                                  <label ngbButtonLabel class="btn-outline-primary
                                  fixed-btn--sm">
                                    <input ngbButton type="radio" formControlName="singaporeanResident"
                                      id="select_nationlity_no1" [value]="false" (change)="singaporeanPRChange($event.target.value)">
                                    No</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="mt20 flex-row restrict-notice">
                        <div class="flex-col-1"> <img src="assets/images/investment-account/note-icon-white.svg" />
                        </div>
                        <div class="pl-2 flex-col-10">
                          <!-- [innerHtml]="'SELECT_NATIONALITY.IMPORTANT_NOTICE' | translate" -->
                          <span class="desc-sub-lbl">
                            Important: Please note that we do not accept
                            applications if you <u>reside or have tax residencies in
                              the following restricted countries.</u>
                          </span>
                          <!-- <span class="country-list" (click)="openModal()"
                                [innerHtml]="'SELECT_NATIONALITY.RESTRICTED_COUNTRIES' | translate"></span> -->
                        </div>
                      </div>

                      <div class="" *ngIf="secondaryHolderForm.value.singaporeanResident; else nonSGPR">
                        Singapore PR
                      </div>
                      <ng-template #nonSGPR>
                        Non Singapore PR
                      </ng-template>

                      <!-- [disabled]="!secondaryHolderForm.valid" -->
                      <button (click)="goToNext()" class="btn btn-primary btn__footer--fixed width100">Continue</button>
                    </div>
                  </form>
                </div>
              </ng-template>
            </ng-container>
          </nav>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
