<div class="fin-accessment-block">
  <div class="container-fluid">
    <div class="fin-accessment-block__tab-container">
      <div class="fin-accessment-block__tab active"></div>
      <div class="fin-accessment-block__tab"></div>
    </div>

    <div class="fin-accessment-block__content">
      <div class="row text-center">
        <div class="col-12">
          <div class="banner-image mb30" id="select_nationality_img">
            <img src="assets/images/selectnationality.svg" />
          </div>
        </div>
      </div>
      <form name="selectNationalityForm" [formGroup]="selectNationalityForm">
        <div class="text mb20" id="select_nationality_text" *ngIf="Question">To continue, please tell us what is your nationality</div>

        <div class="flex-row">
          <div class="flex-col-5">
            <label for="name" id="select_nationality_lab">Nationality</label>
          </div>
          <div class="flex-col-7">
            <div class="dropdown-control">
              <div ngbDropdown>
                <button class="btn btn-dropdown" ngbDropdownToggle aria-expanded="false" style="font-size: 15px;">
                  <span *ngIf="afterSelectedNationality" class="dependent-count" id="select_nationality_dropdown_nationality">{{nationalityObj.nationality | titlecase }}</span>
                  <span *ngIf="beforeSelectedNationality" class="dependent-count" id="select_nationality_dropdown_defaltvalue">Select Nationality</span>

                </button>
                <div class="dropdown" ngbDropdownMenu aria-labelledby="courseDropdown">
                    <button class="dropdown-item" *ngFor="let option of countries; let i = index;" (click)="setDropDownValue('country',option, i)"
                      id="residentialAddress-country-option-{{i}}">{{option}}</button>
                  </div>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button class="dropdown-item"   *ngFor="let nationalityObj of nationalitylist; let i = index;" (click)="selectNationality(nationalityObj)" id="selectNationality-country-option-{{i}}">
                    {{nationalityObj.nationality | titlecase}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- other coutryquestion -->

        <div *ngIf="Question">
          <div class="flex-row mb10">
            <div class="flex-col-12 mt15">
              <div class="form-group-with-bg--content-label"  id="select_nationality_question-one"  for="name">Are you a United States Permanent Resident / Tax Resident?

              </div>

            </div>

          </div>
          <!-- buttons -->
          <div class="flex-row">

            <div class="flex-col-12 mb10">
              <div class="btn-group--toggle" ngbRadioGroup name="radioGender" formControlName="otherCountryQuestionOne">
                <div class="flex-row">
                  <div class="flex-col-6">
                    <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm mr16">
                      <input ngbButton type="radio" id="select_nationlity_yes" value="yes"> Yes
                    </label>
                  </div>
                  <div class="flex-col-6">

                    <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm mr16">
                      <input ngbButton type="radio" id="select_nationlity_no" value="no">No</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--othercountry question -->
          <!-- other country question -->
          <div class="flex-row mb10">
            <div class=flex-col-10>
              <div class="form-group-with-bg--content-label" id="select_nationality_question-two" for="name">Are you a Singaporean Permanent Resident?

              </div>

            </div>
            <div class="flex-col-2">
              <i class="tooltip-icon" (click)="showHelpModal()"></i>
            </div>
          </div>
          <!-- buttons -->
          <div class="flex-row">

            <div class="flex-col-12">
              <div class="btn-group--toggle" ngbRadioGroup name="radioGender" formControlName="otherCountryQuestionTwo">
                <div class="flex-row">
                  <div class="flex-col-6 ">
                    <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm mr16">
                      <input ngbButton type="radio" id="select_nationlity_yes1" value="yes"> Yes
                    </label>
                  </div>
                  <div class="flex-col-6 ">
                    <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm mr16">
                      <input ngbButton type="radio"  id="select_nationlity_no1" value="no"> No</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- other country question -->



        <!-- sigpore Question -->

        <div *ngIf="singaporeQuestion">
          <div class="flex-row mb10">
            <div class="flex-col-10 mt15">
              <div class="form-group-with-bg--content-label" id="select_nationality_question-three" for="name">Are you a US Permanent Resident / Tax resident ?

              </div>

            </div>

          </div>
          <!-- buttons -->
          <div class="flex-row">

            <div class="flex-col-12 ">
              <div class="btn-group--toggle" ngbRadioGroup name="radioGender" formControlName="selectNationalitySingapore">
                <div class="flex-row">
                  <div class="flex-col-6">
                    <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm mr16">
                      <input ngbButton type="radio" id="select_nationlity_yes2" value="yes"> Yes
                    </label>
                  </div>
                  <div class="flex-col-6">

                    <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm mr16">
                      <input ngbButton type="radio" id="select_nationlity_no2" value="no"> No </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </form>
      <!-- sigpore question -->


      <button type="button" (click)="goToNext(selectNationalityForm)"  id="select-nationality_continue_btn"  class="btn btn__footer--fixed btn-ftr-get-started btn-primary width100"
        id="riskProfileBtn">Continue</button>
    </div>
  </div>
</div>

<!-- sai -->