<!-- Widget Content-->
<div class="multiple-portfolio-container" *ngIf="portfolioList?.length > 0">
  <div class="container-fluid max-width--1024">
      <div class="multiple-portfolio-block">
          <div class="multiple-portfolio-header">{{'YOUR_INVESTMENT.TOTAL_OF' | translate}} {{portfolioList?.length}}</div>
          <div class="multiple-portfolio-content">
              <div class="multiple-portfolio-type" *ngIf="notInvestedList?.length > 0">
                  <div class="multiple-portfolio-type-title">{{'YOUR_INVESTMENT.NOT_YET_INVESTED' | translate}}</div>
                  <div class="portfolio-list" *ngFor="let portfolio of notInvestedList; let i = index;">
                      <div (click)="detail(portfolio)" class="portfolio" *ngIf="(i <= 4) || showAllForNotInvested">
                          <div class="portfolio-icon"><img [src]="getImg(portfolio?.riskProfileId)" /></div>
                          <div class="portfolio-details">
                              <div class="portfolio-name">
                                <span class="portfolio-lbl flex-col-11">{{portfolio?.portfolioName}}</span>
                                <span class="portfolio-fund-type" *ngIf="portfolio?.portfolioType == 'SRS'">
                                  {{'YOUR_INVESTMENT.SRS' | translate}}
                                </span>
                              </div>
                              <div class="ref-code">{{'YOUR_INVESTMENT.REF_LABEL' | translate}} {{portfolio.refNo}}</div>
                              <div class="portfolio-value">
                                  <span *ngIf="!portfolio?.portfolioValue">$0</span>
                                  <span *ngIf="portfolio?.portfolioValue">{{portfolio?.portfolioValue | currency:'USD':'symbol-narrow':'1.0-2'}}</span>
                                  <span *ngIf="portfolio?.buyRequestCount && portfolio?.portfolioType != 'SRS'" class="buy-request cursorPointer" (click)="gotoBuyRequest()">
                                     {{portfolio?.buyRequestCount}}
                                     <span *ngIf="portfolio?.buyRequestCount == 1"> {{'YOUR_INVESTMENT.BUY_REQUEST' | translate}}</span>
                                     <span *ngIf="portfolio?.buyRequestCount > 1"> {{'YOUR_INVESTMENT.BUY_REQUESTS' | translate}}</span>
                                  </span>
                              </div>
                              <div *ngIf="portfolio?.portfolioType != 'SRS'" class="portfolio-btn" >
                                <span (click)="gotoTopUp(portfolio)" *ngIf="!portfolio?.buyRequestCount && (portfolio?.portfolioType != 'SRS')" class="top-up-btn cursorPointer">{{'YOUR_INVESTMENT.TOP_UP' | translate}}</span>
                                <span *ngIf="!portfolio?.cashAccountBalance" class="cash-account-value">{{'YOUR_INVESTMENT.CA_LABEL' | translate}} $0</span>
                                <span *ngIf="portfolio?.cashAccountBalance" class="cash-account-value">{{'YOUR_INVESTMENT.CA_LABEL' | translate}} {{portfolio?.cashAccountBalance | currency:'USD':'symbol-narrow':'1.0-2'}}</span>
                              </div>
                              <div *ngIf="portfolio?.portfolioType == 'SRS'" class="srs-note flex"><div class="srs-note-icon mr5"><img src="assets/images/investment-account/note-icon-grey.svg" alt="" /></div><div>{{'YOUR_INVESTMENT.SRS_MSG' | translate}} <span>{{'YOUR_INVESTMENT.SRS_HYPERLINK' | translate}} </span></div></div>
                          </div>
                      </div>
                  </div>
                  <div class="list-btn" *ngIf="notInvestedList.length > 5">
                      <span *ngIf="!showAllForNotInvested" (click)="showHideToggle('showAllForNotInvested')">{{'YOUR_INVESTMENT.LIST_ALL' | translate}} ({{ notInvestedList.length - 5 }})<img src="../assets/images/investment-account/list-down.svg" /></span>
                      <span *ngIf="showAllForNotInvested" (click)="showHideToggle('showAllForNotInvested')">{{'YOUR_INVESTMENT.SHOW_LESS' | translate}} <img class="show-less" src="../assets/images/investment-account/list-down.svg" /></span>
                  </div>
              </div>
              <div class="multiple-portfolio-type" *ngIf="investedList?.length > 0">
                  <div class="multiple-portfolio-type-title">{{'YOUR_INVESTMENT.INVESTED' | translate}}</div>
                  <div (click)="detail(portfolio)" class="portfolio-list invested" *ngFor="let portfolio of investedList; let i = index;">
                      <div *ngIf="(i <= 4) || showAllForInvested" class="portfolio">
                          <div class="portfolio-icon"><img [src]="getImg(portfolio?.riskProfileId)" /></div>
                          <div class="portfolio-details">
                              <div class="portfolio-name">
                                <span class="portfolio-lbl flex-col-11">{{portfolio?.portfolioName}}</span>
                                <span *ngIf="portfolio?.portfolioType == 'SRS'" class="portfolio-fund-type">
                                  {{'YOUR_INVESTMENT.SRS' | translate}}
                                </span>
                              </div>
                              <div class="ref-code">{{'YOUR_INVESTMENT.REF_LABEL' | translate}} {{portfolio?.refNo}}</div>
                              <div class="portfolio-value">
                                <span *ngIf="!portfolio?.portfolioValue">$0</span>
                                <span *ngIf="portfolio?.portfolioValue">{{portfolio?.portfolioValue | currency:'USD':'symbol-narrow':'1.0-2'}}</span>
                                <span class="buy-request cursorPointer" *ngIf="portfolio?.buyRequestCount && (portfolio?.portfolioType != 'SRS')" (click)="gotoBuyRequest()">{{portfolio?.buyRequestCount}}
                                  <span *ngIf="portfolio?.buyRequestCount == 1"> {{'YOUR_INVESTMENT.BUY_REQUEST' | translate}}</span>
                                  <span *ngIf="portfolio?.buyRequestCount > 1"> {{'YOUR_INVESTMENT.BUY_REQUESTS' | translate}}</span>
                                </span>
                              </div>
                              <div class="portfolio-btn">
                                <span *ngIf="!portfolio?.totalReturns && showTotalReturn" class="total-returns" >0%</span>
                                <span *ngIf="portfolio?.totalReturns && showTotalReturn"   [class.negativeValue]="portfolio?.totalReturns < 0" class="total-returns" >{{formatReturns(portfolio?.totalReturns)}}{{portfolio?.totalReturns | number : '1.0-2'}}%</span>
                                <span *ngIf="!portfolio?.cashAccountBalance && (portfolio?.portfolioType != 'SRS')" class="cash-account-value">{{'YOUR_INVESTMENT.CA_LABEL' | translate}} $0</span>
                                <span *ngIf="portfolio?.cashAccountBalance && (portfolio?.portfolioType != 'SRS')" class="cash-account-value">{{'YOUR_INVESTMENT.CA_LABEL' | translate}} {{portfolio?.cashAccountBalance | currency:'USD':'symbol-narrow':'1.0-2'}}</span>
                              </div>
                              <div *ngIf="portfolio?.portfolioType" class="srs-note flex"><div class="srs-note-icon mr5"><img src="assets/images/investment-account/note-icon-grey.svg" alt="" /></div><div>{{'YOUR_INVESTMENT.SRS_MSG' | translate}} <span>{{'YOUR_INVESTMENT.SRS_HYPERLINK' | translate}} </span></div></div>
                              <div class="reblancing-lbl mt10 flex">
                                <span class="rebalance-logo"><img src="assets/images/investment-account/rebalancing.svg" alt="" /></span> 
                                <span>Rebalancing</span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="list-btn" *ngIf="investedList.length > 5">
                    <span *ngIf="!showAllForInvested" (click)="showHideToggle('showAllForInvested')">{{'YOUR_INVESTMENT.LIST_ALL' | translate}} ({{ investedList.length - 5}})<img src="../assets/images/investment-account/list-down.svg" /></span>
                    <span *ngIf="showAllForInvested" (click)="showHideToggle('showAllForInvested')">{{'YOUR_INVESTMENT.SHOW_LESS' | translate}}<img class="show-less" src="../assets/images/investment-account/list-down.svg" /></span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- / Widget Content-->
