<!-- Widget Content-->
<div class="multiple-portfolio-container" *ngIf="portfolioList?.length > 0">
  <div class="container-fluid max-width--1024">
      <div class="multiple-portfolio-block">
          <div class="multiple-portfolio-header">{{'YOUR_INVESTMENT.TOTAL_OF' | translate}} {{portfolioList?.length}}</div>
          <div class="multiple-portfolio-content">
              <div class="multiple-portfolio-type" *ngIf="notInvestedList?.length > 0">
                  <div class="multiple-portfolio-type-title">{{'YOUR_INVESTMENT.NOT_YET_INVESTED' | translate}}</div>
                  <div class="portfolio-list" *ngFor="let portfolio of notInvestedList; let i = index;">
                      <div (click)="detail(portfolio)" class="portfolio" *ngIf="(i <= 4) || showAllForNotInvested">
                          <div class="portfolio-icon"><img src="../assets/images/investment-account/growth_icon.svg" /></div>
                          <div class="portfolio-details">
                              <div class="portfolio-name">{{portfolio.productName}}</div>
                              <div class="ref-code">{{'YOUR_INVESTMENT.REF_LABEL' | translate}} {{portfolio.productCode}}</div>
                              <div class="portfolio-value"><span>$0</span><span class="cursorPointer" (click)="gotoTopUp()">1 {{'YOUR_INVESTMENT.BUY_REQUEST' | translate}}</span></div>
                              <div class="portfolio-btn" >
                                <span (click)="gotoTopUp()" class="top-up-btn cursorPointer">{{'YOUR_INVESTMENT.TOP_UP' | translate}}</span>
                                <span class="cash-account-value">{{'YOUR_INVESTMENT.CA_LABEL' | translate}} {{portfolioData?.cashAccountDetails?.availableBalance | currency:'USD':'symbol-narrow':'1.0-2'}}</span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="list-btn" *ngIf="notInvestedList.length > 5">
                      <span *ngIf="!showAllForNotInvested" (click)="showHideToggle('showAllForNotInvested')">{{'YOUR_INVESTMENT.LIST_ALL' | translate}} ({{notInvestedList.length}})<img src="../assets/images/investment-account/list-down.svg" /></span>
                      <span *ngIf="showAllForNotInvested" (click)="showHideToggle('showAllForNotInvested')">{{'YOUR_INVESTMENT.SHOW_LESS' | translate}}</span>
                  </div>
              </div>
              <div class="multiple-portfolio-type" *ngIf="investedList?.length > 0">
                  <div class="multiple-portfolio-type-title">{{'YOUR_INVESTMENT.INVESTED' | translate}}</div>
                  <div (click)="detail(portfolio)" class="portfolio-list invested" *ngFor="let portfolio of investedList; let i = index;">
                      <div *ngIf="(i <= 4) || showAllForInvested" class="portfolio">
                          <div class="portfolio-icon"><img src="../assets/images/investment-account/growth_icon.svg" /></div>
                          <div class="portfolio-details">
                              <div class="portfolio-name">{{portfolio?.productName}}</div>
                              <div class="ref-code">{{'YOUR_INVESTMENT.REF_LABEL' | translate}} {{portfolio?.productCode}}</div>
                              <div class="portfolio-value"><span>{{portfolio?.currentValue | currency:'USD':'symbol-narrow':'1.0-2'}}</span><span class="cursorPointer" (click)="gotoTopUp()">1 {{'YOUR_INVESTMENT.BUY_REQUEST' | translate}}</span></div>
                              <div class="portfolio-btn">
                                <span class="total-returns">{{formatReturns(portfolio?.totalReturns)}}{{portfolio?.totalReturns | number : '1.0-2'}}%</span>
                                <span class="cash-account-value">{{'YOUR_INVESTMENT.CA_LABEL' | translate}} {{portfolioData?.cashAccountDetails?.availableBalance | currency:'USD':'symbol-narrow':'1.0-2'}}</span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="list-btn" *ngIf="investedList.length > 5">
                    <span *ngIf="!showAllForInvested" (click)="showHideToggle('showAllForInvested')">{{'YOUR_INVESTMENT.LIST_ALL' | translate}} ({{investedList.length}})<img src="../assets/images/investment-account/list-down.svg" /></span>
                    <span *ngIf="showAllForInvested" (click)="showHideToggle('showAllForInvested')">{{'YOUR_INVESTMENT.SHOW_LESS' | translate}}<img src="../assets/images/investment-account/list-down.svg" /></span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- / Widget Content-->
