@import '../../../variables';
@import '../../../mixins';

app-cpf-life-payout{
    .container-fluid {
        padding: 40px 0px 65px;
        max-width: 450px;
        line-height: 20px;
        letter-spacing: -0.25px;
        @include allmobiles {
          padding: 30px 0px 65px;
        }
      }
      .page-info{
      line-height: 20px;
      text-align: center;
      letter-spacing: -0.25px;
      padding: 0 19px 20px;
      @include allmobiles{
        max-width: 320px;
        margin: 0 auto;
        }
      }
      .banner{
      width: 180px;
      height: 145px;
      display: flex;
      margin: 0 auto;
      }
      .card{
      margin: 30px 0 20px;
      border-radius: 6px;
      border: none;
      .card-title{
        padding: 15px 0 14px;
        background-color: $white-color;
        font-family: $muli-semi-bold;
        color: $black-color;
        text-align: center;
        max-width: 211px;
        margin: 0 auto;
        @include allmobiles{
          max-width: 210px;
        }
      }
      .card-body{
        padding: 25px;
        border-radius: 0 0 6px 6px;
        background-color:$black-squeeze-grey-color;
        text-align: center;
          @include allmobiles{
            padding: 15px;
          }
          @include iphone12{
            padding: 25px;
          }
          @include iphone6plus{
            padding: 25px;
          }
        .btn-orange{
          font-family: $muli-bold;
          font-size: 22px;
          width: 335px;
          background-color: $orange-color !important;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
          border-radius: 6px;
          padding: 14px 0;
          @include min350max375{
            width: 100%;
          }
          @include allmobiles{
            width: 300px;
          }
          .btn-icon{
            height: 12px;
            width: 21px;
            margin-left: 12px;
          }
        }
        .show-content{
          font-family: $muli-regular;
          font-size: 14px;
          color: $white-color;
          width: 335px;
          background-color: $blue-stone-color;
          border-radius: 6px;
          padding: 14px 0;
          margin: 0 auto;
          line-height: 17px;
          letter-spacing: -0.2625px;
          @include min350max375{
            width: 100%;
          }
          @include allmobiles{
            width: 300px;
          }
          .data-content{
            color: $orange-color;
            font-family: $muli-bold;
            font-size: 28px;
            line-height: 35px;
            letter-spacing: -0.229167px;
          }
        }
      }
      }
      .btn-primary{
        margin-top: 30px !important;
        min-width: 315px;
        padding: 13px 0 12px;
        justify-content: center;
      }
  }
  