<div class="account-created-success-modal">
  <div class="custom-modal-backdrop"></div>
  <div class="custom-modal-wrapper">
    <div class="custom-modal--icon">
      <img ngIf="showDocumentsPending" src="../../../assets/images/investment-account/pending-upload.svg" id="add_submit_custModalImg2" />
      <img ngIf="showAccountCreationPending" src="../../../assets/images/investment-account/account-creation_pending.svg" id="add_submit_custModalImg2" />
      <img ngIf="showSrsAccountSuccess || showCashAccountSuccess" src="../../../assets/images/investment-account/account-complete.svg" id="add_submit_custModalImg2" />
      <div class="custom-modal-content">
        <div class="pl20 pr20">
          <p class="custom-modal--title mt20" id="add_submit_custModalTitle">{{pageTitle}}</p>
          <p class="custom-modal--desc" id="add_submit_custModalTitle">{{pageDesc}}</p>
        </div>
        <button ngIf="showCashAccountSuccess" (click)="redirectToFundAccount()" id="add_submit_button" type="button" class="btn btn__footer--fixed btn-primary width100 mt30">{{
        'ACCOUNT_CREATION_STATUS.BUTTON_LBL.CONTINUE' | translate}}</button>
        <button ngIf="showSrsAccountSuccess" (click)="redirectToYourInvestment()" id="add_submit_button" type="button" class="btn btn__footer--fixed btn-primary width100 mt30">{{
            'ACCOUNT_CREATION_STATUS.BUTTON_LBL.OKAY' | translate}}</button>
        <button ngIf="showDocumentsPending || showAccountCreationPending" (click)="redirectToDashboard()" id="add_submit_button" type="button" class="btn btn__footer--fixed btn-primary width100 mt30">{{
                'ACCOUNT_CREATION_STATUS.BUTTON_LBL.DASHBOARD' | translate}}</button>
      </div>
    </div>
  </div>
</div>