@import '../../../variables';
@import "../../../_mixins.scss";
app-add-update-srs {
    .content {
        padding-top: 26px;
        @include allmobiles {
            padding-top: 10px;
        }
    }
    .bank_text {
        margin-left: 10px;
    }
    .form-lbl {
        font-family: $muli-semi-bold;
        font-size: 18px;
        letter-spacing: -0.34px;
        color: $white-color;
    }
    label {
        font-size: 18px;
        font-family: $muli-semi-bold;
        padding-right: 10px;
    }
    .form-control {
        color: #00a7a7;
        &:disabled,
        &.disabled {
            cursor: not-allowed;
            color: $teal-color !important;
            -webkit-text-fill-color: $teal-color !important;
            opacity: 1 !important;
            background-color: $edit-acnt-disable-bg !important;
            border: 1px solid $edit-acnt-disable-brdr !important;
        }
    }
    .characters {
        text-align: right;
        padding-right: 8px;
        font-family: $muli-italic;
        font-size: 15px;
        color: #74c1c1;
    }
    .btn__footer--fixed {
        font-family: $muli-bold;
    }
}
