<app-investment-title-bar></app-investment-title-bar>
<div class="container-fluid max-width--1024 invest-web-pt-90">

  <form id="addUpdateSrsFrom" name="addUpdateSrsFrom" [formGroup]="addUpdateSrsFrom">
    <div class="content">
      <!-- Account Holder Name -->
      <div class="form-group">
        <div class="flex-row">
          <div class="flex-col-12">
            <label class="form-lbl">Account Holder's Name</label>
          </div>
          <div class="flex-col-12">
            <div>
              <div contenteditable="true" id="fullname" [textContent]="addUpdateSrsFrom.get('accountHolderName').value"
                (focusout)="setAccountHolderName($event.target.textContent);" maxlength="100"
                (keypress)="onKeyPressEvent($event, $event.target.textContent)" class="content-editable"
                placeholder="Enter AccountHolder Name">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- text description -->
      <div class="flex-row">
        <div class="flex-col-12">
          <label class="desc-lbl">Due to regulations, you can only use an account under your legal name.</label>
        </div>
      </div>
      <!-- Bank name  -->
      <div class="form-group">
        <div class="flex-row">
          <div class="flex-col-6">
            <label class="form-lbl bank_text">
              SRS Operator</label>
          </div>
          <div class="flex-col-6">
              <div class="dropdown-control">
                <!--  -->
                <div ngbDropdown>
                    <button class="btn btn-dropdown without-border " id="residentialAddress-country-drpdown"
                      ngbDropdownToggle>
                      <span *ngIf="!addUpdateSrsFrom.controls.srsOperatorBank.value">Select SRS Operator</span>
                      <span *ngIf="addUpdateSrsFrom.controls.srsOperatorBank.value">Select SRS Operator</span>
                    </button>
                    <div class="dropdown" ngbDropdownMenu aria-labelledby="courseDropdown">
                      <button class="dropdown-item" *ngFor="let operator of srsAgentBankList; let i = index;"
                        (click)="selectSrsOperator('srsOperatorBank',operator.name)"
                        id="residentialAddress-country-option-{{i}}">{{operator.name}}</button>
                    </div>
                  </div>
                <!--  -->
              </div>
          </div>
        </div>
      </div>
     
      <div class="form-group">
        <div class="flex-row">
          <div class="flex-col-6">
            <label class="form-lbl bank_text">SRS Account Number</label>
          </div>
          <div class="flex-col-6">
            <div
              [ngClass]="{'inline-error':getInlineErrorStatus(addUpdateSrsFrom.controls.srsFundingDetails.controls.srsAccountNumber)}">
              <input type="text" [textMask]="maskConfig()" placeholder="Enter Account No." class="form-control"
                formControlName="srsAccountNumber">
            </div>
          </div>
        </div>
      </div>
    </div>
    <button (click)="applyChanges(addUpdateSrsFrom)" type="button" class="btn btn__footer--fixed btn-primary width100"
      id="forgotPasswordButton">Apply Changes</button>
  </form>
</div>
