<app-investment-title-bar></app-investment-title-bar>
<div class="container-fluid max-width--1024 invest-web-pt-90">
    <form id="addUpdateSrsFrom" name="addUpdateSrsFrom" [formGroup]="addUpdateSrsFrom">
        <div class="content">
            <!-- Bank name  -->
            <div class="form-group">
                <div class="flex-row">
                    <div class="flex-col-4">
                        <label id="srs-operator-lbl" class="form-lbl bank_text">{{ 'ADD_UPDATE_SRS.SRS_OPERATOR' | translate}}</label>
                    </div>
                    <div class="flex-col-8">
                        <div class="dropdown-control">
                            <div ngbDropdown>
                                <button class="btn btn-dropdown without-border " id="residentialAddress-country-drpdown" ngbDropdownToggle>
                                <span>
                                  {{addUpdateSrsFrom.controls.srsOperator.value ? addUpdateSrsFrom.controls.srsOperator.value.name : translate.instant('ADD_UPDATE_SRS.SELECT_SRS_OPERATOR')}}</span>
                              </button>
                                <div class="dropdown" ngbDropdownMenu aria-labelledby="courseDropdown">
                                    <button class="dropdown-item" *ngFor="let operator of srsAgentBankList; let i = index;" (click)="selectSrsOperator('srsOperator',operator)" id="residentialAddress-country-option-{{i}}">{{operator.name}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="flex-row">
                    <div class="flex-col-4">
                        <label id="srs-act-num-lbl" class="form-lbl bank_text">{{ 'UPDATE_SRS.SRS_ACCOUNT_NUMBER' | translate}}</label>
                    </div>
                    <div class="flex-col-8">
                        <div [ngClass]="{'inline-error':getInlineErrorStatus(addUpdateSrsFrom.controls.srsAccount)}">
                            <input id="srs-act-num-value" type="text" [textMask]="maskConfig()" placeholder="Enter Account No." class="form-control" formControlName="srsAccount">
                        </div>
                    </div>
                </div>
                <div class="characters" id="srs-act-num-lmit" *ngIf="addUpdateSrsFrom.get('srsOperator').value">
                    {{getAccNoLength() ? getAccNoLength() :0}} / {{getAccNoMaxLength(addUpdateSrsFrom.get('srsOperator').value)}}
                </div>
            </div>
        </div>
        <button [attr.disabled]="addUpdateSrsFrom.valid == true ? null : true" (click)="updateSrsSaveCall(addUpdateSrsFrom)" type="button" class="btn btn__footer--fixed btn-primary width100" id="forgotPasswordButton">{{ 'ADD_UPDATE_SRS.APPLY_CHANGES' | translate}}</button>
    </form>
</div>
