<div class="portfolio-info-container">
    <div class="flex-col-12 portfolio-desc">
      <div class="portfolio-type-details">
        <div class="portfolio-type-details-title">Conservative Portfolio</div>
        <div class="portfolio-type-details-desc">Your investment returns may vary. The projected portfolio value
          ranges between $1,240,987 to $1,286,079. The average projected portfolio value is $1,263.385.</div>
      </div>
      <div class="portfolio-graph-block">
        <div class="portfolio-graph-container">
          <img src="../../../assets/images/investment-account/green-graph.svg" />
          <div class="flex-row time-lapse">
            <span>Now</span><span>30 years</span>
          </div>
        </div>
        <div class="flex-col portfolio-graph-indicator">
          <div class="flex-row flex-col-10 indicators">
            <div class="flex-row"><span class="circle best"></span><span>Best</span></div>
            <div class="flex-row"><span class="circle median"></span><span>Median</span></div>
            <div class="flex-row"><span class="circle worst"></span><span>Worst</span></div>
          </div>
          <div class="flex-row capital"><span>. . .</span><span>Capital Invested</span></div>
          <div class="desc">The graph shows the <strong>best, median and worst return</strong> that can be achieved
            <strong>75% of the time</strong> over your investment period.</div>
        </div>
      </div>
    </div>
  </div>