<div class="carousel-content insurance-plan-widget" [ngClass]="{'plan-selected-wrapper': isSelected}">
  <img class="info-icon hidden-lg" (click)="viewDetails()" src="./assets/images/tooltip-info.svg" />
  <div class="insurance-plan-widget__container flex__box--vert">

    <div class="col-md-3 col-md-pull-9 hidden-lg mt20 insurer-logo">
      <img [src]="insurerLogo" [alt]="data.insurer.insurerName" />
    </div>
    <div class="row">
      <div class="col-md-8 col-md-push-3">
        <h4>{{productName}}</h4>
        <h2 [hidden]="frequencyType && frequencyType !== 'monthly'">{{premiumAmount | currency}}
          <br class="hidden-lg"/>
          <span [hidden]="data.premium.premiumFrequency == 'single'" class="text-small">{{ 'SUFFIX.PER_MONTH' | translate }}</span>
          <span [hidden]="data.premium.premiumFrequency != 'single'" class="text-small">{{ 'SUFFIX.SINGLE' | translate }}</span>
        </h2>
        <h2 [hidden]="!frequencyType || frequencyType !== 'yearly'">{{premiumAmountYearly | currency}}
          <br class="hidden-lg"/>
          <span class="text-small">{{ 'SUFFIX.PER_YEAR' | translate }}</span>
        </h2>
      </div>
      <div class="col-md-4 col-md-pull-9 hidden-sm-md insurer-logo">
        <img [src]="insurerLogo" [alt]="data.insurer.insurerName" />
      </div>
    </div>
    <div *ngIf="promoDiscount" class="insurance-plan-widget__container__discount__block hidden-sm-md">{{promoDiscount}}</div>
    <div style="margin-bottom: 15px;" class="hidden-sm-md">
      <div class="insurance-plan-widget__container__rank__wrapper">
        <div class="insurance-plan-widget__container__rank-box" *ngIf="canShowRanking">
          <div class="feature-head">#{{data.premium.ranking}}</div>
          <div class="feature-caption">{{ 'PRODUCT_DETAILS.LBL_RANKING' | translate }}</div>
          <div class="help-icon" style="visibility: hidden;"></div>
        </div>
        <div class="insurance-plan-widget__container__rank-box" *ngIf="canShowRating">
          <div class="feature-head">{{data.insurer.rating}}</div>
          <div class="feature-caption">{{ 'PRODUCT_DETAILS.LBL_RATING' | translate }}</div>
          <div class="help-icon" (click)="openRatingModal()"></div>
        </div>
        <div class="insurance-plan-widget__container__rank-box" *ngIf="canShowDiscount">
          <div class="feature-head">50%</div>
          <div class="feature-caption">{{ 'PRODUCT_DETAILS.LBL_COMMISSION' | translate }}</div>
          <div class="help-icon" (click)="openCommissionModal()"></div>
        </div>
      </div>

      <div style="padding: 2px;" class="hidden-sm-md">
        <div *ngFor="let highlight of highlights;"><span class="grey mr5">{{highlight.title}}</span>
          <span class="text-bold grey">{{highlight.description}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex row-btn-bottom">
      <div class="flex-1 hidden-sm-md widget-btn-view mr10" *ngIf = "!isComparePlanEnabled">
        <button type="button" (click)="viewDetails()" class="btn btn-secondary width100">{{ 'BUTTON.DETAILS' | translate }}</button>
      </div>
      <div class="flex-1 widget-btn-select" *ngIf = "!isComparePlanEnabled">
        <button type="button" (click)="selectPlan()" class="btn btn-select width100" [ngClass]="{'plan-selected': isSelected}">
            <span *ngIf="!isSelected">{{ 'BUTTON.SELECT_PLAN' | translate }}</span>
            <span *ngIf="isSelected">{{ 'BUTTON.UN_SELECT' | translate }}</span>
        </button>
      </div>
      <div class="col-md-12 col-btn-bottom" *ngIf = "isComparePlanEnabled">
        <button type="button" (click)="comparePlans()" class="btn compareplan-btn width100" [ngClass]="{'plan-selected': isComparePlanSelected}">{{ 'BUTTON.COMPARE' | translate }}</button>
      </div>
    </div>
</div>


