@import '../../../../variables';
@import '../../../../mixins';

app-plan-widget {
  .hidden {
    display: none !important;
  }

  .plan-selected-wrapper {
    border: solid 3px #ff872f !important;
  }
  .compareplan-btn{
    background: #fff;
    color:#00a7a7;
    border-radius: 6px;
    border: solid 1px rgba(0, 167, 167, 0.4);
  }
  .insurance-plan-widget {
    position: relative;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.25);

    @include allmobiles {
      box-shadow: none;
    }

    .img-fluid {
      height: 70px;
      width: 70px;
    }

    .row-btn-bottom {}

    .btn-select {
      background-color: #00a7a7;
      color: #ffffff;

      @include allmobiles {
        border-radius: 0px 0px 6px 6px;
        width: 100%;
        font-size: 16px;
      }
    }

    .plan-selected {
      color: #fff;
      background-color: #ff872f !important;
      border-color: #ff872f !important;
      box-shadow: none;
      @include allmobiles {
        border-radius: 0;
      }
    }

    .info-icon {
      position: absolute;
      right: 5px;
      top: 5px;
      z-index: 999;
      cursor: pointer;
    }

    .insurer-logo {
      height: 80px;
      text-align: center;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @include allmobiles {
        justify-content: center;
        img {
          width: 70% !important;
        }
      }
      img {
        width: 80%;
      }
    }

    border: solid 3px #fff;

    @include allmobiles {
      border: none;
    }

    .insurance-plan-widget__container {
      padding-top: 15px;
      min-height: 440px;

      @include allmobiles {
        min-height: 251px;
      }

      h4 {
        //height: 44px;
        font-size: 21px;
        color: $black-color;
        font-family: $muli-semi-bold;
        @include allmobiles {
          font-size: 16px;
          text-align: center;
          min-height: 38px;
        }
      }
      @media only screen and (min-device-width:768px) and (max-device-width:1024px) {
        h4 {
          font-size: 17px;
        }
      }
      h2 {
        font-size: 36px;
        color: $app-backgrnd-color;
        font-family: $muli-semi-bold;

        @include allmobiles {
          text-align: center;
          margin-top: 5px;
          margin-bottom: 5px;
          font-size: 24px;
        }

        .text-small {
          color: #2d8289;
          font-size: 18px;
          font-family: $muli-regular;
          margin-left: 5px;

          @include allmobiles {
            font-size: 16px;
            margin-left: 0;
          }
        }
      }
     @media only screen and (min-device-width:768px) and (max-device-width:1024px) {
        h2 {
          font-size: 32px;
        }
      }
      .insurance-plan-widget__container__discount__block {
        border-top: 1px solid #c2d9ec;
        border-bottom: 1px solid #c2d9ec;
        padding: 0 20px;
        color: #e46f6f;
        font-family: $muli-bold;
        font-size: 16px;
        position: relative;
        margin: 0 -23px;
        background: url("../../../../assets/images/promo-tag.svg");
        background-repeat: no-repeat;
        background-position: 26px 9px;
        padding-left: 40px;
      }

      .insurance-plan-widget__container__rank__wrapper {
        @extend .flex;
        @extend .space-btwn;
        margin: 15px 0;

        .one-plan-width {
          width: 100% !important;
        }

        .two-plan-width {
          width: 47% !important;
        }

        .three-plan-width {
          width: 30% !important;
        }

        .insurance-plan-widget__container__rank-box {
          background-color: #c0eded;
          border-radius: 8px;
          padding: 4%;
          width: 30%;
          text-align: center;
          color: $app-backgrnd-color;
          @extend .flex;
          @extend .justify-center;
          @extend .align-center;
          flex-direction: column;
          flex: 1;
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          }
        }

        .feature-head {
          font-size: 24px;
          font-family: $muli-bold;
        }

        .feature-caption {
          font-size: 16px;
          @include tablet {
            font-size: 14px !important;
          }
          font-family: $muli-semi-bold;
          width: 100px;
          margin-bottom: 10px;
        }

        .help-icon {
          background: url("../../../../assets/images/tooltip-icon.svg") no-repeat;
          height: 20px;
          width: 20px;
          cursor: pointer;
          text-align: center;
        }
      }
    }
  }
  .compare-clicked {
    .btn-select {
      border-radius: 6px;
      margin-bottom: 10px;
    }
  }
}
