<!--Profile Screen-->
<div class="container-fluid mt30 pl68 pr68 profile">
  <div class="row">
    <div class="col-lg-7 col-md-6 hidden-sm-md">
      <h2>What's Your Profile? </h2>
      <h6>Please choose the profile that best describes you.</h6>
      <div class="banner-image profile"></div>
    </div>
    <div class="col-lg-5 col-md-6">
      <form name="profileForm" [formGroup]="profileForm" class="form-group" id="profileForm">
        <div class="form-container">
          <div class="form-control profile" *ngFor="let profiles of profileList; let i = index">
            <input id="profile_{{i+1}}" name="myProfile" formControlName="myProfile" type="radio" class="field radio" value="{{profiles.name}}"
              tabindex="{{i+1}}">
            <label for="profile_{{i+1}}">
              <span class="input-label-strong">{{profiles.name}}</span>
            </label>
            <i class="tooltip-icon" (click)="showHelpModal(i)"></i>
          </div>
        </div>
        <div>
          <button type="button" [disabled]="!profileForm.valid" (click)="goToInfo(profileForm)" class="btn btn-primary btn__footer--fixed width100">Continue</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--Choose Protection Screen-->
<!-- <div class="container-fluid mt30 pl68 pr68">
    <div class="row">
      <div class="col-lg-7 col-md-6 hidden-sm-md">
        <h2>Protection Needs? </h2>
        <h6>Here are the protection type(s) recommended for you. Uncheck those that are not a priority.</h6>
        <div class="banner-image choose-protection"></div>
      </div>
      <div class="col-lg-5 col-md-6">
        <form name="protectionForm" [formGroup]="protectionForm" id="protectionForm">
          <div class="form-container">
              <div class="form-control protection">
                <input id="myProtection" name="myProtection" formControlName="myComponent" type="checkbox" class="field checkbox" value="{{protection.name}}"
                  tabindex="{{i+1}}">
                <label for="myProtection">
                  <div  class="input-label-strong">Life Protection</div>
                  <div  class="input-label-normal">To support your depedents</div>
                </label>
              </div>
              <div class="form-control protection">
                  <input id="myProtection1" name="myProtection1" formControlName="myComponent" type="checkbox" class="field checkbox" value="{{protection.name}}"
                    tabindex="{{i+1}}">
              <label for="myProtection1">
                  <div  class="input-label-strong">Critical Illness</div>
                  <div  class="input-label-normal">Eg. Cancer, Heart Attack, Stroke </div>
              </label>
              </div>
          </div>
          <div>
            <button type="button" [disabled]="!profileForm.valid" (click)="goToInfo(profileForm)" class="btn btn-primary btn__footer--fixed width100">Continue</button>
          </div>
        </form>
      </div>
    </div>
  </div> -->

  <!--Income Screen-->
  <!-- <div class="container-fluid mt30 pl68 pr68">
      <div class="row">
        <div class="col-lg-7 col-md-6 hidden-sm-md">
          <h2>My Income </h2>
          <h6>Help us understand your fiances better.</h6>
          <div class="banner-image income"></div>
        </div>
        <div class="col-lg-5 col-md-6">
          <div class="myinfo__block">
              <div class="myinfo__block__btn">
                <span class="myinfo__block__btn--arrow"></span>
              </div>
              <div class="myinfo__block--title">Title</div>
              <div class="myinfo__block--sub-title">Description</div>
          </div>
          <div>
              <form id="incomeForm" name="incomeForm" [formGroup]="incomeForm">
                <ul class="form__block--white mb-0 form__block--white-top">
                  <li class="form__row">
                      <div class="form__col--left inline-block">
                        <div class="label--top-title">My Monthly Income</div>
                        <div class="label--top-sub-title">What You Earn</div>
                      </div>
                      <div class="form__col--right text-right">
                        <div class="text-big text-right">$0</div>
                      </div>
                  </li>
                </ul>
                <ul class="form__block--white form__block--white-bottom">
                  <li class="form__row">
                    <div class="form__col--left">
                      <label for="name">Monthly Salary</label>
                    </div>
                    <div class="form__col--right text-right">
                      <div name="monthlySalary" formControlName="monthlySalary">
                          <input type="text" value="$0">
                      </div>
                    </div>
                  </li>
                  <li class="form__row">
                    <div class="form__col--left">
                      <label for="name">Annual Bonus</label>
                    </div>
                    <div class="form__col--right text-right">
                        <div name="annualBonus" formControlName="annualBonus">
                            <input type="text" value="$0">
                        </div>
                    </div>
                  </li>
                  <li class="form__row">
                      <div class="form__col--left-with-hint">
                        <div class="form__col--left-label-primary">Other Income</div>
                        <div class="form__col--left--label-secondary">(E.g. Rental,  Dividend)</div>
                      </div>
                      <div class="form__col--right text-right">
                          <div name="otherIncome" formControlName="otherIncome">
                              <input type="text" value=" $0   /mth">
                          </div>
                      </div>
                    </li>
                </ul>
                <div>
                  <button type="button" (click)="goToNext(userInfoForm)" class="btn btn__footer--fixed btn-ftr-get-started btn-primary width100" id="incomeBtn">Continue</button>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div> -->

    <!--Expense Screen-->
    <!-- <div class="container-fluid mt30 pl68 pr68">
      <div class="row">
        <div class="col-lg-7 col-md-6 hidden-sm-md">
          <h2>My Expenses </h2>
          <h6>Help us understand your finances better.</h6>
          <div class="banner-image expense"></div>
        </div>
        <div class="col-lg-5 col-md-6">
          <div class="myinfo__block">
              <div class="myinfo__block__btn">
                <span class="myinfo__block__btn--arrow"></span>
              </div>
              <div class="myinfo__block--title">Title</div>
              <div class="myinfo__block--sub-title">Description</div>
          </div>
          <div>
              <form id="incomeForm" name="incomeForm" [formGroup]="incomeForm">
                <ul class="form__block--white mb-0 form__block--white-top">
                  <li class="form__row">
                      <div class="form__col--left inline-block">
                        <div class="label--top-title">My Monthly Income</div>
                        <div class="label--top-sub-title">What You Spend</div>
                      </div>
                      <div class="form__col--right text-right">
                        <div class="text-big text-right">$0</div>
                      </div>
                  </li>
                </ul>
                <ul class="form__block--white form__block--white-bottom">
                  <li class="form__row">
                      <div class="form__col--left-with-hint">
                        <div class="form__col--left-label-primary">Monthly Installment</div>
                        <div class="form__col--left--label-secondary">(E.g. Car, House)</div>
                      </div>
                      <div class="form__col--right text-right">
                          <div name="otherIncome" formControlName="otherIncome">
                              <input type="text" class="readonly" value=" $0   /mth">
                          </div>
                      </div>
                    </li>
                    <li class="form__row">
                      <div class="form__col--left-with-hint">
                        <div class="form__col--left-label-primary">All Other Expenses</div>
                        <div class="form__col--left--label-secondary">(E.g. Food, Household, Bills)</div>
                      </div>
                      <div class="form__col--right text-right">
                          <div name="otherIncome" formControlName="otherIncome">
                              <input type="text" value=" $0   /mth">
                          </div>
                      </div>
                    </li>
                </ul>
                <div>
                  <button type="button" (click)="goToNext(userInfoForm)" class="btn btn__footer--fixed btn-ftr-get-started btn-primary width100" id="incomeBtn">Continue</button>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div> -->