<div class="modal-body">
  <div class="title-container">
    <div class="modal-body-title">{{ 'TRANSFER_INSTRUCTION.TRANSFER_FUND_TITLE' | translate }}</div>

    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true"></span>
    </button>
  </div>
  <div class="cash-account">
    <div class="flex-row" *ngIf="!numberOfPendingReq">
      <div class="text-center width100 mb20">{{ 'TRANSFER_INSTRUCTION.TOP_UP_REQUEST_LBL' | translate }}</div>
      <button type="button" class="btn-with-icon mb20" id="topup_button" (click)="goToTopUp()">
        <span class="topup-btn-img"><img id="topup_img" src="../../../assets/images/investment-account/money-topup.svg"
            alt="" /></span> <span>{{ 'TRANSFER_INSTRUCTION.TOP_UP' | translate }}</span>
      </button>
    </div>
    <div class="text-center mb20" *ngIf="numberOfPendingReq">{{ 'TRANSFER_INSTRUCTION.TRANSFER_INSTRUCTION_LBL' | translate }}</div>
    <div class="form-group-with-bg" *ngIf="numberOfPendingReq">
      <!--Form Content-->
      <div class="form-group-with-bg--content">
        <div class="cash-account-content">
          <div class="ref-code">{{ 'TRANSFER_INSTRUCTION.REFERENCE_CODE_LBL' | translate }}
            {{bankDetails.referenceNumber}}</div>
          <div class="flex align-center">
            <div class="note-icon"><img src="../../../assets/images/investment-account/note-icon.svg" /></div>
            <div class="note" innerHTML="{{'TRANSFER_INSTRUCTION.NOTE' | translate}}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- TRANSFER DETAILS -->
  <div class="transfer-details">
    <div class="tab-container">
      <div class="tab-links">
        <div class="tab-link-item active" [class.active]="activeMode == 'BANK'" (click)="selectFundingMethod('BANK')">
          <div class="pay-tab">{{ 'TRANSFER_INSTRUCTION.FUNDING_INSTRUCTIONS.VIA_BANK' | translate }}</div>
        </div>
      </div>
      <div class="tab-links">
        <div class="tab-link-item" [class.active]="activeMode == 'PAYNOW'" (click)="selectFundingMethod('PAYNOW')">
          <div class="pay-tab"><img src="../../../../assets/images/topupwithdraw/paynow.png"></div>
        </div>
      </div>
    </div>
    <div class="tab-content-container">
      <!-- TAB 1 -->
      <div class="tab-content" [class.active]="activeMode == 'BANK'">
        <app-instruction-steps [showBankTransferIns]="showBankTransferSteps" [bankDetails]="bankDetails"
          (showToolTip)="showTipModal()"></app-instruction-steps>
      </div>
      <!-- TAB 2 -->
      <div class="tab-content" [class.active]="activeMode == 'PAYNOW'">
        <app-instruction-steps [showBankTransferIns]="!showBankTransferSteps" [paynowDetails]="paynowDetails"
          (showToolTip)="showTipModal()"></app-instruction-steps>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn__footer--fixed btn-primary width100" (click)="modalClose()"> Okay, Got
    It!</button>
</div>