@import '../../../../variables';
@import '../../../../mixins';

.modal-body {
  $self: &;
  padding: 0;
  padding-bottom: 20px;
  //border-radius: 0px;
  @include allmobiles {
    padding: 0 !important;
  }
  background-color: $app-backgrnd-color;

  .title-container {
    background-color: $white-color;
    border-radius: 6px;
    @include allmobiles{
      border-radius: 0px;
    }
  }

  &-title {
    font-family: $muli-bold;
    line-height: 1.14;
    letter-spacing: -0.26px;
    font-size: 28px;
    color: $teal-color;
    background-color: $white-color;
    margin: 0;
    padding: 20px 40px 15px 25px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    @include allmobiles{
      border-radius: 0px;
    }

  }

  &-message {
    font-family: $muli-regular;
    background-color: $white-color;
    margin: 0;
    padding: 0 25px 25px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.2px;
    color: $black-color;
  }

  .close {
    right: 13px !important;
    top: 25px !important;
  }

  .cash-account{
    margin: 20px 1rem;
    color: #ffffff;
    // .cash-account-header{
    //   font-size: 16px;
    //   padding-bottom: 10px;
    //   border-bottom: 1px solid #f1f1f1;
    //   .flex-row{
    //     justify-content: space-between;
    //     align-items: center;
    //   }
    //   .balance-amount-lbl{
    //     font-family: $muli-bold;
    //     font-size: 18px;
    //     line-height: 1.17;
    //     letter-spacing: -0.17px;
    //     color: #007d7d;
    //   }
    // }
    .btn-with-icon {
      border-radius: 6px;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.21) !important;
      border: 1px solid $fixed-btn-brdr-color;
      background-color: $white-color;
      font-family: $muli-bold;
      font-size: 18px;
      line-height: 23px;
      letter-spacing: -0.3px;
      text-align: center;
      width: 100%;
      padding: 17px 0px 16px;
      color: $secondary-action-color;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:active {
        outline: none;
        background-color: $white-color;
      }
      &:hover {
        outline: none;
      }
      &:focus {
        outline: none;
        background-color: $white-color;
      }
      .topup-btn-img {
        height: 25px;
        img{
          width:100%;
          height: 25px;
        }
      }
    }
    .cash-account-content{
      .ref-code{
        padding: 14px 0 10px;
        font-family: $muli-bold;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: -0.17px;
        text-align: center;
        color: #ff872f;
        border-radius: 4px;
        border: 2px solid #00a7a7;
        background-color: #ffffff;
        margin-bottom: 10px;
      }
      .note-icon{
        width: 24px;
        height: 24px;
        margin-right: 15px;
        display: flex;
      }
      .note{
        font-family: $muli-regular;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.62;
        letter-spacing: -0.12px;
        color: #4a4a4a;
        span{
          font-family: $muli-bold;
        }
      }
    }
   }

  /* TRANSFER DETAILS */
  .transfer-details {
    margin: 15px 1rem 0px;
    color: $teal-color;
    @include allmobiles {
      padding-bottom: 80px;
    }
    .tab-container {
      display: flex;

      .tab-links {
        display: flex;
        width: 100%;
        background-color: $white-color;
        border-radius: 10px 10px 0px 0px;

        &:first-child {
          margin-right: 7px;
        }

        .tab-link-item {
          display: flex;
          flex-grow: 1;
          flex-basis: 0;
          color: $tabs-font-color;
          font-size: 18px;
          font-family: $muli-bold;
          line-height: 1.17;
          letter-spacing: -0.2px;
          padding: 15px 35px;
          text-align: center;
          align-items: center;
          justify-content: center;
          background-color: $fixed-btn-txt-color;
          border-radius: 10px 10px 0px 0px;

          &.active {
            background-color: $white-color;
          }

          .pay-tab{
            max-width:84px;
            height: 42px;
            display: flex;
            align-items: center;
            img{
              width: 55px;
              height: 35px;
            }
          }
        }
      }
    }

    .tab-content-container {
      background-color: $bond-container-bg;
      border-radius: 0px 0px 6px 6px;
      margin-bottom: 6px;
      .tab-content {
        display: none;

        &.active {
          display: block;
        }
      }
    }
  }
}

// .modal-footer {
//   border: none;
//   background-color: $teal-color;
//   @include allmobiles {
//     padding: 0;
//   }

//   .btn-primary {
//     font-size: 24px;
//     font-family: $muli-bold;
//     letter-spacing: -0.2px;
//   }
// }
