@import '../../../../variables';
@import '../../../../mixins';

.modal-body {
  $self: &;
  padding: 0;
  border-radius: 0px;
  @include allmobiles {
    padding: 0 !important;
  }
  background-color: $app-backgrnd-color;

  .title-container {
    background-color: $white-color;
  }

  &-title {
    font-family: $muli-bold;
    line-height: 1.14;
    letter-spacing: -0.26px;
    font-size: 28px;
    color: $teal-color;
    background-color: $white-color;
    margin: 0;
    padding: 20px 40px 15px 25px;
  }

  &-message {
    font-family: $muli-regular;
    background-color: $white-color;
    margin: 0;
    padding: 0 25px 25px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.2px;
    color: $black-color;
  }

  .close {
    right: 13px !important;
    top: 25px !important;
  }

  /* TRANSFER DETAILS */
  .transfer-details {
    margin: 35px 1rem 0px;
    color: $teal-color;
    @include allmobiles {
      padding-bottom: 80px;
    }
    .tab-container {
      display: flex;

      .tab-links {
        display: flex;
        width: 100%;
        background-color: $white-color;
        border-radius: 10px 10px 0px 0px;

        &:first-child {
          margin-right: 7px;
        }

        .tab-link-item {
          display: flex;
          flex-grow: 1;
          flex-basis: 0;
          color: $tabs-font-color;
          font-size: 18px;
          font-family: $muli-bold;
          line-height: 1.17;
          letter-spacing: -0.2px;
          padding: 15px 35px;
          text-align: center;
          align-items: center;
          justify-content: center;
          background-color: $fixed-btn-txt-color;
          border-radius: 10px 10px 0px 0px;

          &.active {
            background-color: $white-color;
          }

          img {
            width: 100%;
            max-width: 84px;
          }
        }
      }
    }

    .tab-content-container {
      background-color: $bond-container-bg;
      border-radius: 0px 0px 6px 6px;

      .tab-content {
        display: none;

        &.active {
          display: block;
        }
      }
    }
  }
}

.modal-footer {
  border: none;
  background-color: $teal-color;
  @include allmobiles {
    padding: 0;
  }

  .btn-primary {
    font-size: 24px;
    font-family: $muli-bold;
    letter-spacing: -0.2px;
  }
}
