<!-- <div class="container-fluid">
    <div class="col-12">
    You have already selected a portfolio. Please proceed to Top up, Fund or Delete the selected portfolio.
    </div>
    <button type="button" 
    class="btn btn__footer--fixed btn-primary width100" id="portfolioExistBtn">Ok Got it</button>
</div> -->
<div class="container-fluid max-width--1024 plr20 full-height white-bg">
        <div class="back-btn hidden-lg" (click)="goBack()"></div>
        <div class="content">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="journey-wrapper">
                <img class="img-fluid" src="assets/images/createAccount-icon.svg" />
              </div>
            </div>
            <div class="col-lg-6 col-md-6 journey-content">
              <p>You have already selected a portfolio. Please proceed to Top up, Fund or Delete the selected portfolio.</p>
              <button type="button" class="btn btn__footer--fixed btn-primary width100" (click)="proceed()">Proceed</button>
            </div>
          </div>
        </div>
      </div>