<div class="container-fluid max-width--1024 plr20">
  <div class="content">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="journey-wrapper">
          <img class="img-fluid" src="assets/images/investment-account/portfolio-exist.svg" />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 journey-content">
        <p>{{ 'PORTFOLIO_EXIST.DESC' | translate}}</p>
        <button type="button" class="btn btn__footer--fixed btn-primary width100" (click)="proceed()">{{ 'PORTFOLIO_EXIST.PROCEED_BTN_TEXT' | translate}}</button>
      </div>
    </div>
  </div>
</div>
