<div class="carousel-content insurance-plan-widget">
  <div class="insurance-plan-widget__container flex__box--vert">
    <div class="row mt10 mb10">
      <div style="width: 65%; padding-left: 15px;">
        <h4>{{productName}}</h4>
        <h2 [hidden]="frequencyType && frequencyType !== 'monthly'">{{premiumAmount | currency}}
          <span [hidden]="data.premium.premiumFrequency == 'single'" class="text-small">{{ 'SUFFIX.PER_MONTH' | translate }}</span>
          <span [hidden]="data.premium.premiumFrequency != 'single'" class="text-small">{{ 'SUFFIX.SINGLE' | translate }}</span>
        </h2>
        <h2 [hidden]="!frequencyType || frequencyType !== 'yearly'">{{premiumAmountYearly | currency}}
          <span class="text-small">{{ 'SUFFIX.PER_YEAR' | translate }}</span>
        </h2>
      </div>
      <div class="insurer-logo" style="width: 35%">
        <img [src]="insurerLogo" [alt]="data.insurer.insurerName" />
      </div>
    </div>
    <div *ngIf="promoDiscount" class="insurance-plan-widget__container__discount__block">{{promoDiscount}}</div>
    <div style="margin-bottom: 15px;">
      <div class="insurance-plan-widget__container__rank__wrapper flex-row" style="display: flex; flex: 1">
        <div class="insurance-plan-widget__container__rank-box flex-col-4" *ngIf="canShowRanking">
          <div class="feature-head">#{{data.premium.ranking}}</div>
          <div class="feature-caption">{{ 'PRODUCT_DETAILS.LBL_RANKING' | translate }}</div>
          <div class="help-icon" style="visibility: hidden;"></div>
        </div>
        <div class="insurance-plan-widget__container__rank-box flex-col-4" *ngIf="canShowRating">
          <div class="feature-head">{{data.insurer.rating}}</div>
          <div class="feature-caption">{{ 'PRODUCT_DETAILS.LBL_RATING' | translate }}</div>
          <div class="help-icon" style="visibility: hidden;" (click)="openRatingModal()"></div>
        </div>
        <div class="insurance-plan-widget__container__rank-box flex-col-4" *ngIf="canShowDiscount">
          <div class="feature-head">50%</div>
          <div class="feature-caption">{{ 'PRODUCT_DETAILS.LBL_COMMISSION' | translate }}</div>
          <div class="help-icon" style="visibility: hidden;" (click)="openCommissionModal()"></div>
        </div>
      </div>

      <div style="padding: 2px;">
        <div *ngFor="let highlight of highlights;">
          <span class="grey mr5">{{highlight.title}}</span>
          <span class="text-bold grey">{{highlight.description}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex row-btn-bottom" [hidden]="isViewMode">
    <div class="flex-1 widget-btn-view mr10">
      <button type="button" (click)="viewDetails()" class="btn btn-secondary width100">{{ 'BUTTON.DETAILS' | translate }}</button>
    </div>
    <div class="flex-1 widget-btn-select">
      <button type="button" (click)="selectPlan()" class="btn btn-select width100" [ngClass]="{'plan-selected': isSelected}">
          <span *ngIf="!isSelected">{{ 'BUTTON.SELECT_PLAN' | translate }}</span>
          <span *ngIf="isSelected">{{ 'BUTTON.UN_SELECT' | translate }}</span>
      </button>
    </div>
  </div>
  <div class="row mt20" *ngIf = "isDirect"  [hidden]="isViewMode">
      <div class="col-md-12 col-btn-bottom" [hidden]="!this.data.brochureLink">
        <button type="button" (click)="brochureDownload()" class="btn width100 brochure">Download Brochure (2MB)</button>
      </div>
    </div>
</div>
