<div class="modal-body white-bg">
  <div class="separator"></div>
  <div class="form-group mt0">
    <div class="flex-row">
      <div class="flex-col-3">
        <button type="button" class="back" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="flex-col-8">
        <span class="selected-count">{{data}}</span>
        <span class="lbl-selected" [hidden]="data >= 2">{{ 'COMMON.LBL_PLAN_SELECTED' | translate}}</span>
        <span class="lbl-selected" [hidden]="data < 2">{{ 'COMMON.LBL_PLANS_SELECTED' | translate}}</span>
      </div>
    </div>
    <div class="flex-row mb0">
      <div class="flex-col-12">
        <label class="choose_ops flex-col-12">{{ 'RECOMMENDATIONS.CHOOSE_OPTIONS' | translate}}</label>
      </div>
    </div>
    <div class="flex-row">
      <div class="flex-col-12">
        <button type="button" class="btn btn__footer btn-primary-dark width100 mt5" id="createAccountBtn"
          (click)="next('signup')">{{
          'RECOMMENDATIONS.CREATE_ACCOUNT' | translate}}</button>
      </div>
    </div>
    <div class="flex-row">
      <div class="flex-col-12">
        <button type="button" class="btn btn-secondary width100 mt5" id="loginBtn" (click)="next('login')">{{
          'RECOMMENDATIONS.LOGIN' | translate}}</button>
      </div>
    </div>
  </div>
  <div class="or-block">
    <hr>
    <div class="or-circle">or</div>
  </div>
  <div class="txt-bold">Receive more info on selected plans via email</div>
  <form id="enquiryForm" name="enquiryForm" [formGroup]="enquiryForm">
    <div class="flex-row mb10">
      <div class="flex-col-5 stretch mr15" [formGroup]="enquiryForm">
        <div class="form-group-floating-label">
          <input type="text" id="crtAccInpt2" class="form-control" #firstName formControlName="firstName" required>
          <label class="form-control-placeholder" for="firstName">First Name</label>
        </div>
      </div>
      <div class="flex-col-5 stretch" [formGroup]="enquiryForm">
        <div class="form-group-floating-label">
          <input type="text" id="crtAccInpt3" class="form-control" #lastName formControlName="lastName" required>
          <label class="form-control-placeholder" for="lastName">Last Name</label>
        </div>
      </div>
    </div>
    <div class="flex-row mb10">
      <div class="flex-col-12 stretch" [formGroup]="enquiryForm">
        <div class="form-group-floating-label">
          <input type="text" id="crtAccInpt4" class="form-control" #email formControlName="email" required>
          <label class="form-control-placeholder" for="lastName">Email Address</label>
        </div>
      </div>
    </div>
    <div class="flex-col-12 checkbox-button one-label mb10">
      <input id="receiveMarketingEmails" name="receiveMarketingEmails" type="checkbox"
        formControlName="receiveMarketingEmails" class="field checkbox">
      <label for="receiveMarketingEmails">
        <div class="title mt15">I consent to receive marketing materials from MoneyOwl and partners of MoneyOwl.</div>
      </label>
    </div>
    <div class="flex-col-12">
      <div class="error--msg" *ngIf="invalidEmail">*Invalid Email Address</div>
      <button id="nextDependentBtn" type="button" class="btn btn-primary width100"
        [disabled]="!enquiryForm.valid || formSubmitted" (click)="sendBundleEnquiry(enquiryForm)">Send</button>
    </div>
  </form>
</div>
