@import '../../../../variables';
@import '../../../../mixins';
app-create-account-model {
.selected-count {
    background-color: #ff872f;
    width: 39px;
    height: 26px;
    padding: 0 15px;
    border-radius: 13px;
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.1px;
    color: #ffffff;
    padding-bottom: 3px;
    margin-right: 10px;
    @include allmobiles {
      float: left;
      margin-left: 10px;
      //margin-top: 10px;
    }
  }
  .lbl-selected {
    font-family: $muli-regular;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.2px;
    color: #5e5e5e;
    margin-right: 100px;
    @include allmobiles {
      margin-right: 0;
      padding-top: 10px;
      float: left;
    }
  }
  .choose_ops{
      color:#5e5e5e;
      font-family: $muli-bold;
      text-align: center;
      margin-top: 20px;
  }

  .back {
    display:flex;
    background: url("../../../../assets/images/back-mobile.png") no-repeat;
    width: 20px;
    height: 20px;
    position: inherit;
    background-repeat: no-repeat;
    border: 0;
    //margin-left: 15px;
    margin-top: 6px;
    cursor: pointer;
  }
  .modal-body {
    position: relative;
    .separator {
      border-bottom: 1px solid rgba(141,154,168,0.35);
      position: absolute;
      top: 70px;
      width: 100%;
      left: 0;
    }
    .or-block{
      color: #5e5e5e;
      font-family: $muli-regular;
      font-size: 18px;
      line-height: 1.33;
      letter-spacing: -0.18px;
      padding-bottom: 30px;
      hr{
        border-color: #5e5e5e;
      }
      .or-circle{
        background-color: #ffffff;
        border-color: #ffffff;
        color: #5e5e5e;
        font-size: 18px;
        top:1px;
      }
    }
    .txt-bold{
      font-family: $muli-bold;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: -0.16px;
      text-align: center;
      color: #5e5e5e;
      max-width: 205px;
      margin: 0 auto 20px;
    }
    .form-group-floating-label{
      border-radius: 6px;
      border: 1px solid rgba(94, 94, 94, 0.3);
      background-color: #ffffff;
    }
    .checkbox-button{
      .title{
        font-family: $muli-semi-bold;
        font-size: 15px;
        letter-spacing: -0.28px;
        color: #5e5e5e;
      }
    }
  }
}