@import '../../../../variables';
@import '../../../../mixins';
app-ci-assessment {
  .total {
    min-width: 120px;
  }
  .dropdown-menu.show {
    min-width: 100% !important;
  }
}

app-ci-assessment {
  .total {
    min-width: 120px;
  }
  .dropdown-menu.show {
    min-width: 100% !important;
  }
}

app-investment-period {
  h2{
    font-size:30px !important;
    margin-bottom: 15px;
  }
 .container-fluid {
    @include allmobiles {
      padding-top: 68px;
    }
    @include desktop {
      padding-right: 75px !important;
      padding-left: 75px !important;
    }
    padding-right: 20px !important;
    padding-left: 23px !important;
    .banner-image{
      img{
        padding-top: 0;
      }
    }
  }

  #userInfoForm .col-sm-7 {
    opacity: 1 !important;
  }

  strong {
    font-family: $muli-semi-bold;
    font-size: 17px;
  }

  .input-group {
    &.inline-error {
      .btn-primary {
        background: transparent !important;
        border: transparent;
      }
    }
  }

  .dropdown-control {
    .btn-dropdown {
      span.dependent-count {
        color: $app-backgrnd-color;
        margin-right: 4px;
      }
    }
    .dropdown-item {
      font-family: $muli-light;
    }
  }

  #userInfoForm {
    .flex-col-6 {
      label {
        white-space: normal;
        line-height: normal;
      }
    }
  }
  .form-group {
    &.date-picker-group {
      margin: 0;
      padding-bottom: 10px;
      .flex-row {
        margin-bottom: 0;
      }
      .input-group.date-picker {
        max-height: 52px;
        margin: 0;
        .dropdown-menu.show {
          @include allmobiles {
            left: inherit !important;
            right: 0px;
          }
        }
      }
      .input-group-append {
        .btn-primary {
          max-height: 52px;
        }
      }
    }
  }
  hr {
    margin-top: 0;
  }
  .get-started-image {
    @include tablet {
      width: 300px;
      height: 250px;
    }
    background-repeat: no-repeat;
    display: block;
    height: 350px;
    width: 480px;
    margin-top: 50px;
  }

  .callout {
    padding: 15px;
    background-color: $white-color;
    border-radius: 6px;
    margin-top: 30px;
    position: relative;
    font-family: $muli-regular;
    font-size: 15px;
    letter-spacing: -0.15px;
    color: $teal-color;
  }

  .time-horizon{
    padding: 15px;
    background-color: $white-color;
    border-radius: 6px;
    margin-top: 10px;
    font-family: $muli-bold;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.15px;
    color: $investment-time-horizon-clr;
    .txt-nrml{
      font-family: $muli-regular;
      color: $black-color;
      letter-spacing: -0.16px;
    }
    .desc{
      padding-bottom: 20px;
      border-bottom: 1px solid $investment-time-horizon-desc-title-brdr-clr;
      .list-none{
        padding: 0;
        margin: 0;
        list-style: none;
      }
      li{
        font-size: 13px;
        line-height: 3.08;
        letter-spacing: -0.13px;
        color: $investment-time-horizon-desc-clr;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &.title{
          color: $investment-time-horizon-clr;
          border: 1px solid $investment-time-horizon-desc-title-brdr-clr;
          border-right: none;
          border-left: none;
        }
      }
    }
  }

  .pointer-container {
    position: absolute;
    bottom: -14px;
    left: 30px;
    left: 34px;
    right: 0px;
    transform: translate(-100%, 0px);
  }
  .I-was-born-on {
    font-family: $muli-semi-bold;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: $white-color;
    width: 74px;
  }
  .personalInfoInvestmentDesc,
  .personalInfoSliderDesc {
    font-family: $muli-italic;
    font-size: 15px;
    color: $text-color-secondary;
  }

  .personalInfoSliderDesc b {
    font-family: $muli-bold;
  }

  .Continue {
    font-family: $muli-bold !important;
    font-size: 22px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: center;
    color: $white-color;
  }

  .pointer {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 20px solid $white-color;
    right: 0px;
    left: auto;
    position: absolute;
  }

  .callout h5 {
    color: $teal-color;
    font-size: 21px;
    letter-spacing: -0.2px;
    font-family: $muli-bold;
  }

  .callout h5 .period-count {
    color: $slider-selection-color;
    text-decoration: underline;
  }
}
.btn {
  &:disabled {
    background-color: $btn-disabled-light-bg;
    color: $disabled-teal-color;
    &:hover{
      background-color: $btn-disabled-light-bg !important;
      color: $disabled-teal-color;

    }
  }
}
.investmentSlider {
  .noUi-target {
    height: 50px !important;
    border-radius: 25px !important;
  }
  .noUi-base {
    border-radius: 25px !important;
  }
  .noUi-base {
    background-color: $investment-slider-noui-base-bg !important;
  }
  .noUi-connects {
    border-radius: 25px !important;
  }
  .noUi-connect {
    background-color: $slider-selection-color !important;
  }
  .noUi-horizontal .noUi-handle {
    width: 63px !important;
    height: 64px !important;
    background: url('/assets/images/owl-icon.png') no-repeat center;
    border: none !important;
    right: 0px;
  }
  .noUi-origin {
    width: 93%;
    margin: 0 auto;
  }
  @media (min-width: 768px) {
    .noUi-origin {
      width: 96%;
    }
  }
}
