<div class="modal-header">
    <div class="modal-title popup-header-icon"><img src="./assets/images/owl.svg" /></div>
  </div>
  <div class="modal-body white-bg">
    <div class="modal-body-title">Years Needed</div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    <div class="modal-body-message">
    	<p>Click on your dependant’s profile type for a general guideline on the years needed.</p>
    	<ul class="dependant-profile pl0">
    		<li class="dependant-profile-box">
    			<div class="dependant-profile-spouse-image"></div>
    			Spouse
    		</li>
    		<li class="dependant-profile-box">
    			<div class="dependant-profile-child-image"></div>
    			Child
    		</li>
    		<li class="dependant-profile-box">
    			<div class="dependant-profile-family-image"></div>
    			Family
    		</li>
    	</ul>
    </div>
  </div>