<div class="modal-header">
  <div class="modal-title popup-header-icon">
    <img src="./assets/images/owl.svg" />
  </div>
</div>
<div class="modal-body white-bg">
  <div class="modal-body-title">Years Needed</div>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="modal-body-message">
    <p>Click on your dependant’s profile type for a general guideline on the years needed.</p>
    <div class="dependant-profile pl0" >
      <div class="dependant-profile-box" *ngFor="let profile of profileType" (click)="showMessage(profile)">
          <div class="dependant-profile-{{profile}}-image" ></div>
          {{profile}}
        </div>
    </div>

    <ng-container *ngFor="let years of yearsNeeded">
    <div *ngIf="years.className == selectedOption" class="dependant-profile-desc {{years.className}}">
        {{years.message}}
        <div class="arrow-up"></div>
      </div>
    </ng-container>
    <!-- <div class="dependant-profile pl0 ex1">
<label for="spouse" class="dependant-profile-box">
							<div class="dependant-profile-spouse-image"></div>
																							Spouse</label>
<input type="checkbox" name="one" id="spouse">
<div class="hide">
	<p>Equation billions upon billions! Courage of our questions decipherment, take root and flourish, cosmic ocean paroxysm of global death. Light years inconspicuous motes of rock and gas from which we spring something incredible is waiting to be known,
		muse about!</p>

</div>
</div> -->

  </div>
</div>
