@import '../../../variables';
@import '../../../_mixins.scss';
app-inv-personal-info {
  .personal-info {
    .inline-error-inv {
      color: $inline-error-border-color;
      border: 1px solid $inline-error-border-color !important;
      color: $inline-error-border-color;
      input {
        color: $inline-error-border-color !important;
      }
    }
    .btn-group--toggle {
      label {
        padding: 0.9rem;
      }
      .btn-outline-primary {
        &.disabled {
          cursor: not-allowed;
          border-color: $fixed-btn-brdr-color !important;
          &.active {
            border: 1px solid $white-color !important;
          }
        }
      }
      .fixed-btn--sm {
        border-color: $fixed-btn-brdr-color;
      }
    }
    label {
      font-size: 18px;
      font-family: $muli-semi-bold;
      padding-right: 5px;
    }
    .sub-label {
      font-size: 14px;
    }
    .input-control {
      text-align: left;
    }
    .step-indicator-container {
      background-color: $white-color;
      padding: 10px 0px;
      position: relative;
      .container-fluid {
        padding-top: 0px;
        padding-bottom: 0px;
      }
      @include allmobiles{
        top: 60px;
      }
    }
    .form-control {
      &.with-button {
        padding: 0.5rem;
        padding-left: 0.8rem;
        input {
          margin-top: 6px;
        }
      }
      &:disabled {
        color: $teal-color !important;
        -webkit-text-fill-color: $teal-color !important;
        background-color: $inv-btn-disabled-bg !important;
        opacity: 1 !important;
      }
    }
    .input-group-append {
      .btn-primary {
        &:disabled {
          color: $teal-color !important;
          background-color: $inv-btn-disabled-bg !important;
          opacity: 1 !important;
        }
      }
    }
    .btn {
      &:disabled {
        color: $teal-color !important;
        background-color: $inv-btn-disabled-bg !important;
        opacity: 1 !important;
      }
    }
    input::placeholder {
      color: $text-color-secondary !important;
      line-height: 1.25;
      letter-spacing: -0.2px;
    }
    .white-bg-checkbox {
      background-color: $white-color;
      padding: 10px 18px 10px 18px;
      border-radius: 6px;
      font-family: $muli;
      label {
        padding: 0px 0 0px 35px;
      }
      .option-row {
        margin-left: 0px;
      }
      .option-title {
        color: $black-color;
        font-size: 18px;
      }
      .option-desc {
        color: $dark-grey-color;
        font-family: $muli-semi-bold;
        font-size: 16px;
      }
    }
    .fixed-btn--sm {
      color: $fixed-btn-txt-color;
    }
    .btn__footer--fixed {
      font-family: $muli-bold !important;
    }
  }
}
