<div class="financial-details">

  <div class="step-indicator-container">
    <div class="container-fluid">
      <app-step-indicator [count]="7" [activeStepIndex]="3"></app-step-indicator>
    </div>
  </div>

  <div class="container-fluid">
    <div class="content">
      <div class="row">
        <div class="col-12">
          <div class="autofill-link">

            <div class="autofill-text">Autofill Forms Via</div>


            <div class="autofill-logo">
              <img class="img-fluid" src="../../../assets/images/investment-account/sing-pass-logo.png" />
            </div>

          </div>
        </div>
        <div class="col-lg-12 col-md-12">
          <form id="financial_details_address_form" name="financialDtetailsForm" [formGroup]="financialDetails">


            <!-- select range -->
            <div class="form-group">
              <div class="flex-row">
                <div class="flex-col-5">
                  <label for="residentialAddress-mailcountry-drpdown" id="residentialAddress-mailcountry-lbl">{{'FINANCIAL_DETAILS.ANNUAL_HOUSEHOLD_INCOME' | translate}} 
                  </label>
                </div>
                <div class="flex-col-7">
                  <div class="dropdown-control">
                    <div ngbDropdown>
                      <button ngbDropdownToggle class="btn btn-dropdown without-border grey" id="residentialAddress-country-drpdown"> {{financialDetails.controls.annualHouseHoldIncomeRange.value}}
                      </button>
                      <div class="dropdown" ngbDropdownMenu aria-labelledby="courseDropdown">
                        <button class="dropdown-item" *ngFor="let annualHouseHoldIncome of annualHouseHoldIncomeRanges; let i = index;" (click)="setAnnualHouseHoldIncomeRange(annualHouseHoldIncome)"
                          id="residentialAddress-country-option-{{i}}">{{annualHouseHoldIncome.name}}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!-- EMPLOyeMENT STATUS -->
            <div class="form-group">
              <div class="flex-row">
                <div class="flex-col-5">
                  <label for="employement_details_status" id="employement_details_status-lbl">{{'FINANCIAL_DETAILS.NUMBER_OF_HOUSE_HOLDERS' | translate}}  
                  </label>
                </div>
                <div class="flex-col-7">
                  <div class="dropdown-control">
                    <div ngbDropdown>
                      <button class="btn btn-dropdown without-border grey" id="employement_details_status-drpdown" ngbDropdownToggle>
                        {{financialDetails.controls.numberOfHouseHoldMembers.value}}
                      </button>
                      <div class="dropdown" ngbDropdownMenu aria-labelledby="courseDropdown">
                        <button class="dropdown-item" *ngFor="let numberOfHouseHoldMembers of numberOfHouseHoldMembersList; let i = index;" (click)="setnumberOfHouseHoldMembers(numberOfHouseHoldMembers)"
                          id="residentialAddress-country-option-{{i}}">{{numberOfHouseHoldMembers}}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Company name -->
            <div class="form-group">
              <div class="form-group-with-bg--content">
                <div class="flex-row">
                  <div class="flex-col-5">
                    <div class="form-group-with-bg--content-label" for="name" id="myFinancialMonthlyIncomeLbl">{{'FINANCIAL_DETAILS.ANNUAL_INCOME' | translate}} 
                    </div>
                  </div>
                  <div class="flex-col-7 form-group">
                    <div class="form-control">
                      <i id="myFinancialDollarSybmOne">$</i>
                      <div name="monthlyIncome">
                        <input class="input-control" type="text" id="myFinancialMonthlyIncomeInput" appCurrencyInputPortfolio maxLength="7" #monthlyIncome
                          formControlName="monthlyIncome">
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="form-group">
                <div class="flex-row">
                  <div class="flex-col-5">
                    <div class="form-group-with-bg--content-label" for="name" id="myFinancialSavedIncomeLbl">{{'FINANCIAL_DETAILS.PERS_OF_INCOME_SAVED' | translate}}</div>
                  </div>
                  <div class="flex-col-7">
                    <div class="form-control form-control-right">

                      <div name="percentageOfSaving">
                        <input class="input-control" id="myFinancialSavedIncomeInput" type="text" appPercentageInput maxLength="3" #percentageOfSaving
                          formControlName="percentageOfSaving">
                        <i id="myFinancialPersentage" class="right">%</i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="flex-row">
                  <div class="flex-col-5">
                    <div class="form-group-with-bg--content-label" for="name" id="myFinancialTotalAssetLbl">{{'FINANCIAL_DETAILS.TOTAL_ASSETS' | translate}}

                    </div>
                  </div>
                  <div class="flex-col-7">
                    <div class="form-control">
                      <i id="myFinancialDollerSymbTwo">$</i>
                      <div name="totalAssets">
                        <input class="input-control" type="text" id="myFinancialTotalAssetInput" appCurrencyInputPortfolio maxLength="7" #totalAssets
                          formControlName="totalAssets">
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="form-group">
                <div class="flex-row">
                  <div class="flex-col-5">
                    <div class="form-group-with-bg--content-label" for="name" id="myFinancialLoansLbl">{{'FINANCIAL_DETAILS.TOTAL_LOANS' | translate}}

                    </div>
                  </div>
                  <div class="flex-col-7">
                    <div class="form-control">
                      <i id="myFinancialDollerSymbThree">$</i>
                      <div name="totalLiabilities">
                        <input class="input-control" formControlName="totalLiabilities" type="text" id="myFinancialLoansInput" appCurrencyInputPortfolio
                          maxLength="7" #totalLiabilities>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <button type="button" id="personalInforNextBtn" (click)="goToNext(financialDetails)" class="btn btn__footer--fixed btn-ftr-get-started btn-primary width100"
              id="getStrdBtn3">{{ 'COMMON.LABEL.CONTINUE' | translate}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>