@import '../../../variables';


.add-bank-modal {

  font-family: $muli;

  .dropdown-control {
    position: relative;
  }

  .modal-body .form-group {
    label {
      font-size: 18px;
      font-weight: 600;
      padding-right: 15px;
    }
  }

  .form-control .input-control {
    text-align: left;
  }

  .dropdown-control .dropdown-menu.show {
    right: 0 !important;
    overflow: auto;
    // height: calc(70vh);
    }

    .dropdown-item{
      white-space:normal;
    }

  .dropdown-control {
    .btn-dropdown {
      color: #00a7a7;
    }

    position: relative;
    //width: 43vw;

    position: relative;
    background: #FFF;
    cursor: pointer;

    .dropdown-toggle {
      padding: 0.90rem;

      //padding-right: 0;
      &:disabled {
        cursor: not-allowed;

        &:hover {
          background-color: transparent !important;
        }
      }
    }
  }

}
