<div class="add-bank-modal">
  <form id="addBankForm" name="addBankForm" [formGroup]="addBankForm" autocomplete="off">
    <div class="modal-header">
      <div class="modal-title popup-header-icon">
        <img src="./assets/images/owl.svg" />
      </div>
    </div>
    <div class="modal-body white-bg">
      <div class="modal-body-title" *ngIf="!bankDetails">{{ 'WITHDRAW_PAYMENT_METHOD.ADD_BANK_MODAL.TITLE' | translate}}
      </div>
      <div class="modal-body-title" *ngIf="bankDetails">
        {{ 'WITHDRAW_PAYMENT_METHOD.ADD_BANK_MODAL.EDIT_TITLE' | translate}}</div>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true"></span>
      </button>
      <div class="form-group">
        <!-- Account holder name -->
        <div class="flex-row">
          <div class="flex-col-12 mb10">
            <label for="addBank-investmentYear-drpdown" id="addBank-investmentYear-lbl">{{
              'WITHDRAW_PAYMENT_METHOD.ADD_BANK_MODAL.ACCOUNT_HOLDER_NAME' | translate}}</label>
          </div>
          <div class="flex-col-12">
            <div class="form-control"
              [ngClass]="{'inline-error':getInlineErrorStatus(addBankForm.controls.accountHolderName)}">
              <input id="addBank-oneTimeInv-txt" autocomplete="off" class="input-control" type="text"
                name="accountHolderName" formControlName="accountHolderName" value="0" maxLength="30">
            </div>
          </div>
        </div>
        <!-- Content -->
        <div class="flex-row regulations">
          <p>{{'WITHDRAW_PAYMENT_METHOD.REGULATION_MSG' | translate}}</p>
        </div>
        <!-- Bank Name -->
        <div class="flex-row">
          <div class="flex-col-6">
            <label id="addBank-oneTimeInv-lbl" for="addBank-oneTimeInv-txt">{{
              'WITHDRAW_PAYMENT_METHOD.ADD_BANK_MODAL.BANK_NAME' | translate}}</label>
          </div>
          <div class="flex-col-6">
            <div class="dropdown-control" [ngClass]="{'inline-error':getInlineErrorStatus(addBankForm.controls.bank)}">
              <div ngbDropdown>
                <button class="btn btn-dropdown" id="residentialAddress-country-drpdown" ngbDropdownToggle>
                  <span
                    *ngIf="!addBankForm.controls.bank.value">{{ 'WITHDRAW_PAYMENT_METHOD.SELECT' | translate}}</span>
                  <span *ngIf="addBankForm.controls.bank.value">{{addBankForm.controls.bank.value.key}}</span>
                </button>
                <div class="dropdown dropdown-lg" ngbDropdownMenu aria-labelledby="courseDropdown">
                  <button class="dropdown-item" *ngFor="let bank of banks; let i = index;"
                    (click)="setDropDownValue('bank',bank)"
                    id="residentialAddress-country-option-{{i}}">{{bank.key}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Account No -->
        <div class="flex-row">
          <div class="flex-col-6">
            <label id="addBank-monthlyTimeInv-lbl" for="addBank-monthlyTimeInv-txt">{{
              'WITHDRAW_PAYMENT_METHOD.ADD_BANK_MODAL.ACCOUNT_NO' | translate}}</label>
          </div>
          <div class="flex-col-6">
            <div class="form-control" [ngClass]="{'inline-error':getInlineErrorStatus(addBankForm.controls.accountNo)}">
              <input id="addBank-monthlyTimeInv-txt" autocomplete="off" class="input-control" type="text"
                name="monthlyInvestment" formControlName="accountNo" value="0">
            </div>
          </div>
        </div>
      </div>
      <button type="button" *ngIf="!bankDetails" (click)="save(addBankForm)" class="btn btn-primary width100 mt5"
        id="incomeBtn">{{
        'LABEL.SAVE' | translate}}</button>

      <button *ngIf="bankDetails" type="button" (click)="save(addBankForm)" class="btn btn-primary width100 mt5"
        id="incomeBtn"> {{'WITHDRAW_PAYMENT_METHOD.ADD_BANK_MODAL.APPLY_CHANGE' | translate}}
      </button>
    </div>
  </form>
</div>
