<div class="container-fluid">
  <div class="flex-row">
    <div class="flex-col-5">
      <label for="name" id="tax-info-label">Country of Tax Residence</label>
    </div>
    <div class="flex-col-7">
      <form name="TaxInfoForm" [formGroup]="TaxInfoForm">
        <div class="dropdown-control">
          <div ngbDropdown>

            <button class="btn btn-dropdown" ngbDropdownToggle >
              <span class="dependent-count" id="select_nationality_dropdown_nationality">{{ country | titlecase }}</span>
              <!-- <span class="dependent-count" id="select_nationality_dropdown_defaltvalue">Select Country</span> -->

            </button>

            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item" *ngFor="let nationalityObj of nationalitylist; let i = index;" (click)="selectCountry(nationalityObj)"
                id="selectNationality-country-option-{{i}}">
                {{nationalityObj.nationality | titlecase}}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>