@import '../../../_variables.scss';
@import '../../../_mixins.scss';

app-tax-info {
  .app-tax-info {
    .flex-row {
      align-items: center;
    }

    .tin-hint {
      font-size: 14px;
      font-family: $muli-italic;
    }
    
    .dropdown-control {
      .dependent-count {
        margin-left: 4px;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.2px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
      }
    }
    label {
      font-size: 18px;
      letter-spacing: -0.3px;
      padding-right: 10px;
    }
    .form-group {
      @include allmobiles {
        padding-bottom: 30px;
      }
    }
    .btn-group--toggle{
      label{
        font-size: 16px;
      }
    }
    .dropdown-menu.show {
      right: 0 !important;
      overflow: auto;
      height: auto;
      max-height: 264px;
    }
    .dropdown-item {
      white-space: normal;
      word-break: break-word;
    }
    .dropdown-control .btn-dropdown {
      padding-right: 27px;
      max-height: 52px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .btn {
      &.btn-dropdown {
        padding-right: 41px;
      }
    }
    
    .fixed-btn--sm {
      color: $form-backgrnd-color !important;
      background-color: $white-color !important;
      border: 1px solid $fixed-btn-brdr-color !important;
      &:hover{
        color: $white-color !important;
        background: $teal-color !important;
      }
      &.active {
        color: $white-color !important;
        background: $teal-color !important;
      }
    }
    .text {
      font-family: $muli-regular;
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: -0.2px;
      text-align: center;
      padding-left: 17px;
      padding-right: 14px;
    }
    .step-indicator-container {
      padding: 20px 0px;
      position: relative;
      @include allmobiles{
        top: 60px;
        background-color: $white-color;
        padding: 10px 0px;
      }
      .container-fluid {
        padding-top: 0px;
        padding-bottom: 0px;
      }
      @include stepindicator-desktop-extraspace;
    }
    .container-fluid {
      padding-top: 16px;
      @include allmobiles{
      padding-top: 80px;
    }
  }
    .tooltip-icon {
      background: url('../../../assets/images/tooltip-icon.svg') no-repeat;
      height: 20px;
      width: 20px;
      cursor: pointer;
      display: block;
    }
    .country_text {
      // font-family: $muli-semi-bold;
      // font-size: 18px;
      // font-weight: 600;
      // color: $white-color;
      margin: 0px 10px 0px 0px;
    }
    .tin_question_text {
      // font-family: $muli-semi-bold;
      // font-size: 18px;
      // font-weight: 600;
      // font-style: normal;
      // font-stretch: normal;
      // line-height: normal;
      // letter-spacing: -0.3px;
      // color: $white-color;
      margin-top: 12px;
      margin-bottom: 12px;
    }
    input::placeholder {
      color: $teal-grey-color !important;
    }
   
    .add-tax-box {
      padding: 18px;
      border-radius: 6px;
      box-shadow: 0 8px 12px 0 $post-login-shadow;
      background-color: $white-color;
      font-family: $muli-regular;
      font-size: 16px;
      letter-spacing: -0.3px;
      text-align: center;
      color: $black-color;
      margin-top: 33px !important;
      margin: 20px 0;
    }
    .add-tax-text {
      font-family: $muli-bold;
      font-size: 18px;
      color: $inline-error-border-color;
     // padding-top: 10px;
    }
    .tax-form {
      //padding: 0px 0px 35px;
      position: relative;
      border-radius: 6px;
      margin-top: 20px;
      // @include allmobiles{
      //   padding: 60px 0px 25px; 
      // }
      .tax-lbl{
        color: $white-color;
        padding-top: 24px;
        display: none;
      }
      &:first-child {
        //padding-top: 0px;
        margin-top: 0px;
        .thumb-close-icon {
          display: none;
        }
        .tax-lbl{
          display: flex;
        }
      }
      &.brdr-btm {
        //border-bottom: 1px solid $white-color;
      }
      .thumb-close-icon {
        display: none !important;
        position: absolute;
        border-radius: 100%;
        background-color: $white-color;
        bottom: -12px;
        width: 30px;
        height: 30px;
        right: 0;
        left: 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          left: 0;
          right: 0;
          position: relative;
          width: 14px;
          height: 14px;
        }
      }
      .widget-title{
        background-color: $white-color;
        font-family: $muli-bold;
        letter-spacing: -0.3px;
        color: $black-color;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
      }
      .widget-body{
        padding: 20px 30px 35px;
        background-color: $bond-container-bg;
        font-family: $muli-semi-bold;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -0.34px;
        color: $dark-teal-color;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
    .btn__footer--fixed {
      font-family: $muli-bold !important;
    }
  }
  @include dropdown-ellipsis();
}
