@import '../../../../variables';
@import '../../../../mixins';

app-asset-allocation {

  .invest-section {
    @include allmobiles {
      display: none;
    }
  }

  .invest-bg-content {
    .user_content {
      max-width: 1024px;
      margin: 0 auto;
      padding: 0 75px;

      @include allmobiles {
        padding-left: 20px;
      }
    }

    .user_summary {
      display: flex;
      padding-top: 45px;
      padding-left: 37px;
      font-family: $muli-regular;
      letter-spacing: -0.2px;
      color: #ffffff;
      padding-bottom: 50px;

      .user_portfolio_lbl {
        font-size: 18px;
        max-width: 400px;
        line-height: normal;
        text-transform: capitalize;
      }

      div {
        font-size: 36px;
        line-height: 40px;
        letter-spacing: -0.41px;
      }
    }
  }

  .app-asset-allocation {
    position: relative;
    top: -24px;

    @include allmobiles {
      top: 0;
    }

    .container-fluid {
      &.max-width--1024 {
        padding-top: 0;

        @include allmobiles {
          padding-top: 80px;
          padding-bottom: 60px;
        }
      }
    }

    .portfolio-allocation-details {
      .portfolio-allocation-details__container {
        color: $white-color;
        border-radius: 6px;
        box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.14);
        ;
        background-color: #00717e;
      }
    }

    .asset-allocation {
      .title {
        font-family: $muli-bold;
        font-size: 21px;
        letter-spacing: -0.4px;
        color: $white-color;
        padding-bottom: 14px;
      }
    }

    .faq_link {
      font-family: $muli-semi-bold;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: -0.2px;
      text-align: center;
      padding: 21px 0 19px;

      a {
        color: $white-color;
        text-decoration: underline;
      }
    }
  }
}
