<section class="invest-section">
  <div class="invest-section-items">
    <div class="invest-section-content">
      <div class="invest-bg">
        <div class="invest-bg-media">
          <div class="invest-bg-image"></div>
          <div class="invest-bg-color"></div>
        </div>
        <div class="invest-bg-content">
          <div class="flex-row user_content flex-col-12">
            <div class="user_summary" id="your_portfolio_summary">
              <div class="user_portfolio flex-col">
                <div class="user_portfolio_lbl">Jason’s University Fund</div>
                <div>{{this.pageTitle}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="app-asset-allocation">
  <div class="container-fluid max-width--1024">
    <div class="portfolio-allocation-details">
      <div class="flex-col-12 asset-allocation">
        <!-- bonds -->
        <app-allocation [funds]="assetAllocation.funds" [assets]="assetAllocation.sectorAllocations" [colors]="colors">
        </app-allocation>
      </div>
      <div class="flex-col-12 annual-fees">
        <div class="title">{{ 'ASSET_ALLOCATION.ANNUAL_FEES' | translate}}</div>
        <app-annual-fees [feeDetails]="assetAllocation.feeDetails"></app-annual-fees>
      </div>
      <div class="faq_link">
        <a target="_blank" routerLink="/faq" fragment="investment">{{ 'ASSET_ALLOCATION.FAQ_DESC_TEXT' | translate}}</a>
      </div>
    </div>
  </div>
</div>
