@import '../../../../_variables.scss';
@import '../../../../_mixins.scss';
//Transaction Module Styles
app-transactions {

  .invest-section {
    @include allmobiles {
      display: none;
    }
  }

  .invest-bg-content {
    .user_content {
      max-width: 1024px;
      margin: 0 auto;
      padding: 0 75px;

      @include allmobiles {
        padding-left: 20px;
      }
    }

    .user_summary {
      display: flex;
      padding-top: 45px;
      padding-left: 37px;
      font-family: $muli-regular;
      letter-spacing: -0.2px;
      color: #ffffff;

      .user_portfolio_lbl {
        font-size: 18px;
        max-width: 500px;
        line-height: normal;
        white-space: normal;
        word-wrap: break-word;
      }

      div {
        font-size: 36px;
        line-height: 40px;
        letter-spacing: -0.41px;
      }
    }
  }


  .container-fluid{
    padding-top: 0px;
    padding-bottom: 0px;
    @include allmobiles{
      padding-top: 60px;
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
    @include phablet {
      padding-top: 60px;
     }
  }
  .transaction-panel {
    min-height: calc(100vh - 84px);
    background: $notification-title-bg;
    .title{
      color: $teal-color;
      padding: 28px 0 18px;
      text-align: center;
      background: $white-color;
      font-family: $muli-semi-bold;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: -0.25px;
      border-bottom: 1px solid #edeff1;
    }
    .nav-item {
      width: 50%;
      text-align: center;
      background: $white-color;
    }
    .nav-tabs .nav-link {
      border: none;
      color: $fund-account-tab-color;
      font-size: 18px;
      font-family: $muli-bold;
      letter-spacing: -0.2px;
      &.active {
        color: $secondary-action-color;
        border-bottom: 6px solid $secondary-action-color;
      }
    }
    .transction-screen{
      background: $white-color;
      min-height: calc(100vh - 222px);
      @include allmobiles{
        min-height: calc(100vh - 154px);
      }
    }
    .transaction-panel__history,
    .transaction-panel__statements {
      color: $app-backgrnd-color;
      &--date {
        font-size: 14px;
        letter-spacing: -0.1px;
        text-align: center;
        background-color: $transaction-date-bg-color;
        padding: 10px;
        color: $app-backgrnd-color;
      }
    }
    .transaction-panel__history--details {
      &--title {
        font-size: 18px;
        font-family: $muli-semi-bold;
        padding: 20px;
        border-bottom: 1px solid $bond-container-bg;
        line-height: 23px;
        letter-spacing: -0.34px;
        .history-type-transaction {
          min-width: 235px;
        }
        .fa-chevron-down,.fa-chevron-up{
         font-size: 13px;
          padding-left:17px;
        }
      }
      &--title--sale {
        font-size: 14px;
        color: $red-color;
        text-transform: uppercase;
        margin-right: 10px;
        line-height: normal;
        letter-spacing: -0.26px;
        &.buy {
          color: $transaction-panel-buy-color;
        }
      }
      &--title--amount--sale {
        font-size: 16px;
        font-family: $muli-regular;
        color: $text-color-secondary;
        &.buy {
          color: $teal-color;
        }
      }
      &--desc {
        background-color: $transaction-desc-bg-color;
        padding: 20px;
        font-size: 16px;
        display: none;
        &.show {
          display: flex;
        }
      }
    }
    .transaction-panel__statements {
      &--details {
        padding: 20px;
        font-family: $muli-bold;
        font-size: 18px;
        border-bottom: 2px solid $bond-container-bg;
        background: $white-color;
      }
      a.download-link {
        color: $accordion-link-color;
        font-size: 16px;
        font-family: $muli-regular;
        cursor: pointer;
      }
    }
  }
  .no-transaction {
    color: $app-backgrnd-color;
    text-align: center;
    font-size: 18px;
    .no-content {
      background-color: $bond-container-bg;
      min-height: calc(100vh - 222px);
      padding-top: 10%;
      display: flex;
      flex-direction: column; 
      @include allmobiles{
        min-height: calc(100vh - 154px);
        padding-top: 65px;
      }
    }
  }
}
