<div class="modal-body white-bg">
  <div class="promo-details-title">
    <img src="assets/images/back-mobile-btn.svg" (click)="close()" alt="" />
    <span>Promotion Details</span>
    <div></div>
  </div>
  <div class="modal-body-message">
    <div>
      <div class="promo-title">{{details?.header}}</div>
      <div class="validity-txt mt5">{{details?.validity}}</div>
      <div *ngFor="let promo of details?.promoDesc" class="content-div mt20">
        <div class="mb30">
          <p [innerHTML]="promo.title" class="sub-header"></p>
          <p [innerHTML]="promo.content"></p>
        </div>
      </div>
    </div>
    <ng-container *ngIf="selectedPromo?.customerPromoStatus === promoCodeStatus.NOT_IN_USE; else inactive">
      <ng-container *ngIf="usedPromo && usedPromo.value === selectedPromo; else usePromoBtn">
        <div class="use-promo-btn">
          <button (click)="removePromoCode($event)" type="button" class="btn btn-orange">Remove Promo</button>
        </div>
      </ng-container>
      <ng-template #usePromoBtn>
        <div class="use-promo-btn">
          <button (click)="usePromo($event)" type="button" class="btn btn-orange">Use Promo</button>
        </div>
      </ng-template>
    </ng-container>
    <ng-template #inactive>
      <div class="disabled-btn">
        {{selectedPromo?.customerPromoStatus | titlecase}}
      </div>
    </ng-template>
  </div>
</div>