@import '../../../variables';
@import '../../../mixins';

app-promo-details {
  .modal-body {
    padding: 0px !important;
    align-items: center;
    justify-content: center;
    height: 100%;

    @include minPhabletmaxTablet {
      width: 500px;
    }

    @include minMobilemaxPhablet {
      position: fixed;
      top: 0px;
      width: 100%;
      height: 100%;
      border-radius: 0px;
    }

    .modal-body-message {
      display: flex;
      flex-direction:column;
      justify-content: space-between;
      height: calc(100% - 53.4px);
      padding: 0 20px;
      overflow-y: auto;
    }
  }

  .promo-details-title {
    display: flex;
    justify-content: space-between;
    font-family: $muli-bold;
    font-size: 18px;
    color: $teal-color;
    letter-spacing: -0.19px;
    line-height: normal;
    padding: 14px 20px 12px;
    text-align: center;
    border-bottom: 1px solid $fund-details-title-brdr;

    img {
      width: 16px;
      cursor: pointer;
    }

    div {
      width: 16px;
    }
  }

  .promo-title {
    font-family: $muli-semi-bold;
    font-size: 22px;
    color: $persian-green-color;
    letter-spacing: -0.23px;
    line-height: normal;
    margin-top: 23px;
  }

  .validity-txt {
    font-family: $muli-regular;
    font-size: 14px;
    color: $silver-grey-color;
    letter-spacing: -0.26px;
    line-height: normal;
  }

  .sub-header {
    font-family: $muli-bold !important;
    font-size: 16px;
    color: $black-color;
    letter-spacing: -0.15px;
    line-height: 24px;
    padding-bottom: 10px;
  }

  .content-div {
    font-family: $muli-regular;
    font-size: 14px;
    color: $silver-grey-color;
    letter-spacing: -0.13px;
    line-height: 21px;
  }

  .use-promo-btn {
    width: 100%;
    height: 52px;
    max-width: 335px;
    bottom: 26px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26px;

    button {
      height: 100%;
      width: 100%;
      font-family: $muli-bold !important;
      font-size: 18px !important;
    }
  }

  .disabled-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-family: $muli-regular;
    font-size: 18px;
    color: $white-color;
    background-color: #d1d1d1;
    width: 100%;
    height: 52px;
    max-width: 335px;
    bottom: 26px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26px;
    border: none;
  }

  .action-button  {
    height: 60px !important;
  }

}