@import '../../../../variables';
@import '../../../../mixins';


.backdrop {
  background: $black-color;
  position: fixed;
  opacity: 0.95;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-content-wrapper {
  background-color: #fff;
  border-radius: 8px;
  color: #ccc;
  width: 300px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}

.loader-image {
  img {
    max-width: 110px;
  }
}

.loader-content {
   font-family: $muli;
   color: #5e5e5e;
   text-align: center;
   width:inherit;

  .loader-title {
    font-size: 22px;
    font-weight: 600;
    color: #009999;
    margin-bottom: 5px;

    .dots {
      display: inline-block;
    }
  }

  .loader-desc {
    font-size: 16px;
    padding:0 20px;
  }
}
