<div class="ja-portfolio-summary">
  <div class="container-fluid max-width--1024">
    <div class="ja-portfolio-summary-wrapper">
      <div class="portfolio-block">
        <div class="portfolio-naming hidden-sm">
          <div class="title">{{pageTitle}}</div>
        </div>
        <div class="review-text invest-bg-image">
          <div class="ja-bg">
            <img src="assets/images/ja-summary-bg.svg" />
          </div>
          <div class="review-label" [innerHtml]="'PORTFOLIO_SUMMARY.REVIEW_DETAILS_LABEL' |
          translate"> </div>
        </div>
        <div class="summary-details">
          <div class="primary-holder-details">
            <div class="widget-body">
              <div class="">
                <div class="primary-holder">{{
                  'PORTFOLIO_SUMMARY.PORTFOLIO_DETAILS.DATE_OF_APPLICATION_TITLE' |
                  translate}}</div>
                <div class="primary-holder-value">{{summaryDetails?.dateOfApplication}}</div>
              </div>
              <div class="mt15">
                <div class="primary-holder">{{
                  'PORTFOLIO_SUMMARY.PORTFOLIO_DETAILS.PORTFOLIO_TYPE_TITLE' |
                  translate}}</div>
                <div class="primary-holder-value">{{'PORTFOLIO_SUMMARY.ACCOUNT_TYPE' |
                  translate}}</div>
              </div>
              <div class="mt15">
                <div class="primary-holder">
                  <div> {{'PORTFOLIO_SUMMARY.PORTFOLIO_DETAILS.PORTFOLIO_NAME_TEXT' |
                    translate}}
                  </div>
                  <div class="edit-icon" (click)="editPortfolioName()">
                    <img src="assets/images/comprehensive/comprehesive-edit-icon.svg">
                  </div>
                </div>
                <div class="primary-holder-value">{{summaryDetails?.portfolioName}}</div>
              </div>
              <div class="mt15">
                <div class="primary-holder">{{
                  'PORTFOLIO_SUMMARY.PORTFOLIO_DETAILS.PORTFOLIO_TITLE' |
                  translate}}</div>
                <div class="primary-holder-value text-normal">{{portfolioDisplayName}}</div>
              </div>
              <div class="mt15">
                <div class="primary-holder">{{
                  'PORTFOLIO_SUMMARY.PORTFOLIO_DETAILS.FUNDING_METHOD_TITLE' |
                  translate}}</div>
                <div class="primary-holder-value">{{summaryDetails?.fundingMethod}}</div>
              </div>
              <div class="mt15">
                <div class="primary-holder">
                  <div> {{
                    'PORTFOLIO_SUMMARY.PORTFOLIO_DETAILS.FUNDING_AMOUNT_TITLE' |
                    translate}}
                  </div>
                  <div class="edit-icon" (click)="editFundingMethod()">
                    <img src="assets/images/comprehensive/comprehesive-edit-icon.svg">
                  </div>
                </div>
                <div class="primary-holder-value">
                  <div class="">
                    {{'PORTFOLIO_SUMMARY.PORTFOLIO_DETAILS.ONE_TIME_AMOUNT_TITLE' |
                    translate}}
                    <span>{{summaryDetails?.oneTimeAmount | formatCurrency}}</span>
                  </div>
                  <div class="">
                    {{'PORTFOLIO_SUMMARY.PORTFOLIO_DETAILS.MONTHLY_AMOUNT_TITLE' |
                    translate}}
                    <span>{{summaryDetails?.monthlyAmount | formatCurrency}}</span>
                  </div>
                </div>
              </div>
              <div class="mt15">
                <div class="primary-holder">
                  <div>{{
                    'PORTFOLIO_SUMMARY.PORTFOLIO_DETAILS.PROMO_CODE_TITLE' |
                    translate}}
                  </div>
                  <div class="edit-icon" (click)="editPromoCode()">
                    <img src="assets/images/comprehensive/comprehesive-edit-icon.svg">
                  </div>
                </div>
                <div class="primary-holder-value">{{promoCode}}</div>
              </div>
              <div class="change-portfolio mt30">
                <span (click)="changePortfolio()">
                  {{
                  'PORTFOLIO_SUMMARY.CHANGE_PORTFOLIO_BUTTON_TEXT' |
                  translate}}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="summary-details mt20">
          <div class="primary-holder-details">
            <div class="widget-title">
              <span>{{ 'PORTFOLIO_SUMMARY.PRIMARY_HOLDER.TITLE' |
                translate}}</span>
            </div>
            <div class="widget-body">
              <div class="">
                <div class="primary-holder">{{
                  'PORTFOLIO_SUMMARY.PRIMARY_HOLDER.NAME_TEXT' |
                  translate}}</div>
                <div class="primary-holder-value">{{summaryDetails?.primaryHolderName}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="summary-details mt20" *ngIf="!isMinor">
          <div class="primary-holder-details">
            <div class="widget-title">
              <span>{{ 'PORTFOLIO_SUMMARY.SECONDARY_HOLDER_MAJOR.TITLE' |
                translate}}</span>
              <span class="edit-icon" (click)="ediSecondaryHolderDetails()">
                <img src="assets/images/comprehensive/comprehesive-edit-icon.svg">
              </span>
            </div>
            <div class="widget-body">
              <div class="">
                <div class="primary-holder">{{
                  'PORTFOLIO_SUMMARY.SECONDARY_HOLDER_MAJOR.NAME_TEXT' |
                  translate}}</div>
                <div class="primary-holder-value">{{summaryDetails?.secondaryHolderName}}</div>
              </div>
              <div class="mt15">
                <div class="primary-holder">{{
                  'PORTFOLIO_SUMMARY.SECONDARY_HOLDER_MAJOR.NRIC_PASSPORT_NO_TEXT' |
                  translate}}</div>
                <div class="primary-holder-value">{{summaryDetails?.secondaryHolderNricOrPassport}}</div>
              </div>
              <div class="mt15">
                <div class="primary-holder">{{
                  'PORTFOLIO_SUMMARY.SECONDARY_HOLDER_MAJOR.RELATIONSHIP_TEXT' |
                  translate}}</div>
                <div class="primary-holder-value">{{summaryDetails?.secondaryHolderRelationship}}</div>
              </div>
              <div class="mt15">
                <div class="primary-holder">{{
                  'PORTFOLIO_SUMMARY.SECONDARY_HOLDER_MAJOR.EMAIL_TEXT' |
                  translate}}</div>
                <div class="primary-holder-value text-lower">{{summaryDetails?.secondaryHolderEmail}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="summary-details mt20" *ngIf="isMinor">
          <div class="primary-holder-details">
            <div class="widget-title">
              <span>{{ 'PORTFOLIO_SUMMARY.SECONDARY_HOLDER_MINOR.TITLE' |
                translate}}</span>
              <span class="edit-icon" (click)="ediSecondaryHolderDetails()">
                <img src="assets/images/comprehensive/comprehesive-edit-icon.svg">
              </span>
            </div>
            <div class="widget-body">
              <div class="">
                <div class="primary-holder">{{
                  'PORTFOLIO_SUMMARY.SECONDARY_HOLDER_MINOR.NATIONALITY_TEXT' |
                  translate}}</div>
                <div class="primary-holder-value">{{summaryDetails?.minorSecondaryHolderSummary.nationality}}</div>
              </div>
              <div class="mt15">
                <div class="primary-holder">{{
                  'PORTFOLIO_SUMMARY.SECONDARY_HOLDER_MINOR.US_PR_TEXT' |
                  translate}}</div>
                <div class="primary-holder-value">{{ summaryDetails?.minorSecondaryHolderSummary.usPR ?
                  ('PORTFOLIO_SUMMARY.SECONDARY_HOLDER_MINOR.US_PR_YES' |
                  translate) : ('PORTFOLIO_SUMMARY.SECONDARY_HOLDER_MINOR.US_PR_NO' |
                  translate)}}</div>
              </div>
              <!-- CHANGE NAME TEXT AS PER FOREIGNER AND SINGAPORE PR -->
              <div class="mt15">
                <div class="primary-holder">{{ !isForeignerCheck() ?
                  ('PORTFOLIO_SUMMARY.SECONDARY_HOLDER_MINOR.NAME_AS_PER_BIRTH_CERT_TEXT' |
                  translate) : ('PORTFOLIO_SUMMARY.SECONDARY_HOLDER_MINOR.NAME_AS_PER_PASSPORT_TEXT' |
                  translate)}}</div>
                <div class="primary-holder-value">{{summaryDetails?.minorSecondaryHolderSummary.fullName}}</div>
              </div>
              <!-- START OF SINGAPORE PR FIELDS -->
              <div class="mt15" *ngIf="!isForeignerCheck()">
                <div class="primary-holder">{{
                  'PORTFOLIO_SUMMARY.SECONDARY_HOLDER_MINOR.NRIC_BIRT_CERT_TEXT' |
                  translate}}</div>
                <div class="primary-holder-value">{{summaryDetails?.minorSecondaryHolderSummary.nricNumber}}</div>
              </div>
              <div class="mt15" *ngIf="!isForeignerCheck()">
                <div class="primary-holder">{{
                  'PORTFOLIO_SUMMARY.SECONDARY_HOLDER_MINOR.ISSUED_COUNTRY_TEXT' |
                  translate}}</div>
                <div class="primary-holder-value">{{summaryDetails?.minorSecondaryHolderSummary.passportIssuedCountry}}
                </div>
              </div>
              <!-- END OF SINGAPORE PR FIELDS -->
              <div class="mt15">
                <div class="primary-holder">{{
                  'PORTFOLIO_SUMMARY.SECONDARY_HOLDER_MINOR.DOB_TEXT' |
                  translate}}</div>
                <div class="primary-holder-value">{{summaryDetails?.minorSecondaryHolderSummary.dob}}</div>
              </div>
              <div class="mt15">
                <div class="primary-holder">{{
                  'PORTFOLIO_SUMMARY.SECONDARY_HOLDER_MINOR.GENDER_TEXT' |
                  translate}}</div>
                <div class="primary-holder-value">{{summaryDetails?.minorSecondaryHolderSummary.gender}}</div>
              </div>
              <div class="mt15">
                <div class="primary-holder">{{
                  'PORTFOLIO_SUMMARY.SECONDARY_HOLDER_MINOR.BIRTH_COUNTRY_TEXT' |
                  translate}}</div>
                <div class="primary-holder-value">{{summaryDetails?.minorSecondaryHolderSummary.birthCountry}}</div>
              </div>
              <!-- START OF FOREIGNER FIELDS -->
              <div class="mt15" *ngIf="isForeignerCheck()">
                <div class="primary-holder">{{
                  'PORTFOLIO_SUMMARY.SECONDARY_HOLDER_MINOR.PASSPORT_NO_TEXT' |
                  translate}}</div>
                <div class="primary-holder-value">{{summaryDetails?.minorSecondaryHolderSummary.passportNumber}}</div>
              </div>
              <div class="mt15" *ngIf="isForeignerCheck()">
                <div class="primary-holder">{{
                  'PORTFOLIO_SUMMARY.SECONDARY_HOLDER_MINOR.ISSUED_COUNTRY_TEXT' |
                  translate}}</div>
                <div class="primary-holder-value">{{summaryDetails?.minorSecondaryHolderSummary.passportIssuedCountry}}
                </div>
              </div>
              <div class="mt15" *ngIf="isForeignerCheck()">
                <div class="primary-holder">{{
                  'PORTFOLIO_SUMMARY.SECONDARY_HOLDER_MINOR.PASSPORT_EXPIRY_TEXT' |
                  translate}}</div>
                <div class="primary-holder-value">{{summaryDetails?.minorSecondaryHolderSummary.passportExpiryDate}}
                </div>
              </div>
              <!-- END OF FOREIGNER FIELDS -->
              <div class="mt15">
                <div class="primary-holder">{{
                  'PORTFOLIO_SUMMARY.SECONDARY_HOLDER_MINOR.RACE_TEXT' |
                  translate}}</div>
                <div class="primary-holder-value">{{summaryDetails?.minorSecondaryHolderSummary.race}}</div>
              </div>
              <div class="mt15">
                <div class="primary-holder">{{
                  'PORTFOLIO_SUMMARY.SECONDARY_HOLDER_MINOR.RELATIONSHIP_TEXT' |
                  translate}}</div>
                <div class="primary-holder-value">{{summaryDetails.secondaryHolderRelationship}}</div>
              </div>
              <div *ngIf="taxDetails && taxDetails.length > 0">
                <div *ngFor="let tax of taxDetails; let i = index;">
                  <div class="mt15">
                    <div class="primary-holder">
                      <span>
                        {{ 'PORTFOLIO_SUMMARY.SECONDARY_HOLDER_MINOR.FIRST_TAX_RESIDENCE_COUNTRY_TEXT' |
                        translate}} {{tax?.precedence}}
                      </span>
                    </div>
                    <div class="primary-holder-value">{{tax.taxCountryName}}</div>
                  </div>
                  <div class="mt15">
                    <div class="primary-holder">{{
                      'PORTFOLIO_SUMMARY.SECONDARY_HOLDER_MINOR.TIN_TEXT' |
                      translate}}</div>
                    <div class="primary-holder-value">
                      {{tax.isTinNumberPresent ? ('PORTFOLIO_SUMMARY.SECONDARY_HOLDER_MINOR.TIN_TEXT_YES' | translate) :
                      ('PORTFOLIO_SUMMARY.SECONDARY_HOLDER_MINOR.TIN_TEXT_NO' | translate)}}
                    </div>
                  </div>
                  <div class="mt15" *ngIf="tax.isTinNumberPresent">
                    <div class="primary-holder">{{
                      'PORTFOLIO_SUMMARY.SECONDARY_HOLDER_MINOR.TIN_NO_TEXT' |
                      translate}}</div>
                    <div class="primary-holder-value">{{tax.tinNumber}}</div>
                  </div>
                  <div class="mt15" *ngIf="!tax.isTinNumberPresent">
                    <div class="primary-holder">{{
                      'PORTFOLIO_SUMMARY.SECONDARY_HOLDER_MINOR.NO_TIN_REASON_TEXT' |
                      translate}}</div>
                    <div class="primary-holder-value text-normal">{{tax.noTinReason}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="summary-details mt20">
          <div class="primary-holder-details">
            <div class="widget-title">
              <span>{{ 'PORTFOLIO_SUMMARY.WITHDRAWAL_BANK_DETAILS.TITLE' |
                translate}}</span>
              <span class="edit-icon" (click)="editWithdrawDetails()">
                <img src="assets/images/comprehensive/comprehesive-edit-icon.svg">
              </span>
            </div>
            <div>
              <app-ja-bank-details [bankDetails]="bankDetails"></app-ja-bank-details>
            </div>
          </div>
        </div>
        <div class="mt30">
          <button type="button" (click)="goToNext()" class="btn btn__footer--fixed btn-primary width100">{{
            'PORTFOLIO_SUMMARY.CONTINUE' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>