<div class="container-fluid max-width--1024 comprehensive">
  <div class="step-indicator-container">
    <app-step-indicator [count]="6" [activeStepIndex]="3" [mode]="1"></app-step-indicator>
  </div>
  <div class="title mt40">{{'CMP.YOUR_FINANCES.HEADER' | translate}}</div>
  <div class="desc">{{'CMP.YOUR_FINANCES.ABOUT' | translate}}</div>
  <div class="text-center mt20 mb20"><img  src="./assets/images/{{ bucketImage }}"/></div>
  <h6>{{'CMP.YOUR_FINANCES.TITLE' | translate}}</h6>
  <p>{{'CMP.YOUR_FINANCES.DESC' | translate}}</p>
  <div class="col-lg-5 col-md-6 flex--pad-mt-reset">
    <form name="hospitalPlanForm" [formGroup]="hospitalPlanForm" id="hospitalPlanForm">
        <div class="form-group-with-bg">

        <div class="form-group-with-bg--header">
          <div class="form-group-with-bg--header-label with-tooltip"> {{'CMP.YOUR_FINANCES.TITLE' | translate}}<span class="help-icon" (click)="showToolTipModal('TITLE','DESCRIPTION')"></span></div>
        </div>
        <div class="form-group form-group-with-bg--content">
          <div [hidden]="!hasBadMoodFund">{{'CMP.YOUR_FINANCES.LABEL_DESC' | translate}}</div>
          <div  [hidden]="hasBadMoodFund">
            {{'CMP.YOUR_FINANCES.BAD_MOOD_FUND_ALERT'|translate}}
             </div>
          <div class="flex-row" *ngIf="hasBadMoodFund">
            <div class="flex-col-6 mnth-amt">
              {{'CMP.YOUR_FINANCES.MONTHLY_AMOUNT' | translate}}
            </div>
            <div class="flex-col-6">
              <input type="text"  [readonly]="true" name="badMoodMonthlyAmount" class="form-control with-bg" formControlName="badMoodMonthlyAmount" [value]="SliderValue | currency:'USD':'symbol-narrow':'1.0-2' "/>
            </div>
            <div class="width100">
              <nouislider #ciMultiplierSlider (slide)="onSliderChange($event)" [config]="ciSliderConfig" [min]="0" [max]="maxBadMoodFund"
                  [step]="100"></nouislider>
                <div class="min-max-val">
                  <div class="min-val">$0<span class="min-text">Min</span></div>
                  <div class="max-val">${{maxBadMoodFund}}<span class="max-text">Max.</span></div>
                </div>
            </div>
          </div>
         
        </div>
       
    </div>
    <h6> {{'CMP.YOUR_FINANCES.HOSPITAL_CHOICE' | translate}}</h6>
    <p>{{'CMP.YOUR_FINANCES.HOSPITAL_CHOICE_DESC' | translate}}</p>
    <div class="form-group mb0 flex-col flex__box--sm-horz">
    <div class="special-radio-button hidden" *ngFor="let hospitalPlanData of hospitalPlanList; let i = index">
        <input id="hospitalPlan_{{i+1}}" (change)="validateForm(hospitalPlanData)" name="hospitalPlanId"
          formControlName="hospitalPlanId" type="radio" class="field radio" value="{{hospitalPlanData.id}}" tabindex="{{i+1}}" />
        <label for="hospitalPlan_{{i+1}}">
          <div class="input-label-white">{{hospitalPlanData.hospitalClass}}</div>
          <div class="input-label-normal">{{hospitalPlanData.hospitalClassDescription}}</div>
        </label>
      </div>
     </div>
      <div class="mb100">
        <button type="button" (click)="goToNext(hospitalPlanForm)" class="btn btn-primary mt30 width100"
      id="moDpdnt2BtnFooter">{{'CMP.FORM_LABEL.CONTINUE' | translate}}
    </button>
      </div>
      <div class="flex-row footer-notes btn__footer--fixed width100 p-3 income-value " id="prfBtn1"><div class="flex-col-9 bucket-notes text-left">{{ 'CMP.MY_EARNINGS.BUCKET_NOTE'|translate}}</div> <div class="flex-col-3 text-right bucket-notes-dollar"> {{totalAnnualIncomeBucket | currency:'USD':'symbol-narrow':'1.0-2'}}</div></div>
    </form>
  </div>
</div>