/*Global Styles*/
html, body {
  height: 100%;
}
ul, ul li {
  list-style: none;
}
*:focus {
  outline: none;
}
body {
    background-color: $app-backgrnd-color;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: $muli-regular;
    color: $module-fill-color;
    padding:0px;
    margin:0px;
  }
  
  /*Heading Styles*/
  h2 {
    font-family: $muli-semi-bold;
    font-size: 36px;
  }
  h6 {
    font-family: $muli-regular;
    font-size: 18px;
  }
  /*Nav Bar Styles*/
  .container-fluid {
    padding-top: 50px;
    padding-left: 68px;
    padding-right: 68px;
    padding-bottom: 65px;
  }
  .navbar {
    background-color: $module-fill-color;
    box-shadow: none;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: $app-backgrnd-color;
    justify-content: space-between;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.25);
    >.container,
    >.container-fluid {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
    .navbar-wrapper{
      position: relative;
      display: flex;  
      flex-direction:row;      
      flex-wrap: wrap;
      align-items: center;
      width:100%;
      max-width:1024px;
      @include allmobiles{
        flex-direction:column;
      }
      .navbar-group{
        position: relative;
        display: flex;
        flex-direction:row;
        flex-wrap:wrap;
        align-items:center;
        @include allmobiles{
          width:100%;
        }
      }
    }
    .navbar-collapse{
      display:flex;
      flex-direction:row;
      flex-basis:auto;
      justify-content:space-between;
      max-width:500px;
      overflow:hidden;
      .navbar-nav{
        flex-basis:100%;
      }
      li{
        width:auto;
      }
      .dropdown-menu{ 
        position: absolute;
        width:100%;
        @include allmobiles{
          position: relative;
          &.show{
            top:0px !important;
            left:0px !important;
          }
        }
      }  
    }
  }
  .navbar__menu-icon{
    background-image: url("./assets/images/menu-icon.svg");
    display:block;
    width:24px;
    height:24px;   
  }
  .navbar__logo--primary {
    height: 35px;
  }
  .navbar__logo--secondary,
  .navbar__back-btn--web {
    background-repeat: no-repeat;
    display: block;
    height: 40px;
  }
  .navbar__logo--primary {
    background-image: url("./assets/images/logo--primary.svg");
    width:147px;
  }
  .navbar__logo--secondary {
    background-image: url("./assets/images/logo--secondary.png");
    width: 130px;
    margin-top: 20px;
  }
  .navbar__back-btn--web {
    background-image: url("./assets/images/back-web.svg");
    width: 55px;
    height: 43px;
    cursor: pointer;
  }
  .navbar__back-btn--web {
    &:hover {
      background-image: url("./assets/images/back-web-hover.png");
    }
  }
  .navbar__back-btn--mobile {
    background-image: url("./assets/images/back-mobile-btn.svg");
    width: 25px;
    height: 100%;
    position: absolute;
    left: 15px;
    top: 25px;
    cursor: pointer;
    background-repeat: no-repeat;
  }
  .navbar__logo__divider {
    padding: 0 5px;
    color: #8cd7d7;
  }
  .navbar__logo__subtitle {
    line-height: 52px;
    padding-left: 5px;
    font-size: 16px;
    font-family: $muli-bold;
  }
  .navbar__helpIcon--mobile {
    position: absolute;
    display:inline-block;
    background-image: url("./assets/images/baseline-help-24-px.png");
    width:20px;
    height:20px;
    top:22px;
    right:13px;
    z-index:1;
  }
  
  .navbar__closeIcon {
    position: absolute;
    display: inline-block;
    background: url("./assets/images/prodInfoSelectClose.svg") !important;
    width:20px;
    height:20px;
    top:22px;
    right:13px;
    z-index:1;
    @include allmobiles {
      background: url("./assets/images/close-button-dark.svg") !important;
      width:18px;
      height:18px;
    }
  }

  .span--content-inline--underline {
    @include allmobiles{
      color: #ffffff;
    }
    color: #04a6a7;
    text-decoration: underline;
    font-family: $muli-bold;
  }
  .modal-backdrop.show {
    opacity: 0.8;
}
.modal .close {
    position: absolute !important;
    right: 12px !important;
    top: 15px !important;
    text-shadow: none !important;
    background: url("./assets/images/close-button-dark.svg") !important;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat !important;
    // position: relative;
    // float: right;
    // top: 14px;
    // right: 5px;
    @include allmobiles {
      top: 22px !important;
      opacity: 1 !important;
    }
}
a.link-white {
    color: $white-color;
    text-decoration: underline;
}
