@import './variables';
@import './mixins';

.hdivider{
    height:25px;
}

.page-box{
    padding:0px 30px 40px 30px;
    @include minMobilemaxPhablet{
        padding:0px 0px 50px 0px;
    }

    /* Article Colors */
    .primary-color{
        color:$teal-color;
    }

    .width25{
        width:25px;
    }
    @include minMobilemaxPhablet{
        .xs-miWidth50{
            min-width:50px;
        }
        .xs-minWidth150{
            min-width:150px;
        }
    }
    
    /* Heading */
    h1,h2,h3 {
        font-family:$muli-bold;
        margin-top:10px;
    }
    h4,h5,h6 {
        font-family:$muli-semi-bold;
    }
    @include minMobilemaxPhablet{
        h2{
            font-size:1.5rem;
        }
    }
    p{
        color:$black-color;
        font-size:1rem;
        margin-bottom:0px;
    }
    small{
        display:block;
        color:$black-color;
        font-family:$muli-regular;
    }
    a{
        color:$orange-color;
        font-family:$muli-bold;
        line-height:1.2;
    }
    
    img{
        max-width:100%;
        &.thumbnail{
            margin: 0px 0px 15px 15px;
            @include minMobilemaxPhablet{
                margin:15px 0px 15px 0px;
                width:100%;
            }
            &.fullwidth{
                margin:0px;
                width:100%;
            }           
        }
    }

    /* Table Styles */
    .table-responsive{
        display:block;
        width:100%;
        min-height:0.1%;
        overflow-x:auto;
    }
    .table{
        width:100%;
        max-width:100%;
        font-size:0.9em;
        margin-bottom:0;
        &.table-bordered{
            border:1px solid $border-grey-color;
        }
        &.table-condensed{
            th,td { 
                padding: .35rem .60rem;
            }
        }
        &.table-subtype{
            tr{
                border-bottom:0px;
                &:first-child{
                    background-color:$teal-grey-color;
                    color:$white-color;
                }
                td{
                    padding:10px 15px;
                }
            }
        }
        &.table-nostyle{
            tr{
                &:first-child{
                    td{
                        background-color:$white-color !important;
                    }
                }
            }
            td{
                &:first-child{
                    font-family:$muli;
                    $background-color:$white-color;
                }
            }
        }
    }
    
    tr{
        border-bottom:2px solid $teal-color;
        &:first-child{
            background-color:$lighter-aqua-color;
            font-family:$muli-bold;
            td{
                text-align: center;
            }
        }
        &.center{
            td{
                text-align:center;
            }
        }
    }

    td{ 
        color:$black-color;
        &:first-child{
            font-family:$muli-bold;  
            padding:10px; 
            background-color:$lighter-aqua-color;
            color:$black-color;
            text-align:left;
            vertical-align:middle;
        }
        &.selected{
            text-align:center;
        }
    }
    

    /* Image Styling */
    .partners{
        img{
            width:60px;
            height:60px;
            max-width: unset;
        }
    }
    .img-width--clear{
        img{
            max-width: unset;
        }
    }
    /* Button Styling */
    .cell--dark-green{
        a{
            display:flex;
            align-self:center;
            font-family:$muli-bold;
            justify-content:center;
            align-items: center;
            font-size:1rem;
            padding:5px 10px;
            line-height:1.5;
            border-radius:5px;
            color:$white-color;
            background-color:$orange-color; 
            border-color:$orange-color;
            padding:3px 10px;
            small{
                color:$white-color;
            }
            i{
                margin-left:5px;
                color:$white-color;
            }
            &:hover{
                background-color:$orange-color;
                border-color:$orange-color; 
                color:$white-color;
                filter:brightness(0.8);
            }
            &:focus{
                background-color:$orange-color;
                border-color:$orange-color;
                color:$white-color;
                filter:brightness(0.8);
            }
            &:active{
                background-color:$orange-color;
                border-color:$orange-color;
                color:$white-color;
                filter:brightness(0.8);
            }
        }
    }
    /* List Styling */
    ol{
        @include minMobilemaxPhablet{
            padding-inline-start:20px;
        }
        li{
            color:$black-color;
        }
    }
    ul{
        display:block;
        margin-block-start:1em;
        margin-block-end:1em;
        margin-inline-start:0px;
        margin-inline-end:0px;
        padding-inline-start:40px;
        @include minMobilemaxPhablet{
            padding-inline-start:20px;
        }
        li{
            list-style-type:disc;
            color:$black-color;
            @include minMobilemaxPhablet{
                font-size:0.9em !important;
            }
        }
        &.list-unstyled{
            
            @include minMobilemaxPhablet{
                padding-inline-start:0px;
            }
            li{
                list-style-type:none;
            }
        }
    }
    /* Custom Cell Styles */
    .cell--clean{
        font-weight:normal;
        background-color:transparent !important;
        font-family:$muli !important;
        vertical-align:middle;
    }
    .cell--vmiddle{
        vertical-align:middle;
    }
    .cell--header{
        background-color:$lighter-aqua-color;
        font-family:$muli-bold;
    }
    .cell--lighter-aqua{
        background-color:$lighter-aqua-color;
    }
    .cell--dark-green{
        background-color:$dark-teal-color;
        color:$white-color;
    }
    /* Custom Border Styles */
    .border--clean{
        border:0px;
    }
    
    .text-xs-center{
        font-size:12px;
        text-align:center !important;
    }

    .text-secondary-color{
        color:$dark-teal-color;
    }
    
}
/** Card Block **/
.card-block{
    padding:10px;
}
/** Side Panel Card **/

.relate-side__card{
    position: relative;
    display:flex;
    flex-direction:column;
    width:100%;
    height:auto;
    overflow:hidden;
    background-color:$white-color;
    margin-bottom:15px;
    
    @include minPhabletmaxTablet{
        width:280px;
        margin-left:5px;
        margin-right:5px;
    
        &:first-child{
            margin-left:unset;
        }
        &:last-child{
            margin-right:unset;
        }
    }
    @include allmobiles{
        flex-direction:row;
    }

    .related-card__img{
        position: relative; 
        width:100%;
        height:auto;
        img{
            display:block;
            width:100%;
        }
        @include minMobilemaxPhablet{
            flex-basis:40%;
            border-bottom:unset;
            overflow:hidden;
        }
    }

    .related-card__desc{
        position: relative;
        display:block;
        padding:10px 0px 10px 0px;
        @include minMobilemaxPhablet{
            flex-basis:60%;
            padding:0px 10px 10px 10px;
        }
        .related-card--title{
            position: relative;
            display:block;
            font-family:$muli-bold;
            font-size:15px;
            color:$teal-color;
            transition:0.3s;
            cursor: pointer;
            &:hover{
                color:$dark-teal-color;
                text-decoration:none;
            }
        }
        a{
            font-family:$muli-semi-bold;
            font-size:14px;
            color:$orange-color;
            &:hover{
                opacity:0.9;
            }
            i{
                transform:translate(-7px,4.5px);
                font-size:22px;
            }
        }
        .related-card--summary{
            font-family:$muli-regular;
            font-size:12px;
            color:$dark-teal-color;
        }
    }
}


