/*Form group with bg styles*/
.form-group {
  .flex-col-4 {
    label {
      font-size: 18px;
      font-family: $muli-semi-bold;
    }
  }
}

.form-group-with-bg {
  .flex-row {
    @extend .align-center;
  }

  border-radius: 8px;
  background: #f4fafb;
  margin-bottom: 16px;

  .form-group-with-bg--header {
    background: $white-color;
    padding: 15px 20px 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    .form-group-with-bg--header-label {
      font-family: $muli-semi-bold;
      color: #000000;
      padding-bottom: 10px;
      font-size: 18px;
      word-break: break-word;

      @include allmobiles {
        word-break: break-word;
      }
    }

    .form-group-with-bg--header-single-label {
      margin-right: 2vw;
      font-family: $muli-semi-bold;
      color: #000000;
      padding: 10px 0 18px 0;
      font-size: 18px;
    }

    .form-group-with-bg--header-sub-label {
      font-family: $muli-regular;
      color: #8d9aa8 !important;
      font-size: 16px;
    }

    .flex-row {
      align-items: start;
    }
  }

  .total {
    color: #00a7a7;
    font-family: $muli-semi-bold;
    position: relative;
    //top: -17px;
    font-size: 22px;
    @extend .block;
    @extend .text-right;
    @extend .width100;
  }

  .form-group-with-bg--content {
    .flex-row:not(:last-child) {
      margin-bottom: 22px;
    }

    padding: 20px;

    .form-group-with-bg--content-label {
      color: #2d8289;
      font-family: $muli-semi-bold;
      margin-right: 10px;
      position: relative;
      font-size: 16px;

      .form-group-with-bg--header-single-label {
        font-family: $muli-semi-bold;
        color: #000000;
        padding: 10px 0 18px 0;
        font-size: 18px;
      }

      a.link {
        text-decoration: underline !important;
        color: #2d8289 !important;
      }

      .with-help-icon {
        @extend .flex;
        @extend .align-center;
      }

      .help-icon {
        background-image: url("./assets/images/help-icon.png");
        //position: absolute;
        //right: 10px;
        width: 35px;
        height: 20px;
        //top: 4px;
        cursor: pointer;
        background-repeat: no-repeat;
        margin-left: 10px;

        @include allmobiles {
          //top: 15px;
          //right: 30px;
        }
      }
    }

    .form-group-with-bg--content-sub-label {
      font-family: $muli-regular;
      color: #2d8289;
      font-size: 16px;
    }
  }
}

/* Form Group Single Column Styles*/
.form-group-single-column {
  display: flex;

  &.flex-row {
    flex-direction: row;
    align-items: center;
  }

  &.flex-col {
    flex-direction: column;
  }

  .checkbox-button {
    background: $white-color;
    font-family: $muli-bold;
    font-size: 18px;
    margin-bottom: 16px;
    position: relative;
    border: none;
    border-radius: 6px;

    .tooltip-icon {
      position: absolute;
      right: 14px;
      top: 17px;
      background: url("./assets/images/tooltip-icon.svg") no-repeat;
      height: 20px;
      width: 20px;
      cursor: pointer;
    }

    .input-label-black,
    .input-label-grey {
      color: #000000;
      font-family: $muli-semi-bold;
      font-size: 18px;
    }

    .input-label-grey {
      color: #5e5e5e;
    }

    .input-label-normal {
      font-family: $muli-regular;
      font-size: 16px;
      color: #5e5e5e;
    }

    &.one-label {
      padding: 0.90rem 0.80rem;
    }

    &.two-label {
      padding: 0.4rem 0.8rem;
    }
  }
}


/*Form Group Styles*/
.form-group {
  .flex-row {
    margin-bottom: 17px;
    @extend .align-center;
  }
}

/*Check box / Radio Button styles*/

/*Special Radio/Checkbox*/
.special-radio-button {
  padding: 0px;
  margin-bottom: 15px;

  @include allmobiles {
    display: flex;
    width: 50%;
    min-height: 200px;
    margin-bottom: 11px;

    &:nth-child(1) input[type='radio']+label,
    &:nth-child(2) input[type='radio']+label {
      margin-top: 10px;
    }

    &:nth-child(2n+1) input[type='radio']+label {
      margin-left: auto;
      margin-right: 5.5px;
    }

    &:nth-child(2n) input[type='radio']+label {
      margin-right: auto;
      margin-left: 5.5px;
    }
  }

  &.one-label {
    padding: 0.70rem 0.80rem;
  }

  &.two-label {
    padding: 0.4rem 0.8rem;
  }

  input[type='radio']+label,
  input[type='checkbox']+label {
    width: 100%;
    padding: 17px 15px;
    background: #00c5c4;
    color: #fff;
    font-family: $muli-bold;
    font-size: 16px;
    position: relative;
    border: none;
    border-radius: 6px;

    @include allmobiles {
      width: calc(100% - 15px);
      height: 200px;
      text-align: center;
      padding: 20px 19px;
      max-width: 163px;
      position: relative;

      &.ltc {
        padding: 25px 21px;
      }
    }

    @include min300max350 {
      padding: 20px 11px;
    }

    .input-label-white {
      color: #ffffff;
      font-family: $muli-semi-bold;
      font-size: 20px;
      line-height: 1.3;
      margin-bottom: 6px;

      @include allmobiles {
        margin-bottom: 20px;
      }

      @include min300max350 {
        @include fontSize(12.0px);
      }
    }

    .input-label-normal {
      font-family: $muli-regular;
      @include fontSize(10px);
      color: #ffffff;
      opacity: 0.8;
      letter-spacing: -0.3px;
      line-height: 1.1;

      @include allmobiles {
        position: absolute;
        font-family: $muli-regular;
        display: block;
        width: 100%;
        left: 0px;
        padding: 0 10px;
        letter-spacing: -0.3px;
        bottom: 20px;
        line-height: 1.3;
        font-size: 16px;
      }

      @include min300max350 {
        padding: 0 13px;
      }
    }

    .input-label-top20 {
      font-family: $muli;
      @include fontSize(10px);
      color: #ffffff;
      opacity: 0.8;
      letter-spacing: -0.3px;
      line-height: 1.1;

      @include allmobiles {
        padding: 0;
        line-height: 1.3;
        @include fontSize(8.5px);
      }
    }
  }

  input[type='radio']:checked+label,
  input[type='checkbox']:checked+label {
    background-image: none;
    background-color: #fff;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.3);

    .input-label-white,
    .input-label-normal,
    .input-label-top20 {
      color: #00a7a7;
    }
  }

  input[type='radio']:disabled+label {
    background-image: none !important;
  }
}

/*Input placeholder styles*/

input::placeholder {
  color: $app-backgrnd-color !important;
}

input[type='radio']+label {
  margin: 0;
  clear: none;
  padding: 0px 0 0px 35px;
  cursor: pointer;
  background: url("./assets/images/radio-normal.svg") left center no-repeat;
}

input[type='radio']:checked+label {
  background-image: url("./assets/images/radio-select.svg");
}

input[type='radio']:checked:disabled+label {
  background-image: url("./assets/images/comprehensive/disabled-control/icon_radio_disabled.svg");
}

input[type='checkbox']+label {
  margin: 0;
  clear: none;
  padding: 0px 0 0px 35px;
  cursor: pointer;
  background: url("./assets/images/check-box-normal.svg") left center no-repeat;
}

input[type='checkbox']+label.checkbox-error {
  margin: 0;
  clear: none;
  padding: 0px 0 0px 35px;
  cursor: pointer;
  background: url("./assets/images/comprehensive/error-icon/icon_checkbox_error.svg") left center no-repeat;
}

input[type='checkbox']:checked+label {
  background-image: url("./assets/images/check-box-select.svg");
}

input[type='checkbox']:checked:disabled+label {
  background-image: url("./assets/images/comprehensive/disabled-control/icon_checkbox_disabled.svg");
}

input[type="radio"],
input[type="checkbox"] {
  margin-top: 0;
  display: none;
}

/*Input placeholder styles*/

input::placeholder {
  color: $app-backgrnd-color !important;
}

/*Inline Error Styles*/

.inline-error {
  color: $inline-error-border-color !important;
  border: 1px solid $inline-error-border-color !important;
  background: $inline-error-bg-color;
  border-radius: 4px;

  &.form-control i,
  &.form-control::placeholder,
  &.form-control i.right,
  &.dropdown-control .btn-dropdown,
  .grey-text {
    color: $inline-error-border-color;
  }

  .btn-dropdown:after {
    background-image: url('./assets/images/comprehensive/error-icon/icon_dropdown_error.svg') !important;
    width: 20px !important;
    height: 17px !important;
    border: none !important;
    position: absolute;
    top: 15px !important;
    right: 10px !important;
  }

  &.dropdown-control,
  .form-control,
  &.form-group-floating-label,
  .btn-dropdown,
  .input-control,
  .input-group-append .btn-primary {
    background: $inline-error-bg-color !important;
  }

  .btn-dropdown {
    border: none !important;
  }

  input::placeholder {
    color: $inline-error-border-color !important;
  }

  div {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .btn-primary {
    background: #fff3e9 !important;
  }

  label,
  input {
    color: $inline-error-border-color !important;
  }
}

.form__col--mid {
  label {
    color: #2d8289;
    font-family: $muli-semi-bold;
    margin-top: 1vh;
    margin-right: 5vw;

    @include allmobiles {
      margin-right: 0;
    }
  }
}

/*Datepicker Control styles*/

.datepicker-control {
  .input-group {
    margin-bottom: 8px;

    .form-control {
      border: transparent;
      color: $app-backgrnd-color;
      background: $module-fill-color;
    }
  }

  .input-group-append {
    .btn-primary {
      background: $module-fill-color !important;
      border: transparent;
      box-shadow: none;
      @extend .align-center;
      @extend .flex;
      @extend .justify-center;
      height: 60px;
    }
  }

  .date-picker-image--valid,
  .date-picker-image--invalid {
    width: auto;
    height: auto;
    cursor: pointer;
    margin-bottom: 1px;
    margin-top: -4px;
  }
}

/*Dropdown Control styles*/

.dropdown-control {
  .btn {
    width: 100%;
  }

  .dropdown-menu.show {
    min-width: 100%;
  }

  .dropdown-lg {
    height: 235px;
    background-color: #fff;
    overflow: auto;
  }

  .btn-dropdown {
    background: $module-fill-color;
    padding: .90rem;
    border: 1px solid #94CCCC;
    text-align: left;
    font-size: 16px;
    font-family: $muli-regular;
    color: #00a7a7;
    white-space: normal;

    &.grey {
      color: $text-color-secondary;
      justify-content: start;
      border: none;
    }

    &.without-border {
      border: none;
    }
  }

  .btn-dropdown:after {
    background-image: url('./assets/images/dropdown-icon.svg');
    width: 16px;
    height: 10px;
    border: none;
    position: absolute;
    top: 22px;
    right: 13px;
  }

  .form--group-dropdown-selected {
    color: #00a7a7;
  }

  .dependent-count {
    color: #00a7a7;
    margin-right: 4px;
  }
}

/*Form control Styles*/

.form-control {
  width: 100%;
  border: 1px solid #94CCCC;
  border-radius: 6px;
  position: relative;
  padding: 0.90rem;
  font-size: 16px;

  i {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 50%;
    pointer-events: none;
    text-align: center;
    font-style: normal;
    z-index: 2;
    color: #00a7a7;

    &.right {
      right: 12px;
      transform: translate(0, -50%);
      top: 50%;
      color: #2D8288;
    }
  }

  .input-control {
    width: 100%;
    color: #00a7a7;
    position: relative;
    background: #FFF;
    text-align: right;
    border: none;
    font-size: 16px;

    input {
      padding-left: 15px;
      padding-right: 0;
      text-align: right;
    }

    &.grey {
      color: $text-color-secondary;
    }
  }

  &.form-control-right {
    input {
      padding-left: 0;
      padding-right: 45px;
      text-align: right;
    }
  }
}

.readonly-disabled {
  background: rgba(0, 167, 167, 0.16) !important;

  input {
    background: transparent !important;
  }
}

.dropdown-toggle {
  &:disabled {
    color: #bff1f1 !important;
    border-color: #bff1f1 !important;

    &::after {
      opacity: 0.1;
      filter: alpha(opacity=10);
    }
  }
}

.form-control {
  &.disabled {
    border-color: #bff1f1 !important;

    i,
    input {
      color: #bff1f1 !important;
    }
  }
}

.label-bold {
  font-family: $muli-semi-bold;
  font-size: 18px;
}

.stretch {
  @include flex-grow(2 !important);
}

/*Floating Label form control styles*/
.form-group-floating-label {
  padding: 7px 0 0;
  background: $white-color;
  border-radius: 6px;
  position: relative;
  margin-bottom: 1.5rem;
  margin-bottom: 0;

  .show-password,
  .hide-password {
    background: url("./assets/images/show-password.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 17px;
    z-index: 1040;
  }

  .hide-password {
    background: url("./assets/images/hide-password.svg");
    background-repeat: no-repeat;
  }

  .error-tooltip {
    position: absolute;
    bottom: 56px;
    z-index: 9999;
    width: 100%;

    .error-tooltip__desc {
      position: relative;
      padding: 10px;
      border-radius: 6px;
      background: #007d7d;

      p {

        &.error-tooltip__desc-one,
        &.error-tooltip__desc-two,
        &.error-tooltip__desc-three {
          position: relative;
          color: $white-color;
          font-size: 14px;
          margin-bottom: 1px;
          font-style: italic;
          margin-left: 31px;

          .tick-mark {
            background: url("./assets/images/tick-mark-with-app-bg.svg");
            width: 15px;
            height: 15px;
            position: absolute;
            right: 10px;
            background-repeat: no-repeat;
            top: 3px;
          }
        }

        &.error-tooltip__title {
          font-size: 18px;
          font-family: $muli-bold;
          margin-bottom: 2px;

          .error-tooltip__title__warning-icon {
            text-align: center;
            border-radius: 100%;
            background-color: #e57300;
            width: 25px;
            height: 25px;
            display: inline-block;
            vertical-align: middle;
            line-height: 23px;
            margin-right: 5px;
          }
        }

        &.error-tooltip__desc-three {
          color: #a2cfcf;
        }
      }

      .error-tooltip__arrow {
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid #007d7d;
        position: absolute;
        bottom: -14px;
        right: 15px;
      }
    }
  }

  .form-control {
    color: #00a7a7;
    border: none;
    padding-bottom: 9px;
    padding-top: 12px;
    position: relative;
    z-index: 999;
    background: transparent !important;
    width: 90%;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    color: #00a7a7;
    -webkit-text-fill-color: #00a7a7;
    box-shadow: inset 0 0 0px 9999px white;
  }

  .form-control-placeholder {
    position: absolute;
    top: 14px;
    padding: 0px 0 0 12px;
    transition: all 200ms;
    color: #00a7a7;
    left: 2px;
    background: transparent !important;
  }

  .form-control:focus+.form-control-placeholder,
  .form-control:valid+.form-control-placeholder {
    font-size: 10px;
    transform: translate3d(0, -50%, 0);
    opacity: 1;
    color: #5e5e5e;
    z-index: 999;
  }
}

/*Sign Up*/
.signup-wrapper {
  display: flex;
  flex-direction: column;

  @include allmobiles {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .signup-wrapper__title {
    font-family: $muli-semi-bold;
    font-size: 36px;
    letter-spacing: 0.4px;

    @include allmobiles {
      margin-left: 0px;
      font-family: $muli-bold;
      font-size: 24px;
      letter-spacing: -0.2px;
    }
  }

  .signup-wrapper__sub-title {
    font-family: $muli-regular;
    font-size: 18px;
    letter-spacing: 0.2px;
    line-height: 1.17;
  }

  .signup-wrapper__description {
    font-size: 18px;
    line-height: 22px;

    @include allmobiles {
      margin-bottom: 30px;
    }
  }

  .signup-wrapper__header-icon {
    width: 180px;
    height: 180px;
    display: block;

    @include allmobiles {
      width: 138px;
      margin-bottom: 15px;
      max-width: 138px;
      max-height: 138px;
      height: auto;
    }
  }
}

.form-control:focus {
  //border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.input-group {
  &.inline-error {
    .btn-primary {
      background: transparent !important;
      border: transparent;
    }
  }
}

/* Direct Forms */
.prod-form__wrapper {
  form {
    position: relative;
    min-width: 756px;
    justify-content: space-between;

    @include tablet {
      min-width: 720px;
    }

    @include phablet {
      min-width: unset;
      padding: 0px 20px;
      flex-wrap: wrap;
    }

    @include allmobiles {
      flex-direction: column !important;
      min-width: unset;
    }
  }

  .direct-form {
    width: 350px;

    @include tablet {
      width: 333px;
    }

    @include allmobiles {
      width: auto;
    }

    margin-bottom:0px;

    @include phablet {
      margin-left: auto;
      margin-right: auto;
    }

    @include allmobiles {
      width: 100%;
      padding: 0px 20px;
    }

    @include min300max350 {
      padding: 0px 16px;
    }

    &.sm--view {
      display: none;

      @include allmobiles {
        display: block;
      }
    }

    .flex-row {
      justify-content: space-between;
      align-items: center;

      @include allmobiles {
        max-width: unset;
      }
    }

    label {
      font-family: $muli-semi-bold;
      color: $dark-teal-color;
      font-size: 18px;
      letter-spacing: -0.3px;
      line-height: 1.3;
      margin-bottom: 0px;

      &.subtitle {
        font-family: $muli;
        font-size: 16px;
        transform: translateY(-5px);
      }

      @include minMobilemaxPhablet {
        color: $white-color;
      }
    }

    .tooltip-icon {
      position: relative;
      right: -105px;
      top: -50px;
      background: url("./assets/images/tooltip-icon.svg") no-repeat;
      height: 20px;
      width: 20px;
      cursor: pointer;

      @include allmobiles {
        background: url("./assets/images/tooltip-icon-white.svg") no-repeat !important;
      }
    }
  }

  .second-form {
    margin-left: 81px;

    @include allmobiles {
      margin-left: 0px;
    }
  }
}

/* Subscribe Forms */
.subcribe-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: $white-color;
  padding: 60px 0px;

  p {
    color: $dark-teal-color;
    margin-bottom: 0px;
  }

  .subscribe__form--main {
    position: relative;
    padding: 40px;
    border-radius: 6px;
    border: 1px solid #e1e1e1;

    .mail-icon__container {
      position: absolute;
      right: -37px;
      top: -40px;
      transform: rotate(-6deg);

      .mail-icon {
        color: $dark-teal-color;
        font-size: 102px;
      }
    }

    .subscribe-title {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 20px;

      h1 {
        display: inline-block;
        font-family: $muli-semi-bold;
        color: $teal-color;
        text-align: center;
        margin-bottom: 0px;
      }

      p {
        display: inline-block;
        text-align: center;
      }
    }

    .row {
      margin: auto;

      .flex-col-6 {
        flex-basis: 48%;
        width: 48%;
        margin-bottom: 10px;
      }
    }

    .interest__container {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-bottom: 10px;

      label {
        color: $dark-teal-color;
        margin-bottom: 5px;
      }
    }

    .subscribe-btn {
      position: relative;
      display: block;
      width: 100%;
    }
  }
}

.subscribe__form--plugin {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
  margin-bottom: 70px;

  @include minMobilemaxPhablet {
    width: 320px;
  }

  .subscribe-title--container {
    position: relative;
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;

    .subscribe--title {
      font-family: $muli-bold;
      font-size: 24px;
      color: $teal-color;
      line-height: 1.3;
      margin: 0px 0px 10px 16px;

      @include minMobilemaxPhablet {
        font-size: 18px;
        line-height: 1.3;
        margin: 0px 0px 20px 16px;
      }
    }

    .subscribe--will-title {
      font-family: $muli-bold;
      font-size: 26px;
      color: $teal-color;
      line-height: 1.3;
      margin: 0px 0px 13px 5px;

      @include minMobilemaxPhablet {
        font-size: 20px;
        line-height: 1.3;
        margin: 0px 0px 10px 5px;
      }
    }

    .subscribe--icon {
      margin-right: 15px;
    }
  }

  .subscribe-promo--container {
    position: relative;
    display: block;
    width: 100%;
    background-color: $white-color;
    box-shadow: 0 2px 4px 0 rgba(181, 181, 181, 0.5);
    border-radius: 18px;
    padding: 8px 5px 10px 5px;
    margin-bottom: 10px;

    .subscribe--promo {
      font-family: $muli;
      color: $teal-color;
      font-size: 16px;
      text-align: center;
      text-transform: uppercase;
      line-height: 1.2;

      @include minMobilemaxPhablet {
        font-size: 14px;
      }

      @include min300max325 {
        font-size: 14px;
      }
    }
  }

  .subscribe-input--container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    padding: 0px;

    .row {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0px 0px 10px 0px;

      .flex-col-6 {
        flex-basis: calc(50% - 5px);
        width: calc(50% - 5px);
      }
    }

    .sub-message {
      position: relative;
      display: block;
      font-family: $muli-bold;
      color: $red-color;
      font-style: italic;
      font-size: 14px;
      letter-spacing: -0.1px;
      line-height: 1.2;
      margin: 0px;
      height: 0px;
      transition: 0.5s;

      &.active {
        height: auto;
        padding: 0px 0px 16px 0px;
      }

      &.success {
        color: $green-color;
      }
    }

    .form-control {
      display: inline-block;
      border: 0px;
      height: 60px;
      padding: 0px 10px 0px 15px;
      border: 1px solid $light-teal-color;
      border-radius: 6px;

      &::placeholder {
        color: $light-teal-color;
      }
    }

    .subscribe-btn {
      position: relative;
      display: flex;
      width: 100%;
      height: 60px;
      padding: 0px;
      justify-content: center;
      align-items: center;
      font-family: $muli-bold;
      font-size: 22px;
      letter-spacing: -0.2px;
      box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.14) !important;
    }

  }

  .subscribe--subtext {
    font-family: $muli-regular;
    font-size: 14px;
    line-height: 1.2;
    color: #4a4a4a;
    opacity: 0.9;
    margin-top: 10px;
    text-align: center;
  }
}

//Comprehensive form styles
.comprehensive {
  .form-group-with-bg {
    margin-bottom: 20px;

    .form-group-with-bg--content {
      padding: 20px;
    }

    .form-group-with-bg--header-label {
      font-size: 16px;


    }

    .bg-title {
      .form-group-with-bg--header-label {
        color: #313644 !important;
      }
    }

    .form-group-with-bg--content-white {
      background: $white-color;
      padding: 20px;
      border-radius: 6px;

      &--title {
        font-size: 18px;
        font-family: $muli-semi-bold;
        margin-bottom: 20px;
        color: $btn-comprehensive;
        @extend .flex;
        @extend .align-center;
      }

      &--desc {
        font-size: 16px;
        font-family: $muli-regular;
        margin-bottom: 15px;
        color: $btn-comprehensive;
        align-items: self-end;

        strong {
          font-family: $muli-bold;
        }
      }
    }

    .form-group-with-bg--header {
      .form-group-with-bg--header-label {
        //width: 97%;
      }
    }

    //padding: 10px 0;
    color:$app-backgrnd-color;

    label {
      color: $dark-teal-color;
      margin-bottom: 0;
      font-family: $muli-semi-bold !important;

      &.btn-outline-primary {
        font-family: $muli-regular !important;
        color: $app-backgrnd-color;
      }
    }

    &--header-sub-label {
      font-weight: normal;
    }
  }

  .datepicker-control {
    border: 1px solid rgba(0, 135, 134, 0.4);
    border-radius: 6px;
  }

  input::placeholder {
    color: #888888 !important;
  }

  .form-group-with-bg--content {
    .flex-row:not(:last-child) {
      margin-bottom: 20px;
    }

    .flex-row:last-child {
      margin-bottom: 10px;
    }
  }

  .form-control {
    color: $app-backgrnd-color;
    font-family: "muli light";
    &.with-bg {
      background: $form-title-backgrnd-color !important;
    }
  }

  .form-group-single-column {
    .checkbox-button {
      .input-label-grey {
        font-size: 16px;
        font-family: $muli-semi-bold;
      }
    }
  }

  .dependant_selection_title {
    font-size: 16px;
    font-family: $muli-semi-bold;
  }

  .form-group-single-column .checkbox-button {
    margin-bottom: 20px;
    font-size: 16px;
    font-family: $muli-semi-bold;
  }

  .form-group-with-bg--header-label {
    &.with-tooltip {
      @extend .flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .placeholderAmount {
    color: #5e5e5e;
  }

  //Diasble form control styles
  .btn-outline-primary.active.view-mode,
  .dropdown-toggle:disabled,
  .form-control.view-mode {
    background-color: rgba(0, 167, 167, 0.15) !important;
    color: $app-backgrnd-color !important;
    border: solid 1px rgba(0, 135, 134, 0.4) !important;
    cursor: not-allowed !important;
    pointer-events: none;

    &.earn-btn-dropdown {
      color: $white-color !important;
    }
  }

  .btn-outline-primary.view-mode {
    cursor: not-allowed !important;
    border: solid 1px rgba(0, 135, 134, 0.4) !important;
    pointer-events: none;
  }

  .form-control.view-mode input:disabled {
    background-color: transparent;
    pointer-events: none;
  }

  .btn-outline-primary:hover.active.view-mode {
    background-color: rgba(0, 167, 167, 0.15) !important;
    pointer-events: none;
  }

  .btn-outline-primary.view-mode {
    cursor: not-allowed !important;
    pointer-events: none;
  }

  .btn-outline-primary:hover.view-mode {
    background: $white-color !important;
    pointer-events: none;
  }

  .dropdown-toggle:disabled::after {
    color: $app-backgrnd-color !important;
    opacity: 1 !important;
    pointer-events: none;
  }

  .datepicker-control .input-group.view-mode .form-control {
    background-color: rgba(0, 167, 167, 0.15) !important;
    color: $app-backgrnd-color !important;
    cursor: not-allowed !important;
    pointer-events: none;
  }

  .btn.btn-primary:disabled {
    background-color: rgba(0, 167, 167, 0.15) !important;
    cursor: not-allowed !important;
  }

  .footer-cta .btn.btn-primary:disabled {
    background: $btn-comprehensive-disabled-bg !important;
    color: $white-color !important;
  }

  .view-mode .input-group-append {
    margin-left: 0;
  }

  .earn-btn-dropdown:disabled {
    border: none !important;
  }

  textarea:disabled {
    background-color: rgba(0, 167, 167, 0.15) !important;
  }

  //ios fix
  .form-control:disabled,
  textarea:disabled,
  .input-control:disabled,
  .form-control.view-mode {
    -webkit-text-fill-color: #00a7a7;
    opacity: 1;
  }

  //Long text wrap fix
  @include allmobiles {

    .title,
    .input-label-grey {
      display: block;
      //width: 260px;
      word-break: break-word;
    }
  }

  @include desktop {

    .title,
    .input-label-grey {
      display: block;
      //width: 500px;
      word-break: break-word;
    }
  }

  @include tablet {

    .title,
    .input-label-grey {
      display: block;
      //width: 500px;
      word-break: break-word;
    }
  }
}

/**
* form button design for investment-account, 
* 1. confirm/save/apply button set to width of 360 - desktop view
* 2. confirm/save/apply button set to width of 320 - tablet view
*/

app-inv-personal-info,
app-residential-address,
app-employment-details,
app-finanical-details,
app-tax-info,
app-personal-declaration,
app-upload-document-bo,
app-upload-documents,
app-additional-declaration-screen2,
app-additional-declaration-step1 {
  .content {
    @include desktop {
      padding: 0 35px;
    }

    @include continue-button;
  }
}
