.banner-image {
    background-repeat: no-repeat;
    display: block;
    height: 320px;
    width: 100%;
    margin-top: 50px;
    .profile {
        background-image: url("./assets/images/profile-banner-image.png");
    }
    .get-started {
        background-image: url("./assets/images/get-started-banner-image.png");
    }
}
