.banner-image {
    background-repeat: no-repeat;
    display: block;
    height: 350px;
    width: 100%;
    margin-top: 50px;
    background-size: 100%;
    @include LargeDevice {
        background-size: 75%;
    }
    &.profile {
        background-image: url("./assets/images/profile-image.svg");
    }
    &.get-started-image {
        background-image: url("./assets/images/get-started-image.svg");
    }
    &.choose-protection {
        background-image: url("./assets/images/protection-need.svg");
    }
    &.income {
        background-image: url("./assets/images/income1.svg");
    }
    &.expense {
        background-image: url("./assets/images/expense.svg");
    }
    &.assets {
        background-image: url("./assets/images/assets.svg");
    }
    &.liabilities {
        background-image: url("./assets/images/liabilities.png");
    }
}
