.viewport {
    position: absolute !important;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
}
.h-box{
    position: relative;
    display: flex;
    flex-direction: row;
}
.v-box{
    position: relative;
    display: flex;
    flex-direction:column;
}
@media(max-width:$col-md){
    .h-box{
        flex-direction:column;
    }
}
.flex-left-align{
    margin-right:auto;
}
.flex-right-align{
    margin-left:auto;
}
.pad-mt-reset{
    padding:0;
    margin:0;
    flex:0 0 100%;
}

.lg-grow{
    flex-grow:1;
}

@media(max-width:$col-sm){
    .sm-grow{
        flex-grow:1;
    }
}
@media(max-width:$col-xs){
    .xs-grow{
        flex-grow:1;
    }
}