/*Media Queries*/
.navbar-collapse {
  @include allmobiles {
    height: 0px;
    transition: 0.3s;
    overflow: hidden;

    &.show {
      height: auto;
    }
  }
}

.navbar-nav {
  @include SmallDevice {
    -ms-flex-direction: row;
    flex-direction: row;
    display: flex;
    align-items: center;
    margin: 0;
  }
}

.hidden-sm-md {
  @include ExtraSmallDevice {
    display: none !important;
  }

  @include min568max767 {
    display: none !important;
  }
}

.hidden-lg {
  @include LargeDevice {
    display: none !important;
  }

  @include MediumDevice {
    display: none !important;
  }
}

.hidden-tablet {
  @include tablet {
    display: none !important;
  }

  @include minPhabletmaxTablet {
    display: none !important;
  }
}

.hidden-sm {
  @include ExtraSmallDevice {
    display: none !important;
  }

  @include allmobiles {
    display: none !important;
  }
}

.show-sm {
  @include LargeDevice {
    display: none !important;
  }

  @include MediumDevice {
    display: none !important;
  }

  @include minPhabletmaxTablet {
    display: none !important;
  }

}



.fixed-top {
  @include allmobiles {
    position: fixed !important;
    box-shadow: none;
    font-size: 24px !important;
    font-family: $muli-semi-bold;

    &.comprehensive {
      font-size: 18px !important;
      z-index: 1062;
    }
  }

  @include min568max767 {
    position: fixed !important;
    box-shadow: none;
    font-size: 24px !important;
    font-family: $muli-semi-bold;
  }
}

.navbar {
  display: flex;
  flex-direction: row;

  &.header {
    @include allmobiles {
      justify-content: center;
      align-items: center;
      min-height: 50px;
      line-height: 50px;
      font-size: 20px;
    }

    @include min568max767 {
      justify-content: center;
      align-items: center;
      min-height: 50px;
      line-height: 50px;
      font-size: 20px;
    }
  }
}

.navbar-nav {
  &.header {
    @include allmobiles {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
}

.btn__footer--fixed {
  margin-top: 14px !important;
  font-family: $muli;

  @include allmobiles {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 0 !important;
    left: 0;
    z-index: 999;
    box-shadow: none !important;
  }
}

.container-fluid {
  @include allmobiles {
    padding-left: 20px !important;
    padding-right: 20px !important;
    position: relative; //top: 35px;
    height: 100%; //bottom: 60px;
    padding: 80px 0;

    &.bottom-none {
      bottom: 0px;
      top: 0px;
    }
  }
}

.top--limited {
  top: 30px;
}

.container-fluid .mobile-top-non {
  @include allmobiles {
    top: 0px;
  }
}

.mobile-top-extended {
  @include allmobiles {
    top: 30px;

    &.more {
      top: 70px;
    }
  }

  @include min300max350 {
    top: 50px;

    &.more {
      top: 60px;
    }
  }
}

.form-container {
  @include allmobiles {
    //margin-bottom: 60px;
    //margin-top: 60px;
  }
}

.modal {
  @include allmobiles {
    position: fixed !important;
    bottom: 0px !important;
    top: auto !important;
    padding: 0px !important;
    margin: 0px !important;
    max-height: 90% !important;
    z-index: 1061 !important;

    .modal-dialog {
      padding: 0px;
      margin: 0px;
    }

    .modal-body {
      border-radius: 0px !important;
      color: #000;
      padding: 30px 25px;
      background: $module-fill-color;

      b {
        color: $app-backgrnd-color;
      }
    }

    .help-modal-body {
      background: #ffffff;
      border-radius: 0px !important;
      color: #000;
      padding: 25px 25px 25px 25px !important;

      b {
        color: $app-backgrnd-color;
      }
    }

    .help-modal-image {
      border-radius: 0 !important;
      width: 100%;
      height: 200px;
      background-position: 50% 40% !important;
    }
  }
}

//IE11 Modal Fix
@include ieSpecific {
  .modal.show .modal-dialog {
    top: 30%;
  }
}
