// Custom media query mixins
//--------------------------
$mobile300-width: 300px;
$mobile320-width: 320px;
$mobile325-width: 325px;
$mobile350-width: 350px;
$mobile360-width: 360px;
$mobile480-width: 480px;
$mobile375-width: 375px;
$mobile400-width: 400px;
$mobile414-width: 414px;
$mobile425-width: 425px;
$mobile450-width: 450px;
$mobile475-width: 475px;
$mobile568-width: 568px;
$mobile667-width: 667px;
$phablet7-width: 700px;
$mobile767-width: 767px;
$tablet-width: 768px;
$desktop-width: 1024px;
// Responsive grid media queries
@mixin min300max325 {
  @media (min-width: #{$mobile300-width}) and (max-width: #{$mobile325-width - 1px}) {
    @content;
  }
}
@mixin min300max350 {
  @media (min-width: #{$mobile300-width}) and (max-width: #{$mobile350-width - 1px}) {
    @content;
  }
}
@mixin min325max350 {
  @media (min-width: #{$mobile325-width}) and (max-width: #{$mobile350-width - 1px}) {
    @content;
  }
}
@mixin min350max375 {
  @media (min-width: #{$mobile350-width}) and (max-width: #{$mobile375-width - 1px}) {
    @content;
  }
}
@mixin min375max400 {
  @media (min-width: #{$mobile375-width}) and (max-width: #{$mobile400-width - 1px}) {
    @content;
  }
}
@mixin min400max425 {
  @media (min-width: #{$mobile400-width}) and (max-width: #{$mobile425-width - 1px}) {
    @content;
  }
}
@mixin min425max450 {
  @media (min-width: #{$mobile425-width}) and (max-width: #{$mobile450-width - 1px}) {
    @content;
  }
}
@mixin min450max475 {
  @media (min-width: #{$mobile450-width}) and (max-width: #{$mobile475-width - 1px}) {
    @content;
  }
}
@mixin min568max767 {
  @media (min-width: #{$mobile568-width}) and (max-width: #{$mobile767-width}) {
    @content;
  }
}
@mixin min768max768 {
	@media (min-width: #{$tablet-width}) and (max-width: #{$tablet-width}) { 
		@content
	}
}
// Responsive grid media queries
//iphone screen size are
@mixin iphone4 {
  @media (min-width: #{$mobile320-width}) and (max-width: #{$mobile375-width - 1px}) {
    @content;
  }
}
@mixin iphone5 {
  @media (min-width: #{$mobile320-width}) and (max-width: #{$mobile375-width - 1px}) {
    @content;
  }
}
@mixin min360 {
  @media (min-width: #{$mobile360-width}) {
    @content;
  }
}
@mixin max360 {
  @media (max-width: #{$mobile360-width}) {
    @content;
  }
}
@mixin iphone6 {
  @media (min-width: #{$mobile375-width}) and (max-width: #{$mobile414-width - 1px}) {
    @content;
  }
}
@mixin iphone6plus {
  @media (min-width: #{$mobile414-width}) and (max-width: #{$mobile667-width - 1px}) {
    @content;
  }
}
@mixin allmobiles {
  @media (min-width: #{$mobile320-width}) and (max-width: #{$mobile568-width - 1px}) {
    @content;
  }
}
@mixin phablet6 {
  @media (min-width: #{$mobile667-width}) and (max-width: #{$phablet7-width - 1px}) {
    @content;
  }
}
@mixin phablet7 {
  @media (min-width: #{$phablet7-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
@mixin phablet {
	@media (min-width: #{$mobile568-width}) and (max-width: #{$tablet-width - 1px}) {
		@content;
	}
}
@mixin minMobilemaxPhablet {
	@media (min-width: #{$mobile320-width}) and (max-width: #{$tablet-width - 1px}) {
		@content;
	}
}
@mixin minPhabletmaxTablet {
	@media (min-width: #{$mobile568-width}) and (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
@mixin iphoneX {
	@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) { 
		@content;
	}
}

// USAGE
// .class{
//  @include tablet {
//    font-size: 18px;
//  }
// }
//--------------------------
// Custom media query mixins
//---------------------------

//Responsive font conversion
//--------------------------
@function fontRem($size) {
$remSize: $size / 10px;
@return #{$remSize}rem;
}
@mixin fontSize($size) {
font-size: $size;
font-size: fontRem($size);
}
//--------------------------
//Responsive font conversion
//Responsive Line heights conversion
//-----------------------------------
@function lineHeightRem($size) {
$remSize: $size / 10px;
@return #{$remSize}rem;
}
@mixin lineHeight($size) {
line-height: $size;
line-height: lineHeightRem($size);
}
//Responsive Line heights conversion


/* Extra small devices (phones, 600px and down) */
@mixin ExtraSmallDevice {
  @media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    @content;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@mixin SmallDevice {
  @media only screen and (min-width: 600px) {
    @content;
  }
}
 
@mixin MediumDevice {
/* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    @content;
  } 
}

/* Large devices (laptops/desktops, 992px and up) */
@mixin LargeDevice {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@mixin ExtraLargeDevice {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin iPadLandscape {
	@media (min-device-width:768px) and (max-device-width:1024px) {
    @content;
	}
}
/* iPad Pro */

/* Landscape */
@mixin iPadProLandscape {
  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape)  {
    @content;
  }
}
/* Portrait */
@mixin iPadProPortrait {
  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
    @content;
  }
}

/* iPhoneX */
@mixin iphonex {
  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3)  and (orientation: portrait)  {
	@content;
  }
}

/* iPhone11 */
@mixin iphone11 {
  @media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
	@content;
  }
}
/* IE 11 mixin */

@mixin ieSpecific {
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		@content;
	}
}
// Flex box mixins
//================
@mixin flex-align($position) {
	.align-#{$position} {
		-webkit-box-align: $position;
		-ms-flex-align: $position;
		-ms-grid-row-align: $position;
		-webkit-align-items: $position;
		align-items: $position;
		-ms-flex-item-align: $position;
		-webkit-align-self: $position;
		align-self: $position;
	}
}
@mixin align-item($position) {
	.item-#{$position} {
		-webkit-box-align: $position;
		-ms-flex-align: $position;
		-ms-grid-row-align: $position;
		-webkit-align-items: $position;
		align-items: $position;
	}
}
@mixin flex-grow($grow) {
	-webkit-flex-grow: $grow;
	-ms-flex-grow: $grow;
	flex-grow: $grow;
}
@mixin flex-item($property) {
	.flex-#{$property} {
		-webkit-align-items: $property;
		align-items: $property;
		-ms-flex-item-align: $property;
	}
}
@mixin fleX($size) {
	.flex-#{$size} {
		-webkit-box-flex: $size !important;
		-ms-flex: $size !important;
		-webkit-flex: $size !important;
		flex: $size !important;
	}
}
@mixin flex-basis($size) {
	.flex-basis-#{$size} {
		-ms-flex-preferred-size: $size * 1%;
		-webkit-flex-basis: $size * 1%;
		-moz-webkit-flex-basis: $size * 1%;
		flex-basis: $size * 1%;
	}
}
@mixin justify($property) {
	.justify-#{$property} {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: $property;
		-webkit-justify-content: $property;
	}
}

.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.space-btwn {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}

.space-around {
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-justify-content: space-around;
}

@include flex-align(baseline);
@include flex-align(flex-end);
@include flex-align(flex-start);
@include flex-align(center);
@include flex-align(stretch);

@include flex-item(baseline);
@include flex-item(flex-end);
@include flex-item(flex-start);
@include flex-item(center);
@include flex-item(stretch);

@include align-item(baseline);
@include align-item(flex-end);
@include align-item(flex-start);
@include align-item(center);
@include align-item(stretch);

@include flex-basis(32);
@include flex-basis(33);
@include flex-basis(49);
@include flex-basis(50);
@include flex-basis(100);

@include fleX(1);
@include fleX(2);
@include fleX(4);

@include justify(flex-start);
@include justify(flex-end);
@include justify(center);
@include justify(space-between);
@include justify(space-around);

.flex-row {
	box-sizing: border-box;
	display: -webkit-inline-flex;
	display: inline-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-ms-flex-negative: 0;
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
	-ms-flex-preferred-size: auto;
	-webkit-flex-basis: auto;
	flex-basis: auto;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-direction: row;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.flex-col {
	box-sizing: border-box;
	display: -webkit-inline-flex;
	display: inline-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-ms-flex-negative: 0;
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
	-ms-flex-preferred-size: auto;
	-webkit-flex-basis: auto;
	flex-basis: auto;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.flex-nowrap {
	-ms-flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.flex-noshrink{
	-ms-flex-negative: 0;
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
}

.flex-col-1,
.flex-col-10,
.flex-col-11,
.flex-col-12,
.flex-col-2,
.flex-col-3,
.flex-col-4,
.flex-col-5,
.flex-col-6,
.flex-col-7,
.flex-col-8,
.flex-col-9 {
	box-sizing: border-box;
	-ms-flex: 0 0 auto;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
	margin: 0;
	padding: 0;
}

.flex-col-1 {
	-ms-flex-preferred-size: 8.333%;
	-webkit-flex-basis: 8.333%;
	flex-basis: 8.333%;
	width: 8.333%;
}

.flex-col-2 {
	-ms-flex-preferred-size: 16.667%;
	-webkit-flex-basis: 16.667%;
	flex-basis: 16.667%;
	width: 16.667%;
}

.flex-col-3 {
	-ms-flex-preferred-size: 25%;
	-webkit-flex-basis: 25%;
	flex-basis: 25%;
	width: 25%;
}

.flex-col-4 {
	-ms-flex-preferred-size: 33.333%;
	-webkit-flex-basis: 33.333%;
	flex-basis: 33.333%;
	width: 33.333%;
}

.flex-col-5 {
	-ms-flex-preferred-size: 41.667%;
	-webkit-flex-basis: 41.667%;
	flex-basis: 41.667%;
	width: 41.667%;
}

.flex-col-6 {
	-ms-flex-preferred-size: 50%;
	-webkit-flex-basis: 50%;
	flex-basis: 50%;
	width: 50%;
}

.flex-col-7 {
	-ms-flex-preferred-size: 58.333%;
	-webkit-flex-basis: 58.333%;
	flex-basis: 58.333%;
	width: 58.333%;
}

.flex-col-8 {
	-ms-flex-preferred-size: 66.667%;
	-webkit-flex-basis: 66.667%;
	flex-basis: 66.667%;
	width: 66.667%;
}

.flex-col-9 {
	-ms-flex-preferred-size: 75%;
	-webkit-flex-basis: 75%;
	flex-basis: 75%;
	width: 75%;
}

.flex-col-10 {
	-ms-flex-preferred-size: 83.333%;
	-webkit-flex-basis: 83.333%;
	flex-basis: 83.333%;
	width: 83.333%;
}

.flex-col-11 {
	-ms-flex-preferred-size: 91.667%;
	-webkit-flex-basis: 91.667%;
	flex-basis: 91.667%;
	width: 91.667%;
}

.flex-col-12 {
	-ms-flex-preferred-size: 100%;
	-webkit-flex-basis: 100%;
	flex-basis: 100%;
	width: 100%;
}

/**
* fix for Flex basis in Internet explorer
*/
_:-ms-fullscreen, :root .flex-col-12, :root .flex-col-7 {
  flex-basis: auto;
}

/**
 * Design for stepper indicator, 
 * Additional space inbetween the stepper for Desktop view
 */
@mixin stepindicator-desktop-extraspace {
	@include desktop {
		.container-fluid {
			padding: 0px 25px 0 50px;
			.step-item {
				margin-right: 28px !important;
				@include stepcolor;

				&:last-child {
						margin-right: 0 !important;
				}
			}
		}
	}
		.step-item {
			@include tablet {
				@include stepcolor;
			}
		}
	@include allmobiles {
	.step-item {
		&.active {
		   	opacity: 1;
				 background-color: $step-indicator-active;
		  }
	  }
	 }
}

// STEP INDICATOR FOR INVESTMENT

@mixin stepcolor {
  opacity: 0.2;
 &.active {
    background-color: #31e5db !important;
    opacity: 1;
  }
}
/**
* form button design for investment-account and portfolio, 
* 1. confirm/save/apply button set to width of 360 - desktop view
* 2. confirm/save/apply button set to width of 320 - tablet view
*/ 
@mixin continue-button {
  div.text-center {
    .btn-ftr-get-started {
      @include desktop {
        width: 360px;
      }
      @include tablet { 
        width: 320px;
			}
			@include phablet {
				width: 100%;
			}
		}
  }
}

/* firefox only - CSS code for dropdown with ellipsis within flex-col width 
*  add 'flex-col-moz' to flex-col-* in columns of flex-row
*/
@mixin dropdown-ellipsis() {
	@supports ( -moz-appearance:none ) {
		.flex-col-moz {
			flex-basis: auto;
			.dropdown-control {
				width: 100%;
			}
		}
	}
}