.modal-content {
    background: transparent;
    border: none;
  }
  
  .modal-header {
    border: none;
    padding: 0px;
    justify-content: center;
    display: flex;
  }
  
  .modal-body {
    background: white;
    border-radius: 5px;
    padding: 15px 25px;
  }
  
  .modal-body-title {
    font-family: $muli-regular;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #009999;
    margin-bottom: 10px;
  }
  
  .modal-body-message {
    font-family: $muli-regular;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: -0.2px;
    color: #5e5e5e;
  }
  
  .popup-header-icon img {
    width: 110px;
    height: auto;
    object-fit: contain;
  }
  
  .modal {
    width: 100%;
    .close {
      position: absolute;
      right: 10px;
      top: 5px;
      font-size: 32px;
      opacity: 0.4;
      text-shadow: none;
    }
    .help-modal-title {
      background: #ffffff;
      padding: 25px;
      margin-bottom: -2px;
      font-size: 20pt;
      font-family: $muli-bold;
      color: $app-backgrnd-colr;
    }
    .help-modal-body {
      padding: 0px 25px 25px 25px;
    }
  }