.modal-content {
    background: transparent;
    border: none;
  }
  .modal-header {
    border: none;
    padding: 0px;
    justify-content: center;
    display: flex;
  }
  .modal-body {
    background: $module-fill-color;
    border-radius: 5px;
    padding: 15px 25px;
  }
  
  .modal-body-title {
    font-family: $muli-regular;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #009999;
    margin-bottom: 10px;
  }
  
  .modal-body-message {
    font-family: $muli-regular;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: -0.2px;
    color: #5e5e5e;
    .modal-text-secondary{
      font-weight:600;
      color:#00a7a7;
    }
  }
  
  .modal-header-icon img {
    width: 110px;
    height: auto;
    object-fit: contain;
  }
  
  .modal {
    width: 100%;
    .close {
      position: absolute;
      right: 10px;
      top: 5px;
      font-size: 32px;
      opacity: 0.4;
      text-shadow: none;
    }
    .help-modal-title {
      background: $module-fill-color;
      padding: 25px;
      margin-bottom: -2px;
      font-size: 20pt;
      font-family: $muli-bold;
      color: $white-color;
    }
    .help-modal-body {
      padding: 0px 25px 25px 0px;
      background: $module-fill-color;
    }
  }

  .modal__icon-container{
    position: relative; 
    display: flex;
    width:100%;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;

    .modal__icons{
        position: relative;
        display: inline-block;
        img{
            position: relative;
            display:block;
            width:95px;
            height:95px;
            margin-bottom:20px;
            @include min300max350{
              width:85px;
              height:85px;
              margin-bottom:8.5px;
            }
        }
    }
}