@import './variables';
@import './mixins';

body.modal-open {
  position: inherit;
  overflow: hidden;
  width: 100%;
  background-color: $black-color;
}

body.modal-open {
  -moz-appearance: menuimage;
}

body.modal-open::-webkit-scrollbar {
  width: 0 !important;
}

.modal-backdrop.show {
  opacity: 0.8 !important;
}
.modal-backdrop {
  z-index: 1063;
}
.position-bottom {
  .modal-content {
    position: absolute !important;
    bottom: 0 !important;

    @include allmobiles {
      position: inherit !important;
    }
  }
}

.modal-content {
  background: transparent;
  border: none;

  .btn.btn-primary {
    box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.14) !important;
  }
}

.modal-header {
  border: none;
  padding: 0;
  justify-content: center;
  display: flex;
}

.modal-body {
  background: $module-fill-color;
  border-radius: 6px;
  padding: 20px;
  padding-left: 25px;

  @include allmobiles {
    padding: 20px !important;
    padding-left: 25px !important;
  }

  .form-group {
    label {
      margin-bottom: 0px;
    }

    margin-top: 20px;

    .flex-col-7,
    .flex-col-6:first-child {
      color: #2d8289;
      font-family: $muli-semi-bold;
      font-size: 18px;
    }

    .flex-col-5,
    .flex-col-6:last-child {
      color: #00a7a7;
      ;
      font-family: $muli-regular;
      font-size: 16px;
      text-align: right;

      .total {
        font-family: $muli-bold;
        font-size: 22px;
      }
    }
  }

  .separator-solid {
    border-bottom: 1px solid rgba(141, 154, 168, 0.35);
    margin: 10px 0;
  }
}

.modal-body-border--top {
  position: absolute;
  display: block;
  width: 100%;
  height: 10px;
  top: 0px;
  left: 0px;
  background-color: $teal-color;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  .orange {
    position: absolute;
    display: block;
    width: 35%;
    height: 100%;
    background-color: $orange-color;
    top: 0px;
    left: 0px;
    border-top-left-radius: 6px;
  }
}

.modal-body-title {
  font-family: $muli-semi-bold;
  font-size: 22px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #009999;
  margin-bottom: 10px;
  margin-right: 20px;
  //padding: 0 15px 0 0;
}

.modal-body-message {
  font-family: $muli-regular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: -0.2px;
  color: #5e5e5e;
  padding: 0 20px 0 0;

  .modal-text-secondary {
    font-weight: 600;
    color: #00a7a7;
  }
}

.modal-header-icon img {
  width: 110px;
  height: auto;
  object-fit: contain;
}

.modal {
  width: 100%;
  z-index: 1063;
  &.hide-close {
    .close {
      display: none;
    }
  }

  .close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 32px;
    opacity: 0.4 !important;
    text-shadow: none;
  }

  .help-modal-title {
    background: $module-fill-color;
    padding: 25px;
    margin-bottom: -2px;
    font-size: 20pt;
    font-family: $muli-bold;
    color: $white-color;
  }

  .help-modal-body {
    padding: 0px 25px 25px 0px;
    background: $module-fill-color;
    color: #5e5e5e;
    line-height: 22px;
    letter-spacing: -0.2px;
  }
}

.modal__icon-container {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .modal__icons {
    position: relative;
    display: inline-block;
    position: relative;
    display: inline-block;
    //margin-right: 14px;

    img {
      position: relative;
      display: block;
      width: 100px;
      height: 100px;
      margin-bottom: 15px;

      @include min300max350 {
        width: 85px;
        height: 85px;
        margin-bottom: 8.5px;
      }

      @include iphone6plus {
        width: 120px;
        height: 120px;
      }
    }
  }
}

/* Direct Journey -- Product Info*/
.modal--freeze {
  height: 100%;
}

.prod-info {
  position: relative;
  display: none;
  width: 100%;
  max-height: 0px;
  background-color: $white-color;
  align-items: center;
  justify-content: center;
  z-index: 1302;
  transition: 0.5s;
  flex-direction: column;
  box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.18);
  border-top: 1px solid rgba(141, 154, 168, 0.16);
  margin-top: 0px;

  &.show {
    display: flex;
    z-index: 1027;
    min-height: 150px;
    max-height: none;

    @include phablet {
      margin-top: 65.6px;
    }
  }

  @include allmobiles {
    position: fixed;
    bottom: 0px;
    z-index: 1028;

    &.show {
      z-index: 1031;
      justify-content: flex-start;
    }

    &.full {
      height: calc(100% - 105px);
      z-index:1028;
    }
  }

  .prod-cat-list__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 1024px;
    justify-content: center;
    align-items: center;
    padding: 20px 10px 0px 10px;
    overflow: hidden;
    height: 0px;

    @include tablet {
      padding: 20px 20px 0px 20px;
    }

    @include phablet {
      padding: 20px 20px 0px 20px;
    }

    @include allmobiles {
      padding: 0px;
    }

    &.show {
      height: auto;
      overflow: auto;

      @include allmobiles {
        padding: 15px 7px 50px 7px;
      }
    }

    .prod-cat-list {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      width: 100%;

      @include tablet {
        app-product-category {
          margin-right: 10px;

          &:last-child() {
            padding-right: 20px;
          }
        }
      }

      @include phablet {
        app-product-category {
          margin-right: 10px;

          &:last-child() {
            padding-right: 20px;
          }
        }
      }

      @include allmobiles {
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0px;
        max-width: 375px;

        app-product-category {
          margin-right: calc((100% - 345px)/2);

          &:nth-child(3n) {
            margin-right: 0px;
            ;
          }
        }
      }

      @include min300max325 {
        app-product-category {
          margin-right: calc((100% - 297px)/2);

          &:nth-child(3n) {
            margin-right: 0px;
            ;
          }
        }
      }
    }

    .prod-cat-list-title {
      position: relative;
      display: none;
      width: 100%;
      justify-content: center;
      color: $teal-color;
      font-family: $muli-semi-bold;
      font-size: 22px;
      letter-spacing: -0.2px;
      line-height: 1.0;
      padding-bottom: 20px;

      @include allmobiles {
        display: flex;
      }
    }

    .prod-cat-list-close {
      position: absolute !important;
      display: none;
      right: 12px !important;
      text-shadow: none !important;
      background: url("./assets/images/close-button-dark.svg") !important;
      width: 18px;
      height: 18px;
      background-repeat: no-repeat !important;

      @include allmobiles {
        display: block;
        top: 20px !important;
        opacity: .4 !important;
        right: 21px !important;
      }
    }
  }

  .prod-form__wrapper {
    display: none;
    background-color: $lighter-aqua-color;
    width: 100%;
    min-height: 100px;
    padding: 20px 0px;
    justify-content: center;

    &.show {
      display: flex;

      @include minMobilemaxPhablet {
        background-color: $teal-color;
        height: calc(100% - 60px);
        overflow-y: auto;
        overflow-x: hidden;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 0;
      }
    }
  }
}

.min-prod-info {
  position: relative;
  display: none;
  width: 100%;
  background-color: $white-color;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 20px;
  box-shadow: 0 8px 6px -6px rgba(138, 155, 169, 0.3);
  border-top: 1px solid #e1e1e1;
  text-overflow: ellipsis;
  z-index: 130;

  &.show {
    display: flex;
  }

  @include minMobilemaxPhablet {
    margin-top: 60px;
    padding-top: 15px;
    border-top: #89d0cf 1px solid;
    padding-bottom: 20px;
    box-shadow: none;
  }
}

.prod-info__backdrop {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #000000;
  opacity: 0;
  z-index: -2;

  &.show {
    z-index: 1026;
    opacity: 0.8;
  }

  @include allmobiles {
    z-index: -2;

    &.show {
      z-index: 1030;
    }
  }
}

.popup-modal-dialog {
  max-height: 100% !important;
  z-index: 1040 !important;
  overflow-y: hidden !important;

  @include minMobilemaxPhablet {
    width: calc(100% - 20px);
    height: auto;
    top: 50% !important;
    left: 50% !important;
    bottom: unset !important;
    transform: translate(-50%, -50%);
    overflow-y: hidden !important;
  }

  .modal-dialog {
    max-width: 580px;
    height: 100%;
  }

  .modal-body-title {
    padding: 0px;
    margin-bottom: 0px;
  }

  .modal-content {
    @include minMobilemaxPhablet {
      height: 100%;
    }
  }

  .modal-body {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 6px !important;

    .modal-body-message {
      position: relative;
      display: flex;
      height: 100%;
      min-height: 460px;
      flex-direction: column;
      justify-content: center;
      align-content: center;

      @include minMobilemaxPhablet {
        max-height: calc(100% - 50px);
      }
    }

    .main-body {
      position: relative;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .old-title {
        position: relative;
        display: flex;
        align-items: center;

        .filler-text {
          display: inline-block;
          font-family: $muli-semi-bold;
          color: $black-color;
          margin-left: 10px;
          transform: translateY(2px);
        }
      }

      .new-logo {
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 15px;

        @include min300max325 {
          img {
            max-width: 300px;
            width: 100%;
          }
        }
      }

      .sub-text {
        position: relative;
        display: flex;
        justify-content: center;
        font-family: $muli;
        font-size: 21px;
        text-align: center;
        max-width: 344px;
        color: $black-color;
        margin: 33px auto 20px auto;
      }
    }

    .footer {
      position: absolute;
      display: flex;
      bottom: 0px;
      width: 100%;
      justify-content: center;
      align-items: center;

      .footer-msg {
        font-family: $muli;
        font-size: 10px;
        color: #323643;
        margin-top: 40px;
        margin-bottom: 10px;
      }
    }

  }
}

.settings-modal-dialog {
  max-height: 100% !important;
  z-index: 1040 !important;
}

.settings-tooltip-dialog {
  .modal-dialog {
    max-width: 375px;
  }
}

.product-details-modal-dialog {
  max-height: 100% !important;

  .modal-dialog {
    min-width: 610px;

    @include allmobiles {
      min-width: 100vw !important;
    }
  }
}

.modal-body {
  &.white-bg {
    .close {
      top: 20px !important;
      right: 20px !important;
    }
  }
}

@include allmobiles {
  .modal-body {
    &.white-bg {
      .close {
        top: 20px !important;
        right: 20px !important;
      }
    }
  }
}

.custom-full-height{
  @include allmobiles {
    max-height: calc(100vh - 56px) !important;
  }
}

.full-height {
  &.modal {
    display: block !important;
    height: 100vh;
    width: 100vw;
    overflow: hidden !important;

    @include allmobiles {
      max-height: 100vh !important;
    }
  }

  /* Important part */
  .modal-dialog {
    overflow-y: initial !important;
    max-width: 80vw !important;

    @include allmobiles {
      max-width: 100vw !important;
    }
  }

  .modal-body {
    height: 90vh;
    overflow-y: auto;

    @include allmobiles {
      height: 100vh;
    }
  }
}

.full-height-will {
  &.modal {
    display: block !important;
    width: 100vw;
    overflow: hidden !important;
  }
  .modal-body {
    &.white-bg {
      .close {
        top: 25px !important;
        right: 20px !important;
      }
    }
    @include allmobiles {
      padding: 20px !important;
      padding-left: 15px !important;
    }
  }
  .modal-body-message {
    padding: 0 !important
  }
  @include allmobiles {
    .modal-body-title {
      margin: -5px 0 10px 0 !important;
      font-size: 24px !important;
    }
    .modal-body-message {
      margin-right:0 !important;
      padding: 0 !important;
      font-size: 16px !important;
    }
    .modal-body {
      &.white-bg {
        .close {
          top: 30px !important;
          right: 20px !important;
        }
      }
    }
  }

  .section-container {
    padding-right: 0 !important;
  }
  /* Important part */
  .modal-dialog {
    overflow-y: initial !important;
    max-width: 80vw !important;

    @include allmobiles {
      max-width: 100vw !important;
    }
  }

  .modal-body {
    overflow-y: auto;
    width: 790px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 36px;

    @include allmobiles {
      height: 100vh;
      width: 100vw;
      padding-bottom: 270px !important;
    }
  }
}

.full-height-comprehensive {
  &.modal {
    display: block !important;
    width: 100vw;
    overflow: hidden !important;
    max-height: 100vh !important;
    top: 0 !important;
    bottom: 0 !important;
    z-index: 1063 !important;
  }
  .modal-body-message {
    padding: 0 !important
  }
  .modal-body {
    @include allmobiles {
      max-height: 94vh;
      width: 90vw;
      margin: 5% !important;
      border-radius: 6px !important;
      overflow-y: auto;
      padding: 30px 45px 40px !important;
    }
    @include iphoneX {
      padding: 30px 45px 130px !important;
    }
  }
}


.sign-up-terms-modal-dialog {
  @include minMobilemaxPhablet {
    max-height: unset !important;
    height: 100%;
    margin: 0px;
  }

  .modal-body {
    padding: 0px !important;
  }

  .modal-body-message {
    padding: 0 15px;
  }

  .tnc__content {
    padding: 0 10px;
  }

  .modal-dialog {
    width: 100%;
    max-width: 780px;
    height: 100%;
    max-height: 560px;

    @include tablet {
      max-width: 600px;
    }

    @include minPhabletmaxTablet {
      max-width: 500px;
    }

    @include minMobilemaxPhablet {
      max-width: unset;
      max-height: unset;
      margin: 0px !important;
    }
  }
}

.otp-error-modal {
  @include allmobiles {
    .modal-body {
      margin-bottom: 60px;
    }
  }
}

.will-custom-modal {
    .modal-header {
      width: 375px !important;
      @include allmobiles{
        width: 100vw !important;
      }
    }
    .modal-body{
        width: 375px !important;
        .modal-body-title {
          width: 310px;
        }
        .modal-body-message {
          @include allmobiles {
            padding: 0 !important;
          }
        }
        &.white-bg {
          .close {
            top: 25px !important;
            right: 20px !important;
            @include allmobiles {
              top: 25px !important;
              right: 20px !important;
            }
          }
        }
        @include allmobiles{
          width: 100vw !important;
        }      
    }
}

.guided-existing-coverage {
  @include allmobiles{
    max-height: 100% !important;
  }
}

.summary-modal {
  .modal-body-message , .modal-body-title {
    color: $dark-teal-color;
  }
  &__page-title {
    font-family: $muli-bold;
    font-size: 16px;
  }
  &__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--label-grey {
      color: $text-grey-color;
    }
    &--label-grey, &--label {
      font-size: 14px;
      text-align: left;
    }
    &--value {
      color: $dark-teal-color;
      font-family: $muli-bold;
      font-size: 16px;
    }
  }
  &__box-content {
    margin-bottom: 30px;
    background: $light-grey-color;
    padding: 20px;
    font-size: 14px;
    text-align: left;
    border-radius: 6px;
  }
  .btn.btn-primary {
    box-shadow: none !important;
    border: none;
    background: $dark-teal-color;
    color: $white-color;
  }
  
}