@import './variables';
@import './mixins';

.promo-content__container{
    position: relative;
    display: flex;
    width: 100%;
    max-width:1024px;
    font-family: $muli-regular;
    font-size:18px;
    color: $dark-grey-color;
    flex-direction:column;
    margin:0px 20px;
    @include minMobilemaxPhablet{
        margin: unset;
        padding: 0 15px;
    }
}
// Promotion Generic 3 Table
.promo__summary{
    position: relative;
    display: block;
    padding:40px 51px;
    border-radius:6px;
    border: 1px solid $teal-color;
    @include minPhabletmaxTablet{
        padding:20px 30px;
    }
    @include tablet{
        padding:30px 20px;
    }
    @include minMobilemaxPhablet{
        padding:20px;
    }
    .promo__inner-table{
        position: relative;
        display:flex;
        width:100%;
        justify-content: space-around;
        @include minPhabletmaxTablet{
            justify-content:space-between;
        }
        @include minMobilemaxPhablet{
            flex-direction:column;
            justify-content:flex-start;
        }
    }
    
    .promo-info__element{
        position: relative;
        display: block;
        min-width:165px;
        @include minMobilemaxPhablet{
            margin:5px 0px;
        }
        .info--title{
            font-family: $muli-bold;
            font-size: 16px;
            color:$dark-grey-color;
            vertical-align:top;
            line-height:1.1;
        }
        .info--details{
            font-family: $muli-bold;
            font-size: 24px;
            color:$teal-color;
            vertical-align: top;
            line-height:1.1;
        }
    }
}

.promo__table{
    position: relative;
    width:100%;
    overflow-x:auto;
}
.promo__inner-table{
    width:100%;
    td{
        padding:35px 22px;
        @include minMobilemaxPhablet{
            padding:15px 10px;
        }
        border:1px solid rgba(0, 167, 167, 0.15);
        color:$black-color;
        &.cell--side-header{
            color:$teal-color;
            font-family: $muli-bold;
            vertical-align: middle;
            padding:18px 20px;
            border: 1px solid $lighter-teal-color;
            @include minMobilemaxPhablet{
                padding:18px 10px;
            }
        }
        &.cell--header{
            background-color:$teal-color;
            color:$white-color;
            font-family: $muli-bold;
            vertical-align: top;
            padding:18px 20px;
            border: 1px solid $lighter-teal-color;
            vertical-align:middle;
            &.text--center{
                text-align: center;
            }
            @include minMobilemaxPhablet{
                padding:18px 10px;
            }
        } 
    }
    .text--bold{
        font-family: $muli-bold;
    }
    .text--normal{
        font-family: $muli-regular;
    }
    .text--center{
        text-align: center;
    }
    ul{
        li{
            list-style: disc;
            margin:5px 0px;
        }
        p{
            margin-left: -20px;
            margin-bottom:0px;
        }
    }


}



// Terms and Conditions
.tnc--title{
    font-family:$muli-bold;
    color:$dark-grey-color;
    font-size:15px;
}
.tnc--ordered{
    font-family:$muli-regular;
    color:$dark-grey-color;
    font-size:13px;
    margin-block-start: 0px;
    padding-inline-start: 20px;

}

// Terms and Conditions (bundle pacakeges)

.bundle-package{
    .tnc--title{
        font-family:$muli-bold;
        color:$dark-grey-color;
        font-size:30px;
        position: relative;
        padding-left: 15px;
        .plus-icon{
            font-size:21px;
            position: absolute;
            left: 0;
        }
    }
    .tnc--ordered{
        li{
            font-size:18px;
            line-height: 1.56;
            letter-spacing: normal;
            color:$dark-grey-color;
            margin-top: 20px;
            &:first-child{
                margin-top: 0px;
            }
        }
    }
}

.working-bundle{
    .working-bundle-title{
        font-family: $muli-bold;
        font-size: 45px;
        letter-spacing: -0.5px;
        color: $teal-color;
        display: flex;
        align-items: center;
        @include allmobiles{
            font-size: 26px;  
        }
        .protection-icon{
            display: flex;
            padding-right: 17px;
        }
    }
    .working-bundle-desc{
        font-size: 30px;
        letter-spacing: -0.31px;
        line-height: normal;
        color:$dark-grey-color;
        margin: 17px auto 46px;
        @include allmobiles{
            font-size: 21px;
            letter-spacing: -0.22px;
        }
        @include tablet{
            margin-right: 20px;
            margin-left: 20px;
        }
        .tip{
            color: $teal-color;
        }
        .text-underline{
            text-decoration: underline;
            cursor: pointer;
        }
    }
    .bundle-bg{
        margin-bottom: 42px;
        @include allmobiles{
            margin-bottom: 20px;
            position: relative;
            margin: 0 -20px;
            img{
                max-width: 100%;
                height: auto;
            }
        }
    }
    .promo__table{
        .promo__inner-table {
            td{
                font-size: 18px;
                color:$dark-grey-color;
                border: 3px solid $white-color;
                padding: 18px 17px;
                &:first-child{
                    font-family: $muli-bold;
                    background-color: #eaeaea !important;
                    text-align: left;
                    div{
                        font-family: $muli-regular;
                        font-size: 18px; 
                    }
                    span{
                        font-family: $muli-regular;
                        font-size: 18px; 
                    }
                }
                &.extra-light-grey{
                    background-color: $extra-light-grayish-color;
                }
                &.light-grey{
                    background-color: $light-grayish-color;
                }
                &.cell--header{
                    color: $white-color;
                    border: 3px solid $white-color;
                    background-color: $teal-color !important;
                    font-family: $muli-extra-bold;
                }
                &.occupational-data{
                    background-color: #a7cfcf;
                }
                &.life-time-coverage{
                    background-color: #cccccc !important;
                    text-align: center;
                    padding: 15px 30px;
                }
                .bundle-icon{
                    position: relative;
                    top: -5px;
                    font-size: 12px;
                    line-height: 25px;
                }
            }
            .text-bold{
                font-family:$muli-bold;
            }
            .text-nrml{
                font-family:$muli-regular;
            }
        }
    }
    .disclaimer{
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.1px;
        color: #000000;
        display: flex;
        padding-top: 20px;
        font-family: $muli-regular;
        span{
            &:first-child{                
                letter-spacing: -0.1px;
                padding-right: 5px;
                font-family: $muli-bold;
            }
        }
    }
}
.text-bold{
    font-family:$muli-bold;
}
.medical-block{
    font-family: $muli-regular;
    font-size: 18px;
    line-height: 1.56;
    color:$dark-grey-color;
    padding-bottom: 20px;
    .flex{
            span{
                &:first-child{
                    padding-right: 5px;
                }
            }
    }
    .conditions-block{
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        .conditions-list{
            padding-left: 20px;
            margin: 0; 
            @include allmobiles{
                padding-left: 15px;
            }
            li{
                padding: 0;
                margin: 0;
                @include allmobiles{
                    width: 100%;
                }
            }
        }
    }
}
.illustration-block{
    font-family: $muli-regular;
    font-size: 18px;
    line-height: 1.56;
    color:$dark-grey-color;
    .flex{
            span{
                &:first-child{
                    padding-right: 5px;
                }
            }
    } 
    td{
        padding: 10px;
        width: 320px;
        color: $dark-grey-color;
        &:first-child{
            font-family: $muli-bold;
            font-size: 18px;
        }
    }
}