/* SCSS Variables */

// app background
$app-backgrnd-color: #00a7a7;
$app-backgrnd-secondary-color: #31e5db;
$module-fill-color: #FFFFFF;
$btn-primary-backgrnd-color: #00c5c4;
$btn-primary-shadow-color: #008b8b;
$btn-secondary-backgrnd-color: #00a7a7;
$text-color-secondary: #5e5e5e;

$inline-error-border-color: #e57300;
$inline-error-bg-color: #fff3e9;

$white-color: #ffffff;
$black-color: #000000;
$dark-grey-color: #4a4a4a;
$light-grey-color: #9b9b9b;
$border-grey-color:#e1e1e1;
$teal-grey-color: #8d9aa8;
$teal-color: #00a7a7;
$dark-teal-color: #2d8289;
$balance-teal-color:#49bbc3;
$light-teal-color: #99cfce;
$lighter-teal-color: #cdeae6;
$dark-aqua-color: #00b1af;
$aqua-color: #31e5db;
$light-aqua-color:#d7f2f5;
$lighter-aqua-color:#f0f9fa;
$dark-orange-color:#ff7900;
$orange-color:#ff9c39;
$red-color:#d0021b;
$green-color:#049723;
$summary-modal-heading-bg: #118c8c;

$form-title-backgrnd-color:#c0eded;
$form-title-mob-backgrnd-color:#45bbbb;
// font usage of muli
$muli: 'Muli',sans-serif;   
$muli-regular : 'Muli Regular',sans-serif;
$muli-light: 'Muli Light',sans-serif;
$muli-bold: 'Muli Bold',sans-serif;
$muli-semi-bold: 'Muli Semi Bold',sans-serif;
$muli-italic : 'Muli Italic',sans-serif;
$muli-extra-light : 'Muli Extra Light',sans-serif;
$muli-bold-italic : 'Muli Bold Italic',sans-serif;
$muli-light-italic : 'Muli Light Italic',sans-serif;

// button colors
$btn-disabled: #bff1f1;
$btn-disabled-bg: #009a9a;
$btn-disabled-color: #99cfcf;
$btn-disabled-light-bg: #3bbcbc;
$fixed-btn-txt-color: #99dbdb;
$fixed-btn-brdr-color: rgba(0, 135, 134, 0.4);
$myinfo-block-brdr-color: #ff872f;
$myinfo-block-bg-color: #fff3e9;
$myinfo-block-btn-bg-color: #ff7f00;
$myinfo-btn-color: #ff872f;

$action-btn-active-bg : #0de0de;
$disabled-teal-color : #00afaf;

$btn-comprehensive: #066360;
$btn-comprehensive-disabled-bg: #b9d1d0;

//Comprehensive variables
$screen-separator-bar-color: #047070;


// modal colors
$modal-txt-highlight-color: #00a7a7;
$modal-body-title-color: #009999;

// custom modal colors
$custom-modal-title-color : #00aaa8;
$custom-modal-desc-color : #5e5e5e;

//Form block color
$form-block-title-color: #313644;
$form-block-sub-title-color: #5e5e5e;

// loader color
$brdr-teal-color : #099c9c;
$brdr-dark-color : #ff9600;
$spinner-bg : #4dc1c1;

//Portfolio - Slider color
$slider-selection-color:#ff872f;
$accordion-link-color:#ec681c;
$investment-slider-noui-base-bg: #007474;

// step - indicator color
$step-indicator-bg : #31e5db;
$step-indicator-active : #00908e;

// Portfolio
$intro-block-heading-color : #8cd7d7;
$btn-proceed-shadow-color : rgba(0, 0, 0, 0.21);
$question-info-brdr-color : #cccccc;
$risk-table-cell-bg-color : #f2f9fa;
$risk-table-cell-color : #007d7d;
$portfolio-allocation-details-bg : #00717e;
$portfolio-allocation-details-shadow : rgba(0, 0, 0, 0.14);
$portfolio-allocation-details-content-color : #008b90;
$review-text-color : #b3d6d6;
$review-block-bg : #009999;
$bond-container-bg : #f4fafb;
$bar-container-bg : #c7e9e9;
$allocation-card-body-brdr-color : #50c2c2;
$allocation-btn-view-color : #FF872F;
$post-login-shadow : rgba(0, 0, 0, 0.2);
$post-login-widget-title : #066360;
$fund-details-title-brdr : #edeff1;
$fund-details-dimentional-brdr : #c2d9ec;
$fund-details-card-brdr : #c9ddee;
$fund-details-arrow-color : #2d8288;

//Investment Account
$secondary-action-color:#ff872f;
$inv-btn-disabled-bg : #d4eded;
$upload-file-log-color : #ceebeb;
$upload-sub-title-desc-color : #bfe9e9;
$upload-desc-brdr-color : #66caca;
$acknowledgement-text-color : #848484;

// Edit-profile
$edit-card-bg : #f6f6f6;
$mailing-address-text-color : #868686;
$mailing-address-text-brdr-color: #bbbbbb;
$no-bank-account-color : #a2cfcf;
$edit-pwd-brdr-color : #add9d8;
$edit-acnt-disable-bg : #d8f2f2;
$edit-acnt-disable-brdr : #81c7c6;

// Fund-account
$fund-account-tab-color : #d2d2d2;

// Top-up & withdraw
$withdrawal-modal-lbl-color : #8a9ba9;
$top-up-portfolio-amount-color : #d00404;
$transaction-panel-buy-color : #11b600;
$transaction-date-bg-color : rgba(0, 167, 167, 0.11);
$transaction-desc-bg-color : #f4fafb;
$withdrawal-add-account-brdr-color : #98dfdf;
$withdrawal-amount-panel-bg-color : #276f75;
$withdrawal-cash-balance-color: #93e9e9;
$top-up-your-portfolio-value-bg : #e7f3f3;
$top-up-your-portfolio-value-content-bg : #eaeaea;
$portfolio-footer-btn-brdr-color : #e4f8f8;
$top-up-your-portfolio-asset-btn-shadow : rgb(0, 153, 153);
$top-up-your-portfolio-your-total-value-bg: #006d75;

// Post Login Dashboard
$welcome-user-txt-color: #00a6a6;

// home-page
$invest-promo-txt-color: #8a9ba9;
$invest-ref-code-color: #e67401;


//breakpoints
$col-xl: 1200px;
$col-lg: 992px;
$col-md: 768px;
$col-sm: 576px;
$col-xs: 450px;

// Post Login Dashboard
$welcome-user-txt-color: #00a6a6;

//Comprehensive
$light-grey-color: #f5f5f5;
$text-grey-color: #9f9f9f;
$cmp-padding-top: 90px;
$incomplete-list: #9fd4d4;
$separator-color: #ededed;
$advisory-heading: #797979;
$text-free: #e12727;
$limited-text: #989898;
$limited: #078b8b;
$col-xs: 450px;
