/* You can add global styles to this file, and also import other style files */
/* SCSS Variables */
//app background
$app-backgrnd-colr: #00a7a7;
$module-fill-color: #FFFFFF;
$btn-primary-backgrnd-color: #00c5c4;
$btn-primary-shadow-color: #008b8b;

//font usage of muli
$muli-regular: "Muli Regular", "Roboto Regular", "Helvetica", sans-serif;
$muli-light: "Muli Light", "Roboto Light", "Helvetica", sans-serif;
$muli-medium: "Muli Medium", "Roboto Medium", "Helvetica", sans-serif;
$muli-bold: "Muli Bold", "Roboto Bold", "Helvetica", sans-serif;

/*Global Styles*/
body {
    background-color: $app-backgrnd-colr;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: $muli-regular;
    color: $module-fill-color;
  }
  html, body {
    height: 100%;
  }
  input[type="radio"], input[type="checkbox"] {
  margin-top: 0;
  display: none;
}
  //Navbar styles

  @media (min-width: 768px) {
    .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
  }
  @media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }
  }
  .navbar {
    background-color: $module-fill-color;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.25);
    min-height: 84px;
    line-height: 50px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: $app-backgrnd-colr;
    justify-content: space-between; 
    > .container,
    > .container-fluid {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  }

  .bfa-logo, .bfa-back-btn {
    background-repeat: no-repeat;
    display: block;
    height: 40px;
  }
  .bfa-logo {
    background-image: url("./assets/images/bfa-logo.jpg");
    width: 110px;
  }
  .bfa-back-btn {
    background-image: url("./assets/images/header-back.jpg");
    width: 40px;
  }
  .logo-line {
    padding: 0 5px;
  }
  .logo-sub-title {
    line-height: 52px;
    padding-left: 5px;
    font-size: 13px;
  }
  .profile-image, .get-started-image {
    background-repeat: no-repeat;
    display: block;
    height: 320px;
    width: 410px;
    margin-top: 50px;
  }
  .profile-image {
    background-image: url("./assets/images/profile-image.jpg");
  }
  .get-started-image {
    background-image: url("./assets/images/get-started-image.jpg");
  }
  
/*Form Styles*/
.bfa-form-group {
  div > input[type='radio'] + label {
    margin: 0;
    clear: none;
    padding: 5px 0 4px 30px;
    cursor: pointer;
    background: url("./assets/images/check-box-default.jpg") left center no-repeat;
  }
  div > input[type='radio']:checked + label {
    background-image: url("./assets/images/check-box-checked.jpg");
  }
  .form-control {
    font-family:$muli-medium;
    margin-bottom: 10px;
    position: relative;
    padding: 0.70rem;
    .tooltip-icon {
      position: absolute;
      right: 10px;
      top: 18px;
      background:url("./assets/images/profile-tooltip-icon.jpg") no-repeat;
      height: 20px;
      width: 20px;
      cursor: pointer;
    }
  }
  .btn {
    font-family:$muli-medium;
  }
  .btn-primary {
    background-color: $btn-primary-backgrnd-color;
    border-color: $btn-primary-backgrnd-color;
    box-shadow: 0 2px 14px 0 $btn-primary-shadow-color;
    padding: 0.90rem;
  }
}

/*Important Class*/
.width100 {
  width: 100%;
}
