@import 'variables';
@import 'mixins';
@import 'all';
@import 'media-query';
@import 'modal';
@import 'buttons';
@import 'form-control';
@import 'font';
@import 'images';
@import 'imp';
@import 'imp-flex';
@import 'legal'; 
@import 'articles';
@import 'about-us';
@import 'promotion';
@import 'investment';

@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~nouislider/distribute/nouislider.min.css";