
/* SCSS Variables */

//app background
$app-backgrnd-colr: #00a7a7;
$module-fill-color: #FFFFFF;
$btn-primary-backgrnd-color: #00c5c4;
$btn-primary-shadow-color: #008b8b;
$text-color-secondary: #5e5e5e;

$inline-error-border-color: #e57300;
$inline-error-bg-color: #fff3e9;

//font usage of muli
$muli-regular: 'Muli',
sans-serif;
$muli-light: 'Muli',
sans-serif;
$muli-medium: 'Muli',
sans-serif;
$muli-bold: 'Muli',
sans-serif;