<div ngbDropdown (openChange)="toggleDropdown($event)"  #myDrop="ngbDropdown" [formGroup]="form" [placement]="placement" class="width100 d-inline-block" autoclose="false">
  <button [disabled]="disabled" class="btn btn-dropdown" id="birth-country-drpdown_{{randomNo}}" ngbDropdownToggle [class.show]="!isDropdownOpen">
    <span *ngIf="!selectedValue">
      {{placeholderText}}
    </span>
    <span *ngIf="selectedValue">
      {{ selectedValue | titlecase }}
    </span>
  </button>
  <div class="search-input-container" [class.show]="isDropdownOpen">
    <img src="assets/images/search-icon.svg" alt="" />
    <input type="search" #searchInputElement (keyup)="setOptionList();myDrop.open();" (click)="setOptionList();preventPropogation($event)" class="search-control"
      [formControlName]="searchControlName" placeholder="{{ 'DROPDOWN.SEARCH' | translate}}...">
  </div>
  <div class="dropdown with-search" autocomplete="off" ngbDropdownMenu>
    <ng-container *ngIf="optionList | startsWith : form.controls[searchControlName].value : displayKey as result;">
      <button ngbDropdownItem class="dropdown-item"
        *ngFor="let option of result | startsWith : form.controls[searchControlName].value : displayKey; let i = index;"
        (click)="emitSelected(option);myDrop.close();"
        id="dropdown-w-search-option-{{randomNo}}_{{i}}">{{ option[displayKey] | titlecase}}</button>


      <ng-container *ngIf="!result.length" [ngTemplateOutlet]="noItems">
        <div ngbDropdownItem class="no-result" (click)="preventPropogation($event)">{{'COMMON_ERRORS.NO_RESULT' | translate}}</div>
      </ng-container>
    </ng-container>
  </div>
</div>
