@import '../../../../variables';
@import '../../../../mixins';
$finance-pop-title:#035e5e;
$minus-content-color:#ff872f;
.summary-modal{
    &__box-content-head {
        margin-bottom:10px;
    }
    &__pop-content-head{
       margin-bottom:10px;
       font-size:16px;
       color:$finance-pop-title;
       font-weight: bold;
       position: relative;
    }
    &__pop-content-body{
       margin-bottom:10px;
       font-size:14px;
    }
    &__pop-button{
        width: 25px !important;
        height: 25px !important;
        background: url("../../../../assets/images/close-button-dark.svg") !important;      
        background-repeat: no-repeat !important;    
        border: 0; 
        position: absolute;
        right:-5px;
    }
    &__minus-content{
        color: $minus-content-color!important;
        font-size:14px;
    }
    &__main-content{
        position: relative;
        padding: 0px 0px 0px 25%;
        text-align: left;
        font-size: 14px;
    }
    &__main-content_dollar{
        font-size: 16px;
        font-weight: bold;
        color: $finance-pop-title;
    }
    &__details--label-black{
        color:$black-color;
    }
}
.summary-modal .btn {
    box-shadow: none !important;
    border: none!important;
    background: $dark-teal-color!important;
    color: $white-color!important;
    font-size: 16px;
}
.spare-cash{
    width: 34px;
    height: 34px;
    background: url("../../../../assets/images/comprehensive/summary-page/spare-cash.svg");      
    background-repeat: no-repeat;    
    border: 0; 
    position: absolute;
    left:8%;
    top:5px;
}
.liquid-cash{
    width: 34px;
    height: 34px;
    background: url("../../../../assets/images/comprehensive/summary-page/liquid-cash.svg");      
    background-repeat: no-repeat;    
    border: 0; 
    position: absolute;
    left:8%;
    top:5px;
}
.liquid-alert{
    width: 34px;
    height: 34px;
    background: url("../../../../assets/images/comprehensive/summary-page/topup-alert.svg");      
    background-repeat: no-repeat;    
    border: 0; 
    position: absolute;
    right:8%;
    top:5px;
}
.loss-of-income{
    background: $light-grey-color;    
    border-radius: 6px;
    padding:8px 3px 3px 5px;
 }
 .ml10{
     margin-left:10px;
 }
 .retirement-section{
     .description{
        font-size: 18px;
     }
     .retire-content{
         position: relative;
     }
     .retire-bd{
         font-weight: bold;
         letter-spacing: -0.1px;
         margin-left: 30px;
     }
     
     .retire-sub-content{
        font-size:14px;
        font-weight: bold;
        letter-spacing: -0.1px;
        margin-left: 30px;
    }
     .retire-house{
        width: 25px;
        height: 34px;
        background: url("../../../../assets/images/comprehensive/summary-page/retire-house.svg");      
        background-repeat: no-repeat; 
        position: absolute;
        left: -24px;
        top: -3px;
     }     
     .retire-money{
        width: 25px;
        height: 34px;
        background: url("../../../../assets/images/comprehensive/summary-page/retire-money.svg");      
        background-repeat: no-repeat; 
        position: absolute;
        left: -24px;
        top: -3px;
     }     
     .retire-medical-expenses{
        width: 34px;
        height: 34px;
        background: url("../../../../assets/images/comprehensive/summary-page/retire-medical-expenses.svg");      
        background-repeat: no-repeat; 
        position: absolute;
        left: -24px;
        top: 0px;
     }
 }
// $summary-notes-color:#9f9f9f;
// $summary-notes-backcolor:#f5f5f5;
// .finance-section,.retirement-section,.insurance-planning-section {
//     background:$white-color;
//     color:$dark-teal-color;    
// }
// .calculate-cash-desc{
// background: $border-grey-color;
// color: $dark-teal-color;
// border-radius: 6px;
// margin:2px;
// }
// .retirement-section .section, .finance-section .section, .insurance-planning-section .section, .calculate-cash-desc .sub-section {
//     padding: 10px;
//     width:100%;
// }
// .finance-section .flex, .retirement-section .flex,.insurance-planning-section .flex{
// padding: 5px;
// }
// .sub-padding-top{
// padding-top: 5px;
// }
// .sub-padding{
// padding: 10px;
// }
// button.closebut {
//       width: 25px !important;
//       height: 25px !important;
//       background: url("../../../../assets/images/close-button-dark.svg") !important;      
//       background-repeat: no-repeat !important;    
//       border: 0; 
// }
// .emergBlock{
//     color:$orange-color;
// }
// .retire-modal-notes{
//     color:$summary-notes-color;
// }
// .sub-section-heading{
//     background:$balance-teal-color;
//     color:$white-color;
//     border-radius: 6px;
//     padding:10px;
// }
// .modal-black-head{
//     color:$black-color;
//     font-weight:bolder;
// }
// .ins-content-box{
//     //background:$border-grey-color;
//     background: $summary-notes-backcolor;
//     border-radius: 6px;
//     margin:2px;
// }
// .btn.btn-primary {
//     font-size: 18px;
//     background: $btn-comprehensive;
// }
