<div class="container-fluid bottom-none flex__wrapper flex--pad-reset mt0 mobile-top-non">
    <div class="content">
        <div class="col-lg-12 block__carousel-bar-container mt20"> 
            <div class="block__carousel-bar active"></div>
            <div class="block__carousel-bar"></div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 flex__box--horz block__content flex--pad-reset">
            <div class="col-lg-6 col-md-6 col-sm-12 flex--pad-mt-reset">
                <img class="flex--right-align flex--sm-center img__header-img" src="assets/images/group.svg"/>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 flex--pad-mt-reset flex--xs-grow">
                <div class="block__start-text-container flex--left-align flex--xs-grow">
                    <p class="p__step-title">{{ 'FINANCIAL_ASSESSMENT.CONTENT_STEP' | translate}}</p>
                    <p class="p__start-title mb10">{{ 'FINANCIAL_ASSESSMENT.CONTENT_TITLE' | translate}}</p>
                    <p class="p__start-sub-title mb40">{{ 'FINANCIAL_ASSESSMENT.CONTENT_DESC' | translate}}</p>
                    <button class="button__proceed" (click)="goNext()">
                            Proceed
                    </button>
                </div>
            </div> 
        </div>
    </div>
</div>