<div class="personal-info">
  <app-page-title [step]="step" [pageTitle]="pageTitle" [tooltip]="tooltip" [unsaved]="addExeTrusteeForm.dirty"></app-page-title>
  <div class="container-fluid max-width--1024">
    <div class="content">
      <div class="flex-row main-container">
        <div class="col-lg-6 col-md-6 col-12 mobile-header-container">
          <div class="heading hidden-sm-md">{{'WILL_WRITING.COMMON.STEP_3' | translate}}</div>
          <div class="autofill-link">
            <div class="autofill-text hidden-sm-md">{{ 'WILL_WRITING.MY_EXECUTOR_TRUSTEE.TITLE' | translate}} <span
                class="help-icon" (click)="openToolTipModal()"></span></div>
            <div class="note hidden-lg">{{ 'WILL_WRITING.MY_EXECUTOR_TRUSTEE.NOTE' | translate }}</div>
            <div class="sub-title mb10">{{ 'WILL_WRITING.MY_EXECUTOR_TRUSTEE.SUB_TITLE' | translate }}</div>
            <div class="note hidden-sm-md mb20">{{ 'WILL_WRITING.MY_EXECUTOR_TRUSTEE.NOTE' | translate }}</div>
            <div class="autofill-logo hidden-sm-md"><img class="img-fluid" src="assets/images/will-writing/my-executor-trustee.svg" /></div>
            <div class="autofill-logo mobile-logo hidden-lg mb5"><img class="img-fluid" src="assets/images/will-writing/owl-mobile.svg" /></div>
          </div>
        </div>
        <div class="col-lg-5 col-md-5 col-12 executer-trustee-container">
          <div class="flex-col-12">{{ 'WILL_WRITING.MY_EXECUTOR_TRUSTEE.FORM_TITLE' | translate}}</div>
          <div class="form-group-single-column flex-col">
            <div class="form-group-single-column  mb0 flex-col" *ngFor="let execTrustee of execTrusteeList ; let i = index">
              <div class="edit-block checkbox-button two-label">
                <label id="executor_{{i+1}}">
                  <div class="input-label-black">{{execTrustee.name | titlecase }}</div>
                  <div class="input-label-normal">{{'WILL_WRITING.COMMON.MY' |
                    translate}} {{execTrustee.relationship | titlecase }}</div>
                </label>
                <span (click)="editExecTrustee(execTrustee.relationship, i)" class="edit-icon"><img src="assets/images/will-writing/edit-dark.svg" /></span>
              </div>
            </div>
          </div>
          <div class="add-exeTrustee-form" *ngIf="execTrusteeList.length < maxExecTrustee || isEdit">
            <form [formGroup]="addExeTrusteeForm" id="addExeTrusteeForm" name="addExeTrusteeForm">
              <div class="addExeTrusteeForm" formArrayName="executorTrustee" *ngFor="let execTrustee of addExeTrusteeForm.get('executorTrustee').controls; let i = index;">
                <div class="form-group" [formGroupName]="i">
                  <div *ngIf="formTitle[i]?.isAlt" class="flex-row title">
                    {{'WILL_WRITING.MY_EXECUTOR_TRUSTEE.ALT_EXEC_TRUSTEE' | translate}}
                  </div>
                  <div *ngIf="!formTitle[i]?.isAlt" class="flex-row title">
                    {{'WILL_WRITING.MY_EXECUTOR_TRUSTEE.MAIN_EXEC_TRUSTEE' | translate}}
                  </div>
                  <div *ngIf="formTitle[i]?.isAlt" class="flex-row alternative-sub-title">
                    {{ 'WILL_WRITING.MY_EXECUTOR_TRUSTEE.ALT_EXEC_TRUSTEE_SUB_TITLE' | translate}}
                  </div>
                  <div class="flex-row" [ngClass]="{'mt27': !formTitle[i]?.isAlt}">
                    <div class="flex-col-5">
                      <label for="name" id="myFamilyFormLbl1">
                        <div>{{ 'WILL_WRITING.ABOUT_ME.FORM.NAME' | translate}}<div class="sub_name">{{
                            'WILL_WRITING.COMMON.SUB_NAME' | translate}}</div>
                        </div>
                      </label>
                    </div>
                    <div class="flex-col-6">
                      <input type="text" [ngClass]="{'inline-error': submitted && execTrustee.controls.name.invalid}"
                        id="myFamilyFormInpt1" class="form-control" #name formControlName="name">
                    </div>
                  </div>
                  <div class="flex-row">
                    <div class="flex-col-5">
                      <label for="name" id="addGuardianFormLbl3" class="relationship">{{
                        'WILL_WRITING.COMMON.RELATIONSHIP' | translate}}</label>
                    </div>
                    <div class="flex-col-6">
                      <div class="dropdown-control" [ngClass]="{'inline-error': submitted && execTrustee.controls.relationship.invalid}">
                        <div ngbDropdown id="relationshipDropDown">
                          <button type="button" class="btn btn-dropdown" id="dropdownRelationship" ngbDropdownToggle>
                            <span *ngIf="formTitle[i]?.relationship === ''">{{'COMMON.LBL_SELECT' | translate}}</span>
                            <span *ngIf="formTitle[i]?.relationship !== ''">{{formTitle[i]?.relationship}}</span>
                          </button>
                          <div ngbDropdownMenu aria-labelledby="dropdownRelationship">
                            <button class="dropdown-item" (click)="selectRelationship('', i)">{{'COMMON.LBL_SELECT' |
                              translate}}</button>
                            <button type="button" class="dropdown-item" *ngFor="let relationship of relationshipList;"
                              (click)="selectRelationship(relationship, i)">
                              {{relationship.text}}
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex-row">
                    <div class="flex-col-5">
                      <label for="name" id="myFamilyFormLbl2">
                        <div>{{ 'WILL_WRITING.ABOUT_ME.FORM.NRIC' | translate}}</div>
                        <div class="with-help-icon">{{ 'WILL_WRITING.ABOUT_ME.FORM.NUMBER' | translate}} <span class="help-icon"
                            (click)="openToolTip()"></span></div>
                      </label>
                    </div>
                    <div class="flex-col-6">
                      <input type="text" [ngClass]="{'inline-error': submitted && execTrustee.controls.uin.invalid}" id="myFamilyFormInpt2"
                        class="form-control" #uin formControlName="uin" maxLength="15">
                    </div>
                  </div>
                  <div class="flex-row add-beneficiary save" *ngIf="isEdit">
                    <div class="pl0 col-5">
                      <button type="button" (click)="resetForm()" class="btn width100 cancel-btn">{{
                        'WILL_WRITING.COMMON.CANCEL' | translate}}</button>
                    </div>
                    <div class="pr0 col-5">
                      <button type="button" (click)="updateExecTrustee(addExeTrusteeForm)" class="btn btn-primary width100">
                        <span>{{'WILL_WRITING.COMMON.SAVE' | translate}}</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="message-block">
            <div class="tooltip-message-img">
              <img src="assets/images/will-writing/tooltip-message.svg" />
              <div class="tooltip-message">{{'WILL_WRITING.MY_EXECUTOR_TRUSTEE.MESSAGE_TOOLTIP' | translate}}</div>
            </div>

          </div>
          <div>
            <button type="button" (click)="goToNext(addExeTrusteeForm)" class="btn btn__footer--fixed btn-ftr-get-started btn-primary width100"
              id="myFamilyFormBtn1">
              <span *ngIf="!isEdit && !fromConfirmationPage">{{'LABEL.CONTINUE' | translate}}</span>
              <span *ngIf="isEdit || fromConfirmationPage">{{'WILL_WRITING.COMMON.APPLY_CHANGES' | translate}}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
