@import '../../../variables';
@import '../../../mixins';

.container-fluid {
    padding: 50px 60px 65px;
    font-family: $muli-semi-bold;
    @include allmobiles{
        padding: 10px 0 !important;
        border-radius: 0;
    }
    .main-container {
        justify-content: space-between;
    }
}
.addExeTrusteeForm {
    background-color: #f4fafb;
    border-radius: 6px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.25);
    font-size: 18px;
    letter-spacing: -0.3px;
    color: #2d8289;
    margin-top: 5px;
    margin-bottom: 24px;
    @include allmobiles {
        margin-top: 10px;
    }
    .title {
        font-family: $muli-bold;
        border-radius: 6px;
        font-size: 20px;
        letter-spacing: -0.4px;
        color: #066360;
        padding: 20px !important;
        background: $white-color;
    }
    .flex-row{
        padding:0 20px 21px;
        justify-content: space-between;
        line-height: normal;
    }
}

.heading {
    font-family: $muli-light;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.2px;
    color: #fff;
}
.mobile-header-container {
    @include allmobiles {
        background-color: #fff;
        margin-top: -10px;
        padding-top: 27px;
    }
}
.autofill-link {
    @include allmobiles {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}
.autofill-text{
    font-size: 36px;
    letter-spacing: -0.4px;
    color: #fff;
    position: relative;
}

.sub-title {
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.2px;
    color: #fff;
    font-family: $muli-regular;
    @include allmobiles{
        font-size: 16px;
        color: #333846;
        width:297px;
        text-align: center;
    }

}
.mobile-logo{
    display: none;
    @include allmobiles {
        display: block;
        justify-content: center;
        align-items: center;
    }
}

.executer-trustee-container {
    margin-top: 70px;
    padding-right: 0;
    @include allmobiles{
        margin-bottom: 20px;
        background-color: #00a7a7;
        padding: 15px;
        margin-top: 10px;
    }
    .flex-col-12{
        margin-bottom: 22px;
        @include allmobiles {
            margin-bottom: 21px;
        }
    }
    .edit-block{
        @extend .flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 28px;
        padding-right: 28px;
        padding-top: 13px;
        height: 76px;
        span{
            margin-bottom: 8px;
        }
    }
    .add-exeTrustee-form{
        margin-bottom:20px;
        .trustee-form-btn{
            display: flex;
            justify-content: flex-end;
        }
        .btn{
            font-family: $muli-regular;
            font-size: 16px;
            letter-spacing: -0.1px;
            color: #00a7a7;
            background-color: #fff;  
        }
        .btn-primary {
            color: #fff;
            background-color: #00a7a7;
            padding-top:5px !important;
            padding-bottom: 5px !important;
        }
    }
    .add-trustees{
        padding-left:10px;
        padding-top:7px !important;
    }
}

.help-icon {
    background-image: url("../../../assets/images/will-writing/help-icon.svg");
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-repeat: no-repeat;
    position: absolute;
    right: -7px;
    bottom: 15px;
    background-color: #fff;
    border-radius: 50%;
}
.edit-icon {
    cursor: pointer;
}

.alternative-sub-title {
    font-family: $muli-regular;
    font-size: 14px;
    letter-spacing: -0.1px;
    font-weight: 100;
    color: #2d8289;
    padding: 20px !important;
  }

  .title-cancel {
    font-family: $muli-regular;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: -0.3px;
    text-align: right;
    color: #00a7a7;
    cursor: pointer;
    padding-top: 5px;
}

.autofill-logo{
    margin-top: 40px;
    @include allmobiles{
        margin-top: 0;
    }
}

.with-help-icon{
    display:flex;
    align-items: flex-end;
    position: relative;
    .help-icon {
        background-image: url("../../../assets/images/help-icon.png");
        width: 20px;
        height: 20px;
        cursor: pointer;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 5px;
        right: -8px;
        border-radius: 0;
    }
}

.sub_name {
    font-family: $muli-regular;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #2d8289;
  }

.form-control{
    color: #00a7a7;
    &:focus {
        color: #00a7a7;
    }
}

.message-block{
    margin-top: 21px;
    @include allmobiles {
        margin-top: 0;
        padding-bottom: 30px;
    }
    
    .tooltip-message-img{
        position: relative;
        img{
            max-width: 100%;
        }
    }
    .tooltip-message{
        padding: 14px 9px 17px 20px;
        position: absolute;
        bottom: 21%;
        width: 274px;
        left: 14%;
        font-size: 14px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.1px;
        color: #333846;
    }
}

.default {
    font-family: $muli-regular;
    font-size: 16px;
    font-weight: 100;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #d8d8d8;
  }
  .relationship {
      width: 119px;
  }
  .inline-error{
    .btn-dropdown{
        border: none;
        border-radius: 4px;
    }
  }

  .form-group-single-column .checkbox-button.two-label {
      margin-bottom: 19px;
      @include allmobiles {
          margin-bottom: 24px;
      }
  }

  .dropdown-menu {
    z-index: 998;
    height: auto;
    &.show{
        margin-bottom: 65px;
    }
  }
        