<div class="article-category">
  <div class="article-category__header">
    <div class="sub-navigation">
      <div class="sub-navigation--inner">
        <span routerLink="/">Home</span>
        <span class="separator"></span>
        <span>Articles</span>
        <span class="separator"></span>
        <span>{{category}}</span>
        </div>
      </div> 
    </div>
  <div class="article-category__container">
    <div class="article-category__articles">
      <div class="article-category__element" *ngFor="let article of articleListCategory">
          <div class="article-element__image" [ngStyle]="{'background-image': 'url(../../../assets/articles/images/'+article.id+'/thumbnail.jpg)'}">
            
          </div>
          <div class="article-element__desc">
            <div class="article-title">
                <a>{{article.art_title}}</a>
              </div>
            <div class="article-description">
                {{article.art_desc}}
              </div>
            <div class="art-author__container">
              <span class="author">By <a class="author-link">{{article.art_author}}</a></span>
              <span>{{article.art_date}}</span>
              </div>
            <div class="art-tag__container">
              <div class="art-tag__element" *ngFor="let article_tag of article.art_tags">
                <i class="material-icons">local_offer</i>{{article_tag}}
                </div>
            </div>
          </div> 
        </div>
      </div>
    <div class="article-category__list">
      <div class="article-category__title">
        <i class="material-icons">local_offer</i>
        <span>Category</span>
        </div>
      <div class="category-container" ngbDropdown>
          <button class="btn btn-dropdown category-btn" id="categoryDropdown" ngbDropdownToggle>{{category}}</button>
          <div class="category-list" ngbDropdownMenu aria-labelledby="categoryDropdown">
            <div class="category">
              <a>Protection</a>
              <span>4</span>
              </div>
            <div class="category">
              <a>Critical Illness</a> 
              <span>5</span>
              </div>
            <div class="category">
              <a>Retirement Income</a>
              <span>3</span>
              </div> 
            </div>
        </div>
      </div>  
  </div> 