<div class="app-tax-info investment-account">
  <div class="step-indicator-container">
    <div class="container-fluid max-width--1024">
      <app-step-indicator [count]="2" [activeStepIndex]="" [mode]="1"></app-step-indicator>
    </div>
  </div>
  <div class="container-fluid max-width--1024">
    <div class="content">
      <div class="row">
        <div class="col-md-7 hidden-sm-md"></div>
        <div class="col-md-5">
          <div class="srs-block">
            <div class="funding-type mb20">
              <div class="flex-col-12">
                <div class="funding-lbl">Funding Method</div>
                <div>You have selected the following funding method for this portfolio.</div>
              </div>
              <div class="flex-row">
                <div class="flex-col-12">
                  <div class="dropdown-control">
                    <div ngbDropdown>
                      <button class="btn btn-dropdown" id="additional_declaration_sourse-drpdown" ngbDropdownToggle>
                        {{sourceObj ? sourceObj :'select'}}
                      </button>
                      <div class="dropdown" ngbDropdownMenu aria-labelledby="courseDropdown">
                        <button class="dropdown-item" *ngFor="let sourceObj of sourceOfIncomeList; let i = index;"
                          (click)="selectSource(sourceObj)"
                          id="additional_declaration_sourse-drpdown-option-{{i}}">{{sourceObj}}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="widget">
              <div class="mb15">Please provide your account details.</div>
              <div class="widget-title">SRS Account Details</div>
              <div class="widget-body">
                <div class="flex-row">
                  <div class="flex-col-4">
                    <label>SRS Operator</label>
                  </div>
                  <div class="flex-col-8">
                    <div class="dropdown-control">
                      <div ngbDropdown>
                        <button class="btn btn-dropdown" id="additional_declaration_sourse-drpdown" ngbDropdownToggle>
                          {{sourceObj ? sourceObj :'select'}}
                        </button>
                        <div class="dropdown" ngbDropdownMenu aria-labelledby="courseDropdown">
                          <button class="dropdown-item" *ngFor="let sourceObj of sourceOfIncomeList; let i = index;"
                            (click)="selectSource(sourceObj)"
                            id="additional_declaration_sourse-drpdown-option-{{i}}">{{sourceObj}}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex-row">
                  <div class="flex-col-4">
                    <label>SRS Account Number</label>
                  </div>
                  <div class="flex-col-8">
                    <input type="text" placeholder="Enter Account Number" class="form-control" maxLength="30">
                    <!-- <div class="dropdown-control"
                            [ngClass]="{'inline-error':getInlineErrorStatus(taxInfoItem.controls.taxCountry)}">
                            <app-dropdown-with-search [form]="taxInfoItem" controlName="taxCountry"
                              [optionList]="countries" displayKey="name" placement="bottom"
                              placeholderText="{{'INVESTMENT_ACCOUNT_COMMON.SELECT_COUNTRY' | translate}}"
                              (itemSelected)="selectCountry($event, taxInfoItem)">
                            </app-dropdown-with-search>
                          </div> -->
                  </div>
                </div>
                <div>Please ensure you have entered correct SRS account information</div>
              </div>
              <div class="tax-lbl">{{ 'TAX_INFO.TAX_OTHER_COUNTRY' | translate}}</div>
            </div>
          </div>
          <div class="text-center">
            <button type="button" id="personalInforNextBtn" (click)="goToNext(taxInfoForm)"
              class="btn btn__footer--fixed btn-ftr-get-started btn-primary"
              id="getStrdBtn3">{{ 'TAX_INFO.CONTINUE' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
