<div class="home__wrapper">
  <div class="banner" #banner>
    <div class="banner-bg">
      <div class="banner-bg--image"></div>
    </div>
    <div class="banner-container">
      <div class="banner-image">
        <img src="assets/images/banner1-thumbnail.svg" />
      </div>
      <div class="banner-content">
        <div class="banner--title">
          {{'BANNER.TITLE' | translate}}
        </div>
        <div class="banner--subtitle">
          {{'BANNER.DESCRIPTION' | translate}}
        </div>
        <div class="btn btn-primary-dark findOutMore-btn" (click)="goToSection(insurance)">
          <span>{{'BANNER.FIND_OUT_MORE' | translate}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="home__content" #sectionContainer>
    <div class="home__navbar" #homeNavBar [ngClass]="{'fixed': homeNavBarFixed,'hide': homeNavBarHide}">
      <div class="home__navbar--inner">
        <div class="navbar__btn" #homeNavInsurance (click)="goToSection(insurance)">
          <span class="navbar__btn--title">{{'INSURANCE.LABEL' | translate}}</span>
        </div>
        <div class="navbar__btn" #homeNavWill (click)="goToSection(will)">
          <span class="navbar__btn--title">{{'WILL.LABEL' | translate}}</span>
        </div>
        <div class="navbar__btn" #homeNavInvest (click)="goToSection(investment)">
          <span class="navbar__btn--title">{{'INVESTMENT.LABEL' | translate}}</span>
        </div>
        <div class="navbar__btn" #homeNavComprehensive (click)="goToSection(comprehensive)">
          <span class="navbar__btn--title">{{'COMPREHENSIVE.LABEL' | translate}}</span>
          <span class="navbar__btn--subtitle">{{'COMPREHENSIVE.SUB_LABEL' | translate}}</span>
        </div>
        <div class="home__navbar--border" [ngClass]="{'hide': homeNavBarFixed}"></div>
      </div>
    </div>
    <div class="home__navbar--sub" [ngClass]="{'show': homeNavBarFixed}"></div>
    <div class="home__section" #insurance>
      <div class="home__section--img primary">
        <img class="human" src="assets/images/home-page/home-insurance.jpg" />
        <img class="robo" src="assets/images/home-page/home-insurance-robo.svg" />
        <div class="value-prop">
          <img src="assets/images/trust-us-icon.svg" />
          <p>{{'INSURANCE.TRUST_US' | translate}}<br />{{'INSURANCE.TRUST_US2' | translate}}</p>
        </div>
      </div>
      <div class="home__section--text-container primary">
        <p class="home__section--title">{{'INSURANCE.TITLE' | translate }}</p>
        <p class="home__section--desc">{{'INSURANCE.DESCRIPTION' | translate }}</p>
        <div class="btn btn-primary-dark home__section--btn" (click)="startGuidedJourney()">
          <span>{{'INSURANCE.LINK1' | translate}}</span>
        </div>
        <a class="home__section--subtext" href="javascript: void(0);" (click)="startDirectJourney()">{{'INSURANCE.LINK2' | translate}}</a>
      </div>
      <div class="home__seperator primary">
        <img class="hidden-sm" src="assets/images/home-page/seperator1.svg" />
        <img class="show-sm" src="assets/images/home-page/mob-seperator1.svg" />
      </div>
    </div>
    <div class="home__section" #will>
      <div class="home__section--text-container secondary">
        <p class="home__section--title">{{'WILL.TITLE' | translate}}</p>
        <p class="home__section--desc">{{'WILL.DESCRIPTION' | translate}}</p>
        <button *ngIf="!isWillWritingEnabled" class="btn btn-secondary home__section--btn" disabled>
          <span>{{'GENERAL.COMING_SOON' | translate}}</span>
        </button>

        <button *ngIf="isWillWritingEnabled" class="btn btn-primary-dark home__section--btn" routerLink="/will-writing">
          <span>{{'WILL.LINK1' | translate}}</span>
        </button>

      </div>
      <div class="home__section--img secondary">
        <img class="human" src="assets/images/home-page/home-will.jpg" />
        <img class="robo" src="assets/images/home-page/home-will-robo.svg" />
      </div>
      <div class="home__seperator secondary">
        <img class="hidden-sm" src="assets/images/home-page/seperator2.svg" />
        <img class="show-sm" src="assets/images/home-page/mob-seperator2.svg" />
      </div>
    </div>
    <div class="home__section" #investment>
      <div class="home__section--img tertiary">
        <img class="robo" src="assets/images/home-page/home-investment-robo.svg">
        <img class="human" src="assets/images/home-page/home-investment.jpg" />
      </div>
      <div class="home__section--text-container tertiary">
        <p class="home__section--title">{{'INVESTMENT.TITLE' | translate}}</p>
        <p class="home__section--desc">{{'INVESTMENT.DESCRIPTION' | translate}}</p>
        <button *ngIf="!isInvestmentEnabled" class="btn btn-secondary home__section--btn" disabled>
          <span>{{'GENERAL.COMING_SOON' | translate}}</span>
        </button>
        <button *ngIf="isInvestmentEnabled" class="btn btn-primary-dark home__section--btn" routerLink="/invest">
          <span>{{'INVESTMENT.LINK1' | translate}}</span>
        </button>
      </div>
      <div class="home__seperator tertiary">
        <img class="hidden-sm" src="assets/images/home-page/seperator3.svg" />
        <img class="show-sm" src="assets/images/home-page/mob-seperator3.svg" />
      </div>
    </div>
    <div class="home__section" #comprehensive>
      <div class="home__section--text-container quaternary">
        <p class="home__section--title">{{'COMPREHENSIVE.TITLE' | translate}}</p>
        <p class="home__section--sub-title">{{'COMPREHENSIVE.SUB_TITLE' | translate}}</p>
        <p class="home__section--desc">{{'COMPREHENSIVE.DESCRIPTION' | translate}}</p>
        <button *ngIf="!isComprehensiveEnabled" class="btn btn-secondary home__section--btn" disabled>
          <span>{{'GENERAL.COMING_SOON' | translate}}</span>
        </button>
        <button *ngIf="isComprehensiveEnabled" class="btn btn-primary-dark home__section--btn" routerLink="/comprehensive">
          <span>{{'COMPREHENSIVE.LINK1' | translate}}</span>
        </button>
      </div>
      <div class="home__section--img quaternary">
        <img class="human" src="assets/images/home-page/home-comprehensive.jpg" />
        <img class="robo" src="assets/images/home-page/home-comprehensive-robo.svg">
      </div>
    </div>

    <div class="subscribe__section" #subscribeSection>
      <div class="subscribe__section--bg">
      </div>
      <form class="subscribe__form--plugin" name="subscribeForm" id="subscribeForm" [formGroup]="subscribeForm">
        <div class="subscribe-title--container">
          <div *ngIf="!isWillWritingEnabled" class="subscribe--title">
            {{'NEWSLETTER.TITLE' | translate}}
          </div>
          <div *ngIf="isWillWritingEnabled" class="subscribe--will-title">
            {{'NEWSLETTER.WILL_TITLE' | translate}}
            </div>
          <div class="subscribe--icon">
            <img src="assets/images/owl--mini.svg" />
          </div>
          </div>
        <div *ngIf="isWillWritingEnabled" class="subscribe-promo--container">
          <div class="subscribe--promo">
            {{'NEWSLETTER.PROMO_TITLE' | translate}}
            </div>
          </div>
        <div class="subscribe-input--container">
          <div class="row">
            <input class="flex-col-6 form-control" type="text" placeholder="{{'NEWSLETTER.PLACEHOLDER.FIRST_NAME' | translate}}"
              formControlName="firstName" />
            <input class="flex-col-6 form-control" type="text" placeholder="{{'NEWSLETTER.PLACEHOLDER.LAST_NAME' | translate}}"
              formControlName="lastName" />
          </div>
          <div class="row">
            <input class="form-control" type="email" placeholder="{{'NEWSLETTER.PLACEHOLDER.EMAIL' | translate}}"
              formControlName="email" />
          </div>
          <p class="sub-message" [ngClass]="{'success': subscribeSuccess, 'active': subscribeMessage !== ''}">{{subscribeMessage}}</p>
          <button class="btn btn-primary-dark subscribe-btn" (click)="subscribeMember()">{{'NEWSLETTER.SUBSCRIBE' |
            translate}}</button>
        </div>
        <p class="subscribe--subtext">{{'NEWSLETTER.SUBTEXT' | translate}}</p>
      </form>
      <div class="subscribe__section--footer" #subscribeFooter>
        <div class="orange"></div>
      </div>
    </div>
  </div>
  <div class="home__licensed-tab-section">
    <p class="licensed-tab-section--title">{{'TRUSTED.TITLE' | translate}}</p>
    <div class="licensed-tab-section__inner-container">
      <div class="licensed-tab-section__icon-container">
        <div class="licensed-tab__icon" *ngFor="let reason of trustedReasons">
          <img src="{{reason.IMAGE}}" />
          <p innerHTML="{{reason.LABEL}}"></p>
        </div>
      </div>
    </div>
    <div class="btn btn-primary licensed-tab-section--more-btn" routerLink="/about-us/why-moneyowl">{{'TRUSTED.BTN_LABEL'
      | translate}}</div>
  </div>
  <div class="home__reviews">
    <div class="home__review--header">
      {{'REVIEWS.TITLE' | translate}}
    </div>
    <div class="home__reviews--inner">
      <div class="home__review--element">
        <div class="home__review--text">
          {{'REVIEWS.REVIEW1.MESSAGE' | translate}}
        </div>
        <div class="home__review--rating">
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
          <span>(5/5)</span>
        </div>
        <div class="home__review--reviewer">
          {{'REVIEWS.REVIEW1.REVIEWER' | translate}}
        </div>
      </div>
      <div class="home__review--element">
        <div class="home__review--text">
          {{'REVIEWS.REVIEW2.MESSAGE' | translate}}
        </div>
        <div class="home__review--rating">
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
          <span>(5/5)</span>
        </div>
        <div class="home__review--reviewer">
          {{'REVIEWS.REVIEW2.REVIEWER' | translate}}
        </div>
      </div>
      <div class="home__review--element">
        <div class="home__review--text">
          {{'REVIEWS.REVIEW3.MESSAGE' | translate}}
        </div>
        <div class="home__review--rating">
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
          <span>(5/5)</span>
        </div>
        <div class="home__review--reviewer">
          {{'REVIEWS.REVIEW3.REVIEWER' | translate}}
        </div>
      </div>
    </div>
  </div>
</div>
