@import '../../../variables';
@import '../../../mixins';

.bg-color {
  background-color: $white-color !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

app-payment-status {
  .page {
    // position: relative;
    // display: flex;
    // width: 100%;
    // align-items: center;
    // justify-content: center;
    // flex-direction: column;
    // background-color: $white-color;
  }

  .success-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    margin-bottom: 84px;

    @include allmobiles {
      width: 300px;
    }
  }

  .flex-div {
    display: flex;
    flex-direction: column;
  }

  .success-img {
    height: 249px;
    width: 299px;

    @include allmobiles {
      height: 160px;
      width: 192px;
    }
  }

  .fail-img {
    height: 237px;
    width: 278px;

    @include allmobiles {
      height: 153px;
      width: 180px;
    }
  }

  .status-title {
    font-family: $muli-bold;
    font-size: 24px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.45px;
    text-align: center;
    color: $teal-color;
    margin-top: 30px;
  }

  .fail-color {
    color: $red-color;
  }

  .status-desc {
    font-family: $muli-regular;
    font-size: 16px;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: center;
    color: $silver-grey-color;
    margin-top: 10px;
    padding: 0 20px;

    span {
      font-family: $muli-bold;
    }

    @include allmobiles {
      padding: 0;
    }
  }

  .btn-primary {
    width: 340px;
    margin-top: 41px !important;
    font-family: $muli-bold;
  }

  @include allmobiles {
    .btn__footer--fixed {
      width: 100%;
    }
  }

  .home-btn {
    font-family: $muli-regular;
    font-size: 18px;
    line-height: normal;
    letter-spacing: -0.2px;
    text-align: center;
    color: $teal-color;
    margin-top: 14px;
    padding: 0 20px;
    cursor: pointer;

    @include allmobiles {
      position: absolute;
      bottom: 81px;
    }

  }
}
