<div class="container-fluid max-width--1024 comprehensive">
  <div class="step-indicator-container" id="moDpdnt2StepIndctr">
    <app-step-indicator [count]="6" [activeStepIndex]="5" [mode]="1"></app-step-indicator>
  </div>
  <div class="dependant-title mt40">{{'CMP.MY_LIABILITIES.TITLE'|translate}}</div>
  <div class="dependant-desc">{{'CMP.MY_LIABILITIES.HEADER'|translate}}</div>
  <div class='income-bucket-panel'>
    <div class="income-bucket-panel__img  finance-liabilities {{ bucketImage }}"></div>
    <div class="income-bucket-panel__content">{{'CMP.MY_LIABILITIES.LIABILITIES_BUCKETS'|translate}}</div>
    <div class="income-bucket-panel__desc"><span class='income-bucket-panel__value'>{{ totalOutstanding |
        currency:'USD':'symbol-narrow':'1.0-2' }} </span>{{'CMP.MY_LIABILITIES.LIABILITIES_BUCKETS_TOTAL'|translate}}
    </div>
  </div>
  <form [formGroup]="myLiabilitiesForm" id="myLiabilitiesForm" name="myLiabilitiesForm" class="myLiabilitiesForm form-group">
    <div class="form-group-with-bg">
      <!--Form Header-->
      <div class="form-group-with-bg--header">
        <div class="flex-row ">
          <div class="flex-col-12 with-help-icon">
            <div class="form-group-with-bg--header-label">{{ 'CMP.MY_LIABILITIES.HOME_LOAN_OUTSTANDING' | translate}}<div
                class="form-group-with-bg--header-sub-label"></div>
            </div>
            <span class="help-icon" (click)="showToolTipModal('HOME_LOAN_OUTSTANDING_TITLE','HOME_LOAN_OUTSTANDING_MESSAGE')"></span>
          </div>
        </div>
      </div>
      <!--Form Content-->
      <div class="form-group-with-bg--content">
        <div class="flex-row">
          <div class="flex-col-6">
            <div class="form-group-with-bg--content-label" for="name">{{ 'CMP.FORM_LABEL.AMOUNT' |
              translate}}<div class="form-group-with-bg--content-sub-label"></div>
            </div>
          </div>
          <div class="flex-col-6">
            <div class="form-control">
              <i>$</i>
              <input type="text" class="input-control" maxLength="7" appCurrencyInput #homeLoanOutstandingAmount
                formControlName="homeLoanOutstandingAmount" value="">
            </div>
          </div>
        </div>

        <div class="flex-row investmentProperties home-loan" [hidden]="!propertyLoan">
          <div class="flex-col-12 mt30 ">
            <div class="with-help-icon" for="name"><u (click)="addPropertyLoan()">{{
                'CMP.MY_LIABILITIES.ADD_OTHER_PROPERTY_lOAN' | translate}}</u>

              <span class="help-icon" (click)="showToolTipModal('OTHER_PROPERTY_LOAN_TITLE','OTHER_PROPERTY_LOAN_MESSAGE')"></span>
            </div>
          </div>
        </div>

        <div [hidden]="propertyLoan" class="liabilities investmentProperties">

          <div class="flex-row mt30">
            <div class="flex-col-12">
              <div class="with-help-icon both-icon form-group-with-bg--content-label" for="name"><b>{{
                  'CMP.MY_LIABILITIES.OTHER_PROPERTY_LOAN' | translate}}</b>
                <span class="help-icon" (click)="showToolTipModal('OTHER_PROPERTY_LOAN_TITLE','OTHER_PROPERTY_LOAN_MESSAGE')"></span>
                <span class="delete-icon" (click)="addPropertyLoan()"> </span>
              </div>
            </div>
          </div>

          <div class="flex-row">
            <div class="flex-col-6">
              <div class="form-group-with-bg--content-label" for="name">{{ 'CMP.FORM_LABEL.AMOUNT' |
                translate}}<div class="form-group-with-bg--content-sub-label"></div>
              </div>
            </div>
            <div class="flex-col-6">
              <div class="form-control"  [ngClass]="{'inline-error': submitted && addLiabilitiesValid.otherPropertyLoanOutstandingAmount.invalid}">
                <i>$</i>
                <input type="text" class="input-control" maxLength="7" appCurrencyInput #otherPropertyLoanOutstandingAmount
                  formControlName="otherPropertyLoanOutstandingAmount" value="">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="form-group-with-bg">
      <!--Form Header-->
      <div class="form-group-with-bg--header">
        <div class="flex-row ">
          <div class="flex-col-12 with-help-icon">
            <div class="form-group-with-bg--header-label">{{ 'CMP.MY_LIABILITIES.OTHER_LOANS_AMOUNT_OUTSTANDING' |
              translate}}<div class="form-group-with-bg--header-sub-label"></div>
            </div>
            <span class="help-icon" (click)="showToolTipModal('OTHER_LOAN_TITLE','OTHER_LOAN_MESSAGE')"></span>
          </div>
        </div>
      </div>
      <!--Form Content-->
      <div class="form-group-with-bg--content">
        <div class="flex-row">
          <div class="flex-col-6">
            <div class="form-group-with-bg--content-label" for="name">{{'CMP.FORM_LABEL.AMOUNT'|translate}}<div class="form-group-with-bg--content-sub-label"></div>
            </div>
          </div>
          <div class="flex-col-6">
            <div class="form-control">
              <i>$</i>
              <input type="text" class="input-control" appCurrencyInput maxLength="7" #otherLoanOutstandingAmount
                formControlName="otherLoanOutstandingAmount" value="">
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="form-group-with-bg">
      <!--Form Header-->
      <div class="form-group-with-bg--header">
        <div class="flex-row ">
          <div class="flex-col-12 with-help-icon">
            <div class="form-group-with-bg--header-label">{{ 'CMP.MY_LIABILITIES.CAR_LOANS' | translate}}<div class="form-group-with-bg--header-sub-label"></div>
            </div>
            <span class="help-icon" (click)="showToolTipModal('CAR_LOANS_TITLE','CAR_LOANS_MESSAGE')"></span>
          </div>
        </div>
      </div>
      <!--Form Content-->
      <div class="form-group-with-bg--content">
        <div class="flex-row">
          <div class="flex-col-6">
            <div class="form-group-with-bg--content-label" for="name">{{'CMP.FORM_LABEL.AMOUNT'|translate}}<div class="form-group-with-bg--content-sub-label"></div>
            </div>
          </div>
          <div class="flex-col-6">
            <div class="form-control">
              <i>$</i>
              <input type="text" class="input-control" appCurrencyInput maxLength="6" #carLoansAmount formControlName="carLoansAmount"
                value="">
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class='mb-10'>
      <div class="flex-row mb-3 mt-3 ">
        <div class="flex-col-12">
      <button type="button" (click)="goToNext(myLiabilitiesForm)" class="btn btn-primary mt30 mb10 width100" id="prfBtn1">{{
        'CMP.FORM_LABEL.SAVE_AND_CONTINUE' |
        translate}}</button>
        </div>
      </div>
    </div>

  </form>
  <div class="flex-row footer-notes btn__footer--fixed width100 p-3" id="prfBtn1">
    <div class="flex-col-9 text-left bucket-notes">{{ 'CMP.MY_LIABILITIES.LIABILITIES_BUCKETS_NOTE'|translate}}</div>
    <div class="flex-col-3 text-right bucket-notes-dollar"> {{totalOutstanding | currency:'USD':'symbol-narrow':'1.0-2'}}</div>
  </div>


</div>