<div class="portfolio-bg" *ngIf="portfolio">
    <div class="container-fluid">
      <img id="investment_overview_background_img" class="background_img web_bg" src="assets/images/investment_header_web.svg" />
      <img id="investment_overview_background_img" class="background_img mobile_bg" src="assets/images/investment_header_mobile.svg" />
    </div>
    <div class="flex-row user_content flex-col-12">
      <div class="flex-col-8 " id="your_portfolio_summary">
        <div class="user_portfolio_title hidden-sm-md">{{pageTitle}}</div>
        <div class="user_portfolio">
          <span>{{'YOUR_PORTFOLIO.PORTFOLIO' | translate}}</span>
          <span id="your_portfolio_name">{{portfolioValues.riskProfile.type}}</span>
        </div>
      </div>
      <div class="flex-col-4">
        <div class="dropdown-control">
          <div ngbDropdown>
            <button class="btn btn-dropdown without-border grey" id="your_portfolio-drpdown" ngbDropdownToggle>
              More</button>
            <div class="dropdown" ngbDropdownMenu aria-labelledby="courseDropdown">
              <button class="dropdown-item"
                [class.hide]="(option.value === 'TOPUP' && !entitlements.showTopup)
                || (option.value === 'WITHDRAWAL' && (!entitlements.showWithdrawPvToBa && !entitlements.showWithdrawPvToCa && !entitlements.showWithdrawCaToBa))"
                *ngFor="let option of moreList; let i = index;"
                (click)="selectOption(option)"
                id="additional_declaration_sourse-drpdown-option-{{i}}">
                  {{option.name}}
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="container-fluid max-width--1024">
<div class="flex-col-12" *ngIf="portfolio">
  <div class="container-fluid">
    <!--  ALREADY FUNDED PORTFOLIO-->
    <div class="row">
      <div class="col-lg-12 col-md-12" *ngIf="portfolioValues.portfolioStatus === 'PURCHASED'">
        <div class="flex-row" *ngIf="entitlements.showTopup">
          <button type="button" class="btn-with-icon mb20" id="topup_button" (click)="gotoTopUp()">
            <span class="topup-btn-img"><img id="topup_img" src="../../../assets/images/investment-account/money-topup.svg" alt="" /></span> <span>{{'YOUR_PORTFOLIO.TOP_UP' | translate}}</span>
          </button>
        </div>
        <div class="form-group-with-bg">
          <div class="form-group-with-bg--header your_total_value" [ngClass]="{'no-returns': !userProfileInfo.investementDetails.showTotalReturn}">
            <div id="portdolio_value" class="total_values">{{portfolioValues.currentValue | currency:'USD':'symbol-narrow':'1.0-2'}}</div>
            <div id="portdolio_value_lab" class="total_values_label">{{'YOUR_PORTFOLIO.TOTAL_VALUE' | translate}}</div>
          </div>
          <!--Form Content-->
          <div class="form-group-with-bg--content" *ngIf="userProfileInfo.investementDetails.showTotalReturn">
            <div class="flex-row">
              <div class="flex-col-7">
                <div id="your_portfolio_totalreturn_lb" class="total_return_label" for="total return">{{'YOUR_PORTFOLIO.TOTAL_RETURNS' | translate}}
                  <img (click)="showTotalReturnPopUp()" src="../../../assets/images/tooltip-icon.svg" alt="" />
                </div>
              </div>
              <div class="flex-col-5">
                <div id="your_portfolio_totalreturn_value" class="total_return_value" [class.negativeValue]="totalReturnsPercentage < 0" for="total value">{{formatReturns(totalReturnsPercentage)}}{{totalReturnsPercentage | number : '1.0-2'}}%</div>
              </div>
            </div>
            <div class="flex-row mt20" *ngIf="yearlyReturns">
              <div class="flex-col-7">
                <div id="your_portfolio_totalreturn_lb" class="total_return_label" for="total return ">{{'YOUR_PORTFOLIO.ANNUALIZED_RETURNS' | translate}}
                </div>
              </div>
              <div class="flex-col-5">
                <div id="your_portfolio_totalreturn_value" class="total_return_value" [class.negativeValue]="yearlyReturns < 0" for="total value">{{formatReturns(yearlyReturns)}}{{yearlyReturns | number : '1.0-2'}}%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- NOT FUNDED PORTFOLIO  -->
    <div class="row">
      <div class="col-lg-12 col-md-12" *ngIf="portfolioValues.portfolioStatus !== 'PURCHASED'">
        <div class="flex-row mb20">
          <div class="fund-account" *ngIf="portfolioValues.portfolioStatus === 'RECOMMENDED' && portfolioValues.expiryDate">
            <div class="fund-account-information" id="errorModeButton">
              {{'YOUR_PORTFOLIO.FUND_YOUR_ACCOUNT_MESSAGE' | translate}} {{portfolioValues.expiryDate}}.
              <div class="fund-account-btn mt20" (click)="goToFundYourAccount()">
                {{'YOUR_PORTFOLIO.FUND_YOUR_ACCOUNT' | translate}}
              </div>
            </div>
          </div>
          <div class="fund-account" *ngIf="portfolioValues.portfolioStatus === 'RECOMMENDED' && !portfolioValues.expiryDate">
            <div *ngIf="!getMonthlyInvestValidity(0)" class="fund-account-information" id="errorModeButton">
              {{'YOUR_INVESTMENT.ONE_TIME_EXPIRED' | translate}}
              <div class="fund-account-btn mt20" (click)="goToInvestAgain(portfolioValues)">
                {{'YOUR_INVESTMENT.INVEST_AGAIN' | translate}}
              </div>
            </div>
            <div *ngIf="getMonthlyInvestValidity(0)" class="fund-account-information" id="errorModeButton">
              {{'YOUR_INVESTMENT.MONTHLY_INVEST_ALERT' | translate:({'monthlyInvestAmount': monthlyInvestment})}}
              <div class="fund-account-btn mt20" (click)="goToFundYourAccount()">
                {{'YOUR_PORTFOLIO.FUND_YOUR_ACCOUNT' | translate}}
              </div>
            </div>
          </div>
        </div>
        <div class="form-group-with-bg mt10">
          <div class="form-group-with-bg--header your_total_value">
            <div id="your_portfolio_total_lb" class="total_values">$0</div>
            <div id="your_portfolio_total_value" class="total_values_label">{{'YOUR_PORTFOLIO.TOTAL_VALUE' | translate}}</div>
          </div>
          <div class="form-group-with-bg--content" *ngIf="userProfileInfo.investementDetails.showTotalReturn">
            <div class="flex-row">
              <div class="flex-col-9">
                <div id="your_portfolio_totalreturn_lb" class="total_return_label" for="total return">{{'YOUR_PORTFOLIO.TOTAL_RETURNS' | translate}}
                  <img (click)="showTotalReturnPopUp()" src="../../../assets/images/tooltip-icon.svg" alt="" />
                </div>
              </div>
              <div class="flex-col-3">
                <div id="your_portfolio_totalreturn_value" class="total_return_value" for="total value">0%
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button *ngIf="holdingValues && portfolioValues.portfolioStatus === 'PURCHASED'" type="button" class="asset_allocation_btn mb20" id="holdings_btn" (click)="goToHoldings()">
      {{'YOUR_PORTFOLIO.HOLDINGS' | translate}}
      <img src="../../../assets/images/investment-account/forward.svg" alt="" />
    </button>
    <button type="button" class="asset_allocation_btn mb20" id="asset_allocation_btn" (click)="goToAssetAllocation()">
      {{'YOUR_PORTFOLIO.ASSET_ALLOCATION' | translate}}
      <img src="../../../assets/images/investment-account/forward.svg" alt="" />
    </button>
  </div>
</div>
</div>