@import '../../../_variables.scss';
@import '../../../_mixins.scss';
app-your-portfolio {
  .container-fluid{
    &.max-width--1024{
      top: 0 !important;
      @include allmobiles{
        padding: 0 !important;
        margin-top: 0 !important
      }
    }
  }
  .portfolio-bg {
    @include allmobiles{
      padding-top: 105px;
      width: 100%;
    }
    @include phablet{
      padding-top: 105px;
      width: 100%;
    }
  }
  .background_img {
    display: none;
    @include allmobiles{
      object-fit: contain;
      position: relative;
      width: 100%;
      display: block;
    }
  }
  .user_content {
    position: absolute;
    padding: 0 75px;
    @include allmobiles{
      top: 156px;
      padding: 0;
    }
    @include iphone5 {
      top: 125px;
    }
    .user_portfolio {
      font-family: $muli-regular;
      font-size: 30px;
      line-height: 1.28;
      letter-spacing: -0.3px;
      position: relative;
      padding: 0 29px 0 28px;
      div {
        &:last-child {
          font-weight: bold;
          letter-spacing: -0.4px;
        }
      }
    }
    .flex-col-4 {
      position: absolute;
      right: 29px;
      top: 60px;
      right: 230px;
      @include allmobiles {
        top: 60px;
        max-width: 85px;
        right: 29px;
      }
      @include iphone5 {
        top: 40px;
      }
      @include iphone6plus {
        top: 72px;
      }
      @include iphone6 {
        top: 55px;
      }
      @include phablet {
        top: 40px;
        max-width: 85px;
        right: 230px;
      }
      @include tablet {
        top: 80px;
      }
      @include iPadLandscape {
        top: 80px;
      }
    }
  }
  .dropdown-control .dropdown-menu.show {
    left: auto !important;
    right: 0;
  }
  .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-size: 16px;
    font-weight: bold;
    text-align: inherit;
    white-space: nowrap !important;
    background-color: transparent;
    border: 0;
    letter-spacing: -0.2px;
    color: $dark-teal-color !important;
  }
  .dropdown-item:first-child {
    border-bottom: solid 1px $teal-color !important;
  }
  .dropdown-control .btn-dropdown:after {
    background-image: url('/assets/images/dropdown_white.svg');
    width: 16px;
    height: 10px;
    border: none;
    position: absolute;
    top: 24px;
    right: 13px;
    background-repeat: no-repeat;
    @include iphone5 {
      top: 24px;
      right: 5px;
    }
  }
  .dropdown-control .btn-dropdown.grey {
    color: $white-color;
    background-color: $top-up-your-portfolio-your-total-value-bg;
  }
  .container-fluid {
    position: relative;
    top: 100px;
    @include allmobiles {
      padding-left: 20px !important;
      padding-right: 20px !important;
      padding: 0px;
      top: -42px;
      height: auto;
    }
    @include iphone6plus {
     top: -42px;
    }
    @include iphone5 {
      top: -30px;
    }
    @include phablet {
      top: 60px;
     }
  }
  .form-group-with-bg {
    box-shadow: 0 10px 14px 0 $btn-proceed-shadow-color;
    background-color: $white-color;
    margin-bottom: 20px;
    .your_total_value {
      background-color: $top-up-your-portfolio-your-total-value-bg;
      padding: 20px 20px 17px;
    }
  }
  .total_values {
    font-family: $muli-bold;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: center;
    color: $white-color;
  }
  .total_values_label {
    font-family: $muli-regular;
    font-size: 16px;
    line-height: 0.88;
    letter-spacing: -0.1px;
    text-align: center;
    color: $white-color;
    margin-top: 6px;
  }
  .total_return_label {
    color: $text-color-secondary;
    font-size: 16px;
    color: $dark-teal-color;
  }
  .total_return_value {
    font-family: $muli-bold;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.2px;
    text-align: right;
    color: $transaction-panel-buy-color;
    word-break: break-all;
    &.negativeValue {
      color: $red-color;
    }
  }
  .your_portfolio_label {
    font-family: $muli-regular;
    font-size: 21px;
    letter-spacing: -0.2px;
    color: $white-color;
  }
  .start_investment_label {
    font-size: 13px;
    line-height: 1.62;
    letter-spacing: -0.1px;
    color: $text-color-secondary;
  }
  .your_portfolio_number {
    font-family: $muli-regular;
    font-size: 15px;
    letter-spacing: -0.3px;
    color: $white-color;
  }
  .your_portfolio_value {
    background-color: $top-up-your-portfolio-value-bg;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 11px !important;
    .flex-row {
      align-items: center !important;
      .conserve-icon {
        width: 35px;
        height: 35px;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
    .forward_img {
      margin-left: 25px;
    }
  }
  .portfolio_heading {
    font-family: $muli-bold;
    font-size: 18px;
    letter-spacing: -0.3px;
    color: $teal-color;
    padding-left: 15px;
  }
  .btn-with-icon {
    border-radius: 6px;
    box-shadow: 0 10px 14px 0 $portfolio-allocation-details-shadow !important;
    border: 1px solid $fixed-btn-brdr-color;
    background-color: $white-color;
    font-family: $muli-bold;
    font-size: 21px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: center;
    width: 100%;
    padding: 21px 0px;
    color: $secondary-action-color;
    display: flex;
    justify-content: center;
    &:active {
      outline: none;
      background-color: $white-color;
    }
    &:hover {
      outline: none;
    }
    &:focus {
      outline: none;
      background-color: $white-color;
    }
    img {
      margin-right: 10px;
    }
  }
  .asset_allocation_btn {
    border-radius: 6px;
    border: 1px solid $top-up-your-portfolio-asset-btn-shadow;
    background-color: $review-block-bg;
    font-family: $muli-bold;
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: center;
    color: $white-color;
    width: 100%;
    padding: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:active {
      outline: none;
      background-color: $review-block-bg;
      color: $white-color;
    }
    &:hover {
      outline: none;
    }
    &:focus {
      outline: none;
      background-color: $review-block-bg;
      color: $white-color;
    }
  }
  .fund-account {
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 4px 5px 0 $btn-proceed-shadow-color;
    background-color: $white-color;
    width: 100%;
    padding: 30px;
  }
  .fund-account-information {
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: -0.2px;
    color: $black-color;
    background-color: $white-color;
  }
  .fund-account-btn {
    font-size: 21px;
    font-weight: bold;
    letter-spacing: -0.2px;
    color: $secondary-action-color;
  }
  .form-group-with-bg .form-group-with-bg--content {
    padding: 25px 27px 35px 28px;
    .flex-row:not(:last-child) {
      margin-bottom: 0px;
    }
  }
  hr {
    background-color: $withdrawal-add-account-brdr-color;
  }
}
