<div class="content">
  <div class="flex-row">
    <div class="flex-col-12">
      <img id="edit_profile_bg_img" class="background_img" src="assets/images/investment_header.svg" />

      <div class="flex-row user_content flex-col-12">
        <div class="user_portfolio col-8">{{'YOUR_PORTFOLIO.PORTFOLIO' | translate}}
          <b>{{PortfolioValues.name}}</b>
        </div>
        <div class="col-4">
          <div class="dropdown-control ">
            <div ngbDropdown>
              <button class="btn btn-dropdown without-border grey" id="additional_declaration_sourse-drpdown" ngbDropdownToggle>
                More</button>
              <div class="dropdown" ngbDropdownMenu aria-labelledby="courseDropdown">
                <button class="dropdown-item" *ngFor="let option of moreList; let i = index;" (click)="selectOption(option)" id="additional_declaration_sourse-drpdown-option-{{i}}">{{option.name}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row" *ngIf="PortfolioValues.totalReturns">
          <div class="col-lg-12 col-md-12">
            <div class="flex-row">

              <button type="button" class="btn-with-icon mb20" id="errorModeButton" (click)="gotoTopUp()" >
                <img src="../../../assets/images/investment-account/money-topup.svg" alt="" /> {{'YOUR_PORTFOLIO.TOP_UP' | translate}}
              </button>
            </div>
            <div class="form-group-with-bg">
              <!--Form Header-->
              <div class="form-group-with-bg--header your_total_value">
                <div id="myFinancialLbl">
                  <div class="total_values">{{PortfolioValues.value | currency:'USD':'symbol-narrow':'1.0-2'}}</div>
                  <div class="total_values_label">{{'YOUR_PORTFOLIO.TOTAL_VALUE' | translate}}</div>
                </div>
              </div>
              <!--Form Content-->
              <div class="form-group-with-bg--content">
                <div class="flex-row">
                  <div class="flex-col-9">
                    <div class="total_return_label" for="total return">{{'YOUR_PORTFOLIO.TOTAL_RETURNS' | translate}}
                    </div>
                  </div>
                  <div class="flex-col-3">
                    <div class="total_return_value" for="total value">$6,286
                    </div>
                  </div>
                </div>
                <div class="flex-row">
                  <div class="flex-col-8">
                    <div class="start_investment_label" for="name">{{'YOUR_PORTFOLIO.FROM_START_OF_INVESTMENT' | translate}}
                    </div>
                  </div>
                  <div class="flex-col-4">
                    <div class="start_investment_value" for="name">+ {{PortfolioValues.invetmentReturns}}
                    </div>
                  </div>
                </div>

                <div class="flex-row mt20">
                  <div class="flex-col-9">
                    <div class="total_return_label" for="tota">{{'YOUR_PORTFOLIO.YEARLY_RETURNS' | translate}}
                    </div>
                  </div>
                  <div class="flex-col-3">
                    <div class="start_investment_value" for="name">+ {{PortfolioValues.invetmentReturns}}
                    </div>
                  </div>
                </div>
                <hr>
                <div class="flex-row mt20">
                  <div class="flex-col-9">
                    <div class="total_return_label" for="tota"> {{'YOUR_PORTFOLIO.TOTAL_INVESTED' | translate}}
                    </div>
                  </div>
                  <div class="flex-col-3">
                    <div class="total_return_value" for="name">{{PortfolioValues.totalReturns | currency:'USD':'symbol-narrow':'1.0-2'}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- your portfolio label -->
        
        <!-- Zero Investment portfolio -->
        <div class="row" *ngIf="!PortfolioValues.totalReturns"
        >
          <div class="col-lg-12 col-md-12">
            <div class="flex-row mb20">
              <div class="fund-account">
                <div class="fund-account-information mb20" id="errorModeButton">
                   {{'YOUR_PORTFOLIO.fUND_YOUR_ACCOUNT_MESSAGE' | translate}}
                  <div class="fund-account-btn mt20">
                     {{'YOUR_PORTFOLIO.FUND_YOUR_ACCOUNT' | translate}}
                  </div>

                </div>
              </div>
            </div>

            <div class="form-group-with-bg mt10">
              <!--Form Header-->
              <div class="form-group-with-bg--header your_total_value">
                <div id="myFinancialLbl">
                  <div class="total_values">$0</div>
                  <div class="total_values_label">{{'YOUR_PORTFOLIO.TOTAL_VALUE' | translate}}</div>
                </div>
              </div>
              <!--Form Content-->
              <div class="form-group-with-bg--content">
                <div class="flex-row">
                  <div class="flex-col-9">
                    <div class="total_return_label" for="total return">{{'YOUR_PORTFOLIO.TOTAL_RETURNS' | translate}}
                    </div>
                  </div>
                  <div class="flex-col-3">
                    <div class="total_return_value" for="total value">$0
                    </div>
                  </div>
                </div>
                <div class="flex-row">
                  <div class="flex-col-8">
                    <div class="start_investment_label" for="name">{{'YOUR_PORTFOLIO.FROM_START_OF_INVESTMENT' | translate}}
                    </div>
                  </div>
                  <div class="flex-col-4">
                    <div class="start_investment_value" for="name">+ 0%
                    </div>
                  </div>
                </div>

                <div class="flex-row mt20">
                  <div class="flex-col-9">
                    <div class="total_return_label" for="tota">{{'YOUR_PORTFOLIO.YEARLY_RETURNS' | translate}}
                    </div>
                  </div>
                  <div class="flex-col-3">
                    <div class="start_investment_value" for="name">+ 0%
                    </div>
                  </div>
                </div>
                <hr>
                <div class="flex-row mt20">
                  <div class="flex-col-9">
                    <div class="total_return_label" for="tota">{{'YOUR_PORTFOLIO.TOTAL_INVESTED' | translate}}
                    </div>
                  </div>
                  <div class="flex-col-3">
                    <div class="total_return_value" for="name">$0
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="flex-row">
          <div class="flex-col-9">
            <div class="your_portfolio_label">{{'YOUR_PORTFOLIO.PERFORMANCE' | translate}}</div>
          </div>
        </div>
        <button type="button" class="asset_allocation_btn mb20" id="errorModeButton">
          {{'YOUR_PORTFOLIO.ASSET_ALLOCATION' | translate}}
          <img src="../../../assets/images/investment-account/forward.svg" alt="" />
        </button>



      </div>
    </div>