
<div class="container-fluid max-width--1024">
    <div class="row">
        <div class="back-btn back-btn-2 hidden-lg col-1" style=" display: none"><img
                src="assets/images/back-web.svg"></div>
        <div class="intro_sub-title col-11">
            <p>Tell us about you. You’ll see snapshots of<br> your financial outlook right away...</p>
        </div>
      
    </div>

    <div class="img-center mt20"><img src="assets/images/welcome-journey/ChillingOut.svg"></div>
    
   
    <div class="form-container">
        <div>How ready are you for retirement?</div>
  
        <!-- <form> -->
 


        <!-- </form> -->



    </div>
    <div>
        <p class="min-text mt20 mb20">Continue and know exactly the steps to take for greater financial confidence in attaining life and family goals, both now and in retirement.</p>
    </div>
   

        <div><button type="button" class="btn btn__footer--fixed btn-primary width100" id="myFinancialGoNextBtn" routerLink="/welcome-journey/download-report">Continue</button></div>

    
</div>

