<div class="container-fluid">
    <div class="content">
        <div class="page-info">We have used our CPF Analyser and your Myinfo details to project your estimated payouts from CPF LIFE.</div>
        <div class="banner"><img src="assets/images/corpbiz-welcome-owl.svg"></div>
        <div class="card">
        <div class="card-title">Minimum CPF LIFE payout if you retire at age 55</div>
        <div class="card-body">
            <button type="button" class="btn btn-orange"
            id="intro-continue"><span>Show Me!</span><span class="btn-icon"><img src="assets/images/half-moon-icon.svg"></span></button>
            <div class="show-content">
            <div class="data-content">$4,000</div>
            <div>per month!</div>
            </div>      
        </div>
        </div>
        <div>Continue and know exactly the steps to take for greater financial
            confidence in attaining life and family goals, both now
            and in retirement. </div>
            <button type="button" class="flex btn btn__footer--fixed btn-primary"
            id="intro-continue">Continue</button>
    </div>
  </div>  