@import '../../../variables';
@import '../../../mixins';


app-welcome-step-two{

.container-fluid{
    &.max-width--1024{
        max-width: 600px !important;
    }
    padding-top: 40px;
}







.slidecontainer {
    width: 100%;
  }
  
.intro_sub-title{
    font-size: 16px;
    line-height: 20.08px;
    text-align: center;
}
.form-container{
    padding: 15px;
    background-color: $black-squeeze-grey-color;
    border-radius: 6px;
}
.img-center{
    text-align: center;
}
.ring-img{
    position: absolute;
}
.form-control i.right {
    top: 52%;
    font-family: "muli regular";
  }
.form-control-right input {
text-align: left !important;
}


.wl-content{
    font-size: 14px;
    color: #2E8289;
}



}
app-navbar{
    @include allmobiles{
        display: none !important;
    }
    @include minPhabletmaxTablet{
        display: block !important;
    }
    @include desktop{
        display: block !important;
    }


}