<footer *ngIf="showFooter" class="footer__wrapper">
  <div class="footer__group primary">
    <div class="footer-link__btn">
      <span class="icon chat-icon"></span>
      <span>Live Chat</span> 
    </div>
    <div class="footer-link__btn">
      <span class="icon contact-icon"></span>
      <span>Contact Us</span>
    </div>
    <div class="footer-link__btn">
      <span class="icon direction-icon"></span>
      <span>Get Directions</span> 
      </div>
    </div>
  <div class="footer__group secondary">
    <div class="footer__list">
      <span class="title">Getting Started</span>
      <a>Insurance SelfCheck</a>
      <a>DIYInsurance Packages</a>
      <a>Latest Promotions</a>
      <a>FAQs</a>
      <a>Club DIY</a>
      </div>
    <div class="footer__list">
      <span class="title">Insurance Products</span>
      <a>Term Life Insurance</a>
      <a>Whole Life Insurance</a>
      <a>Critical Illness Insurance</a>
      <a>Child's Education Endowment</a>
      <a>Retirement Income Plan</a>  
      </div>
    <div class="footer__list">
      <span class="title">Learn & Be Educated</span>
      <a>DIYInsurance Articles</a>
      <a>Life Stage Planning</a>
      <a>Choosing the Right Endowment</a>
      <a>Understanding the Reitrement Income</a>  
    </div> 
    <div class="footer__list">
      <span class="title">Know More About Us</span>
      <a>About DIYInsurance</a>
      <a>Why Buy from Us?</a>
      <a>Customer Reviews</a>  
      </div>
    </div>
  <div class="footer__group tertiary">
      <div class="footer-address">
        <div class="footer-address__header">
            23 Keong Saik Road 
            Singapore 089130
          </div>
        <div class="footer-address__body">
            <p><span>Main (Advisory):</span> (65) 6329 9188</p>
            <p><span>Main (General):</span> (65) 6329 9189</p>
            <p><span>Operating Hours:</span> 9am - 6pm, Mon - Fri</p>
            <p>excluding Public Holidays</p>
          </div>
        </div>
        <div class="footer-social">
          <a class="social-btn">
            <span class="icon facebook-icon"></span>
            <span>Facebook</span>
            </a>
          <a class="social-btn">
            <span class="icon youtube-icon"></span>
            <span>YouTube</span>
            </a>
          </div>
    </div>
  <div class="footer__group quaternary">
    <div class="footer-copyright">
      <span>MoneyOwl Private Limited is a licensed financial adviser regulated by the Monetary Authority of Singapore. Company Registration No. 201820691C</span>
      <span><a>Privacy Policy</a> | <a>Site Terms and Conditions</a> | © 2018 MoneyOwl Pte Ltd. All Rights Reserved.</span>
    </div>
  </div>
</footer>