<footer *ngIf="showFooter" class="footer__wrapper">
  <div class="footer__group primary">
    <div class="footer__group--inner">
      <div class="footer-link__btn" [routerLink]="['/about-us']">
        <span class="icon contact-icon"></span>
        <span>{{'FOOTER.TOP_SECTION.ABOUT_US.TITLE' | translate }}</span>
        </div>
      <div class="footer-link__btn" onclick="javascript:void($zopim.livechat.window.openPopout())">
        <span class="icon chat-icon"></span>
        <span>{{'FOOTER.TOP_SECTION.LIVE_CHAT.TITLE' | translate}}</span> 
      </div>
      
      <!--
      <div class="footer-link__btn">
        <span class="icon direction-icon"></span>
        <span>Get Directions</span> 
        </div>
        -->
      </div>
    </div> 
  <!--
  <div class="footer__group secondary">
    <div class="footer__group--inner">
      <div class="footer__list">
        <span class="title">Getting Started</span>
        <a>Insurance SelfCheck</a>
        <a>DIYInsurance Packages</a>
        <a>Latest Promotions</a>
        <a>FAQs</a>
        <a>Club DIY</a>
        </div>
      <div class="footer__list">
        <span class="title">Learn & Be Educated</span>
        <a>DIYInsurance Articles</a>
        <a>Life Stage Planning</a>
        <a>Choosing the Right Endowment</a>
        <a>Understanding the Reitrement Income</a>  
      </div> 
      <div class="footer__list">
        <span class="title">Know More About Us</span>
        <a>About DIYInsurance</a>
        <a>Why Buy from Us?</a>
        <a>Customer Reviews</a>  
        </div>
      </div>
    </div>
  -->
  <div class="footer__group tertiary">
      <div class="footer__group--inner">
        <div class="footer-address">
          <div class="footer-address__header">
            {{'FOOTER.MIDDLE_SECTION.ADDRESS.LABEL' | translate}}
          </div>
          <div class="footer-address__body">
              <p>
                <span>{{'FOOTER.MIDDLE_SECTION.CONTACT_US.MAIN_ADVISORY.LABEL' | translate}}:</span>
                <a href="callto:{{'FOOTER.MIDDLE_SECTION.CONTACT_US.MAIN_ADVISORY.LINK' | translate}}">
                  {{'FOOTER.MIDDLE_SECTION.CONTACT_US.MAIN_ADVISORY.LINK_LABEL' | translate}}
                  </a>  
                </p>
              <p>
                <span>{{'FOOTER.MIDDLE_SECTION.CONTACT_US.MAIN_GENERAL.LABEL' | translate}}:</span>
                <a href="callto:{{'FOOTER.MIDDLE_SECTION.CONTACT_US.MAIN_GENERAL.LINK' | translate}}">
                  {{'FOOTER.MIDDLE_SECTION.CONTACT_US.MAIN_GENERAL.LINK_LABEL' | translate}}
                  </a>
                </p>
              <p>
                <span>{{'FOOTER.MIDDLE_SECTION.CONTACT_US.EMAIL.LABEL' | translate}}:</span>
                <a href="mailto:{{'FOOTER.MIDDLE_SECTION.CONTACT_US.EMAIL.LINK' | translate}}" target="_top">
                  {{'FOOTER.MIDDLE_SECTION.CONTACT_US.EMAIL.LINK_LABEL' | translate}}
                  </a>
                </p>
              <p class="corporate-link--section">
                <span>{{'FOOTER.MIDDLE_SECTION.CONTACT_US.CORPORATE.LABEL' | translate}}:</span>
                <a href="mailto:{{'FOOTER.MIDDLE_SECTION.CONTACT_US.CORPORATE.LINK' | translate}}" target="_top">
                  {{'FOOTER.MIDDLE_SECTION.CONTACT_US.CORPORATE.LINK_LABEL' | translate}} 
                </a> 
                </p>
              <p style="margin-top: 25px;">
                <span>{{'FOOTER.MIDDLE_SECTION.OPERATING_HOURS.LABEL' | translate}}:</span>
                <span class="sub-text"> {{'FOOTER.MIDDLE_SECTION.OPERATING_HOURS.CONTENT' | translate}}</span>
              </p>
              <p>{{'FOOTER.MIDDLE_SECTION.OPERATING_HOURS.EXCEPTION' | translate}}</p>
            </div>
          </div>
          <!-- 
          <div class="footer-social">
            <a class="social-btn">
              <span class="icon facebook-icon"></span>
              <span>Facebook</span>
              </a>
            <a class="social-btn">
              <span class="icon youtube-icon"></span>
              <span>YouTube</span>
              </a>
            </div>
          -->
        </div>
    </div>
  <div class="footer__group quaternary">
    <div class="footer__group--inner">
      <div class="footer-copyright">
        <span>{{'FOOTER.BOTTOM_SECTION.CITATION' | translate}}</span>
        <span>
          <a routerLink="/terms-and-conditions">{{'FOOTER.BOTTOM_SECTION.LEGAL.TERMS_AND_CONDITIONS.LABEL' | translate}}</a> | 
          <a routerLink="/privacy-policy">{{'FOOTER.BOTTOM_SECTION.LEGAL.PRIVACY_POLICY.LABEL' | translate}}</a> | 
          <a routerLink="/disclosures">{{'FOOTER.BOTTOM_SECTION.LEGAL.DISCLOSURE.LABEL' | translate}}</a> | 
          <a routerLink="/fair-dealing">{{'FOOTER.BOTTOM_SECTION.LEGAL.FAIR_DEALING.LABEL' | translate}}</a> | 
          {{'FOOTER.BOTTOM_SECTION.ALL_RIGHTS_RESERVED' | translate}}      
        </span>
      </div>
      </div>
  </div>
</footer>