@import "../../../_variables.scss";
@import "../../../_mixins.scss";

    .yes-login-but{
      border-radius: 6px;
      background-color: #ffffff;
      box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.14);
      width: 100%;
      height: 57px;
      font-family: $muli-bold;
      font-size: 22px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.2px;
      text-align: center;
      color: #00a7a7;
    }
    .no-login-but{
      font-size: 22px;
      font-family: $muli-bold;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.2px;
      text-align: center;
      color: #ffffff;
      width: 100%;
      height: 57px;
      background-color: #00a7a7;
      border: none;
    }
    .prelogin-wrapper__title{
      font-family: $muli-bold;
      font-size: 24px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.3px;
      text-align: center;
      color: #ffffff;
    }
    .signup-wrapper__header-icon  {
      @include allmobiles {
      width: 188px;
      }
    }
    .autofill-link {
        border: 1px solid $secondary-action-color;
        padding: 23px 30px;
        background-color: #fff;
        cursor: pointer;
        display: flex;
        height: 70px;
        border-radius: 8px;
        box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
        background-color: #ffffff;
        border: solid 1px #ff872f;
        .autofill-logo {
          width: 35%;
        }
        .autofill-text {
          width: 65%;
          font-size: 18px;
          font-weight: bold;
          color: #e57300;
        }
    }