@import '../../../../variables';
@import '../../../../mixins';

.modal-open .modal.fade.show.progress-tracker-modal {
  top: 110px !important;
  position: fixed !important;
  width: 100% !important;
  overflow-y: hidden !important;
  z-index: 1061 !important;

  @include desktop {
    top: 25px !important;
    left: 145px;
  }
}

.modal-backdrop.fade.show.progress-tracker-backdrop {
  opacity: 0.5 !important;
  background: #ffffff;
  top: 131px;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 5px 5px 0 0;
  z-index: 1061 !important;

  @include desktop {
    display: none;
  }
}

.progress-tracker-tooltip {
  position: fixed;
  width: calc(100% - 15px);
  padding-right: 15px;

  @include desktop {
    position: fixed;
    width: 600px;
    left: 50%;
    margin-left: -300px;
  }

  &:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 10px solid #066360;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    right: 10px;
    top: -10px;
    z-index: 1069;
  }

  .progress-tracker {
    background: #066360;
    border-bottom: 20px transparent solid;
    border-radius: 6px;
    position: relative;
    margin: 10px 15px 0;
    padding: 35px 15px 15px;
    overflow-y: scroll;
    max-height: 77vh;
    width: 100%;

    &__close {
      background: url('../../../../assets/images/comprehensive/progress-tracker/close-icon18x18.svg');
      position: absolute;
      width: 18px;
      height: 18px;
      right: 15px;
      top: 10px;
    }

    &__heading {
      text-align: center;
      font-size: 18px;
      font-family: $muli-semi-bold;
    }

    &__duration {
      color: $app-backgrnd-color;
      font-size: 14px;
      text-align: center;
    }

    &__timer {
      background: url('../../../../assets/images/comprehensive/progress-tracker/icon_20minsTimer.svg');
      width: 20px;
      height: 20px;
    }

    .progress-tracker-accordion {
      &__heading {
        padding-bottom: 15px;
        border-bottom: 1px solid $white-color;
        padding-left: 40px;
        font-size: 18px;
        font-family: $muli-bold;
        position: relative;
        margin: 15px 0 10px 10px;

        &.get-started {
          background: url('../../../../assets/images/comprehensive/progress-tracker/get-started-icon.svg');
          background-position: 10px 7px;
          background-repeat: no-repeat;
        }

        &.dependant {
          background: url('../../../../assets/images/comprehensive/progress-tracker/shoulders-icon.svg');
          background-position: 10px 3px;
          background-repeat: no-repeat;
        }

        &.finances {
          background: url('../../../../assets/images/comprehensive/progress-tracker/finances-icon.svg');
          background-position: 10px 3px;
          background-repeat: no-repeat;
        }

        &__arrow {
          height: 10px;
          width: 16px;
          display: inline-block;
          position: absolute;
          right: 15px;
          top: 10px;
          background: url('../../../../assets/images/comprehensive/progress-tracker/expand-arrow-icon.svg');

          &.active {
            background: url('../../../../assets/images/comprehensive/progress-tracker/expand-arrow-icon.svg');
            height: 10px;
            width: 16px;
            transform: rotate(180deg);
          }
        }
      }

      &__body {
        li {
          font-size: 16px;
          font-family: $muli-regular;
          border-left: 2px solid #ff872f;
          position: relative;
          padding-bottom: 15px;
          cursor: pointer;

          &.complete {
            padding-top: 0;
            padding-left: 24px;
            min-height: 30px;
          }

          &.incomplete {
            padding-top: 0;
            padding-left: 24px;
            min-height: 30px;
            color: $incomplete-list;
          }

          &.hidden {
            display: none;
          }

          span.complete {
            background: url('../../../../assets/images/comprehensive/progress-tracker/on.svg');
            position: absolute;
            height: 25px;
            width: 85px;
            top: 0;
            left: -13px;
            background-repeat: no-repeat;
          }

          span.incomplete {
            background: url('../../../../assets/images/comprehensive/progress-tracker/off.svg');
            position: absolute;
            height: 25px;
            width: 85px;
            top: 0;
            left: -13px;
            background-repeat: no-repeat;
          }

          &.active {
            padding-top: 23px;
            padding-left: 24px;
            min-height: 60px;
          }

          span.now {
            background: url('../../../../assets/images/comprehensive/progress-tracker/you-are-here-icon.svg');
            position: absolute;
            height: 61px;
            width: 85px;
            top: -5px;
            left: -41px;
          }

          ul.sub-item-list {
            padding-left: 0;

            li {
              border-left: none;
            }
          }

          span {
            word-break: break-word;
          }
        }
      }
    }
  }
}
