<div class="container-fluid max-width--1024 invest-web-width app-additional-declaration">
  <div class="intro-block__content">
    <div class="row text-center">
      <div class="col-12">
        <div class="banner-image">
          <img src='assets/images/investment-account/ddc.svg' id="additional-introImg" />
        </div>
      </div>
      <div class="col-12 intro-block__content__des">
        <div class="pl25 pr25 mt30">
          <p class="intro-block__content__heading mb20" id="add-introHeading">{{ 'ADDITIONAL_DECLARATION.TITLE' |
            translate}}</p>
          <p class="intro-block__content__title" id="add-introTitle">{{ 'ADDITIONAL_DECLARATION.PEP_MORE_DETAILS' |
            translate}}</p>
        </div>
      </div>
    </div>
  </div>
    <button class="btn btn-proceed width100" (click)="goNext()" id="add-getStartedStep1Btn">
      {{'COMMON.LABEL.PROCEED' | translate}}
    </button>
</div>
