<div class="app-additional-declaration">
    <div class="intro-block__content">
        <div class="row text-center">
          <div class="col-12">
  
            <div class="banner-image">
              <img src='assets/images/investment-account/diligence_check_img.svg' id="additional-introImg" />
            </div>
          </div>
  
          <div class="col-12 intro-block__content__desc">
            <p class="intro-block__content__heading" id="add-introHeading">Additional Declarations</p>
            <p class="intro-block__content__title mb10" id="add-introTitle">As you are closely related to/ are a Politically Exposed Person, we need to ask you a few more questions.</p>
  
          </div>
        </div>
      </div>
      <div class="container-fluid">
          <button class="btn btn-proceed" (click)="goNext()"  id="add-getStartedStep1Btn">
            Proceed
          </button>
        </div>
</div>