<app-investment-title-bar></app-investment-title-bar>
<div class="container-fluid max-width--1024 invest-web-pt-90">
<div class="password-text">
    {{'EDIT_PROFILE.EDIT_PASSWORD_TITLE' | translate}}</div>
<div class="dots">
  <form id="resetPasswordForm" name="resetPasswordForm" [formGroup]="resetPasswordForm">
    <!-- Old password  -->
    <div class="flex-row mb20">
      <div class="flex-col-12 stretch" [formGroup]="resetPasswordForm">
        <div class="form-group-floating-label set-border">
          <input type="password" appInputFocus id="oldPassword" class="form-control" #oldPassword formControlName="oldPassword"
            required>
          <label class="form-control-placeholder" id="oldPasswordPlaceHolder">{{'EDIT_PROFILE.OLD_PASSWORD' | translate}}</label>
          <span id="edit_showpassword_button" [ngClass]="(oldPassword.type === 'text') ? 'show-password' : 'hide-password'"
            (click)="showHidePassword(oldPassword)"></span>
        </div>
      </div>
    </div>
    <!-- New password  -->
    <div class="flex-row mb20">
      <div class="flex-col-12 stretch" [formGroup]="resetPasswordForm">
        <div class="form-group-floating-label set-border">
          <input type="password" appInputFocus id="editnewPassword" class="form-control" #newPassword formControlName="newPassword"
            required>
          <label class="form-control-placeholder" id="newPasswordPlaceHolder">{{'EDIT_PROFILE.NEW_PASSWORD' | translate}}</label>
          <span id="edit_showpassword_button2" [ngClass]="(newPassword.type === 'text') ? 'show-password' : 'hide-password'"
            (click)="showHidePassword(newPassword)"></span>
        </div>
      </div>
    </div>
    <!-- Confirm Password  -->
    <div class="flex-row mb15">
      <div class="flex-col-12 stretch" [formGroup]="resetPasswordForm">
        <div class="form-group-floating-label set-border">
          <input type="password" appInputFocus id="editconfirmPassword" class="form-control" #confirmPassword
            formControlName="confirmPassword" required>
          <label class="form-control-placeholder" id="confirmPasswordPlaceHolder">{{'EDIT_PROFILE.CONFIRM_PASSWORD' | translate}}</label>
          <span id="edit_showpassword_button3" [ngClass]="(confirmPassword.type === 'text') ? 'show-password' : 'hide-password'"
            (click)="showHidePassword(confirmPassword)"></span>
        </div>
      </div>
    </div>
    <!-- Forgot Password -->
    <div class="forgot-password" [routerLink]="'/account/forgot-password'">{{'EDIT_PROFILE.FORGET_PASSWORD' | translate}}</div>
  </form>
</div>
<button (click)="applyChanges(resetPasswordForm)" type="button" class="btn btn__footer--fixed btn-primary width100" id="forgotPasswordButton">{{'EDIT_PROFILE.APPLY_CHANGES' | translate}}</button>
</div>
