@import "../../../_variables.scss";
@import "../../../_mixins.scss";
app-edit-password {
.grass_bg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .set-border{
    border: 2px solid $edit-pwd-brdr-color;
  }
  .dots{
    padding: 10px;
    margin: 0 20px;
  }
 .password-text {
    font-family: $muli-semi-bold;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: $white-color;
    margin: 14px 10px 4px;
    padding: 10px;
    border-bottom: 0.5px solid $white-color;
  }
  .form-control-placeholder {
    font-family: $muli-regular;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -0.3px;
    color: $teal-color;
  }
  .forgot-password {
    font-family: $muli-bold;
    font-size: 16px;
    letter-spacing: -0.2px;
    text-align: center;
    color: $white-color;
  }
}