@import "../../../_variables.scss";
@import "../../../_mixins.scss";
app-edit-password {
  .container-fluid{
    @include allmobiles {
    padding-top: 120px;
    }
  }
.grass_bg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .user-profile-bg{
    background:$white-color;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 10px;
    margin: 25px;
    position: relative;
}
.overlap-grass{
  margin-top: -100px;
  .seperator{
    border-right: 0.5px solid $dark-teal-color;
    padding: 0 7px;
    height: 34px;
    width: 8px;
    position: absolute;
    bottom: 43px;
  }
}
  .edit-profile-section-bg{
      background:$white-color;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      padding: 10px;
      margin: 25px;
  }
  .heading{
    object-fit: contain;
    font-family: $muli-bold;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: -0.2px;
    text-align: center;
    color: $post-login-widget-title;
    margin-top: 9px;
  }
  .content-text{
    object-fit: contain;
    opacity: 0.95;
    font-family: $muli-light;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: -0.3px;
    color: $post-login-widget-title;
  }
  .nric-text{
    object-fit: contain;
    opacity: 0.95;
    font-family: $muli-light;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: -0.3px;
    text-align: center;
    color: $post-login-widget-title;
    padding-bottom: 14px;
  }
  .grid-content-text{
    object-fit: contain;
    font-family: $muli-semi-bold;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: -0.2px;
    color: $dark-teal-color;
  }
  .form-group-heading {
    object-fit: contain;
    font-family: $muli-semi-bold;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: $form-block-title-color;
    margin-bottom: 10px;
    margin-left: 10px
  }
  .dropdown-img {
    width: 16px;
    height: 10px;
    border: none;
  }
  .password-placeholder{
    object-fit: contain;
    font-family: Muli;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: $text-color-secondary;
  }
  .set-border{
    border: 2px solid $edit-pwd-brdr-color;
  }
  .confirm-button {
    width: 100%;
    height: 57px;
    border-radius: 6px;
    box-shadow: 0 6px 7px 0 $portfolio-allocation-details-shadow;
    background-color: $teal-color;
    border: solid 1px $fixed-btn-brdr-color;
    margin-top: 15px;
    font-family: Muli;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: center;
    color: $white-color;
  }
  .update-contact-title{
      opacity: 0.95;
      font-family: $muli-regular;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: -0.3px;
      color: $review-block-bg;
  }
  .update-contact-value{
    font-family:  $muli-regular;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -0.2px;
  color: $dark-teal-color;
  }
  .section-margin{
   margin: 10px;
  }
  .mailing-address{
    height: 66px;
    border-radius: 6px;
    background-color: $btn-primary-backgrnd-color;
    margin: 20px 5px 10px;
    .flex-col{
      justify-content: center;
      font-weight: normal;
      line-height: normal;
      letter-spacing: -0.3px;
      font-size: 16px;
      div:first-child{
        font-family: $muli-semi-bold;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
  .edit-button {
    width: 100%;
    height: 57px;
    border-radius: 6px;
    box-shadow: 0 6px 7px 0 $portfolio-allocation-details-shadow;
    background-color:$white-color;
    border: solid 1px $teal-color;
    margin-top: 15px;
    font-family: Muli;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: center;
    color:$teal-color;
  }
  .bank-details-heading{
    object-fit: contain;
    font-family: $muli-semi-bold;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: $form-block-title-color;
  }
  .bank-account{
    font-family: $muli-light;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: $dark-teal-color;
  margin: 15px 10px;
  }
  .bank-account-num{
    font-family:$muli-semi-bold;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: right;
  color: $teal-color;
  margin: 15px 10px;
  }
  .banking-details-text{
    object-fit: contain;
    font-family: $muli-regular;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    text-align: center;
    color: $dark-teal-color;
    margin: 10px 5px 10px 10px;
  }
  .user-img{
    margin-top: -100px;
  }
  .circle{
    height: 86px;
  width: 86px;
  background-color: $teal-color;
  border-radius: 50%;
  margin-top: -60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0px auto;
  margin-top: -60px;
  }
  .user-edit-img{
    position: absolute;
    top:5px;
    right: 20px;
  }
  .dots{
    padding: 10px;
    margin: 0 20px;
  }
 .password-text {
    font-family: $muli-semi-bold;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: $white-color;
    margin: 14px 10px 4px;
    padding: 10px;
    border-bottom: 0.5px solid $white-color;
  }
  .form-control-placeholder {
    font-family: $muli-regular;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -0.3px;
    color: $teal-color;
  }
  .forgot-password {
    font-family: $muli-bold;
    font-size: 16px;
    letter-spacing: -0.2px;
    text-align: center;
    color: $white-color;
  }
}