@import '../../../variables';
@import '../../../mixins';
app-account-creation-error-modal {
  .action-button {
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 6px 7px 0 $portfolio-allocation-details-shadow;
    background-color: $teal-color;
    border:1px  solid $fixed-btn-brdr-color;
    margin-top: 15px;
    font-family: $muli-bold;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: center;
    color: $white-color;
    padding: 10px;
  }
  .popup-header-icon {
    &.glass {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: -15px;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
  .modal-body-message {
    margin-bottom: 15px;
  }
  .action-button:active {
    background-color: $action-btn-active-bg;
    color: $white-color;
  }
  .error-code {
    color: $dark-orange-color;
    font-size: 16px;
  }
  .error-desc {
    color: $custom-modal-desc-color;
    font-size: 16px;
  }
}
