@import '../../../../variables';
@import '../../../../mixins';
app-allocation{
.bond_container {
  border-radius: 6px;
  box-shadow: 0 10px 14px 0 $portfolio-allocation-details-shadow;
  background-color: $bond-container-bg;
  .bonds_equity_block {
    padding: 15px;
    .bond_progress_container {
      font-family: $muli-semi-bold;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.44;
      letter-spacing: -0.3px;
      color: $teal-color;
      padding: 0px 0 12px;
      .equity_bar {
        align-items: center;
        justify-content: space-between;
       .flex-col{
          padding-left: 5px;
        }
      }
      .bar-container {
        background-color: $bar-container-bg;
        @include allmobiles{
          width :50% ;
          flex-basis: 50% ;
         }
        @media(min-width:$col-md){
          width :70% ;
          flex-basis: 70% ;
         }
         @media(min-width:$col-lg){
          width :80% ;
          flex-basis: 80% ;
         }
       }
      .bar {
        height: 12px;
      }
    }
    .bonds_equity {
      margin-top: 10px;
      .bonds_equity_title {
        border-radius: 6px;
        background-color: $review-block-bg;
        border: 1px solid $teal-color;
        color: $white-color;
        padding: 14px 20px 13px;
        font-family: $muli-bold;
        font-size: 18px;
        .arrow {
          border: solid $white-color;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 3px;
          float:right;
          margin-top:9px;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
        }
        &.active {
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
          border-bottom-width:0px;
          .arrow {
            margin-top:14px;
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
          }
        }
      }
      .card {
        border: none;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        background-color: $bond-container-bg;
        .card-header {
          display: none;
          .btn {
            color: $white-color;
          }
        }
        .card-body {
          padding: 0;
          margin-bottom: 20px;
          border-bottom-left-radius: 6px;
          border-bottom-right-radius: 6px;
          border: 1px solid $allocation-card-body-brdr-color;
          div {
            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
      .bond_desc {
        color: $black-color;
        border-bottom: 1px solid $teal-color;
        .rating_type {
          padding: 16px 17px 13px;
          border-right: 1px solid $teal-color;
          display: flex;
          align-items: center;
          &.border-right-none{
            border-right-width:0px;
            padding-right:0px;
          }
        }
        .rating {
          font-family: $muli-regular;
          font-size: 14px;
          line-height: 1.64;
          letter-spacing: -0.1px;
          padding: 10px 9px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex:1;
          .flex-row {
            justify-content: space-between;
          }
          .rating_value {
            color: $teal-color;
            font-family: $muli-bold;
            text-align: right;
          }
        }
      }
    }
  }
  .btn-view {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.2px;
    color:$top-up-your-portfolio-your-total-value-bg;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: $bond-container-bg;
    font-family: $muli-bold;
  }
}
}