<!--Income Screen-->
<div class="container-fluid">
  <div class="content">
    <div class="row">
      <div class="col-lg-7 col-md-6 hidden-sm-md">
        <h2>{{ pageTitle }}</h2>
        <h6>{{ 'MY_INCOME.DESCRIPTION' | translate}}</h6>
        <div class="banner-image">
          <img src="assets/images/income1.svg" />
        </div>
      </div>
      <div class="col-lg-5 col-md-6">
<!--         <div class="myinfo__block">
          <div class="myinfo__block__btn">
            <span class="myinfo__block__btn--arrow"></span>
          </div>
          <div class="myinfo__block--title">{{ 'COMMON.LBL_FILL_VIA_MY_INFO' | translate}}</div>
          <div class="myinfo__block--sub-title">{{ 'COMMON.LBL_MY_INFO_HELP_DESC' | translate}}</div>
        </div> -->
          <form id="incomeForm" name="incomeForm" [formGroup]="incomeForm">
              <div  class="form-group-with-bg">
                <!--Form Header-->
                <div class="form-group-with-bg--header">
                    <div class="flex-row">
                      <div class="flex-col-7">
                      <div class="form-group-with-bg--header-label">{{ 'MY_INCOME.MONTHLY_INCOME' | translate}}<div class="form-group-with-bg--header-sub-label">{{ 'MY_INCOME.WHAT_YOU_EARN' | translate}}</div></div>
                      </div>
                      <div class="flex-col-5">
                      <div class="total">{{incomeTotal | currency:'USD':'symbol-narrow':'1.0-2'}}</div>
                    </div>
                    </div>
                  </div>
                  <!--Form Content-->
                  <div class="form-group-with-bg--content">
                    <div class="flex-row">
                        <div class="flex-col-6">
                      <div class="form-group-with-bg--content-label" for="name">{{ 'MY_INCOME.MONTHLY_SALARY' | translate}}</div>
                      </div>
                      <div class="flex-col-6">
                        <div class="form-control">
                        <i>$</i>
                        <div name="monthlySalary" [ngClass]="{'readonly': monthlySalary.value != 0}"><input  class="input-control" type="text" appCurrencyInput maxLength="5" #monthlySalary formControlName="monthlySalary" value="0"></div>
                        </div>
                    </div>
                    </div>
                    <div class="flex-row">
                        <div class="flex-col-6">
                      <div class="form-group-with-bg--content-label" for="name">{{ 'MY_INCOME.ANNUAL_BONUS' | translate}}</div>
                    </div>
                    <div class="flex-col-6">
                      <div class="form-control">
                          <i>$</i>
                        <div name="annualBonus" [ngClass]="{'readonly': annualBonus.value != 0}"><input class="input-control" type="text" appCurrencyInput maxLength="6" #annualBonus formControlName="annualBonus" value="0"></div>
                      </div>
                    </div>
                    </div>
                    <div class="flex-row">
                        <div class="flex-col-6">
                      <div class="form-group-with-bg--content-label" for="name">{{ 'MY_INCOME.OTHER_INCOME' | translate}}<div class="form-group-with-bg--content-sub-label">{{ 'MY_INCOME.OTHER_INCOME_HINT' | translate}}</div></div>
                    </div>
                    <div class="flex-col-6">
                      <!-- <div name="otherIncome" class="input-control" [ngClass]="{'readonly': otherIncome.value != 0}">$<input type="text" class="input-with-suffix" (change)="updateSlider()" appCurrencyInput maxLength="4" #otherIncome formControlName="otherIncome" value="0"><span class="fixed-tenure">{{ 'MY_INCOME.PER_MONTH' | translate}}</span></div> -->
                      <div class="form-control form-control-right">
                          <i>$</i>
                          <input type="text" class="input-control" (change)="updateSlider()" appCurrencyInput maxLength="4" #otherIncome formControlName="otherIncome" value="0">
                          <i class="right">{{ 'MY_INCOME.PER_MONTH' | translate}}</i>
                        </div>
                    </div>
                    </div>
                    
                   <!--  <nouislider #noUiSlider (slide)="onNoUiSliderChange($event)" [config]="incomeSliderConfig" [min]="0" [max]="9999" [step]="50" [tooltips]="[ false ]"></nouislider> -->
                      
                  </div>
                  <!-- <jqxSlider #incomeSlider (onChange)="onSliderChange()" [height]='60' [width]='"100%"' [min]='0' [max]='9999' [value]='0'
                    [step]='50' [tooltip]='false' [showTicks]='false' [showButtons]='false' [ticksFrequency]='50' [mode]='"fixed"'>
                  </jqxSlider> -->
                </div>
                <button type="button" (click)="goToNext(incomeForm)" class="btn btn__footer--fixed btn-primary width100"
                id="incomeBtn">{{ 'LABEL.CONTINUE' | translate}}</button>
            </form>
      </div>
    </div>
  </div>
</div>
