<app-investment-title-bar *ngIf="isEditProfile"></app-investment-title-bar>
<div class="employement-details investment-account">
  <div class="step-indicator-container" *ngIf="!isEditProfile">
    <div class="container-fluid max-width--1024">
      <app-step-indicator [count]="6" [activeStepIndex]="2" [mode]="1"></app-step-indicator>
    </div>
  </div>
  <!--  [class.invest-web-width]="!isEditProfile" [class.invest-web-pt-90]="isEditProfile" -->
  <div class="container-fluid max-width--1024" [class.invest-web-pt-90]="isEditProfile">
    <div class="content">
      <div class="title-big hidden-sm-md" *ngIf="!isEditProfile">{{'EMPLOYMENT_DETAILS.TITLE' | translate}}</div>
      <div class="row">
        <div class="col-md-4 hidden-sm-md" *ngIf="!isEditProfile">
          <app-roadmap></app-roadmap>
        </div>
        <div [ngClass]="{'col-md-8' : !isEditProfile, 'col-md-12' : isEditProfile}">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
              <div *ngIf="!isEditProfile">
                <app-sing-pass></app-sing-pass>
              </div>
              <form id="employement_details_form" name="employeDetailsFrom" [formGroup]="employementDetailsForm">
                <!-- EMPLOyeMENT STATUS -->
                <div class="form-group">
                  <div class="flex-row">
                    <div class="flex-col-5">
                      <label for="employement_details_status" id="employement_details_status-lbl">{{
                            'EMPLOYMENT_DETAILS.EMPLOYEMEN_STATUS' | translate}}
                      </label>
                    </div>
                    <div class="flex-col-7">
                      <div class="dropdown-control">
                        <div ngbDropdown>
                          <button [disabled]="isDisabled('employmentStatus')" class="btn btn-dropdown without-border"
                            id="employement_details_status-drpdown" ngbDropdownToggle>
                            <span
                              *ngIf="!employementDetailsForm.controls.employmentStatus.value">{{'EMPLOYMENT_DETAILS.SELECT' | translate}}</span>
                            <span
                              *ngIf="employementDetailsForm.controls.employmentStatus.value">{{employementDetailsForm.controls.employmentStatus.value}}</span>
                          </button>
                          <div class="dropdown" ngbDropdownMenu aria-labelledby="courseDropdown">
                            <button class="dropdown-item"
                              *ngFor="let empStatus of employementStatusList; let i = index;"
                              (click)="setEmpDropDownValue('employmentStatus', empStatus.name)"
                              id="employement_details-employment-option-{{i}}">{{empStatus.name}}</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Company name -->
                <div>
                  <div class="flex-row mb10" *ngIf="employementDetailsForm.get('companyName')">
                    <div class="flex-col-5">
                      <label for="name" id="employment_company_name">{{ 'EMPLOYMENT_DETAILS.COMPANY_NAME' | translate}}
                      </label>
                    </div>
                    <div class="flex-col-7"
                      [ngClass]="{'inline-error': employementDetailsForm.get('companyName').enabled && !employementDetailsForm.get('companyName').valid && !employementDetailsForm.get('companyName').pristine}">
                      <div [attr.contenteditable]="!isDisabled('companyName')" id="companyName"
                        [textContent]="employementDetailsForm.get('companyName').value"
                        (focusout)="setControlValue($event.target.textContent, 'companyName', employementDetailsForm);" maxlength="100"
                        (keypress)="onKeyPressEvent($event, $event.target.textContent)" class="content-editable"
                        [class.company-disabled]="isDisabled('companyName')" placeholder="Company Name">
                      </div>
                    </div>
                  </div>
                  <!-- Industry -->
                  <div class="form-group" *ngIf="employementDetailsForm.get('industry')">
                    <div class="flex-row">
                      <div class="flex-col-5">
                        <label for="employement_details_status" id="employment_details_industry-lbl">{{
                              'EMPLOYMENT_DETAILS.INDUSTRY' | translate}}
                        </label>
                      </div>
                      <div class="flex-col-7">
                        <div class="dropdown-control employe-dropdown-control"
                          [ngClass]="{'inline-error': !employementDetailsForm.get('industry').valid && !employementDetailsForm.get('industry').pristine}">
                          <div ngbDropdown>
                            <button class="btn btn-dropdown without-border" id="employement_details_status-drpdown"
                              ngbDropdownToggle>
                              <span *ngIf="!employementDetailsForm.controls.industry.value">{{
                                    'EMPLOYMENT_DETAILS.SELECT_INDUSTRY' | translate}}</span>
                              <span *ngIf="employementDetailsForm.controls.industry.value">{{employementDetailsForm.controls.industry.value.industry
                                    }}</span>
                            </button>
                            <div class="dropdown" ngbDropdownMenu aria-labelledby="courseDropdown">
                              <button class="dropdown-item" *ngFor="let option of industryList let i = index;"
                                (click)="setEmpDropDownValue('industry',option,i)"
                                id="employement_details-industry-option-{{i}}">{{ option.industry }}</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- INDUSTRY for OTHERS -->
                  <div *ngIf="employementDetailsForm.controls.industry && employementDetailsForm.controls.industry.value && 
                      employementDetailsForm.controls.industry.value.industry =='Others'">
                    <div class="form-group">
                      <div class="flex-row">
                        <div class="flex-col-12">
                          <label for="employement-industry-others-txt" id="employement-industry-others-lbl">
                            {{'EMPLOYMENT_DETAILS.OTHER_INDUSTRY' | translate}}</label>
                        </div>
                        <div class="flex-col-12">
                          <div>
                            <input type="text" class="form-control input-control grey" formControlName="otherIndustry"
                              id="employement-industry-others-txt" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Occupation -->
                  <div class="form-group" *ngIf="employementDetailsForm.get('occupation')">
                    <div class="flex-row">
                      <div class="flex-col-5">
                        <label for="employement_details_occupation_lab" id="employement_details_status-lbl">{{
                              'EMPLOYMENT_DETAILS.OCCUPATION' | translate}}
                        </label>
                      </div>
                      <div class="flex-col-7"
                        [ngClass]="{'inline-error': employementDetailsForm.get('occupation').enabled && !employementDetailsForm.get('occupation').valid && !employementDetailsForm.get('occupation').pristine}">
                        <div class="dropdown-control employe-dropdown-control">
                          <div ngbDropdown>
                            <button [disabled]="isDisabled('occupation')" class="btn btn-dropdown without-border"
                              id="employement_details_status-drpdown" ngbDropdownToggle>
                              <span *ngIf="!employementDetailsForm?.controls?.occupation?.value?.occupation">{{
                                    'EMPLOYMENT_DETAILS.SELECT_OCCUPATION' | translate}}</span>
                              <span *ngIf="employementDetailsForm?.controls?.occupation?.value?.occupation">{{employementDetailsForm.controls.occupation.value.occupation
                                    }}</span>
                            </button>
                            <div class="dropdown" ngbDropdownMenu aria-labelledby="courseDropdown">
                              <button class="dropdown-item" *ngFor="let option of occupationList; let i = index;"
                                (click)="setEmpDropDownValue('occupation',option,i)"
                                id="employement_details-occupation-option-{{i}}">{{ option.occupation }}</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- OCCUPATION for OTHERS -->
                  <div *ngIf="employementDetailsForm.controls.occupation && employementDetailsForm.controls.occupation.value && 
                      employementDetailsForm.controls.occupation.value.occupation =='Others'">
                    <div class="form-group">
                      <div class="flex-row">
                        <div class="flex-col-12">
                          <label for="employement-occupation-others-txt" id="employement-occupation-others-lbl">
                            {{'EMPLOYMENT_DETAILS.OTHER_OCCUPATION' | translate}}</label>
                        </div>
                        <div class="flex-col-12">
                          <div>
                            <input type="text" class="form-control input-control grey" formControlName="otherOccupation"
                              id="employement-occupation-others-txt" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex-row mb10" *ngIf="employementDetailsForm.get('contactNumber')">
                    <div class="flex-col-5">
                      <label for="name" id="employement_contact_number_Lbl">{{ 'EMPLOYMENT_DETAILS.CONTACT_NUMBER' |
                            translate}}
                      </label>
                    </div>
                    <div class="flex-col-7"
                      [ngClass]="{'inline-error': !employementDetailsForm.get('contactNumber').valid && !employementDetailsForm.get('contactNumber').pristine}">
                      <input type="text" formControlName="contactNumber" id="employement_status_company_name_input"
                        class="form-control">
                    </div>
                  </div>
                  <div>
                    <div *ngIf="employementDetailsForm.get('employeaddress')" formGroupName="employeaddress">
                      <div class="emp_add_lbl"><label>{{'EMPLOYMENT_DETAILS.YOUR_OFFICE_ADDRESS' | translate}}</label>
                      </div>
                      <!-- COUNTRY -->
                      <div class="form-group">
                        <div class="flex-row">
                          <div class="flex-col-5">
                            <label for="employment_details-mailcountry-drpdown" id="employment_details-mailcountry-lbl">{{
                                  'EMPLOYMENT_DETAILS.COUNTRY' | translate}}</label>
                          </div>
                          <div class="flex-col-7">
                            <div class="dropdown-control">
                              <app-dropdown-with-search controlName="empCountry" nestedControlName="employeaddress"
                                [optionList]="countries" displayKey="name" placement="bottom"
                                placeholderText="{{ 'INVESTMENT_ACCOUNT_COMMON.SELECT_COUNTRY' | translate }}"
                                (itemSelected)="setDropDownValue('empCountry',$event, 'employeaddress')">
                              </app-dropdown-with-search>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- POSTAL CODE -->
                      <div class="form-group" *ngIf="employementDetailsForm.get('employeaddress').get('empPostalCode')">
                        <div class="flex-row">
                          <div class="flex-col-5">
                            <label for="employment_details-mailpostalcode-drpdown"
                              id="employment_details-mailpostalcode-lbl">{{
                                  'EMPLOYMENT_DETAILS.POSTAL_CODE' | translate}}</label>
                          </div>
                          <div class="flex-col-7">
                            <div class="form-control with-button"
                              [ngClass]="{'inline-error':getInlineErrorStatus(employementDetailsForm.controls.employeaddress.controls.empPostalCode), 'disabled':employementDetailsForm.controls.employeaddress.controls.empPostalCode.disabled}">
                              <div class="postal-code-control">
                                <div class="control">
                                  <input type="text" class="input-control grey" formControlName="empPostalCode"
                                    maxLength="10" id="employment_details-mailpostalcode-txt" />
                                </div>
                                <div class="button">
                                  <button type="button"
                                    (click)="retrieveAddress(employementDetailsForm.controls.employeaddress.controls.empPostalCode.value, employementDetailsForm.controls.employeaddress.controls.empAddress1, employementDetailsForm.controls.employeaddress.controls.empAddress2)"
                                    class="btn btn-orange width100">{{ 'COMMON.LABEL.RETRIEVE' | translate}}
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- ADDRESS 1 -->
                      <div class="form-group">
                        <div class="flex-row">
                          <div class="flex-col-5">
                            <label for="employment_details-mailaddress1-txt" id="employment_details-mailaddress1-lbl">{{'EMPLOYMENT_DETAILS.ADDRESS_1'
                                  | translate}}</label>
                          </div>
                          <div class="flex-col-7">
                            <div
                              [ngClass]="{'inline-error':getInlineErrorStatus(employementDetailsForm.controls.employeaddress.controls.empAddress1)}">
                              <input type="text" class="form-control input-control grey" formControlName="empAddress1"
                                maxLength="50" id="employment_details-mailaddress1-txt" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- ADDRESS 2 -->
                      <div class="form-group">
                        <div class="flex-row">
                          <div class="flex-col-5">
                            <label for="employment_details-mailaddress2-txt" id="employment_details-mailaddress2-lbl">{{'EMPLOYMENT_DETAILS.ADDRESS_2'
                                  | translate}}</label>
                          </div>
                          <div class="flex-col-7">
                            <div
                              [ngClass]="{'inline-error':getInlineErrorStatus(employementDetailsForm.controls.employeaddress.controls.empAddress2)}">
                              <input type="text" class="form-control input-control grey" formControlName="empAddress2"
                                maxLength="50" id="employment_details-mailaddress2-txt" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- FLOOR -->
                      <div class="form-group" *ngIf="employementDetailsForm.get('employeaddress').get('empFloor')">
                        <div class="flex-row">
                          <div class="flex-col-5">
                            <label for="residentialAddress-floor-txt" id="residentialAddress-floor-lbl">{{'EMPLOYMENT_DETAILS.FLOOR'
                                  | translate}}</label>
                          </div>
                          <div class="flex-col-7">
                            <div
                              [ngClass]="{'inline-error':getInlineErrorStatus(employementDetailsForm.controls.employeaddress.controls.empFloor)}">
                              <input type="text" class="form-control input-control grey" formControlName="empFloor"
                                id="employeeAddress-floor-txt" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- UNIT NO -->
                      <div class="form-group" *ngIf="employementDetailsForm.get('employeaddress').get('empUnitNo')">
                        <div class="flex-row">
                          <div class="flex-col-5">
                            <label for="employment_details-mailunitno-txt" id="employment_details-mailunitno-lbl">{{'EMPLOYMENT_DETAILS.UNIT_NO'
                                  | translate}}</label>
                          </div>
                          <div class="flex-col-7">
                            <div
                              [ngClass]="{'inline-error':getInlineErrorStatus(employementDetailsForm.controls.employeaddress.controls.empUnitNo)}">
                              <input type="text" class="form-control input-control grey" formControlName="empUnitNo"
                                id="employment_details-mailunitno-txt" />
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- CITY -->
                      <div class="form-group" *ngIf="employementDetailsForm.get('employeaddress').get('empCity')">
                        <div class="flex-row">
                          <div class="flex-col-5">
                            <label for="employment_details-mailcity-txt" id="employment_details-mailcity-lbl">{{'EMPLOYMENT_DETAILS.CITY'
                                  | translate}}</label>
                          </div>
                          <div class="flex-col-7">
                            <div
                              [ngClass]="{'inline-error':getInlineErrorStatus(employementDetailsForm.controls.employeaddress.controls.empCity)}">
                              <input type="text" class="form-control input-control grey" formControlName="empCity"
                                id="employment_details-mailcity-txt" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- STATE -->
                      <div class="form-group" *ngIf="employementDetailsForm.get('employeaddress').get('empState')">
                        <div class="flex-row">
                          <div class="flex-col-5">
                            <label for="employment_details-mailstate-txt" id="employment_details-mailstate-lbl">{{'EMPLOYMENT_DETAILS.STATE'
                                  | translate}}</label>
                          </div>
                          <div class="flex-col-7">
                            <div
                              [ngClass]="{'inline-error':getInlineErrorStatus(employementDetailsForm.controls.employeaddress.controls.empState)}">
                              <input type="text" class="form-control input-control grey" formControlName="empState"
                                maxLength="30" id="employment_details-mailstate-txt" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- ZIP CODE -->
                      <div class="form-group" *ngIf="employementDetailsForm.get('employeaddress').get('empZipCode')">
                        <div class="flex-row">
                          <div class="flex-col-5">
                            <label for="employment_details-mailzipcode-txt" id="employment_details-mailzipcode-lbl">{{'EMPLOYMENT_DETAILS.ZIPCODE'
                                  | translate}}</label>
                          </div>
                          <div class="flex-col-7">
                            <div
                              [ngClass]="{'inline-error':getInlineErrorStatus(employementDetailsForm.controls.employeaddress.controls.empZipCode)}">
                              <input type="text" class="form-control input-control grey" formControlName="empZipCode"
                                maxLength="10" id="employment_details-mailzipcode-txt" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button *ngIf="!isEditProfile" type="button" id="employment_details_btn"
                    (click)="goToNext(employementDetailsForm)"
                    class="btn btn__footer--fixed btn-ftr-get-started btn-primary" id="getStrdBtn3">{{
                        'COMMON.LABEL.CONTINUE' | translate}}</button>
                  <button *ngIf="isEditProfile" type="button" id="employment_details_btn"
                    (click)="goToNext(employementDetailsForm)"
                    class="btn btn__footer--fixed btn-ftr-get-started btn-primary" id="getStrdBtn3">Apply
                    Changes</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
