<div class="financial-wrapper">
  <div class="financial__header">
    <div class="financial__header--inner">
      <div class="sub-navigation">
        <div class="sub-navigation--inner">
          <span routerLink="/">Home</span>
          <i class="material-icons">keyboard_arrow_right</i>
          <span routerLink="/about-us">Financial Wellness Programme</span>
        </div>
      </div>
      <div class="header--title">
        <h2>MoneyOwl Works: A Corporate Financial Wellness Programme</h2>
        <div>A turnkey solution that enables companies to help employees save and invest towards their
          retirement.</div>
      </div>
    </div>
  </div>
  <div class="financial__container">
    <div class="financial__container primary">
      <div class="financial__container--inner">Our <span class="txt-teal">MoneyOwl </span><span
          class="txt-orange">Works</span> Programme can help you better engage your employees in
        the area of personal finance and foster better employer-employee relations. Companies can demonstrate their care
        and responsiveness as employers, and reaffirm their employees’ value as persons and professionals. Employees who
        have financial peace of mind will be focused and effective, thus helping their companies thrive.</div>
      <div class="financial-desc">
        <div class="financial-desc-logo"><img src="/assets/images/financial-wellness/financial-desc-logo.svg" /></div>
        <div>People-centred employers attract and retain talent better. Those at the vanguard of revolutionising
          employee's long-term financial well-being will make a significant mark in their industry as a role model.
        </div>
      </div>
      <div class="financial-benefits">
        <div class="financial-benefits__employees">
          <div class="financial-benefits__employees--title">Benefits To Your <span>Employees</span></div>
          <div class="financial-benefits__employees--container">
            <div class="flex align-flex-start">
              <span class="benefits-icon"><img src="/assets/images/financial-wellness/icon_tick_teal.svg" /></span>
              <span>A secure financialfuture</span>
            </div>
            <div class="flex align-flex-start">
              <span class="benefits-icon"><img src="/assets/images/financial-wellness/icon_tick_teal.svg" /></span>
              <span>Less stress on personal financial matters and improvement in overall physical health</span>
            </div>
            <div class="flex align-flex-start">
              <span class="benefits-icon"><img src="/assets/images/financial-wellness/icon_tick_teal.svg" /></span>
              <span>Increased productivity at work as a result of a sound financial plan in place</span>
            </div>
            <div class="flex align-flex-start">
              <span class="benefits-icon"><img src="/assets/images/financial-wellness/icon_tick_teal.svg" /></span>
              <span>Boost in morale as they are being well taken care of</span>
            </div>
          </div>
        </div>
        <div class="financial-benefits__companies">
          <div class="financial-benefits__companies--title">Benefits To Your <span>Companies</span></div>
          <div class="financial-benefits__companies--container">
            <div class="flex align-flex-start">
              <span class="benefits-icon"><img src="/assets/images/financial-wellness/icon_tick_teal.svg" /></span>
              <span>Thriving business with a stronger workforce – increase in work productivity</span>
            </div>
            <div class="flex align-flex-start">
              <span class="benefits-icon"><img src="/assets/images/financial-wellness/icon_tick_teal.svg" /></span>
              <span>Attract the right talent as more employees are looking at more holistic company’s benefits as part
                of total compensation</span>
            </div>
            <div class="flex align-flex-start">
              <span class="benefits-icon"><img src="/assets/images/financial-wellness/icon_tick_teal.svg" /></span>
              <span>Increased employees’ engagement and retention</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="features__container">
      <div class="features__container--inner">
        <div class="features__container--inner--title mb20">Features of MoneyOwl Works</div>
        <div><span class="txt-teal">MoneyOwl</span> <span class="txt-orange">Works</span> is a holistic, result-oriented
          Corporate Financial Wellness Programme and a turnkey solution
          that complements companies’ existing benefits. It empowers employees with the confidence to take financial
          planning actions through interactive learning, engagement, and application.</div>
        <div class="key-areas">
          <div class="key-areas__header">The programme comprises of 3 key areas: </div>
          <div class="key-areas__container mb20">
            <div class="point-logo ht1 hidden-sm"><img src="/assets/images/financial-wellness/1.svg" /></div>
            <div class="point-txt">
              <div class="txt-bold title-orange">
                <div class="point-logo hidden-md hidden-lg"><img src="/assets/images/financial-wellness/1.svg" /></div>
                <div>Financial Planning Workshops</div>
              </div>
              <div>Employees have to understand the need to plan for their retirement and how to go about doing so. We
                have customised workshops, platforms, and tools to improve your employees’ personal financial knowledge
                and proficiency, to help them make wise money decisions confidently.</div>
            </div>
          </div>
          <div class="key-areas__container mb20">
            <div class="point-logo ht2 hidden-sm"><img src="/assets/images/financial-wellness/2.svg" /></div>
            <div class="point-txt">
              <div class="txt-bold title-teal">
                <div class="point-logo hidden-md hidden-lg"><img src="/assets/images/financial-wellness/2.svg" /></div>
                <div>Fit For Various Planning Purpose</div>
              </div>
              <div>Different employee profiles have various needs in their planning. Our <span
                  class="txt-teal txt-bold">MoneyOwl</span> <span class="txt-orange txt-bold">Works</span> programme has
                curated solutions, incorporating national schemes, catering to different employee profiles. Benefit from
                MoneyOwl’s conflict-free advice and select a suite of low cost financial solutions such as savings plan
                and low risk investment portfolio most suited for your employees.</div>
            </div>
          </div>
          <div class="key-areas__container">
            <div class="point-logo ht3 hidden-sm"><img src="/assets/images/financial-wellness/3.svg" /></div>
            <div class="point-txt">
              <div class="txt-bold title-blue">
                <div class="point-logo hidden-md hidden-lg"><img src="/assets/images/financial-wellness/3.svg" /></div>
                <div>Engagement, Communications and Motivations</div>
              </div>
              <div>A good programme needs to be communicated effectively to encourage participation. We plan and execute
                communications to employees via different channels to aid in the promotion of the benefits, and create
                the environment to motivate and incentivise employees to take action. These include customised
                communication materials, exclusive events and many more.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="employees-need">
      <div class="employees-need__container"></div>
      <div class="employees-need__container--inner">
        <div class="employees-need__container--inner--title mb20">Employees Need Help!</div>
        <div class="employees-need__container--inner--desc">Employees need help in financial planning to achieve peace
          of mind about their
          financial security and retirement adequacy. Multiple studies show that the majority of people in Singapore are
          not financially prepared for retirement.</div>
        <div class="working-adults">
          <div class="working-adults--title">Among 2,000 working adults age 21 – 65 </div>
          <div class="working-adults__logo">
            <div class="working-adults__logo--item">
              <img src="/assets/images/financial-wellness/logo-list1.svg" />
            </div>
            <div class="working-adults__logo--item">
              <img src="/assets/images/financial-wellness/logo-list2.svg" />
            </div>
            <div class="working-adults__logo--item">
              <img src="/assets/images/financial-wellness/logo-list3.svg" />
            </div>
          </div>
          <div class="working-adults--disclaimer">*based on latest research from OCBC Financial Wellness Index 2019
          </div>
          <div class="working-adults__stress">
            <div class="working-adults__stress--logo"><img src="/assets/images/financial-wellness/stress-logo.svg" />
            </div>
            <div class="working-adults__stress--content">
              <div>employees’ top cause of stress is resulted from financial or money matters which affected work
                productivity.*</div>
              <div class="txt-italic">*PWC 2019 employees’ survey </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="about-moneyowl">
      <div class="about-moneyowl-bg"></div>
      <div class="about-moneyowl-licensed-tab-section">
        <div class="about-moneyowl-licensed-tab-section--title">About MoneyOwl</div>
        <div class="about-moneyowl-licensed-tab-section--desc">MoneyOwl is a financial adviser and fund management
          company licensed by MAS. We are an NTUC Social Enterprise and our mission is to help ordinary Singaporean
          working families make wise financial planning decisions to improve their financial security, especially
          retirement adequacy.</div>
        <div class="about-moneyowl-licensed-tab-section__container">
          <div class="flex hidden-sm">
            <div class="about-moneyowl-licensed-tab-section__container--icon">
              <img src="/assets/images/financial-wellness/bionic.svg" />
              <p>Singapore’s 1st Bionic Financial Adviser</p>
            </div>
            <div class="about-moneyowl-licensed-tab-section__container--icon">
              <img src="/assets/images/financial-wellness/conflict-free.svg" />
              <p>Conflict-Free</p>
            </div>
            <div class="about-moneyowl-licensed-tab-section__container--icon">
              <img src="/assets/images/financial-wellness/secure.svg" />
              <p>Secure Platform</p>
            </div>
            <div class="about-moneyowl-licensed-tab-section__container--icon">
              <img src="/assets/images/financial-wellness/social_enterprise.svg" />
            </div>
          </div>
          <div class="note">
            <div class="pb20" (click)="navigateTo('/about-us/why-moneyowl')">Why MoneyOwl</div>
            <div (click)="navigateTo('/about-us')">Key People of MoneyOwl</div>
          </div>
        </div>
      </div>
    </div>
    <div class="literacy-trainers">
      <div class="literacy-trainers__container">
        <div class="literacy-trainers__container--title" [routerLink]="['/works/financial-literacy']">Financial Literacy
          Trainers</div>
        <div class="literacy-trainers__container--desc">We have a dedicated team of senior management and financial
          literacy trainers with deep industry experience to help your company execute a successful Corporate Financial
          Wellness Programme, to empower your employees to make sound financial decisions confidently.</div>
        <div class="literacy-trainers__container__trainers">
          <div class="literacy-trainers__container__trainers__list" (click)="navigateTo('/works/financial-literacy')">
            <div class="literacy-trainers__container__trainers__list--thumbnail">
              <img src="/assets/images/corporate/financial-literacy-team/chris.svg" />
              <p>Christopher</p>
            </div>
            <div class="literacy-trainers__container__trainers__list--thumbnail">
              <img src="/assets/images/corporate/financial-literacy-team/felicia.svg" />
              <p>Felicia</p>
            </div>
            <div class="literacy-trainers__container__trainers__list--thumbnail">
              <img src="/assets/images/corporate/financial-literacy-team/lena.svg" />
              <p>Lena</p>
            </div>
            <div class="literacy-trainers__container__trainers__list--thumbnail">
              <img src="/assets/images/corporate/financial-literacy-team/albert.svg" />
              <p>Albert</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-us">
      <div class="contact-us__container">
        <div class="contact-us__container--title">Connect with Us</div>
        <div class="contact-us__container--desc">We understand that every company has different goals and we can help.
          Leave your contact details below if you would like to get more details and have a further discussion
          (non-obligatory).</div>
        <div class="financial-wellness__content">
          <div class="financial-wellness__inner-content">
            <div class="financial-wellness__form-container">
              <form id="financialWellnessForm" name="financialWellnessForm" [formGroup]="financialWellnessForm">
                <div class="flex-row">
                  <div class="col-sm-6">
                    <input type="text" class="form-control light-border p-3" placeholder="First Name *"
                      formControlName="firstName" required>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control light-border p-3" placeholder="Last Name *"
                      formControlName="lastName" required>
                  </div>
                </div>
                <div class="flex-row">
                  <div class="col-sm-12">
                    <input type="text" class="form-control light-border p-3" placeholder="Job Function *"
                      formControlName="jobFunction" required>
                  </div>
                </div>
                <div class="flex-row">
                  <div class="col-sm-6">
                    <input type="text" class="form-control light-border p-3" placeholder="Company Name *"
                      formControlName="companyName" required>
                  </div>
                  <div class="col-sm-6">
                    <div class="dropdown-control">
                      <div ngbDropdown id="companySizeDropDown">
                        <button class="btn btn-dropdown form-control" id="dropdownSubject" ngbDropdownToggle>
                          <span [ngClass]="{'green-text': companySize === companySizePreset}">{{companySize}}</span>
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdowncompanySize">
                          <button class="dropdown-item" *ngFor="let in_companySize of companySizeItems"
                            (click)="selectSize(in_companySize)">
                            <span>{{in_companySize.item}}</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex-row">
                  <div class="col-sm-6">
                    <input type="text" class="form-control light-border p-3" formControlName="emailAddress"
                      placeholder="Email *" required>
                  </div>
                  <div class="col-sm-6">
                    <input type="number" class="form-control light-border p-3" formControlName="phoneNumber"
                      placeholder="Phone Number *" required>
                  </div>
                </div>
                <div class="flex-row">
                  <div class="col-sm-12">
                    <div
                      *ngIf="(financialWellnessForm.controls.emailAddress.invalid && financialWellnessForm.controls.emailAddress.dirty)">
                      <p class="error--msg" *ngIf="financialWellnessForm.controls.emailAddress.errors.email">
                        {{emailErrorMessage.email}}</p>
                    </div>
                    <div
                      *ngIf="(financialWellnessForm.controls.phoneNumber.invalid && financialWellnessForm.controls.phoneNumber.dirty)">
                      <p class="error--msg" *ngIf="financialWellnessForm.controls.phoneNumber.errors.pattern">
                        {{contactNumberErrorMessage.pattern}}</p>
                    </div>
                    <p class="error--msg"
                      *ngIf="((financialWellnessForm.controls.phoneNumber.invalid && financialWellnessForm.controls.phoneNumber.touched)&&financialWellnessForm.controls.phoneNumber.errors.required)||((financialWellnessForm.controls.emailAddress.invalid && financialWellnessForm.controls.emailAddress.touched)&&financialWellnessForm.controls.emailAddress.errors.required)||(financialWellnessForm.controls.firstName.invalid && financialWellnessForm.controls.firstName.touched)||(financialWellnessForm.controls.lastName.invalid && financialWellnessForm.controls.lastName.touched)||(financialWellnessForm.controls.jobFunction.invalid && financialWellnessForm.controls.jobFunction.touched)||(financialWellnessForm.controls.phoneNumber.invalid && financialWellnessForm.controls.phoneNumber.touched)">
                      {{ErrorMessage}}</p>
                    <p class="error--msg success" *ngIf="sendSuccess === true">
                      {{'Your Enquiry has been sent successfully'}}</p>
                  </div>
                </div>
                <div class="flex-row">
                  <div class="col-sm-12">
                    <button class="form-control btn btn-primary dark-btn" (click)="save(financialWellnessForm)"
                      [disabled]="financialWellnessForm.invalid || submitted === true || companySize === companySizePreset">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
