@import '../../../../variables';
@import '../../../../mixins';
#userInfoForm .col-sm-7 {
  opacity: 1 !important;
}
.form__block {
  margin-left: 0;
  padding-left: 0;
}
.form__row {
  display: flex;
  margin-bottom: 5px;
  .form__col--left {
    flex-basis: 40vw;
    display: flex;
    align-items: center;
  }
  .form__col--right {
    flex-basis: 60vw;
    .input-group {
      &.inline-error {
        .btn-primary {
          background: transparent !important;
          border: transparent;
        }
      }
    }
  }
}

#userInfoForm {
  @include allmobiles {
    margin-top: 50px;
  }
}
.fixed-btn--sm {
  @include allmobiles {
    width: 100px;
    padding: 5px 10px;
    white-space: normal;
  }
}
.fixed-btn--lg {
  @include allmobiles {
    width: 210px;
    padding: .90rem;
  }
}
.input-group {
  @include allmobiles {
    width: 210px !important;
  }
}
.input-group.date-picker {
  .dropdown-menu.show {
    @include allmobiles {
      left: inherit !important;
      right: 0px;
    }
  }
}
.get-started-image {
  background-repeat: no-repeat;
  display: block;
  height: 320px;
  width: 100%;
  margin-top: 50px;
}
