@import '../../../../variables';
#userInfoForm .col-sm-7 {
  opacity: 1 !important;
}

#dependentDropDown button.btn-dropdown {
  color: $text-color-secondary;
  span.dependent-count {
    color: $app-backgrnd-color;
  }
}

.form__block {
  margin-left: 0;
  padding-left: 0;
}

.form__row {
  width: 100%;
  margin-bottom: 5px;
  .form__col--left {
    width: 40%;
    display: flex;
    align-items: center;
  }
  .form__col--right {
    .btn-group--toggle {
      .fixed-btn--sm {
        border: 1px solid #8cd7d7;
        color: #8cd7d7;
        font-size: 14px;
      }
      .fixed-btn--sm {
        &.active {
          border: 1px solid $module-fill-color;
          color: $module-fill-color;
          background: transparent;
        }
      }
    }
    .input-group {
      width: 250px;
      margin-bottom: 8px;
      input {
        pointer-events: none;
      }
      .form-control {
        border: transparent;
        color: $app-backgrnd-color;
        background: $module-fill-color;
      }
    }
    .btn-default {
      background: $module-fill-color;
      padding: .90rem;
      text-align: left;
    }
    .btn-default:after {
      background-image: url('./../../../../assets/images/dropdown-icon.png');
      width: 16px;
      height: 10px;
      border: none;
      position: absolute;
      top: 25px;
      right: 15px;
    }
    .input-group-append {
      .btn-primary {
        background: $module-fill-color !important;
        border: transparent;
      }
    }
    .input-group {
      &.inline-error {
        .btn-primary {
          background: transparent !important;
          border: transparent;
        }
      }
    }
    width: 60%;
  }
}

#userInfoForm {
  .form__row {
    display: flex;
    justify-content: space-between;
  }
  .fixed-width-btn {
    .btn {
      width: 100px;
      height: 60px;
      border: 1px solid #8cd7d7;
      color: #8cd7d7;
      background: transparent;
      &.active {
        border: 1px solid $module-fill-color;
        color: $module-fill-color;
        background: transparent;
      }
    }
    .btn-text-wrap {
      white-space: normal !important;
      line-height: normal !important;
    }
  }
}

.fixed-btn--sm {
  width: 120px;
  padding: .90rem;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50px;
  margin-bottom: 5px;
  &:hover, &:active, &:focus {
    background: transparent !important;
  } 
}

.fixed-btn--lg {
  width: 250px;
  padding: .90rem;
}

#userInfoForm {
  .btn-primary {
    background-color: $btn-primary-backgrnd-color;
    border-color: $btn-primary-backgrnd-color;
    padding: 0.90rem;
  }
}

@media (max-width: 480px) {
  #userInfoForm {
    margin-top: 50px;
  }
  .fixed-btn--sm {
    width: 90px;
    padding: 5px 10px;
    white-space: normal;
  }
  .fixed-btn--lg {
    width: 190px;
    padding: .90rem;
  }
  .input-group {
    width: 190px !important;
  }
  .btn-ftr-get-started {
    margin: 0 -30px;
  }
  .input-group.date-picker {
    .dropdown-menu.show {
      left: inherit !important;
      right: 0px;
    }
  }
}

.date-picker-image--valid,
.date-picker-image--invalid {
  width: auto;
  height: auto;
  cursor: pointer;
  margin-bottom: 1px;
}

.get-started-image {
  background-repeat: no-repeat;
  display: block;
  height: 320px;
  width: 100%;
  margin-top: 50px;
}
