<div class="doselfCheck setpOneForm">
  <form id="userInfoForm" name="userInfoForm" [formGroup]="userInfoForm" id="getStrdFrm">
    <div class="form-group">
      <div class="flex-row">
        <div class="flex-col-4">
          <label for="name" id="getStrdLbl1">{{ 'GET_STARTED.I_AM_A' | translate}}</label>
        </div>
        <div class="flex-col-8">
          <div class="btn-group--toggle" ngbRadioGroup name="radioGender" formControlName="gender">
            <div class="flex-row mb0">
            <div class="flex-col-6">
              <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm mr17" id="getStrdLbl2">
                <input ngbButton type="radio" value="male" id="getStrdInpt1"> {{ 'LABEL.MALE' | translate}}
              </label>
            </div>
            <div class="flex-col-6">
              <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm" id="getStrdLbl3">
                <input ngbButton type="radio" value="female" id="getStrdInpt2"> {{ 'LABEL.FEMALE' | translate}}
              </label>
            </div>
          </div>
          </div>
        </div>
        </div>
        <div class="flex-row">
        <div class="flex-col-4">
          <label for="name" id="getStrdLbl4">{{ 'GET_STARTED.BORN_ON' | translate}}</label>
        </div>
        <div #usrFrmDp class="flex-col-8">
          <div class="datepicker-control">
            <div class="input-group date-picker mb0" [ngClass]="{'inline-error': !userInfoForm.get('dob').valid && !userInfoForm.get('dob').pristine}">
              <input readonly (click)="d.toggle()" class="form-control" placeholder="DD / MM / YYYY" formControlName="dob" name="dp" ngbDatepicker #d="ngbDatepicker"
                required id="getStrdInpt3">
              <div class="input-group-append">
                <button (click)="d.toggle()" class="btn btn-primary" type="button" id="getStrdBtn1">
                  <img class="date-picker-image--valid" id="getStrdImg1" *ngIf="userInfoForm.get('dob').valid || userInfoForm.get('dob').pristine" src="./assets/images/calendar-normal.svg"
                  />
                  <img class="date-picker-image--invalid" id="getStrdImg1" *ngIf="!userInfoForm.get('dob').valid && !userInfoForm.get('dob').pristine" src="./assets/images/calendar-error.svg"
                  />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-row" style="display:none;">
        <div class="flex-col-4">
          <label for="name" id="getStrdLbl5">{{ 'GET_STARTED.AND_A' | translate}}</label>
        </div>
        <div class="flex-col-8">
          <div class="btn-group--toggle" ngbRadioGroup name="radioSmoker" formControlName="smoker">
              <div class="flex-row mb0">
              <div class="flex-col-6">
              <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm mr17" id="getStrdLbl6">
                <input ngbButton type="radio" value="non-smoker" id="getStrdInpt4"> {{'LABEL.NON_SMOKER' | translate}}
              </label>
              </div>
            
            <div class="flex-col-6">
              <label ngbButtonLabel class="btn-outline-primary fixed-btn--sm" id="getStrdLbl7">
                <input ngbButton type="radio" value="smoker" id="getStrdInpt5"> {{'LABEL.SMOKER' | translate}}
              </label>
            </div>
          </div>
            </div>
          </div>
        </div>
      <div class="flex-row" [hidden]="hideDependants">
        <div class="flex-col-4">
          <label for="name" id="getStrdLbl8">{{ 'GET_STARTED.I_HAVE' | translate}}</label>
        </div>
        <div class="flex-col-8">
          <div class="dropdown-control">
            <div ngbDropdown id="dependentDropDown">
              <button class="btn btn-dropdown without-border" id="dropdownBasic1" ngbDropdownToggle>
                <span class="dependent-count">{{dependents}}</span>
                <span *ngIf="dependents <= 1">{{'LABEL.DEPENDANT' | translate}}</span>
                <span *ngIf="dependents > 1">{{'LABEL.DEPENDANT_PLURAL' | translate}}</span>
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item" *ngFor="let count of dependentItems" (click)="selectDependentsCount(count)" id="getStrdBtn2">
                  {{count}} 
                  <span *ngIf="count <= 1">{{'LABEL.DEPENDANT' | translate}}</span>
                  <span *ngIf="count > 1">{{'LABEL.DEPENDANT_PLURAL' | translate}}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-row" [hidden]="hideDependants">
          <div class="flex-col-4"></div>
          <div class="flex-col-8">
              <div>
                  <strong>{{ 'GET_STARTED.DEPENDANT_MEANING_LBL' | translate}}</strong>
                  <br/>{{ 'GET_STARTED.DEPENDANT_MEANING_DESC' | translate}}
                </div>
          </div>
      </div>
      </div>
    <div>
      <button type="button" (click)="goToNext(userInfoForm)" class="btn btn__footer--fixed btn-ftr-get-started btn-primary width100" id="getStrdBtn3">{{ 'LABEL.CONTINUE' | translate}}</button>
    </div>
  </form>
</div>
