<div class="account-created-success-modal">
  <div class="custom-modal-backdrop"></div>
  <div class="custom-modal-wrapper">
    <div class="custom-modal--icon">
      <img src="../../../assets/images/account-created-icon.svg" id="custModalImg1" />
      <div class="custom-modal--content">
        <p class="custom-modal--title" id="custModalTitle">{{'ACCOUNT_UPDATED.TITLE' | translate}}</p>
        <p class="custom-modal--desc" id="custModalDesc" *ngIf="updateMobile">{{'ACCOUNT_UPDATED.SUB_TITLE1' | translate}}</p>
        <p class="custom-modal--desc" id="custModalDesc" *ngIf="updateEmail">{{'ACCOUNT_UPDATED.SUB_TITLE2' | translate}}</p>
        <button (click)="redirectToLogin()" type="button" class="btn btn__footer--fixed btn-primary width100">{{'COMMON.LOGIN' | translate}}</button>
      </div>
    </div>
    <div class="custom-modal-content">
      <div>
        <img src="../../../assets/images/account-created-bg.svg" id="custModalImg2" />
      </div>
    </div>
  </div>
</div>
