<div class="legal__wrapper">
    <div class="legal__header">
        <div class="legal__header--bg">
          </div>
        <div class="legal__header--inner"> 
          <div class="sub-navigation">
            <div class="sub-navigation--inner">
                <span [routerLink]="['/home']">{{ 'LEGAL.PRIVACY_POLICY.SUB_NAV.PRIMARY' | translate }}</span>
                <i class="material-icons">keyboard_arrow_right</i>
                <span>{{ 'LEGAL.PRIVACY_POLICY.SUB_NAV.MAIN' | translate }}</span>
              </div>
            </div>
          <div class="legal--title">
            <h1>{{ 'LEGAL.PRIVACY_POLICY.TITLE' | translate}}</h1>
            </div>
          </div>
        </div>
    <div class="legal__container">
      <div class="legal__section">
        <div class="legal__section--inner">
            <p class="section--title">Terms and Conditions</p>
            <ol class="section--desc">
              <li>These Terms and Conditions are an integral part of the agreement between you and us in relation to any work we perform for you.  In these terms and conditions, unless the context requires otherwise, &ldquo;we&rdquo;, &ldquo;us&rdquo; or &ldquo;our&rdquo; refers to Moneyowl Private Limited. &ldquo;You&rdquo; and &ldquo;your&rdquo; refers to any individual and/or organisation who contract with us.</li>
              <li>We may amend these terms from time to time by written notice to you (including notice by way of email).  The new terms will take effect 30 days after we have sent the notice to you at your last known address/email address.  If you do not agree to the amended terms and conditions, it is your obligation to notify us, and you accept that we may have to terminate our relationship with you.  Your continued receipt of rebates paid by us will be deemed to be an acceptance of the amended terms and conditions.</li>
              <li>You have to inform us if you do not accept our Privacy Policy.  If you do not accept our Privacy Policy, you should not provide us with any personal data, as we may not be able to offer any services to you or establish any kind of relationship with you</li>
              <strong class="section--sub-title">Insurance-Related Matters</strong>
              <li class="default-ol">
                You may be entitled to rebates from the commission we receive, as indicated below:
                <ol>
                  <li>rebate of 50% of all basic commission we receive, for any insurance policies (excluding hospital and surgical and medical insurance policies) that you purchase;</li>
                  <li>rebate of 30% of all basic commission we receive, from any worldwide hospital and surgical and medical insurance policies that you purchase.</li> 
                  </ol> 
              </li>
              <li>No rebate will be provided for other types of insurance, including long term care policies and integrated shield plans (local hospital and surgical and medical insurance policies), as well as any insurance policies that are paid for, in whole or part, using CPF.</li>
              <li>If required under the law, we may charge goods and services tax on fees payable by you, or pay withholding tax to the authorities on rebates payable to you.</li>
              <li class="default-ol">
                Where we offer a rebate of basic commission for any product:
                <ol>
                  <li>If premiums are paid yearly, we will make payment of the rebate due to you as soon as practicable after we receive it from the relevant insurer(s).  As a general guide, we receive our commission from the insurer 2-3 months after the date of inception/anniversary date of the insurance policy.</li>
                  <li>If your premiums are paid monthly, we will make payment of the rebate due to you once a year, generally at the end of the calendar year.</li>
                  <li>If an insurer does not provide a breakdown showing the amount of basic commissions comprised in the total commissions received by us from the insurer at the time that such commissions are received by us, then the amount of basic commissions shall be deemed to be 45% of the total commissions received by us, for the purpose of computing the amount of rebate to be paid to you (if any).</li>
                </ol>
              </li>
              <li>All rebates will be credited directly into your designated bank account less any applicable taxes (including without limitation, goods and services tax) at the prevailing rate, and administrative and bank charges.  It is your obligation to inform us if you wish to use another bank account to receive rebates, and to inform us of changes to your contact details.  Although we will endeavour to notify you if the rebates cannot be to be paid into your designated account for whatever reason, you agree that we are under no obligation to do so.</li>
              <li>Medical expenses may be incurred in connection with medical examinations which may be required in connection with insurance policy applications. You agree to bear the medical expenses if (a) you cancel or fail to take up a policy after the proposal has been accepted by the insurer, or (b) the proposal lapses or is deemed withdrawn by the insurer because you failed to submit all necessary documents required by the insurer.</li>
              <li>
                  If you cancel any insurance policy within the cancellation period set out in the policy document:
                  <ol class="default-ol">
                    <li>any insurance premium paid by you will be refunded after deduction of the applicable medical expenses and administrative fees; and</li>
                    <li>you will promptly repay us any rebate which we have paid to you on the policy that is cancelled.</li>
                  </ol>
              </li>
              <li class="default-ol">
                  You hereby agree to fully indemnify us and our officers, employees and agents (&ldquo;<strong>Indemnified Parties</strong>&rdquo;) from and against any and all claims, actions, losses, damages, costs and expenses arising directly or indirectly out of or in connection with:
                  <ol>
                    <li>any act or omission by you or any person acting on your behalf (including without limitation, the provision of any false or misleading declaration or information); and/or</li>
                    <li>your negligence or default (including without limitation your breach of any provision in these terms and conditions).</li>
                  </ol>
                </li>
              <strong class="section--sub-title">Disclaimers and Limitation of Liability</strong>
              <li>
                It is your obligation to perform your own independent due diligence and assessment on each product and service and the Third Party Provider prior to committing to any legally binding arrangement in connection with such product or service.
                </li>
              <li class="default-ol">
                To the maximum extent permissible under applicable law, we shall not be liable to you or any other person for any damages, loss, cost or expense suffered by you or any other person in connection with:
                <ol>
                  <li>any act or omission of any third party;</li>
                  <li>any action brought against you by a third party;</li>
                  <li>your reliance on or use of any information or materials provided by any third party or the accuracy, correctness or completeness thereof;</li>
                  <li>any materials or information sent to or received by you or any any third party over the Internet; or</li>
                  <li>any other reason not directly attributable to us,</li>
                  </ol>
                  even if such events are foreseeable or even if we had had been advised of the possibility of such events occurring.  For the purpose of this paragraph, the term &ldquo;<strong>third party</strong>&rdquo; includes a Third Party Provider. 
                </li>
              <li>We shall not be liable for any loss of business, profit, goodwill or any type of special, indirect or consequential loss.</li>
              <li>We shall not be responsible or liable for any failure to perform or fulfil our obligations if such failure is due to circumstances beyond our control, including, but not limited to acts of God, war, riots and sabotage.</li>
              <strong class="section--sub-title">Termination</strong>
              <li class="default-ol">
                We may terminate our contractual relationship with you:
                <ol>
                  <li>with 30 days&rsquo; prior written notice to you without cause prior to your purchase of the product or service which is the subject of the contractual relationship;</li>
                  <li>immediately by written notice to you if you breach any provision of a contract with us and such breach is not rectified within 14 days of our written notice to you requiring remedy of such breach; or</li>
                  <li class="sub-default-ol">immediately by written notice to you if:
                    <ol>
                      <li>you commit any crime or offence in connection with any dishonesty, fraud, money-laundering, terrorist financing, or tax non-compliance or evasion; or</li>
                      <li>it becomes unlawful for us to deal with you.</li>
                    </ol>
                  </li>
                  </ol>
                </li>
                <li class="default-ol">
                  On the termination of our contractual relationship with you, your entitlement to rebates will cease, and we have the right to set-off any amount that you owe to us from any amount which we owe you.  Termination of our contractual relationship will not prejudice:
                  <ol>
                    <li>the rights of either party against the other subsisting at the date of termination; and</li>
                    <li>any contractual term which by operation of law survives or is specifically stated to survive termination.  For the avoidance of doubt, and without limiting the generality of the foregoing, paragraphs 11, 12, 13, 14, 15 and 16 survive termination of our contractual relationship with you. </li>
                    </ol>
                </li>
                <strong class="section--sub-title">General</strong>
                <li>You shall not, in any litigation proceeding, challenge the admissibility as evidence or the accuracy of a data log or electronic record provided by us in whatever form it may be presented.</li>
                <li>Our relationship with you is that of an independent service provider, and not that of joint venture, partnership, agency or employer-employee.</li>
                <li>Any waiver of a breach or default by us must be in writing and shall not be construed as a waiver of any other breach or default.  Our failure or delay to enforce any contractual provisions shall not constitute a waiver of such provision unless we confirm the waiver in writing.</li>
                <li>If any provision of these terms and conditions is held to be invalid, unenforceable or illegal for any reason, such provision shall be deemed severed from the remaining provisions which will nevertheless continue in full force and effect.</li>
                <li>You shall not assign your contractual relationship with us to any third party without our prior written consent.</li>
                <li>A third party has no right under The Contracts (Rights of Third Parties) Act Cap 53B to enforce your contract with us except and to the extent (if any) where the contract expressly provides that such third party has the right to enforce the contract.</li>
                <li>These terms and conditions and the document to which it is annexed (which has been accepted by you) sets forth and shall constitute the entire agreement between us and shall supersede any and all promises, representations, warranties or any other statements whether written or oral, provided always that any variations made under and in accordance with these terms and conditions shall constitute part of the agreement. </li>
                <li>You agree that these terms and conditions shall not be construed adversely against us solely on the ground that we were responsible for the issuance of these terms and conditions.</li>
                <strong class="section--sub-title">Governing Law</strong>
                <li>These terms and conditions are governed by and construed in accordance with the laws of Singapore and you agree to be subject to the non-exclusive jurisdiction of the courts of Singapore.</li>
                <li>We make no representation and do not warrant that the products or services made available or provided by us are appropriate or available for any other countries or jurisdictions or satisfy their laws.  You agree that you are  responsible for complying with all applicable laws, rules and regulations at your own cost and expense.</li>
              </ol>  
            <p class="section--title">Privacy Policy</p>
            <ol class="section--desc">
              <li>
                <strong class="section--sub-title">Policy</strong>
                <ol>
                  <li>This is the privacy policy of <strong>MoneyOwl Private Limited</strong>, a company incorporated in Singapore (&ldquo;<strong>MoneyOwl</strong>&rdquo;). The terms &ldquo;we&rdquo;, and &ldquo;our&rdquo; in this Policy refer to MoneyOwl.</li>
                  <li><strong>NTUC Social Enterprise Group</strong>. We are an organisation that is affiliated to NTUC Enterprise Co-operative Limited (&ldquo;<strong>NTUC Enterprise</strong>&rdquo;). Our organisation is also a member of the group of organisations and social enterprises which make up NTUC Social Enterprises (see <a href="http://ntucsocialenterprises.sg/">http://ntucsocialenterprises.sg/</a>) (collectively &ldquo;<strong>NTUC Social Enterprise Group</strong>&rdquo;). Although we are part of the NTUC Social Enterprise Group, each member of the group is only responsible to you to the extent of its own collection, use and disclosure of your personal data, and its own actions.</li>
                  <li><strong>Compliance with this Policy</strong>. This Policy applies to all personal data you provide to us, or that we may collect about you. Please do not provide any personal data to us if you do not accept this Policy.<br/>We may also require you to accept this Policy when you contact, interact, transact or deal with us, or when you access and use our websites, applications or services. If you notify us that you do not accept this Policy, we may not be able to establish a relationship with you or be able to service your requests.</li>
                  <li><strong>Concerns and Contacting Us</strong>. If you have any feedback or issues in relation to your personal data, or about this Policy, or wish to make a complaint to us, you may contact our Data Protection Officer whose contact details are set out below. If you wish to make a formal complaint, you may also do so with any data protection regulator or authority having jurisdiction over us.<br/><br/> Data Protection Officer<br/>Email address: customercare@moneyowl.com.sg</li>
                  <li><strong>Amendment to this Policy</strong>.  We may amend this Policy from time to time without notice to you, to comply with applicable laws or as we update our data usage and handling processes. The updated Policy will supersede earlier versions and will apply to personal data provided to us previously. The amended Policy will take effect when made available at <a href="www.moneyowl.com.sg">www.moneyowl.com.sg</a>.</li>
                  </ol> 
                </li>
              <li>
                <strong class="section--sub-title">Personal Data</strong>
                <ol>
                  <li>What personal data we collect. The Personal data we collect depends on the purposes for which we require the personal data and what you have chosen to provide. This may include your name, address, contact information (e.g. telephone number and email address), identification number, photograph, video image and any other information that may identify you or is personal to you.</li>
                  <li>
                    How we collect personal data. We collect personal data relevant to our relationship with you. We may collect your personal data directly or indirectly through various channels, including when:
                    <ul>
                      <li>you use our services or enter into transactions with us (or express interest in doing so);</li>
                      <li>you respond to our promotions, or subscribe to our mailing lists;</li> 
                      <li>you visit our websites, download or use our mobile applications;</li> 
                      <li>you register an account with us through our websites or applications;</li>  
                      <li>you contact us or request that we contact you through various communication channels, for example, through social media platforms, messenger platforms, face-to-face meetings, telephone calls, emails, fax and letters;</li> 
                      <li>your images are captured via photographs or videos taken by us or our representatives when you are within our premises or attend events organised by us;</li> 
                      <li>you participate in events and programs, competitions, contests or games organised by us;</li> 
                      <li>we seek information about you and receive your personal data in connection with your relationship with us, for example, if you are a job-seeker, investor or shareholder; or</li> 
                      <li>you submit your personal data to us for any other reason.</li> 
                      </ul>
                    Depending on your relationship with us, we may also collect your personal data from third parties, including:
                    <ul>
                      <li>from other organisations and social enterprises which are part of the NTUC Social Enterprise Group;</li>
                      <li>from your family members or friends who provide your personal data to us on your behalf; and</li>
                      <li>from public agencies or other public sources.</li>
                      </ul>
                      Our website and applications may also contain or involve certain technologies that automate the collection of data (including personal data). These technologies include cookies, web beacons and web analytics. If you do not wish to have your data collected through such technologies you may disable the operation of these technologies on your devices (where possible), or you may refrain from using our websites and applications. 
                    </li>
                    <li><strong>Voluntary provision of personal data.</strong>  Your provision of personal data to us is voluntary and you have the right to withdraw your consent for us to use your personal data at any time by contacting and submitting a request to us. Your withdrawal will take effect after your request is processed. However, if you choose not to provide us with the personal data we require, it may not be possible for us to fulfil the purposes for which we require the personal data, including providing products and services which you need from us.</li>
                    <li><strong>Providing personal data belonging to others.</strong> In certain circumstances, you may also provide the personal data of persons other than yourself (including your family members). If you do so, you are responsible for informing him / her of the purposes for which we require his/her personal data and warrant that you are validly acting on behalf of him / her to consent to our collection, use and disclosure of his / her personal data.</li>
                    <li><strong>Accuracy and Completeness of personal data.</strong>  You must ensure that all personal data that you provide is true, accurate and complete and promptly inform us of any changes to the personal data.</li>
                    <li><strong>Minor.</strong> If you are a child, minor or not of legal age, please inform and seek the consent of your parent or guardian, before you provide your personal data to us. If you are a parent or guardian and you have reason to believe your child or ward has provided us with their personal data without your consent, please contact us to request for erasure of their personal data.</li>
                  </ol>
                </li>
                <li>
                  <strong class="section--sub-title">Purposes</strong>
                  <ol>
                    <li>We collect, use and disclose your personal data where:
                      <ul>
                          <li>you have given us consent;</li>
                          <li>necessary to comply with our legal or regulatory obligations, e.g. anti-money laundering and “know your customer” checks;</li>
                          <li>necessary for our legitimate business interests, provided that this does not override your interests or rights; and/or</li>
                          <li>necessary to perform a contract or transaction you have entered into with us, or provide a service that you have requested or require from us.</li>
                        </ul>
                      </li>
                    <li>
                      <strong>General purposes.</strong>Generally, we collect, use and disclose your personal data for purposes connected or relevant to our business, including:
                      <ul>
                          <li>processing your transactions with us, or to provide products and services to you;</li>
                          <li>managing your relationship with us;</li>
                          <li>facilitating your use of our platforms and services;</li>	
                          <li>assisting you with your requests, enquiries and feedback;</li>
                          <li>administrative purposes, e.g. accounting, risk management and record keeping, business research, data, planning and statistical analysis, and staff training;</li>
                          <li>security and safety purposes, e.g. protecting our platforms from unauthorised access or usage and to monitor for security threats, and capturing of your image on security cameras;</li>
                          <li>carrying out research, data and statistical analysis;</li>
                          <li>compliance with laws and regulations, internal policies and procedures, e.g. audit, accounting, risk management and record keeping;</li>
                          <li>enforcing legal obligations owed to us, or responding to complaints, litigation or investigations concerning us;</li>
                          <li>managing and engaging third parties or data processors that provide services to us, e.g. IT services, data analytics, marketing, and other professional services;</li>
                          <li>such purposes that may be informed to you when your personal data is collected; </li>
                          <li>carrying out our legitimate business interests (listed below); and/or</li>
                          <li>any other reasonable purposes related to the aforesaid</li>                        
                        </ul>
                    </li>
                    <li>
                      <strong>Marketing purposes.</strong> If you have provided us with your consent, your personal data may be used for the purposes of marketing our products, events and services and those of our strategic partners and business associates (e.g. insurance companies, banks and financial institutions), and other organisations and enterprises which are part of the NTUC Social Enterprise Group. In order for us to market products, events and services which are of specific interest and relevance to you, we may analyse and rely on your personal data provided to us, or data collected from your interactions with us.<br/>
                      In the event that you would like to withdraw your consent given to us, please email the Data Protection Officer at the email address set out in paragraph 1.4, and we will process your request accordingly.
                      </li>
                    <li>
                      <strong>Legitimate business interests.</strong> Our legitimate business interests include:
                      <ul>
                          <li>managing our business and relationship with you, and  providing services to our users and customers;</li>
                          <li>protecting our rights and interests and those of our users and customers;</li>
                          <li>preventing and investigating possible misuse of our websites, applications and services;</li>
                          <li>understanding and responding to inquiries and feedback;</li>
                          <li>understanding how our users use our websites, applications and services;</li>
                          <li>identifying what our users want and improving our websites, applications, services and offerings;</li>
                          <li>enforcing obligations owed to us, or protecting ourselves from legal liability; and</li>
                          <li>sharing data in connection with acquisitions and transfers of our business.</li>
                        </ul>
                      </li>
                      <li>
                        <strong>Purposes involving NTUC Social Enterprise Group.</strong>  NTUC Enterprise has responsibility for the organisations and enterprises within the NTUC Social Enterprise Group. Some of our business and administrative functions are also served by NTUC Enterprise. For administrative efficiencies and to allow us to better serve your needs, your personal data may also be collected, used and disclosed to NTUC Enterprise and/or an organisation within the NTUC Social Enterprise Group for the following purposes:
                        <ul>
                            <li>faciliating the provision of centralised administrative and mangement services;</li>
                            <li>faciliating use of centralised resources e.g. shared information technology resources and systems;</li>
                            <li>faciliating internal audits, reporting and management of our operations; and/or</li>
                            <li>facilitaing the conduct of centralised business activities and functions e.g. data analytics.</li>
                          </ul>
                          If you have consented to be sent marketing communications for products, services and events of any organisation within the NTUC Social Enterprise Group, your personal data will only be used for the purposes of facilitating the marketing activites of such organisation, including joint marketing events and customer loyalty programmes.
                        </li>
                      <li>
                          <strong>Use permitted under applicable laws.</strong> We may also collect, use, disclose and process your personal data for other purposes, without your knowledge or consent, where this is required or permitted by law.
                        </li>
                      <li>
                          <strong>Contacting you.</strong> When using your personal data to contact you for the above purposes, we may contact you via email, e-mail, SMS, telephone, pop-up notifications (when you are using our applications), or any other means.<br/>
                          We will not contact you for marketing purposes unless with your consent, or we are exempted by applicable law from having to obtain consent. When contacting you for marketing purposes, we will not contact you through your telephone number, unless you have specifically consented to such a mode of communication. If you do not wish to receive any communication or information from us, or wish to restrict the manner by which we may contact or send you information, you may contact us to do so.
                        </li>
                    </ol>
                  </li>
                <li>
                  <strong class="section--sub-title">Disclosure of Personal Data</strong>
                  <ul>
                    <li>
                      Disclosure to NTUC Social Enterprise Group. We may disclose or share your personal data with NTUC Enterprise and/or the NTUC Social Enterprise Group for the purposes described in paragraph 3.5.
                      </li>
                    <li>
                      <strong>Other Disclosures.</strong> We may also disclose or share your personal data in connection with the purposes described in paragraphs 3.2, 3.3 and 3.4 above, including to the following parties:
                      <ul>
                          <li>third parties who are appointed to provide services to us, e.g., IT vendors, marketing companies and event organisers;</li>
                          <li>third parties that we conduct joint marketing and cross promotions with; and/or </li>
                          <li>regulatory authorities and public agencies.</li>
                        </ul>
                        When disclosing personal data to third parties, we will (where appropriate and required by applicable law) enter into contracts with these third parties to protect your personal data in a manner that is consistent with applicable laws and/or ensure that they only process your personal data in accordance with our instructions.
                      </li>
                    </ul>
                  </li>
                <li>
                  <strong class="section--sub-title">Cross Jurisdiction Transfers of Personal Data</strong>
                  <ol>
                    <li><strong>Safeguards.</strong> We may transfer your personal data out of Singapore for the purposes set out in paragraph 3 above. When transferring personal data outside Singapore, we will require recipients of the personal data to protect personal data at a standard comparable to that under the laws of Singapore. For example, we may enter into legally enforceable agreements with the recipients to ensure that they protect your personal data. You may obtain details of these safeguards by contacting us.</li>
                    </ol>
                  </li>
                <li>
                  <strong class="section--sub-title">Protection of Personal Data</strong>
                  <ol>
                    <li><strong>Period of retention.</strong> We keep your personal data only for so long as we need the data to fulfil the purposes we collected it for, and to satisfy our business and legal purposes, including audit, accounting or reporting requirements. How long we keep your personal data depends on the nature of the data, e.g. we keep personal data for at least the duration of the limitation period for bringing claims if the personal data may be required to commence or defend legal proceedings. Certain information may also be retained for longer, e.g. where we are required to do so by law. Typically, our data retention period is from 6 years upwards, depending on the limitation period.</li> 
                    <li><strong>Anonymised data.</strong>  In some circumstances we may anonymise your personal data so that it no longer identifies you, in which case we are entitled to retain and use such anonymised data without restriction, including for data analytics.</li>
                    <li><strong>Unauthorised access and vulnerabilities.</strong> While we take reasonable precautions to safeguard your personal data in our possession or under our control, we cannot be held responsible for unauthorised or unintended access that is beyond our control, including hacking or cybercrimes. We also do not guarantee that our websites and applications are invulnerable to security breaches, or that your use of our websites and applications is safe and protected from viruses, worms, Trojan horses, and other vulnerabilities.</li>
                    </ol>
                  </li>
                <li>
                  <strong class="section--sub-title">Your Rights</strong>
                  <ol>
                    <li>
                      You enjoy certain rights at law in relation to your personal data that we hold or control. These rights include:
                      <ul>
                        <li>Withdrawal of consent: you may withdraw consent for our use of your personal data.</li>
                        <li>Correction. you may request that any incomplete or inaccurate data that we hold or control be corrected.</li>
                        <li>Access. you may ask if we hold or control your personal data and if we are, you can request access or a copy of such data.</li>      
                        </ul>
                      </li>
                    <li>
                      <strong>Other rights.</strong>Depending on the laws applicable to you, you may also enjoy additional rights.  For example, if you are resident in the European Union, you may also enjoy certain additional rights, including: 
                      <ul>
                        <li><strong>Erasure:</strong> you may ask us to delete or remove personal data that we hold about you in certain circumstances. 
                        <li><strong>Restriction:</strong> you may withdraw consent for our use of your personal data, or ask us to suspend the processing of certain of your personal data about you, for example if you want us to establish its accuracy.
                        <li><strong>Portability:</strong> you may request the transfer of certain of your personal data to another party under certain conditions. 
                        <li><strong>Objection:</strong> where we are processing your personal data based on a legitimate interest (or those of a third party) you may object to processing on this ground.
                        </ul>
                      </li>
                    <li>
                      <strong>Exercising your rights.</strong> If you wish to exercise your rights, you may contact us to do so (see paragraph 1.4 above for contact details).We may require that you submit certain forms or provide certain information to process your request. Where permitted by law, we may charge you a fee to process your request. We may also be permitted under applicable laws to refuse a request.
                      </li>
                    <li>
                      <strong>Limitations.</strong>  We may be permitted under applicable laws to refuse your request to exercise your rights, for example, we may refuse (a) a request for erasure where the personal data is required for in connection with claims; or (b) an objection request and continue processing your personal data based on compelling legitimate grounds for the processing. 
                      </li>
                    </ol>  
                  </li>
              </ol>
        </div>
      </div>
      
    </div>