@import '../../../variables';
@import '../../../mixins';

.comprehensive {
  .dependant-title {
    font-size: 18px;
  }

  .dependant-desc {
    font-size: 16px;
    padding-bottom: 16px;
  }

  .form-group-with-bg--header-label {
    background: $white-color;
    color: $tuna-color;
    font-size: 18px;
    font-weight: 600;

    .age {
      color: $dusty-grey-color !important;
      font-size: 16px;
    }

  }

  .EducationPreferenceForm {
    border-radius: 6px;
  }

  .form-content {
    font-size: 16px;
    background-color: $black-squeeze-grey-color;
    color: $dark-teal-color;
    border: 1px solid $black-squeeze-grey-color;
  }

  .with-help-icon {
    display: flex;
    justify-content: space-between;
    position: relative;

    .help-icon {
      background: url("./../../../assets/images/tool-help-icon.svg") no-repeat;
      cursor: pointer;
      background-repeat: no-repeat;
      position: absolute;
      right: 0;
      top: 5px;
      width: 20px;
    }
  }

  .sharePercentFamily {
    border-top: 1px solid rgba(134, 205, 206, 0.3);
    margin-top: 10px;
    padding-top: 15px;

    .form-group-with-bg--content-label {
      color: $silver-grey-color !important;
    }
  }

  .with-input-style {
    background: $white-color;
    font-size: 16px;
    color: $teal-color;
    font-family: $muli-regular;
  }

  .percent-fix {
    color: $teal-color !important;
  }

}

.title-with-tooltip {
  @extend .flex;
  @extend .space-btwn;
  margin-bottom: 20px;

  .tooltip-icon {
    background: url("./../../../assets/images/comprehensive/tool-tip-white.svg");
    background-repeat: no-repeat;
    width: 20px;
    cursor: pointer;
    background-position: 0 2px;
  }
}
