<div class="app-acknowledgement">
  <div class="step-indicator-container">
    <div class="container-fluid">
      <app-step-indicator [count]="9" [activeStepIndex]="7"></app-step-indicator>
    </div>
  </div>
  <div class="container-fluid acknowledgement_text">
    <p id="ack-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lobortis, neque ac placerat tristique, arcu augue rhoncus nibh, sed sodales turpis orci at orci. Praesent ligula tellus, sollicitudin vel mollis vitae, scelerisque ac turpis. Curabitur sit amet quam accumsan risus pharetra auctor eget sed enim. 

        Cras erat velit, pulvinar non quam nec, dictum consequat enim. Phasellus ultrices tincidunt arcu, vitae maximus tellus sodales non. Nulla a lorem varius nulla tincidunt volutpat. Praesent eget arcu condimentum, auctor purus sed, porta risus. Pellentesque lacinia auctor mauris. Curabitur maximus velit at leo eleifend, eget euismod sapien placerat. Pellentesque hendrerit, tortor eget pellentesque cursus, magna est aliquam nibh, vel faucibus urna mi vel turpis. Integer in pharetra eros. Maecenas iaculis viverra interdum. Quisque sit amet placerat odio.
        
        In eu mi quis dui dictum aliquam ac ut nulla. Vestibulum sit amet lorem vestibulum, convallis nisl non, euismod tortor. Aliquam venenatis faucibus magna id posuere. Aliquam vel dui lacinia, semper orci sed, imperdiet dui. Integer laoreet consectetur orci, interdum fringilla velit aliquet convallis. Nullam eget feugiat turpis. Vestibulum convallis enim quis tellus facilisis tempus. Curabitur justo odio, maximus nec hendrerit nec, facilisis eu velit. Quisque condimentum dignissim augue sit amet condimentum.</p>
    <button type="button" id="ackBtn"  (click)="goToNext()" class="btn btn__footer--fixed btn-ftr-get-started btn-primary width100"
              id="getStrdBtn3">I Agree</button>
  </div>
  </div>
