<div class="app-acknowledgement">
  <div class="container-fluid max-width--1024 acknowledgement_text">
    <h2 class="acknowledgement-title hidden-sm-md">{{pageTitle}}</h2>
    <ol>
      <li class="text-bold">FUND MANAGEMENT SERVICE
        <ul class="list-none">
          <li>
            <div class="flex">
              <span>1.1</span>
              <span>Your use of our Fund Management Service is subject to you fulfilling the following criteria:</span>
            </div>
            <ul class="list-none inner-list">
              <li>
                <div class="flex">
                  <span>(a)</span>
                  <span>you have read and accepted our <a target="_blank" routerLink="/terms-of-use">terms of use</a>
                    and <a target="_blank" routerLink="/privacy-policy">terms and conditions & privacy
                      policy</a>;</span>
                </div>
              </li>
              <li>
                <div class="flex">
                  <span>(b)</span>
                  <span>you have completed the online or hardcopy application or registration form required by
                    us;</span>
                </div>
              </li>
              <li>
                <div class="flex">
                  <span>(c)</span>
                  <span>such other criteria as we may determine from time to time.</span>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <div class="flex">
              <span>1.2</span>
              <span>For the avoidance of doubt, we are not obliged to open any Investment Account for you.</span>
            </div>
          </li>
          <li>
            <div class="flex">
              <span>1.3</span>
              <span>The Investment Account which we grant to you belongs exclusively to you and is not transferable to
                any other
                person.
              </span>
            </div>
          </li>
        </ul>
      </li>
      <li class="text-bold">DISCRETIONARY PORTFOLIO MANAGEMENT
        <ul class="list-none">
          <li>
            <div class="flex">
              <span>2.1</span>
              <span>You agree and authorised MoneyOwl, as portfolio manager, with the <strong>discretionary
                  authority</strong>,
                including but not
                limited to deciding on the frequency, scope and methodology of rebalancing, to execute Transactions on
                behalf
                of you for the purpose of managing your investment.
                <strong>The discretionary authority shall include the rights of MoneyOwl to purchase, subscribe,
                  switch, sell and
                  redeem the shares, units of interests in securities (including but not limited to funds) in the
                  relevant
                  portfolio(s) as well as to decide on the appropriate actions or inactions with respect to each of the
                  corporate
                  actions of the underlying securities on your behalf. For the execution of such transactions, MoneyOwl
                  has
                  the discretion to deduct the relevant amount from your Cash Account.</strong>
              </span>
            </div>
          </li>
          <li>
            <div class="flex">
              <span>2.2</span>
              <span>With the discretionary authority given to us, you also give us the authority to accept the
                relevant documents
                (including but not limited to prospectus, product highlight sheet, offering documents) of the
                relevant
                securities on behalf of you.</span>
            </div>
          </li>
          <li>
            <div class="flex">
              <span>2.3</span>
              <span>In the event if you disagree with the fund switch or rebalancing of portfolio, you can choose
                to fully
                redeem your investments.</span>
            </div>
          </li>
          <li>
            <div class="flex">
              <span>2.4</span>
              <span>You understand the additional risks of giving us discretionary powers to manage your assets and
                investments
                on your behalf.</span>
            </div>
          </li>
          <li>
            <div class="flex">
              <span>2.5</span>
              <span>We may be required to conduct a review of your investment goals, investment knowledge and
                experience, risk
                appetite, financial situation, and particular needs before or while providing fund management
                services,
                opening of your investment account or to enter into transactions for your Investment Account. The
                Investment
                Experience and Needs Analysis may be recorded in such document as we may require from time to
                time.</span>
            </div>
          </li>
        </ul>
      </li>
      <li class="text-bold">YOUR MONIES
        <ul class="list-none">
          <li>
            <div class="flex">
              <span>3.1</span>
              <span>You will deposit your monies directly into a trust account as specified by us. We shall only accept
                monies
                received from a Singapore registered bank account belonging to you. If we are not satisfied that the
                monies
                deposited came from your Singapore registered bank account, we shall refund such monies to you, subject
                to
                applicable laws.</span>
            </div>
          </li>
          <li>
            <div class="flex">
              <span>3.2</span>
              <span>Your monies may be held in an omnibus customer trust account together with other customers
                monies.</span>
            </div>
          </li>
          <li>
            <div class="flex">
              <span>3.3</span>
              <span>We shall only pay monies to bank accounts belonging to you. We reserve the right to withhold
                such payments
                if we are not satisfied that the monies will be paid to bank accounts belonging to you.</span>
            </div>
          </li>
        </ul>
      </li>
      <li class="text-bold">PLATFORM PROVIDER AND CUSTODY
        <ul class="list-none">
          <label>MoneyOwl may work with our business partners to perform these functions:</label>
          <li>
            <div class="flex">
              <span>(a)</span>
              <span>Receive the monies that clients intend to invest, directly in our business partner’s Trust Account.
                Our
                Business Partner will also receive redemption proceeds from clients’ sales of investments. </span>
            </div>
          </li>
          <li>
            <div class="flex">
              <span>(b)</span>
              <span>Submit subscription and redemption orders for the funds with fund managers or primary dealer.
              </span>
            </div>
          </li>
          <li>
            <div class="flex">
              <span>(c)</span>
              <span>Inform clients of all trades done, including number of units of each indexed fund bought or sold,
                and the
                quantum of investments successfully subscribed or redeemed. Make the necessary refunds to clients
                within
                a certain industry standards time frame agreed upon. </span>
            </div>
          </li>
          <li>
            <div class="flex">
              <span>(d)</span>
              <span>Execute MoneyOwl’s instructions on rebalancing of portfolios and switching of instruments in the
                asset
                allocation-based portfolios. </span>
            </div>
          </li>
          <li>
            <div class="flex">
              <span>(e)</span>
              <span>Provide regular statements to each MoneyOwl client on investment holdings. For investments, this
                includes
                the number of units held in each indexed fund underlying the portfolio, the value of each holding
                (based
                on published prices of each underlying fund) and the aggregate value of the portfolio. </span>
            </div>
          </li>
          <li>
            <div class="flex">
              <span>(f)</span>
              <span> Collect, through deduction of units or separately, fees associated with investments.</span>
            </div>
          </li>
        </ul>
      </li>
      <li class="text-bold">JOINT ACCOUNTS
        <ul class="list-none">
          <li>
            <div class="flex">
              <span>5.1</span>
              <span>If an account is opened in the name of 2 persons, any of the persons named in
                 such Account is authorized to give orders provided that such person is above 18 years
                  of age.</span>
            </div>
          </li>
          <li>
            <div class="flex">
              <span>5.2</span>
              <span>The doctrine of survivorship shall apply to any account opened in the joint names 
                of more than one person. Accordingly, in the event of death of one person in a Joint
                 Account, the account will immediately vest in the surviving person. The surviving 
                 person shall indemnify us in respect of any claim which may be made against us as 
                 a result of complying with the surviving person’s instruction.</span>
            </div>
          </li>
          <li>
            <div class="flex">
              <span>5.3</span>
              <span>In the event of death of the main Account holder and the surviving Account
                 holder is a minor, we will act on the instructions of the legal guardian of the surviving minor,
                  provided the legal guardian agrees to indemnify us against any losses, damages and legal costs 
                  which may be incurred as a result of acting on the legal guardian’s instructions. In the absence of evidence to the contrary,
                 the minor’s natural parents will be considered as the legal guardian.</span>
            </div>
          </li>
          <li>
            <div class="flex">
              <span>5.4</span>
              <span>Investments made through Joint Accounts cannot be paid for using CPF or SRS
                 monies and must be only paid for in cash.</span>
            </div>
          </li>
        </ul>
      </li>
      <li class="text-bold">TRANSACTIONS
        <ul class="list-none">
          <li>
            <div class="flex">
              <span>6.1</span>
              <span>Where T is the transaction day:</span>
            </div>
            <div class="transaction-table">
              <div class="flex-row heading">
                <div class="flex-col-4 tansaction_label">Transaction Type</div>
                <div class="flex-col-8">
                  <div>Approximate turnaround time</div>
                </div>
              </div>
              <div class="flex-row">
                <div class="flex-col-4 tansaction_label">Investment Account Opening</div>
                <div class="flex-col-8">
                  <div>T business day for clients using MyInfo to complete online forms.</div>
                  <div>T+1 business days for clients not using MyInfo to complete online forms.</div>
                </div>
              </div>
              <div class="flex-row">
                <div class="flex-col-4 tansaction_label">For buy trades</div>
                <div class="flex-col-8">
                  <div>T business day for trades to be processed if custodian receives instruction before 3 pm.</div>
                  <div>(Please note, trades will be processed the next business day if custodian receives the
                    instruction later than 3 pm on T day.)</div>
                  <hr>
                  <div>T+2 business days for units to be priced.</div>
                  <hr>
                  <div>T+4 business days for units to be reflected in Investment Account.</div>
                </div>
              </div>
              <div class="flex-row">
                <div class="flex-col-4 tansaction_label">For sell trades (From investment portfolio)</div>
                <div class="flex-col-8">
                  <div>T+7 business days for redemption proceeds to be reflected in your Investment Cash Account.</div>
                  <hr>
                  <div>T+8 business days for redemption proceeds to be reflected in your bank account.</div>
                </div>
              </div>
              <div class="flex-row">
                <div class="flex-col-4 tansaction_label">For sell trades (From Investment Cash Account)</div>
                <div class="flex-col-8">
                  <div>T+2 business days for monies to be reflected in your bank account. </div>
                </div>
              </div>
            </div>
            <label class="italic">The turnaround time is assuming that there are sufficient monies in your Investment
              Cash Account.</label>
          </li>
          <li>
            <div class="flex">
              <span>6.2</span>
              <span>We do not allow for cancellation of submitted sell trades. </span>
            </div>
          </li>
          <li>
            <div class="flex">
              <span>6.3</span>
              <span>For submission of physical cheques, we will only trade upon successful clearance of cheque.</span>
            </div>
          </li>
          <li>
            <div class="flex">
              <span>6.4</span>
              <span>If your portfolio value is more than $50, the minimum redemption amount is $50. You can redeem the
                full portfolio amount if your portfolio value is less than $50.</span>
            </div>
          </li>
          <li>
            <div class="flex">
              <span>6.5</span>
              <span>You are required to maintain a minimum portfolio value of $50. You accept, should your portfolio balance be below that, that we might not rebalance your 
                portfolio to its strategic asset allocation upon rebalancing events.</span>
            </div>
          </li>
          <li>
            <div class="flex">
              <span>6.6</span>
              <span>We reserve the right to suspend and/or force-sell your investments due to applicable laws,
                regulations, directives, notices, circulars that the company has to comply with.</span>
            </div>
          </li>
        </ul>
      </li>
      <li class="text-bold">STATEMENTS
        <ul class="list-none">
          <li>
            <div class="flex">
              <span>7.1</span>
              <span>You acknowledge that no confirmation note/contract note will be provided for the securities
                transactions executed
                in our discretion. We shall inform you by delivering an ex-post notification of the transaction(s) into
                your
                inbox at the end of the month. If there are no transactions, we will provide you with quarterly
                statements.
              </span>
            </div>
          </li>
        </ul>
      </li>
      <li class="text-bold">ANNUAL FEES
        <ul class="list-none">
          <li>
            <div class="flex">
              <span>8.1</span>
              <span>The full range of fees that you have to pay is as follows:</span>
            </div>
            <ul class="list-none list-style">
              <li>
                <div class="flex">
                  <span class="disc"></span>
                  <span class="flex-col-8">MoneyOwl Advisory Fees</span>
                  <span class="flex-col-3">: 0.65%</span>
                </div>
              </li>
              <li>
                <div class="flex">
                  <span class="disc"></span>
                  <span class="flex-col-8">Platform fees (Payable to iFAST)</span>
                  <span class="flex-col-3">: 0.18%</span>
                </div>
              </li>
              <li>
                <div class="flex">
                  <span class="disc"></span>
                  <span class="flex-col-8">Fund expense ratio (Payable to Dimensional Fund Advisors)</span>
                  <span class="flex-col-3">: 0.2% to 0.4%</span>
                </div>
              </li>
            </ul>
          </li>
        </ul>
        <label class="italic">Please note that MoneyOwl Advisory Fees are subject to change.</label>
      </li>
      <li class="text-bold ">RISK DISCLOSURES RELATING TO SECURITIES
        <ul class="list-none">
          <li>
            <div class="flex">
              <span class="text-bold">9.1</span>
          <li class="pt0"><span class="text-bold">Credit Risk</span>
            <ul class="list-none">
              <li>
                <div class="flex">
                  <span>(a)</span>
                  <span>Your contractual counterparty or a third-party issuer, will be liable to you under the transaction. You should consider all risks associated with such counterparty or third-party issuer, including the counterparty's or issuer's financial standing.</span>
                </div>
              </li>
              <li>
                <div class="flex">
                  <span>(b)</span>
                  <span>In the event of insolvency of the issuer of a security or the counterparty to a transaction,
                    you
                    may
                    experience delay in liquidating your investment and may suffer losses, including a decline in the
                    value
                    of your investment. Furthermore, the insolvency of the issuer of a security or the counterparty to
                    a transaction may lead to positions being liquidated or closed out without your consent.</span>
                </div>
              </li>
            </ul>
          </li>
  </div>
  </li>
  <li>
    <div class="flex">
      <span class="text-bold">9.2</span>
  <li class="pt0"><span class="text-bold">Electronic Trading</span>
    <ul class="list-none">
      <li>
        <div class="flex">
          <span>(a)</span>
          <span>Trading facilities are supported by computer-based component systems for the order-routing,
            execution,
            matching, registration or clearing of trades. As with all facilities and computer systems, you
            will be exposed to risks associated with the systems including the failure of hardware and software,
            risks of any defect, deficiency or malfunction in, and /or any breakdown, disruption or failure
            of any telecommunications, computer or other electronic equipment or system associated with such
            electronic system, loss of data or information that may occur due to any cause whatsoever. The
            result of any system failure may be that your order is either not executed according to instructions
            or is not executed at all.</span>
        </div>
      </li>
      <li>
        <div class="flex">
          <span>(b)</span>
          <span>You should also be aware that the internet is not a completely reliable transmission medium and there may be delays in service provisions.
          </span>
        </div>
      </li>
    </ul>
  </li>
</div>
</li>
<li>
  <div class="flex">
    <span class="text-bold">9.3</span>
<li class="pt0"><span class="text-bold">Market Forces</span>
  <ul class="list-none">
    <li>
      <div class="flex">
        <span>(a)</span>
        <span>Your payments or receipts under a transaction will be linked to changes in the financial market or
          markets which the transaction is linked, and you will be exposed to price, currency exchange, interest
          rate or other volatility in that market. You may sustain substantial losses on the contract, trade,
          product or financial investment if the market conditions move against your positions. It is in
          your interest to fully understand the impact of market movements, the extent of profit or loss
          you would be exposed to when there is an upward or downward movement in the relevant rates, and
          the extent of loss if you have to liquidate a position if market conditions move against you. Your
          position may be liquidated at a loss, and you will be liable for any resulting deficit in your
          Investment Account with us.</span>
      </div>
    </li>
    <li>
      <div class="flex">
        <span>(b)</span>
        <span>The price and value of any investment in securities can fluctuate and may
           fall against your interest. An individual security may experience downward price movements and may become worthless. Any representation of
           past performance is not necessarily a guide to future performance.
        </span>
      </div>
    </li>
    <li>
      <div class="flex">
        <span>(c)</span>
        <span>Under certain market conditions, you may find it difficult to liquidate a position, to assess a fair
          price or assess risk exposure. This can happen, for example, where the market for a transaction
          is illiquid or where there is a failure in electronic or telecommunications systems, and where
          there is occurrence of a force majeure event (which shall include without limitation, any form
          of restriction, moratorium or suspension on trading imposed by an exchange, market or other authority
          regulating trading in the transactions). This could also happen for unlisted securities where there
          is no formal market for such securities and are often thinly traded.
        </span>
      </div>
    </li>
  </ul>
</li>
</div>
</li>
<li>
  <div class="flex">
    <span class="text-bold">9.4</span>
<li class="pt0"><span class="text-bold">Tax Risk</span>
  <ul class="list-none">
    <li>
      <div class="flex">
        <span>You should understand the tax implications prior to entering into any transactions. Different
          transactions
          may have different tax implications. Therefore, you should consult your tax adviser to understand the
          relevant tax considerations.
        </span>
      </div>
    </li>
  </ul>
</li>
</div>
</li>
<li >
  <div class="flex text-bold">
  <span class="text-bold">9.5</span>
<li class="pt0">
  <div class="flex">
    <span>The above statements do not disclose all risks and other significant aspects of any transaction. You should
      undertake such transaction only if you understand the nature of securities, including derivatives and
      the contracts which you are entering and the extent of your exposure to risks. You should consult with
      your own legal, tax and financial advisers before entering into any particular transaction.
    </span>
  </div>
</li>
</div>
</li>
</ul>
</li>
<li class="text-bold">You are not an undischarged bankrupt and have 
  not committed any act of bankruptcy within the past 12 months and no bankruptcy 
  order has been made against you or is pending against you during that period. You
   acknowledge that you are responsible for our own tax affairs and declare that you have 
   not committed or been convicted of any tax crimes. You consent us to obtain information 
   immediately from you upon reasonable request for the purpose of our compliance with the Notices
    and Guidelines on Prevention of Money Laundering and Countering the Financing of Terrorism. 
    If any information is found false or misleading, we may reject any of your application and/or
     instructions including but not limited to,
   any transactional-related activities.</li>

</ol>
<label class="text-bold pt10"> YOU SHALL BE TAKEN TO HAVE ACCEPTED THESE TERMS AND CONDITIONS BY ACKNOWLEDGING AND
  PROCEEDING. IF YOU DO NOT AGREE
  WITH THESE TERMS & CONDITIONS, PLEASE DO NOT PROCEED FURTHER.</label>
<button type="button" id="ackBtn" (click)="goNext()"
  class="btn btn__footer--fixed btn-ftr-get-started btn-primary width100"
  id="getStrdBtn3">{{ 'ACKNOWLEDGEMENT.AGREE' | translate}}</button>
</div>
</div>