@import '../../../../variables';
@import '../../../../mixins';

app-spinner {
  .spinner-div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 40px;
    padding: 0 25.5px;
    border-radius: 6px;
    margin-top: 2.5px;
    background-color: $crusta-orange-color;
    cursor: pointer;
    top: -4px;

    #mo_spinner {
      width: 24px;
      height: 24px;
      background-color: $crusta-orange-color;
    }
  }
}
